n8n_aa/dup_backups_20260530/WF4dup_BEFORE_seWmQPFQqIe60TkU.json
{"updatedAt":"2026-05-30T21:51:11.250Z","createdAt":"2026-05-30T21:51:11.250Z","id":"seWmQPFQqIe60TkU","name":"WF4 - Career selection NL/EN","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,624],"id":"8272e7dc-ec6d-440f-867b-3b96e9e6b0b3","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Prep top 3 data + build RPC body for Pull enriched T3\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst careers = trigger.top_3_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  top_3_careers: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,320],"id":"3bc84633-d425-4df7-9fac-52d423e7f44f","name":"Top 3 only"},{"parameters":{"url":"=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=*","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,320],"id":"de520df6-8d37-4912-8336-e53fbc2f1be2","name":"Pull enriched T3","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// n8n Function Node - Fast reordering for LLM consumption\n// No expensive formatting - LLMs handle mixed data formats well\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json.career_data || item.json;\n  \n  // Simple reordering - no array formatting or parsing\n  return {\n    json: {\n      // === PRIMARY INFORMATION ===\n      career_title: data.career_title,\n      overview: data.overview,\n      salary: data.salary,\n      company_size_type: data.company_size_type,\n      \n      // === CORE WORK DETAILS ===\n      typical_tasks: data.typical_tasks,\n      technical_skills: data.technical_skills,\n      soft_skills: data.soft_skills,\n      education_requirements: data.education_requirements,\n      \n      // === WORK ENVIRONMENT ===\n      work_schedule: data.work_schedule,\n      autonomy_vs_collaboration: data.autonomy_vs_collaboration,\n      client_interaction: data.client_interaction,\n      colleague_interaction: data.colleague_interaction,\n      \n      // === CAREER DEVELOPMENT ===\n      career_progression: data.career_progression,\n      motivational_factors: data.motivational_factors,\n      leadership_challenges: data.leadership_challenges,\n      \n      // === METADATA ===\n      id: data.id,\n      ai_impact_rating: data.ai_impact_rating,\n      created_at: data.created_at,\n      updated_at: data.updated_at\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,320],"id":"198c1088-1574-4b85-9dbe-8e20ead8c045","name":"t3 content order"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"top3_enriched_combined","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[672,320],"id":"9e2da11f-1d0d-41ee-b952-cb4413c8f209","name":"T3 enr. combined"},{"parameters":{"assignments":{"assignments":[{"id":"top_3_careers_prompt_assignment","name":"top_3_careers_prompt","value":"=# Hyper-Personalized Top 3 Careers Generator\n\nYou are Cairnly, creating personalized career insights. Tone: business casual, direct, honest. Connect everything to their actual happiness data, constraints, and patterns.\n\n---\n\n## Output Structure (Each Career):\n\n# [career_title] 'e.g. Program Manager'\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n\n## Overview\n[ONE or TWO sentences, max 35 words. Plain-English definition of the role for someone who has never heard the title. No fit, no trade-offs, no tasks.]\n\n## Why this role fits you\n[80-120 words. Build the fit from these signals, in this order of priority:\n1. Top values [3a] and how this role expresses them\n2. Pattern analysis — REQUIRED. The narrative MUST contain the literal phrase \"extends your X/10 [role name]\" OR \"avoids the Y/10 [role name] pattern\" at least once, where X and Y are the actual happiness scores from the sentiment log. Soft references like \"you're returning to\" or \"similar to your past\" do NOT satisfy this rule.\n3. Why this specific company size/type fits their stated preferences [2a, 2g, 3d] or constraints [1n]\n4. Sentiment quote, ONLY if substantive enough to add color beyond what 1–3 already say\nKeep to 2–4 sentence paragraphs.]\n\n## What you'll actually do\n[3-4 bullets, 70-90 words total. Pure tasks from typical_tasks, framed through the user's lens. Do NOT re-describe what the role is — Overview already did that.]\n\nEVERY bullet MUST start with a short bolded label (2-5 words) followed by a period and then the framed explanation. No exceptions.\n\n- **[Short task label]:** [task framed through their experience/skills]\n- **[Short task label]:** [task connected to what energizes them]\n- **[Short task label]:** [task that uses their specific background]\n\nExample:\n- **Write game design docs.** This draws on your Figma skills and board game design background.\n- **Run playtesting sessions.** Your direct communication style extracts honest feedback, not polite non-answers.\n\n## The Reality Check\n[2-4 bullets, 80-110 words total. Vary the count per career. Do not default to 4.]\n\n⚠ **[Challenge specific to THIS career].** [1-2 sentences]\n\nEVERY bullet MUST start with a bolded label (3-7 words) after the ⚠ symbol, followed by the explanation. If you write `⚠ Client feedback will test you regularly.` you have violated this rule. Correct form: `⚠ **Client feedback loops test you.** [explanation]`. No exceptions.\n\nEvery bullet must surface a risk specific to this career and this person. Before writing each one, ask: \"Could this exact bullet be pasted onto a different career?\" If yes, sharpen it or cut it.\n\nRules:\n- Lead with the risk most unique to this career's market, role, or path. Not a generic personality trait.\n- You may use ONE personality or development gap per career, and only when it sharpens a career-specific risk. Do NOT reuse the same personality flag across careers. If \"difficulty receiving feedback\" anchored career 1, use a different angle for careers 2 and 3.\n- Do NOT mention money, income variability, or time-to-stable-income here. That lives only in \"The practical stuff > Money\". The Reality Check covers behavioral, market, and role risks, not the salary timeline.\n- No false balance. If a career has only 2 real risks, write 2.\n\nExamples (each tied to a specific market or role, not a generic trait):\n- ⚠ **Directory fatigue is real.** The AI tools space is flooded with low-quality directories. Differentiation needs consistent, opinionated takes, which makes your \"Creative Storytelling\" strength the moat, not a nice-to-have.\n- ⚠ **Finance oversight is unavoidable.** You avoid \"finance-related work\" but boards require P&L review. Based on Strategic Finance (5/10), this is tolerable but not energizing.\n- ⚠ **Business development never stops.** You close this month and still need next quarter's pipeline. Discovery calls and founder networking are the job, alongside delivery.\n\n**Special cases:**\n- **If path_type is `freelance_fractional` or `founder`:** one bullet MUST cover the client acquisition or business development load, framed as a behavioral and workload reality. Do NOT frame it as income timing. This rule keys off `path_type` only. A `company_size_type` containing \"Boutique\" or \"Own Company\" does NOT trigger it. A boutique EMPLOYEE has no BD load; a fractional consultant DOES, regardless of whether their clients are boutiques or enterprises.\n- **If HIGH burnout risk:** lead with the burnout warning and adjust the bottom line.\n- **If recreates low pattern:** address it in \"Why this role fits you\", not here.\n\n## The practical stuff\n\n**Money:** [Salary range, or day rate / revenue model, in the region's currency.] [One sentence: does it hit their target bracket? For freelance_fractional or founder, this is also where income variability and realistic time-to-stable-income or build horizon belong.] Do not open with \"No salary data\". If there is no fixed salary, state the day-rate range or revenue model directly.\n\n**Schedule:** [Work schedule] [One sentence: work with constraints?]\n\n**Energy:** [Interaction level] [One sentence: match social energy?]\n\n**Growth:** [1 sentence on career_progression from enriched data. Where does this lead?]\n\n## How AI will impact this role\n[2-3 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Safe** (Low Impact): Role relies on physical dexterity, deep human empathy, or irreplaceable human accountability. AI is a reference tool at best. Think: skilled trades, emergency services, executive leadership, therapy.\n- **Augmented** (Moderate Impact): AI handles heavy lifting on data, research, and first drafts. The human becomes editor, strategist, and final decision-maker. Productivity rises significantly but the human remains essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **Transforming** (High Impact): The majority of the role's execution shifts to AI. The human must fundamentally retrain to manage AI agents rather than do the work directly. Role scope and headcount will shrink. Think: financial analysis, marketing execution, QA testing, mid-level project management.\n- **At Risk** (Severe Impact): The core deliverables of this role can be fully automated by agentic AI with higher speed, accuracy, and lower cost. Remaining human involvement is supervisory at best. Think: data entry, basic customer support, standard reporting, routine translation, first-line content writing.\n\n## Alignment with your ambitions\n[40-60 words: Does this align with their trajectory? What's the catch? Be honest.]\n\nExample: \"This extends your 9/10 happiness model. Main obstacle: building 3-5 board seats requires networking you historically avoid.\"\n\n**More details about this role can be viewed in your dashboard after this chat.**\n\n## Comparison Data\n\nAs the LAST thing in each career (after the \"More details...\" line, before the career split), output one fenced ```json code block. The platform reads this to render a visual comparison and a written explanation — it is never shown to the candidate as raw text. Always include it.\n\n### fit_scores — every career\n\nRate THIS career from 1 to 5 on each axis. The score is FIT FOR THIS CANDIDATE — 5 = excellent fit, 1 = poor fit — judged against their Initial Summary (values, constraints, energy, work preferences, sentiment log):\n\n- **autonomy** — does the role's independence match their need for autonomy?\n- **social** — does the people and interaction load sit within their social energy? (5 = comfortably within their limit, 1 = will drain them)\n- **pace** — does the pace and pressure match their stress tolerance? (5 = comfortable, 1 = high-pressure mismatch)\n- **stability** — does the income and path stability match their security needs and stated constraints?\n- **schedule** — does the working schedule match their work-life-balance needs?\n\nScore all three careers on ONE consistent scale — they are generated together, so a 4 on \"social\" must mean the same thing across all three.\n\n### comparison — career 2 and career 3 ONLY\n\nCareer 1 omits this entirely (the candidate has not seen the other careers yet). Career 2 compares to career 1. Career 3 compares to careers 1 and 2.\n\n- **headline** — one sentence naming the single biggest way THIS career differs from the earlier one(s). Direct, no hedging.\n- **explanation** — 120 to 170 words, one or two short paragraphs. Walk the candidate through how this career genuinely differs and what that means for them. Ground it in the axes where the fit scores differ most — those are the real differences. Shown when they ask to compare, so write it as a direct, helpful reply, same voice and Writing Rules as the rest of the output.\n\n### Format\n\nCareer 1:\n```json\n{\"fit_scores\":{\"autonomy\":5,\"social\":5,\"pace\":5,\"stability\":2,\"schedule\":4}}\n```\n\nCareer 2 and Career 3:\n```json\n{\"fit_scores\":{\"autonomy\":4,\"social\":2,\"pace\":2,\"stability\":4,\"schedule\":4},\"comparison\":{\"headline\":\"One-sentence main difference.\",\"explanation\":\"Full 120-170 word explanation here.\"}}\n```\n\nOutput valid JSON only inside the block — no comments, no trailing commas. This block does not count toward the per-career word target.\n\n---CAREER_SPLIT---\n\n## Path Type Framing (Critical for honesty)\n\nEach enriched career has a `path_type` field: `employee`, `freelance_fractional`, or `founder`. Some legacy careers may have `null` or `\"N/A\"` — treat those as `employee`.\n\nThe path_type fundamentally shapes how the candidate must approach this career. Adjust framing accordingly:\n\n**employee** — applying for a role at someone else's company.\n- \"What you'll actually do\" describes role-defined responsibilities\n- \"The practical stuff → Schedule\" is the company's standard expectation\n- \"Alignment with your ambitions\" describes typical next titles or growth paths\n\n**freelance_fractional** — independent contractor, fractional exec, advisor, board member.\n- \"What you'll actually do\" includes pipeline, contracting, and self-marketing alongside delivery\n- \"The practical stuff → Money\" notes income variability and time-to-stable-income\n- \"The Reality Check\" must include a client acquisition or business development bullet, framed as a behavioral and workload reality. Do NOT put income variability here. That belongs in Money.\n\n**founder** — starting a company or solo practice with capital and time risk.\n- \"What you'll actually do\" includes selling, hiring, financing, and building product/service alongside doing the work\n- \"The practical stuff → Money\" must mention 1-3 year build horizon and validation period before stable income\n- \"The Reality Check\" must include capital risk and the \"validate before quitting\" reality, framed as a risk-tolerance and decision question. Keep the build-horizon timeline itself in Money, not here.\n- \"Alignment with your ambitions\" describes scaling, exiting, or evolving the model — not climbing a ladder\n\nUse the `path_type_notes` field from the enriched career as the source of truth for path-specific honesty (income horizons, validation requirements). Quote or paraphrase it where natural rather than inventing framing.\n\n## Writing Rules:\n\n**Tone:**\n- Direct: \"This gives you X\" not \"provides an opportunity\"\n- No hedging: \"You'll struggle with Y\" not \"might present challenges\"\n- Short paragraphs (2-4 sentences)\n- adhere to the would limit restrictions! 500-600 words total per career!\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Checkmarks ✓ and warning ⚠ symbols in bold!\n* if using bulletpoints, make the bullet lable bold for readability and emphasis \n\n**Avoid:**\n- Flattery: valuable, impressive, exceptional, unique, perfect\n- Corporate: serves you well, positions you, meaningful impact, leverage\n- Qualifiers: \"The fact that...\", \"It's worth noting...\"\n- Mixing currencies. Stick with the regions currency, consistently!\n- Em-dashes (—). NEVER use em-dashes in output. Use commas, periods, colons, parentheses, or sentence breaks instead. This applies to every section.\n\n**Required connections (every career):**\n- 1+ sentiment log [1k] reference, treated as supporting evidence — not the spine of the section\n- Quote the candidate's comment verbatim ONLY when it carries specific meaning (a phrase, a reason, an emotion). If the comment is generic or one word, paraphrase or skip the quote and lean on score + pattern instead.\n- Never quote a bare score in isolation. A score must always be paired with either (a) the candidate's comment, (b) an extend/recreate pattern, or (c) a constraint or value.\n- Top values [3a]\n- 1+ constraint [1n] or preference [2a, 2g, 3d]\n- 1 development gap from Personality Analysis\n- Pattern analysis (extend/recreate)\n- Compatibility score always in XX/100 e.g. 92/100 format!\n\n**Target: 500-600 words per career**\n\n---\n\n## Inputs:\n\n**CAI Score Analysis (incl compatibility score):**\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.top_3_careers) }}\n\n**Top 3 Enriched Careers:**\n{{ JSON.stringify($json.top3_enriched_combined) }}\n\n**Initial Summary:**\n{{ $('When Executed by Another Workflow').first().json.init_summary_content }}\n\n\n---\n\nGenerate all 3 careers now. Use \"---CAREER_SPLIT---\" between (not before first or after last).","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,320],"id":"0543a3cd-fd28-4929-ba2b-9bdaa39368fd","name":"T3 Careers Prompt"},{"parameters":{"promptType":"define","text":"={{ $json.top_3_careers_prompt }}","batching":{}},"id":"2cd75cb0-f79a-4b43-b9b4-f4bbb0a69abe","name":"Top 3 Careers Generator","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,320]},{"parameters":{"jsCode":"// Get the input text\nconst fullText = $json.text;\n// Get report_id from trigger\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\n\n// Subheaders to convert to h5 tags (must match ACTUAL AI output headers)\nconst CAREER_SUBHEADERS = [\n  \"Overview\",\n  \"Why this role fits you\",\n  \"What you'll actually do\",\n  \"The Reality Check\",\n  \"The practical stuff\",\n  \"How AI will impact this role\",\n  \"Alignment with your ambitions\"\n];\n\n// Pull the machine-readable comparison JSON out of a career chunk.\n// The model appends it as a fenced ```json block, last thing in the career.\n// Returns { metadata, cleanedText }. On ANY failure metadata is null, so a\n// missing or malformed block degrades gracefully and never breaks the report.\nfunction extractMetadata(careerText) {\n  let raw = null;\n  let matchedBlock = null;\n\n  // Preferred: a fenced code block (```json ... ``` or ``` ... ```).\n  // Take the LAST one — the comparison block is the last thing in the career.\n  const fenceRegex = /```(?:json)?\\s*([\\s\\S]*?)```/gi;\n  let m;\n  while ((m = fenceRegex.exec(careerText)) !== null) {\n    raw = m[1];\n    matchedBlock = m[0];\n  }\n\n  // Fallback: a bare { ... } span (model dropped the fence).\n  if (raw === null) {\n    const bm = careerText.match(/\\{[\\s\\S]*\\}/);\n    if (bm) {\n      raw = bm[0];\n      matchedBlock = bm[0];\n    }\n  }\n\n  if (raw === null) {\n    return { metadata: null, cleanedText: careerText };\n  }\n\n  let metadata = null;\n  try {\n    metadata = JSON.parse(raw.trim());\n  } catch (e) {\n    metadata = null;\n  }\n\n  const cleanedText = careerText.replace(matchedBlock, '').trim();\n  return { metadata, cleanedText };\n}\n\n// Function to convert subheaders to h5 tags\nfunction formatSubheaders(content) {\n  let formatted = content;\n\n  // Convert ## headers to h5 tags\n  formatted = formatted.replace(/^## (.+)$/gm, '<h5>$1</h5>');\n\n  // Also convert bold-only subheaders from the predefined list\n  CAREER_SUBHEADERS.forEach(subheader => {\n    const regex = new RegExp(`(^|\\\\n)\\\\*\\\\*${subheader}\\\\*\\\\*:?\\\\s*`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n\n  // Clean up any leftover markdown bold markers\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '$1');\n\n  return formatted.trim();\n}\n\n// Function to extract career metadata and clean content\nfunction parseCareer(careerText) {\n  const lines = careerText.trim().split('\\n');\n  let title = '';\n  let alternateTitles = '';\n  let companySizeType = '';\n  let score = null;\n  let contentStartIndex = 0;\n\n  // Parse first few lines for metadata\n  for (let i = 0; i < Math.min(15, lines.length); i++) {\n    const line = lines[i].trim();\n\n    // Extract title - ONLY single # (career title), not ## (subheaders)\n    if (line.match(/^# [^#]/) ) {\n      title = line.replace(/^# /, '').trim();\n      contentStartIndex = i + 1;\n    } else if (line.match(/^-?\\s*Title:/i)) {\n      title = line.replace(/^-?\\s*Title:\\s*/i, '').trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n\n    // Extract alternate titles\n    if (line.match(/^\\*\\*Alternative titles:\\*\\*/i) || line.match(/^-?\\s*\\*?Alternate titles:/i)) {\n      const altMatch = line.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n      if (altMatch) {\n        alternateTitles = altMatch[1].trim();\n        companySizeType = altMatch[2].trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      } else {\n        alternateTitles = line\n          .replace(/^-?\\s*\\*?\\*?Alternative titles:\\*?\\*?\\s*/i, '')\n          .replace(/^-?\\s*\\*?Alternate titles:\\*?\\s*/i, '')\n          .replace(/\\*/g, '')\n          .trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      }\n    }\n\n    // Extract company size - standalone \"At:\" line\n    if (line.match(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i) && !line.match(/Alternative titles/i)) {\n      companySizeType = line\n        .replace(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i, '')\n        .replace(/\\*\\*/g, '')\n        .trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n\n    // Extract compatibility score\n    const scoreMatch = line.match(/\\*?\\*?Compatibility score:\\s*(\\d+)\\/100\\*?\\*?/i);\n    if (scoreMatch) {\n      score = parseInt(scoreMatch[1], 10);\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n  }\n\n  // Skip empty lines after metadata\n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n\n  // Get remaining content and format subheaders\n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatSubheaders(rawContent);\n\n  return {\n    title: `<h3><strong>${title || 'Career Option'}</strong></h3>`,\n    alternate_titles: alternateTitles ? `<strong>Alternate titles:</strong> ${alternateTitles}` : '',\n    company_size_type: companySizeType ? `<h4><strong>${companySizeType}</strong></h4>` : '',\n    content: formattedContent,\n    score: score\n  };\n}\n\n// Split by separator\nconst splitCareers = fullText.split('---CAREER_SPLIT---');\n\n// Validate we have 3 parts\nif (splitCareers.length !== 3) {\n  throw new Error(`Expected 3 careers but found ${splitCareers.length}`);\n}\n\n// Pull the comparison JSON out of each chunk BEFORE parsing the prose,\n// so the raw JSON never lands in the rendered content.\nconst meta1 = extractMetadata(splitCareers[0]);\nconst meta2 = extractMetadata(splitCareers[1]);\nconst meta3 = extractMetadata(splitCareers[2]);\n\n// Parse each career from the cleaned (JSON-stripped) text\nconst career1 = parseCareer(meta1.cleanedText);\nconst career2 = parseCareer(meta2.cleanedText);\nconst career3 = parseCareer(meta3.cleanedText);\n\n// Map to structured output with all required fields.\n// `metadata` is picked up automatically by the autoMap Supabase insert.\nreturn [\n  {\n    json: {\n      title: career1.title,\n      alternate_titles: career1.alternate_titles,\n      company_size_type: career1.company_size_type,\n      content: career1.content,\n      score: career1.score,\n      metadata: meta1.metadata,\n      report_id: reportId,\n      section_type: \"top_career_1\",\n      order_number: 1\n    }\n  },\n  {\n    json: {\n      title: career2.title,\n      alternate_titles: career2.alternate_titles,\n      company_size_type: career2.company_size_type,\n      content: career2.content,\n      score: career2.score,\n      metadata: meta2.metadata,\n      report_id: reportId,\n      section_type: \"top_career_2\",\n      order_number: 2\n    }\n  },\n  {\n    json: {\n      title: career3.title,\n      alternate_titles: career3.alternate_titles,\n      company_size_type: career3.company_size_type,\n      content: career3.content,\n      score: career3.score,\n      metadata: meta3.metadata,\n      report_id: reportId,\n      section_type: \"top_career_3\",\n      order_number: 3\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,320],"id":"a8b60d92-97e1-4a7e-911d-3db2623f0198","name":"Split Top3"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1696,320],"id":"31205f90-595b-4875-b31a-44c19192b642","name":"Insert Top 3","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Prep runner up data + build RPC body for Pull Runner up\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst careers = trigger.runner_up_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  runner_up: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,624],"id":"122022e0-92c2-4f85-be97-e15f8041a485","name":"4-10 only"},{"parameters":{"url":"=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=*","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,624],"id":"40a9382b-63fa-4f84-ab79-bab144ade1e3","name":"Pull Runner up","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Combine all items into one item\nconst allItems = $input.all();\nconst allCareers = allItems.map(item => item.json);\n\nreturn [{ \n  json: { \n    allCareers: allCareers,\n    careerCount: allCareers.length \n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,624],"id":"1f86ac80-2bd4-42a4-b864-0fcd33839202","name":"Combine runners"},{"parameters":{"assignments":{"assignments":[{"id":"runner_up_prompt_assignment","name":"=runner_up_prompt","value":"=# Runner-Up Careers Generator\n\nYou are Cairnly, presenting alternative career options beyond the top 3. These scored 55+ but didn't make the final cut. Be concise and help them understand what's appealing and what the trade-offs are.\n\n---\n\n## Output Structure (Each Career):\n\n# [Career Title]\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n## Overview\n\n[25-40 words. Plain-English description of what this role actually is and does day to day — written so a reader who has never heard the job title immediately understands it. Base it on the `overview` field in the enriched career data; rephrase for clarity and brevity, do not quote verbatim. Just what the role IS — no fit or trade-offs here.]\n\n## Why this role fits you\n\n[60-80 words MAX, 1-2 short paragraphs. Assume the reader now knows what the role is from the Overview — do not re-describe the job here.]\n- What's appealing about this role and why it suits their profile\n- Why it's not Top 3 (be specific about the gap)\n\n## What works for you\n\n[3 bullets, 50-60 words total]\n\n✓ **[Benefit].** [1 sentence tied to their data]\n\n## The Reality Check\n\n[3 bullets, 50-60 words total]\n\n⚠ **[Concern].** [1 sentence]\n\n## The practical stuff\n\n**Money:** [Range - estimate if not in data]\n\n**Schedule:** [Type]\n\n**Energy:** [Interaction level]\n\n## How AI will impact this role\n[1-2 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Safe** (Low Impact): Role relies on physical dexterity, deep human empathy, or irreplaceable human accountability. AI is a reference tool at best. Think: skilled trades, emergency services, executive leadership, therapy.\n- **Augmented** (Moderate Impact): AI handles heavy lifting on data, research, and first drafts. The human becomes editor, strategist, and final decision-maker. Productivity rises significantly but the human remains essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **Transforming** (High Impact): The majority of the role's execution shifts to AI. The human must fundamentally retrain to manage AI agents rather than do the work directly. Role scope and headcount will shrink. Think: financial analysis, marketing execution, QA testing, mid-level project management.\n- **At Risk** (Severe Impact): The core deliverables of this role can be fully automated by agentic AI with higher speed, accuracy, and lower cost. Remaining human involvement is supervisory at best. Think: data entry, basic customer support, standard reporting, routine translation, first-line content writing.\n\n**More details in your dashboard.**\n\n---CAREER_SPLIT---\n\n---\n\n## Path Type Framing\n\nEach career has a `path_type`: `employee`, `freelance_fractional`, or `founder`. Treat `null` or `\"N/A\"` as `employee`.\n\nIn the compact runner-up format:\n- For `freelance_fractional`: ensure one bullet in \"Reality Check\" addresses income variability or client acquisition\n- For `founder`: ensure one bullet in \"Reality Check\" addresses capital horizon and validation reality (use `path_type_notes` as source)\n- For `employee`: standard framing\n\nThe path_type already shapes the enriched data (typical_tasks, leadership_challenges, career_progression). Let those flow through naturally — no need to over-explain in the compact format.\n\n## Critical Rules:\n\n**LENGTH LIMITS (STRICT):**\n- \"Why this role fits you\": 60-80 words MAX\n- \"What works for you\": 50-60 words (3 short bullets)\n- \"The Reality Check\": 50-60 words (3 short bullets)\n- \"The practical stuff\": 30-40 words\n- \"How AI will impact this role\": 15-20 words\n- **Total per career: 200-250 words MAXIMUM**\n\nIf running long, cut adjectives. Be terse.\n\n**MISSING DATA:**\n- If salary missing: provide estimate with \"(estimated)\"\n- If AI impact missing: assess based on role type\n- Never write \"not specified\" or \"data not available\"\n\n**TONE:**\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Shorter than Top 3 (these are backups)\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n\n**PERSONAL CONNECTIONS:**\n- Reference sentiment log if relevant\n- Cite constraints or values\n- Note why not Top 3 specifically\n- Across the runner-up careers, do not lean on the same personality gap or constraint as the lead concern each time. Vary which gap each Reality Check draws on.\n\n**FORMAT:**\n- Use exact headers shown above\n- Compatibility score always in XX/100 e.g. 92/100 format!\n- Use ✓ for benefits, ⚠ for concerns, make these bold\n* if using bulletpoints, make the bullet lable bold for readability and emphasis \n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Use ---CAREER_SPLIT--- between careers\n- Output plain markdown (not JSON)\n\n---\n\n## Examples:\n\n**Good \"Why this role fits you\" (70 words):**\n\"This extends your 9/10 advisory pattern into facilitation work - expertise delivered in bursts, then solo planning time. But it didn't make Top 3 because building a practice requires the sales work you avoid. Project-based income creates uncertainty you can't afford with young children.\"\n\n**Good bullet (15-20 words):**\n✓ **Matches your energy pattern.** Intense 2-3 day sessions followed by solo recovery time.\n\n⚠ **Sales is unavoidable.** Building clients requires networking you historically avoid.\n\n---\n\n## Inputs:\n\n**Runner-Up Careers (with compatibility_scores and patterns):**\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.runner_up_careers) }}\n\n**Enriched Career Data:**\n{{ JSON.stringify($json.allCareers) }}\n\n**Initial Summary (sentiment log [1k], constraints [1n], values [3a]):**\n{{ $('When Executed by Another Workflow').first().json.init_summary_content }}\n\n---\n\nGenerate all runner-up analyses. Use ---CAREER_SPLIT--- between careers (not before first or after last). Output markdown only.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,624],"id":"fd8e03ae-b234-411b-a637-377b6e5b661d","name":"Set Runner Up Prompt"},{"parameters":{"promptType":"define","text":"={{ $json.runner_up_prompt }}","batching":{}},"id":"d92dfe34-c58e-4142-b4d4-c1ccc61dc9f8","name":"Runner Up Analysis","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,624]},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[384,1680],"id":"0f811083-0b01-4779-9de1-331f668fe5b1","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"gGM2sOHB72WgN7UU","name":"OpenRouter account 2"}}},{"parameters":{"jsCode":"// Parse Runner-Up Careers (Markdown format with CAREER_SPLIT delimiter)\nconst input = $input.first().json.text;\n\n// Get report_id from the same node that Split Top3 uses\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\n\n// Split by the delimiter\nconst careerBlocks = input.split('---CAREER_SPLIT---').map(block => block.trim()).filter(Boolean);\n\nconst results = careerBlocks.map((block, index) => {\n  // Extract career title (first # heading, not ## subheaders)\n  const titleMatch = block.match(/^# ([^#].+)$/m);\n  const career_title = titleMatch ? titleMatch[1].trim() : `Career ${index + 1}`;\n\n  // Extract alternative titles and company size\n  const altTitlesMatch = block.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n  const alternate_titles = altTitlesMatch ? altTitlesMatch[1].trim() : '';\n  const company_size_type = altTitlesMatch ? altTitlesMatch[2].trim() : '';\n\n  // Extract compatibility score\n  const scoreMatch = block.match(/\\*\\*Compatibility score: (\\d+)\\/100\\*\\*/);\n  const score = scoreMatch ? parseInt(scoreMatch[1], 10) : null;\n\n  // Extract sections by headers (aligned with top 3 headers)\n  const overviewMatch = block.match(/## Overview\\s+([\\s\\S]*?)(?=## Why this role fits you|$)/);\n  const whyMatch = block.match(/## Why this role fits you\\s+([\\s\\S]*?)(?=## What works for you|$)/);\n  const worksMatch = block.match(/## What works for you\\s+([\\s\\S]*?)(?=## The Reality Check|$)/);\n  const realityMatch = block.match(/## The Reality Check\\s+([\\s\\S]*?)(?=## The practical stuff|$)/);\n  const practicalMatch = block.match(/## The practical stuff\\s+([\\s\\S]*?)(?=## How AI will impact this role|$)/);\n  const aiMatch = block.match(/## How AI will impact this role\\s+([\\s\\S]*?)(?=\\*\\*More details|$)/);\n\n  // Build the full content from sections\n  const sections = [\n    overviewMatch ? `<h5>Overview</h5>\\n\\n${overviewMatch[1].trim()}` : '',\n    whyMatch ? `<h5>Why this role fits you</h5>\\n\\n${whyMatch[1].trim()}` : '',\n    worksMatch ? `<h5>What works for you</h5>\\n\\n${worksMatch[1].trim()}` : '',\n    realityMatch ? `<h5>The Reality Check</h5>\\n\\n${realityMatch[1].trim()}` : '',\n    practicalMatch ? `<h5>The practical stuff</h5>\\n\\n${practicalMatch[1].trim()}` : '',\n    aiMatch ? `<h5>How AI will impact this role</h5>\\n\\n${aiMatch[1].trim()}` : ''\n  ].filter(Boolean).join('\\n\\n');\n\n  // Return one item per career (matches report_sections table structure)\n  return {\n    json: {\n      title: `<h3><strong>${career_title}</strong></h3>`,\n      alternate_titles: alternate_titles ? `<strong>Alternate titles:</strong> ${alternate_titles}` : '',\n      company_size_type: company_size_type ? `<h4><strong>${company_size_type}</strong></h4>` : '',\n      content: sections,\n      score: score,\n      report_id: reportId,\n      section_type: \"runner_ups\",\n      order_number: index + 1\n    }\n  };\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,624],"id":"6e8e1b2c-b238-4d16-b0e8-f3a3451929a6","name":"Parse runner up"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1696,624],"id":"1f954c89-a292-4c95-b619-07bffec45458","name":"Insert Runner Ups","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Prepare data for Dream Job Feasibility prompt\nconst trigger = $('When Executed by Another Workflow').first().json;\nreturn [{\n  json: {\n    'Top 3 careers': trigger.top_3_careers_str,\n    'Runner up careers': trigger.runner_up_careers_str,\n    'Outside box careers': trigger.outside_box_careers_str\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,928],"id":"967c19be-18a5-47c8-9b3f-5e3381045b30","name":"Dream prep"},{"parameters":{"promptType":"define","text":"=# ROLE\nYou are an expert career strategist specializing in \"The Bridge Pivot\"—evaluating the feasibility of unconventional dream jobs for professionals while maintaining their professional seniority and financial viability.\n\n# TASK\nAnalyze the feasibility of the candidate's Dream Job(s) as listed in the \"Career Goals & Aspirations\" section of Input 1. You must provide a balanced analysis that respects the dream while being intellectually honest about the \"Executive Reality.\"\n\n## ANALYSIS DIMENSIONS\n1. **Personality Suitability:** Does the dream job align with their 4-point scales (2a, 2g, 5f) and social energy profile?\n2. **The \"Executive Pivot\" Suggestion:** Instead of just analyzing the entry-level dream, suggest how they could leverage their 14+ years of experience within that field (e.g., instead of just \"Yoga Instructor,\" suggest \"Founder of a Boutique Wellness Studio Chain\").\n3. **Regional & Future Context:** Specifically consider the 2026 economic landscape of Northern and Western Europe (e.g., Netherlands, Germany, Scandinavia) including AI's impact and regional salary trends.\n4. **Path Type Reality:** Identify whether the dream job (or its Executive Version) is realistically an employee role, independent practice (freelance/fractional), or a founder path. Each carries different realities — founder paths require capital and 1-3 year builds; freelance demands client acquisition; employee paths depend on hiring cycles. The \"Steps for Pursuing This Role\" section must reflect the real path type, not generic career steps.\n\n**TONE:**\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Active voice, second person. Use 'you' and occasionally their name to adress them!\n\n# CRITICAL FORMATTING REQUIREMENTS\n- If there are multiple dream jobs, separate each job analysis with: ---DREAM_JOB_SPLIT---\n- Start directly with the first job title using the ## header.\n- **Strictly DO NOT use the em dash (—)** in your narrative. Use colons, commas, or parentheses instead.\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Keep bullets to a maximum of 3 per section for scannability.\n- No intro or outro: start with the first Title immediately.\n\n# OUTPUT FORMAT\n\n## [Dream Job Title]\n\n**Overview**\n[A conversational 2-sentence intro explaining why this dream resonates with their profile, written as if speaking directly to a peer.]\n\n**Feasibility Rating**\n**[Rating]**: [One-sentence \"Bottom Line\" reason for this rating.]\n\nThe rating must be exactly one of these five labels, copied verbatim, with the WHOLE rating in bold (including both words of a hyphenated range): **Low** | **Low - Moderate** | **Moderate** | **Moderate - High** | **High**. Follow it with a colon, a space, and the one-sentence reason.\nCorrect: **Low - Moderate**: Acting as a profession needs a long runway before stable income.\nWrong: \"**Low** - Moderate: ...\" (only half bold), or \"Low - Moderate: ...\" (not bold at all).\n\n**Personality & Energy Fit**\n- [Bullet 1: Alignment with Social Energy (2a) and Stress Response (2i)]\n- [Bullet 2: Alignment with Work Style (2g) and Deadline Approach (5f)]\n- [Bullet 3: Impact on burnout recovery vs. their natural \"Competence Trap\"]\n\n**The \"Executive Version\" Suggestion**\n- [Bullet 1: Suggest a specific role in this field that utilizes their current seniority (e.g. Director, Owner, Strategist)]\n- [Bullet 2: Explain how this version solves the \"Low Salary\" or \"Low Intellectual Stimulus\" risk of the base dream job]\n- [Bullet 3: Note if this executive version already appeared in their Top 15 or OTB lists for validation]\n\n**Industry Outlook & Regional Trends**\n- [Bullet 1: 2026 salary expectations in Northern/Western Europe for this specific field]\n- [Bullet 2: AI Impact: Describe how AI is transforming or protecting this role (Human-centric vs. Automated)] - see below\n- [Bullet 3: Regional demand or barriers in Europe (e.g. certifications, linguistic needs, or market saturation)]\n\n**Steps for Pursuing This Role**\n- [Bullet 1: Immediate low-stakes action to \"test\" the dream job]\n- [Bullet 2: Critical certification or education required in the European market]\n- [Bullet 3: A \"Portfolio Career\" suggestion to bridge the financial gap during transition]\n\n*Heads-up: [Only include if the base dream job salary is significantly lower than their target range.]*\n\n---DREAM_JOB_SPLIT---\n\n\n# INPUTS\n1. Where to extract the dreamjob(s)\n{{ $('When Executed by Another Workflow').first().json.interests_history_text }}\n2. top 3 careers\n{{ $json['Top 3 careers'] }}\n3. runner up careers\n{{ $json['Runner up careers'] }}\n4. Out of box careers\n{{ $json['Outside box careers'] }}\n\n\n\n## AI impact rating scale\n\n[1-2 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Safe** (Low Impact): Role relies on physical dexterity, deep human empathy, or irreplaceable human accountability. AI is a reference tool at best. Think: skilled trades, emergency services, executive leadership, therapy.\n- **Augmented** (Moderate Impact): AI handles heavy lifting on data, research, and first drafts. The human becomes editor, strategist, and final decision-maker. Productivity rises significantly but the human remains essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **Transforming** (High Impact): The majority of the role's execution shifts to AI. The human must fundamentally retrain to manage AI agents rather than do the work directly. Role scope and headcount will shrink. Think: financial analysis, marketing execution, QA testing, mid-level project management.\n- **At Risk** (Severe Impact): The core deliverables of this role can be fully automated by agentic AI with higher speed, accuracy, and lower cost. Remaining human involvement is supervisory at best. Think: data entry, basic customer support, standard reporting, routine translation, first-line content writing.\n\n","batching":{}},"id":"231cb4d5-638c-40a8-acbb-8c54c1cc51cd","name":"Dream Job Feasibility","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,928]},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,1680],"id":"3cb7af92-065a-4b07-9360-e82a13b3f169","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"gGM2sOHB72WgN7UU","name":"OpenRouter account 2"}}},{"parameters":{"jsCode":"// Get report_id from upstream node\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\n\n// Get the dream jobs text from the upstream node\nconst fullText = $json.text;\n\n// Subheaders to convert to h5 tags\nconst DREAM_JOB_SUBHEADERS = [\n  \"Overview\",\n  \"Feasibility Rating\",\n  \"Personality & Energy Fit\",\n  \"The Executive Version Suggestion\",\n  \"Industry Outlook & Regional Trends\",\n  \"Steps for Pursuing This Role\"\n];\n\nfunction formatDreamJobContent(content) {\n  let formatted = content;\n  \n  DREAM_JOB_SUBHEADERS.forEach(subheader => {\n    /**\n     * Updated Regex:\n     * 1. Looks for the subheader at the start of the string or after a newline\n     * 2. Allows for optional Markdown stars (**)\n     * 3. Allows for an optional colon (:)\n     * 4. Ensures it matches the whole line to avoid replacing the word mid-sentence\n     */\n    const regex = new RegExp(`(^|\\\\n)\\\\*?\\\\*?${subheader}\\\\*?\\\\*?:?\\\\s*(\\\\n|$)`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n  \n  // Convert markdown bold to <strong> — covers the feasibility rating,\n  // which the prompt now bolds in full.\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n  \n  return formatted.trim();\n}\n\nfunction parseDreamJob(content) {\n  const lines = content.trim().split('\\n');\n  let title = '';\n  let contentStartIndex = 0;\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    // Match ## Title or just \"Chief Product Officer\" if it's the very first line\n    if (line.match(/^##\\s*.+$/) || (i === 0 && line.length > 0)) {\n      title = line.replace(/^##\\s*/, '').trim();\n      contentStartIndex = i + 1;\n      break;\n    }\n  }\n  \n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n  \n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatDreamJobContent(rawContent);\n  \n  return {\n    title: title || 'Dream Job',\n    content: formattedContent\n  };\n}\n\nconst dreamJobSections = fullText.split('---DREAM_JOB_SPLIT---');\nconst cleanSections = dreamJobSections.filter(section => section.trim().length > 0);\n\nconst records = cleanSections.map((section, index) => {\n  const parsed = parseDreamJob(section);\n  \n  return {\n    json: {\n      section_type: \"dream_jobs\",\n      title: `<h3>${parsed.title}</h3>`,\n      content: parsed.content,\n      report_id: reportId,\n      order_number: index + 1\n    }\n  };\n});\n\nreturn records;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,928],"id":"04111827-9e37-4db8-a7cf-8e53003d4d90","name":"Parse Dream"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1696,928],"id":"66e20bd2-df47-4eb3-865d-1fd266ff0482","name":"Insert dream","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2272,608],"id":"02dc6615-008d-446b-a999-e1357ac8bc97","name":"Complete merge"},{"parameters":{"method":"POST","url":"https://pcoyafgsirrznhmdaiji.functions.supabase.co/analysis-completed","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"= { \"report_id\": \"{{ $('When Executed by Another Workflow').first().json.report_id }}\" }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2496,624],"id":"f2075da1-bebb-4ab5-a08e-9a5d5bf18cfb","name":"HTTP Request","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"aiABzg04zbeDSXRc","name":"Supabase Edge Functions — Shared Secret"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1120,464],"id":"1e239ace-b324-40cd-aecd-ad1ec2ba4a26","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1120,784],"id":"24281098-2118-4664-b89b-7a2ecd5ca9b8","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1120,1072],"id":"4f6a8057-64a9-4218-aed5-507716a6e05e","name":"Anthropic Chat Model2","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Dream prep","type":"main","index":0},{"node":"4-10 only","type":"main","index":0},{"node":"Top 3 only","type":"main","index":0}]]},"Top 3 only":{"main":[[{"node":"Pull enriched T3","type":"main","index":0}]]},"Pull enriched T3":{"main":[[{"node":"t3 content order","type":"main","index":0}]]},"t3 content order":{"main":[[{"node":"T3 enr. combined","type":"main","index":0}]]},"T3 enr. combined":{"main":[[{"node":"T3 Careers Prompt","type":"main","index":0}]]},"T3 Careers Prompt":{"main":[[{"node":"Top 3 Careers Generator","type":"main","index":0}]]},"Top 3 Careers Generator":{"main":[[{"node":"Split Top3","type":"main","index":0}]]},"Split Top3":{"main":[[{"node":"Insert Top 3","type":"main","index":0}]]},"Insert Top 3":{"main":[[{"node":"Complete merge","type":"main","index":0}]]},"4-10 only":{"main":[[{"node":"Pull Runner up","type":"main","index":0}]]},"Pull Runner up":{"main":[[{"node":"Combine runners","type":"main","index":0}]]},"Combine runners":{"main":[[{"node":"Set Runner Up Prompt","type":"main","index":0}]]},"Set Runner Up Prompt":{"main":[[{"node":"Runner Up Analysis","type":"main","index":0}]]},"Runner Up Analysis":{"main":[[{"node":"Parse runner up","type":"main","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[]]},"Parse runner up":{"main":[[{"node":"Insert Runner Ups","type":"main","index":0}]]},"Insert Runner Ups":{"main":[[{"node":"Complete merge","type":"main","index":1}]]},"Dream prep":{"main":[[{"node":"Dream Job Feasibility","type":"main","index":0}]]},"Dream Job Feasibility":{"main":[[{"node":"Parse Dream","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"Parse Dream":{"main":[[{"node":"Insert dream","type":"main","index":0}]]},"Insert dream":{"main":[[{"node":"Complete merge","type":"main","index":2}]]},"Complete merge":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Top 3 Careers Generator","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Runner Up Analysis","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model2":{"ai_languageModel":[[{"node":"Dream Job Feasibility","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"FbsruPbuZI2Fgtc8","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"report_id":"16bc658a-36dc-444a-ab7c-9ca1c12f7971","top_3_careers":[{"rank":1,"career_title":"Technical Content Producer, AI and Creative Skills","company_size_type":"Medium (51-200) / Scale-up","compatibility_score":82,"step1_objective_score":"55/64","pattern_analysis":{"happiness_pattern_match":{"score":"19/20","pattern":"extends 8/10 pattern","reasoning":"Outstanding match. This is a direct corporate translation of his dream job [4h] ('A youtube creator that tries out new skills every day... creating entertainment behind the scenes'). It avoids boring conveyor-belt support queues (Mews 4/10) entirely and provides a highly creative sandbox."},"strengths_application":{"score":"14/14","reasoning":"Incredible match for his strengths. Beautifully synthesizes his self-taught musicianship, DIY crafting, Lego Masters production experience, and deep AI tools fluency into a single creative content role."},"trajectory_fit":{"score":"10/10","reasoning":"Perfect trajectory fit. Moves him directly into a specialized, creative media and production domain with high autonomy. Truly honors his revealed preference for deep, hands-on creative projects."}},"penalties":{"burnout_risk":{"penalty":"-4","risk_level":"LOW","reasoning":"Highly autonomous content execution. Keeps him away from external client demands or lockstep software sprint teams. Respects his 'Somewhat Drained' social battery by letting him focus on async media production."},"development_conflicts":{"penalty":"-5","reasoning":"His perfectionism in video editing or creative standards might occasionally delay content delivery sprints, requiring him to manage his inner critic."}},"key_insights_applied":"Leverages his lifelong pattern of deep, self-directed skill mastery (Lego, music, DIY) and applies it to a high-autonomy creative scale-up role.","key_strengths":"An exceptional, highly unique match that honors his creative talents, Lego Masters background, and AI fluency. Provides high autonomy and shields him from corporate bureaucracy.","key_concerns":"Requires him to manage his perfectionist editing loops to meet scale-up content release schedules.","justification":"An exceptional, highly unique match that honors his creative talents, Lego Masters background, and AI fluency. Provides high autonomy and shields him from corporate bureaucracy. Requires him to manage his perfectionist editing loops to meet scale-up content release schedules."},{"rank":2,"career_title":"No-Code and AI Automation Developer","company_size_type":"Medium (51-200) / Scale-up","compatibility_score":79,"step1_objective_score":"52/64","pattern_analysis":{"happiness_pattern_match":{"score":"18/20","pattern":"extends 8/10 pattern","reasoning":"Perfect alignment. Direct match to his self-driven process improvement work at Mews, but formalized and rewarded. Matches the autonomous, systems-level building he enjoyed at The Vendables (8/10) with low client interaction."},"strengths_application":{"score":"13/14","reasoning":"Excellent fit. Applies his logical systems thinking, API comfort, and AI tool integration to build automated backend flows that save hundreds of manual hours."},"trajectory_fit":{"score":"9/10","reasoning":"Superb trajectory match. Moves him into high-autonomy technical building and AI integration, taking him completely away from customer-facing environments."}},"penalties":{"burnout_risk":{"penalty":"-3","risk_level":"LOW","reasoning":"Highly autonomous during the development phase. Keeps social interaction limited to quiet, work-focused internal requirements-scoping, making it very sustainable."},"development_conflicts":{"penalty":"-4","reasoning":"Managing competing internal tickets and documenting standards under rapid deployments may occasionally trigger his perfectionism, but it remains highly manageable."}},"key_insights_applied":"Formalizing and rewarding his natural tendency to improve processes autonomously, in an environment that respects his need for quiet, focused work.","key_strengths":"Phenomenal fit that combines technical building, AI tools, and process optimization. Offers high autonomy and shields him from customer service and corporate bureaucracy.","key_concerns":"Needs to manage his perfectionism when shipping rapid, functional no-code tools that do not require perfect, elegant code.","justification":"Phenomenal fit that combines technical building, AI tools, and process optimization. Offers high autonomy and shields him from customer service and corporate bureaucracy. Needs to manage his perfectionism when shipping rapid, functional no-code tools that do not require perfect, elegant code."},{"rank":3,"career_title":"Serious Games Product Designer","company_size_type":"Small (11-50) / Boutique","compatibility_score":78,"step1_objective_score":"55/64","pattern_analysis":{"happiness_pattern_match":{"score":"17/20","pattern":"extends 7/10 pattern","reasoning":"Directly matches his experience at Mindgame (7/10: 'Very creative and fun'). It mitigates the reason Mindgame underperformed ('Company did not go anywhere so no good projects were coming in') by placing him in an established boutique studio with steady corporate and educational clients."},"strengths_application":{"score":"14/14","reasoning":"Superb match for his core strengths. He is a self-taught board game designer under review, a Lego Masters builder, and a serious game designer. His ability to synthesize narrative, gameplay, and pedagogical models is perfectly applied here."},"trajectory_fit":{"score":"9/10","reasoning":"Flawless career alignment. Transitions him from operational corporate roles to a specialized, creative domain he is deeply passionate about, without forcing him to take on the financial risk of solo business ownership."}},"penalties":{"burnout_risk":{"penalty":"-5","risk_level":"LOW","reasoning":"Boutique agency cultures are highly creative but can have client-pitch milestones. Moderate social drain from presenting to clients, but highly cushioned by the massive creative satisfaction he will experience daily."},"development_conflicts":{"penalty":"-6","reasoning":"His perfectionism and self-criticism could create friction during rapid client-feedback loops, where he might take client critiques personally instead of as objective product data."}},"key_insights_applied":"Directly leverages his lifelong pattern of deep commitment to mastering skills from scratch (games, designs) and placing it in a sustainable boutique team structure.","key_strengths":"An exceptional match for his specialized skills in game design, Figma, and creative synthesis. Resolves the commercial struggles of his past gaming startup while preserving the creative fun.","key_concerns":"Requires regular client interactions and pitching concepts, which will demand social energy and require him to handle external critique constructively.","justification":"An exceptional match for his specialized skills in game design, Figma, and creative synthesis. Resolves the commercial struggles of his past gaming startup while preserving the creative fun. Requires regular client interactions and pitching concepts, which will demand social energy and require him to handle external critique constructively."}],"runner_up_careers":[{"rank":4,"career_title":"AI Serious Games Product Studio Lead","company_size_type":"Own Company / Boutique","compatibility_score":71,"key_strengths":"Ultimate creative freedom and domain alignment, allowing him to pioneer AI adaptive gaming mechanics at his own boutique studio.","brief_justification":"Ultimate creative freedom and domain alignment, allowing him to pioneer AI adaptive gaming mechanics at his own boutique studio.","happiness_pattern":"extends 8/10 pattern","burnout_risk":"HIGH"},{"rank":5,"career_title":"UX/Product Designer for AI Productivity Tools","company_size_type":"Medium (51-200) / Scale-up","compatibility_score":66,"key_strengths":"Phenomenal utilization of his design toolkit and AI interest to solve completely new UX paradigms. Avoids boring, repetitive work.","brief_justification":"Phenomenal utilization of his design toolkit and AI interest to solve completely new UX paradigms. Avoids boring, repetitive work.","happiness_pattern":"extends 8/10 pattern","burnout_risk":"MODERATE"},{"rank":6,"career_title":"Creative Technologist, Interactive Entertainment","company_size_type":"Medium (51-200) / Scale-up","compatibility_score":60,"key_strengths":"Incredible creative and technical synthesis that aligns with his passion for game design and physical building. Excellent scale-up culture match.","brief_justification":"Incredible creative and technical synthesis that aligns with his passion for game design and physical building. Excellent scale-up culture match.","happiness_pattern":"extends 8/10 pattern","burnout_risk":"MODERATE"},{"rank":7,"career_title":"AI Product Manager, Learning Platforms","company_size_type":"Medium (51-200) / Scale-up","compatibility_score":59,"key_strengths":"Phenomenal interest and domain alignment, utilizing his technical synthesis to design cutting-edge educational AI systems. Highly creative and autonomous.","brief_justification":"Phenomenal interest and domain alignment, utilizing his technical synthesis to design cutting-edge educational AI systems. Highly creative and autonomous.","happiness_pattern":"extends 8/10 pattern","burnout_risk":"MODERATE"}],"all_ranked_careers":[{"rank":1,"career_title":"Technical Content Producer, AI and Creative Skills","company_size_type":"Medium (51-200) / Scale-up","compatibility_score":82,"happiness_pattern":"extends 8/10 pattern","burnout_risk":"LOW","key_strengths":"An exceptional, highly unique match that honors his creative talents, Lego Masters background, and A"},{"rank":2,"career_title":"No-Code and AI Automation Developer","company_size_type":"Medium (51-200) / Scale-up","compatibility_score":79,"happiness_pattern":"extends 8/10 pattern","burnout_risk":"LOW","key_strengths":"Phenomenal fit that combines technical building, AI tools, and process optimization. Offers high aut"},{"rank":3,"career_title":"Serious Games Product Designer","company_size_type":"Small (11-50) / Boutique","compatibility_score":78,"happiness_pattern":"extends 7/10 pattern","burnout_risk":"LOW","key_strengths":"An exceptional match for his specialized skills in game design, Figma, and creative synthesis. Resol"},{"rank":4,"career_title":"AI Serious Games Product Studio Lead","company_size_type":"Own Company / Boutique","compatibility_score":71,"happiness_pattern":"extends 8/10 pattern","burnout_risk":"HIGH","key_strengths":"Ultimate creative freedom and domain alignment, allowing him to pioneer AI adaptive gaming mechanics"},{"rank":5,"career_title":"UX/Product Designer for AI Productivity Tools","company_size_type":"Medium (51-200) / Scale-up","compatibility_score":66,"happiness_pattern":"extends 8/10 pattern","burnout_risk":"MODERATE","key_strengths":"Phenomenal utilization of his design toolkit and AI interest to solve completely new UX paradigms. A"},{"rank":6,"career_title":"Creative Technologist, Interactive Entertainment","company_size_type":"Medium (51-200) / Scale-up","compatibility_score":60,"happiness_pattern":"extends 8/10 pattern","burnout_risk":"MODERATE","key_strengths":"Incredible creative and technical synthesis that aligns with his passion for game design and physica"},{"rank":7,"career_title":"AI Product Manager, Learning Platforms","company_size_type":"Medium (51-200) / Scale-up","compatibility_score":59,"happiness_pattern":"extends 8/10 pattern","burnout_risk":"MODERATE","key_strengths":"Phenomenal interest and domain alignment, utilizing his technical synthesis to design cutting-edge e"},{"rank":8,"career_title":"Venture Studio Product Builder","company_size_type":"Medium (51-200) / Agency / Consultancy","compatibility_score":58,"happiness_pattern":"extends 8/10 pattern","burnout_risk":"MODERATE","key_strengths":"Perfect application of his rapid prototyping and multi-disciplinary synthesis skills to turn ideas i"},{"rank":9,"career_title":"Senior Learning Experience Designer, AI and Gamification","company_size_type":"Large (201-1000) / Corporate","compatibility_score":54,"happiness_pattern":"mixed","burnout_risk":"MODERATE","key_strengths":"Allows him to design gamified learning solutions using advanced AI tools at scale. High strategic au"},{"rank":10,"career_title":"Senior Product Operations Automation Lead","company_size_type":"Medium (51-200) / Scale-up","compatibility_score":52,"happiness_pattern":"mixed","burnout_risk":"MODERATE","key_strengths":"Directly applies his natural inclination to improve and automate systems as seen in his rogue work a"},{"rank":11,"career_title":"AI Learning Platform Product Builder","company_size_type":"Own Company / Startup","compatibility_score":48,"happiness_pattern":"extends 8/10 pattern","burnout_risk":"HIGH","key_strengths":"Allows him to build his dream product at the cutting edge of AI learning platforms with absolute str"},{"rank":12,"career_title":"Innovation Lab Prototyping Lead","company_size_type":"Large (201-1000) / Corporate","compatibility_score":47,"happiness_pattern":"mixed","burnout_risk":"MODERATE","key_strengths":"Phenomenal utilization of his hands-on prototyping and technical synthesis capabilities. Every day i"},{"rank":13,"career_title":"Product Discovery and Concept Validation Specialist","company_size_type":"Large (201-1000) / Agency / Consultancy","compatibility_score":31,"happiness_pattern":"recreates 5/10 pattern","burnout_risk":"HIGH","key_strengths":"Utilizes his natural validation and optimization frameworks to help companies avoid building bad pro"},{"rank":14,"career_title":"Virtual Production Tools Designer","company_size_type":"Medium (51-200) / Corporate","compatibility_score":24,"happiness_pattern":"neutral","burnout_risk":"HIGH","key_strengths":"Positions him at the intersection of cinema and cutting-edge real-time graphics technology."},{"rank":15,"career_title":"Continuous Improvement and Internal Tools Lead","company_size_type":"Large (201-1000) / Corporate","compatibility_score":20,"happiness_pattern":"recreates 4/10 pattern","burnout_risk":"HIGH","key_strengths":"Utilizes logical systems mapping and optimization skills to solve complex backend integrations."}],"interests_history_text":"### Personal Context\n\nDouwe Teun Anne Geurts is a 38-year-old professional with 18 years of diverse experience across the hospitality, gaming, and retail sectors. Having recently transitioned out of an Enterprise-scale corporate role at Mews, Douwe describes his current professional sentiment as unfulfilled, rating his most recent experience a 4/10 due to a lack of creative agency and an over-reliance on repetitive, customer-service-focused tasks. He is currently seeking a career reset that honors his need for innovation and autonomy.\n\n### Previous Careers\n\n1. Digital Onboarding Manager\n2. Owner and initiator (Mindgame)\n3. Co-owner and initiator (The Vendables)\n4. Co-owner and initiator (The Boardroom)\n5. Assistant Manager\n\n### Personal Interests & Strengths\n\nDouwe is a consummate \"builder\" who thrives on tangible output and creative problem-solving. His proudest achievements range from founding the first fully automated gift shop in the Netherlands to competing in *Lego Masters* and physically constructing his own furniture. His professional identity is rooted in entrepreneurship, creative design (Figma/Illustrator), and operational innovation. Whether he is designing board games or optimizing software workflows, he is driven by the desire to invent and refine systems that don't yet exist.\n\n### Career Goals & Aspirations\n\nDouwe is at a critical juncture, utilizing a 3–4 month runway to pivot toward a career that balances creative production with AI-driven product development. His short-term goal is to explore entrepreneurial ventures that leverage his proficiency with AI, while his long-term ambition is to secure complete career autonomy. He is a highly proactive learner, particularly interested in mastering automation and innovation strategies to overcome previous barriers of burnout and misalignment with corporate \"conveyor belt\" mentalities.\n\n### Career Constraints & Avoidances\n\nDouwe has established clear non-negotiables to protect his creative energy. He explicitly excludes client-facing, sales-driven, and finance-heavy roles, as well as industries like hospitality, retail, and legal professions. He requires a workspace that moves beyond repetitive task execution, actively avoiding environments characterized by high-pressure urgency or excessive, mandatory group collaboration that hampers individual innovation.\n\n### Compensation & Work Preferences\n\nDouwe prefers a non-traditional \"hybrid\" professional life, favoring a balance of deep creative work and interactive digital product development over a rigid 9-to-5 desk job. While he targets an annual salary range of 75,000–100,000, his primary focus is on work-life balance perks and the ability to work location-independently. He values a structure that provides process guidance without being stifling, viewing salary as a secondary factor to the necessity of finding work that offers genuine creative impact.\n\n### Dream Jobs\n\nDouwe aspires to hold two distinct creative roles: a \"behind-the-scenes\" position in online entertainment (such as showrunning or documentary production) and a technical role focused on building AI-powered products or interactive software. These roles align with his desire to solve unique problems rather than repeating identical tasks.\n\n### Report ID\n16bc658a-36dc-444a-ab7c-9ca1c12f7971","top_3_careers_str":"[\n  {\n    \"rank\": 1,\n    \"career_title\": \"Technical Content Producer, AI and Creative Skills\",\n    \"company_size_type\": \"Medium (51-200) / Scale-up\",\n    \"compatibility_score\": 82,\n    \"step1_objective_score\": \"55/64\",\n    \"pattern_analysis\": {\n      \"happiness_pattern_match\": {\n        \"score\": \"19/20\",\n        \"pattern\": \"extends 8/10 pattern\",\n        \"reasoning\": \"Outstanding match. This is a direct corporate translation of his dream job [4h] ('A youtube creator that tries out new skills every day... creating entertainment behind the scenes'). It avoids boring conveyor-belt support queues (Mews 4/10) entirely and provides a highly creative sandbox.\"\n      },\n      \"strengths_application\": {\n        \"score\": \"14/14\",\n        \"reasoning\": \"Incredible match for his strengths. Beautifully synthesizes his self-taught musicianship, DIY crafting, Lego Masters production experience, and deep AI tools fluency into a single creative content role.\"\n      },\n      \"trajectory_fit\": {\n        \"score\": \"10/10\",\n        \"reasoning\": \"Perfect trajectory fit. Moves him directly into a specialized, creative media and production domain with high autonomy. Truly honors his revealed preference for deep, hands-on creative projects.\"\n      }\n    },\n    \"penalties\": {\n      \"burnout_risk\": {\n        \"penalty\": \"-4\",\n        \"risk_level\": \"LOW\",\n        \"reasoning\": \"Highly autonomous content execution. Keeps him away from external client demands or lockstep software sprint teams. Respects his 'Somewhat Drained' social battery by letting him focus on async media production.\"\n      },\n      \"development_conflicts\": {\n        \"penalty\": \"-5\",\n        \"reasoning\": \"His perfectionism in video editing or creative standards might occasionally delay content delivery sprints, requiring him to manage his inner critic.\"\n      }\n    },\n    \"key_insights_applied\": \"Leverages his lifelong pattern of deep, self-directed skill mastery (Lego, music, DIY) and applies it to a high-autonomy creative scale-up role.\",\n    \"key_strengths\": \"An exceptional, highly unique match that honors his creative talents, Lego Masters background, and AI fluency. Provides high autonomy and shields him from corporate bureaucracy.\",\n    \"key_concerns\": \"Requires him to manage his perfectionist editing loops to meet scale-up content release schedules.\",\n    \"justification\": \"An exceptional, highly unique match that honors his creative talents, Lego Masters background, and AI fluency. Provides high autonomy and shields him from corporate bureaucracy. Requires him to manage his perfectionist editing loops to meet scale-up content release schedules.\"\n  },\n  {\n    \"rank\": 2,\n    \"career_title\": \"No-Code and AI Automation Developer\",\n    \"company_size_type\": \"Medium (51-200) / Scale-up\",\n    \"compatibility_score\": 79,\n    \"step1_objective_score\": \"52/64\",\n    \"pattern_analysis\": {\n      \"happiness_pattern_match\": {\n        \"score\": \"18/20\",\n        \"pattern\": \"extends 8/10 pattern\",\n        \"reasoning\": \"Perfect alignment. Direct match to his self-driven process improvement work at Mews, but formalized and rewarded. Matches the autonomous, systems-level building he enjoyed at The Vendables (8/10) with low client interaction.\"\n      },\n      \"strengths_application\": {\n        \"score\": \"13/14\",\n        \"reasoning\": \"Excellent fit. Applies his logical systems thinking, API comfort, and AI tool integration to build automated backend flows that save hundreds of manual hours.\"\n      },\n      \"trajectory_fit\": {\n        \"score\": \"9/10\",\n        \"reasoning\": \"Superb trajectory match. Moves him into high-autonomy technical building and AI integration, taking him completely away from customer-facing environments.\"\n      }\n    },\n    \"penalties\": {\n      \"burnout_risk\": {\n        \"penalty\": \"-3\",\n        \"risk_level\": \"LOW\",\n        \"reasoning\": \"Highly autonomous during the development phase. Keeps social interaction limited to quiet, work-focused internal requirements-scoping, making it very sustainable.\"\n      },\n      \"development_conflicts\": {\n        \"penalty\": \"-4\",\n        \"reasoning\": \"Managing competing internal tickets and documenting standards under rapid deployments may occasionally trigger his perfectionism, but it remains highly manageable.\"\n      }\n    },\n    \"key_insights_applied\": \"Formalizing and rewarding his natural tendency to improve processes autonomously, in an environment that respects his need for quiet, focused work.\",\n    \"key_strengths\": \"Phenomenal fit that combines technical building, AI tools, and process optimization. Offers high autonomy and shields him from customer service and corporate bureaucracy.\",\n    \"key_concerns\": \"Needs to manage his perfectionism when shipping rapid, functional no-code tools that do not require perfect, elegant code.\",\n    \"justification\": \"Phenomenal fit that combines technical building, AI tools, and process optimization. Offers high autonomy and shields him from customer service and corporate bureaucracy. Needs to manage his perfectionism when shipping rapid, functional no-code tools that do not require perfect, elegant code.\"\n  },\n  {\n    \"rank\": 3,\n    \"career_title\": \"Serious Games Product Designer\",\n    \"company_size_type\": \"Small (11-50) / Boutique\",\n    \"compatibility_score\": 78,\n    \"step1_objective_score\": \"55/64\",\n    \"pattern_analysis\": {\n      \"happiness_pattern_match\": {\n        \"score\": \"17/20\",\n        \"pattern\": \"extends 7/10 pattern\",\n        \"reasoning\": \"Directly matches his experience at Mindgame (7/10: 'Very creative and fun'). It mitigates the reason Mindgame underperformed ('Company did not go anywhere so no good projects were coming in') by placing him in an established boutique studio with steady corporate and educational clients.\"\n      },\n      \"strengths_application\": {\n        \"score\": \"14/14\",\n        \"reasoning\": \"Superb match for his core strengths. He is a self-taught board game designer under review, a Lego Masters builder, and a serious game designer. His ability to synthesize narrative, gameplay, and pedagogical models is perfectly applied here.\"\n      },\n      \"trajectory_fit\": {\n        \"score\": \"9/10\",\n        \"reasoning\": \"Flawless career alignment. Transitions him from operational corporate roles to a specialized, creative domain he is deeply passionate about, without forcing him to take on the financial risk of solo business ownership.\"\n      }\n    },\n    \"penalties\": {\n      \"burnout_risk\": {\n        \"penalty\": \"-5\",\n        \"risk_level\": \"LOW\",\n        \"reasoning\": \"Boutique agency cultures are highly creative but can have client-pitch milestones. Moderate social drain from presenting to clients, but highly cushioned by the massive creative satisfaction he will experience daily.\"\n      },\n      \"development_conflicts\": {\n        \"penalty\": \"-6\",\n        \"reasoning\": \"His perfectionism and self-criticism could create friction during rapid client-feedback loops, where he might take client critiques personally instead of as objective product data.\"\n      }\n    },\n    \"key_insights_applied\": \"Directly leverages his lifelong pattern of deep commitment to mastering skills from scratch (games, designs) and placing it in a sustainable boutique team structure.\",\n    \"key_strengths\": \"An exceptional match for his specialized skills in game design, Figma, and creative synthesis. Resolves the commercial struggles of his past gaming startup while preserving the creative fun.\",\n    \"key_concerns\": \"Requires regular client interactions and pitching concepts, which will demand social energy and require him to handle external critique constructively.\",\n    \"justification\": \"An exceptional match for his specialized skills in game design, Figma, and creative synthesis. Resolves the commercial struggles of his past gaming startup while preserving the creative fun. Requires regular client interactions and pitching concepts, which will demand social energy and require him to handle external critique constructively.\"\n  }\n]","runner_up_careers_str":"[\n  {\n    \"rank\": 4,\n    \"career_title\": \"AI Serious Games Product Studio Lead\",\n    \"company_size_type\": \"Own Company / Boutique\",\n    \"compatibility_score\": 71,\n    \"key_strengths\": \"Ultimate creative freedom and domain alignment, allowing him to pioneer AI adaptive gaming mechanics at his own boutique studio.\",\n    \"brief_justification\": \"Ultimate creative freedom and domain alignment, allowing him to pioneer AI adaptive gaming mechanics at his own boutique studio.\",\n    \"happiness_pattern\": \"extends 8/10 pattern\",\n    \"burnout_risk\": \"HIGH\"\n  },\n  {\n    \"rank\": 5,\n    \"career_title\": \"UX/Product Designer for AI Productivity Tools\",\n    \"company_size_type\": \"Medium (51-200) / Scale-up\",\n    \"compatibility_score\": 66,\n    \"key_strengths\": \"Phenomenal utilization of his design toolkit and AI interest to solve completely new UX paradigms. Avoids boring, repetitive work.\",\n    \"brief_justification\": \"Phenomenal utilization of his design toolkit and AI interest to solve completely new UX paradigms. Avoids boring, repetitive work.\",\n    \"happiness_pattern\": \"extends 8/10 pattern\",\n    \"burnout_risk\": \"MODERATE\"\n  },\n  {\n    \"rank\": 6,\n    \"career_title\": \"Creative Technologist, Interactive Entertainment\",\n    \"company_size_type\": \"Medium (51-200) / Scale-up\",\n    \"compatibility_score\": 60,\n    \"key_strengths\": \"Incredible creative and technical synthesis that aligns with his passion for game design and physical building. Excellent scale-up culture match.\",\n    \"brief_justification\": \"Incredible creative and technical synthesis that aligns with his passion for game design and physical building. Excellent scale-up culture match.\",\n    \"happiness_pattern\": \"extends 8/10 pattern\",\n    \"burnout_risk\": \"MODERATE\"\n  },\n  {\n    \"rank\": 7,\n    \"career_title\": \"AI Product Manager, Learning Platforms\",\n    \"company_size_type\": \"Medium (51-200) / Scale-up\",\n    \"compatibility_score\": 59,\n    \"key_strengths\": \"Phenomenal interest and domain alignment, utilizing his technical synthesis to design cutting-edge educational AI systems. Highly creative and autonomous.\",\n    \"brief_justification\": \"Phenomenal interest and domain alignment, utilizing his technical synthesis to design cutting-edge educational AI systems. Highly creative and autonomous.\",\n    \"happiness_pattern\": \"extends 8/10 pattern\",\n    \"burnout_risk\": \"MODERATE\"\n  }\n]","outside_box_careers_str":"1. **Escape Room and Immersive Experience Concept Architect**\n\n**Overview**\nThis role sits at the intersection of spatial design, narrative systems, and operational logic. You design the full experience blueprint for immersive entertainment venues, from the puzzle mechanics and narrative arc to the physical build logic and customer flow, often working with operators, investors, or entertainment brands to take a concept from whiteboard to opening day.\n\n**Why this might be a fit**\nYou've literally built The Boardroom from scratch, a concept that required game design thinking, hospitality operations, spatial logic, and commercial viability all at once. That's the exact skill stack this role demands. Most people in this space come from either theatre or events, meaning they understand story but not systems, or from operations, meaning they understand flow but not fun. You sit in the rare middle. Your Lego Masters experience, your board game design work, and your background running a game-based hospitality venue aren't separate interests here, they're the job description. This isn't a desk role. It's highly tactile, client-facing on your terms (brief-in, concept-out), and it rewards the exact build-from-zero energy that corporate roles have consistently failed to use.\n\n**Path Type & Reality**\nThis is most realistically a **freelance or independent practice** path, with the possibility of evolving into a boutique studio. Income will be project-based and pipeline-dependent, so you'd need 2-3 anchor clients or retainer-style relationships before treating this as your primary income. The Dutch and broader European market for immersive entertainment is growing, but deal cycles can be slow.\n\n**AI Impact on this role**\n**Augmented** (Moderate Impact): AI accelerates concept visualization, narrative scripting, and layout prototyping significantly, which actually benefits you as a solo operator. The creative direction, the spatial logic, and the client relationship remain entirely human. Your existing AI fluency means you'd use these tools faster than most competitors in this space already would.\n\n---\n\n2. **Edtech or Serious Impact Venture Scout and Concept Developer (Venture Studio Embedded)**\n\n**Overview**\nVenture studios and impact-focused investment arms increasingly hire dedicated concept developers who do not pitch their own startup but instead build, validate, and pressure-test new venture concepts on behalf of the studio's portfolio thesis. You work on 2-4 concepts simultaneously, taking each from problem framing through prototype to a go or no-go recommendation, then hand off to a founding team.\n\n**Why this might be a fit**\nDouwe, this role is essentially designed for someone with your cognitive profile and it almost never gets posted under a recognizable job title, which is exactly why you likely haven't seen it. You thrive in the zero-to-functional phase and disengage the moment things shift into maintenance. This role structurally solves that problem. The handoff is the job. Your cross-domain synthesis (gaming, operations, digital products, UX) is genuinely unusual in venture environments where most people are either pure finance or pure tech. Your Vendables and Mindgame history shows you can evaluate a novel concept commercially, not just creatively, and your AI fluency means you can prototype fast enough to actually validate ideas rather than just theorize about them.\n\n**Path Type & Reality**\nThis is an **employee** path, typically inside a venture builder, corporate innovation arm, or impact-focused fund. These roles are not widely advertised and are often filled through networks. Expect a longer hiring cycle and a higher barrier to entry that requires a clear portfolio of concepts you've built and validated. Compensation in European venture studios for this type of role can reach the €80-100K range but varies significantly by studio size and funding stage.\n\n**AI Impact on this role**\n**Augmented** (Moderate Impact): AI dramatically accelerates market sizing, competitor mapping, and rapid prototyping, all tasks that would normally eat weeks of your time. The judgment calls, the concept framing, and the decision to kill or progress a concept remain human and high-stakes. Your comfort with AI tools is a direct advantage here, since studios will expect you to move fast with minimal support.\n\n---\n\n3. **Physical Product Innovation Lead for a Toy, Game, or Puzzle Publisher**\n\n**Overview**\nMid-to-large toy and game publishers (think Ravensburger, Jumbo, Kosmos, or their licensing partners) employ dedicated innovation leads who sit between creative development and product management, sourcing external concepts, developing internal IP, and evaluating whether a game or physical product has commercial legs before it ever reaches a factory. The role is part curator, part designer, part internal strategist.\n\n**Why this might be a fit**\nYour Mindgame background isn't just a creative credential here, it's direct industry experience. You've designed games evaluated by publishers and used by corporate clients. You understand the full lifecycle from concept to playtest to pitch, which most candidates in this space do not. Your operational background means you also understand production constraints, margins, and what it costs to run a physical product business. That's a rare combination inside a publisher where most creative people have never run anything. This role would keep you in a build-and-evaluate loop permanently, since the pipeline of new concepts never stops, and the work is tangible, physical, and intellectually varied. It's not remote-first, but hybrid structures are increasingly common at European publishers.\n\n**Path Type & Reality**\nThis is an **employee** path inside an established publisher or a licensing intermediary. The games and toy industry in the Netherlands and Germany is accessible and well-networked, and your existing Mindgame work gives you a warm entry point. Salaries at established publishers for senior innovation or product development roles sit in the €65-85K range, which lands at the lower edge of your target. Worth factoring in that upside (bonuses tied to title performance) can be meaningful if your concepts ship successfully.\n\n**AI Impact on this role**\n**Augmented** (Moderate Impact): AI tools accelerate rulebook iteration, concept visualization, and playtesting simulation, particularly useful for early-stage filtering. The core of the role, creative judgment, market intuition, and the ability to recognize what will actually be fun for a human being to hold and play, remains irreducibly human. Your Figma and Illustrator fluency puts you ahead of most candidates in this pipeline.","init_summary_content":"<h5>1. Core Identity & Current Status</h5>\n- <strong>Name:</strong> Douwe Teun Anne Geurts [1a]\n- <strong>Pronouns:</strong> He / Him [1b]\n- <strong>Age:</strong> 38 [1c]\n- <strong>Region:</strong> Northern and Western Europe [1d]\n- <strong>Primary Objectives/Goals:</strong> \n  - \"Looking for guidance on my first job or career path\" [1e]\n  - \"Finding a new career path that better suits my skills and interests\" [1e]\n- <strong>Current Career Situation:</strong> \"Non-leadership or individual contributor role (no direct reports)\" [1i]\n- <strong>Total Years of Experience:</strong> 18 [1h]\n\n---\n\n<h5>2. Professional History & Sentiment Log</h5>\n- <strong>Detailed Career History:</strong> [1j]\n  - <strong>Role 1:</strong>\n    - <strong>Title:</strong> Digital Onboarding Manager\n    - <strong>Company:</strong> Mews\n    - <strong>Size:</strong> Enterprise (1000-5000)\n    - <strong>Culture:</strong> Corporate\n    - <strong>Sector:</strong> Hospitality Technology\n    - <strong>Dates:</strong> May 2023 – Present (Current)\n  - <strong>Role 2:</strong>\n    - <strong>Title:</strong> Owner and initiator\n    - <strong>Company:</strong> Mindgame\n    - <strong>Size:</strong> Micro (1-10)\n    - <strong>Culture:</strong> Small Business Owner (up to 5 FTE)\n    - <strong>Sector:</strong> Serious Gaming\n    - <strong>Dates:</strong> September 2021 – April 2023\n  - <strong>Role 3:</strong>\n    - <strong>Title:</strong> Co-owner and initiator\n    - <strong>Company:</strong> The Vendables\n    - <strong>Size:</strong> Micro (1-10)\n    - <strong>Culture:</strong> Small Business Owner (up to 5 FTE)\n    - <strong>Sector:</strong> Retail/E-commerce\n    - <strong>Dates:</strong> January 2021 – August 2022\n  - <strong>Role 4:</strong>\n    - <strong>Title:</strong> Co-owner and initiator\n    - <strong>Company:</strong> The Boardroom\n    - <strong>Size:</strong> Small (11-50)\n    - <strong>Culture:</strong> Startup / Scale-up\n    - <strong>Sector:</strong> Hospitality/Gaming/Retail\n    - <strong>Dates:</strong> February 2017 – June 2020\n  - <strong>Role 5:</strong>\n    - <strong>Title:</strong> Assistant Manager\n    - <strong>Company:</strong> The Student Hotel\n    - <strong>Size:</strong> Medium (51-200)\n    - <strong>Culture:</strong> Corporate\n    - <strong>Sector:</strong> Hospitality\n    - <strong>Dates:</strong> July 2013 – September 2014\n\n- <strong>Sentiment Log:</strong> [1k]\n  - <strong>Digital Onboarding Manager (Mews):</strong> Happiness Score: 4/10. Verbatim Reason: \"Too Customer Services focused. No creativity. Too conveyor belt day to day. \"\n  - <strong>Owner and initiator (Mindgame):</strong> Happiness Score: 7/10. Verbatim Reason: \"Very creative and fun. Not big enough to make a difference. Company did not go anywhere so no good projects where coming in. \"\n  - <strong>Co-owner and initiator (The Vendables):</strong> Happiness Score: 8/10. Verbatim Reason: \"Entrepreneur. How to optimalize a product that does not exists was great fun. \"\n  - <strong>Co-owner and initiator (The Boardroom):</strong> Happiness Score: 8/10. Verbatim Reason: \"Setting up an own business is great, creative and more. Pay and working hours where not great.\"\n  - <strong>Assistant Manager (The Student Hotel):</strong> Happiness Score: 5/10. Verbatim Reason: \"Fun for my age at that time, but I was more of a receptionist which was not fun. \"\n\n- <strong>Skills & Technical Footprint:</strong> \n  - <strong>Top Skills:</strong> \"Creative Thinking/Design\", \"Project Management\", \"Entrepreneurship\" [1l]\n  - <strong>Certifications:</strong> None provided [1l]\n  - <strong>Languages and proficiency level:</strong> None provided [1l]\n  - <strong>Notable Achievements:</strong> [1l]\n    - The Boardroom: \"Made the Board Game Café profitable within one year and opened a second location, which was also profitable. \"\n    - Other: \"• Completed half-marathon\\n• Completed Olympic distance Triathlon\\n- thought myself Guitar and piano on a decent level.\\n- Make my own furniture and build everything in my house. \\n• Participant in Lego Masters Season 2\\n• Designed board games with one under publisher review\\n- completed the Asmterdam City Swim. 3.5 km open water swimming. \"\n    - The Vendables: \"Founded first fully automated gift shop in the Netherlands\"\n    - Mews: \"Made sure processes where improved and less time was wasted by the whole team. Even though this was not my work and I did not get time allocated for it. \" (2023–Present)\n    - Mindgame: \"Coming up with my own games and selling those to big companies. \" (2021–2023)\n    - The Student Hotel: \"Met many people from all walks of life which thought me even more how to communicate with people. \" (2013–2014)\n  - <strong>Specialized Knowledge:</strong> \"Creative Design such as Figma and Illustartor, Project Management within Serious Gaming, Entrepreneurship because I started several companies of which 2 board game cafes, Customer Onboarding, Operations Management, Adobe Illustrator, Innovative thinking by coming up with new software, products and business ideas, Market research to find out what is need not what is cool to make.\" [4d]\n  - <strong>AI Familiarity:</strong> \"Very familiar. I frequently use AI tools\" [4e]\n\n---\n\n<h5>3. Education & Personal Context</h5>\n- <strong>Education Level:</strong> \"Bachelor's degree\" [1f]\n- <strong>Field of Study:</strong> \"International Hotel and Hospitality Management\" [1g]\n- <strong>Personal Interests/Hobbies:</strong> \"Board games\", \"(game)Design\", \"Travel\" [1m]\n- <strong>Additional Context/Constraints:</strong> \"I just quit at Mews. Couldn't take it anymore that noone took my feedback seriously. Thinking about maybe doing something for myself with AI and serious gaming and other AI code based ideas.\\n\\ni have about 3-4 month runway before i need an income again.\" [1n]\n- <strong>Dream Jobs:</strong> \"Have a hands on creative job, preferably 2 jobs. I would have 1 creative job. Either in film, showbusiness, online enterainment, behind the scenes. Creating entertainment such as Moviesets, documentatries, showrunner, you name it.  2 a job focussing on using AI to create new products such as learning platforms, games and interactive software, improving business processes and more. \\nI need to be able to travel and work from my laptop. A 9-5 deskjob going to the same environment every day is not for me. I need to be able to come up with solutions to problems. Not repeating the same tasks over and over.. On the sides I make furniture or build things with my hand. \\n\\nA youtube creator that tries out new skills every day for a living. \\n\\nIt's has variety and has nothing to do with customer service if I cannot influence the product.\" [4h]\n\n---\n\n<h5>4. Values, Compensation & Work Preferences</h5>\n- <strong>Ranked Career Values (High to Low):</strong> [3a]\n  1. Creativity (e.g., having the freedom to innovate, engaging in creative problem-solving)\n  2. Job Satisfaction (e.g., enjoying daily tasks, feeling engaged and motivated by work)\n  3. Personal Growth & Challenge (e.g., learning new skills, overcoming difficult challenges, pushing personal and professional limits)\n  4. Work-Life Balance (e.g., balancing personal and professional life, flexible hours)\n  5. Autonomy (e.g., having independence in work, making decisions)\n  6. Job Stability & Financial Security (e.g., long-term stability, financial reliability)\n  7. Helping Others & Making an Impact (e.g., contributing to a cause, supporting colleagues or clients)\n  8. Accomplishment & Recognition (e.g., reaching significant milestones, excelling in work, receiving awards)\n- <strong>Cultural & WLB Preferences:</strong>\n  - <strong>Value Alignment:</strong> \"Somewhat\" [3b]\n  - <strong>WLB Importance:</strong> \"Very\" [3c]\n  - <strong>Preferred Culture:</strong> \"Innovative and forward-thinking\" [4c]\n- <strong>Logistics & Pay:</strong>\n  - <strong>Schedule:</strong> \"Standard 9-to-5 schedule\" [3d]\n  - <strong>Salary Importance:</strong> \"Moderately important: I value salary but also consider other factors\" [3e]\n  - <strong>Bracket:</strong> \"75,000–100,000\" [3f]\n  - <strong>Pay Priority:</strong> \"Work-life balance perks\" [3g]\n\n---\n\n<h5>5. Behavioral & Operational Profile</h5>\n- <strong>Energy & Social:</strong>\n  - <strong>Social energy:</strong> \"Somewhat Drained (I can handle it, but prefer quiet)\" [2a]\n  - <strong>Colleague interaction:</strong> \"Keep it mostly work-focused but join social events occasionally.\" [6f]\n- <strong>Cognitive Style:</strong>\n  - <strong>Decision focus:</strong> \"The long-term, big-picture ideas and impact\" [2b]\n  - <strong>Decision speed:</strong> \"Leaning Deliberative (Explore options, but can decide when needed)\" [2c]\n  - <strong>Communication style:</strong> \"Direct and to the point - focus on key facts\" [2d]\n  - <strong>Change response:</strong> \"Leaning Novelty (I embrace the unknown, but like a safety net)\" [2e]\n- <strong>Operational Style:</strong>\n  - <strong>Environment structure:</strong> \"Somewhat Structured (I prefer a process but not rigid rules)\" [2g]\n  - <strong>Risk tolerance:</strong> \"Very comfortable\" [2h]\n  - <strong>Stress response:</strong> \"Leaning Action (Tend to act quickly, with a brief pause)\" [2i]\n  - <strong>Time management:</strong> \"Deadline-Aware (I start early but my pace picks up significantly as deadlines approach)\" [5f]\n- <strong>Hindrances/Growth Areas:</strong> Candidate reports \"Perfectionism leading to delays\", \"Struggling with time management\", and \"Being overly critical of self or others\" [2j]\n\n---\n\n<h5>6. Team Dynamics & Emotional Intelligence</h5>\n- <strong>Collaboration Style:</strong>\n  - <strong>Team role:</strong> \"Step back to analyze before contributing.\" [5a]\n  - <strong>Motivator:</strong> \"Learning from others\" [5b]\n  - <strong>Preferred size:</strong> \"Medium (6-10 people)\" [5c]\n  - <strong>Conflict style:</strong> \"Seek a compromise to maintain harmony\" [5d] and \"I prioritize securing the best outcome for myself or my team first\" [2f]\n- <strong>Management Interaction:</strong>\n  - <strong>Preferred Leadership:</strong> \"Delegating autonomy and trusting me to figure things out\" [5g]\n  - <strong>Response to Disagreement:</strong> \"Approach them privately to share your point of view\" [5h]\n- <strong>EI & Feedback:</strong>\n  - <strong>Handling Feedback:</strong> \"I actively seek it and use it to improve\" [6a]\n  - <strong>Providing Feedback:</strong> \"Are straightforward and focus on the facts.\" [6b]\n  - <strong>Support style:</strong> \"Provide practical help or solutions\" [6c]\n  - <strong>Emotional regulation:</strong> \"Remain calm and control your emotions effectively\" [6d]\n  - <strong>Stress coping:</strong> \"Talk to colleagues or friends for support\" [6e]\n  - <strong>EI Challenges:</strong> Candidate reports \"Motivating myself and others\", \"Other: Taking my manager serious when they set goals without backing it up with data.\", and \"Receiving criticism without defensiveness\" [6g]\n\n---\n\n<h5>7. Future Trajectory & Constraints</h5>\n- <strong>Goals:</strong>\n  - <strong>Short-term:</strong> \"Gain experience in a different role or industry\", \"Explore entrepreneurial opportunities\", \"Develop new skills or certifications\" [7a]\n  - <strong>Long-term:</strong> \"Own or run a successful business\", \"Achieve complete autonomy and freedom in my career\" [7b]\n- <strong>Developmental Drive:</strong>\n  - <strong>Barriers:</strong> \"Burnout or lack of engagement\", \"Misalignment with personal values or interests\" [7c]\n  - <strong>Interest in new skills:</strong> \"Yes, always seeking new skills\" [7d]\n  - <strong>Areas to develop:</strong> \"AI & Automation\", \"Creative Thinking & Innovation\", \"Technical & Digital Skills\" [7e]\n  - <strong>Workshop topics:</strong> \"Artificial Intelligence and Automation (e.g., implementing AI solutions, the future of automation in business)\", \"Innovation and Product Development (e.g., fostering a culture of innovation, developing new products)\" [4f]\n- <strong>Areas of Interest & Archetypes:</strong>\n  - <strong>Interests:</strong> \"AI, Data & Automation\", \"Product & Innovation\", \"Design & Creative\" [4a]\n  - <strong>Archetypes:</strong> \"The Implementer (gets tasks done, focuses on execution and timely deliverables)\", \"The Visionary (creative, thinks outside the box, envisions new possibilities)\" [4b]\n- <strong>Avoidance List (Hard Constraints):</strong>\n  - <strong>Avoided work aspects:</strong> \n    - \"High-pressure or fast-paced environments (e.g., strict deadlines, constant urgency, unpredictable workloads)\" [3h]\n    - \"Frequent teamwork and collaboration (e.g., working closely with others daily, team-based projects, group decision-making)\" [3h]\n    - \"Sales, negotiation, or client-facing roles (e.g., pitching ideas, persuading clients, managing external relationships)\" [3h]\n    - \"Finance-related work (e.g., financial analysis, accounting, budgeting, or investment-related roles)\" [3h]\n    - \"Limited learning or growth opportunities (e.g., repetitive tasks, no clear professional development path)\" [3h]\n  - <strong>Avoided industries:</strong> \"Sales and Business Development\", \"Legal Professions\", \"Manufacturing and Physical Labor\", \"Agriculture and Outdoor Work\", \"Government and Public Sector\", \"Retail, Hospitality, and Customer Service\" [4g]"},"pairedItem":{"item":0}}]},"versionId":"9bff2211-fdcd-4eb6-81a9-cac97d7a0b51","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-05-30T21:51:11.252Z","createdAt":"2026-05-30T21:51:11.252Z","role":"workflow:owner","workflowId":"seWmQPFQqIe60TkU","projectId":"IRGhJlz0HuarxdVs","project":{"updatedAt":"2026-05-08T11:19:23.000Z","createdAt":"2025-06-17T10:11:12.163Z","id":"IRGhJlz0HuarxdVs","name":"Cairnly","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"","creatorId":null}}],"tags":[],"activeVersion":null}