n8n_aa/Global Error Handler.json
{
  "name": "Global Error Handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        176
      ],
      "id": "6b8260a8-a0e1-4a0d-bb73-70d795cb4a04",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "api_failure_check",
              "leftValue": "={{ $json.execution.error.message }}",
              "rightValue": "API",
              "operator": {
                "type": "string",
                "operation": "contains",
                "rightType": "any"
              }
            },
            {
              "id": "3dc047f7-095e-457b-99dc-8f59ac53fcc2",
              "leftValue": "={{ $json.execution.error.message }}",
              "rightValue": "timeout",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "dc58fb21-5f49-4e3a-92fc-bd29ecaa5d3c",
              "leftValue": "={{ $json.execution.error.message }}",
              "rightValue": "rate limit",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "2a2cd46d-107a-4dbb-94d6-93012cebda34",
              "leftValue": "={{ $json.execution.error.message }}",
              "rightValue": "401",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "57393c53-8f68-41db-82cc-096c27f296b4",
              "leftValue": "={{ $json.execution.error.message }}",
              "rightValue": "403",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "26207db4-12c2-40b2-be36-5a48818e09f0",
              "leftValue": "={{ $json.execution.error.message }}",
              "rightValue": "429",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cd6f6084-5467-4ed7-9e26-ee96342694a7",
              "leftValue": "={{ $json.execution.error.message }}",
              "rightValue": "500",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        176
      ],
      "id": "08ac013d-510e-4fdf-b67b-2abc65f03807",
      "name": "Check Error Type"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "error_message",
              "stringValue": "={{ $json.execution.error.message }}"
            },
            {
              "name": "failed_node",
              "stringValue": "={{ $json.execution.lastNodeExecuted }}"
            },
            {
              "name": "workflow_name",
              "stringValue": "={{ $json.workflow.name }}"
            },
            {
              "name": "workflow_id",
              "stringValue": "={{ $json.workflow.id }}"
            },
            {
              "name": "execution_id",
              "stringValue": "={{ $json.execution.id }}"
            },
            {
              "name": "timestamp",
              "stringValue": "={{ new Date().toISOString() }}"
            },
            {
              "name": "error_type",
              "stringValue": "={{ $json.execution.error.description }}"
            },
            {
              "name": "stack_trace",
              "stringValue": "={{ $json.execution.error.stack }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        384,
        80
      ],
      "id": "15c2f487-de7c-4650-8e8a-8305a47fe4ba",
      "name": "Format API Error Data"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "error_message",
              "stringValue": "={{ $json.execution.error.message }}"
            },
            {
              "name": "failed_node",
              "stringValue": "={{ $json.execution.lastNodeExecuted }}"
            },
            {
              "name": "workflow_name",
              "stringValue": "={{ $json.workflow.name }}"
            },
            {
              "name": "workflow_id",
              "stringValue": "={{ $json.workflow.id }}"
            },
            {
              "name": "execution_id",
              "stringValue": "={{ $json.execution.id }}"
            },
            {
              "name": "timestamp",
              "stringValue": "={{ new Date().toISOString() }}"
            },
            {
              "name": "error_type",
              "stringValue": "GENERAL_ERROR"
            },
            {
              "name": "stack_trace",
              "stringValue": "={{ $json.execution.error.stack }}"
            },
            {
              "name": "severity",
              "stringValue": "MEDIUM"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        384,
        288
      ],
      "id": "703f6220-d72d-4713-944f-077770fb3a74",
      "name": "Format General Error Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/error_logs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"error_message\": {{ JSON.stringify($json.error_message) }},\n  \"failed_node\": {{ JSON.stringify($json.failed_node) }},\n  \"workflow_name\": {{ JSON.stringify($json.workflow_name) }},\n  \"workflow_id\": {{ JSON.stringify($json.workflow_id) }},\n  \"execution_id\": {{ JSON.stringify($json.execution_id) }},\n  \"timestamp\": {{ JSON.stringify($json.timestamp) }},\n  \"error_type\": {{ JSON.stringify($json.error_type) }},\n  \"stack_trace\": {{ JSON.stringify($json.stack_trace) }},\n  \"severity\": {{ JSON.stringify($json.severity) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        608,
        176
      ],
      "id": "eabb9024-4fd4-4188-8096-cc426d87ab9b",
      "name": "Log to Supabase",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "c7Dm1GTvLXkZ66Sz",
          "name": "Dev tim"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "subject",
              "stringValue": "=[{{ $json.error_type }}] Error in {{ $json.workflow_name }}"
            },
            {
              "name": "email_body",
              "stringValue": "==Workflow: {{ $json.workflow_name }}\nFailed Node: {{ $json.failed_node }}\nError: {{ $json.error_message }}\nSeverity: {{ $json.severity }}\nTime: {{ $json.timestamp }}\nExecution: {{ $json.execution_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        832,
        176
      ],
      "id": "2e9c4db0-f3ba-43da-aa6f-d1e1318ba7b7",
      "name": "Prepare Email Content"
    },
    {
      "parameters": {
        "sendTo": "sjoerd+n8nerror@falkoratlas.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.email_body }}",
        "options": {
          "bccList": "",
          "ccList": ""
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1056,
        176
      ],
      "id": "0292d6b2-9003-43d2-8dcf-581804f7cf0a",
      "name": "Send Email Alert",
      "webhookId": "7d2a699b-09cd-42d0-941a-60bd8e6ed0f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "sPpoSg9CO0fP31TB",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Check Error Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error Type": {
      "main": [
        [
          {
            "node": "Format API Error Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format General Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format API Error Data": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format General Error Data": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Supabase": {
      "main": [
        [
          {
            "node": "Prepare Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Content": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5c73828a-1ba8-4d9a-948a-a4ddb3a81da0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e7b430fdf0c0933b51e03975e465d1a7e5fdf56715539d5a6635a3c8f962dc4"
  },
  "id": "FbsruPbuZI2Fgtc8",
  "tags": []
}