n8n_aa/WF3.2_scoring_careers.json
{
  "name": "WF3.2_scoring_careers",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "outside_box_prompt_assignment",
              "name": "outside_box_prompt",
              "value": "=# ROLE\nYou are an expert career-matching system specializing in unconventional and non-traditional career paths that represent a \"True Pivot.\"\n\n# TASK\nBased on the candidate's profile (input 1) and personal interests (input 2), generate a list of **3** UNCONVENTIONAL! career options that the candidate likely hasn't considered.\n\n## SELECTION PRINCIPLES (The \"Unseen Pivot\" Layer)\n1. **The \"Semantic Distance\" Rule:** Do not suggest roles that are merely \"Fractional,\" \"Consulting,\" \"Board Member,\" or \"Advisory\" versions of their past work. If a role is found in the \"Already Presented\" list (input 3), it is NOT out of the box.\n2. **The Seniority Anchor:** Ensure the intellectual stimulus is on par with their education and experience. If they are an Executive or Senior Professional, do not suggest entry-level or purely manual roles (e.g., \"Tour Guide\" or \"Gardener\"). Instead, scale an interest to their professional caliber (e.g., \"Strategic Director for an International NGO\" or \"Chief of Staff for a Private Research Institute\").\n3. **Avoid Explicit Dream Jobs:** Do not suggest the specific \"Dream Jobs\" found in input 2. These are being handled in a separate feasibility step. Focus on the **Unimagined Pivot.**\n\n## GENERAL CONSIDERATIONS\n1. **Non-Desk or People-Centric Roles:** Include potential non-desk roles or careers that are highly people-centric based on candidate strengths and preferences.\n2. **AI Sustainability:** Do not recommend roles like Translator, Paralegal, Basic Graphic Designer, or basic Coding as these will not thrive in the age of AI.\n3. **Realistic Change:** Do not suggest roles requiring 4+ years of intensive retraining (e.g., Surgeon or Microbiologist). Focus on roles attainable through transferable skills, AI training, or attainable certificates.\n4. **Compensation:** If a job falls significantly below the desired minimum compensation mentioned in input 2, you must include a \"Heads-up\" mention at the end of the AI impact section.\n5. **Path Type Honesty:** When suggesting non-traditional careers, identify whether each is an employee role, independent practice (freelance/fractional), or founder (new business). Frame the realities honestly: founder paths have multi-year capital risk; freelance has income variability and pipeline work; employee paths have hiring cycles and political navigation. Do not gloss over the structural difference between these.\n\n# FORMAT AND STYLE\n- Provide exactly 3 careers in a numbered format.\n- **NO introductions or outros.** Start with \"1. [Job Title]\" immediately.\n- **DO NOT use the em dash (—)** in any part of your narrative. Use commas, colons, or parentheses instead.\n- **DO NOT use question numbers in your output!**\n\n# TONE:\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Shorter than Top 3 (these are backups)\n- Active voice, second person. Use 'you' and occasionally their name to adress them!\n\n### Structure for each career:\n[Career Title]\n\n**Overview**\n[2-sentence description of the role and its core responsibilities.]\n\n**Why this might be a fit**\n[Explain the \"Unseen\" connection. Why does the candidate's specific background and personality make them suitable in this field? Explain how this could fulfill their need for a new challenge or work-life balance without being a \"safe\" corporate move.]\n\n**Path Type & Reality**\n[Identify as employee / freelance_fractional / founder. State 1 sentence on the structural reality: capital build for founder, income variability for freelance, application context for employee.]\n\n**AI Impact on this role**\n[Rating: Minimal / Supporting / Substantial] : [1 sentence rationale regarding why human judgment or creativity is required.]\n[Heads-up: Mention if salary is significantly lower than target if applicable.]\n\n---\n\n\n# INPUTS\n- **1. Personlity Profile**\n{{ $('ShortHisProf').all()[1].json.personality_profile }}\n///\n\n- **2. Goals, history, Personal interests and what to avoid**\n{{ $json.text }}\n///\n\n- **3. Already discussed careers**\n{{ $('ShortHisProf').item.json.shortlist_careers }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        2448
      ],
      "id": "02a2194b-df58-4d84-bf8c-fcf13b4dbba6",
      "name": "Set Outside Box Prompt",
      "executeOnce": true
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4048,
        2240
      ],
      "id": "08f15689-128c-4af4-b10d-97f10b0e996f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('Pull Init Summary').first().json.report_id }}&select=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2240,
        1536
      ],
      "id": "abee049e-3e6e-4b2c-a04a-0a29c42fdfca",
      "name": "Pull enriched",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Atlas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst allItems = $input.all();\n\n// Debug the structure\nconsole.log(\"Total items:\", allItems.length);\n\n// Extract data from the complex nested structure\nlet careersData = [];\nlet reportId = \"\";\nlet initialSummary = \"\";\n\n// Process each item to find our data\nallItems.forEach((item, index) => {\n  console.log(`Item ${index} keys:`, Object.keys(item.json || {}));\n  \n  // Look for careers data\n  if (item.json?.Tit_co_RID_data) {\n    if (typeof item.json.Tit_co_RID_data === 'string') {\n      try {\n        careersData = JSON.parse(item.json.Tit_co_RID_data);\n      } catch (e) {\n        console.log(\"Error parsing careers data:\", e);\n      }\n    } else if (Array.isArray(item.json.Tit_co_RID_data)) {\n      careersData = item.json.Tit_co_RID_data;\n    }\n  }\n  \n  // Look for report ID\n  if (item.json?.[\"report id\"]) {\n    reportId = item.json[\"report id\"];\n  }\n  \n  // Look for initial summary\n  if (item.json?.[\"Initial Summary (output)\"]) {\n    initialSummary = item.json[\"Initial Summary (output)\"];\n  }\n});\n\n// Structure the final output with original field names\nconst result = {\n  \"report id\": reportId,\n  \"Initial Summary (output)\": initialSummary,\n  Tit_co_RID_data: careersData\n};\n\nconsole.log(\"Final result structure:\", {\n  has_report_id: !!result[\"report id\"],\n  has_summary: !!result[\"Initial Summary (output)\"],\n  careers_count: result.Tit_co_RID_data.length\n});\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3824,
        2240
      ],
      "id": "c2271a99-6146-497d-82bf-da3c8855003e",
      "name": "Add structure"
    },
    {
      "parameters": {
        "url": "=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/report_sections?report_id=eq.{{ $('Add structure').item.json['report id'] }}&section_type=in.(approach,strengths,development,values)&select=report_id,section_type,content\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1824,
        2144
      ],
      "id": "5b81a593-3be4-4683-be7c-458160d508fe",
      "name": "Pull Profile Sections",
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Atlas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get profile items from current input (5 items from Pull Profile Sections)\nconst profileItems = $input.all();\n\n// Define the desired order of sections\nconst sectionOrder = ['approach', 'strengths', 'development', 'values'];\n\n// Create a map for quick lookup of items by section_type\nconst itemMap = {};\nprofileItems.forEach(item => {\n  itemMap[item.json.section_type] = item.json.content;\n});\n\n// Combine content in the specified order\nconst combinedContent = sectionOrder\n  .filter(sectionType => itemMap[sectionType]) // Only include sections that exist\n  .map(sectionType => itemMap[sectionType])\n  .join('\\n\\n---\\n\\n');\n\nreturn [{\n  json: {\n    personality_profile: combinedContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        2144
      ],
      "id": "2b709cbc-a500-4205-9fd5-dacdbe09570f",
      "name": "Combine Profile sections"
    },
    {
      "parameters": {
        "jsCode": "// Career Ranking Code Node - Step 2 Compatible Version (with title dedup)\nconst allCareers = [];\n\n// Extract scored careers from Step 2 output\nfor (const item of $input.all()) {\n  const data = item.json;\n\n  if (data.scored_careers && Array.isArray(data.scored_careers)) {\n    allCareers.push(...data.scored_careers);\n  }\n  else if (data.text) {\n    try {\n      const cleanText = data.text.replace(/```json/gi, '').replace(/```/g, '').trim();\n      const parsed = JSON.parse(cleanText);\n      if (parsed.scored_careers && Array.isArray(parsed.scored_careers)) {\n        allCareers.push(...parsed.scored_careers);\n      }\n    } catch (e) {\n      console.error('Failed to parse text field:', e);\n      continue;\n    }\n  }\n  else if (data.CAI_scored_careers && Array.isArray(data.CAI_scored_careers)) {\n    for (const entry of data.CAI_scored_careers) {\n      if (entry.text) {\n        try {\n          const cleanText = entry.text.replace(/```json/gi, '').replace(/```/g, '').trim();\n          const parsed = JSON.parse(cleanText);\n          if (parsed.scored_careers && Array.isArray(parsed.scored_careers)) {\n            allCareers.push(...parsed.scored_careers);\n          }\n        } catch (e) {\n          continue;\n        }\n      } else if (entry.scored_careers && Array.isArray(entry.scored_careers)) {\n        allCareers.push(...entry.scored_careers);\n      } else if (entry.career_title) {\n        allCareers.push(entry);\n      }\n    }\n  }\n}\n\n// Extract final score (Step 2 structure, normalized to /100)\nconst getScore = (career) => {\n  let score = 0;\n  if (career.final_compatibility_score !== undefined) {\n    score = parseInt(career.final_compatibility_score, 10);\n    score = isNaN(score) ? 0 : score;\n  } else if (career.compatibility_score !== undefined) {\n    score = typeof career.compatibility_score === 'number'\n      ? career.compatibility_score\n      : parseInt(career.compatibility_score, 10);\n  }\n  return Math.round((score / 108) * 100);\n};\n\nconst getSummary = (career) => {\n  if (career.summary) {\n    return {\n      key_strengths: career.summary.key_strengths || '',\n      key_concerns: career.summary.key_concerns || ''\n    };\n  }\n  return {\n    key_strengths: career.key_strengths || '',\n    key_concerns: career.key_concerns || ''\n  };\n};\n\n// Score and sort\nconst sortedCareers = allCareers\n  .map(career => {\n    const summary = getSummary(career);\n    return {\n      ...career,\n      normalized_score: getScore(career),\n      extracted_strengths: summary.key_strengths,\n      extracted_concerns: summary.key_concerns\n    };\n  })\n  .sort((a, b) => b.normalized_score - a.normalized_score);\n\n// Title dedup pass — keep only the highest-scoring entry per unique title\nfunction normalizeTitle(str) {\n  if (!str) return '';\n  return str.toLowerCase().replace(/\\s+/g, ' ').trim();\n}\n\nconst seenTitles = new Set();\nconst dedupedCareers = [];\nconst droppedDuplicates = [];\n\nfor (const career of sortedCareers) {\n  const titleKey = normalizeTitle(career.career_title);\n  if (!titleKey) continue;\n\n  if (seenTitles.has(titleKey)) {\n    droppedDuplicates.push({\n      career_title: career.career_title,\n      company_size_type: career.company_size_type,\n      score: career.normalized_score\n    });\n    continue;\n  }\n\n  seenTitles.add(titleKey);\n  dedupedCareers.push(career);\n}\n\n// Assign ranks on the deduped list\nconst rankedCareers = dedupedCareers.map((career, index) => ({\n  ...career,\n  rank: index + 1\n}));\n\n// Slice Top 3 and Runner-ups (55+ threshold)\nconst top3 = rankedCareers.slice(0, 3);\nconst runnerUps = rankedCareers\n  .slice(3, 10)\n  .filter(career => career.normalized_score >= 55)\n  .slice(0, 4);\n\n// Format Top 3\nconst formattedTop3 = top3.map(career => ({\n  rank: career.rank,\n  career_title: career.career_title,\n  company_size_type: career.company_size_type || \"Unknown\",\n  compatibility_score: career.normalized_score,\n  step1_objective_score: career.step1_objective_score || \"N/A\",\n  pattern_analysis: career.step2_pattern_analysis || {},\n  penalties: career.penalties || {},\n  key_insights_applied: career.key_insights_applied || \"\",\n  key_strengths: career.extracted_strengths,\n  key_concerns: career.extracted_concerns,\n  justification: career.extracted_strengths && career.extracted_concerns\n    ? `${career.extracted_strengths} ${career.extracted_concerns}`\n    : `Strong alignment with ${career.normalized_score}% compatibility score.`\n}));\n\n// Format Runner-ups\nconst formattedRunnerUps = runnerUps.map(career => ({\n  rank: career.rank,\n  career_title: career.career_title,\n  company_size_type: career.company_size_type || \"Unknown\",\n  compatibility_score: career.normalized_score,\n  key_strengths: career.extracted_strengths,\n  brief_justification: career.extracted_strengths\n    ? career.extracted_strengths.substring(0, 200)\n    : `Strong alignment with ${career.normalized_score}% compatibility.`,\n  happiness_pattern: career.step2_pattern_analysis?.happiness_pattern_match?.pattern || \"N/A\",\n  burnout_risk: career.penalties?.burnout_risk?.risk_level || \"N/A\"\n}));\n\n// All ranked for context (Outside Box & Dream Job prompts) — also deduped\nconst allRankedForContext = rankedCareers.map(career => ({\n  rank: career.rank,\n  career_title: career.career_title,\n  company_size_type: career.company_size_type,\n  compatibility_score: career.normalized_score,\n  happiness_pattern: career.step2_pattern_analysis?.happiness_pattern_match?.pattern || \"N/A\",\n  burnout_risk: career.penalties?.burnout_risk?.risk_level || \"N/A\",\n  key_strengths: career.extracted_strengths?.substring(0, 100) || \"\"\n}));\n\nreturn [{\n  json: {\n    career_recommendations: {\n      report_generated: new Date().toISOString(),\n      top_3_careers: formattedTop3,\n      runner_up_careers: formattedRunnerUps,\n      all_ranked_careers: allRankedForContext,\n      summary: {\n        total_careers_evaluated: sortedCareers.length,\n        unique_titles_after_dedup: rankedCareers.length,\n        duplicates_dropped: droppedDuplicates.length,\n        dropped_duplicates: droppedDuplicates,\n        top_tier_count: top3.length,\n        runner_up_count: runnerUps.length,\n        careers_above_threshold: rankedCareers.filter(c => c.normalized_score >= 55).length,\n        careers_discarded: rankedCareers.length - rankedCareers.filter(c => c.normalized_score >= 55).length,\n        discarded_reason: \"Careers ranked 11+ or scoring below 55 have been excluded due to insufficient compatibility.\"\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        2112
      ],
      "id": "c422e40e-be17-4894-982b-e7f2705f76c6",
      "name": "Ranking"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function Node - Fast reordering for LLM consumption\n// No expensive formatting - LLMs handle mixed data formats well\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json.career_data || item.json;\n  \n  // Simple reordering - no array formatting or parsing\n  return {\n    json: {\n      // === PRIMARY INFORMATION ===\n      career_title: data.career_title,\n      overview: data.overview,\n      salary: data.salary,\n      company_size_type: data.company_size_type,\n      \n      // === CORE WORK DETAILS ===\n      typical_tasks: data.typical_tasks,\n      technical_skills: data.technical_skills,\n      soft_skills: data.soft_skills,\n      education_requirements: data.education_requirements,\n      \n      // === WORK ENVIRONMENT ===\n      work_schedule: data.work_schedule,\n      autonomy_vs_collaboration: data.autonomy_vs_collaboration,\n      client_interaction: data.client_interaction,\n      colleague_interaction: data.colleague_interaction,\n      \n      // === CAREER DEVELOPMENT ===\n      career_progression: data.career_progression,\n      motivational_factors: data.motivational_factors,\n      leadership_challenges: data.leadership_challenges,\n      \n      // === METADATA ===\n      id: data.id,\n      ai_impact_rating: data.ai_impact_rating,\n      created_at: data.created_at,\n      updated_at: data.updated_at\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        1536
      ],
      "id": "abaf76c5-5c36-4dc4-835e-a688541bdefc",
      "name": "content in order"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.outside_box_prompt }}",
        "batching": {}
      },
      "id": "01721e2c-db50-4ac6-a4bc-3bc1abf86368",
      "name": "Outside Of Box Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1200,
        2448
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Get report_id from upstream node\nconst reportId = $node[\"Pull Profile Sections\"].json.report_id;\n// Get the outside box careers text from the upstream node\nconst fullText = $json.text;\n\n// Subheaders to convert to h5 tags\nconst OUTSIDE_BOX_SUBHEADERS = [\n  \"Overview\",\n  \"Why this might be a fit\",\n  \"AI Impact on this role\"\n];\n\n// Function to format subheaders to h5 tags and bold AI rating\nfunction formatSubheaders(content) {\n  let formatted = content;\n  \n  // Convert subheaders to h5 tags\n  OUTSIDE_BOX_SUBHEADERS.forEach(subheader => {\n    // Match subheader with optional markdown bold (**), colon, or newline\n    const regex = new RegExp(`(^|\\\\n)\\\\*?\\\\*?${subheader}\\\\*?\\\\*?:?\\\\s*`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n  \n  // Bold the AI impact rating (e.g., \"Augmented -\", \"At Risk -\", \"Displaced -\")\n  formatted = formatted.replace(/\\n(Augmented|At Risk|Displaced|Enhanced|Transformed)(\\s*-)/gi, '\\n<strong>$1</strong>$2');\n  \n  // Clean up any leftover markdown bold markers\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '$1');\n  \n  return formatted.trim();\n}\n\n// Function to extract title and return cleaned content\nfunction parseCareer(content) {\n  const lines = content.trim().split('\\n');\n  let title = '';\n  let contentStartIndex = 0;\n  \n  // Look for title patterns\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    \n    // Match \"1. Title Name\" or \"#### 1. Title\" patterns\n    if (line.match(/^#{0,4}\\s*\\d+\\.\\s+.+$/)) {\n      title = line.replace(/^#{0,4}\\s*\\d+\\.\\s+/, '').trim();\n      contentStartIndex = i + 1;\n      break;\n    }\n  }\n  \n  // Skip empty lines after title\n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n  \n  // Get remaining content (everything after title)\n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatSubheaders(rawContent);\n  \n  return {\n    title: title || 'Outside Box Career',\n    content: formattedContent\n  };\n}\n\n// Split the content by career sections - matches \"1.\", \"2.\", \"3.\" at start of line\n// Uses lookahead to keep the delimiter with the following section\nconst careerSections = fullText.split(/(?=^\\d+\\.\\s+)/m);\n\n// Filter out empty sections and trim whitespace\nconst cleanSections = careerSections.filter(section => section.trim().length > 0);\n\n// Map each section to the required Supabase format\nconst records = cleanSections.map((section, index) => {\n  const parsed = parseCareer(section);\n  \n  return {\n    json: {\n      title: `<h3><strong>${parsed.title}</strong></h3>`,\n      content: parsed.content,\n      report_id: reportId,\n      section_type: \"outside_box\",\n      order_number: index + 1\n    }\n  };\n});\n\nreturn records;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        2448
      ],
      "id": "21b7f80d-3617-4870-b94e-9c2902a64d36",
      "name": "Parse OOB"
    },
    {
      "parameters": {
        "tableId": "report_sections",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2000,
        2448
      ],
      "id": "a1520a05-c67e-4865-9d60-45a09f7a5e10",
      "name": "Insert OOB ",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Atlas"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        2624
      ],
      "id": "daa85c15-7c04-410a-aa59-d89a2db6f3a3",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "TJBoqA8SVIj4Ikeq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98af9d96-fb78-4dad-aa57-d317c0def983",
              "name": "shortlist_careers",
              "value": "={{ JSON.stringify($items(\"Add structure\")[0].json[\"Tit_co_RID_data\"], null, 2) }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2768,
        1968
      ],
      "id": "9e8f6f46-df6e-4ec7-86a6-7562ef4c58c4",
      "name": "shortlist_careers",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "executeOnce": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -496,
        1696
      ],
      "id": "0b8276c9-e714-45ae-b88c-fbdceedb3d35",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TJBoqA8SVIj4Ikeq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\nYou are an expert data synthesizer.\n\n# TASK\nSynthesize the candidate's initial summary into a concise, narrative profile. Organize the profile using the provided headers. For each section, write a brief, insightful paragraph that weaves together the specified data points from the input.\n\nThe goal is to create a rich, human-readable summary that captures the story behind the data, not just the data itself.\n\n# PROFILE STRUCTURE\n\n### Personal Context\n\nWeave together the candidate's age (1c), current/most recent company size and culture (1j), and their role satisfaction (1k). Incorporate the \"reasons\" for their happiness score from 1k if provided to explain their current professional sentiment.\n\n### Previous Careers\n\nExtract and list the job titles held by the candidate from their Career History (1j) in a numbered list format. This serves as a record of roles to be excluded from future suggestions.\n\n### Personal Interests & Strengths\n\nSynthesize their proudest achievements (1l), personal hobbies (1m), and professional interests (4a) to paint a picture of what drives and engages them both in and out of work.\n\n### Career Goals & Aspirations\n\nCombine their short-term (7a) and long-term (7b) goals with their primary reason for the assessment (1e) and current career barriers (7c). Incorporate their attitude towards skill development (7d, 7e) to describe their overall career trajectory and ambition.\n\n### Career Constraints & Avoidances\n\nSummarize the specific work aspects (3h) and industries (4g) the candidate wants to avoid. Frame this as their professional boundaries or \"non-negotiables.\"\n\n### Compensation & Work Preferences\n\nDescribe their ideal work arrangement by combining their schedule preference (3d) and work environment preference (2g) with their views on salary. Explain the relationship between salary's importance (3e), their desired range (3f), and what aspect of compensation matters most to them (3g).\n\n### Dream Jobs\n\nState their dream job aspirations (4h) directly and briefly connect them to their broader interests or values if relevant.\n\n### Report ID\n{{ $('Pull Init Summary').item.json.report_id }}\n\n---\n\n# EXAMPLE OUTPUT\n\n### Personal Context\n\nNatasha is a 35-year-old executive currently operating in high-impact leadership roles, including a Fractional VP People position at a boutique HR consultancy. While she currently rates her happiness at an 8/10 due to the autonomy and exciting nature of her new challenges, her overall sentiment is shaped by a history of demanding roles in the Startup and Corporate sectors.\n\n### Previous Careers\n\n* Fractional VP People\n* Supervisory Board Member\n* Strategic Finance\n* VP, Chief of Staff - CEO & Founder\n* Head of Operations, Finance & People\n\n### Personal Interests & Strengths\n\nHer professional identity is anchored in strategic execution, notably evidenced by leading a successful $30M Series B fundraising round. She possesses a unique blend of skills in Strategic Planning, Finance, and HR Department Start-ups. Outside the office, Natasha recharges through bouldering and reading, while her professional interests in Social Sciences and Executive Education highlight a deep commitment to understanding organizational culture and human behavior.\n\n### Career Goals & Aspirations\n\nCurrently, Natasha is at a pivotal crossroads, seeking a career change to address burnout and re-establish a healthy work-life balance. Her short-term focus is on gaining experience in new industries or exploring entrepreneurial ventures. Long-term, she is driven by a quest for complete autonomy and financial independence. While she is an avid learner—targeting development in Leadership, Communication, and Entrepreneurship—her primary barrier remains uncertainty regarding the specific \"next step\" in her trajectory.\n\n### Career Constraints & Avoidances\n\nNatasha has established firm professional boundaries, explicitly seeking to avoid finance-heavy tasks like budgeting and analysis, as well as sales-driven roles. Her industry \"no-go\" zones include Finance, Banking, Manufacturing, and Legal professions, as she moves away from highly structured or repetitive environments.\n\n### Compensation & Work Preferences\n\nEfficiency and structure are central to Natasha's ideal environment; she prefers a standard 9-to-5 schedule within a structured organization that provides clear guidelines. She views salary as a moderate priority, targeting a range of 100,000–150,000, with a strong preference for a high base salary that reflects her level of seniority and impact.\n\n### Dream Jobs\n\nYoga instructor, Non-Fiction Writer, Academic / Lecturer\n\n### Report ID\nf3ba4b05-xxxx etc\n\n---\n\n# INPUT:\n\n{{ $('Pull Init Summary').item.json.content }}\n\n\n",
        "batching": {}
      },
      "id": "92457172-046c-4c0a-8418-c6321daf6306",
      "name": "Extract Interests and history",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -240,
        2448
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1744,
        2272
      ],
      "id": "9db39be9-0f7a-4c67-aad4-8f39b5c784f5",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "TJBoqA8SVIj4Ikeq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cai_score_prompt_assignment",
              "name": "cai_score_prompt",
              "value": "=# CAREER OBJECTIVE COMPATIBILITY SCORER\n\n## CRITICAL: READ CANDIDATE'S ACTUAL DATA\n\nDifferent candidates have different values for [1l], [2a], [3a], [2g], [3h], etc.\n\n**Always:**\n1. Extract the ACTUAL value from Initial Summary for each reference\n2. Apply logic based on THAT specific value\n3. Use IF/THEN conditions (e.g., IF [2a] = \"Drained\" THEN... / IF [2a] = \"Energized\" THEN...)\n\n**Never assume everyone has the same preferences, skills, or constraints.**\n\n---\n\n## ROLE\nEvaluate objective compatibility between candidate's documented qualifications and career requirements.\n\n## TASK\nScore factual alignment on 0-64 scale across four dimensions. Focus on: Can they do this job? Do they meet requirements? Do hard facts align?\n\n## INPUT DATA\n\nYou receive:\n1. **Candidate Initial Summary** - Structured survey responses with reference codes [1a]-[7e]\n2. **Enriched Career Profile** - Role details from database including:\n   - career_title, overview, company_size_type\n   - typical_tasks, technical_skills, soft_skills\n   - work_schedule, autonomy_vs_collaboration\n   - client_interaction, colleague_interaction\n   - salary, education_requirements\n   - motivational_factors, leadership_challenges\n   - careers are presented in batches. Min 2, max 3 batches of max 5 careers each. Run for each item.\n\n---\n\n\n## SCORING FRAMEWORK\n\n### **1. Skills & Education Match (/23)**\n\n**Extract from Initial Summary:**\n- Top Skills [1l]\n- Notable Achievements [1l]\n- Specialized Knowledge [4d]\n- Education Level [1f]\n- Field of Study [1g]\n\n**Compare against career requirements:**\n- technical_skills: Does candidate's [1l] include these or closely related skills?\n- soft_skills: Evidence from [1l] achievements or background?\n- education_requirements: Does [1f, 1g] meet minimum?\n\n**Scoring guide:**\n- 24-27: Top skills from [1l] directly match career needs, education exceeds requirements\n- 19-23: Relevant skills from [1l], education meets requirements\n- 13-18: Transferable skills from [1l], education adequate\n- 7-12: Skills gap, education borderline\n- 0-6: Major skills gap, education insufficient\n\n**Example citation:**\n\"Career requires 'Strategic planning and financial modeling.' Candidate's top skills [1l] include 'Strategic Planning' and notable achievement 'Led $30M Series B fundraising' demonstrates financial capability.\"\n\n---\n\n### **2. Values Alignment (/12)**\n\n**Extract from Initial Summary:**\n- Ranked Career Values [3a] (top 3)\n- Value Alignment Importance [3b]\n- Salary Bracket [3f]\n- Pay Priority [3g]\n- Preferred Culture [4c]\n\n**Compare against career:**\n- motivational_factors: Align with candidate's top 3 from [3a]?\n- salary: Meets candidate's minimum from [3f]?\n- company_size_type: Matches culture preference from [4c]?\n\n**Scoring guide:**\n- 10-12: Top 3 values from [3a] clearly delivered, salary meets/exceeds [3f]\n- 7-9: 2 of top 3 values delivered, salary adequate\n- 4-6: 1 of top 3 values delivered, salary borderline\n- 0-3: Values misaligned, salary insufficient\n\n**Example citation:**\n\"Candidate's top values [3a]: Autonomy, Work-Life Balance, Job Satisfaction. Career offers 'High autonomy' and 'flexible schedule' (delivers 2 of 3). Salary €120K meets candidate's €100-150K range [3f]. Score: 10/12.\"\n\n---\n\n### **3. Work Preferences (/14)**\n\n**CRITICAL: Check Sentiment Log [1k] FIRST**\n\nReview [1k] for roles with similar characteristics:\n- What was happiness score?\n- What feedback did they give?\n- Does current/recent work validate or contradict this concern?\n\n**Extract from Initial Summary:**\n- Schedule Preference [3d] (values: \"Standard 9-to-5\" / \"Flexible hours\" / \"Irregular or project-based\")\n- Environment Structure [2g] (values: \"Highly Structured\" / \"Leaning Structure\" / \"Leaning Flexibility\" / \"Highly Flexible\")\n- Team Size [5c] (values: \"Solo\" / \"Small (2-5)\" / \"Medium (6-15)\" / \"Large (16+)\")\n- Social Energy [2a] (values: \"Energized\" / \"Drained\" / \"Neutral\")\n- Colleague Interaction Preference [6f]\n- Personal Constraints [1n]\n\n**Compare against career:**\n- work_schedule: Match [3d]?\n- company_size_type: Match [2g] structure preference?\n- colleague_interaction: Match [2a] social energy?\n- client_interaction: Check [3h] avoidances and [1k] validation\n- Respect [1n] constraints?\n\n**SCORING CONSISTENCY RULE:**\nAlign score with violation severity:\n- High severity violation = 0-5/14\n- Medium severity violation = 6-10/14\n- Low severity violation = 11-13/14\n- No violations = 13-14/14\n\n---\n\n### **4. Interest Match (/17)**\n\n**Extract from Initial Summary:**\n- Interests [4a]\n- Workshop Topics [4f]\n- Hobbies [1m]\n- Dream Jobs [4h]\n\n**Extract themes from [4h]:**\n\nCommon theme patterns (extract from actual [4h], don't assume):\n- Teaching-oriented (teacher, professor, coach) → knowledge-sharing, autonomy, structured delivery\n- Creative (artist, writer, designer) → creativity, independence, self-expression\n- Helping (therapist, counselor, nurse) → empathy, impact, one-on-one support\n- Adventure (travel blogger, pilot) → freedom, variety, exploration\n- Entrepreneurial (business owner, consultant) → autonomy, control, building\n- Physical/Outdoors (athlete, ranger, yoga instructor) → movement, nature, escape from desk\n- Academic (professor, researcher) → deep expertise, intellectual challenge\n\n**Compare career against:**\n- typical_tasks: Align with [4a] interests?\n- motivational_factors: Resonate with [4f] workshop topics or [1m] hobbies?\n- Delivers themes from [4h]?\n\n**Scoring guide:**\n- 10-11: Career tasks match [4a] directly, dream themes from [4h] present\n- 7-9: Interests from [4a] somewhat relevant\n- 4-6: Tangential connection to [4a]\n- 0-3: Unrelated to [4a]\n\n---\n\n## HARD CONSTRAINT VIOLATIONS\n\n### **Social Energy & Interaction Mismatch**\n\n**Extract [2a] value:**\n- \"Energized\" / \"Drained\" / \"Neutral\"\n\n**Compare to career's colleague_interaction:**\n\n**IF [2a] = \"Drained\":**\n- Very High interaction → HIGH severity (unless [1k] shows ≥7/10 in similar role)\n  - Detail: \"Career requires 'Very High' colleague interaction (daily CEO/CFO collaboration). Candidate reports [2a]: 'Drained' by social interaction, needs alone time.\"\n- High interaction → MEDIUM severity\n  - Detail: \"Career requires 'High' interaction. Candidate [2a]: 'Drained' by social interaction.\"\n- Moderate/Low → LOW or none\n\n**IF [2a] = \"Energized\":**\n- Very High/High interaction → POSITIVE (no violation)\n  - Note: \"Career's 'High' interaction aligns well with candidate's [2a]: 'Energized' by social contact.\"\n- Low interaction → May flag isolation concern (MEDIUM severity)\n  - Detail: \"Career has 'Low' interaction. Candidate [2a]: 'Energized' by social interaction, may find isolating.\"\n\n**IF [2a] = \"Neutral\":**\n- Interaction level less critical\n\n**Validation with [1k]:**\n```\nCheck: Is candidate currently in role with similar interaction?\n- Yes + happiness ≥7/10 → Reduce severity or remove violation\n- Yes + happiness ≤6/10 → Confirms concern, keep severity\n- No similar experience → Apply standard severity\n```\n\n---\n\n### **Schedule & Work-Life Balance Violations**\n\n**Extract:**\n- Schedule Preference [3d]\n- Constraints [1n] (may include: young children, burnout history, health conditions, caregiving, etc.)\n\n**Compare career's work_schedule:**\n\n**Flag as violation if:**\n- Career: \"50+ hours/week\" AND [1n] has constraints (children/burnout/health)\n- Career: \"evening and weekend work\" AND [3d]: \"Standard 9-to-5\"\n- Career: \"intense travel\" AND [1n] has constraints\n- Clear mismatch between [3d] and work_schedule\n\n**Validate with [1k]:**\n- Currently works similar schedule with ≥7/10 happiness → NOT a violation\n- [1k] mentions schedule problems → CONFIRMED violation\n\n**Severity:**\n- HIGH: 50+ hours + demanding + [1n] constraints present\n- MEDIUM: Some conflict with [3d] or [1n]\n- LOW: Minor mismatch, no [1n] constraints\n\n---\n\n### **Structure vs Chaos Violations**\n\n**Extract [2g] value:**\n- \"Highly Structured\" / \"Leaning Structure\" / \"Leaning Flexibility\" / \"Highly Flexible\"\n\n**IF [2g] = \"Highly Structured\" or \"Leaning Structure\":**\n\nCheck [1k] for startup/chaos feedback:\n- Negative comments about chaos → confirmed concern\n- Positive structured environment experience → reinforces preference\n\nFlag if:\n- company_size_type: early-stage \"Startup\" (Seed/Series A/B)\n- work_schedule: mentions \"ambiguity,\" \"fast-changing,\" \"chaos\"\n\nSeverity:\n- HIGH: Series A startup + [1k] shows explicit negative chaos feedback\n- MEDIUM: Scale-up/Series C+ (more structure but dynamic)\n- LOW: Established company with \"startup culture\"\n\n**IF [2g] = \"Leaning Flexibility\" or \"Highly Flexible\":**\n\nDon't flag startups as violation. Instead:\n- Check if career is overly bureaucratic corporate\n- Flag if too rigid for flexibility-seeker\n- Detail: \"Career in established corporate with defined processes. Candidate [2g]: 'Highly Flexible' preference, may find too rigid.\"\n\nSeverity: MEDIUM for highly bureaucratic environment\n\n---\n\n### **Team Size Violations**\n\n**Extract [5c] value:**\n- \"Solo\" / \"Small (2-5)\" / \"Medium (6-15)\" / \"Large (16+)\"\n\n**Flag if mismatch:**\n\n**IF [5c] = \"Solo\" or \"Small\":**\n- Large team management (10+ reports) → MEDIUM severity\n- Constant coordination across departments → MEDIUM severity\n\n**IF [5c] = \"Large\":**\n- Solo/independent work → MEDIUM severity\n- Small team (2-5) → LOW severity\n\n---\n\n## DEALBREAKER VIOLATIONS\n\n**Extract from Initial Summary:**\n- Avoided Work Aspects [3h] (list, may be multiple or empty)\n- Avoided Industries [4g] (list, may be multiple or empty)\n\n### **INTERPRETING [3h] AVOIDANCES:**\n\nFor each item in [3h], assess if career violates it:\n\n#### **Pattern: \"Sales, negotiation, or client-facing roles\"**\n\n✅ **Flag IF:**\n- Sales-oriented: closing deals, revenue targets, contracts\n- typical_tasks: \"Business development,\" \"Sales pipeline,\" \"Client acquisition\"\n\n❌ **Don't flag IF:**\n- Advisory client work (coaching, consulting, strategic guidance)\n- Candidate currently does advisory client work with ≥7/10 happiness [1k]\n\n**Validation:**\nCheck [1k] and [1j] - if candidate does advisory client work successfully, distinguish sales vs advisory\n\n#### **Pattern: \"Finance-related work\"**\n\n✅ **Flag IF:**\n- 60%+ finance execution: daily modeling, accounting, bookkeeping\n- typical_tasks: \"P&L management,\" \"Financial reporting,\" \"Budget tracking,\" \"Variance analysis\"\n\n❌ **Don't flag IF:**\n- Strategic finance: fundraising, M&A strategy, board-level oversight\n- Finance peripheral (10-20% of role)\n- Check [1j]: Has candidate done strategic finance successfully?\n\n**Context check:**\nIf [1k] shows low happiness in finance role, execution drains them. If [1l] shows finance achievements (fundraising), strategic finance may be okay.\n\n#### **Pattern: \"Limited learning or growth opportunities\"**\n\n✅ **Flag IF:**\n- Highly repetitive tasks\n- No career_progression path\n- motivational_factors lack growth/challenge themes\n\n#### **Pattern: \"Management or leadership responsibilities\"**\n\n✅ **Flag IF:**\n- Direct reports required\n- typical_tasks: \"Performance reviews,\" \"Team development,\" \"Hiring\"\n\n#### **For other [3h] items:**\n- Check typical_tasks for keywords\n- Assess centrality: 60%+ (major) / 30-50% (moderate) / 10-20% (minor)\n- Check [1k] if similar work done before\n\n**Severity:**\n- Major: 15-20 penalty (60%+ of role)\n- Moderate: 10-15 penalty (30-50% of role)\n- Minor: 5-10 penalty (10-20% of role)\n\n---\n\n### **INTERPRETING [4g] INDUSTRY AVOIDANCES:**\n\nCheck if career's industry matches [4g] list:\n- Flag if explicitly in avoided industry\n- Check company_size_type, sector context\n\n**Example:**\n```\n[4g]: \"Finance and Banking,\" \"Healthcare\"\nCareer: Financial Services company\n→ Flag: \"Career in Finance and Banking industry, explicitly avoided [4g].\"\n```\n\n---\n\n## OUTPUT FORMAT\n\nReturn JSON only (no intro/outro):\n```json\n{\n  \"career_title\": \"[Career Title]\",\n  \"company_size_type\": \"[Size] / [Type]\",\n  \"objective_scores\": {\n    \"skills_education\": \"[X/27]\",\n    \"values\": \"[X/12]\",\n    \"work_preferences\": \"[X/14]\",\n    \"interests\": \"[X/11]\"\n  },\n  \"objective_total\": \"[Sum, max 64]\",\n  \"hard_constraint_violations\": [\n    {\n      \"type\": \"[social_energy_mismatch / schedule_conflict / structure_vs_chaos / team_size_mismatch]\",\n      \"severity\": \"[low / medium / high]\",\n      \"detail\": \"[Cite career field and candidate's actual value: 'Candidate's [2a]: Drained' not just 'Candidate is drained'. Include [1k] validation if relevant.]\"\n    }\n  ],\n  \"dealbreaker_violations\": [\n    {\n      \"aspect\": \"[Exact text from [3h] or [4g]]\",\n      \"conflict\": \"[How typical_tasks violate it. Specific tasks. Cite candidate's avoidance.]\",\n      \"severity\": \"[minor / moderate / major based on centrality]\"\n    }\n  ],\n  \"contextual_notes\": [\n    \"[Context from [1k] for Step 2]\",\n    \"[e.g., 'Candidate currently in [role] with similar [characteristic] (happiness X/10, reason: [quote]) [1k, 1j]']\",\n    \"[e.g., 'Career requires [X] which candidate successfully does in current role [1k]']\"\n  ],\n  \"passes_basic_requirements\": \"[true if no MAJOR dealbreakers AND objective_total ≥35, false otherwise]\"\n}\n\n\nSo for all this becomes:\n\n{\n  \"scored_careers\": [\n    {\n      \"career_title\": \"Career 1\",\n      \"objective_scores\": {...}\n    },\n    {\n      \"career_title\": \"Career 2\",\n      \"objective_scores\": {...}\n    }\n  ],\n  \"total_careers_scored\": \"[count]\"\n}\n\n\n---\n\n## CRITICAL SCORING PRINCIPLES\n\n### **1. Extract Actual Values First**\n\nNever assume:\n- What [1l] skills are\n- Whether [2a] is Energized or Drained\n- What [3a] top values are\n- Whether [2g] wants structure or flexibility\n- What [4h] dream jobs are\n- What [3h, 4g] avoidances are\n\nRead the actual value, then apply logic.\n\n---\n\n### **2. Use [1k] to Validate Violations**\n\nBefore flagging \"high severity\":\n- Check if currently doing similar work\n- What happiness score?\n- What feedback?\n\nIf similar work scores ≥7/10 happiness → reduce severity or remove violation\n\n---\n\n### **3. Align Scores with Violations**\n\n- HIGH severity → 0-5/14\n- MEDIUM severity → 6-10/14\n- LOW severity → 11-13/14\n\nNever score 7/12 with \"high severity\" violation (contradictory)\n\n---\n\n### **4. Check for Inverse Cases**\n\nSome candidates WANT what others avoid:\n- [2a] \"Energized\" → WANT high interaction\n- [2g] \"Highly Flexible\" → WANT startups, not rigid structure\n- [5c] \"Large\" → WANT big teams\n\nDon't just check if career has X - check if candidate wants or avoids X.\n\n---\n\n### **5. Provide Context for Step 2**\n\ncontextual_notes examples:\n- \"Candidate currently does [similar work] (happiness X/10, '[exact quote]') [1k]\"\n- \"Candidate's [1k]: '[exact feedback about X]' - confirms concern\"\n- \"Career requires [X] which candidate does successfully in current role [1k, 1j]\"\n- \"[3h] includes '[avoidance]' but [1k] shows [similar work] scored [X]\"\n\n---\n\n### **6. Score Objectively**\n\nBase on candidate's data:\n- Their [1l] vs requirements\n- Their [1f, 1g] vs requirements\n- Their [3d, 2g, 5c] vs career\n\nDon't infer \"most people\" or \"seems intense\" - only score THIS candidate's fit.\n\n---\n\n## FINAL CHECKLIST\n\nBefore outputting:\n\n✅ Extracted candidate's ACTUAL [1l], [2a], [3a], [3d], [2g], [4h], [3h], [4g] values\n✅ Did NOT assume everyone is \"Drained\" or wants \"Structure\"\n✅ Checked [1k] before flagging violations\n✅ Applied IF/THEN logic for [2a], [2g] variations\n✅ work_preferences score aligns with violation severity\n✅ Provided contextual_notes with [1k] validation\n✅ Dealbreakers cite candidate's actual [3h]/[4g] items\n✅ Citations reference actual values: \"Candidate's [2a]: 'Energized'\" not \"Candidate is energized\"\n✅ Used \"true\"/\"false\" strings for passes_basic_requirements\n✅ check if you ran all careers\n\nCRITICAL: Score ALL careers provided in the Enriched Career Profile input.\nIf multiple careers are in the batch, output ALL of them in the \"scored_careers\" array.\nDo not stop after scoring the first career.\n\n---\n\n# INPUT\n\n1. Candidate Initial Summary\n{{ $json.init_summary }}\n\n\n---\n\n2. Enriched Career Profile\n{{ JSON.stringify($node[\"BatchingOC\"].json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        1536
      ],
      "id": "ad4c08ce-cc59-4268-80ea-b43d3db89119",
      "name": "Objective Compat score",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.cai_score_prompt }}",
        "batching": {}
      },
      "id": "8847d748-2e56-4a6f-847c-4d718df99c56",
      "name": "OC Score",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -496,
        1536
      ],
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1280,
        2608
      ],
      "id": "c9140b11-0ad2-47ac-831c-d689c46f3df9",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "TJBoqA8SVIj4Ikeq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract content for [1k], [1j], [1n] and nothing else\n\nInput:\n{{ $json.content }}\n",
        "batching": {}
      },
      "id": "0477ff55-0796-4e49-82a4-09da215c5188",
      "name": "Extract 1k-n",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1296,
        2464
      ],
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/report_sections?report_id=eq.{{ $('Add structure').item.json['report id'] }}&section_type=in.(init_summary)&select=report_id,section_type,content\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3600,
        2240
      ],
      "id": "33b4127c-47d5-4932-b396-49def42cc8c8",
      "name": "Pull Init Summary",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Atlas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get careers from direct input\nconst careers = $input.all().map(item => item.json);\n\n// Get init summary from the other node (no direct connection needed)\nconst initSummaryContent = $(\"Pull Init Summary\").first().json.content || '';\n\nconst batchSize = 5;\nconst batches = [];\n\nfor (let i = 0; i < careers.length; i += batchSize) {\n  const careerBatch = careers.slice(i, i + batchSize);\n\n  batches.push({\n    json: {\n      careers: careerBatch,\n      init_summary: initSummaryContent,\n      batch_info: {\n        batch_number: Math.floor(i / batchSize) + 1,\n        total_batches: Math.ceil(careers.length / batchSize),\n        careers_in_batch: careerBatch.length\n      }\n    }\n  });\n}\n\nreturn batches;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        1536
      ],
      "id": "c7fbf023-a005-4dc8-89c2-ea90d70d888c",
      "name": "BatchingOC",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8db8d5a-f6d0-49da-8034-8124ae5cdd99",
              "name": "1k-1n extract",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        2464
      ],
      "id": "e3a774e5-f56b-488c-99fd-b7f65e5139a3",
      "name": "Renaming 1k-1n"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Step 1 scores",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -160,
        1536
      ],
      "id": "12baac99-3636-4feb-972f-1ee0d9ab0b28",
      "name": "Step 1 scores"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Step 2 analysis (patterns)'] }}",
        "batching": {}
      },
      "id": "c6fce1ad-6410-43eb-820d-4f75ba109b74",
      "name": "Step 2 - Final Score",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1712,
        2112
      ],
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd190ceb-5eab-450f-ad03-2c60b2904caa",
              "name": "=Step 2 analysis (patterns)",
              "value": "=# CAREER PATTERN FIT & PERSONAL RISK ANALYZER\n\n## ROLE\nEvaluate whether candidate will THRIVE in pre-scored roles based on personality patterns and career history. You are building on Step 1's objective assessment to add pattern-based insights.\n\n## TASK  \nAnalyze fit quality using personality insights and happiness patterns. Focus on: Should they do this job? Will they burn out? Does it match their trajectory?\n\n## INPUT DATA STRUCTURE\n\nYou receive a combined input containing:\n\n1. **Step 1 Objective Scores** (per career) - includes:\n   - objective_total (0-64 score)\n   - objective_scores breakdown\n   - hard_constraint_violations (with severity levels)\n   - dealbreaker_violations\n   - contextual_notes (critical validation info)\n\n2. **Candidate Personality Analysis** - 4 narrative sections:\n   - Personality and Interaction Style\n   - Identifying Your Core Strengths\n   - Understanding Potential Growth Areas\n   - Identifying Your Core Values\n   - Each section ends with a **Key Insight** (critical patterns)\n\n3. **Relevant Candidate Personality Traits** - extracted data:\n   - Sentiment Log [1k] (happiness scores + reasons)\n   - Career History [1j]\n   - Constraints [1n]\n\n4. **Enriched Career Profiles** - full role details for each career being scored\n\n**Your job:** Score EVERY career in the input. Output one analysis per career.\n\n---\n\n## ANALYSIS FRAMEWORK\n\nFor each career, perform these four analyses:\n\n### **1. Happiness Pattern Matching (/20 points)**\n\n**From Relevant Candidate Personality Traits, review Sentiment Log:**\n- Which roles scored 8-10/10? What specific reasons did they give?\n- Which roles scored 5-7/10? What problems did they mention?\n- Which roles scored 0-4/10? What went seriously wrong?\n\n**Pattern matching:**\n- Does THIS career's structure match the 8-10/10 roles? (advisory vs operational, periodic vs always-on, etc.)\n- Or does it recreate conditions from 5-7/10 roles? (chaos, intensity, interpersonal drain, etc.)\n\n**Check Career History trajectory:**\n- Are recent roles showing increasing or decreasing happiness?\n- What direction is the trend? (operational → advisory, corporate → startup, etc.)\n- Does this career extend the positive trend or reverse it?\n\n**Scoring:**\n- 16-20 points: Career closely matches 8-10/10 happiness pattern structure\n- 11-15 points: Career has some elements of high-happiness roles\n- 6-10 points: Career is neutral or mixed (some good, some concerning elements)\n- 0-5 points: Career recreates 5-7/10 low-happiness role structure\n\n**Example citation:**\n\"Sentiment Log shows 'Supervisory Board Member: 9/10 happiness - easy, interesting, well paid advisory work.' This Portfolio Board career extends that exact model: periodic engagement (quarterly meetings), advisory not operational, clear boundaries. Strong pattern match: 18/20.\"\n\n---\n\n### **2. Burnout Risk Assessment (-0 to -15 penalty)**\n\n**Extract burnout indicators from Personality Analysis Key Insights:**\n- Look for statements about what causes burnout/exhaustion/drain\n- Common patterns: role design issues, interpersonal demands, intensity without boundaries, authority gaps\n\n**Cross-reference with Step 1 violations:**\n- Review Step 1's hard_constraint_violations\n- Which violations indicate burnout risk?\n  - HIGH severity social_energy_mismatch\n  - HIGH severity schedule_conflict + constraints [1n]\n  - Multiple HIGH severity violations together\n\n**Check Career Profile for burnout triggers:**\n- work_schedule: demanding hours, variable intensity, travel\n- colleague_interaction + client_interaction: constant engagement needs\n- leadership_challenges: does it require capabilities candidate struggles with?\n\n**Validate with Sentiment Log:**\n- Did similar role structures cause low happiness scores?\n- Did previous roles with similar demands result in \"exhaustion\" or \"burnout\" feedback?\n\n**Penalty assessment:**\n- **No penalty (0):** No burnout risk indicators, or career actively mitigates known triggers\n- **Low penalty (-3 to -5):** Minor burnout risk factors present but manageable\n- **Medium penalty (-6 to -10):** Multiple burnout triggers present, recreates some problem patterns\n- **High penalty (-11 to -15):** Career directly recreates known burnout conditions from low-happiness roles\n\n**Example citation:**\n\"HIGH BURNOUT RISK (-12 points): Personality Key Insight states 'burnout from role design - operational leadership requiring constant interpersonal management.' This VP Strategy role requires 'Very High colleague interaction daily with CEO/CFO' (Step 1 flagged HIGH severity violation) + 50+ hours + previous VP Chief of Staff role with similar dynamics scored 7/10 with 'pure exhaustion and frustration' (Sentiment Log). Career recreates exact burnout pattern.\"\n\n---\n\n### **3. Strengths Application (/14 points)**\n\n**From Personality Analysis \"Identifying Your Core Strengths\":**\n- What are their top demonstrated skills?\n- What's their competitive advantage or unique pattern?\n- What achievements did they enjoy and why?\n\n**Check Career Profile:**\n- Do typical_tasks use their demonstrated strengths?\n- Does overview match their competitive advantage?\n- Do motivational_factors align with what energized them in past achievements?\n\n**Cross-reference with Sentiment Log:**\n- In high-happiness roles (8-10/10), what skills were they using?\n- Does this career use those same capabilities?\n\n**Scoring:**\n- 12-14 points: Career directly leverages core strengths and competitive advantage\n- 9-11 points: Career uses relevant strengths\n- 5-8 points: Career uses some transferable skills\n- 0-4 points: Career doesn't tap into their key strengths\n\n**Example citation:**\n\"Personality Analysis identifies 'transition specialist' as core competitive advantage - someone who orchestrates high-stakes organizational transitions using multi-functional expertise. This Executive Coach career directly applies this: guiding founders through scaling transitions (motivational_factors: 'navigating growth'), using strategic advisory skills. Sentiment Log shows Series B fundraising achievement (multi-skill, high-stakes) was highly enjoyed. Strong application: 13/14.\"\n\n---\n\n### **4. Trajectory Fit (/10 points)**\n\n**From Personality Analysis Key Insights (especially Values section):**\n- What trajectory guidance is provided?\n- Is there a revealed vs stated preference mismatch?\n- What direction leads to higher satisfaction?\n\n**From Career History + Sentiment Log:**\n- What's the recent happiness trajectory? (increasing/decreasing/stable)\n- What role types show increasing satisfaction?\n- What role types show decreasing satisfaction?\n\n**Assess this career:**\n- Does it continue the direction of INCREASING happiness?\n- Does it extend a proven high-satisfaction model?\n- Or does it return to a proven low-satisfaction model?\n\n**Check for status vs sustainability conflicts:**\n- Do Key Insights suggest candidate wants one thing but needs another?\n- Does career offer what they SAY they want or what actually makes them happy?\n\n**Scoring:**\n- 9-10 points: Career perfectly extends proven high-happiness trajectory\n- 7-8 points: Career aligns with positive trajectory direction\n- 4-6 points: Career is lateral move, unclear trajectory impact\n- 0-3 points: Career reverses positive trajectory or repeats proven failures\n\n**Example citation:**\n\"Trajectory analysis: Recent roles show movement from operational (VP Chief of Staff: 7/10, Strategic Finance: 5/10) toward advisory (Supervisory Board: 9/10, Fractional VP: 7/10). Happiness increasing as role structure shifts to periodic engagement. Personality Key Insight confirms: 'moving from operational leadership → advisory/fractional roles.' This Portfolio Board career extends the 9/10 advisory model. Perfect trajectory fit: 10/10.\"\n\n---\n\n### **5. Development Area Conflicts (-0 to -15 penalty)**\n\n**From Personality Analysis \"Understanding Potential Growth Areas\":**\n- What hindrances or challenges are listed?\n- What capabilities does candidate struggle with?\n- What feedback or interpersonal challenges exist?\n\n**Check Career Profile:**\n- Do typical_tasks REQUIRE these struggled-with capabilities as CORE functions?\n- Do leadership_challenges map directly to their development gaps?\n\n**Severity assessment:**\n- **No penalty (0):** Role doesn't require development areas, or uses them minimally\n- **Low penalty (-3 to -5):** Role uses development areas but not as core functions\n- **Medium penalty (-6 to -10):** Role requires development areas regularly\n- **High penalty (-11 to -15):** Role's core functions are candidate's key hindrances\n\n**Example citation:**\n\"Development conflict (-10 points): Personality Analysis lists 'Difficulty delegating' and 'Taking on too much responsibility' as key hindrances. This Principal Consultant role requires managing large consulting teams and 'delegation is essential to success' per career_progression notes. Core conflict between role requirement and stated development gap.\"\n\n---\n\n## INTEGRATION WITH STEP 1\n\n**Critical: Use Step 1's work, don't redo it**\n\nStep 1 already assessed:\n- ✅ Skills match\n- ✅ Values alignment\n- ✅ Work preferences violations\n- ✅ Interest match\n- ✅ Dealbreaker violations\n\n**Your job is to ADD pattern-based insights, not re-score these.**\n\n**Use Step 1's contextual_notes:**\nThese contain critical validation info like:\n- \"Candidate currently does similar work (happiness X/10)\"\n- \"Previous role feedback: [exact quote]\"\n- \"Career requires X which candidate does successfully\"\n\n**Reference these in your analysis.**\n\n**Use Step 1's violations to inform penalties:**\n- HIGH severity social_energy_mismatch → likely medium-high burnout penalty\n- Multiple HIGH violations → likely high burnout penalty\n- LOW severity violations → likely low or no penalty\n\n---\n\n## FINAL SCORE CALCULATION\n```\nFinal Score = Step 1 Objective Score (0-64)\n            + Happiness Pattern Match (0-20)\n            + Strengths Application (0-14)\n            + Trajectory Fit (0-10)\n            - Burnout Risk Penalty (0-15)\n            - Development Conflicts (0-15)\n            \nMaximum possible: 64 + 20 + 14 + 10 = 108\nRealistic top score: ~90-95 (some penalties usually apply)\n```\n\n---\n\n## OUTPUT FORMAT\n\nReturn JSON with NO intro/outro text. Score EVERY career provided:\n```json\n{\n  \"scored_careers\": [\n    {\n      \"career_title\": \"[Career Title]\",\n      \"company_size_type\": \"[Size] / [Type]\",\n      \"step1_objective_score\": \"[X/64 from Step 1]\",\n      \"step2_pattern_analysis\": {\n        \"happiness_pattern_match\": {\n          \"score\": \"[X/20]\",\n          \"pattern\": \"[extends 9/10 pattern / recreates 5/10 pattern / neutral]\",\n          \"reasoning\": \"[Cite specific Sentiment Log entries. Quote happiness scores and reasons. Explain structural similarity.]\"\n        },\n        \"strengths_application\": {\n          \"score\": \"[X/14]\",\n          \"reasoning\": \"[Cite Personality Analysis strengths section. Reference competitive advantage. Connect to career typical_tasks.]\"\n        },\n        \"trajectory_fit\": {\n          \"score\": \"[X/10]\",\n          \"reasoning\": \"[Cite Career History trend. Reference Key Insights about trajectory. Explain if career extends or reverses positive trend.]\"\n        }\n      },\n      \"penalties\": {\n        \"burnout_risk\": {\n          \"penalty\": \"[-X points, 0 to -15]\",\n          \"risk_level\": \"[LOW / MODERATE / HIGH]\",\n          \"reasoning\": \"[Cite Key Insights about burnout. Reference Step 1 violations. Connect to Sentiment Log low-happiness feedback. Explain specific triggers.]\"\n        },\n        \"development_conflicts\": {\n          \"penalty\": \"[-X points, 0 to -15]\",\n          \"reasoning\": \"[Cite specific hindrances from Personality Analysis. Explain how career requires these as core functions. Reference leadership_challenges if relevant.]\"\n        }\n      },\n      \"final_compatibility_score\": \"[Sum: step1 + happiness + strengths + trajectory - burnout - development]\",\n      \"key_insights_applied\": \"[Which Key Insights from Personality Analysis were most relevant to this assessment?]\",\n      \"summary\": {\n        \"key_strengths\": \"[2-3 sentences: Why this career fits well. Cite personality patterns, happiness data, trajectory alignment.]\",\n        \"key_concerns\": \"[2-3 sentences: Why this might not work. Cite burnout risks, pattern mismatches, development conflicts.]\"\n      }\n    }\n  ],\n  \"batch_metadata\": {\n    \"total_careers_scored\": \"[count]\",\n    \"scoring_date\": \"[timestamp]\"\n  }\n}\n```\n\n---\n\n## CRITICAL PRINCIPLES\n\n### **1. Every Career Gets a Full Analysis**\n\nDon't stop at the first career. Score ALL careers in the input, even if some have terrible Step 1 scores. Every career needs:\n- Happiness pattern assessment\n- Burnout risk evaluation\n- Strengths fit analysis\n- Trajectory check\n- Final score\n\n### **2. Use Step 1's Contextual Notes**\n\nStep 1 provides validation like:\n```json\n\"contextual_notes\": [\n  \"Candidate currently in similar fractional role (7/10 happiness) [1k, 1j]\"\n]\n```\n\n**Reference this:** \"Step 1 notes candidate currently does similar work (7/10), validating that fractional model is proven workable despite interaction demands.\"\n\n### **3. Quote Specific Sentiment Log Entries**\n\nDon't say: \"Board work made them happy\"\nSay: \"Sentiment Log: 'Supervisory Board Member: 9/10 - easy, interesting, well paid advisory work'\"\n\n### **4. Connect Patterns Across Data Sources**\n\nGood analysis connects:\n- Personality Key Insight: \"burnout from role design\"\n- Sentiment Log: VP Chief of Staff 7/10 \"pure exhaustion\"\n- Step 1 violation: HIGH severity social_energy_mismatch\n- This career: Requires \"Very High\" daily interaction\n\n**Conclusion:** \"Career recreates exact burnout pattern from previous role.\"\n\n### **5. Be Honest About Concerns**\n\nIf a career looks good objectively but has major pattern red flags, say so:\n- \"Strong skills match (21/23) but HIGH burnout risk due to intensity recreating previous exhaustion pattern.\"\n\nDon't inflate scores just because Step 1 was high.\n\n---\n\n## EXAMPLES OF GOOD vs BAD ANALYSIS\n\n### **GOOD - Portfolio Board Member:**\n```json\n{\n  \"happiness_pattern_match\": {\n    \"score\": \"18/20\",\n    \"pattern\": \"extends 9/10 pattern\",\n    \"reasoning\": \"Sentiment Log: 'Supervisory Board Member: 9/10 - easy, interesting, well paid advisory work.' This Portfolio Board career has identical structure: periodic engagement (quarterly meetings vs current quarterly), advisory not operational, clear boundaries, high autonomy. Step 1 contextual notes confirm 'current board role validates high-level advisory work.' Pattern match is nearly perfect, only minor difference is managing 3-5 boards vs current 1.\"\n  }\n}\n```\n\n**Why good:**\n- Quotes exact Sentiment Log entry\n- Explains structural similarity clearly\n- References Step 1 validation\n- Explains the 18/20 (not 20/20) reasoning\n\n### **BAD - Portfolio Board Member:**\n```json\n{\n  \"happiness_pattern_match\": {\n    \"score\": \"20/20\",\n    \"reasoning\": \"Candidate likes board work so this is a perfect match.\"\n  }\n}\n```\n\n**Why bad:**\n- No Sentiment Log citation\n- No structural analysis\n- No explanation of \"perfect\" score\n- Doesn't explain what about board work they liked\n\n---\n\n### **GOOD - VP Strategy Burnout Assessment:**\n```json\n{\n  \"burnout_risk\": {\n    \"penalty\": \"-12\",\n    \"risk_level\": \"HIGH\",\n    \"reasoning\": \"Multiple burnout triggers: (1) Personality Key Insight: 'burnout from role design - operational leadership requiring constant interpersonal management.' (2) Step 1 flagged HIGH severity social_energy_mismatch: career requires 'Very High' colleague interaction daily with CEO/CFO. (3) Sentiment Log shows VP Chief of Staff (similar C-suite interaction pattern) scored 7/10 with 'pure exhaustion and frustration with CEO dynamic.' (4) Career work_schedule: 50+ hours/week conflicts with constraints [1n]: parent of young children, burnout history. This career recreates the exact operational intensity + interpersonal drain + authority ambiguity that caused previous 5-7/10 roles. HIGH risk.\"\n  }\n}\n```\n\n**Why good:**\n- Cites multiple data sources\n- Connects pattern across sources\n- References Step 1 findings\n- Explains specific triggers\n- Shows this recreates known problem\n\n### **BAD - VP Strategy Burnout Assessment:**\n```json\n{\n  \"burnout_risk\": {\n    \"penalty\": \"-5\",\n    \"risk_level\": \"MODERATE\",\n    \"reasoning\": \"Role is demanding and candidate has young children.\"\n  }\n}\n```\n\n**Why bad:**\n- Doesn't cite Personality Analysis\n- Ignores Sentiment Log evidence\n- Doesn't reference Step 1 violations\n- Penalty (-5) doesn't match described risk\n- No pattern analysis\n\n---\n\n## FINAL CHECKLIST\n\nBefore outputting, verify:\n\n✅ I scored EVERY career in the input (not just one)\n✅ I quoted specific Sentiment Log entries with happiness scores\n✅ I referenced Personality Analysis Key Insights\n✅ I used Step 1's contextual_notes\n✅ I connected Step 1 violations to burnout risk assessment\n✅ I explained all scores with specific reasoning\n✅ I cited data sources (Sentiment Log, Key Insights, Step 1 notes)\n✅ My penalties align with severity (HIGH risk = -11 to -15, not -5)\n✅ Output is valid JSON with scored_careers array\n\nNow proceed to score all careers in the input.\n\n---\n\n# INPUT\n\n{{ JSON.stringify($json['Step 2 input'], null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        2112
      ],
      "id": "998fe78b-b354-4f05-a157-7282add7da67",
      "name": "Step 2 analysis",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -976,
        1968
      ],
      "id": "078f1320-40b4-422d-81da-83373dab8144",
      "name": "ShortHisProf"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1200,
        2608
      ],
      "id": "21e7771a-8839-4a1d-95a3-6f315c24527e",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "gGM2sOHB72WgN7UU",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all data WF4 needs and pass directly (no Supabase intermediary)\nconst ranking = $('Ranking').first().json;\nconst reportId = $('Add structure').first().json['report id'];\nconst initSummaryContent = $('Pull Init Summary').first().json.content;\nconst interestsText = $('Extract Interests and history').first().json.text;\nconst oobText = $('Outside Of Box Analysis').first().json.text || '';\n\nconst top3 = ranking.career_recommendations?.top_3_careers || [];\nconst runnerUps = ranking.career_recommendations?.runner_up_careers || [];\nconst allRanked = ranking.career_recommendations?.all_ranked_careers || [];\n\nreturn [{\n  json: {\n    report_id: reportId,\n    top_3_careers: top3,\n    runner_up_careers: runnerUps,\n    all_ranked_careers: allRanked,\n    interests_history_text: interestsText,\n    top_3_careers_str: JSON.stringify(top3, null, 2),\n    runner_up_careers_str: JSON.stringify(runnerUps, null, 2),\n    outside_box_careers_str: oobText,\n    init_summary_content: initSummaryContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        2112
      ],
      "id": "8a4550cc-6131-451e-9220-56786fc71d59",
      "name": "Prep WF4 data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pXlzC6vuG7TO28oQ",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "passthrough",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2960,
        2112
      ],
      "id": "520f4de2-ada4-4960-a100-955d342cf670",
      "name": "Execute WF4 Content Gen"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2464,
        2112
      ],
      "id": "5f83c15f-d15a-4be4-9132-974a63defa35",
      "name": "Wait for Ranking + OOB"
    },
    {
      "parameters": {
        "jsCode": "// Pull all four inputs explicitly. n8n waits for each referenced\n// node to finish before this code runs, so we get them all in sync.\n\nconst enrichedCareers = $('content in order').all().map(i => i.json);\nconst step1Output = $('Step 1 scores').first().json['Step 1 scores'] || [];\nconst personality = $('Combine Profile sections').first().json;\nconst sentimentExtract = $('Renaming 1k-1n').first().json;\n\nreturn [{\n  json: {\n    \"Step 2 input\": [\n      { \"1k-1n extract\": sentimentExtract.text || sentimentExtract['1k-1n extract'] || sentimentExtract },\n      { \"Step 1 scores\": step1Output },\n      { \"personality_profile\": personality.personality_profile || personality },\n      { \"enriched_careers\": enrichedCareers }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        2112
      ],
      "id": "2dd4293a-2392-43f3-885b-2d67d1bc3a9d",
      "name": "Code in JavaScript",
      "executeOnce": true
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        2080
      ],
      "id": "9a612cf3-aa84-46a2-9f9e-ae5624e06ec2",
      "name": "Merge"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Tit_co_RID_data": [
            {
              "career_title": "Chief People Officer",
              "company_size_type": "Medium (51-200) / Scale-up"
            },
            {
              "career_title": "Chief People Officer",
              "company_size_type": "Large (201-1000) / Corporate"
            },
            {
              "career_title": "Fractional Chief People Officer",
              "company_size_type": "Small (11-50) / Startup"
            },
            {
              "career_title": "Independent Supervisory Board Member (Portfolio)",
              "company_size_type": "Medium (51-200) / Scale-up"
            },
            {
              "career_title": "VP People Strategy & Organisational Effectiveness",
              "company_size_type": "Large (201-1000) / Corporate"
            },
            {
              "career_title": "Executive Coach (Senior Leaders & Founders)",
              "company_size_type": "Own Company / Boutique"
            },
            {
              "career_title": "Organisational Design & People Strategy Consultant",
              "company_size_type": "Large (201-1000) / Agency / Consultancy"
            },
            {
              "career_title": "Chief of Staff to CEO (Technology Sector)",
              "company_size_type": "Medium (51-200) / Scale-up"
            },
            {
              "career_title": "Head of People & Culture (Mission-Driven Tech or EdTech)",
              "company_size_type": "Medium (51-200) / Scale-up"
            },
            {
              "career_title": "People Analytics & HR Technology Lead",
              "company_size_type": "Large (201-1000) / Corporate"
            },
            {
              "career_title": "Facilitator & Programme Designer - Leadership Development",
              "company_size_type": "Large (201-1000) / Agency / Consultancy"
            },
            {
              "career_title": "Thought Leadership Writer & Content Strategist",
              "company_size_type": "Own Company / Boutique"
            },
            {
              "career_title": "Boutique Education Business Founder",
              "company_size_type": "Own Company / Boutique"
            },
            {
              "career_title": "VP Talent & People at a VC or Growth Equity Firm",
              "company_size_type": "Small (11-50) / Boutique"
            },
            {
              "career_title": "Director of People Science & Behavioural Insights",
              "company_size_type": "Large (201-1000) / Corporate"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "report id": "c725e198-2f10-49d6-9740-bcb79ec6bf4c"
        },
        "pairedItem": {
          "item": 1
        }
      }
    ]
  },
  "connections": {
    "Set Outside Box Prompt": {
      "main": [
        [
          {
            "node": "Outside Of Box Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Add structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull enriched": {
      "main": [
        [
          {
            "node": "content in order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add structure": {
      "main": [
        [
          {
            "node": "Pull Init Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Profile Sections": {
      "main": [
        [
          {
            "node": "Combine Profile sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Profile sections": {
      "main": [
        [
          {
            "node": "ShortHisProf",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ranking": {
      "main": [
        [
          {
            "node": "Wait for Ranking + OOB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "content in order": {
      "main": [
        [
          {
            "node": "BatchingOC",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Outside Of Box Analysis": {
      "main": [
        [
          {
            "node": "Parse OOB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OOB": {
      "main": [
        [
          {
            "node": "Insert OOB ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Interests and history",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "shortlist_careers": {
      "main": [
        [
          {
            "node": "Pull enriched",
            "type": "main",
            "index": 0
          },
          {
            "node": "ShortHisProf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert OOB ": {
      "main": [
        [
          {
            "node": "Wait for Ranking + OOB",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OC Score",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Interests and history": {
      "main": [
        [
          {
            "node": "Set Outside Box Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Step 2 - Final Score",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Objective Compat score": {
      "main": [
        [
          {
            "node": "OC Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OC Score": {
      "main": [
        [
          {
            "node": "Step 1 scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Extract 1k-n",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract 1k-n": {
      "main": [
        [
          {
            "node": "Renaming 1k-1n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Init Summary": {
      "main": [
        [
          {
            "node": "shortlist_careers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pull Profile Sections",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract 1k-n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BatchingOC": {
      "main": [
        [
          {
            "node": "Objective Compat score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renaming 1k-1n": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Step 1 scores": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2 - Final Score": {
      "main": [
        [
          {
            "node": "Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2 analysis": {
      "main": [
        [
          {
            "node": "Step 2 - Final Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ShortHisProf": {
      "main": [
        [
          {
            "node": "Extract Interests and history",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Outside Of Box Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Ranking + OOB": {
      "main": [
        [
          {
            "node": "Prep WF4 data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep WF4 data": {
      "main": [
        [
          {
            "node": "Execute WF4 Content Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Step 2 analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "FbsruPbuZI2Fgtc8",
    "availableInMCP": false
  },
  "versionId": "2a856766-9c54-4a9e-b78b-a7e463ea3e30",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e7b430fdf0c0933b51e03975e465d1a7e5fdf56715539d5a6635a3c8f962dc4"
  },
  "id": "LJA5JPHvnqhA36Oh",
  "tags": []
}