n8n_aa/WF4 Career selection.json
{
  "name": "WF4 Career selection",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        624
      ],
      "id": "00fd4800-c6cf-4041-b181-2e68d256c752",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Prep top 3 data + build RPC body for Pull enriched T3\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst careers = trigger.top_3_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  top_3_careers: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        320
      ],
      "id": "6e935502-866a-4cac-9079-cd3e4127695d",
      "name": "Top 3 only"
    },
    {
      "parameters": {
        "url": "=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        320
      ],
      "id": "3b09e205-22b1-4349-afe9-3c847948daf3",
      "name": "Pull enriched T3",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Function Node - Fast reordering for LLM consumption\n// No expensive formatting - LLMs handle mixed data formats well\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json.career_data || item.json;\n  \n  // Simple reordering - no array formatting or parsing\n  return {\n    json: {\n      // === PRIMARY INFORMATION ===\n      career_title: data.career_title,\n      overview: data.overview,\n      salary: data.salary,\n      company_size_type: data.company_size_type,\n      \n      // === CORE WORK DETAILS ===\n      typical_tasks: data.typical_tasks,\n      technical_skills: data.technical_skills,\n      soft_skills: data.soft_skills,\n      education_requirements: data.education_requirements,\n      \n      // === WORK ENVIRONMENT ===\n      work_schedule: data.work_schedule,\n      autonomy_vs_collaboration: data.autonomy_vs_collaboration,\n      client_interaction: data.client_interaction,\n      colleague_interaction: data.colleague_interaction,\n      \n      // === CAREER DEVELOPMENT ===\n      career_progression: data.career_progression,\n      motivational_factors: data.motivational_factors,\n      leadership_challenges: data.leadership_challenges,\n      \n      // === METADATA ===\n      id: data.id,\n      ai_impact_rating: data.ai_impact_rating,\n      created_at: data.created_at,\n      updated_at: data.updated_at\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        320
      ],
      "id": "29a56169-5299-4425-8ab7-c6fea3cb2c7d",
      "name": "t3 content order"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "top3_enriched_combined",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        320
      ],
      "id": "e919bf19-4cbf-4311-9dc1-e8c94b5eefc9",
      "name": "T3 enr. combined"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "top_3_careers_prompt_assignment",
              "name": "top_3_careers_prompt",
              "value": "=# Hyper-Personalized Top 3 Careers Generator\n\nYou are Cairnly, creating personalized career insights. Tone: business casual, direct, honest. Connect everything to their actual happiness data, constraints, and patterns.\n\n---\n\n## Output Structure (Each Career):\n\n# [career_title] 'e.g. Program Manager'\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n## Why this role fits you\n[80-120 words!: Quote sentiment log scores/reasons. Reference pattern analysis (extends X/10 or recreates Y/10). Briefly explain why this company type/size works for them specifically. Keep to 2-4 sentence paragraphs.]\n\nExample: \"You rated your Supervisory Board role 9/10 calling it 'easy, interesting, well paid advisory work.' This extends that exact model. The medium-sized startup environment matches your preference for fluid structure without corporate drag.\"\n\n## What you'll actually do\n[3-4 bullets, 80-100 words total. Pull from typical_tasks in enriched data. Frame through their lens — connect tasks to their skills and interests. make the lable bold!, elabotation regular]\n\n- [Task framed through their experience/skills]\n- [Task connected to what energizes them]\n- [Task that uses their specific background]\n\n## What works for you\n[3-4 bullets, 80-100 words total]\n\n✓ **[Benefit tied to their data].** [1-2 sentences why]\n\nExamples:\n- ✓ **Clear boundaries.** Intermittent schedule works with young children, preventing \"pure exhaustion\" from your Chief of Staff role.\n- ✓ **High autonomy.** Your top value. No CEO dynamics that caused 7/10 frustration.\n\n## The Reality Check\n[2-4 bullets, 80-110 words total. Vary the count per career. Do not default to 4.]\n\n⚠ **[Challenge specific to THIS career].** [1-2 sentences]\n\nEvery bullet must surface a risk specific to this career and this person. Before writing each one, ask: \"Could this exact bullet be pasted onto a different career?\" If yes, sharpen it or cut it.\n\nRules:\n- Lead with the risk most unique to this career's market, role, or path. Not a generic personality trait.\n- You may use ONE personality or development gap per career, and only when it sharpens a career-specific risk. Do NOT reuse the same personality flag across careers. If \"difficulty receiving feedback\" anchored career 1, use a different angle for careers 2 and 3.\n- Do NOT mention money, income variability, or time-to-stable-income here. That lives only in \"The practical stuff > Money\". The Reality Check covers behavioral, market, and role risks, not the salary timeline.\n- No false balance. If a career has only 2 real risks, write 2.\n\nExamples (each tied to a specific market or role, not a generic trait):\n- ⚠ **Directory fatigue is real.** The AI tools space is flooded with low-quality directories. Differentiation needs consistent, opinionated takes, which makes your \"Creative Storytelling\" strength the moat, not a nice-to-have.\n- ⚠ **Finance oversight is unavoidable.** You avoid \"finance-related work\" but boards require P&L review. Based on Strategic Finance (5/10), this is tolerable but not energizing.\n- ⚠ **Business development never stops.** You close this month and still need next quarter's pipeline. Discovery calls and founder networking are the job, alongside delivery.\n\n**Special cases:**\n- **If founder / freelance_fractional / Own Company / Boutique:** one bullet must cover the client acquisition or business development load, framed as a behavioral and workload reality. Do NOT frame it as income timing.\n- **If HIGH burnout risk:** lead with the burnout warning and adjust the bottom line.\n- **If recreates low pattern:** address it in \"Why this role fits you\", not here.\n\n## The practical stuff\n\n**Money:** [Salary range, or day rate / revenue model, in the region's currency.] [One sentence: does it hit their target bracket? For freelance_fractional or founder, this is also where income variability and realistic time-to-stable-income or build horizon belong.] Do not open with \"No salary data\". If there is no fixed salary, state the day-rate range or revenue model directly.\n\n**Schedule:** [Work schedule] [One sentence: work with constraints?]\n\n**Energy:** [Interaction level] [One sentence: match social energy?]\n\n**Growth:** [1 sentence on career_progression from enriched data. Where does this lead?]\n\n## How AI will impact this role\n[2-3 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Safe** (Low Impact): Role relies on physical dexterity, deep human empathy, or irreplaceable human accountability. AI is a reference tool at best. Think: skilled trades, emergency services, executive leadership, therapy.\n- **Augmented** (Moderate Impact): AI handles heavy lifting on data, research, and first drafts. The human becomes editor, strategist, and final decision-maker. Productivity rises significantly but the human remains essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **Transforming** (High Impact): The majority of the role's execution shifts to AI. The human must fundamentally retrain to manage AI agents rather than do the work directly. Role scope and headcount will shrink. Think: financial analysis, marketing execution, QA testing, mid-level project management.\n- **At Risk** (Severe Impact): The core deliverables of this role can be fully automated by agentic AI with higher speed, accuracy, and lower cost. Remaining human involvement is supervisory at best. Think: data entry, basic customer support, standard reporting, routine translation, first-line content writing.\n\n## Alignment with your ambitions\n[40-60 words: Does this align with their trajectory? What's the catch? Be honest.]\n\nExample: \"This extends your 9/10 happiness model. Main obstacle: building 3-5 board seats requires networking you historically avoid.\"\n\n**More details about this role can be viewed in your dashboard after this chat.**\n\n---CAREER_SPLIT---\n\n## Path Type Framing (Critical for honesty)\n\nEach enriched career has a `path_type` field: `employee`, `freelance_fractional`, or `founder`. Some legacy careers may have `null` or `\"N/A\"` — treat those as `employee`.\n\nThe path_type fundamentally shapes how the candidate must approach this career. Adjust framing accordingly:\n\n**employee** — applying for a role at someone else's company.\n- \"What you'll actually do\" describes role-defined responsibilities\n- \"The practical stuff → Schedule\" is the company's standard expectation\n- \"Alignment with your ambitions\" describes typical next titles or growth paths\n\n**freelance_fractional** — independent contractor, fractional exec, advisor, board member.\n- \"What you'll actually do\" includes pipeline, contracting, and self-marketing alongside delivery\n- \"The practical stuff → Money\" notes income variability and time-to-stable-income\n- \"The Reality Check\" must include a client acquisition or business development bullet, framed as a behavioral and workload reality. Do NOT put income variability here. That belongs in Money.\n\n**founder** — starting a company or solo practice with capital and time risk.\n- \"What you'll actually do\" includes selling, hiring, financing, and building product/service alongside doing the work\n- \"The practical stuff → Money\" must mention 1-3 year build horizon and validation period before stable income\n- \"The Reality Check\" must include capital risk and the \"validate before quitting\" reality, framed as a risk-tolerance and decision question. Keep the build-horizon timeline itself in Money, not here.\n- \"Alignment with your ambitions\" describes scaling, exiting, or evolving the model — not climbing a ladder\n\nUse the `path_type_notes` field from the enriched career as the source of truth for path-specific honesty (income horizons, validation requirements). Quote or paraphrase it where natural rather than inventing framing.\n\n## Writing Rules:\n\n**Tone:**\n- Direct: \"This gives you X\" not \"provides an opportunity\"\n- No hedging: \"You'll struggle with Y\" not \"might present challenges\"\n- Short paragraphs (2-4 sentences)\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n- **DO NOT use question numbers in your output!**\n- Checkmarks ✓ and warning ⚠ symbols in bold!\n* if using bulletpoints, make the bullet lable bold for readability and emphasis \n\n**Avoid:**\n- Flattery: valuable, impressive, exceptional, unique, perfect\n- Corporate: serves you well, positions you, meaningful impact, leverage\n- Qualifiers: \"The fact that...\", \"It's worth noting...\"\n- Mixing currencies. Stick with the regions currency, consistently!\n\n**Required connections (every career):**\n- 2+ sentiment log [1k] quotes with scores\n- Top values [3a]\n- 1+ constraint [1n] or preference [2a, 2g, 3d]\n- 1 development gap from Personality Analysis\n- Pattern analysis (extend/recreate)\n- Compatibility score always in XX/100 e.g. 92/100 format!\n\n**Target: 500-600 words per career**\n\n---\n\n## Inputs:\n\n**CAI Score Analysis (incl compatibility score):**\n\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.top_3_careers) }}\n}\n\n**Top 3 Enriched Careers:**\n{{ JSON.stringify($json.top3_enriched_combined) }}\n\n**Initial Summary:**\n{{ $('When Executed by Another Workflow').first().json.init_summary_content }}\n\n\n---\n\nGenerate all 3 careers now. Use \"---CAREER_SPLIT---\" between (not before first or after last).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        320
      ],
      "id": "0dc071d6-177a-4b34-8a43-9858905577b6",
      "name": "T3 Careers Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.top_3_careers_prompt }}",
        "batching": {}
      },
      "id": "90a9edcd-78bc-4e2c-8e06-0d4294939ab3",
      "name": "Top 3 Careers Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1120,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the input text\nconst fullText = $json.text;\n// Get report_id from trigger\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\n\n// Subheaders to convert to h5 tags (must match ACTUAL AI output headers)\nconst CAREER_SUBHEADERS = [\n  \"Why this role fits you\",\n  \"What you'll actually do\",\n  \"What works for you\",\n  \"The Reality Check\",\n  \"The practical stuff\",\n  \"How AI will impact this role\",\n  \"Alignment with your ambitions\"\n];\n\n\n// Function to convert subheaders to h5 tags\nfunction formatSubheaders(content) {\n  let formatted = content;\n  \n  // Convert ## headers to h5 tags\n  formatted = formatted.replace(/^## (.+)$/gm, '<h5>$1</h5>');\n  \n  // Also convert bold-only subheaders from the predefined list\n  CAREER_SUBHEADERS.forEach(subheader => {\n    const regex = new RegExp(`(^|\\\\n)\\\\*\\\\*${subheader}\\\\*\\\\*:?\\\\s*`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n  \n  // Clean up any leftover markdown bold markers\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '$1');\n  \n  return formatted.trim();\n}\n\n// Function to extract career metadata and clean content\nfunction parseCareer(careerText) {\n  const lines = careerText.trim().split('\\n');\n  let title = '';\n  let alternateTitles = '';\n  let companySizeType = '';\n  let score = null;\n  let contentStartIndex = 0;\n  \n  // Parse first few lines for metadata\n  for (let i = 0; i < Math.min(15, lines.length); i++) {\n    const line = lines[i].trim();\n    \n    // Extract title - ONLY single # (career title), not ## (subheaders)\n    if (line.match(/^# [^#]/) ) {\n      title = line.replace(/^# /, '').trim();\n      contentStartIndex = i + 1;\n    } else if (line.match(/^-?\\s*Title:/i)) {\n      title = line.replace(/^-?\\s*Title:\\s*/i, '').trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n    \n    // Extract alternate titles\n    if (line.match(/^\\*\\*Alternative titles:\\*\\*/i) || line.match(/^-?\\s*\\*?Alternate titles:/i)) {\n      const altMatch = line.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n      if (altMatch) {\n        alternateTitles = altMatch[1].trim();\n        companySizeType = altMatch[2].trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      } else {\n        alternateTitles = line\n          .replace(/^-?\\s*\\*?\\*?Alternative titles:\\*?\\*?\\s*/i, '')\n          .replace(/^-?\\s*\\*?Alternate titles:\\*?\\s*/i, '')\n          .replace(/\\*/g, '')\n          .trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      }\n    }\n    \n    // Extract company size - standalone \"At:\" line\n    if (line.match(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i) && !line.match(/Alternative titles/i)) {\n      companySizeType = line\n        .replace(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i, '')\n        .replace(/\\*\\*/g, '')\n        .trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n    \n    // Extract compatibility score\n    const scoreMatch = line.match(/\\*?\\*?Compatibility score:\\s*(\\d+)\\/100\\*?\\*?/i);\n    if (scoreMatch) {\n      score = parseInt(scoreMatch[1], 10);\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n  }\n  \n  // Skip empty lines after metadata\n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n  \n  // Get remaining content and format subheaders\n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatSubheaders(rawContent);\n  \n  return {\n    title: `<h3><strong>${title || 'Career Option'}</strong></h3>`,\n    alternate_titles: alternateTitles ? `<strong>Alternate titles:</strong> ${alternateTitles}` : '',\n    company_size_type: companySizeType ? `<h4><strong>${companySizeType}</strong></h4>` : '',\n    content: formattedContent,\n    score: score\n  };\n}\n\n// Split by separator\nconst splitCareers = fullText.split('---CAREER_SPLIT---');\n\n// Validate we have 3 parts\nif (splitCareers.length !== 3) {\n  throw new Error(`Expected 3 careers but found ${splitCareers.length}`);\n}\n\n// Parse each career\nconst career1 = parseCareer(splitCareers[0]);\nconst career2 = parseCareer(splitCareers[1]);\nconst career3 = parseCareer(splitCareers[2]);\n\n// Map to structured output with all required fields\nreturn [\n  { \n    json: { \n      title: career1.title,\n      alternate_titles: career1.alternate_titles,\n      company_size_type: career1.company_size_type,\n      content: career1.content,\n      score: career1.score,\n      report_id: reportId,\n      section_type: \"top_career_1\", \n      order_number: 1\n    } \n  },\n  { \n    json: { \n      title: career2.title,\n      alternate_titles: career2.alternate_titles,\n      company_size_type: career2.company_size_type,\n      content: career2.content,\n      score: career2.score,\n      report_id: reportId,\n      section_type: \"top_career_2\", \n      order_number: 2\n    } \n  },\n  { \n    json: { \n      title: career3.title,\n      alternate_titles: career3.alternate_titles,\n      company_size_type: career3.company_size_type,\n      content: career3.content,\n      score: career3.score,\n      report_id: reportId,\n      section_type: \"top_career_3\", \n      order_number: 3\n    } \n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        320
      ],
      "id": "6ec14eac-d42e-401b-8355-85a51316a71b",
      "name": "Split Top3"
    },
    {
      "parameters": {
        "tableId": "report_sections",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1696,
        320
      ],
      "id": "ce0fdb6d-73f4-43b4-9371-894a311f1ff9",
      "name": "Insert Top 3",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prep runner up data + build RPC body for Pull Runner up\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst careers = trigger.runner_up_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  runner_up: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        624
      ],
      "id": "c9cf1e8e-6af5-425e-ba00-f7cb58200d87",
      "name": "4-10 only"
    },
    {
      "parameters": {
        "url": "=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        624
      ],
      "id": "835c25f1-9bbf-4015-a054-3c89ed7cd621",
      "name": "Pull Runner up",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all items into one item\nconst allItems = $input.all();\nconst allCareers = allItems.map(item => item.json);\n\nreturn [{ \n  json: { \n    allCareers: allCareers,\n    careerCount: allCareers.length \n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        624
      ],
      "id": "5de352f5-26ec-4dbf-b5f9-f7268c932dc4",
      "name": "Combine runners"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "runner_up_prompt_assignment",
              "name": "=runner_up_prompt",
              "value": "=# Runner-Up Careers Generator\n\nYou are Cairnly, presenting alternative career options beyond the top 3. These scored 55+ but didn't make the final cut. Be concise and help them understand what's appealing and what the trade-offs are.\n\n---\n\n## Output Structure (Each Career):\n\n# [Career Title]\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n## Why this role fits you\n\n[60-80 words MAX, 1-2 short paragraphs]\n- What's appealing about this role and why it suits their profile\n- Why it's not Top 3 (be specific about the gap)\n\n## What works for you\n\n[3 bullets, 50-60 words total]\n\n✓ **[Benefit].** [1 sentence tied to their data]\n\n## The Reality Check\n\n[3 bullets, 50-60 words total]\n\n⚠ **[Concern].** [1 sentence]\n\n## The practical stuff\n\n**Money:** [Range - estimate if not in data]\n\n**Schedule:** [Type]\n\n**Energy:** [Interaction level]\n\n## How AI will impact this role\n[1-2 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Safe** (Low Impact): Role relies on physical dexterity, deep human empathy, or irreplaceable human accountability. AI is a reference tool at best. Think: skilled trades, emergency services, executive leadership, therapy.\n- **Augmented** (Moderate Impact): AI handles heavy lifting on data, research, and first drafts. The human becomes editor, strategist, and final decision-maker. Productivity rises significantly but the human remains essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **Transforming** (High Impact): The majority of the role's execution shifts to AI. The human must fundamentally retrain to manage AI agents rather than do the work directly. Role scope and headcount will shrink. Think: financial analysis, marketing execution, QA testing, mid-level project management.\n- **At Risk** (Severe Impact): The core deliverables of this role can be fully automated by agentic AI with higher speed, accuracy, and lower cost. Remaining human involvement is supervisory at best. Think: data entry, basic customer support, standard reporting, routine translation, first-line content writing.\n\n**More details in your dashboard.**\n\n---CAREER_SPLIT---\n\n---\n\n## Path Type Framing\n\nEach career has a `path_type`: `employee`, `freelance_fractional`, or `founder`. Treat `null` or `\"N/A\"` as `employee`.\n\nIn the compact runner-up format:\n- For `freelance_fractional`: ensure one bullet in \"Reality Check\" addresses income variability or client acquisition\n- For `founder`: ensure one bullet in \"Reality Check\" addresses capital horizon and validation reality (use `path_type_notes` as source)\n- For `employee`: standard framing\n\nThe path_type already shapes the enriched data (typical_tasks, leadership_challenges, career_progression). Let those flow through naturally — no need to over-explain in the compact format.\n\n## Critical Rules:\n\n**LENGTH LIMITS (STRICT):**\n- \"Why this role fits you\": 60-80 words MAX\n- \"What works for you\": 50-60 words (3 short bullets)\n- \"The Reality Check\": 50-60 words (3 short bullets)\n- \"The practical stuff\": 30-40 words\n- \"How AI will impact this role\": 15-20 words\n- **Total per career: 200-250 words MAXIMUM**\n\nIf running long, cut adjectives. Be terse.\n\n**MISSING DATA:**\n- If salary missing: provide estimate with \"(estimated)\"\n- If AI impact missing: assess based on role type\n- Never write \"not specified\" or \"data not available\"\n\n**TONE:**\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Shorter than Top 3 (these are backups)\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n\n**PERSONAL CONNECTIONS:**\n- Reference sentiment log if relevant\n- Cite constraints or values\n- Note why not Top 3 specifically\n- Across the runner-up careers, do not lean on the same personality gap or constraint as the lead concern each time. Vary which gap each Reality Check draws on.\n\n**FORMAT:**\n- Use exact headers shown above\n- Compatibility score always in XX/100 e.g. 92/100 format!\n- Use ✓ for benefits, ⚠ for concerns, make these bold\n* if using bulletpoints, make the bullet lable bold for readability and emphasis \n- **NEVER! use the actual question numbers in your output! e.g. [1n]**\n- Use ---CAREER_SPLIT--- between careers\n- Output plain markdown (not JSON)\n\n---\n\n## Examples:\n\n**Good \"Why this role fits you\" (70 words):**\n\"This extends your 9/10 advisory pattern into facilitation work - expertise delivered in bursts, then solo planning time. But it didn't make Top 3 because building a practice requires the sales work you avoid. Project-based income creates uncertainty you can't afford with young children.\"\n\n**Good bullet (15-20 words):**\n✓ **Matches your energy pattern.** Intense 2-3 day sessions followed by solo recovery time.\n\n⚠ **Sales is unavoidable.** Building clients requires networking you historically avoid.\n\n---\n\n## Inputs:\n\n**Runner-Up Careers (with compatibility_scores and patterns):**\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.runner_up_careers) }}\n\n**Enriched Career Data:**\n{{ JSON.stringify($json.allCareers) }}\n\n**Initial Summary (sentiment log [1k], constraints [1n], values [3a]):**\n{{ $('When Executed by Another Workflow').first().json.init_summary_content }}\n\n---\n\nGenerate all runner-up analyses. Use ---CAREER_SPLIT--- between careers (not before first or after last). Output markdown only.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        624
      ],
      "id": "a1a4c774-51bd-4c25-8332-64cc96815bdc",
      "name": "Set Runner Up Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.runner_up_prompt }}",
        "batching": {}
      },
      "id": "c4034d09-d79b-4060-a88f-0f2710151d25",
      "name": "Runner Up Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1120,
        624
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        656,
        1280
      ],
      "id": "a9711aec-0fb2-4560-8632-d0bdc1523b37",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "gGM2sOHB72WgN7UU",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Runner-Up Careers (Markdown format with CAREER_SPLIT delimiter)\nconst input = $input.first().json.text;\n\n// Get report_id from the same node that Split Top3 uses\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\n\n// Split by the delimiter\nconst careerBlocks = input.split('---CAREER_SPLIT---').map(block => block.trim()).filter(Boolean);\n\nconst results = careerBlocks.map((block, index) => {\n  // Extract career title (first # heading, not ## subheaders)\n  const titleMatch = block.match(/^# ([^#].+)$/m);\n  const career_title = titleMatch ? titleMatch[1].trim() : `Career ${index + 1}`;\n  \n  // Extract alternative titles and company size\n  const altTitlesMatch = block.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n  const alternate_titles = altTitlesMatch ? altTitlesMatch[1].trim() : '';\n  const company_size_type = altTitlesMatch ? altTitlesMatch[2].trim() : '';\n  \n  // Extract compatibility score\n  const scoreMatch = block.match(/\\*\\*Compatibility score: (\\d+)\\/100\\*\\*/);\n  const score = scoreMatch ? parseInt(scoreMatch[1], 10) : null;\n  \n  // Extract sections by headers (aligned with top 3 headers)\n  const whyMatch = block.match(/## Why this role fits you\\s+([\\s\\S]*?)(?=## What works for you|$)/);\n  const worksMatch = block.match(/## What works for you\\s+([\\s\\S]*?)(?=## The Reality Check|$)/);\n  const realityMatch = block.match(/## The Reality Check\\s+([\\s\\S]*?)(?=## The practical stuff|$)/);\n  const practicalMatch = block.match(/## The practical stuff\\s+([\\s\\S]*?)(?=## How AI will impact this role|$)/);\n  const aiMatch = block.match(/## How AI will impact this role\\s+([\\s\\S]*?)(?=\\*\\*More details|$)/);\n  \n  // Build the full content from sections\n  const sections = [\n    whyMatch ? `<h5>Why this role fits you</h5>\\n\\n${whyMatch[1].trim()}` : '',\n    worksMatch ? `<h5>What works for you</h5>\\n\\n${worksMatch[1].trim()}` : '',\n    realityMatch ? `<h5>The Reality Check</h5>\\n\\n${realityMatch[1].trim()}` : '',\n    practicalMatch ? `<h5>The practical stuff</h5>\\n\\n${practicalMatch[1].trim()}` : '',\n    aiMatch ? `<h5>How AI will impact this role</h5>\\n\\n${aiMatch[1].trim()}` : ''\n  ].filter(Boolean).join('\\n\\n');\n\n  // Return one item per career (matches report_sections table structure)\n  return {\n    json: {\n      title: `<h3><strong>${career_title}</strong></h3>`,\n      alternate_titles: alternate_titles ? `<strong>Alternate titles:</strong> ${alternate_titles}` : '',\n      company_size_type: company_size_type ? `<h4><strong>${company_size_type}</strong></h4>` : '',\n      content: sections,\n      score: score,\n      report_id: reportId,\n      section_type: \"runner_ups\",\n      order_number: index + 1\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        624
      ],
      "id": "bcdcedc9-3de2-4291-b499-e1c1c2ef771d",
      "name": "Parse runner up"
    },
    {
      "parameters": {
        "tableId": "report_sections",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1696,
        624
      ],
      "id": "91e2ad8d-08dc-4ed2-bffa-b4f73107885a",
      "name": "Insert Runner Ups",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Dream Job Feasibility prompt\nconst trigger = $('When Executed by Another Workflow').first().json;\nreturn [{\n  json: {\n    'Top 3 careers': trigger.top_3_careers_str,\n    'Runner up careers': trigger.runner_up_careers_str,\n    'Outside box careers': trigger.outside_box_careers_str\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        928
      ],
      "id": "aeceb7a6-4e78-47e0-9a6b-1333fd554065",
      "name": "Dream prep"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\nYou are an expert career strategist specializing in \"The Bridge Pivot\"—evaluating the feasibility of unconventional dream jobs for professionals while maintaining their professional seniority and financial viability.\n\n# TASK\nAnalyze the feasibility of the candidate's Dream Job(s) as listed in the \"Career Goals & Aspirations\" section of Input 1. You must provide a balanced analysis that respects the dream while being intellectually honest about the \"Executive Reality.\"\n\n## ANALYSIS DIMENSIONS\n1. **Personality Suitability:** Does the dream job align with their 4-point scales (2a, 2g, 5f) and social energy profile?\n2. **The \"Executive Pivot\" Suggestion:** Instead of just analyzing the entry-level dream, suggest how they could leverage their 14+ years of experience within that field (e.g., instead of just \"Yoga Instructor,\" suggest \"Founder of a Boutique Wellness Studio Chain\").\n3. **Regional & Future Context:** Specifically consider the 2026 economic landscape of Northern and Western Europe (e.g., Netherlands, Germany, Scandinavia) including AI's impact and regional salary trends.\n4. **Path Type Reality:** Identify whether the dream job (or its Executive Version) is realistically an employee role, independent practice (freelance/fractional), or a founder path. Each carries different realities — founder paths require capital and 1-3 year builds; freelance demands client acquisition; employee paths depend on hiring cycles. The \"Steps for Pursuing This Role\" section must reflect the real path type, not generic career steps.\n\n**TONE:**\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Active voice, second person. Use 'you' and occasionally their name to adress them!\n\n# CRITICAL FORMATTING REQUIREMENTS\n- If there are multiple dream jobs, separate each job analysis with: ---DREAM_JOB_SPLIT---\n- Start directly with the first job title using the ## header.\n- **Strictly DO NOT use the em dash (—)** in your narrative. Use colons, commas, or parentheses instead.\n- **DO NOT use question numbers in your output!**\n- Keep bullets to a maximum of 3 per section for scannability.\n- No intro or outro: start with the first Title immediately.\n\n# OUTPUT FORMAT\n\n## [Dream Job Title]\n\n**Overview**\n[A conversational 2-sentence intro explaining why this dream resonates with their profile, written as if speaking directly to a peer.]\n\n**Feasibility Rating**\n[Scale: Low | Low - Moderate | Moderate | Moderate - High | High] : [Provide a 1-sentence \"Bottom Line\" reason for this rating.]\n\n**1. Personality & Energy Fit**\n- [Bullet 1: Alignment with Social Energy (2a) and Stress Response (2i)]\n- [Bullet 2: Alignment with Work Style (2g) and Deadline Approach (5f)]\n- [Bullet 3: Impact on burnout recovery vs. their natural \"Competence Trap\"]\n\n**2. The \"Executive Version\" Suggestion**\n- [Bullet 1: Suggest a specific role in this field that utilizes their current seniority (e.g. Director, Owner, Strategist)]\n- [Bullet 2: Explain how this version solves the \"Low Salary\" or \"Low Intellectual Stimulus\" risk of the base dream job]\n- [Bullet 3: Note if this executive version already appeared in their Top 15 or OTB lists for validation]\n\n**3. Industry Outlook & 2026 Regional Trends**\n- [Bullet 1: 2026 salary expectations in Northern/Western Europe for this specific field]\n- [Bullet 2: AI Impact: Describe how AI is transforming or protecting this role (Human-centric vs. Automated)] - see below\n- [Bullet 3: Regional demand or barriers in Europe (e.g. certifications, linguistic needs, or market saturation)]\n\n**4. Steps for Pursuing This Role**\n- [Bullet 1: Immediate low-stakes action to \"test\" the dream job]\n- [Bullet 2: Critical certification or education required in the European market]\n- [Bullet 3: A \"Portfolio Career\" suggestion to bridge the financial gap during transition]\n\n*Heads-up: [Only include if the base dream job salary is significantly lower than their target range.]*\n\n---DREAM_JOB_SPLIT---\n\n\n# INPUTS\n1. Where to extract the dreamjob(s)\n{{ $('When Executed by Another Workflow').first().json.interests_history_text }}\n2. top 3 careers\n{{ $json['Top 3 careers'] }}\n3. runner up careers\n{{ $json['Runner up careers'] }}\n4. Out of box careers\n{{ $json['Outside box careers'] }}\n\n\n\n## AI impact rating scale\n\n[1-2 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Safe** (Low Impact): Role relies on physical dexterity, deep human empathy, or irreplaceable human accountability. AI is a reference tool at best. Think: skilled trades, emergency services, executive leadership, therapy.\n- **Augmented** (Moderate Impact): AI handles heavy lifting on data, research, and first drafts. The human becomes editor, strategist, and final decision-maker. Productivity rises significantly but the human remains essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **Transforming** (High Impact): The majority of the role's execution shifts to AI. The human must fundamentally retrain to manage AI agents rather than do the work directly. Role scope and headcount will shrink. Think: financial analysis, marketing execution, QA testing, mid-level project management.\n- **At Risk** (Severe Impact): The core deliverables of this role can be fully automated by agentic AI with higher speed, accuracy, and lower cost. Remaining human involvement is supervisory at best. Think: data entry, basic customer support, standard reporting, routine translation, first-line content writing.\n\n",
        "batching": {}
      },
      "id": "00f17e2b-14f1-4d33-a439-e318904d026d",
      "name": "Dream Job Feasibility",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1120,
        928
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        384,
        1280
      ],
      "id": "7d89a24b-3b41-458b-ac88-9bb7b66d19c6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "gGM2sOHB72WgN7UU",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get report_id from upstream node\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\n\n// Get the dream jobs text from the upstream node\nconst fullText = $json.text;\n\n// Subheaders to convert to h5 tags\nconst DREAM_JOB_SUBHEADERS = [\n  \"Overview\",\n  \"Feasibility Rating\",\n  \"Personality Fit\",\n  \"Credentials & Experience\",\n  \"Industry Outlook & Future Trends\",\n  \"Steps for Pursuing This Role\"\n];\n\nfunction formatDreamJobContent(content) {\n  let formatted = content;\n  \n  DREAM_JOB_SUBHEADERS.forEach(subheader => {\n    /**\n     * Updated Regex:\n     * 1. Looks for the subheader at the start of the string or after a newline\n     * 2. Allows for optional Markdown stars (**)\n     * 3. Allows for an optional colon (:)\n     * 4. Ensures it matches the whole line to avoid replacing the word mid-sentence\n     */\n    const regex = new RegExp(`(^|\\\\n)\\\\*?\\\\*?${subheader}\\\\*?\\\\*?:?\\\\s*(\\\\n|$)`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n  \n  // Bold common ratings\n  formatted = formatted.replace(/(Low|Moderate|High|Moderate - High)(\\s*-)/gi, '<strong>$1</strong>$2');\n  \n  // Clean up any leftover markdown bold markers\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n  \n  return formatted.trim();\n}\n\nfunction parseDreamJob(content) {\n  const lines = content.trim().split('\\n');\n  let title = '';\n  let contentStartIndex = 0;\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    // Match ## Title or just \"Chief Product Officer\" if it's the very first line\n    if (line.match(/^##\\s*.+$/) || (i === 0 && line.length > 0)) {\n      title = line.replace(/^##\\s*/, '').trim();\n      contentStartIndex = i + 1;\n      break;\n    }\n  }\n  \n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n  \n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatDreamJobContent(rawContent);\n  \n  return {\n    title: title || 'Dream Job',\n    content: formattedContent\n  };\n}\n\nconst dreamJobSections = fullText.split('---DREAM_JOB_SPLIT---');\nconst cleanSections = dreamJobSections.filter(section => section.trim().length > 0);\n\nconst records = cleanSections.map((section, index) => {\n  const parsed = parseDreamJob(section);\n  \n  return {\n    json: {\n      section_type: \"dream_jobs\",\n      title: `<h3>${parsed.title}</h3>`,\n      content: parsed.content,\n      report_id: reportId,\n      order_number: index + 1\n    }\n  };\n});\n\nreturn records;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        928
      ],
      "id": "6e38452c-f6a6-4997-8140-ea944557a7d8",
      "name": "Parse Dream"
    },
    {
      "parameters": {
        "tableId": "report_sections",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1696,
        928
      ],
      "id": "a0c5b029-086d-49ba-81c0-2d269c8a1726",
      "name": "Insert dream",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2272,
        608
      ],
      "id": "0480d5d7-05f1-43bc-b6b8-a78ab41e8b83",
      "name": "Complete merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pcoyafgsirrznhmdaiji.functions.supabase.co/analysis-completed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= { \"report_id\": \"{{ $('When Executed by Another Workflow').first().json.report_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2496,
        624
      ],
      "id": "71f363fb-ca58-467e-9c26-09a30872225c",
      "name": "HTTP Request",
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "aiABzg04zbeDSXRc",
          "name": "Supabase Edge Functions — Shared Secret"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1120,
        464
      ],
      "id": "01ac35f0-9c22-48ba-a174-58050c6c7b8e",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "RhTKhZPWZ6gcGD13",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1120,
        784
      ],
      "id": "0db68486-7ab4-42bc-9e16-676f37230330",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "RhTKhZPWZ6gcGD13",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1120,
        1072
      ],
      "id": "d63769fd-c31f-4a20-92ee-233ccb4e5db4",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "RhTKhZPWZ6gcGD13",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "report_id": "c725e198-2f10-49d6-9740-bcb79ec6bf4c",
          "top_3_careers": [
            {
              "rank": 1,
              "career_title": "Independent Supervisory Board Member (Portfolio)",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 100,
              "step1_objective_score": "64/64",
              "pattern_analysis": {
                "happiness_pattern_match": {
                  "score": "20/20",
                  "pattern": "extends 9/10 pattern",
                  "reasoning": "Sentiment Log: 'Toggl (Independent Supervisory Board Member): 9/10 - Highly strategic work, limited commitment, excellent pay.' This career is a direct continuation of the candidate's highest-happiness proven model. Structural trust and limited interpersonal drain perfectly match the Personality Key Insight: 'You need psychological safety and structural trust... you enjoy people, and you need a break from them.'"
                },
                "strengths_application": {
                  "score": "14/14",
                  "reasoning": "Personality Analysis notes the candidate's edge is 'translation'—converting financial data into people decisions. This is the core function of a Board Member. It leverages the 'Synthesizer' strength identify in the 'Identifying Your Core Strengths' section."
                },
                "trajectory_fit": {
                  "score": "10/10",
                  "reasoning": "Career history shows a clear trajectory from operational (TomTom 4/10) to advisory (Toggl 9/10). This career perfectly extends the high-satisfaction advisory model."
                }
              },
              "penalties": {
                "burnout_risk": {
                  "penalty": "0",
                  "risk_level": "LOW",
                  "reasoning": "No indicators of burnout; the periodic nature of the role (quarterly meetings) protects against the candidate's 'ceiling on social input' and the 'bottleneck' pattern seen in operational roles."
                },
                "development_conflicts": {
                  "penalty": "0",
                  "reasoning": "The role relies on high-level strategic framing and analogy-based communication, which are the candidate's core strengths, rather than the developmental areas of 'sitting with emotional difficulty' or 'high-energy execution.'"
                }
              },
              "key_insights_applied": "Autonomy as a structural requirement; Synthetic thinking as a competitive advantage; Advisory roles as high-happiness benchmarks.",
              "key_strengths": "Directly replicates the 9/10 happiness structure from Toggl. Leverages the candidate's rare synthesis of financial and human capital expertise without the operational grind.",
              "key_concerns": "Practically none; the primary challenge is simply aggregating enough seats to meet total income goals, though the salary per seat is healthy.",
              "justification": "Directly replicates the 9/10 happiness structure from Toggl. Leverages the candidate's rare synthesis of financial and human capital expertise without the operational grind. Practically none; the primary challenge is simply aggregating enough seats to meet total income goals, though the salary per seat is healthy."
            },
            {
              "rank": 2,
              "career_title": "Chief People Officer",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 88,
              "step1_objective_score": "61/64",
              "pattern_analysis": {
                "happiness_pattern_match": {
                  "score": "19/20",
                  "pattern": "extends 9/10 pattern",
                  "reasoning": "Sentiment Log: 'Cogna (VP People & Operations): 9/10 - Passionate about subject matter, powerful role.' This scale-up CPO role is the 'sweet spot' for the candidate, matching the high-access environment they crave."
                },
                "strengths_application": {
                  "score": "14/14",
                  "reasoning": "Directly leverages the 'translation' edge: 'You convert financial data into people decisions.' Scale-up CPOs must speak the language of the Board and the employee, utilizing the candidate's multi-functional fluency."
                },
                "trajectory_fit": {
                  "score": "10/10",
                  "reasoning": "Aligns with the positive trend in recent roles toward seniority and high strategic influence in the software sector."
                }
              },
              "penalties": {
                "burnout_risk": {
                  "penalty": "-5",
                  "risk_level": "MODERATE",
                  "reasoning": "Personality Key Insight: 'You absorb too much, become the bottleneck.' Scale-ups have high operational demands that can trigger the candidate's loop of 'taking on too much responsibility' then 'procrastinating' under pressure."
                },
                "development_conflicts": {
                  "penalty": "-4",
                  "reasoning": "Personality 'Growth Areas' notes the need to develop 'emotional availability.' CPO roles in scale-ups often require high emotional labor during rapid changes, which the candidate finds draining."
                }
              },
              "key_insights_applied": "Roles with power and access score well; DECISIVE nature is an asset in fast-moving environments; environment-dependent performance.",
              "key_strengths": "Highly aligned with proven success at Cogna. Uses the candidate's fast-moving decisiveness to solve strategic scaling problems.",
              "key_concerns": "Risk of becoming the operational bottleneck. Needs strict boundaries with the CEO to avoid the 'micromanagement' pattern that led to 7/10 happiness at Mews.",
              "justification": "Highly aligned with proven success at Cogna. Uses the candidate's fast-moving decisiveness to solve strategic scaling problems. Risk of becoming the operational bottleneck. Needs strict boundaries with the CEO to avoid the 'micromanagement' pattern that led to 7/10 happiness at Mews."
            },
            {
              "rank": 3,
              "career_title": "VP Talent & People at a VC or Growth Equity Firm",
              "company_size_type": "Small (11-50) / Boutique",
              "compatibility_score": 87,
              "step1_objective_score": "61/64",
              "pattern_analysis": {
                "happiness_pattern_match": {
                  "score": "18/20",
                  "pattern": "extends 9/10 pattern",
                  "reasoning": "Sentiment Log: Toggl (9/10) and Cogna (9/10) combined. Role is advisory across portfolios (like Toggl) but subject-matter focused (like Cogna). High strategic scope and access to founders."
                },
                "strengths_application": {
                  "score": "14/14",
                  "reasoning": "Personality Analysis: 'Well-suited to roles that sit at the intersection of organizational health and business performance.' This is the definition of a VC Talent Partner."
                },
                "trajectory_fit": {
                  "score": "9/10",
                  "reasoning": "Continues move from operational leader to high-level strategic advisor. Aligns with 'Recognition' value by being a high-visibility firm representative."
                }
              },
              "penalties": {
                "burnout_risk": {
                  "penalty": "-4",
                  "risk_level": "LOW",
                  "reasoning": "While fast-paced, the 'advisory' nature provides more boundaries than 'operational' roles. Major trigger is 'high-ego stakeholders' (Personality: abrasive in political cultures)."
                },
                "development_conflicts": {
                  "penalty": "-4",
                  "reasoning": "Growth area 'difficulty receiving feedback' could be tested in high-stakes VC partner meetings where performance is ruthlessly evaluated."
                }
              },
              "key_insights_applied": "Synthesizer profile; interest in human behavior; value for autonomy and strategic influence.",
              "key_strengths": "Perfect marriage of financial acumen and people leadership. Offers the autonomy the candidate ranks as their #1 value.",
              "key_concerns": "Potential for political friction with high-ego investment partners if the candidate's directness is perceived as abrasive.",
              "justification": "Perfect marriage of financial acumen and people leadership. Offers the autonomy the candidate ranks as their #1 value. Potential for political friction with high-ego investment partners if the candidate's directness is perceived as abrasive."
            }
          ],
          "runner_up_careers": [
            {
              "rank": 4,
              "career_title": "Thought Leadership Writer & Content Strategist",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 74,
              "key_strengths": "Unrivaled autonomy and a chance to deep-dive into the candidate's passion for human behavior. Capitalizes on the 'analogy-based' communication style.",
              "brief_justification": "Unrivaled autonomy and a chance to deep-dive into the candidate's passion for human behavior. Capitalizes on the 'analogy-based' communication style.",
              "happiness_pattern": "neutral",
              "burnout_risk": "LOW"
            },
            {
              "rank": 5,
              "career_title": "Boutique Education Business Founder",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 69,
              "key_strengths": "Fulfills a long-held dream job and provides total autonomy. Leverages diverse multi-functional skills.",
              "brief_justification": "Fulfills a long-held dream job and provides total autonomy. Leverages diverse multi-functional skills.",
              "happiness_pattern": "extends 9/10 and recreates 7/10",
              "burnout_risk": "HIGH"
            },
            {
              "rank": 6,
              "career_title": "Executive Coach (Senior Leaders & Founders)",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 64,
              "key_strengths": "High alignment on technical skills and intellectual interest in behavioral science. Provides autonomy.",
              "brief_justification": "High alignment on technical skills and intellectual interest in behavioral science. Provides autonomy.",
              "happiness_pattern": "recreates 5-7/10 pattern",
              "burnout_risk": "HIGH"
            },
            {
              "rank": 7,
              "career_title": "Chief of Staff to CEO (Technology Sector)",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 60,
              "key_strengths": "Utilizes full operational and strategic toolkit. High visibility and recognition.",
              "brief_justification": "Utilizes full operational and strategic toolkit. High visibility and recognition.",
              "happiness_pattern": "recreates 7/10 pattern",
              "burnout_risk": "HIGH"
            }
          ],
          "all_ranked_careers": [
            {
              "rank": 1,
              "career_title": "Independent Supervisory Board Member (Portfolio)",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 100,
              "happiness_pattern": "extends 9/10 pattern",
              "burnout_risk": "LOW",
              "key_strengths": "Directly replicates the 9/10 happiness structure from Toggl. Leverages the candidate's rare synthesi"
            },
            {
              "rank": 2,
              "career_title": "Chief People Officer",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 88,
              "happiness_pattern": "extends 9/10 pattern",
              "burnout_risk": "MODERATE",
              "key_strengths": "Highly aligned with proven success at Cogna. Uses the candidate's fast-moving decisiveness to solve "
            },
            {
              "rank": 3,
              "career_title": "VP Talent & People at a VC or Growth Equity Firm",
              "company_size_type": "Small (11-50) / Boutique",
              "compatibility_score": 87,
              "happiness_pattern": "extends 9/10 pattern",
              "burnout_risk": "LOW",
              "key_strengths": "Perfect marriage of financial acumen and people leadership. Offers the autonomy the candidate ranks "
            },
            {
              "rank": 4,
              "career_title": "Thought Leadership Writer & Content Strategist",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 74,
              "happiness_pattern": "neutral",
              "burnout_risk": "LOW",
              "key_strengths": "Unrivaled autonomy and a chance to deep-dive into the candidate's passion for human behavior. Capita"
            },
            {
              "rank": 5,
              "career_title": "Boutique Education Business Founder",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 69,
              "happiness_pattern": "extends 9/10 and recreates 7/10",
              "burnout_risk": "HIGH",
              "key_strengths": "Fulfills a long-held dream job and provides total autonomy. Leverages diverse multi-functional skill"
            },
            {
              "rank": 6,
              "career_title": "Executive Coach (Senior Leaders & Founders)",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 64,
              "happiness_pattern": "recreates 5-7/10 pattern",
              "burnout_risk": "HIGH",
              "key_strengths": "High alignment on technical skills and intellectual interest in behavioral science. Provides autonom"
            },
            {
              "rank": 7,
              "career_title": "Chief of Staff to CEO (Technology Sector)",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 60,
              "happiness_pattern": "recreates 7/10 pattern",
              "burnout_risk": "HIGH",
              "key_strengths": "Utilizes full operational and strategic toolkit. High visibility and recognition."
            }
          ],
          "interests_history_text": "### Personal Context\n\nNatasha Osborne Geurts is a 34-year-old executive currently navigating high-level leadership within the SaaS sector. Her professional landscape is characterized by mid-sized, innovative scale-ups where she thrives in powerful, strategic roles. She currently reports high job satisfaction (9/10), fueled by the intellectual stimulation of \"People\" operations and the strategic autonomy granted by her board-level and VP-level responsibilities. While she has experienced friction in previous roles—often due to stifling micromanagement or toxic political cultures—her current environment provides the alignment between her need for impact and her desire for professional freedom.\n\n### Previous Careers\n\n1. VP People & Operations\n2. Independent Supervisory Board Member\n3. VP, Chief of Staff - Founder & CEO\n4. Head of Operations, Finance & People\n5. Product Manager\n\n### Personal Interests & Strengths\n\nNatasha’s strength lies in the intersection of strategic finance and human behavior; she is a high-performer who successfully led $30M in fundraising at Mavenoid and spearheaded AI-driven transformations at Mews. Her business acumen is deepened by a personal obsession with the human element of organizational life, evidenced by her reading list—which includes social thinkers like Alain De Botton and Yuval Noah Harari—and her hobbyist commitment to writing. Whether she is bouldering to recharge or mentoring high-performance teams, she is driven by a desire to understand and optimize the human condition within professional ecosystems.\n\n### Career Goals & Aspirations\n\nAt a crossroads in her career, Natasha is focused on expanding her professional network to clarify her next strategic move. Her long-term trajectory is defined by a pursuit of financial independence and solidified expertise as a leader in People and Culture. While she possesses immense confidence in business strategy, she is currently navigating personal barriers related to career-path uncertainty and a desire to refine her public speaking and leadership communications. She views skill development as a vital tool for growth and remains highly motivated to master the complexities of organizational health and talent acquisition.\n\n### Career Constraints & Avoidances\n\nNatasha maintains strict professional boundaries centered on protecting her energy and autonomy. She has clear \"non-negotiables,\" explicitly avoiding roles centered on sales, intense client-facing negotiations, or repetitive tasks that lack room for growth. Industries such as Manufacturing, Retail, Hospitality, and Legal professions are strictly off-limits, as she prefers to avoid sectors that lean toward physical labor, customer-service-heavy dynamics, or overly rigid, traditional environments that stifle her innovative spirit.\n\n### Compensation & Work Preferences\n\nNatasha thrives in high-flexibility, high-autonomy environments where she can apply her decisive leadership style. She prefers a standard 9-to-5 schedule but requires a work culture that values innovation over administrative micromanagement. She views compensation as a key indicator of her professional impact; while she prioritizes salary, she seeks a bracket of 150,000–250,000, viewing a high base salary as the most meaningful expression of the value she brings to a firm.\n\n### Dream Jobs\n\nNon-Fiction Writer, founder of a small business focused on education, or Chief People Officer. These aspirations reflect her desire to translate her deep interest in human behavior and strategic leadership into tangible, independent, and impactful work.\n\n### Report ID\nc725e198-2f10-49d6-9740-bcb79ec6bf4c",
          "top_3_careers_str": "[\n  {\n    \"rank\": 1,\n    \"career_title\": \"Independent Supervisory Board Member (Portfolio)\",\n    \"company_size_type\": \"Medium (51-200) / Scale-up\",\n    \"compatibility_score\": 100,\n    \"step1_objective_score\": \"64/64\",\n    \"pattern_analysis\": {\n      \"happiness_pattern_match\": {\n        \"score\": \"20/20\",\n        \"pattern\": \"extends 9/10 pattern\",\n        \"reasoning\": \"Sentiment Log: 'Toggl (Independent Supervisory Board Member): 9/10 - Highly strategic work, limited commitment, excellent pay.' This career is a direct continuation of the candidate's highest-happiness proven model. Structural trust and limited interpersonal drain perfectly match the Personality Key Insight: 'You need psychological safety and structural trust... you enjoy people, and you need a break from them.'\"\n      },\n      \"strengths_application\": {\n        \"score\": \"14/14\",\n        \"reasoning\": \"Personality Analysis notes the candidate's edge is 'translation'—converting financial data into people decisions. This is the core function of a Board Member. It leverages the 'Synthesizer' strength identify in the 'Identifying Your Core Strengths' section.\"\n      },\n      \"trajectory_fit\": {\n        \"score\": \"10/10\",\n        \"reasoning\": \"Career history shows a clear trajectory from operational (TomTom 4/10) to advisory (Toggl 9/10). This career perfectly extends the high-satisfaction advisory model.\"\n      }\n    },\n    \"penalties\": {\n      \"burnout_risk\": {\n        \"penalty\": \"0\",\n        \"risk_level\": \"LOW\",\n        \"reasoning\": \"No indicators of burnout; the periodic nature of the role (quarterly meetings) protects against the candidate's 'ceiling on social input' and the 'bottleneck' pattern seen in operational roles.\"\n      },\n      \"development_conflicts\": {\n        \"penalty\": \"0\",\n        \"reasoning\": \"The role relies on high-level strategic framing and analogy-based communication, which are the candidate's core strengths, rather than the developmental areas of 'sitting with emotional difficulty' or 'high-energy execution.'\"\n      }\n    },\n    \"key_insights_applied\": \"Autonomy as a structural requirement; Synthetic thinking as a competitive advantage; Advisory roles as high-happiness benchmarks.\",\n    \"key_strengths\": \"Directly replicates the 9/10 happiness structure from Toggl. Leverages the candidate's rare synthesis of financial and human capital expertise without the operational grind.\",\n    \"key_concerns\": \"Practically none; the primary challenge is simply aggregating enough seats to meet total income goals, though the salary per seat is healthy.\",\n    \"justification\": \"Directly replicates the 9/10 happiness structure from Toggl. Leverages the candidate's rare synthesis of financial and human capital expertise without the operational grind. Practically none; the primary challenge is simply aggregating enough seats to meet total income goals, though the salary per seat is healthy.\"\n  },\n  {\n    \"rank\": 2,\n    \"career_title\": \"Chief People Officer\",\n    \"company_size_type\": \"Medium (51-200) / Scale-up\",\n    \"compatibility_score\": 88,\n    \"step1_objective_score\": \"61/64\",\n    \"pattern_analysis\": {\n      \"happiness_pattern_match\": {\n        \"score\": \"19/20\",\n        \"pattern\": \"extends 9/10 pattern\",\n        \"reasoning\": \"Sentiment Log: 'Cogna (VP People & Operations): 9/10 - Passionate about subject matter, powerful role.' This scale-up CPO role is the 'sweet spot' for the candidate, matching the high-access environment they crave.\"\n      },\n      \"strengths_application\": {\n        \"score\": \"14/14\",\n        \"reasoning\": \"Directly leverages the 'translation' edge: 'You convert financial data into people decisions.' Scale-up CPOs must speak the language of the Board and the employee, utilizing the candidate's multi-functional fluency.\"\n      },\n      \"trajectory_fit\": {\n        \"score\": \"10/10\",\n        \"reasoning\": \"Aligns with the positive trend in recent roles toward seniority and high strategic influence in the software sector.\"\n      }\n    },\n    \"penalties\": {\n      \"burnout_risk\": {\n        \"penalty\": \"-5\",\n        \"risk_level\": \"MODERATE\",\n        \"reasoning\": \"Personality Key Insight: 'You absorb too much, become the bottleneck.' Scale-ups have high operational demands that can trigger the candidate's loop of 'taking on too much responsibility' then 'procrastinating' under pressure.\"\n      },\n      \"development_conflicts\": {\n        \"penalty\": \"-4\",\n        \"reasoning\": \"Personality 'Growth Areas' notes the need to develop 'emotional availability.' CPO roles in scale-ups often require high emotional labor during rapid changes, which the candidate finds draining.\"\n      }\n    },\n    \"key_insights_applied\": \"Roles with power and access score well; DECISIVE nature is an asset in fast-moving environments; environment-dependent performance.\",\n    \"key_strengths\": \"Highly aligned with proven success at Cogna. Uses the candidate's fast-moving decisiveness to solve strategic scaling problems.\",\n    \"key_concerns\": \"Risk of becoming the operational bottleneck. Needs strict boundaries with the CEO to avoid the 'micromanagement' pattern that led to 7/10 happiness at Mews.\",\n    \"justification\": \"Highly aligned with proven success at Cogna. Uses the candidate's fast-moving decisiveness to solve strategic scaling problems. Risk of becoming the operational bottleneck. Needs strict boundaries with the CEO to avoid the 'micromanagement' pattern that led to 7/10 happiness at Mews.\"\n  },\n  {\n    \"rank\": 3,\n    \"career_title\": \"VP Talent & People at a VC or Growth Equity Firm\",\n    \"company_size_type\": \"Small (11-50) / Boutique\",\n    \"compatibility_score\": 87,\n    \"step1_objective_score\": \"61/64\",\n    \"pattern_analysis\": {\n      \"happiness_pattern_match\": {\n        \"score\": \"18/20\",\n        \"pattern\": \"extends 9/10 pattern\",\n        \"reasoning\": \"Sentiment Log: Toggl (9/10) and Cogna (9/10) combined. Role is advisory across portfolios (like Toggl) but subject-matter focused (like Cogna). High strategic scope and access to founders.\"\n      },\n      \"strengths_application\": {\n        \"score\": \"14/14\",\n        \"reasoning\": \"Personality Analysis: 'Well-suited to roles that sit at the intersection of organizational health and business performance.' This is the definition of a VC Talent Partner.\"\n      },\n      \"trajectory_fit\": {\n        \"score\": \"9/10\",\n        \"reasoning\": \"Continues move from operational leader to high-level strategic advisor. Aligns with 'Recognition' value by being a high-visibility firm representative.\"\n      }\n    },\n    \"penalties\": {\n      \"burnout_risk\": {\n        \"penalty\": \"-4\",\n        \"risk_level\": \"LOW\",\n        \"reasoning\": \"While fast-paced, the 'advisory' nature provides more boundaries than 'operational' roles. Major trigger is 'high-ego stakeholders' (Personality: abrasive in political cultures).\"\n      },\n      \"development_conflicts\": {\n        \"penalty\": \"-4\",\n        \"reasoning\": \"Growth area 'difficulty receiving feedback' could be tested in high-stakes VC partner meetings where performance is ruthlessly evaluated.\"\n      }\n    },\n    \"key_insights_applied\": \"Synthesizer profile; interest in human behavior; value for autonomy and strategic influence.\",\n    \"key_strengths\": \"Perfect marriage of financial acumen and people leadership. Offers the autonomy the candidate ranks as their #1 value.\",\n    \"key_concerns\": \"Potential for political friction with high-ego investment partners if the candidate's directness is perceived as abrasive.\",\n    \"justification\": \"Perfect marriage of financial acumen and people leadership. Offers the autonomy the candidate ranks as their #1 value. Potential for political friction with high-ego investment partners if the candidate's directness is perceived as abrasive.\"\n  }\n]",
          "runner_up_careers_str": "[\n  {\n    \"rank\": 4,\n    \"career_title\": \"Thought Leadership Writer & Content Strategist\",\n    \"company_size_type\": \"Own Company / Boutique\",\n    \"compatibility_score\": 74,\n    \"key_strengths\": \"Unrivaled autonomy and a chance to deep-dive into the candidate's passion for human behavior. Capitalizes on the 'analogy-based' communication style.\",\n    \"brief_justification\": \"Unrivaled autonomy and a chance to deep-dive into the candidate's passion for human behavior. Capitalizes on the 'analogy-based' communication style.\",\n    \"happiness_pattern\": \"neutral\",\n    \"burnout_risk\": \"LOW\"\n  },\n  {\n    \"rank\": 5,\n    \"career_title\": \"Boutique Education Business Founder\",\n    \"company_size_type\": \"Own Company / Boutique\",\n    \"compatibility_score\": 69,\n    \"key_strengths\": \"Fulfills a long-held dream job and provides total autonomy. Leverages diverse multi-functional skills.\",\n    \"brief_justification\": \"Fulfills a long-held dream job and provides total autonomy. Leverages diverse multi-functional skills.\",\n    \"happiness_pattern\": \"extends 9/10 and recreates 7/10\",\n    \"burnout_risk\": \"HIGH\"\n  },\n  {\n    \"rank\": 6,\n    \"career_title\": \"Executive Coach (Senior Leaders & Founders)\",\n    \"company_size_type\": \"Own Company / Boutique\",\n    \"compatibility_score\": 64,\n    \"key_strengths\": \"High alignment on technical skills and intellectual interest in behavioral science. Provides autonomy.\",\n    \"brief_justification\": \"High alignment on technical skills and intellectual interest in behavioral science. Provides autonomy.\",\n    \"happiness_pattern\": \"recreates 5-7/10 pattern\",\n    \"burnout_risk\": \"HIGH\"\n  },\n  {\n    \"rank\": 7,\n    \"career_title\": \"Chief of Staff to CEO (Technology Sector)\",\n    \"company_size_type\": \"Medium (51-200) / Scale-up\",\n    \"compatibility_score\": 60,\n    \"key_strengths\": \"Utilizes full operational and strategic toolkit. High visibility and recognition.\",\n    \"brief_justification\": \"Utilizes full operational and strategic toolkit. High visibility and recognition.\",\n    \"happiness_pattern\": \"recreates 7/10 pattern\",\n    \"burnout_risk\": \"HIGH\"\n  }\n]",
          "outside_box_careers_str": "1. **Organisational Psychologist-in-Residence (Tech or VC-Backed Company)**\n\n**Overview**\nThis is an embedded, senior-level role where you act as the in-house behavioral and organizational intelligence layer for a high-growth company. You design the conditions for human performance, advise the C-suite on culture architecture, and translate behavioral science into business decisions, without being the traditional HR function.\n\n**Why this might be a fit**\nNatasha, you already operate at this intersection without the title. Your reading diet (De Botton, Harari), your pattern of zooming between people dynamics and business outcomes, and your genuine curiosity about why people behave the way they do in organizations, all of that is the substrate of this role. It is not consulting, and it is not HR. It is closer to an internal strategist who speaks the language of human systems fluently. The intellectual caliber is high, the autonomy is structural (you own a function that barely exists elsewhere), and the political footprint is smaller than a CPO because you are influencing rather than administering.\n\n**Path Type & Reality**\nEmployee role, typically at VP or Director level. You are navigating a hiring cycle and likely pitching a function that does not yet have a defined box on the org chart, which means your best leverage is a founder or CEO who already believes in the value of this lens.\n\n**AI Impact on this role**\nRating: Minimal. The work is fundamentally about reading human systems, building trust with leaders, and applying nuanced behavioral judgment in real-time, none of which AI can replicate with any reliability in high-stakes organizational contexts.\n\n---\n\n2. **Wilderness or High-Performance Retreat Facilitator (Executive Programs)**\n\n**Overview**\nThis role sits inside the growing industry of immersive leadership development programs, specifically those using non-traditional settings (nature, physical challenge, or high-stakes simulation) to unlock breakthroughs in senior leaders. You would design and lead multi-day experiences for executive cohorts, combining behavioral insight, group dynamics, and physical challenge as the catalyst.\n\n**Why this might be a fit**\nYou boulder. You read widely about the human condition. You communicate through analogy and metaphor, which is exactly what experiential facilitation demands. You also have real credibility with senior leaders, you have been one. That peer credibility is rare and valuable in a room full of executives who will immediately dismiss someone who has not operated at their level. This is not a tour guide role. At the senior end, these programs command serious fees, involve serious organizations (think: McKinsey leadership institutes, Outward Bound professional programs, or boutique firms like NOLS Executive), and require someone who can hold a room intellectually and physically.\n\n**Path Type & Reality**\nThis can begin as a freelance or fractional path, joining an existing program provider, before evolving into a founder play if you want to build your own offering. Freelance income here is variable and seasonally clustered, so runway planning matters in the early phase.\n\n**AI Impact on this role**\nRating: Minimal. The entire value of this experience is human presence, physical context, and real-time group dynamics reading. AI is irrelevant to what happens when a CFO breaks down on day two of a mountain retreat.\n\n---\n\n3. **Head of Culture and Transformation (Private Equity Portfolio Company)**\n\n**Overview**\nPrivate equity firms that buy and restructure mid-market companies often parachute operators into portfolio companies to drive rapid change. This role sits inside a PE-backed company at the intersection of organizational transformation, culture reset, and performance acceleration, with a defined exit horizon rather than an open-ended mandate.\n\n**Why this might be a fit**\nThis one plays directly to your wiring, Natasha. You are energized by complexity, you move fast, you make decisions under ambiguity, and you get bored in slow-moving environments. PE portfolio roles are the opposite of slow. The mandate is usually urgent, the scope is broad, and the expectation is that you will reshape how the organization operates within a two-to-three year window. Your fundraising background ($30M at Mavenoid) and your financial fluency mean you speak the language PE partners actually care about. You are not just a \"people person\" to them. You are someone who connects culture levers to EBITDA outcomes, and that framing is rare and valuable in this context.\n\n**Path Type & Reality**\nEmployee role, but with a built-in time horizon tied to the PE hold period (typically three to five years). The upside can include carry or performance bonuses tied to exit multiples, which aligns with your financial independence goals. The downside is that PE-backed environments can be high-pressure and politically complex at the ownership level, so due diligence on the specific firm's operating style matters.\n\n**AI Impact on this role**\nRating: Supporting. AI tools are increasingly used for workforce analytics and restructuring modeling, but the judgment calls around human behavior, leadership trust, and culture during a turnaround remain firmly human terrain.",
          "init_summary_content": "<h5>1. Core Identity & Current Status</h5>\n- <strong>Name:</strong> Natasha Osborne Geurts [1a]\n- <strong>Pronouns:</strong> She / Her [1b]\n- <strong>Age:</strong> 34 [1c]\n- <strong>Region:</strong> Northern and Western Europe [1d]\n- <strong>Primary Objectives/Goals:</strong> Finding a new career path that better suits my skills and interests [1e]\n- <strong>Current Career Situation:</strong> Executive function (VP to C-suite roles or equivalent senior leadership positions with comprehensive organizational responsibilities) [1i]\n- <strong>Total Years of Experience:</strong> 12 [1h]\n\n<h5>2. Professional History & Sentiment Log</h5>\n- <strong>Detailed Career History:</strong> [1j]\n    - <strong>VP People & Operations</strong>, Cogna; Medium (51-200); Startup / Scale-up; Sector: SaaS; Dates: Dec 2025 – Present\n    - <strong>Independent Supervisory Board Member</strong>, Toggl; Medium (51-200); Startup / Scale-up; Sector: Productivity SaaS; Dates: Mar 2025 – Present\n    - <strong>VP, Chief of Staff - Founder & CEO</strong>, Mews; Enterprise (1000-5000); Startup / Scale-up; Sector: Hospitality SaaS; Dates: Feb 2023 – [End date not specified]\n    - <strong>Head of Operations, Finance & People</strong>, Mavenoid; Medium (51-200); Startup / Scale-up; Sector: AI SaaS; Dates: Aug 2020 – Sep 2022\n    - <strong>Product Manager</strong>, TomTom; Enterprise (1000-5000); Startup / Scale-up; Sector: Navigation Software; Dates: Aug 2018 – Aug 2020\n- <strong>Sentiment Log:</strong> [1k]\n    - <strong>Cogna (VP People & Operations):</strong> Happiness 9. Reason: \"Passionate about the subject matter (People), important and powerful role, great management relationship\"\n    - <strong>Toggl (Independent Supervisory Board Member):</strong> Happiness 9. Reason: \"Highly strategic work, limited commitment (one day per month), excellent pay\"\n    - <strong>Mews (VP, Chief of Staff):</strong> Happiness 7. Reason: \"Powerful role, great access, smart people, too much focus on using organization and admin skills in the role, dreadful political culture, micromanagement from manager\"\n    - <strong>Mavenoid (Head of Operations, Finance & People):</strong> Happiness 8. Reason: \"Powerful role, interesting problems, exciting trajectory, overbearing and relentlessly critical manager\"\n    - <strong>TomTom (Product Manager):</strong> Happiness 4. Reason: \"Easy role, boring and too slow\"\n- <strong>Skills & Technical Footprint:</strong> \n  - <strong>Top Skills:</strong> Strategic Finance, People Management, Executive Coaching [1l]\n  - <strong>Certifications:</strong> Product Management Certificate, Leadership & Strategy Certification [1l]\n  - <strong>Notable Achievements:</strong> [1l]\n    - <strong>Mavenoid:</strong> \"Led successful Series B and B+ fundraising rounds totaling $30M\"\n    - <strong>Mews:</strong> \"Drove company-wide strategic shift towards AI & automation through financial analysis\"\n    - <strong>Uber:</strong> \"Product leader for Uber Airports, the business' most profitable vertical in 2017\"\n    - <strong>Toggl:</strong> \"Reorganization; Strategic product pivot\"\n    - <strong>TomTom:</strong> \"Determined the strategic direction for an app with 50,000 users\"\n    - <strong>Cogna:</strong> \"Drove company-wide up-skilling initiative; Introduced performance management system\"\n  - <strong>Specialized Knowledge:</strong> Strategic Finance, Operations Management, People Leadership, Fundraising, Product Strategy, Business, Literature [4d]\n  - <strong>AI Familiarity:</strong> Very familiar. I frequently use AI tools [4e]\n\n<h5>3. Education & Personal Context</h5>\n- <strong>Education Level:</strong> Bachelor's degree [1f]\n- <strong>Field of Study:</strong> English Literature; Engineering Leadership [1g]\n- <strong>Personal Interests/Hobbies:</strong> Bouldering, Writing, Reading [1m]\n- <strong>Additional Context/Constraints:</strong> Candidate reports: \"I'm very interested in human behavior. That's what I like to read and write about. For example, I like to read books by Alain De Botton, Erin Meyer, Ian Lelsie and Yuval Noah Harari. I also have excellent business acumen, and am an expert in leading high performance teams in the specific field of software. My favorite business book is The Hard Thing about Hard Things.\" [1n]\n- <strong>Dream Jobs:</strong> Non-Fiction Writer, own a small business focused on education, Chief People Officer [4h]\n\n<h5>4. Values, Compensation & Work Preferences</h5>\n- <strong>Ranked Career Values (High to Low):</strong> [3a]\n    1. Autonomy (e.g., having independence in work, making decisions)\n    2. Helping Others & Making an Impact (e.g., contributing to a cause, supporting colleagues or clients)\n    3. Accomplishment & Recognition (e.g., reaching significant milestones, excelling in work, receiving awards)\n    4. Job Satisfaction (e.g., enjoying daily tasks, feeling engaged and motivated by work)\n    5. Job Stability & Financial Security (e.g., long-term stability, financial reliability)\n    6. Personal Growth & Challenge (e.g., learning new skills, overcoming difficult challenges, pushing personal and professional limits)\n    7. Work-Life Balance (e.g., balancing personal and professional life, flexible hours)\n    8. Creativity (e.g., having the freedom to innovate, engaging in creative problem-solving)\n- <strong>Cultural & WLB Preferences:</strong> \n    - <strong>Value Alignment:</strong> Very [3b]\n    - <strong>WLB Importance:</strong> Very [3c]\n    - <strong>Preferred Culture:</strong> Innovative and forward-thinking [4c]\n- <strong>Logistics & Pay:</strong> \n    - <strong>Schedule:</strong> Standard 9-to-5 schedule [3d]\n    - <strong>Salary Importance:</strong> Moderately important: I value salary but also consider other factors [3e]\n    - <strong>Bracket:</strong> 150,000–250,000 [3f]\n    - <strong>Pay Priority:</strong> High salary [3g]\n\n<h5>5. Behavioral & Operational Profile</h5>\n- <strong>Energy & Social:</strong> \n    - <strong>Social energy:</strong> Somewhat Energized (I enjoy it, but have a limit) [2a]\n    - <strong>Colleague interaction:</strong> Keep it mostly work-focused but join social events occasionally. [6f]\n- <strong>Cognitive Style:</strong> \n    - <strong>Decision focus:</strong> The long-term, big-picture ideas and impact [2b]\n    - <strong>Decision speed:</strong> Decisive (Decide immediately to keep moving) [2c]\n    - <strong>Communication style:</strong> Use analogies and metaphors to explain concepts [2d]\n    - <strong>Change response:</strong> Leaning Structure (I handle ambiguity well, but appreciate some structure) [2e]\n- <strong>Operational Style:</strong> \n    - <strong>Environment structure:</strong> Highly Flexible (Minimal structure and maximum autonomy) [2g]\n    - <strong>Risk tolerance:</strong> Very comfortable [2h]\n    - <strong>Stress response:</strong> Leaning Action (Tend to act quickly, with a brief pause) [2i]\n    - <strong>Time management:</strong> Pressure-Dependent (I need the urgency of approaching deadlines to focus effectively) [5f]\n- <strong>Hindrances/Growth Areas:</strong> Candidate reports: Taking on too much responsibility, Being overly critical of self or others, Procrastination [2j]\n\n<h5>6. Team Dynamics & Emotional Intelligence</h5>\n- <strong>Collaboration Style:</strong> \n    - <strong>Team role:</strong> Offer ideas and actively engage in discussions. [5a]\n    - <strong>Motivator:</strong> Achieving common goals [5b]\n    - <strong>Preferred size:</strong> Medium (6-10 people) [5c]\n    - <strong>Conflict style:</strong> Address them directly to find a solution [5d]; I prioritize securing the best outcome for myself or my team first [2f]\n- <strong>Management Interaction:</strong> \n    - <strong>Preferred Leadership:</strong> Delegating autonomy and trusting me to figure things out [5g]\n    - <strong>Response to Disagreement:</strong> Approach them privately to share your point of view [5h]\n- <strong>EI & Feedback:</strong> \n    - <strong>Handling Feedback:</strong> I find it challenging and may struggle to apply it [6a]\n    - <strong>Providing Feedback:</strong> Try to be encouraging but are careful not to offend. [6b]\n    - <strong>Support style:</strong> Provide practical help or solutions [6c]\n    - <strong>Emotional regulation:</strong> Remain calm and control your emotions effectively [6d]\n    - <strong>Stress coping:</strong> Talk to colleagues or friends for support [6e]\n    - <strong>EI Challenges:</strong> Providing constructive feedback, Managing stress effectively [6g]\n\n<h5>7. Future Trajectory & Constraints</h5>\n- <strong>Goals:</strong> \n    - <strong>Short-term:</strong> Expand my professional network [7a]\n    - <strong>Long-term:</strong> Establish expertise and recognition in my field, Achieve financial independence [7b]\n- <strong>Developmental Drive:</strong> \n    - <strong>Barriers:</strong> Uncertainty about my next career step, Personal doubts or lack of confidence [7c]\n    - <strong>Interest in new skills:</strong> Yes, if relevant to my career [7d]\n    - <strong>Areas to develop:</strong> Leadership & Team Management, People & Culture (HR), Communication & Public Speaking [7e]\n    - <strong>Workshop topics:</strong> People Management and Recruitment (e.g., employee engagement and happiness, talent acquisition strategies), Project Management and Leadership (e.g., effective team leadership, managing large-scale projects) [4f]\n- <strong>Areas of Interest & Archetypes:</strong> \n    - <strong>Interests:</strong> Business Strategy & Consulting, Human Resources & People Operations, Education & Learning [4a]\n    - <strong>Archetypes:</strong> The Communicator (articulates ideas effectively, fosters understanding), The Leader (motivates teams, sets direction, takes initiative) [4b]\n- <strong>Avoidance List (Hard Constraints):</strong> \n    - <strong>Avoided work aspects:</strong> Sales, negotiation, or client-facing roles (e.g., pitching ideas, persuading clients, managing external relationships), Limited learning or growth opportunities (e.g., repetitive tasks, no clear professional development path) [3h]\n    - <strong>Avoided industries:</strong> Manufacturing and Physical Labor, Retail, Hospitality, and Customer Service, Agriculture and Outdoor Work, Legal Professions [4g]"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Dream prep",
            "type": "main",
            "index": 0
          },
          {
            "node": "4-10 only",
            "type": "main",
            "index": 0
          },
          {
            "node": "Top 3 only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 3 only": {
      "main": [
        [
          {
            "node": "Pull enriched T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull enriched T3": {
      "main": [
        [
          {
            "node": "t3 content order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "t3 content order": {
      "main": [
        [
          {
            "node": "T3 enr. combined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T3 enr. combined": {
      "main": [
        [
          {
            "node": "T3 Careers Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T3 Careers Prompt": {
      "main": [
        [
          {
            "node": "Top 3 Careers Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 3 Careers Generator": {
      "main": [
        [
          {
            "node": "Split Top3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Top3": {
      "main": [
        [
          {
            "node": "Insert Top 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Top 3": {
      "main": [
        [
          {
            "node": "Complete merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4-10 only": {
      "main": [
        [
          {
            "node": "Pull Runner up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Runner up": {
      "main": [
        [
          {
            "node": "Combine runners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine runners": {
      "main": [
        [
          {
            "node": "Set Runner Up Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Runner Up Prompt": {
      "main": [
        [
          {
            "node": "Runner Up Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Runner Up Analysis": {
      "main": [
        [
          {
            "node": "Parse runner up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        []
      ]
    },
    "Parse runner up": {
      "main": [
        [
          {
            "node": "Insert Runner Ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Runner Ups": {
      "main": [
        [
          {
            "node": "Complete merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Dream prep": {
      "main": [
        [
          {
            "node": "Dream Job Feasibility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dream Job Feasibility": {
      "main": [
        [
          {
            "node": "Parse Dream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Parse Dream": {
      "main": [
        [
          {
            "node": "Insert dream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert dream": {
      "main": [
        [
          {
            "node": "Complete merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Complete merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Top 3 Careers Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Runner Up Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Dream Job Feasibility",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "FbsruPbuZI2Fgtc8",
    "availableInMCP": false
  },
  "versionId": "44b434da-5fe2-4f13-805f-4b0c86790fd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e7b430fdf0c0933b51e03975e465d1a7e5fdf56715539d5a6635a3c8f962dc4"
  },
  "id": "pXlzC6vuG7TO28oQ",
  "tags": []
}