n8n_aa/WF6_feedback_processing.json
{"updatedAt":"2026-05-14T08:01:53.774Z","createdAt":"2025-11-26T10:08:05.848Z","id":"XuOb0iIv1Hwc2t62","name":"WF6 Feedback processing","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"section_type"},{"name":"feedback"},{"name":"explore"},{"name":"report_id"},{"name":"first_name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-7472,-976],"id":"3f7b36c8-416f-4ebf-8dc8-b2a67bd0414f","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $('Parse Query').item.json.report_id }}"},{"keyName":"section_type","keyValue":"={{ $('Parse Query').item.json.section_type }}"},{"keyName":"metadata","keyValue":"={{ $('Get Personality Section').first().json.metadata }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,-1488],"id":"089997c3-3918-4ab0-9d10-32ca4c3f3ed2","name":"Get Personality Section","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $('Parse Query').item.json.report_id }}"},{"keyName":"section_type","keyValue":"outside_box"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,-160],"id":"743d8799-2531-4539-91ff-97d80415ef03","name":"Get Outside Box","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $('Parse Query').item.json.report_id }}"},{"keyName":"section_type","keyValue":"dream_jobs"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,240],"id":"8d8e1425-b9b2-4714-b77e-b52358d7a88e","name":"Get Dream Jobs","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"assignments":{"assignments":[{"id":"personality_prompt","name":"prompt","value":"=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for PERSONALITY SECTION: {{ $('Parse Query').item.json.section_type }}\n\n## CATEGORIES:\n- CAT. 0: No actionable feedback (\"looks good\", \"accurate\") - return original unchanged, notes: \"No changes needed based on your feedback.\"\n- CAT. 1: Minor feedback - small adjustments, brief notes\n- CAT. 2: Significant feedback - detailed adjustments\n\n# RULES:\n- DO NOT invent feedback\n- Keep adjusted content similar length\n- Business casual tone\n- Use user's name  {{ $('Parse Query').item.json.first_name }} and 'you'. SECOND PERSON perspective!\n\n# PERSONALITY SCORE RECALIBRATION (when section_type is a personality section)\n\nIf section_type is \"approach\", \"strengths\", \"development\", or \"values\", the JSON output must ALSO include a \"personality_scores\" key. For all other section_types (chat_highlights, etc.), set \"personality_scores\" to null.\n\nThese are 5 AI-judged dimensions on a 1-10 integer scale that drive the candidate's Personality Radar. They are NOT shown to the user.\n\n**Dimensions:**\n- strategic_depth — long-arc systems thinking vs immediate-execution focus\n- execution_bias — ships fast vs deliberates carefully\n- people_intuition — reads social/political dynamics vs misses them\n- ambiguity_tolerance — thrives in unclear vs needs structure\n- recognition_pull — external visibility vs internal satisfaction\n\nThe scores are about the candidate as a whole. The fact that you are editing one specific section (e.g. \"strengths\") does not mean the feedback only affects that section's themes — feedback like \"I'm more deliberate than this suggests\" or \"I actually find ambiguity stressful\" can shift any dimension regardless of which section the user dropped it on.\n\n**Current scores (nudge from this baseline, do not re-evaluate from scratch):**\n{{ $('Get Personality Section').first().json.metadata }}\n\n**Rules for adjustment:**\n- CAT. 0 feedback: return current scores unchanged.\n- CAT. 1 feedback: nudge 1-2 points only on dimensions the feedback directly speaks to.\n- CAT. 2 feedback: adjust more meaningfully, but stay within ±3 points of current per dimension unless feedback strongly justifies a bigger swing.\n- Do NOT mention scores in the user-facing \"feedback\" summary text.\n- If \"Current scores\" above is null/empty (older report without scores), generate fresh scores from section content + feedback as best you can.\n\n**Updated JSON output format:**\n```json\n\n# OUTPUT FORMAT\nReturn ONLY JSON:\n```json\n{\n  \"section_type\": \"{{ $json.section_type }}\",\n  \"category\": 0, 1, or 2,\n  \"content\": \"adjusted or original content\",\n  \"feedback\": \"summary of feedback addressed or 'No changes needed based on your feedback.'\",\n  \"explore\": \"new content generated from exploration request, or empty string if none\",\n  \"report_id\": {{ $json.report_id }}.\n  \"personality_scores\": null OR { \"strategic_depth\": N, \"execution_bias\": N, \"people_intuition\": N, \"ambiguity_tolerance\": N, \"recognition_pull\": N }\n}\n```\n\n# INPUT\n**Section Type:** {{ $('Parse Query').item.json.section_type }}\n**Original Content:**\n{{ $('Get Personality Section').first().json.content }}\n**Feedback:**\n{{ $('Parse Query').item.json.feedback }}\n**Report ID:** {{ $('Parse Query').item.json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6112,-1488],"id":"6752186e-6d55-4288-b638-273b5229e98b","name":"Build Personality Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"outsidebox_prompt","name":"prompt","value":"=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for OUTSIDE-THE-BOX CAREERS. Can suggest new careers if needed.\n\n## CATEGORIES:\n- CAT. 0: No actionable feedback - return original unchanged\n- CAT. 1: Minor adjustments needed\n- CAT. 2: Significant changes or new suggestion required\n\n**If new suggestion needed:**\n1. Summarize why original didn't resonate\n2. Suggest NEW outside-the-box career\n3. Format new text in italic with \"Based on your feedback...\"\n\n# RULES:\n- DO NOT invent feedback\n- Keep adjusted content similar length (unless adding exploration content)\n- Business casual tone\n- Use user's name  \"{{ $json.first_name }}\" and 'you'. SECOND PERSON perspective!\n- If explore contains a new career suggestion from the agent, integrate it properly\n- If explore contains insights about a specific career, integrate into THAT career only\n- Preserve the ID for each career exactly as provided\n- DO NOT include the career title in the content - title is stored separately\n- Content should start with **Overview:** not with the career title\n\n# OUTPUT FORMAT\nReturn ONLY JSON with an array of outside_box careers, one object per career:\n```json\n{\n  \"section_type\": \"outside_box\",\n  \"outside_box\": [\n    {\n      \"id\": \"original-uuid-from-input\",\n      \"title\": \"Career Title\",\n      \"category\": 0, 1, or 2,\n      \"content\": \"adjusted or original content for this career\",\n      \"feedback\": \"what was changed for THIS career, or 'No changes needed.'\",\n      \"explore\": \"exploration content added to THIS career, or empty string\"\n    }\n  ],\n  \"report_id\": {{ $json.report_id }}\n}\n```\n```\n\n# INPUT\n**Outside-the-box Careers:**\n---\n**ID:** {{ $json.careers[0].id }}\n**Title:** {{ $json.careers[0].title }}\n**Content:** {{ $json.careers[0].content }}\n---\n\n**ID:** {{ $json.careers[1].id }}\n**Title:** {{ $json.careers[1].title }}\n**Content:** {{ $json.careers[1].content }}\n\n---\n\n**ID:** {{ $json.careers[2].id }}\n**Title:** {{ $json.careers[2].title }}\n**Content:** {{ $json.careers[2].content }}\n\n---\n\n\n**Feedback:**\n{{ $json.feedback }}\n\n**Explore:**\n{{ $json.explore }}\n\n**Report ID:** {{ $json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6128,-160],"id":"33ccbe79-b4f0-47dc-90fe-6313ca3ee7f0","name":"Build Outside Box Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"dream_prompt","name":"prompt","value":"=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for DREAM JOBS. These are USER's chosen dreams - address their questions about feasibility, DO NOT suggest alternatives.\n\n## CATEGORIES (per dream job):\n- CAT. 0: No actionable feedback for THIS job - return original unchanged\n- CAT. 1: Minor clarification added to THIS job\n- CAT. 2: Significant expansion to address user's questions about THIS job\n\n# RULES:\n- DO NOT invent feedback\n- DO NOT suggest alternative dream jobs\n- Apply feedback ONLY to jobs it relates to - leave others unchanged\n- Address user's questions about feasibility\n- Business casual tone\n- Use user's name {{ $json.first_name }} and 'you'.  SECOND PERSON perspective!\n- If explore contains insights about a specific job:\n  1. Integrate key points into the content where relevant\n  2. ALSO return the full explore text in the \"explore\" field for that job\n- Preserve the ID for each job exactly as provided\n- DO NOT include the job title in the content - title is stored separately\n- Content should start with **Overview:** not with the job title\n\n# OUTPUT FORMAT\nReturn ONLY JSON with an array of dream_jobs, one object per job:\n```json\n{\n  \"section_type\": \"dream_jobs\",\n  \"dream_jobs\": [\n    {\n      \"id\": \"original-uuid-from-input\",\n      \"title\": \"Job Title\",\n      \"category\": 0, 1, or 2,\n      \"content\": \"adjusted or original content for this job\",\n      \"feedback\": \"what was changed for THIS job, or 'No changes needed.'\",\n      \"explore\": \"the original explore text for THIS job (copy from input), or empty string if none\"\n    }\n  ],\n  \"report_id\": {{ $json.report_id }}\n}\n```\n\n# INPUT\n**Dream Jobs:**\n---\n**ID:** {{ $json.jobs[0].id }}\n**Title:** {{ $json.jobs[0].title }}\n**Content:** {{ $json.jobs[0].content }}\n---\n\n**ID:** {{ $json.jobs[1].id }}\n**Title:** {{ $json.jobs[1].title }}\n**Content:** {{ $json.jobs[1].content }}\n\n---\n\n**Feedback (all):**\n{{ $json.feedback }}\n\n**Explore (all):**\n{{ $json.explore }}\n\n**Report ID:** {{ $json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6128,240],"id":"16abe639-791a-4223-aa2e-594ac5e2ad4b","name":"Build Dream Prompt"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-5888,-1488],"id":"1d3438e6-31e1-44ed-aeeb-4bfbf1362e7f","name":"AI Personality"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-5904,-560],"id":"5755a00c-c4d9-4f4c-8104-87fa81ae45e7","name":"AI Runner-ups"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-5904,-160],"id":"05944302-6f8c-4bfc-b313-91d1f921e1d3","name":"AI Outside Box"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-5904,240],"id":"6a03a82e-e48c-4abf-8e64-7e962c673fb4","name":"AI Dream"},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5888,-1312],"id":"afd63259-1f08-4067-a8ef-a0e78438cd0a","name":"Gemini Personality","credentials":{"googlePalmApi":{"id":"TJBoqA8SVIj4Ikeq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5904,16],"id":"148d2377-60d1-4730-8e55-21cb2c703621","name":"Gemini Outside Box","credentials":{"googlePalmApi":{"id":"TJBoqA8SVIj4Ikeq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5904,432],"id":"2f746a00-5cdc-42c0-a511-c8a8cb39bf0c","name":"Gemini Dream","credentials":{"googlePalmApi":{"id":"TJBoqA8SVIj4Ikeq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return {\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput,\n      report_id: $('Parse Query').item.json.report_id,\n      section_type: $('Parse Query').item.json.section_type\n    }\n  };\n}\n// Build the row payload. metadata is only set when the AI returned a\n// non-null personality_scores object — typically only for section_type\n// \"approach\". Other sections leave metadata untouched on the existing row.\nconst out = {\n  feedback_category: aiResponse.category,\n  content: aiResponse.content,\n  feedback: aiResponse.feedback || 'No changes needed based on your feedback.',\n  explore: aiResponse.explore || '',\n  report_id: aiResponse.report_id || $('Parse Query').item.json.report_id,\n  section_type: aiResponse.section_type || $('Parse Query').item.json.section_type\n};\nif (aiResponse.personality_scores && typeof aiResponse.personality_scores === 'object') {\n  out.metadata = { personality_scores: aiResponse.personality_scores };\n}\nreturn { json: out };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5536,-1488],"id":"76fdd93e-0e12-440d-8e29-8dc12f11aaf7","name":"Process Personality"},{"parameters":{"jsCode":"let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return [{\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput\n    }\n  }];\n}\n\nconst combineData = $('Separator2').first().json;\n\n// AI returns runner_ups array\nconst outputCareers = aiResponse.runner_ups || [];\n\nconst updates = outputCareers.map((aiCareer) => {\n  return {\n    json: {\n      id: aiCareer.id,\n      section_type: 'runner_ups',\n      title: aiCareer.title,\n      feedback_category: aiCareer.category,\n      content: aiCareer.content,\n      feedback: aiCareer.feedback || 'No changes needed.',\n      explore: aiCareer.explore || '',\n      report_id: aiResponse.report_id || combineData.report_id,\n      first_name: combineData.first_name || ''\n    }\n  };\n});\n\nreturn updates;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5552,-560],"id":"72545c00-b98b-4400-91e5-33fbcaeca4dc","name":"Process Runner-ups"},{"parameters":{"jsCode":"let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return [{\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput\n    }\n  }];\n}\n\n// Get data from the Combine node\nconst combineData = $('Separator4').first().json;\nconst careers = combineData.careers || [];\nconst outputCareers = aiResponse.outside_box || [];\n\n// UUID validation regex\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nconst updates = outputCareers.map((aiCareer, index) => {\n  let careerId = aiCareer.id;\n  \n  // Validate UUID - fallback to matching by title if invalid\n  if (!careerId || !uuidRegex.test(careerId)) {\n    const original = careers.find(c => c.title === aiCareer.title) || careers[index] || {};\n    careerId = original.id;\n  }\n  \n  return {\n    json: {\n      id: careerId,\n      section_type: 'outside_box',\n      title: aiCareer.title,\n      feedback_category: aiCareer.category,\n      content: aiCareer.content,\n      feedback: aiCareer.feedback || 'No changes needed based on your feedback.',\n      explore: aiCareer.explore || '',\n      report_id: aiResponse.report_id || combineData.report_id,\n      first_name: combineData.first_name || ''\n    }\n  };\n});\n\nreturn updates;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5552,-160],"id":"1213d819-60aa-480a-9022-7bfb1691c3ab","name":"Process Outside Box"},{"parameters":{"jsCode":"let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return [{\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput\n    }\n  }];\n}\n\n// Get data from the Combine node\nconst combineData = $('Separator5').first().json;\nconst jobs = combineData.jobs || [];\n\n// Handle both possible keys from AI response\nconst outputJobs = aiResponse.dream_jobs || aiResponse.jobs || [];\n\n// UUID validation regex\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nconst updates = outputJobs.map((aiJob, index) => {\n  let jobId = aiJob.id;\n  \n  // Validate UUID - fallback to matching by title if invalid\n  if (!jobId || !uuidRegex.test(jobId)) {\n    const original = jobs.find(j => j.title === aiJob.title) || jobs[index] || {};\n    jobId = original.id;\n  }\n  \n  return {\n    json: {\n      id: jobId,\n      section_type: 'dream_jobs',\n      title: aiJob.title,\n      feedback_category: aiJob.category,\n      content: aiJob.content,\n      feedback: aiJob.feedback || 'No changes needed.',\n      explore: aiJob.explore || '',\n      report_id: aiResponse.report_id || combineData.report_id,\n      first_name: combineData.first_name || ''\n    }\n  };\n});\n\nreturn updates;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5552,240],"id":"4a4d7ab0-9813-4e2f-abf6-592232746d5c","name":"Process Dream"},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $('Parse Query').item.json.report_id }}"},{"keyName":"section_type","keyValue":"runner_ups"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,-560],"id":"8909ec65-c511-4a34-8c6c-b9d734fdf5a7","name":"Get Runner-ups1","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"assignments":{"assignments":[{"id":"runnerups_prompt","name":"prompt","value":"=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for RUNNER-UP CAREERS. Evaluate each career individually and apply feedback only where relevant.\n\n## CATEGORIES (per career):\n- CAT. 0: No actionable feedback for THIS career - return original unchanged\n- CAT. 1: Minor adjustments needed for THIS career\n- CAT. 2: Significant changes or new suggestion required for THIS career\n\n**If new suggestion needed for a specific career:**\n1. Summarize why original didn't resonate\n2. Suggest NEW career\n3. Format new text in italic with \"Based on your feedback...\"\n\n# RULES:\n- DO NOT invent feedback\n- Apply feedback ONLY to careers it relates to - leave others unchanged\n- Keep adjusted content similar length (unless adding exploration content)\n- Business casual tone\n- Use user's name ({{ $json.first_name }}) and 'you'  SECOND PERSON perspective!\n- If explore contains insights about a specific career, integrate into THAT career only\n- Preserve the ID for each career exactly as provided\n- DO NOT include the career title in the content - title is stored separately\n- Content should start with **Overview:** not with the career title\n\n# OUTPUT FORMAT\nReturn ONLY JSON with an array of runner_ups, one object per career:\n```json\n{\n  \"section_type\": \"runner_ups\",\n  \"runner_ups\": [\n    {\n      \"id\": \"original-uuid-from-input\",\n      \"title\": \"Career Title\",\n      \"category\": 0, 1, or 2,\n      \"content\": \"adjusted or original content for this career\",\n      \"feedback\": \"what was changed for THIS career, or 'No changes needed.'\",\n      \"explore\": \"exploration content added to THIS career, or empty string\"\n    }\n  ],\n  \"report_id\": {{ $json.report_id }}\n}\n```\n\n# INPUT\n**Runner-up Careers:**\n---\n**ID:** {{ $json.careers[0].id }}\n**Title:** {{ $json.careers[0].title }}\n**Content:** {{ $json.careers[0].content }}\n---\n\n**ID:** {{ $json.careers[1].id }}\n**Title:** {{ $json.careers[1].title }}\n**Content:** {{ $json.careers[1].content }}\n\n---\n\n**ID:** {{ $json.careers[2].id }}\n**Title:** {{ $json.careers[2].title }}\n**Content:** {{ $json.careers[2].content }}\n\n---\n\n**ID:** {{ $json.careers[3].id }}\n**Title:** {{ $json.careers[3].title }}\n**Content:** {{ $json.careers[3].content }}\n\n---\n\n**ID:** {{ $json.careers[4].id }}\n**Title:** {{ $json.careers[4].title }}\n**Content:** {{ $json.careers[4].content }}\n\n---\n\n**User Feedback:**\n{{ $json.feedback }}\n\n**Exploration Request:**\n{{ $json.explore }}\n\n**Report ID:** {{ $json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6128,-560],"id":"bbabb75a-6521-45d1-a943-b7aaadf7486d","name":"Build Runner-ups Prompt1","executeOnce":false},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5904,-384],"id":"9af399fd-0864-49dd-93a6-188a8ac18d1e","name":"Gemini Runner-ups1","credentials":{"googlePalmApi":{"id":"TJBoqA8SVIj4Ikeq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const triggerData = $input.first().json;\nlet parsedData = {};\n\nif (triggerData.query) {\n  try {\n    const parsed = JSON.parse(triggerData.query);\n    parsedData = Array.isArray(parsed) ? parsed[0] : parsed;\n  } catch (e) {\n    parsedData = triggerData;\n  }\n} else {\n  parsedData = triggerData;\n}\n\n// Validate section_type\nconst validSections = [\n  'approach', 'strengths', 'development', 'values',\n  'top_career_1', 'top_career_2', 'top_career_3',\n  'runner_ups', 'outside_box', 'dream_jobs'\n];\n\nconst sectionType = parsedData.section_type || '';\nif (!validSections.includes(sectionType)) {\n  throw new Error(`Invalid section_type: ${sectionType}. Must be one of: ${validSections.join(', ')}`);\n}\n\n// Determine route category\nlet routeCategory;\nif (['approach', 'strengths', 'development', 'values'].includes(sectionType)) {\n  routeCategory = 'personality';\n} else if (['top_career_1', 'top_career_2', 'top_career_3'].includes(sectionType)) {\n  routeCategory = sectionType;\n} else if (sectionType === 'runner_ups') {\n  routeCategory = 'runner_ups';\n} else if (sectionType === 'outside_box') {\n  routeCategory = 'outside_box';\n} else if (sectionType === 'dream_jobs') {\n  routeCategory = 'dream';\n}\n\nreturn {\n  json: {\n    report_id: parsedData.report_id,\n    first_name: parsedData.first_name || '',\n    section_type: sectionType,\n    route_category: routeCategory,\n    feedback: parsedData.feedback || '',\n    explore: parsedData.explore || ''\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7216,-976],"id":"d2e87f1d-4907-48e6-83e4-7d7f94205ba5","name":"Parse Query"},{"parameters":{"jsCode":"const items = $input.all();\nconst feedback = $('Parse Query').item.json.feedback || '';\nconst explore = $('Parse Query').item.json.explore || '';\nconst reportId = $('Parse Query').item.json.report_id;\nconst firstName = $('Route by Section Type').item.json.first_name || '';\n\n// Sort by order_number if available\nconst sorted = items.sort((a, b) => (a.json.order_number || 0) - (b.json.order_number || 0));\n\nconst careers = sorted.map((item, i) => {\n  let content = item.json.content || '';\n  \n  // Strip the \"**Runner-up N: Title**\\n\" header from content if present\n  content = content.replace(/^\\*\\*Runner-up \\d+:\\s*[^*]+\\*\\*\\n?/, '').trim();\n  \n  return {\n    id: item.json.id,\n    title: item.json.title || `Runner-up ${i + 1}`,\n    section_type: item.json.section_type,\n    order_number: item.json.order_number,\n    content: content\n  };\n});\n\nreturn {\n  json: {\n    report_id: reportId,\n    first_name: firstName,\n    feedback: feedback,\n    explore: explore,\n    careers: careers\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6352,-560],"id":"d9089231-d949-4375-9241-06e17415f0f8","name":"Separator2"},{"parameters":{"jsCode":"const items = $input.all();\nconst feedback = $('Parse Query').item.json.feedback || '';\nconst explore = $('Parse Query').item.json.explore || '';\nconst reportId = $('Parse Query').item.json.report_id;\nconst firstName = $('Route by Section Type').item.json.first_name || '';\n\n// Sort by order_number if available\nconst sorted = items.sort((a, b) => (a.json.order_number || 0) - (b.json.order_number || 0));\n\nconst careers = sorted.map((item, i) => {\n  let content = item.json.content || '';\n  \n  // Strip the \"**Outside-the-box N: Title**\\n\" header from content if present\n  content = content.replace(/^\\*\\*Outside-the-box \\d+:\\s*[^*]+\\*\\*\\n?/, '').trim();\n  \n  return {\n    id: item.json.id,\n    title: item.json.title || `Outside-the-box ${i + 1}`,\n    section_type: item.json.section_type,\n    order_number: item.json.order_number,\n    content: content\n  };\n});\n\nreturn {\n  json: {\n    report_id: reportId,\n    first_name: firstName,\n    feedback: feedback,\n    explore: explore,\n    careers: careers\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6352,-160],"id":"e43985ed-9ad6-4152-8f67-40e8c91facab","name":"Separator4"},{"parameters":{"jsCode":"const items = $input.all();\nconst feedback = $('Parse Query').item.json.feedback || '';\nconst explore = $('Parse Query').item.json.explore || '';\nconst reportId = $('Parse Query').item.json.report_id;\nconst firstName = $('Route by Section Type').item.json.first_name || '';\n\nconst sorted = items.sort((a, b) => (a.json.order_number || 0) - (b.json.order_number || 0));\n\nconst jobs = sorted.map((item, i) => {\n  let content = item.json.content || '';\n  \n  // Strip the \"**Dream Job N: Title**\\n\" header from content if present\n  content = content.replace(/^\\*\\*Dream Job \\d+:\\s*[^*]+\\*\\*\\n?/, '').trim();\n  \n  return {\n    id: item.json.id,\n    title: item.json.title || `Dream Job ${i + 1}`,\n    section_type: item.json.section_type,\n    order_number: item.json.order_number,\n    content: content\n  };\n});\n\nreturn {\n  json: {\n    report_id: reportId,\n    first_name: firstName,\n    feedback: feedback,\n    explore: explore,\n    jobs: jobs\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6352,240],"id":"5246c3f9-8a2a-4540-a647-cd360a761bef","name":"Separator5"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-5904,-1008],"id":"1b84c63a-7e3d-4749-9be9-a434ae207929","name":"AI Top"},{"parameters":{"jsCode":"let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return [{\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput\n    }\n  }];\n}\n\n// Get career ID and first_name from the Build prompt node\nconst buildData = $('Build Top Career Prompt').first().json;\n\nreturn [{\n  json: {\n    id: buildData.career_id,\n    section_type: aiResponse.section_type || buildData.section_type,\n    feedback_category: aiResponse.category,\n    content: aiResponse.content,\n    feedback: aiResponse.feedback || 'No changes needed based on your feedback.',\n    explore: aiResponse.explore || '',\n    report_id: aiResponse.report_id || buildData.report_id,\n    first_name: buildData.first_name || ''\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5552,-1008],"id":"f49eaf98-2da1-4892-b139-84e5eb87e927","name":"Process Top"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route_category }}","rightValue":"personality","operator":{"type":"string","operation":"equals"},"id":"5252b683-aaf5-4712-a8ad-0b41a86c80ad"}],"combinator":"and"},"renameOutput":true,"outputKey":"personality"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route_category }}","rightValue":"top_career_1","operator":{"type":"string","operation":"equals"},"id":"10f049a1-cc4a-4b91-a44e-ed13d07c87f3"}],"combinator":"and"},"renameOutput":true,"outputKey":"top_career_1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2864968d-e0f6-497b-bcb7-fff54bdb9dcf","leftValue":"={{ $json.route_category }}","rightValue":"top_career_2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"top_career_2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6ae7252-f880-48b7-bdea-0710eef54cee","leftValue":"={{ $json.route_category }}","rightValue":"top_career_3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"top_career_3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route_category }}","rightValue":"runner_ups","operator":{"type":"string","operation":"equals"},"id":"a4cf6cca-91ca-45db-9f2e-11f2f6464fcb"}],"combinator":"and"},"renameOutput":true,"outputKey":"runner_ups"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route_category }}","rightValue":"outside_box","operator":{"type":"string","operation":"equals"},"id":"dd606f1c-b7b1-4fef-8e2f-82bf4cf5d1ab"}],"combinator":"and"},"renameOutput":true,"outputKey":"outside_box"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route_category }}","rightValue":"dream","operator":{"type":"string","operation":"equals"},"id":"693893dd-68da-4c42-b3bb-8aab60b09e1d"}],"combinator":"and"},"renameOutput":true,"outputKey":"dream"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-6976,-1056],"id":"ac4479d5-faa5-4962-bf67-6620f0576f8a","name":"Route by Section Type"},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5904,-832],"id":"6245459b-9717-45c4-b1b2-ae698e03792e","name":"Gemini Top1","credentials":{"googlePalmApi":{"id":"TJBoqA8SVIj4Ikeq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"update","tableId":"report_sections","matchType":"allFilters","filters":{"conditions":[{"keyName":"report_id","condition":"eq","keyValue":"={{ $json.report_id }}"},{"keyName":"section_type","condition":"eq","keyValue":"={{ $json.section_type }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"content","fieldValue":"={{ $json.content }}"},{"fieldId":"feedback_category","fieldValue":"={{ $json.feedback_category }}"},{"fieldId":"feedback","fieldValue":"={{ $json.feedback }}"},{"fieldId":"explore","fieldValue":"={{ $json.explore }}"},{"fieldId":"fb_status","fieldValue":"true"},{"fieldId":"metadata","fieldValue":"={{ $json.metadata }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5136,-1264],"id":"999e4529-0aba-4911-87c6-04cfd73d6909","name":"Update Section in DB","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $json.report_id }}"},{"keyName":"section_type","keyValue":"top_career_1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,-1200],"id":"3c43df10-adec-4cc4-98fc-571e3dcf7f4f","name":"Get Top1","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $json.report_id }}"},{"keyName":"section_type","keyValue":"top_career_2"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,-1008],"id":"952eb7e1-294a-47a5-a24b-8cd7abefa4f7","name":"Get Top2","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $json.report_id }}"},{"keyName":"section_type","keyValue":"top_career_3"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,-816],"id":"dc91b58a-7ccf-4b5e-a95a-7583f0029a78","name":"Get Top3","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"assignments":{"assignments":[{"id":"top123_prompt","name":"prompt","value":"=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for TOP CAREER: {{ $json.title }}\n\n## CATEGORIES:\n- CAT. 0: No actionable feedback (\"looks good\", \"accurate\") - return original unchanged\n- CAT. 1: Minor feedback - small adjustments\n- CAT. 2: Significant feedback or exploration request - detailed adjustments/additions\n\n# RULES:\n- DO NOT invent feedback\n- Keep adjusted content similar length (unless adding exploration content)\n- Business casual tone\n- Use user's name  {{ $('Parse Query').item.json.first_name }} and 'you'. SECOND PERSON perspective!\n- If explore contains a new career suggestion from the agent, integrate it properly\n\n# OUTPUT FORMAT\nReturn ONLY JSON:\n```json\n{\n  \"section_type\": \"{{ $json.section_type }}\",\n  \"category\": 0, 1, or 2,\n  \"content\": \"adjusted or original content\",\n  \"feedback\": \"summary of feedback addressed or 'No changes needed based on your feedback.'\",\n  \"explore\": \"new content generated from exploration request, or empty string if none\",\n  \"report_id\": {{ $json.report_id }}\n}\n```\n\n# OTHER INPUT\n**Section Type:** {{ $json.section_type }}\n\n**Original Content:**\n{{ $json.content }}\n\n**Feedback:**\n{{ $('Route by Section Type').item.json.feedback }}\n\n**Explore Request:**\n{{ $('Route by Section Type').item.json.explore }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6128,-1008],"id":"ac67812a-6619-454c-add4-2d1b7b50e5cf","name":"Build Top Career Prompt"},{"parameters":{"operation":"update","tableId":"report_sections","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"content","fieldValue":"={{ $json.content }}"},{"fieldId":"feedback_category","fieldValue":"={{ $json.feedback_category }}"},{"fieldId":"feedback","fieldValue":"={{ $json.feedback }}"},{"fieldId":"explore","fieldValue":"={{ $json.explore }}"},{"fieldId":"fb_status","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5136,-160],"id":"6b49bfbb-9962-4f0e-b0ae-647da7d4f260","name":"Update Section in DB1","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"operation":"update","tableId":"report_sections","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"content","fieldValue":"={{ $json.content }}"},{"fieldId":"feedback_category","fieldValue":"={{ $json.feedback_category }}"},{"fieldId":"feedback","fieldValue":"={{ $json.feedback }}"},{"fieldId":"explore","fieldValue":"={{ $json.explore }}"},{"fieldId":"fb_status","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5136,240],"id":"edcde73d-989c-4b8c-8d9a-12a4f3688e5e","name":"Update Section in DB2","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"method":"POST","url":"https://pcoyafgsirrznhmdaiji.supabase.co/functions/v1/chat-session-complete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"report_id","value":"={{ $json.report_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4864,240],"id":"ac3af44b-5f6d-418a-8fc0-20ca4d71c476","name":"HTTP Request","executeOnce":true,"credentials":{"supabaseApi":{"id":"c7Dm1GTvLXkZ66Sz","name":"Dev tim"},"httpBearerAuth":{"id":"1cWuUZwsMZMo7Sqq","name":"Bearer Auth account"},"httpHeaderAuth":{"id":"aiABzg04zbeDSXRc","name":"Supabase Edge Functions — Shared Secret"}}},{"parameters":{"workflowId":{"__rl":true,"value":"yg7naUkC6oqr2WpU","mode":"list","cachedResultUrl":"/workflow/yg7naUkC6oqr2WpU","cachedResultName":"Atlas Assessments — ExecSummary (read in dash only)"},"workflowInputs":{"mappingMode":"defineBelow","value":{"report_id":"={{ $json.report_id }}"},"matchingColumns":[],"schema":[{"id":"report_id","displayName":"report_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-4320,240],"id":"16a76e60-238d-40d8-ad95-31725f2be8f4","name":"Call 'Executive sumary (plaform only)'"},{"parameters":{"assignments":{"assignments":[{"id":"report_id_assignment","name":"report_id","value":"={{ $('Parse Query').item.json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4576,240],"id":"a945c881-d28b-451e-89d8-bb049fcbcc14","name":"Report ID for sum"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Parse Query","type":"main","index":0}]]},"Get Personality Section":{"main":[[{"node":"Build Personality Prompt","type":"main","index":0}]]},"Get Outside Box":{"main":[[{"node":"Separator4","type":"main","index":0}]]},"Get Dream Jobs":{"main":[[{"node":"Separator5","type":"main","index":0}]]},"Build Personality Prompt":{"main":[[{"node":"AI Personality","type":"main","index":0}]]},"Build Outside Box Prompt":{"main":[[{"node":"AI Outside Box","type":"main","index":0}]]},"Build Dream Prompt":{"main":[[{"node":"AI Dream","type":"main","index":0}]]},"Gemini Personality":{"ai_languageModel":[[{"node":"AI Personality","type":"ai_languageModel","index":0}]]},"Gemini Outside Box":{"ai_languageModel":[[{"node":"AI Outside Box","type":"ai_languageModel","index":0}]]},"Gemini Dream":{"ai_languageModel":[[{"node":"AI Dream","type":"ai_languageModel","index":0}]]},"AI Personality":{"main":[[{"node":"Process Personality","type":"main","index":0}]]},"AI Runner-ups":{"main":[[{"node":"Process Runner-ups","type":"main","index":0}]]},"AI Outside Box":{"main":[[{"node":"Process Outside Box","type":"main","index":0}]]},"AI Dream":{"main":[[{"node":"Process Dream","type":"main","index":0}]]},"Process Personality":{"main":[[{"node":"Update Section in DB","type":"main","index":0}]]},"Get Runner-ups1":{"main":[[{"node":"Separator2","type":"main","index":0}]]},"Build Runner-ups Prompt1":{"main":[[{"node":"AI Runner-ups","type":"main","index":0}]]},"Gemini Runner-ups1":{"ai_languageModel":[[{"node":"AI Runner-ups","type":"ai_languageModel","index":0}]]},"Process Runner-ups":{"main":[[{"node":"Update Section in DB1","type":"main","index":0}]]},"Process Outside Box":{"main":[[{"node":"Update Section in DB1","type":"main","index":0}]]},"Process Dream":{"main":[[{"node":"Update Section in DB2","type":"main","index":0}]]},"Parse Query":{"main":[[{"node":"Route by Section Type","type":"main","index":0}]]},"Separator2":{"main":[[{"node":"Build Runner-ups Prompt1","type":"main","index":0}]]},"Separator4":{"main":[[{"node":"Build Outside Box Prompt","type":"main","index":0}]]},"Separator5":{"main":[[{"node":"Build Dream Prompt","type":"main","index":0}]]},"AI Top":{"main":[[{"node":"Process Top","type":"main","index":0}]]},"Process Top":{"main":[[{"node":"Update Section in DB","type":"main","index":0}]]},"Route by Section Type":{"main":[[{"node":"Get Personality Section","type":"main","index":0}],[{"node":"Get Top1","type":"main","index":0}],[{"node":"Get Top2","type":"main","index":0}],[{"node":"Get Top3","type":"main","index":0}],[{"node":"Get Runner-ups1","type":"main","index":0}],[{"node":"Get Outside Box","type":"main","index":0}],[{"node":"Get Dream Jobs","type":"main","index":0}]]},"Gemini Top1":{"ai_languageModel":[[{"node":"AI Top","type":"ai_languageModel","index":0}]]},"Update Section in DB":{"main":[[]]},"Get Top1":{"main":[[{"node":"Build Top Career Prompt","type":"main","index":0}]]},"Get Top2":{"main":[[{"node":"Build Top Career Prompt","type":"main","index":0}]]},"Get Top3":{"main":[[{"node":"Build Top Career Prompt","type":"main","index":0}]]},"Build Top Career Prompt":{"main":[[{"node":"AI Top","type":"main","index":0}]]},"Update Section in DB1":{"main":[[]]},"Update Section in DB2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Report ID for sum","type":"main","index":0}]]},"Report ID for sum":{"main":[[{"node":"Call 'Executive sumary (plaform only)'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"115ae9f3-5330-4f28-954f-4e3a83c39873","activeVersionId":"115ae9f3-5330-4f28-954f-4e3a83c39873","versionCounter":162,"triggerCount":0,"shared":[{"updatedAt":"2025-11-26T10:08:05.851Z","createdAt":"2025-11-26T10:08:05.851Z","role":"workflow:owner","workflowId":"XuOb0iIv1Hwc2t62","projectId":"IRGhJlz0HuarxdVs","project":{"updatedAt":"2026-05-08T11:19:23.000Z","createdAt":"2025-06-17T10:11:12.163Z","id":"IRGhJlz0HuarxdVs","name":"Cairnly","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"","creatorId":null}}],"tags":[{"updatedAt":"2025-11-24T20:41:07.767Z","createdAt":"2025-11-24T20:41:07.767Z","id":"44aNsHc2o7OPnHCN","name":"tool"}],"activeVersion":{"updatedAt":"2026-05-14T08:02:25.000Z","createdAt":"2026-05-14T08:01:53.776Z","versionId":"115ae9f3-5330-4f28-954f-4e3a83c39873","workflowId":"XuOb0iIv1Hwc2t62","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"section_type"},{"name":"feedback"},{"name":"explore"},{"name":"report_id"},{"name":"first_name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-7472,-976],"id":"3f7b36c8-416f-4ebf-8dc8-b2a67bd0414f","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $('Parse Query').item.json.report_id }}"},{"keyName":"section_type","keyValue":"={{ $('Parse Query').item.json.section_type }}"},{"keyName":"metadata","keyValue":"={{ $('Get Personality Section').first().json.metadata }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,-1488],"id":"089997c3-3918-4ab0-9d10-32ca4c3f3ed2","name":"Get Personality Section","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $('Parse Query').item.json.report_id }}"},{"keyName":"section_type","keyValue":"outside_box"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,-160],"id":"743d8799-2531-4539-91ff-97d80415ef03","name":"Get Outside Box","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $('Parse Query').item.json.report_id }}"},{"keyName":"section_type","keyValue":"dream_jobs"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,240],"id":"8d8e1425-b9b2-4714-b77e-b52358d7a88e","name":"Get Dream Jobs","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"assignments":{"assignments":[{"id":"personality_prompt","name":"prompt","value":"=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for PERSONALITY SECTION: {{ $('Parse Query').item.json.section_type }}\n\n## CATEGORIES:\n- CAT. 0: No actionable feedback (\"looks good\", \"accurate\") - return original unchanged, notes: \"No changes needed based on your feedback.\"\n- CAT. 1: Minor feedback - small adjustments, brief notes\n- CAT. 2: Significant feedback - detailed adjustments\n\n# RULES:\n- DO NOT invent feedback\n- Keep adjusted content similar length\n- Business casual tone\n- Use user's name  {{ $('Parse Query').item.json.first_name }} and 'you'. SECOND PERSON perspective!\n\n# PERSONALITY SCORE RECALIBRATION (when section_type is a personality section)\n\nIf section_type is \"approach\", \"strengths\", \"development\", or \"values\", the JSON output must ALSO include a \"personality_scores\" key. For all other section_types (chat_highlights, etc.), set \"personality_scores\" to null.\n\nThese are 5 AI-judged dimensions on a 1-10 integer scale that drive the candidate's Personality Radar. They are NOT shown to the user.\n\n**Dimensions:**\n- strategic_depth — long-arc systems thinking vs immediate-execution focus\n- execution_bias — ships fast vs deliberates carefully\n- people_intuition — reads social/political dynamics vs misses them\n- ambiguity_tolerance — thrives in unclear vs needs structure\n- recognition_pull — external visibility vs internal satisfaction\n\nThe scores are about the candidate as a whole. The fact that you are editing one specific section (e.g. \"strengths\") does not mean the feedback only affects that section's themes — feedback like \"I'm more deliberate than this suggests\" or \"I actually find ambiguity stressful\" can shift any dimension regardless of which section the user dropped it on.\n\n**Current scores (nudge from this baseline, do not re-evaluate from scratch):**\n{{ $('Get Personality Section').first().json.metadata }}\n\n**Rules for adjustment:**\n- CAT. 0 feedback: return current scores unchanged.\n- CAT. 1 feedback: nudge 1-2 points only on dimensions the feedback directly speaks to.\n- CAT. 2 feedback: adjust more meaningfully, but stay within ±3 points of current per dimension unless feedback strongly justifies a bigger swing.\n- Do NOT mention scores in the user-facing \"feedback\" summary text.\n- If \"Current scores\" above is null/empty (older report without scores), generate fresh scores from section content + feedback as best you can.\n\n**Updated JSON output format:**\n```json\n\n# OUTPUT FORMAT\nReturn ONLY JSON:\n```json\n{\n  \"section_type\": \"{{ $json.section_type }}\",\n  \"category\": 0, 1, or 2,\n  \"content\": \"adjusted or original content\",\n  \"feedback\": \"summary of feedback addressed or 'No changes needed based on your feedback.'\",\n  \"explore\": \"new content generated from exploration request, or empty string if none\",\n  \"report_id\": {{ $json.report_id }}.\n  \"personality_scores\": null OR { \"strategic_depth\": N, \"execution_bias\": N, \"people_intuition\": N, \"ambiguity_tolerance\": N, \"recognition_pull\": N }\n}\n```\n\n# INPUT\n**Section Type:** {{ $('Parse Query').item.json.section_type }}\n**Original Content:**\n{{ $('Get Personality Section').first().json.content }}\n**Feedback:**\n{{ $('Parse Query').item.json.feedback }}\n**Report ID:** {{ $('Parse Query').item.json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6112,-1488],"id":"6752186e-6d55-4288-b638-273b5229e98b","name":"Build Personality Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"outsidebox_prompt","name":"prompt","value":"=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for OUTSIDE-THE-BOX CAREERS. Can suggest new careers if needed.\n\n## CATEGORIES:\n- CAT. 0: No actionable feedback - return original unchanged\n- CAT. 1: Minor adjustments needed\n- CAT. 2: Significant changes or new suggestion required\n\n**If new suggestion needed:**\n1. Summarize why original didn't resonate\n2. Suggest NEW outside-the-box career\n3. Format new text in italic with \"Based on your feedback...\"\n\n# RULES:\n- DO NOT invent feedback\n- Keep adjusted content similar length (unless adding exploration content)\n- Business casual tone\n- Use user's name  \"{{ $json.first_name }}\" and 'you'. SECOND PERSON perspective!\n- If explore contains a new career suggestion from the agent, integrate it properly\n- If explore contains insights about a specific career, integrate into THAT career only\n- Preserve the ID for each career exactly as provided\n- DO NOT include the career title in the content - title is stored separately\n- Content should start with **Overview:** not with the career title\n\n# OUTPUT FORMAT\nReturn ONLY JSON with an array of outside_box careers, one object per career:\n```json\n{\n  \"section_type\": \"outside_box\",\n  \"outside_box\": [\n    {\n      \"id\": \"original-uuid-from-input\",\n      \"title\": \"Career Title\",\n      \"category\": 0, 1, or 2,\n      \"content\": \"adjusted or original content for this career\",\n      \"feedback\": \"what was changed for THIS career, or 'No changes needed.'\",\n      \"explore\": \"exploration content added to THIS career, or empty string\"\n    }\n  ],\n  \"report_id\": {{ $json.report_id }}\n}\n```\n```\n\n# INPUT\n**Outside-the-box Careers:**\n---\n**ID:** {{ $json.careers[0].id }}\n**Title:** {{ $json.careers[0].title }}\n**Content:** {{ $json.careers[0].content }}\n---\n\n**ID:** {{ $json.careers[1].id }}\n**Title:** {{ $json.careers[1].title }}\n**Content:** {{ $json.careers[1].content }}\n\n---\n\n**ID:** {{ $json.careers[2].id }}\n**Title:** {{ $json.careers[2].title }}\n**Content:** {{ $json.careers[2].content }}\n\n---\n\n\n**Feedback:**\n{{ $json.feedback }}\n\n**Explore:**\n{{ $json.explore }}\n\n**Report ID:** {{ $json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6128,-160],"id":"33ccbe79-b4f0-47dc-90fe-6313ca3ee7f0","name":"Build Outside Box Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"dream_prompt","name":"prompt","value":"=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for DREAM JOBS. These are USER's chosen dreams - address their questions about feasibility, DO NOT suggest alternatives.\n\n## CATEGORIES (per dream job):\n- CAT. 0: No actionable feedback for THIS job - return original unchanged\n- CAT. 1: Minor clarification added to THIS job\n- CAT. 2: Significant expansion to address user's questions about THIS job\n\n# RULES:\n- DO NOT invent feedback\n- DO NOT suggest alternative dream jobs\n- Apply feedback ONLY to jobs it relates to - leave others unchanged\n- Address user's questions about feasibility\n- Business casual tone\n- Use user's name {{ $json.first_name }} and 'you'.  SECOND PERSON perspective!\n- If explore contains insights about a specific job:\n  1. Integrate key points into the content where relevant\n  2. ALSO return the full explore text in the \"explore\" field for that job\n- Preserve the ID for each job exactly as provided\n- DO NOT include the job title in the content - title is stored separately\n- Content should start with **Overview:** not with the job title\n\n# OUTPUT FORMAT\nReturn ONLY JSON with an array of dream_jobs, one object per job:\n```json\n{\n  \"section_type\": \"dream_jobs\",\n  \"dream_jobs\": [\n    {\n      \"id\": \"original-uuid-from-input\",\n      \"title\": \"Job Title\",\n      \"category\": 0, 1, or 2,\n      \"content\": \"adjusted or original content for this job\",\n      \"feedback\": \"what was changed for THIS job, or 'No changes needed.'\",\n      \"explore\": \"the original explore text for THIS job (copy from input), or empty string if none\"\n    }\n  ],\n  \"report_id\": {{ $json.report_id }}\n}\n```\n\n# INPUT\n**Dream Jobs:**\n---\n**ID:** {{ $json.jobs[0].id }}\n**Title:** {{ $json.jobs[0].title }}\n**Content:** {{ $json.jobs[0].content }}\n---\n\n**ID:** {{ $json.jobs[1].id }}\n**Title:** {{ $json.jobs[1].title }}\n**Content:** {{ $json.jobs[1].content }}\n\n---\n\n**Feedback (all):**\n{{ $json.feedback }}\n\n**Explore (all):**\n{{ $json.explore }}\n\n**Report ID:** {{ $json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6128,240],"id":"16abe639-791a-4223-aa2e-594ac5e2ad4b","name":"Build Dream Prompt"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-5888,-1488],"id":"1d3438e6-31e1-44ed-aeeb-4bfbf1362e7f","name":"AI Personality"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-5904,-560],"id":"5755a00c-c4d9-4f4c-8104-87fa81ae45e7","name":"AI Runner-ups"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-5904,-160],"id":"05944302-6f8c-4bfc-b313-91d1f921e1d3","name":"AI Outside Box"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-5904,240],"id":"6a03a82e-e48c-4abf-8e64-7e962c673fb4","name":"AI Dream"},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5888,-1312],"id":"afd63259-1f08-4067-a8ef-a0e78438cd0a","name":"Gemini Personality","credentials":{"googlePalmApi":{"id":"TJBoqA8SVIj4Ikeq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5904,16],"id":"148d2377-60d1-4730-8e55-21cb2c703621","name":"Gemini Outside Box","credentials":{"googlePalmApi":{"id":"TJBoqA8SVIj4Ikeq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5904,432],"id":"2f746a00-5cdc-42c0-a511-c8a8cb39bf0c","name":"Gemini Dream","credentials":{"googlePalmApi":{"id":"TJBoqA8SVIj4Ikeq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return {\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput,\n      report_id: $('Parse Query').item.json.report_id,\n      section_type: $('Parse Query').item.json.section_type\n    }\n  };\n}\n// Build the row payload. metadata is only set when the AI returned a\n// non-null personality_scores object — typically only for section_type\n// \"approach\". Other sections leave metadata untouched on the existing row.\nconst out = {\n  feedback_category: aiResponse.category,\n  content: aiResponse.content,\n  feedback: aiResponse.feedback || 'No changes needed based on your feedback.',\n  explore: aiResponse.explore || '',\n  report_id: aiResponse.report_id || $('Parse Query').item.json.report_id,\n  section_type: aiResponse.section_type || $('Parse Query').item.json.section_type\n};\nif (aiResponse.personality_scores && typeof aiResponse.personality_scores === 'object') {\n  out.metadata = { personality_scores: aiResponse.personality_scores };\n}\nreturn { json: out };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5536,-1488],"id":"76fdd93e-0e12-440d-8e29-8dc12f11aaf7","name":"Process Personality"},{"parameters":{"jsCode":"let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return [{\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput\n    }\n  }];\n}\n\nconst combineData = $('Separator2').first().json;\n\n// AI returns runner_ups array\nconst outputCareers = aiResponse.runner_ups || [];\n\nconst updates = outputCareers.map((aiCareer) => {\n  return {\n    json: {\n      id: aiCareer.id,\n      section_type: 'runner_ups',\n      title: aiCareer.title,\n      feedback_category: aiCareer.category,\n      content: aiCareer.content,\n      feedback: aiCareer.feedback || 'No changes needed.',\n      explore: aiCareer.explore || '',\n      report_id: aiResponse.report_id || combineData.report_id,\n      first_name: combineData.first_name || ''\n    }\n  };\n});\n\nreturn updates;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5552,-560],"id":"72545c00-b98b-4400-91e5-33fbcaeca4dc","name":"Process Runner-ups"},{"parameters":{"jsCode":"let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return [{\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput\n    }\n  }];\n}\n\n// Get data from the Combine node\nconst combineData = $('Separator4').first().json;\nconst careers = combineData.careers || [];\nconst outputCareers = aiResponse.outside_box || [];\n\n// UUID validation regex\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nconst updates = outputCareers.map((aiCareer, index) => {\n  let careerId = aiCareer.id;\n  \n  // Validate UUID - fallback to matching by title if invalid\n  if (!careerId || !uuidRegex.test(careerId)) {\n    const original = careers.find(c => c.title === aiCareer.title) || careers[index] || {};\n    careerId = original.id;\n  }\n  \n  return {\n    json: {\n      id: careerId,\n      section_type: 'outside_box',\n      title: aiCareer.title,\n      feedback_category: aiCareer.category,\n      content: aiCareer.content,\n      feedback: aiCareer.feedback || 'No changes needed based on your feedback.',\n      explore: aiCareer.explore || '',\n      report_id: aiResponse.report_id || combineData.report_id,\n      first_name: combineData.first_name || ''\n    }\n  };\n});\n\nreturn updates;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5552,-160],"id":"1213d819-60aa-480a-9022-7bfb1691c3ab","name":"Process Outside Box"},{"parameters":{"jsCode":"let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return [{\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput\n    }\n  }];\n}\n\n// Get data from the Combine node\nconst combineData = $('Separator5').first().json;\nconst jobs = combineData.jobs || [];\n\n// Handle both possible keys from AI response\nconst outputJobs = aiResponse.dream_jobs || aiResponse.jobs || [];\n\n// UUID validation regex\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nconst updates = outputJobs.map((aiJob, index) => {\n  let jobId = aiJob.id;\n  \n  // Validate UUID - fallback to matching by title if invalid\n  if (!jobId || !uuidRegex.test(jobId)) {\n    const original = jobs.find(j => j.title === aiJob.title) || jobs[index] || {};\n    jobId = original.id;\n  }\n  \n  return {\n    json: {\n      id: jobId,\n      section_type: 'dream_jobs',\n      title: aiJob.title,\n      feedback_category: aiJob.category,\n      content: aiJob.content,\n      feedback: aiJob.feedback || 'No changes needed.',\n      explore: aiJob.explore || '',\n      report_id: aiResponse.report_id || combineData.report_id,\n      first_name: combineData.first_name || ''\n    }\n  };\n});\n\nreturn updates;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5552,240],"id":"4a4d7ab0-9813-4e2f-abf6-592232746d5c","name":"Process Dream"},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $('Parse Query').item.json.report_id }}"},{"keyName":"section_type","keyValue":"runner_ups"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,-560],"id":"8909ec65-c511-4a34-8c6c-b9d734fdf5a7","name":"Get Runner-ups1","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"assignments":{"assignments":[{"id":"runnerups_prompt","name":"prompt","value":"=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for RUNNER-UP CAREERS. Evaluate each career individually and apply feedback only where relevant.\n\n## CATEGORIES (per career):\n- CAT. 0: No actionable feedback for THIS career - return original unchanged\n- CAT. 1: Minor adjustments needed for THIS career\n- CAT. 2: Significant changes or new suggestion required for THIS career\n\n**If new suggestion needed for a specific career:**\n1. Summarize why original didn't resonate\n2. Suggest NEW career\n3. Format new text in italic with \"Based on your feedback...\"\n\n# RULES:\n- DO NOT invent feedback\n- Apply feedback ONLY to careers it relates to - leave others unchanged\n- Keep adjusted content similar length (unless adding exploration content)\n- Business casual tone\n- Use user's name ({{ $json.first_name }}) and 'you'  SECOND PERSON perspective!\n- If explore contains insights about a specific career, integrate into THAT career only\n- Preserve the ID for each career exactly as provided\n- DO NOT include the career title in the content - title is stored separately\n- Content should start with **Overview:** not with the career title\n\n# OUTPUT FORMAT\nReturn ONLY JSON with an array of runner_ups, one object per career:\n```json\n{\n  \"section_type\": \"runner_ups\",\n  \"runner_ups\": [\n    {\n      \"id\": \"original-uuid-from-input\",\n      \"title\": \"Career Title\",\n      \"category\": 0, 1, or 2,\n      \"content\": \"adjusted or original content for this career\",\n      \"feedback\": \"what was changed for THIS career, or 'No changes needed.'\",\n      \"explore\": \"exploration content added to THIS career, or empty string\"\n    }\n  ],\n  \"report_id\": {{ $json.report_id }}\n}\n```\n\n# INPUT\n**Runner-up Careers:**\n---\n**ID:** {{ $json.careers[0].id }}\n**Title:** {{ $json.careers[0].title }}\n**Content:** {{ $json.careers[0].content }}\n---\n\n**ID:** {{ $json.careers[1].id }}\n**Title:** {{ $json.careers[1].title }}\n**Content:** {{ $json.careers[1].content }}\n\n---\n\n**ID:** {{ $json.careers[2].id }}\n**Title:** {{ $json.careers[2].title }}\n**Content:** {{ $json.careers[2].content }}\n\n---\n\n**ID:** {{ $json.careers[3].id }}\n**Title:** {{ $json.careers[3].title }}\n**Content:** {{ $json.careers[3].content }}\n\n---\n\n**ID:** {{ $json.careers[4].id }}\n**Title:** {{ $json.careers[4].title }}\n**Content:** {{ $json.careers[4].content }}\n\n---\n\n**User Feedback:**\n{{ $json.feedback }}\n\n**Exploration Request:**\n{{ $json.explore }}\n\n**Report ID:** {{ $json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6128,-560],"id":"bbabb75a-6521-45d1-a943-b7aaadf7486d","name":"Build Runner-ups Prompt1","executeOnce":false},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5904,-384],"id":"9af399fd-0864-49dd-93a6-188a8ac18d1e","name":"Gemini Runner-ups1","credentials":{"googlePalmApi":{"id":"TJBoqA8SVIj4Ikeq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const triggerData = $input.first().json;\nlet parsedData = {};\n\nif (triggerData.query) {\n  try {\n    const parsed = JSON.parse(triggerData.query);\n    parsedData = Array.isArray(parsed) ? parsed[0] : parsed;\n  } catch (e) {\n    parsedData = triggerData;\n  }\n} else {\n  parsedData = triggerData;\n}\n\n// Validate section_type\nconst validSections = [\n  'approach', 'strengths', 'development', 'values',\n  'top_career_1', 'top_career_2', 'top_career_3',\n  'runner_ups', 'outside_box', 'dream_jobs'\n];\n\nconst sectionType = parsedData.section_type || '';\nif (!validSections.includes(sectionType)) {\n  throw new Error(`Invalid section_type: ${sectionType}. Must be one of: ${validSections.join(', ')}`);\n}\n\n// Determine route category\nlet routeCategory;\nif (['approach', 'strengths', 'development', 'values'].includes(sectionType)) {\n  routeCategory = 'personality';\n} else if (['top_career_1', 'top_career_2', 'top_career_3'].includes(sectionType)) {\n  routeCategory = sectionType;\n} else if (sectionType === 'runner_ups') {\n  routeCategory = 'runner_ups';\n} else if (sectionType === 'outside_box') {\n  routeCategory = 'outside_box';\n} else if (sectionType === 'dream_jobs') {\n  routeCategory = 'dream';\n}\n\nreturn {\n  json: {\n    report_id: parsedData.report_id,\n    first_name: parsedData.first_name || '',\n    section_type: sectionType,\n    route_category: routeCategory,\n    feedback: parsedData.feedback || '',\n    explore: parsedData.explore || ''\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7216,-976],"id":"d2e87f1d-4907-48e6-83e4-7d7f94205ba5","name":"Parse Query"},{"parameters":{"jsCode":"const items = $input.all();\nconst feedback = $('Parse Query').item.json.feedback || '';\nconst explore = $('Parse Query').item.json.explore || '';\nconst reportId = $('Parse Query').item.json.report_id;\nconst firstName = $('Route by Section Type').item.json.first_name || '';\n\n// Sort by order_number if available\nconst sorted = items.sort((a, b) => (a.json.order_number || 0) - (b.json.order_number || 0));\n\nconst careers = sorted.map((item, i) => {\n  let content = item.json.content || '';\n  \n  // Strip the \"**Runner-up N: Title**\\n\" header from content if present\n  content = content.replace(/^\\*\\*Runner-up \\d+:\\s*[^*]+\\*\\*\\n?/, '').trim();\n  \n  return {\n    id: item.json.id,\n    title: item.json.title || `Runner-up ${i + 1}`,\n    section_type: item.json.section_type,\n    order_number: item.json.order_number,\n    content: content\n  };\n});\n\nreturn {\n  json: {\n    report_id: reportId,\n    first_name: firstName,\n    feedback: feedback,\n    explore: explore,\n    careers: careers\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6352,-560],"id":"d9089231-d949-4375-9241-06e17415f0f8","name":"Separator2"},{"parameters":{"jsCode":"const items = $input.all();\nconst feedback = $('Parse Query').item.json.feedback || '';\nconst explore = $('Parse Query').item.json.explore || '';\nconst reportId = $('Parse Query').item.json.report_id;\nconst firstName = $('Route by Section Type').item.json.first_name || '';\n\n// Sort by order_number if available\nconst sorted = items.sort((a, b) => (a.json.order_number || 0) - (b.json.order_number || 0));\n\nconst careers = sorted.map((item, i) => {\n  let content = item.json.content || '';\n  \n  // Strip the \"**Outside-the-box N: Title**\\n\" header from content if present\n  content = content.replace(/^\\*\\*Outside-the-box \\d+:\\s*[^*]+\\*\\*\\n?/, '').trim();\n  \n  return {\n    id: item.json.id,\n    title: item.json.title || `Outside-the-box ${i + 1}`,\n    section_type: item.json.section_type,\n    order_number: item.json.order_number,\n    content: content\n  };\n});\n\nreturn {\n  json: {\n    report_id: reportId,\n    first_name: firstName,\n    feedback: feedback,\n    explore: explore,\n    careers: careers\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6352,-160],"id":"e43985ed-9ad6-4152-8f67-40e8c91facab","name":"Separator4"},{"parameters":{"jsCode":"const items = $input.all();\nconst feedback = $('Parse Query').item.json.feedback || '';\nconst explore = $('Parse Query').item.json.explore || '';\nconst reportId = $('Parse Query').item.json.report_id;\nconst firstName = $('Route by Section Type').item.json.first_name || '';\n\nconst sorted = items.sort((a, b) => (a.json.order_number || 0) - (b.json.order_number || 0));\n\nconst jobs = sorted.map((item, i) => {\n  let content = item.json.content || '';\n  \n  // Strip the \"**Dream Job N: Title**\\n\" header from content if present\n  content = content.replace(/^\\*\\*Dream Job \\d+:\\s*[^*]+\\*\\*\\n?/, '').trim();\n  \n  return {\n    id: item.json.id,\n    title: item.json.title || `Dream Job ${i + 1}`,\n    section_type: item.json.section_type,\n    order_number: item.json.order_number,\n    content: content\n  };\n});\n\nreturn {\n  json: {\n    report_id: reportId,\n    first_name: firstName,\n    feedback: feedback,\n    explore: explore,\n    jobs: jobs\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6352,240],"id":"5246c3f9-8a2a-4540-a647-cd360a761bef","name":"Separator5"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-5904,-1008],"id":"1b84c63a-7e3d-4749-9be9-a434ae207929","name":"AI Top"},{"parameters":{"jsCode":"let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return [{\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput\n    }\n  }];\n}\n\n// Get career ID and first_name from the Build prompt node\nconst buildData = $('Build Top Career Prompt').first().json;\n\nreturn [{\n  json: {\n    id: buildData.career_id,\n    section_type: aiResponse.section_type || buildData.section_type,\n    feedback_category: aiResponse.category,\n    content: aiResponse.content,\n    feedback: aiResponse.feedback || 'No changes needed based on your feedback.',\n    explore: aiResponse.explore || '',\n    report_id: aiResponse.report_id || buildData.report_id,\n    first_name: buildData.first_name || ''\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5552,-1008],"id":"f49eaf98-2da1-4892-b139-84e5eb87e927","name":"Process Top"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route_category }}","rightValue":"personality","operator":{"type":"string","operation":"equals"},"id":"5252b683-aaf5-4712-a8ad-0b41a86c80ad"}],"combinator":"and"},"renameOutput":true,"outputKey":"personality"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route_category }}","rightValue":"top_career_1","operator":{"type":"string","operation":"equals"},"id":"10f049a1-cc4a-4b91-a44e-ed13d07c87f3"}],"combinator":"and"},"renameOutput":true,"outputKey":"top_career_1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2864968d-e0f6-497b-bcb7-fff54bdb9dcf","leftValue":"={{ $json.route_category }}","rightValue":"top_career_2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"top_career_2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6ae7252-f880-48b7-bdea-0710eef54cee","leftValue":"={{ $json.route_category }}","rightValue":"top_career_3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"top_career_3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route_category }}","rightValue":"runner_ups","operator":{"type":"string","operation":"equals"},"id":"a4cf6cca-91ca-45db-9f2e-11f2f6464fcb"}],"combinator":"and"},"renameOutput":true,"outputKey":"runner_ups"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route_category }}","rightValue":"outside_box","operator":{"type":"string","operation":"equals"},"id":"dd606f1c-b7b1-4fef-8e2f-82bf4cf5d1ab"}],"combinator":"and"},"renameOutput":true,"outputKey":"outside_box"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route_category }}","rightValue":"dream","operator":{"type":"string","operation":"equals"},"id":"693893dd-68da-4c42-b3bb-8aab60b09e1d"}],"combinator":"and"},"renameOutput":true,"outputKey":"dream"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-6976,-1056],"id":"ac4479d5-faa5-4962-bf67-6620f0576f8a","name":"Route by Section Type"},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5904,-832],"id":"6245459b-9717-45c4-b1b2-ae698e03792e","name":"Gemini Top1","credentials":{"googlePalmApi":{"id":"TJBoqA8SVIj4Ikeq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"update","tableId":"report_sections","matchType":"allFilters","filters":{"conditions":[{"keyName":"report_id","condition":"eq","keyValue":"={{ $json.report_id }}"},{"keyName":"section_type","condition":"eq","keyValue":"={{ $json.section_type }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"content","fieldValue":"={{ $json.content }}"},{"fieldId":"feedback_category","fieldValue":"={{ $json.feedback_category }}"},{"fieldId":"feedback","fieldValue":"={{ $json.feedback }}"},{"fieldId":"explore","fieldValue":"={{ $json.explore }}"},{"fieldId":"fb_status","fieldValue":"true"},{"fieldId":"metadata","fieldValue":"={{ $json.metadata }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5136,-1264],"id":"999e4529-0aba-4911-87c6-04cfd73d6909","name":"Update Section in DB","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $json.report_id }}"},{"keyName":"section_type","keyValue":"top_career_1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,-1200],"id":"3c43df10-adec-4cc4-98fc-571e3dcf7f4f","name":"Get Top1","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $json.report_id }}"},{"keyName":"section_type","keyValue":"top_career_2"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,-1008],"id":"952eb7e1-294a-47a5-a24b-8cd7abefa4f7","name":"Get Top2","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"operation":"get","tableId":"report_sections","filters":{"conditions":[{"keyName":"report_id","keyValue":"={{ $json.report_id }}"},{"keyName":"section_type","keyValue":"top_career_3"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6576,-816],"id":"dc91b58a-7ccf-4b5e-a95a-7583f0029a78","name":"Get Top3","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"assignments":{"assignments":[{"id":"top123_prompt","name":"prompt","value":"=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for TOP CAREER: {{ $json.title }}\n\n## CATEGORIES:\n- CAT. 0: No actionable feedback (\"looks good\", \"accurate\") - return original unchanged\n- CAT. 1: Minor feedback - small adjustments\n- CAT. 2: Significant feedback or exploration request - detailed adjustments/additions\n\n# RULES:\n- DO NOT invent feedback\n- Keep adjusted content similar length (unless adding exploration content)\n- Business casual tone\n- Use user's name  {{ $('Parse Query').item.json.first_name }} and 'you'. SECOND PERSON perspective!\n- If explore contains a new career suggestion from the agent, integrate it properly\n\n# OUTPUT FORMAT\nReturn ONLY JSON:\n```json\n{\n  \"section_type\": \"{{ $json.section_type }}\",\n  \"category\": 0, 1, or 2,\n  \"content\": \"adjusted or original content\",\n  \"feedback\": \"summary of feedback addressed or 'No changes needed based on your feedback.'\",\n  \"explore\": \"new content generated from exploration request, or empty string if none\",\n  \"report_id\": {{ $json.report_id }}\n}\n```\n\n# OTHER INPUT\n**Section Type:** {{ $json.section_type }}\n\n**Original Content:**\n{{ $json.content }}\n\n**Feedback:**\n{{ $('Route by Section Type').item.json.feedback }}\n\n**Explore Request:**\n{{ $('Route by Section Type').item.json.explore }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6128,-1008],"id":"ac67812a-6619-454c-add4-2d1b7b50e5cf","name":"Build Top Career Prompt"},{"parameters":{"operation":"update","tableId":"report_sections","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"content","fieldValue":"={{ $json.content }}"},{"fieldId":"feedback_category","fieldValue":"={{ $json.feedback_category }}"},{"fieldId":"feedback","fieldValue":"={{ $json.feedback }}"},{"fieldId":"explore","fieldValue":"={{ $json.explore }}"},{"fieldId":"fb_status","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5136,-160],"id":"6b49bfbb-9962-4f0e-b0ae-647da7d4f260","name":"Update Section in DB1","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"operation":"update","tableId":"report_sections","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"content","fieldValue":"={{ $json.content }}"},{"fieldId":"feedback_category","fieldValue":"={{ $json.feedback_category }}"},{"fieldId":"feedback","fieldValue":"={{ $json.feedback }}"},{"fieldId":"explore","fieldValue":"={{ $json.explore }}"},{"fieldId":"fb_status","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5136,240],"id":"edcde73d-989c-4b8c-8d9a-12a4f3688e5e","name":"Update Section in DB2","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Atlas"}}},{"parameters":{"method":"POST","url":"https://pcoyafgsirrznhmdaiji.supabase.co/functions/v1/chat-session-complete","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"report_id","value":"={{ $json.report_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4864,240],"id":"ac3af44b-5f6d-418a-8fc0-20ca4d71c476","name":"HTTP Request","executeOnce":true,"credentials":{"supabaseApi":{"id":"c7Dm1GTvLXkZ66Sz","name":"Dev tim"},"httpBearerAuth":{"id":"1cWuUZwsMZMo7Sqq","name":"Bearer Auth account"},"httpHeaderAuth":{"id":"aiABzg04zbeDSXRc","name":"Supabase Edge Functions — Shared Secret"}}},{"parameters":{"workflowId":{"__rl":true,"value":"yg7naUkC6oqr2WpU","mode":"list","cachedResultUrl":"/workflow/yg7naUkC6oqr2WpU","cachedResultName":"Atlas Assessments — ExecSummary (read in dash only)"},"workflowInputs":{"mappingMode":"defineBelow","value":{"report_id":"={{ $json.report_id }}"},"matchingColumns":[],"schema":[{"id":"report_id","displayName":"report_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-4320,240],"id":"16a76e60-238d-40d8-ad95-31725f2be8f4","name":"Call 'Executive sumary (plaform only)'"},{"parameters":{"assignments":{"assignments":[{"id":"report_id_assignment","name":"report_id","value":"={{ $('Parse Query').item.json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4576,240],"id":"a945c881-d28b-451e-89d8-bb049fcbcc14","name":"Report ID for sum"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Parse Query","type":"main","index":0}]]},"Get Personality Section":{"main":[[{"node":"Build Personality Prompt","type":"main","index":0}]]},"Get Outside Box":{"main":[[{"node":"Separator4","type":"main","index":0}]]},"Get Dream Jobs":{"main":[[{"node":"Separator5","type":"main","index":0}]]},"Build Personality Prompt":{"main":[[{"node":"AI Personality","type":"main","index":0}]]},"Build Outside Box Prompt":{"main":[[{"node":"AI Outside Box","type":"main","index":0}]]},"Build Dream Prompt":{"main":[[{"node":"AI Dream","type":"main","index":0}]]},"Gemini Personality":{"ai_languageModel":[[{"node":"AI Personality","type":"ai_languageModel","index":0}]]},"Gemini Outside Box":{"ai_languageModel":[[{"node":"AI Outside Box","type":"ai_languageModel","index":0}]]},"Gemini Dream":{"ai_languageModel":[[{"node":"AI Dream","type":"ai_languageModel","index":0}]]},"AI Personality":{"main":[[{"node":"Process Personality","type":"main","index":0}]]},"AI Runner-ups":{"main":[[{"node":"Process Runner-ups","type":"main","index":0}]]},"AI Outside Box":{"main":[[{"node":"Process Outside Box","type":"main","index":0}]]},"AI Dream":{"main":[[{"node":"Process Dream","type":"main","index":0}]]},"Process Personality":{"main":[[{"node":"Update Section in DB","type":"main","index":0}]]},"Get Runner-ups1":{"main":[[{"node":"Separator2","type":"main","index":0}]]},"Build Runner-ups Prompt1":{"main":[[{"node":"AI Runner-ups","type":"main","index":0}]]},"Gemini Runner-ups1":{"ai_languageModel":[[{"node":"AI Runner-ups","type":"ai_languageModel","index":0}]]},"Process Runner-ups":{"main":[[{"node":"Update Section in DB1","type":"main","index":0}]]},"Process Outside Box":{"main":[[{"node":"Update Section in DB1","type":"main","index":0}]]},"Process Dream":{"main":[[{"node":"Update Section in DB2","type":"main","index":0}]]},"Parse Query":{"main":[[{"node":"Route by Section Type","type":"main","index":0}]]},"Separator2":{"main":[[{"node":"Build Runner-ups Prompt1","type":"main","index":0}]]},"Separator4":{"main":[[{"node":"Build Outside Box Prompt","type":"main","index":0}]]},"Separator5":{"main":[[{"node":"Build Dream Prompt","type":"main","index":0}]]},"AI Top":{"main":[[{"node":"Process Top","type":"main","index":0}]]},"Process Top":{"main":[[{"node":"Update Section in DB","type":"main","index":0}]]},"Route by Section Type":{"main":[[{"node":"Get Personality Section","type":"main","index":0}],[{"node":"Get Top1","type":"main","index":0}],[{"node":"Get Top2","type":"main","index":0}],[{"node":"Get Top3","type":"main","index":0}],[{"node":"Get Runner-ups1","type":"main","index":0}],[{"node":"Get Outside Box","type":"main","index":0}],[{"node":"Get Dream Jobs","type":"main","index":0}]]},"Gemini Top1":{"ai_languageModel":[[{"node":"AI Top","type":"ai_languageModel","index":0}]]},"Update Section in DB":{"main":[[]]},"Get Top1":{"main":[[{"node":"Build Top Career Prompt","type":"main","index":0}]]},"Get Top2":{"main":[[{"node":"Build Top Career Prompt","type":"main","index":0}]]},"Get Top3":{"main":[[{"node":"Build Top Career Prompt","type":"main","index":0}]]},"Build Top Career Prompt":{"main":[[{"node":"AI Top","type":"main","index":0}]]},"Update Section in DB1":{"main":[[]]},"Update Section in DB2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Report ID for sum","type":"main","index":0}]]},"Report ID for sum":{"main":[[{"node":"Call 'Executive sumary (plaform only)'","type":"main","index":0}]]}},"authors":"Sjoerd Geurts","name":"Version 115ae9f3","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-05-14T08:02:25.386Z","id":991,"workflowId":"XuOb0iIv1Hwc2t62","versionId":"115ae9f3-5330-4f28-954f-4e3a83c39873","event":"activated","userId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"}]}}