n8n_aa/WF_custom_resume_BEFORE_id_filter_fix_20260525_011044.json
{"updatedAt":"2026-05-24T22:56:20.957Z","createdAt":"2026-05-24T08:02:55.651Z","id":"IFhL4Lno0hyMJ1Jc","name":"WF_custom_resume","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"custom-resume","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,224],"webhookId":"custom-resume-webhook","credentials":{"httpHeaderAuth":{"id":"aiABzg04zbeDSXRc","name":"Supabase Edge Functions — Shared Secret"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ received: true }) }}","options":{}},"id":"respond-immediate","name":"Respond Immediately","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[464,128]},{"parameters":{"url":"={{ $json.body.resume_file_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"download-pdf","name":"Download Résumé PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,320]},{"parameters":{"operation":"pdf","options":{}},"id":"extract-pdf","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[688,320]},{"parameters":{"jsCode":"// Preserve original webhook payload alongside extracted résumé text\nreturn [{\n  json: {\n    ...$('Webhook').first().json.body,\n    resume_text: $input.first().json.text || '',\n  },\n}];"},"id":"preserve-payload","name":"Preserve Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,320]},{"parameters":{"promptType":"define","text":"=You extract a structured résumé from raw text. Output ONLY a JSON object matching this schema exactly:\n\n{\n  \"contact\": { \"name\": \"\", \"title\": \"\", \"email\": \"\", \"phone\": \"\", \"location\": \"\", \"linkedin\": \"\", \"portfolio\": \"\" },\n  \"summary_raw\": \"\",\n  \"experience\": [\n    { \"title\": \"\", \"company\": \"\", \"location\": \"\", \"start\": \"\", \"end\": \"\", \"current\": false, \"bullets\": [\"\"] }\n  ],\n  \"education\": [\n    { \"institution\": \"\", \"degree\": \"\", \"field\": \"\", \"location\": \"\", \"start\": \"\", \"end\": \"\" }\n  ],\n  \"skills\": { \"technical\": [], \"soft\": [], \"tools\": [], \"languages\": [] },\n  \"certifications\": [ { \"name\": \"\", \"issuer\": \"\", \"year\": \"\" } ]\n}\n\nRules:\n- Never invent facts. If a field isn't in the text, return an empty string or empty array.\n- Dates as the candidate wrote them (\"Jan 2022\", \"2020\", etc.). Don't normalise.\n- For each experience row, lift every bullet point as-is into \"bullets\".\n- \"current\": true only if the text clearly says \"Present\", \"Current\", or no end date is given for the latest role.\n- Output ONLY the JSON, no markdown fences, no commentary.\n\nRÉSUMÉ TEXT:\n{{ $json.resume_text }}","batching":{}},"id":"llm-parse","name":"Deep Résumé Parse","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1136,320]},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{"temperature":0.1}},"id":"anthropic-parse","name":"Anthropic Sonnet (Parse)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1216,544],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Parse the LLM JSON output and merge in any user overrides (phone, linkedin, etc.)\nlet raw = $input.first().json.text || '';\nraw = raw.trim();\nif (raw.startsWith('```')) {\n  raw = raw.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('LLM did not return parseable JSON: ' + e.message);\n  parsed = JSON.parse(match[0]);\n}\n\nconst overrides = $('Webhook').first().json.body.user_overrides || {};\nparsed.contact = parsed.contact || {};\nfor (const [k, v] of Object.entries(overrides)) {\n  if (v && typeof v === 'string' && v.trim()) {\n    parsed.contact[k] = v.trim();\n  }\n}\n\nreturn [{ json: { resume_full_data: parsed } }];"},"id":"merge-overrides","name":"Merge User Overrides","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,320]},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').first().json.body.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resume_full_data","fieldValue":"={{ JSON.stringify($json.resume_full_data) }}"},{"fieldId":"resume_full_data_extracted_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"supabase-persist-resume","name":"Persist resume_full_data","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1712,320],"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Fan out: one item per selected career, carrying the full resume + webhook body\nconst resume = $('Merge User Overrides').first().json.resume_full_data;\nconst body = $('Webhook').first().json.body;\nconst careers = body.selected_careers || [];\nreturn careers.map((c) => ({\n  json: {\n    ...body,\n    career: c,\n    resume_full_data: resume,\n  },\n}));"},"id":"fan-out-careers","name":"Fan Out Per Career","type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,320]},{"parameters":{"options":{}},"id":"split-batches","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2160,320]},{"parameters":{"operation":"getAll","tableId":"report_sections","returnAll":false,"limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.career.section_id }}"}]}},"id":"fetch-narrative","name":"Fetch Career Narrative","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,192],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"operation":"getAll","tableId":"enriched_jobs","returnAll":false,"limit":1,"filters":{"conditions":[{"keyName":"career_title","condition":"eq","keyValue":"={{ $('Split In Batches').item.json.career.career_title }}"}]}},"id":"fetch-enriched","name":"Fetch Enriched Jobs","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2608,192],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"operation":"getAll","tableId":"report_sections","returnAll":true,"filters":{"conditions":[{"keyName":"report_id","condition":"eq","keyValue":"={{ $('Split In Batches').item.json.report_id }}"},{"keyName":"section_type","condition":"in","keyValue":"(approach,strengths,values,init_summary)"}]}},"id":"fetch-personality","name":"Fetch Personality Sections","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2832,192],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Build the must-include keyword list from enriched_jobs (capped at 25)\nconst enrichedItems = $('Fetch Enriched Jobs').all();\nconst enriched = enrichedItems.length > 0 ? enrichedItems[0].json : {};\nconst keywords = new Set();\n\n(enriched.technical_skills || []).forEach(k => k && keywords.add(k));\n(enriched.soft_skills || []).forEach(k => k && keywords.add(k));\n(enriched.typical_tasks || []).forEach(k => k && keywords.add(k));\n(enriched.certifications_requirements || '').split(/[,;\\n]/).forEach(k => {\n  const t = (k || '').trim();\n  if (t) keywords.add(t);\n});\n\n// Build a flattened personality text block for the LLM prompts\nconst personality = $('Fetch Personality Sections').all()\n  .map(i => (i.json.content || '').trim())\n  .filter(Boolean)\n  .join('\\n\\n---\\n\\n');\n\nconst narrativeItems = $('Fetch Career Narrative').all();\nconst narrative = narrativeItems.length > 0 ? (narrativeItems[0].json.content || '') : '';\n\nconst current = $('Split In Batches').item.json;\n\nreturn [{\n  json: {\n    ...current,\n    keywords: Array.from(keywords).slice(0, 25),\n    personality_voice: personality,\n    career_narrative: narrative,\n  },\n}];"},"id":"build-keywords","name":"Build Keyword List","type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,192]},{"parameters":{"promptType":"define","text":"=You re-frame a candidate's existing résumé toward a specific target career.\n\nNEVER invent facts. NEVER add experience the candidate doesn't have. Your job is to choose which existing bullets to lift, re-order them, and rewrite the summary so the résumé tells the strongest possible story for THIS target.\n\nOutput ONLY a JSON object matching this schema (no markdown, no commentary):\n\n{\n  \"contact\": {},\n  \"summary\": \"\",\n  \"experience\": [\n    { \"title\": \"\", \"company\": \"\", \"location\": \"\", \"start\": \"\", \"end\": \"\", \"current\": false, \"bullets\": [\"\"] }\n  ],\n  \"skills_grouped\": {\n    \"technical\": [], \"tools\": [], \"soft\": [], \"languages\": []\n  },\n  \"education\": [],\n  \"certifications\": [],\n  \"highlights\": [\"\"]\n}\n\nRules:\n- contact: copy from input unchanged.\n- summary: 3-4 sentences, written in the voice cues provided. Lead with the strongest claim to the target role. Avoid clichés (\"results-driven\", \"passionate\").\n- experience: keep every role the candidate held. Within each role, re-order bullets to lead with what matters for the target. You can rewrite phrasing (active voice, quantify if the number is already in the source) but never fabricate metrics.\n- skills_grouped: distribute into technical / tools / soft / languages buckets, prioritising overlap with the keyword list.\n- education + certifications: copy unchanged.\n- highlights: 2-3 standout one-liners pulled from experience.\n\nTARGET CAREER: {{ $json.career.career_title }}\n\nWHY-SUITED NARRATIVE (from their assessment, optional):\n{{ $json.career_narrative || 'Not available.' }}\n\nPERSONALITY VOICE CUES:\n{{ $json.personality_voice || '' }}\n\nMUST-INCLUDE KEYWORDS (try to land these):\n{{ JSON.stringify($json.keywords) }}\n\nCANDIDATE'S CURRENT RÉSUMÉ (JSON):\n{{ JSON.stringify($json.resume_full_data) }}","batching":{}},"id":"llm-content","name":"Résumé Content Generation","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[3280,192]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"temperature":0.3}},"id":"anthropic-content","name":"Anthropic Sonnet (Content)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[3360,416],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"=You score a tailored résumé for ATS-readiness and tighten any weak phrasing.\n\nOutput ONLY (no markdown, no commentary):\n\n{\n  \"resume_json\": {},\n  \"ats_score\": 0,\n  \"keyword_coverage\": {\n    \"hit\": [],\n    \"missing\": []\n  }\n}\n\nScoring rubric (out of 100):\n- 40 pts: keyword coverage (rough proportion of must-include keywords hit)\n- 20 pts: action verbs at start of bullets, active voice\n- 20 pts: quantified impact where the source supports it\n- 10 pts: section headers present and standard\n- 10 pts: contact info complete (email, phone, location at minimum)\n\nRules:\n- Improve phrasing freely (strip passive voice, remove fluff) but NEVER introduce new facts or change dates / titles / companies.\n- If a must-include keyword is core to the role but absent from the candidate's actual background, leave it in \"missing\" — don't fake it.\n\nKEYWORDS TO COVER:\n{{ JSON.stringify($('Build Keyword List').item.json.keywords) }}\n\nCANDIDATE-TAILORED RÉSUMÉ:\n{{ $json.text }}","batching":{}},"id":"llm-ats","name":"ATS Optimisation Pass","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[3632,192]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"temperature":0.2}},"id":"anthropic-ats","name":"Anthropic Sonnet (ATS)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[3712,416],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"include-cover-condition","leftValue":"={{ $('Webhook').first().json.body.include_cover_letter }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"if-cover","name":"If Cover Letter Requested","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3984,192]},{"parameters":{"promptType":"define","text":"=Write a tailored cover letter for the target role. Output ONLY (no markdown, no commentary):\n\n{\n  \"greeting\": \"Dear Hiring Team,\",\n  \"opening\": \"\",\n  \"body_paragraphs\": [\"\", \"\"],\n  \"closing\": \"\"\n}\n\nRules:\n- 3-4 paragraphs total. Tight. Hiring managers skim.\n- Pull specific examples from the résumé: names of companies, projects.\n- Voice should match the personality cues provided.\n- Never say \"I am writing to apply for...\". Lead with substance.\n- No fake names in the greeting.\n\nTARGET CAREER: {{ $('Build Keyword List').item.json.career.career_title }}\n\nWHY-SUITED NARRATIVE:\n{{ $('Build Keyword List').item.json.career_narrative || '' }}\n\nPERSONALITY VOICE CUES:\n{{ $('Build Keyword List').item.json.personality_voice || '' }}\n\nTAILORED RÉSUMÉ:\n{{ $json.text }}","batching":{}},"id":"llm-cover","name":"Cover Letter","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[4208,64]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"temperature":0.4}},"id":"anthropic-cover","name":"Anthropic Sonnet (Cover)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[4288,288],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"merge-cover-noCover","name":"Merge Cover Paths","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4560,192]},{"parameters":{"jsCode":"// Assemble the final payload for the custom_resumes row update.\n// At this point we have ATS output for sure, and (optionally) a cover letter.\n\nfunction safeParseJson(raw) {\n  if (!raw) return null;\n  let s = String(raw).trim();\n  if (s.startsWith('```')) {\n    s = s.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n  }\n  try { return JSON.parse(s); }\n  catch (e) {\n    const m = s.match(/\\{[\\s\\S]*\\}/);\n    return m ? JSON.parse(m[0]) : null;\n  }\n}\n\nconst atsRaw = $('ATS Optimisation Pass').item.json.text;\nconst ats = safeParseJson(atsRaw);\nif (!ats) throw new Error('Could not parse ATS pass output');\n\nlet cover = null;\ntry {\n  const coverItems = $items('Cover Letter');\n  if (coverItems && coverItems.length > 0) {\n    cover = safeParseJson(coverItems[0].json.text);\n  }\n} catch (e) { cover = null; }\n\nconst career = $('Build Keyword List').item.json.career;\n\nreturn [{\n  json: {\n    custom_resume_id: career.custom_resume_id,\n    resume_json: ats.resume_json,\n    cover_letter_json: cover,\n    ats_score: ats.ats_score,\n    keyword_coverage: ats.keyword_coverage,\n  },\n}];"},"id":"assemble-payload","name":"Assemble Update Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[4784,192]},{"parameters":{"operation":"update","tableId":"custom_resumes","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.custom_resume_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resume_json","fieldValue":"={{ JSON.stringify($json.resume_json) }}"},{"fieldId":"cover_letter_json","fieldValue":"={{ $json.cover_letter_json ? JSON.stringify($json.cover_letter_json) : null }}"},{"fieldId":"ats_score","fieldValue":"={{ $json.ats_score }}"},{"fieldId":"keyword_coverage","fieldValue":"={{ JSON.stringify($json.keyword_coverage) }}"},{"fieldId":"status","fieldValue":"completed"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"update-custom-resume","name":"Update custom_resumes","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5008,320],"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}}],"connections":{"Webhook":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Download Résumé PDF","type":"main","index":0}]]},"Download Résumé PDF":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Preserve Payload","type":"main","index":0}]]},"Preserve Payload":{"main":[[{"node":"Deep Résumé Parse","type":"main","index":0}]]},"Anthropic Sonnet (Parse)":{"ai_languageModel":[[{"node":"Deep Résumé Parse","type":"ai_languageModel","index":0}]]},"Deep Résumé Parse":{"main":[[{"node":"Merge User Overrides","type":"main","index":0}]]},"Merge User Overrides":{"main":[[{"node":"Persist resume_full_data","type":"main","index":0}]]},"Persist resume_full_data":{"main":[[{"node":"Fan Out Per Career","type":"main","index":0}]]},"Fan Out Per Career":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[],[{"node":"Fetch Career Narrative","type":"main","index":0}]]},"Fetch Career Narrative":{"main":[[{"node":"Fetch Enriched Jobs","type":"main","index":0}]]},"Fetch Enriched Jobs":{"main":[[{"node":"Fetch Personality Sections","type":"main","index":0}]]},"Fetch Personality Sections":{"main":[[{"node":"Build Keyword List","type":"main","index":0}]]},"Build Keyword List":{"main":[[{"node":"Résumé Content Generation","type":"main","index":0}]]},"Anthropic Sonnet (Content)":{"ai_languageModel":[[{"node":"Résumé Content Generation","type":"ai_languageModel","index":0}]]},"Résumé Content Generation":{"main":[[{"node":"ATS Optimisation Pass","type":"main","index":0}]]},"Anthropic Sonnet (ATS)":{"ai_languageModel":[[{"node":"ATS Optimisation Pass","type":"ai_languageModel","index":0}]]},"ATS Optimisation Pass":{"main":[[{"node":"If Cover Letter Requested","type":"main","index":0}]]},"If Cover Letter Requested":{"main":[[{"node":"Cover Letter","type":"main","index":0}],[{"node":"Merge Cover Paths","type":"main","index":1}]]},"Anthropic Sonnet (Cover)":{"ai_languageModel":[[{"node":"Cover Letter","type":"ai_languageModel","index":0}]]},"Cover Letter":{"main":[[{"node":"Merge Cover Paths","type":"main","index":0}]]},"Merge Cover Paths":{"main":[[{"node":"Assemble Update Payload","type":"main","index":0}]]},"Assemble Update Payload":{"main":[[{"node":"Update custom_resumes","type":"main","index":0}]]},"Update custom_resumes":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"FbsruPbuZI2Fgtc8","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"falkoratlas.app.n8n.cloud","user-agent":"Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.74.0)","content-length":"914","accept":"*/*","accept-encoding":"gzip, br","accept-language":"*","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2a05:d014:61b:2708:144a:b680:fb90:b322","cf-ew-via":"15","cf-ipcountry":"DE","cf-ray":"a00fe1a3bf85dc5a-FRA","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","traceparent":"00-c8a37dcaaf4537c7051b49a091654e21-34eae557ce0fff39-01","x-forwarded-for":"2a05:d014:61b:2708:144a:b680:fb90:b322, 172.71.148.167","x-forwarded-host":"falkoratlas.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-31-557477d57d-87wwh","x-is-trusted":"yes","x-real-ip":"2a05:d014:61b:2708:144a:b680:fb90:b322","x-shared-secret":"fvdoRUnZOkxRnBvcpTvIQIOpWS3rulvopxeLBaHInwByXhVlxq3OpjU2QaGDtHo3"},"params":{},"query":{},"body":{"user_id":"ab84b843-02b7-43c8-80db-59dd3ba8a332","report_id":"4ea66020-0e09-4641-a6e3-09f1001ceef0","resume_file_url":"https://pcoyafgsirrznhmdaiji.supabase.co/storage/v1/object/sign/resumes/ab84b843-02b7-43c8-80db-59dd3ba8a332/1779663024163_S._Geurts_-_Resume__0126_.pdf?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV9hYmZmMGJmZS1jNGMzLTRkMjUtYmVkZi0zMjU5MGM5YTUzMzIiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJyZXN1bWVzL2FiODRiODQzLTAyYjctNDNjOC04MGRiLTU5ZGQzYmE4YTMzMi8xNzc5NjYzMDI0MTYzX1MuX0dldXJ0c18tX1Jlc3VtZV9fMDEyNl8ucGRmIiwiaWF0IjoxNzc5NjYzMjU4LCJleHAiOjE3Nzk2NjM4NTh9.6FS1xebfuuIC93HKJmx7rcfX3hT_FY-HBLtQSUU91ZE","selected_careers":[{"section_id":"55f5bcac-6075-468e-9098-531d59adce74","section_type":"runner_ups","career_title":"Executive Education Lecturer, AI for Business","custom_resume_id":"93c52c71-56d8-4ffe-a09c-9f5bbdf0e4a7"}],"include_cover_letter":true,"user_overrides":{},"template_id":"ats-classic"},"webhookUrl":"https://falkoratlas.app.n8n.cloud/webhook/custom-resume","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"73731961-8485-4adb-bd26-f0a3ba9092d2","activeVersionId":"73731961-8485-4adb-bd26-f0a3ba9092d2","versionCounter":14,"triggerCount":1,"shared":[{"updatedAt":"2026-05-24T08:02:55.653Z","createdAt":"2026-05-24T08:02:55.653Z","role":"workflow:owner","workflowId":"IFhL4Lno0hyMJ1Jc","projectId":"tU8FiznMfmTnDFNa","project":{"updatedAt":"2025-06-17T10:09:31.275Z","createdAt":"2025-06-17T10:09:28.440Z","id":"tU8FiznMfmTnDFNa","name":"Sjoerd Geurts <sjoerd@falkoratlas.com>","type":"personal","icon":null,"description":null,"creatorId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-24T22:22:55.000Z","createdAt":"2026-05-24T22:22:08.064Z","versionId":"73731961-8485-4adb-bd26-f0a3ba9092d2","workflowId":"IFhL4Lno0hyMJ1Jc","nodes":[{"parameters":{"httpMethod":"POST","path":"custom-resume","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,224],"webhookId":"custom-resume-webhook","credentials":{"httpHeaderAuth":{"id":"aiABzg04zbeDSXRc","name":"Supabase Edge Functions — Shared Secret"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ received: true }) }}","options":{}},"id":"respond-immediate","name":"Respond Immediately","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[464,128]},{"parameters":{"url":"={{ $json.body.resume_file_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"download-pdf","name":"Download Résumé PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,320]},{"parameters":{"operation":"pdf","options":{}},"id":"extract-pdf","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[688,320]},{"parameters":{"jsCode":"// Preserve original webhook payload alongside extracted résumé text\nreturn [{\n  json: {\n    ...$('Webhook').first().json.body,\n    resume_text: $input.first().json.text || '',\n  },\n}];"},"id":"preserve-payload","name":"Preserve Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,320]},{"parameters":{"promptType":"define","text":"=You extract a structured résumé from raw text. Output ONLY a JSON object matching this schema exactly:\n\n{\n  \"contact\": { \"name\": \"\", \"title\": \"\", \"email\": \"\", \"phone\": \"\", \"location\": \"\", \"linkedin\": \"\", \"portfolio\": \"\" },\n  \"summary_raw\": \"\",\n  \"experience\": [\n    { \"title\": \"\", \"company\": \"\", \"location\": \"\", \"start\": \"\", \"end\": \"\", \"current\": false, \"bullets\": [\"\"] }\n  ],\n  \"education\": [\n    { \"institution\": \"\", \"degree\": \"\", \"field\": \"\", \"location\": \"\", \"start\": \"\", \"end\": \"\" }\n  ],\n  \"skills\": { \"technical\": [], \"soft\": [], \"tools\": [], \"languages\": [] },\n  \"certifications\": [ { \"name\": \"\", \"issuer\": \"\", \"year\": \"\" } ]\n}\n\nRules:\n- Never invent facts. If a field isn't in the text, return an empty string or empty array.\n- Dates as the candidate wrote them (\"Jan 2022\", \"2020\", etc.). Don't normalise.\n- For each experience row, lift every bullet point as-is into \"bullets\".\n- \"current\": true only if the text clearly says \"Present\", \"Current\", or no end date is given for the latest role.\n- Output ONLY the JSON, no markdown fences, no commentary.\n\nRÉSUMÉ TEXT:\n{{ $json.resume_text }}","batching":{}},"id":"llm-parse","name":"Deep Résumé Parse","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1136,320]},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{"temperature":0.1}},"id":"anthropic-parse","name":"Anthropic Sonnet (Parse)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1216,544],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Parse the LLM JSON output and merge in any user overrides (phone, linkedin, etc.)\nlet raw = $input.first().json.text || '';\nraw = raw.trim();\nif (raw.startsWith('```')) {\n  raw = raw.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('LLM did not return parseable JSON: ' + e.message);\n  parsed = JSON.parse(match[0]);\n}\n\nconst overrides = $('Webhook').first().json.body.user_overrides || {};\nparsed.contact = parsed.contact || {};\nfor (const [k, v] of Object.entries(overrides)) {\n  if (v && typeof v === 'string' && v.trim()) {\n    parsed.contact[k] = v.trim();\n  }\n}\n\nreturn [{ json: { resume_full_data: parsed } }];"},"id":"merge-overrides","name":"Merge User Overrides","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,320]},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').first().json.body.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resume_full_data","fieldValue":"={{ JSON.stringify($json.resume_full_data) }}"},{"fieldId":"resume_full_data_extracted_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"supabase-persist-resume","name":"Persist resume_full_data","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1712,320],"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Fan out: one item per selected career, carrying the full resume + webhook body\nconst resume = $('Merge User Overrides').first().json.resume_full_data;\nconst body = $('Webhook').first().json.body;\nconst careers = body.selected_careers || [];\nreturn careers.map((c) => ({\n  json: {\n    ...body,\n    career: c,\n    resume_full_data: resume,\n  },\n}));"},"id":"fan-out-careers","name":"Fan Out Per Career","type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,320]},{"parameters":{"options":{}},"id":"split-batches","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2160,320]},{"parameters":{"operation":"getAll","tableId":"report_sections","returnAll":false,"limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.career.section_id }}"}]}},"id":"fetch-narrative","name":"Fetch Career Narrative","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,192],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"operation":"getAll","tableId":"enriched_jobs","returnAll":false,"limit":1,"filters":{"conditions":[{"keyName":"career_title","condition":"eq","keyValue":"={{ $('Split In Batches').item.json.career.career_title }}"}]}},"id":"fetch-enriched","name":"Fetch Enriched Jobs","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2608,192],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"operation":"getAll","tableId":"report_sections","returnAll":true,"filters":{"conditions":[{"keyName":"report_id","condition":"eq","keyValue":"={{ $('Split In Batches').item.json.report_id }}"},{"keyName":"section_type","condition":"in","keyValue":"(approach,strengths,values,init_summary)"}]}},"id":"fetch-personality","name":"Fetch Personality Sections","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2832,192],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Build the must-include keyword list from enriched_jobs (capped at 25)\nconst enrichedItems = $('Fetch Enriched Jobs').all();\nconst enriched = enrichedItems.length > 0 ? enrichedItems[0].json : {};\nconst keywords = new Set();\n\n(enriched.technical_skills || []).forEach(k => k && keywords.add(k));\n(enriched.soft_skills || []).forEach(k => k && keywords.add(k));\n(enriched.typical_tasks || []).forEach(k => k && keywords.add(k));\n(enriched.certifications_requirements || '').split(/[,;\\n]/).forEach(k => {\n  const t = (k || '').trim();\n  if (t) keywords.add(t);\n});\n\n// Build a flattened personality text block for the LLM prompts\nconst personality = $('Fetch Personality Sections').all()\n  .map(i => (i.json.content || '').trim())\n  .filter(Boolean)\n  .join('\\n\\n---\\n\\n');\n\nconst narrativeItems = $('Fetch Career Narrative').all();\nconst narrative = narrativeItems.length > 0 ? (narrativeItems[0].json.content || '') : '';\n\nconst current = $('Split In Batches').item.json;\n\nreturn [{\n  json: {\n    ...current,\n    keywords: Array.from(keywords).slice(0, 25),\n    personality_voice: personality,\n    career_narrative: narrative,\n  },\n}];"},"id":"build-keywords","name":"Build Keyword List","type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,192]},{"parameters":{"promptType":"define","text":"=You re-frame a candidate's existing résumé toward a specific target career.\n\nNEVER invent facts. NEVER add experience the candidate doesn't have. Your job is to choose which existing bullets to lift, re-order them, and rewrite the summary so the résumé tells the strongest possible story for THIS target.\n\nOutput ONLY a JSON object matching this schema (no markdown, no commentary):\n\n{\n  \"contact\": {},\n  \"summary\": \"\",\n  \"experience\": [\n    { \"title\": \"\", \"company\": \"\", \"location\": \"\", \"start\": \"\", \"end\": \"\", \"current\": false, \"bullets\": [\"\"] }\n  ],\n  \"skills_grouped\": {\n    \"technical\": [], \"tools\": [], \"soft\": [], \"languages\": []\n  },\n  \"education\": [],\n  \"certifications\": [],\n  \"highlights\": [\"\"]\n}\n\nRules:\n- contact: copy from input unchanged.\n- summary: 3-4 sentences, written in the voice cues provided. Lead with the strongest claim to the target role. Avoid clichés (\"results-driven\", \"passionate\").\n- experience: keep every role the candidate held. Within each role, re-order bullets to lead with what matters for the target. You can rewrite phrasing (active voice, quantify if the number is already in the source) but never fabricate metrics.\n- skills_grouped: distribute into technical / tools / soft / languages buckets, prioritising overlap with the keyword list.\n- education + certifications: copy unchanged.\n- highlights: 2-3 standout one-liners pulled from experience.\n\nTARGET CAREER: {{ $json.career.career_title }}\n\nWHY-SUITED NARRATIVE (from their assessment, optional):\n{{ $json.career_narrative || 'Not available.' }}\n\nPERSONALITY VOICE CUES:\n{{ $json.personality_voice || '' }}\n\nMUST-INCLUDE KEYWORDS (try to land these):\n{{ JSON.stringify($json.keywords) }}\n\nCANDIDATE'S CURRENT RÉSUMÉ (JSON):\n{{ JSON.stringify($json.resume_full_data) }}","batching":{}},"id":"llm-content","name":"Résumé Content Generation","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[3280,192]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"temperature":0.3}},"id":"anthropic-content","name":"Anthropic Sonnet (Content)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[3360,416],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"=You score a tailored résumé for ATS-readiness and tighten any weak phrasing.\n\nOutput ONLY (no markdown, no commentary):\n\n{\n  \"resume_json\": {},\n  \"ats_score\": 0,\n  \"keyword_coverage\": {\n    \"hit\": [],\n    \"missing\": []\n  }\n}\n\nScoring rubric (out of 100):\n- 40 pts: keyword coverage (rough proportion of must-include keywords hit)\n- 20 pts: action verbs at start of bullets, active voice\n- 20 pts: quantified impact where the source supports it\n- 10 pts: section headers present and standard\n- 10 pts: contact info complete (email, phone, location at minimum)\n\nRules:\n- Improve phrasing freely (strip passive voice, remove fluff) but NEVER introduce new facts or change dates / titles / companies.\n- If a must-include keyword is core to the role but absent from the candidate's actual background, leave it in \"missing\" — don't fake it.\n\nKEYWORDS TO COVER:\n{{ JSON.stringify($('Build Keyword List').item.json.keywords) }}\n\nCANDIDATE-TAILORED RÉSUMÉ:\n{{ $json.text }}","batching":{}},"id":"llm-ats","name":"ATS Optimisation Pass","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[3632,192]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"temperature":0.2}},"id":"anthropic-ats","name":"Anthropic Sonnet (ATS)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[3712,416],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"include-cover-condition","leftValue":"={{ $('Webhook').first().json.body.include_cover_letter }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"if-cover","name":"If Cover Letter Requested","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3984,192]},{"parameters":{"promptType":"define","text":"=Write a tailored cover letter for the target role. Output ONLY (no markdown, no commentary):\n\n{\n  \"greeting\": \"Dear Hiring Team,\",\n  \"opening\": \"\",\n  \"body_paragraphs\": [\"\", \"\"],\n  \"closing\": \"\"\n}\n\nRules:\n- 3-4 paragraphs total. Tight. Hiring managers skim.\n- Pull specific examples from the résumé: names of companies, projects.\n- Voice should match the personality cues provided.\n- Never say \"I am writing to apply for...\". Lead with substance.\n- No fake names in the greeting.\n\nTARGET CAREER: {{ $('Build Keyword List').item.json.career.career_title }}\n\nWHY-SUITED NARRATIVE:\n{{ $('Build Keyword List').item.json.career_narrative || '' }}\n\nPERSONALITY VOICE CUES:\n{{ $('Build Keyword List').item.json.personality_voice || '' }}\n\nTAILORED RÉSUMÉ:\n{{ $json.text }}","batching":{}},"id":"llm-cover","name":"Cover Letter","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[4208,64]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"temperature":0.4}},"id":"anthropic-cover","name":"Anthropic Sonnet (Cover)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[4288,288],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"merge-cover-noCover","name":"Merge Cover Paths","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4560,192]},{"parameters":{"jsCode":"// Assemble the final payload for the custom_resumes row update.\n// At this point we have ATS output for sure, and (optionally) a cover letter.\n\nfunction safeParseJson(raw) {\n  if (!raw) return null;\n  let s = String(raw).trim();\n  if (s.startsWith('```')) {\n    s = s.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n  }\n  try { return JSON.parse(s); }\n  catch (e) {\n    const m = s.match(/\\{[\\s\\S]*\\}/);\n    return m ? JSON.parse(m[0]) : null;\n  }\n}\n\nconst atsRaw = $('ATS Optimisation Pass').item.json.text;\nconst ats = safeParseJson(atsRaw);\nif (!ats) throw new Error('Could not parse ATS pass output');\n\nlet cover = null;\ntry {\n  const coverItems = $items('Cover Letter');\n  if (coverItems && coverItems.length > 0) {\n    cover = safeParseJson(coverItems[0].json.text);\n  }\n} catch (e) { cover = null; }\n\nconst career = $('Build Keyword List').item.json.career;\n\nreturn [{\n  json: {\n    custom_resume_id: career.custom_resume_id,\n    resume_json: ats.resume_json,\n    cover_letter_json: cover,\n    ats_score: ats.ats_score,\n    keyword_coverage: ats.keyword_coverage,\n  },\n}];"},"id":"assemble-payload","name":"Assemble Update Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[4784,192]},{"parameters":{"operation":"update","tableId":"custom_resumes","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.custom_resume_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resume_json","fieldValue":"={{ JSON.stringify($json.resume_json) }}"},{"fieldId":"cover_letter_json","fieldValue":"={{ $json.cover_letter_json ? JSON.stringify($json.cover_letter_json) : null }}"},{"fieldId":"ats_score","fieldValue":"={{ $json.ats_score }}"},{"fieldId":"keyword_coverage","fieldValue":"={{ JSON.stringify($json.keyword_coverage) }}"},{"fieldId":"status","fieldValue":"completed"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"update-custom-resume","name":"Update custom_resumes","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5008,320],"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}}],"connections":{"Webhook":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Download Résumé PDF","type":"main","index":0}]]},"Download Résumé PDF":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Preserve Payload","type":"main","index":0}]]},"Preserve Payload":{"main":[[{"node":"Deep Résumé Parse","type":"main","index":0}]]},"Anthropic Sonnet (Parse)":{"ai_languageModel":[[{"node":"Deep Résumé Parse","type":"ai_languageModel","index":0}]]},"Deep Résumé Parse":{"main":[[{"node":"Merge User Overrides","type":"main","index":0}]]},"Merge User Overrides":{"main":[[{"node":"Persist resume_full_data","type":"main","index":0}]]},"Persist resume_full_data":{"main":[[{"node":"Fan Out Per Career","type":"main","index":0}]]},"Fan Out Per Career":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[],[{"node":"Fetch Career Narrative","type":"main","index":0}]]},"Fetch Career Narrative":{"main":[[{"node":"Fetch Enriched Jobs","type":"main","index":0}]]},"Fetch Enriched Jobs":{"main":[[{"node":"Fetch Personality Sections","type":"main","index":0}]]},"Fetch Personality Sections":{"main":[[{"node":"Build Keyword List","type":"main","index":0}]]},"Build Keyword List":{"main":[[{"node":"Résumé Content Generation","type":"main","index":0}]]},"Anthropic Sonnet (Content)":{"ai_languageModel":[[{"node":"Résumé Content Generation","type":"ai_languageModel","index":0}]]},"Résumé Content Generation":{"main":[[{"node":"ATS Optimisation Pass","type":"main","index":0}]]},"Anthropic Sonnet (ATS)":{"ai_languageModel":[[{"node":"ATS Optimisation Pass","type":"ai_languageModel","index":0}]]},"ATS Optimisation Pass":{"main":[[{"node":"If Cover Letter Requested","type":"main","index":0}]]},"If Cover Letter Requested":{"main":[[{"node":"Cover Letter","type":"main","index":0}],[{"node":"Merge Cover Paths","type":"main","index":1}]]},"Anthropic Sonnet (Cover)":{"ai_languageModel":[[{"node":"Cover Letter","type":"ai_languageModel","index":0}]]},"Cover Letter":{"main":[[{"node":"Merge Cover Paths","type":"main","index":0}]]},"Merge Cover Paths":{"main":[[{"node":"Assemble Update Payload","type":"main","index":0}]]},"Assemble Update Payload":{"main":[[{"node":"Update custom_resumes","type":"main","index":0}]]},"Update custom_resumes":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"authors":"Sjoerd Geurts","name":"Version 73731961","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-05-24T22:22:55.637Z","id":1137,"workflowId":"IFhL4Lno0hyMJ1Jc","versionId":"73731961-8485-4adb-bd26-f0a3ba9092d2","event":"activated","userId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"}]}}