n8n_aa/Current production wfs/WF6 - Feedback processing NL_EN.json
{
  "name": "WF6 - Feedback processing NL/EN",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "section_type"
            },
            {
              "name": "feedback"
            },
            {
              "name": "explore"
            },
            {
              "name": "report_id"
            },
            {
              "name": "first_name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -7776,
        -976
      ],
      "id": "99407b2b-7491-4339-9799-57fb9bfc8918",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "report_sections",
        "filters": {
          "conditions": [
            {
              "keyName": "report_id",
              "keyValue": "={{ $('Parse Query').item.json.report_id }}"
            },
            {
              "keyName": "section_type",
              "keyValue": "={{ $('Parse Query').item.json.section_type }}"
            },
            {
              "keyName": "metadata",
              "keyValue": "={{ $('Get Personality Section').first().json.metadata }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6576,
        -1488
      ],
      "id": "c166712f-519b-41f9-8d23-d5933a1842bf",
      "name": "Get Personality Section",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "report_sections",
        "filters": {
          "conditions": [
            {
              "keyName": "report_id",
              "keyValue": "={{ $('Parse Query').item.json.report_id }}"
            },
            {
              "keyName": "section_type",
              "keyValue": "outside_box"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6576,
        -160
      ],
      "id": "1431d0fb-adb2-4e37-a6a6-f660235dfb66",
      "name": "Get Outside Box",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "report_sections",
        "filters": {
          "conditions": [
            {
              "keyName": "report_id",
              "keyValue": "={{ $('Parse Query').item.json.report_id }}"
            },
            {
              "keyName": "section_type",
              "keyValue": "dream_jobs"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6576,
        240
      ],
      "id": "8d1919d9-2a34-4fbd-b996-74a44a818ac4",
      "name": "Get Dream Jobs",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "personality_prompt",
              "name": "prompt",
              "value": "=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for PERSONALITY SECTION: {{ $('Parse Query').item.json.section_type }}\n\n## CATEGORIES:\n- CAT. 0: No actionable feedback (\"looks good\", \"accurate\") - return original unchanged, notes: \"No changes needed based on your feedback.\"\n- CAT. 1: Minor feedback - small adjustments, brief notes\n- CAT. 2: Significant feedback - detailed adjustments\n\n# RULES:\n- DO NOT invent feedback\n- Keep adjusted content similar length\n- Business casual tone\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Use user's name  {{ $('Parse Query').item.json.first_name }} and 'you'. SECOND PERSON perspective!\n\n# PERSONALITY SCORE RECALIBRATION (when section_type is a personality section)\n\nIf section_type is \"approach\", \"strengths\", \"development\", or \"values\", the JSON output must ALSO include a \"personality_scores\" key. For all other section_types (chat_highlights, etc.), set \"personality_scores\" to null.\n\nThese are 5 AI-judged dimensions on a 1-10 integer scale that drive the candidate's Personality Radar. They are NOT shown to the user.\n\n**Dimensions:**\n- strategic_depth — long-arc systems thinking vs immediate-execution focus\n- execution_bias — ships fast vs deliberates carefully\n- people_intuition — reads social/political dynamics vs misses them\n- ambiguity_tolerance — thrives in unclear vs needs structure\n- recognition_pull — external visibility vs internal satisfaction\n\nThe scores are about the candidate as a whole. The fact that you are editing one specific section (e.g. \"strengths\") does not mean the feedback only affects that section's themes — feedback like \"I'm more deliberate than this suggests\" or \"I actually find ambiguity stressful\" can shift any dimension regardless of which section the user dropped it on.\n\n**Current scores (nudge from this baseline, do not re-evaluate from scratch):**\n{{ $('Get Personality Section').first().json.metadata }}\n\n**Rules for adjustment:**\n- CAT. 0 feedback: return current scores unchanged.\n- CAT. 1 feedback: nudge 1-2 points only on dimensions the feedback directly speaks to.\n- CAT. 2 feedback: adjust more meaningfully, but stay within ±3 points of current per dimension unless feedback strongly justifies a bigger swing.\n- Do NOT mention scores in the user-facing \"feedback\" summary text.\n- If \"Current scores\" above is null/empty (older report without scores), generate fresh scores from section content + feedback as best you can.\n\n**Updated JSON output format:**\n```json\n\n# OUTPUT FORMAT\nReturn ONLY JSON:\n```json\n{\n  \"section_type\": \"{{ $json.section_type }}\",\n  \"category\": 0, 1, or 2,\n  \"content\": \"adjusted or original content\",\n  \"feedback\": \"summary of feedback addressed or 'No changes needed based on your feedback.'\",\n  \"explore\": \"new content generated from exploration request, or empty string if none\",\n  \"report_id\": {{ $json.report_id }}.\n  \"personality_scores\": null OR { \"strategic_depth\": N, \"execution_bias\": N, \"people_intuition\": N, \"ambiguity_tolerance\": N, \"recognition_pull\": N }\n}\n```\n\n# INPUT\n**Section Type:** {{ $('Parse Query').item.json.section_type }}\n**Original Content:**\n{{ $('Get Personality Section').first().json.content }}\n**Feedback:**\n{{ $('Parse Query').item.json.feedback }}\n**Report ID:** {{ $('Parse Query').item.json.report_id }}\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', produce the regenerated content in English as instructed above.\nIf preferred_language IS 'nl', the content you produce must be in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Match the language and structure of the existing section content shown above: keep the same <h5>/<h3>/<h4>/<strong> subheaders and HTML tags, translate only the visible text. Keep brand and feature names in English (Cairnly, outside-the-box, runner-up) and keep AI-impact rating labels in English (Augmented, Enhanced, Transformed, At Risk, Displaced). Do NOT change the required JSON output structure - only the natural-language text inside it.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6112,
        -1488
      ],
      "id": "95b2afa7-ea6c-4f9c-8482-700ee256d298",
      "name": "Build Personality Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "outsidebox_prompt",
              "name": "prompt",
              "value": "=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for OUTSIDE-THE-BOX CAREERS. Can suggest new careers if needed.\n\n## CATEGORIES:\n- CAT. 0: No actionable feedback - return original unchanged\n- CAT. 1: Minor adjustments needed\n- CAT. 2: Significant changes or new suggestion required\n\n**If new suggestion needed:**\n1. Summarize why original didn't resonate\n2. Suggest NEW outside-the-box career\n3. Format new text in italic with \"Based on your feedback...\"\n\n# RULES:\n- DO NOT invent feedback\n- Keep adjusted content similar length (unless adding exploration content)\n- Business casual tone\n- Use user's name  \"{{ $json.first_name }}\" and 'you'. SECOND PERSON perspective!\n- If explore contains a new career suggestion from the agent, integrate it properly\n- If explore contains insights about a specific career, integrate into THAT career only\n- Preserve the ID for each career exactly as provided\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- DO NOT include the career title in the content - title is stored separately\n- Content should start with **Overview:** not with the career title\n\n# OUTPUT FORMAT\nReturn ONLY JSON with an array of outside_box careers, one object per career:\n```json\n{\n  \"section_type\": \"outside_box\",\n  \"outside_box\": [\n    {\n      \"id\": \"original-uuid-from-input\",\n      \"title\": \"Career Title\",\n      \"category\": 0, 1, or 2,\n      \"content\": \"adjusted or original content for this career\",\n      \"feedback\": \"what was changed for THIS career, or 'No changes needed.'\",\n      \"explore\": \"exploration content added to THIS career, or empty string\"\n    }\n  ],\n  \"report_id\": {{ $json.report_id }}\n}\n```\n```\n\n# INPUT\n**Outside-the-box Careers:**\n---\n**ID:** {{ $json.careers[0].id }}\n**Title:** {{ $json.careers[0].title }}\n**Content:** {{ $json.careers[0].content }}\n---\n\n**ID:** {{ $json.careers[1].id }}\n**Title:** {{ $json.careers[1].title }}\n**Content:** {{ $json.careers[1].content }}\n\n---\n\n**ID:** {{ $json.careers[2].id }}\n**Title:** {{ $json.careers[2].title }}\n**Content:** {{ $json.careers[2].content }}\n\n---\n\n\n**Feedback:**\n{{ $json.feedback }}\n\n**Explore:**\n{{ $json.explore }}\n\n**Report ID:** {{ $json.report_id }}\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', produce the regenerated content in English as instructed above.\nIf preferred_language IS 'nl', the content you produce must be in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Match the language and structure of the existing section content shown above: keep the same <h5>/<h3>/<h4>/<strong> subheaders and HTML tags, translate only the visible text. Keep brand and feature names in English (Cairnly, outside-the-box, runner-up) and keep AI-impact rating labels in English (Augmented, Enhanced, Transformed, At Risk, Displaced). Do NOT change the required JSON output structure - only the natural-language text inside it.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6128,
        -160
      ],
      "id": "9fc2440d-fbbe-41ce-9aca-d352e25d90c9",
      "name": "Build Outside Box Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dream_prompt",
              "name": "prompt",
              "value": "=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for DREAM JOBS. These are USER's chosen dreams - address their questions about feasibility, DO NOT suggest alternatives.\n\n## CATEGORIES (per dream job):\n- CAT. 0: No actionable feedback for THIS job - return original unchanged\n- CAT. 1: Minor clarification added to THIS job\n- CAT. 2: Significant expansion to address user's questions about THIS job\n\n# RULES:\n- DO NOT invent feedback\n- DO NOT suggest alternative dream jobs\n- Apply feedback ONLY to jobs it relates to - leave others unchanged\n- Address user's questions about feasibility\n- Business casual tone\n- Use user's name {{ $json.first_name }} and 'you'.  SECOND PERSON perspective!\n- If explore contains insights about a specific job:\n  1. Integrate key points into the content where relevant\n  2. ALSO return the full explore text in the \"explore\" field for that job\n- Preserve the ID for each job exactly as provided\n- DO NOT include the job title in the content - title is stored separately\n- Content should start with **Overview:** not with the job title\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n\n\n# OUTPUT FORMAT\nReturn ONLY JSON with an array of dream_jobs, one object per job:\n```json\n{\n  \"section_type\": \"dream_jobs\",\n  \"dream_jobs\": [\n    {\n      \"id\": \"original-uuid-from-input\",\n      \"title\": \"Job Title\",\n      \"category\": 0, 1, or 2,\n      \"content\": \"adjusted or original content for this job\",\n      \"feedback\": \"what was changed for THIS job, or 'No changes needed.'\",\n      \"explore\": \"the original explore text for THIS job (copy from input), or empty string if none\"\n    }\n  ],\n  \"report_id\": {{ $json.report_id }}\n}\n```\n\n# INPUT\n**Dream Jobs:**\n---\n**ID:** {{ $json.jobs[0].id }}\n**Title:** {{ $json.jobs[0].title }}\n**Content:** {{ $json.jobs[0].content }}\n---\n\n**ID:** {{ $json.jobs[1].id }}\n**Title:** {{ $json.jobs[1].title }}\n**Content:** {{ $json.jobs[1].content }}\n\n---\n\n**Feedback (all):**\n{{ $json.feedback }}\n\n**Explore (all):**\n{{ $json.explore }}\n\n**Report ID:** {{ $json.report_id }}\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', produce the regenerated content in English as instructed above.\nIf preferred_language IS 'nl', the content you produce must be in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Match the language and structure of the existing section content shown above: keep the same <h5>/<h3>/<h4>/<strong> subheaders and HTML tags, translate only the visible text. Keep brand and feature names in English (Cairnly, outside-the-box, runner-up) and keep AI-impact rating labels in English (Augmented, Enhanced, Transformed, At Risk, Displaced). Do NOT change the required JSON output structure - only the natural-language text inside it.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6128,
        240
      ],
      "id": "2ad1715e-a077-4bc8-a98e-35644e5456c6",
      "name": "Build Dream Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -5888,
        -1488
      ],
      "id": "beefd26f-fec9-486f-a8d3-c6fd831dcf2b",
      "name": "AI Personality"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -5904,
        -560
      ],
      "id": "7052166f-6457-4efa-89cd-ef4247b04e2e",
      "name": "AI Runner-ups"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -5904,
        -160
      ],
      "id": "00b920a2-3007-41b0-b2c4-c94efb88a6f5",
      "name": "AI Outside Box"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -5904,
        240
      ],
      "id": "e96a0b38-13e1-44a5-b60e-f7eb83761b28",
      "name": "AI Dream"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5888,
        -1312
      ],
      "id": "12c17c09-52d8-4493-b3e0-267152ad3bfa",
      "name": "Gemini Personality",
      "credentials": {
        "googlePalmApi": {
          "id": "TJBoqA8SVIj4Ikeq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5904,
        16
      ],
      "id": "8a73a253-6919-4c50-8db3-89bbd26cb7e7",
      "name": "Gemini Outside Box",
      "credentials": {
        "googlePalmApi": {
          "id": "TJBoqA8SVIj4Ikeq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5904,
        432
      ],
      "id": "54c43def-7f94-4272-9577-fda925a7c928",
      "name": "Gemini Dream",
      "credentials": {
        "googlePalmApi": {
          "id": "TJBoqA8SVIj4Ikeq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return {\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput,\n      report_id: $('Parse Query').item.json.report_id,\n      section_type: $('Parse Query').item.json.section_type\n    }\n  };\n}\n// Build the row payload. metadata is only set when the AI returned a\n// non-null personality_scores object — typically only for section_type\n// \"approach\". Other sections leave metadata untouched on the existing row.\nconst out = {\n  feedback_category: aiResponse.category,\n  content: aiResponse.content,\n  feedback: aiResponse.feedback || 'No changes needed based on your feedback.',\n  explore: aiResponse.explore || '',\n  report_id: aiResponse.report_id || $('Parse Query').item.json.report_id,\n  section_type: aiResponse.section_type || $('Parse Query').item.json.section_type\n};\nif (aiResponse.personality_scores && typeof aiResponse.personality_scores === 'object') {\n  out.metadata = { personality_scores: aiResponse.personality_scores };\n}\nreturn { json: out };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5536,
        -1488
      ],
      "id": "d5cf911b-dc49-4d78-a53f-799853a5b859",
      "name": "Process Personality"
    },
    {
      "parameters": {
        "jsCode": "let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return [{\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput\n    }\n  }];\n}\n\nconst combineData = $('Separator2').first().json;\n\n// AI returns runner_ups array\nconst outputCareers = aiResponse.runner_ups || [];\n\nconst updates = outputCareers.map((aiCareer) => {\n  return {\n    json: {\n      id: aiCareer.id,\n      section_type: 'runner_ups',\n      title: aiCareer.title,\n      feedback_category: aiCareer.category,\n      content: aiCareer.content,\n      feedback: aiCareer.feedback || 'No changes needed.',\n      explore: aiCareer.explore || '',\n      report_id: aiResponse.report_id || combineData.report_id,\n      first_name: combineData.first_name || ''\n    }\n  };\n});\n\nreturn updates;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5552,
        -560
      ],
      "id": "cf0bddfd-7794-4351-9368-2058047279be",
      "name": "Process Runner-ups"
    },
    {
      "parameters": {
        "jsCode": "let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return [{\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput\n    }\n  }];\n}\n\n// Get data from the Combine node\nconst combineData = $('Separator4').first().json;\nconst careers = combineData.careers || [];\nconst outputCareers = aiResponse.outside_box || [];\n\n// UUID validation regex\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nconst updates = outputCareers.map((aiCareer, index) => {\n  let careerId = aiCareer.id;\n  \n  // Validate UUID - fallback to matching by title if invalid\n  if (!careerId || !uuidRegex.test(careerId)) {\n    const original = careers.find(c => c.title === aiCareer.title) || careers[index] || {};\n    careerId = original.id;\n  }\n  \n  return {\n    json: {\n      id: careerId,\n      section_type: 'outside_box',\n      title: aiCareer.title,\n      feedback_category: aiCareer.category,\n      content: aiCareer.content,\n      feedback: aiCareer.feedback || 'No changes needed based on your feedback.',\n      explore: aiCareer.explore || '',\n      report_id: aiResponse.report_id || combineData.report_id,\n      first_name: combineData.first_name || ''\n    }\n  };\n});\n\nreturn updates;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5552,
        -160
      ],
      "id": "0c04a1af-bdb5-471f-a78f-91a336d2785c",
      "name": "Process Outside Box"
    },
    {
      "parameters": {
        "jsCode": "let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return [{\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput\n    }\n  }];\n}\n\n// Get data from the Combine node\nconst combineData = $('Separator5').first().json;\nconst jobs = combineData.jobs || [];\n\n// Handle both possible keys from AI response\nconst outputJobs = aiResponse.dream_jobs || aiResponse.jobs || [];\n\n// UUID validation regex\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nconst updates = outputJobs.map((aiJob, index) => {\n  let jobId = aiJob.id;\n  \n  // Validate UUID - fallback to matching by title if invalid\n  if (!jobId || !uuidRegex.test(jobId)) {\n    const original = jobs.find(j => j.title === aiJob.title) || jobs[index] || {};\n    jobId = original.id;\n  }\n  \n  return {\n    json: {\n      id: jobId,\n      section_type: 'dream_jobs',\n      title: aiJob.title,\n      feedback_category: aiJob.category,\n      content: aiJob.content,\n      feedback: aiJob.feedback || 'No changes needed.',\n      explore: aiJob.explore || '',\n      report_id: aiResponse.report_id || combineData.report_id,\n      first_name: combineData.first_name || ''\n    }\n  };\n});\n\nreturn updates;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5552,
        240
      ],
      "id": "ad7afff0-11cb-42ba-826b-8549055fca17",
      "name": "Process Dream"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "report_sections",
        "filters": {
          "conditions": [
            {
              "keyName": "report_id",
              "keyValue": "={{ $('Parse Query').item.json.report_id }}"
            },
            {
              "keyName": "section_type",
              "keyValue": "runner_ups"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6576,
        -560
      ],
      "id": "c74e1316-e749-4b3a-8ae0-ed4f18d907b8",
      "name": "Get Runner-ups1",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "runnerups_prompt",
              "name": "prompt",
              "value": "=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for RUNNER-UP CAREERS. Evaluate each career individually and apply feedback only where relevant.\n\n## CATEGORIES (per career):\n- CAT. 0: No actionable feedback for THIS career - return original unchanged\n- CAT. 1: Minor adjustments needed for THIS career\n- CAT. 2: Significant changes or new suggestion required for THIS career\n\n**If new suggestion needed for a specific career:**\n1. Summarize why original didn't resonate\n2. Suggest NEW career\n3. Format new text in italic with \"Based on your feedback...\"\n\n# RULES:\n- DO NOT invent feedback\n- Apply feedback ONLY to careers it relates to - leave others unchanged\n- Keep adjusted content similar length (unless adding exploration content)\n- Business casual tone\n- Use user's name ({{ $json.first_name }}) and 'you'  SECOND PERSON perspective!\n- If explore contains insights about a specific career, integrate into THAT career only\n- Preserve the ID for each career exactly as provided\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- DO NOT include the career title in the content - title is stored separately\n- Content should start with **Overview:** not with the career title\n\n# OUTPUT FORMAT\nReturn ONLY JSON with an array of runner_ups, one object per career:\n```json\n{\n  \"section_type\": \"runner_ups\",\n  \"runner_ups\": [\n    {\n      \"id\": \"original-uuid-from-input\",\n      \"title\": \"Career Title\",\n      \"category\": 0, 1, or 2,\n      \"content\": \"adjusted or original content for this career\",\n      \"feedback\": \"what was changed for THIS career, or 'No changes needed.'\",\n      \"explore\": \"exploration content added to THIS career, or empty string\"\n    }\n  ],\n  \"report_id\": {{ $json.report_id }}\n}\n```\n\n# INPUT\n**Runner-up Careers:**\n---\n**ID:** {{ $json.careers[0].id }}\n**Title:** {{ $json.careers[0].title }}\n**Content:** {{ $json.careers[0].content }}\n---\n\n**ID:** {{ $json.careers[1].id }}\n**Title:** {{ $json.careers[1].title }}\n**Content:** {{ $json.careers[1].content }}\n\n---\n\n**ID:** {{ $json.careers[2].id }}\n**Title:** {{ $json.careers[2].title }}\n**Content:** {{ $json.careers[2].content }}\n\n---\n\n**ID:** {{ $json.careers[3].id }}\n**Title:** {{ $json.careers[3].title }}\n**Content:** {{ $json.careers[3].content }}\n\n---\n\n**ID:** {{ $json.careers[4].id }}\n**Title:** {{ $json.careers[4].title }}\n**Content:** {{ $json.careers[4].content }}\n\n---\n\n**User Feedback:**\n{{ $json.feedback }}\n\n**Exploration Request:**\n{{ $json.explore }}\n\n**Report ID:** {{ $json.report_id }}\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', produce the regenerated content in English as instructed above.\nIf preferred_language IS 'nl', the content you produce must be in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Match the language and structure of the existing section content shown above: keep the same <h5>/<h3>/<h4>/<strong> subheaders and HTML tags, translate only the visible text. Keep brand and feature names in English (Cairnly, outside-the-box, runner-up) and keep AI-impact rating labels in English (Augmented, Enhanced, Transformed, At Risk, Displaced). Do NOT change the required JSON output structure - only the natural-language text inside it.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6128,
        -560
      ],
      "id": "49bd7821-602f-4f11-91af-d22b78dae75b",
      "name": "Build Runner-ups Prompt1",
      "executeOnce": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5904,
        -384
      ],
      "id": "c0d0d1c7-875f-4aa8-8777-95f606efc988",
      "name": "Gemini Runner-ups1",
      "credentials": {
        "googlePalmApi": {
          "id": "TJBoqA8SVIj4Ikeq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const triggerData = $input.first().json;\nlet parsedData = {};\n\nif (triggerData.query) {\n  try {\n    const parsed = JSON.parse(triggerData.query);\n    parsedData = Array.isArray(parsed) ? parsed[0] : parsed;\n  } catch (e) {\n    parsedData = triggerData;\n  }\n} else {\n  parsedData = triggerData;\n}\n\n// Validate section_type\nconst validSections = [\n  'approach', 'strengths', 'development', 'values',\n  'top_career_1', 'top_career_2', 'top_career_3',\n  'runner_ups', 'outside_box', 'dream_jobs'\n];\n\nconst sectionType = parsedData.section_type || '';\nif (!validSections.includes(sectionType)) {\n  throw new Error(`Invalid section_type: ${sectionType}. Must be one of: ${validSections.join(', ')}`);\n}\n\n// Determine route category\nlet routeCategory;\nif (['approach', 'strengths', 'development', 'values'].includes(sectionType)) {\n  routeCategory = 'personality';\n} else if (['top_career_1', 'top_career_2', 'top_career_3'].includes(sectionType)) {\n  routeCategory = sectionType;\n} else if (sectionType === 'runner_ups') {\n  routeCategory = 'runner_ups';\n} else if (sectionType === 'outside_box') {\n  routeCategory = 'outside_box';\n} else if (sectionType === 'dream_jobs') {\n  routeCategory = 'dream';\n}\n\nreturn {\n  json: {\n    report_id: parsedData.report_id,\n    first_name: parsedData.first_name || '',\n    section_type: sectionType,\n    route_category: routeCategory,\n    feedback: parsedData.feedback || '',\n    explore: parsedData.explore || ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7520,
        -976
      ],
      "id": "64aad1b5-3287-4ac9-a6f4-a5b6994123c0",
      "name": "Parse Query"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst feedback = $('Parse Query').item.json.feedback || '';\nconst explore = $('Parse Query').item.json.explore || '';\nconst reportId = $('Parse Query').item.json.report_id;\nconst firstName = $('Route by Section Type').item.json.first_name || '';\n\n// Sort by order_number if available\nconst sorted = items.sort((a, b) => (a.json.order_number || 0) - (b.json.order_number || 0));\n\nconst careers = sorted.map((item, i) => {\n  let content = item.json.content || '';\n  \n  // Strip the \"**Runner-up N: Title**\\n\" header from content if present\n  content = content.replace(/^\\*\\*Runner-up \\d+:\\s*[^*]+\\*\\*\\n?/, '').trim();\n  \n  return {\n    id: item.json.id,\n    title: item.json.title || `Runner-up ${i + 1}`,\n    section_type: item.json.section_type,\n    order_number: item.json.order_number,\n    content: content\n  };\n});\n\nreturn {\n  json: {\n    report_id: reportId,\n    first_name: firstName,\n    feedback: feedback,\n    explore: explore,\n    careers: careers\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6352,
        -560
      ],
      "id": "2ac480d9-4ffc-493f-a22b-c1a3867c2db6",
      "name": "Separator2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst feedback = $('Parse Query').item.json.feedback || '';\nconst explore = $('Parse Query').item.json.explore || '';\nconst reportId = $('Parse Query').item.json.report_id;\nconst firstName = $('Route by Section Type').item.json.first_name || '';\n\n// Sort by order_number if available\nconst sorted = items.sort((a, b) => (a.json.order_number || 0) - (b.json.order_number || 0));\n\nconst careers = sorted.map((item, i) => {\n  let content = item.json.content || '';\n  \n  // Strip the \"**Outside-the-box N: Title**\\n\" header from content if present\n  content = content.replace(/^\\*\\*Outside-the-box \\d+:\\s*[^*]+\\*\\*\\n?/, '').trim();\n  \n  return {\n    id: item.json.id,\n    title: item.json.title || `Outside-the-box ${i + 1}`,\n    section_type: item.json.section_type,\n    order_number: item.json.order_number,\n    content: content\n  };\n});\n\nreturn {\n  json: {\n    report_id: reportId,\n    first_name: firstName,\n    feedback: feedback,\n    explore: explore,\n    careers: careers\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6352,
        -160
      ],
      "id": "fcf401de-aa64-40cb-a72a-b78d581f9a10",
      "name": "Separator4"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst feedback = $('Parse Query').item.json.feedback || '';\nconst explore = $('Parse Query').item.json.explore || '';\nconst reportId = $('Parse Query').item.json.report_id;\nconst firstName = $('Route by Section Type').item.json.first_name || '';\n\nconst sorted = items.sort((a, b) => (a.json.order_number || 0) - (b.json.order_number || 0));\n\nconst jobs = sorted.map((item, i) => {\n  let content = item.json.content || '';\n  \n  // Strip the \"**Dream Job N: Title**\\n\" header from content if present\n  content = content.replace(/^\\*\\*Dream Job \\d+:\\s*[^*]+\\*\\*\\n?/, '').trim();\n  \n  return {\n    id: item.json.id,\n    title: item.json.title || `Dream Job ${i + 1}`,\n    section_type: item.json.section_type,\n    order_number: item.json.order_number,\n    content: content\n  };\n});\n\nreturn {\n  json: {\n    report_id: reportId,\n    first_name: firstName,\n    feedback: feedback,\n    explore: explore,\n    jobs: jobs\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6352,
        240
      ],
      "id": "c6cf2701-df54-4274-8413-d9d1446b5376",
      "name": "Separator5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -5904,
        -1008
      ],
      "id": "77a7bed2-79c0-4b83-a355-7b4c5fadfac9",
      "name": "AI Top"
    },
    {
      "parameters": {
        "jsCode": "let aiOutput = $input.first().json.text;\naiOutput = aiOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiOutput);\n} catch (error) {\n  return [{\n    json: {\n      error: 'AI response was not valid JSON',\n      raw_output: aiOutput\n    }\n  }];\n}\n\n// Get career ID and first_name from the Build prompt node\nconst buildData = $('Build Top Career Prompt').first().json;\n\nreturn [{\n  json: {\n    id: buildData.career_id,\n    section_type: aiResponse.section_type || buildData.section_type,\n    feedback_category: aiResponse.category,\n    content: aiResponse.content,\n    feedback: aiResponse.feedback || 'No changes needed based on your feedback.',\n    explore: aiResponse.explore || '',\n    report_id: aiResponse.report_id || buildData.report_id,\n    first_name: buildData.first_name || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5552,
        -1008
      ],
      "id": "4bdddfc7-6085-4d72-92cd-4172e136acc3",
      "name": "Process Top"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_category }}",
                    "rightValue": "personality",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5252b683-aaf5-4712-a8ad-0b41a86c80ad"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "personality"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_category }}",
                    "rightValue": "top_career_1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "10f049a1-cc4a-4b91-a44e-ed13d07c87f3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "top_career_1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2864968d-e0f6-497b-bcb7-fff54bdb9dcf",
                    "leftValue": "={{ $json.route_category }}",
                    "rightValue": "top_career_2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "top_career_2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6ae7252-f880-48b7-bdea-0710eef54cee",
                    "leftValue": "={{ $json.route_category }}",
                    "rightValue": "top_career_3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "top_career_3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_category }}",
                    "rightValue": "runner_ups",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a4cf6cca-91ca-45db-9f2e-11f2f6464fcb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "runner_ups"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_category }}",
                    "rightValue": "outside_box",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dd606f1c-b7b1-4fef-8e2f-82bf4cf5d1ab"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outside_box"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_category }}",
                    "rightValue": "dream",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "693893dd-68da-4c42-b3bb-8aab60b09e1d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "dream"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -6976,
        -1056
      ],
      "id": "3ede6be0-5a7b-43e2-b81d-b145b2b3f818",
      "name": "Route by Section Type"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5904,
        -832
      ],
      "id": "6a99726c-2258-4214-8ad2-83d45dcf421e",
      "name": "Gemini Top1",
      "credentials": {
        "googlePalmApi": {
          "id": "TJBoqA8SVIj4Ikeq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "report_sections",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "report_id",
              "condition": "eq",
              "keyValue": "={{ $json.report_id }}"
            },
            {
              "keyName": "section_type",
              "condition": "eq",
              "keyValue": "={{ $json.section_type }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "feedback_category",
              "fieldValue": "={{ $json.feedback_category }}"
            },
            {
              "fieldId": "feedback",
              "fieldValue": "={{ $json.feedback }}"
            },
            {
              "fieldId": "explore",
              "fieldValue": "={{ $json.explore }}"
            },
            {
              "fieldId": "fb_status",
              "fieldValue": "true"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ $json.metadata }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5136,
        -1264
      ],
      "id": "38db42ed-c298-421c-b2e9-803035d62c6b",
      "name": "Update Section in DB",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "report_sections",
        "filters": {
          "conditions": [
            {
              "keyName": "report_id",
              "keyValue": "={{ $json.report_id }}"
            },
            {
              "keyName": "section_type",
              "keyValue": "top_career_1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6576,
        -1200
      ],
      "id": "a745926a-1c29-4955-818a-10b4cc8aa0c6",
      "name": "Get Top1",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "report_sections",
        "filters": {
          "conditions": [
            {
              "keyName": "report_id",
              "keyValue": "={{ $json.report_id }}"
            },
            {
              "keyName": "section_type",
              "keyValue": "top_career_2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6576,
        -1008
      ],
      "id": "3e854fb5-759d-46c0-a21b-15a905221ab8",
      "name": "Get Top2",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "report_sections",
        "filters": {
          "conditions": [
            {
              "keyName": "report_id",
              "keyValue": "={{ $json.report_id }}"
            },
            {
              "keyName": "section_type",
              "keyValue": "top_career_3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6576,
        -816
      ],
      "id": "28283903-1e63-4764-b74d-9e4543e9609d",
      "name": "Get Top3",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "top123_prompt",
              "name": "prompt",
              "value": "=# ROLE\nYou are an expert editor for career assessment feedback.\n\n# TASK\nProcess feedback for TOP CAREER: {{ $json.title }}\n\n## CATEGORIES:\n- CAT. 0: No actionable feedback (\"looks good\", \"accurate\") - return original unchanged\n- CAT. 1: Minor feedback - small adjustments\n- CAT. 2: Significant feedback or exploration request - detailed adjustments/additions\n\n# RULES:\n- DO NOT invent feedback\n- Keep adjusted content similar length (unless adding exploration content)\n- Business casual tone\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Use user's name  {{ $('Parse Query').item.json.first_name }} and 'you'. SECOND PERSON perspective!\n- If explore contains a new career suggestion from the agent, integrate it properly\n\n# OUTPUT FORMAT\nReturn ONLY JSON:\n```json\n{\n  \"section_type\": \"{{ $json.section_type }}\",\n  \"category\": 0, 1, or 2,\n  \"content\": \"adjusted or original content\",\n  \"feedback\": \"summary of feedback addressed or 'No changes needed based on your feedback.'\",\n  \"explore\": \"new content generated from exploration request, or empty string if none\",\n  \"report_id\": {{ $json.report_id }}\n}\n```\n\n# OTHER INPUT\n**Section Type:** {{ $json.section_type }}\n\n**Original Content:**\n{{ $json.content }}\n\n**Feedback:**\n{{ $('Route by Section Type').item.json.feedback }}\n\n**Explore Request:**\n{{ $('Route by Section Type').item.json.explore }}\n\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', produce the regenerated content in English as instructed above.\nIf preferred_language IS 'nl', the content you produce must be in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Match the language and structure of the existing section content shown above: keep the same <h5>/<h3>/<h4>/<strong> subheaders and HTML tags, translate only the visible text. Keep brand and feature names in English (Cairnly, outside-the-box, runner-up) and keep AI-impact rating labels in English (Augmented, Enhanced, Transformed, At Risk, Displaced). Do NOT change the required JSON output structure - only the natural-language text inside it.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6128,
        -1008
      ],
      "id": "2d82c3a9-19ea-444b-a6f8-a6eacb8d07fb",
      "name": "Build Top Career Prompt"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "report_sections",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "feedback_category",
              "fieldValue": "={{ $json.feedback_category }}"
            },
            {
              "fieldId": "feedback",
              "fieldValue": "={{ $json.feedback }}"
            },
            {
              "fieldId": "explore",
              "fieldValue": "={{ $json.explore }}"
            },
            {
              "fieldId": "fb_status",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5136,
        -160
      ],
      "id": "a871d3a7-74ca-4910-a9a2-011e1f0a63d6",
      "name": "Update Section in DB1",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "report_sections",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "feedback_category",
              "fieldValue": "={{ $json.feedback_category }}"
            },
            {
              "fieldId": "feedback",
              "fieldValue": "={{ $json.feedback }}"
            },
            {
              "fieldId": "explore",
              "fieldValue": "={{ $json.explore }}"
            },
            {
              "fieldId": "fb_status",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5136,
        240
      ],
      "id": "fb7b4810-8f25-4889-9c3f-6dc9588c7362",
      "name": "Update Section in DB2",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/report_sections?report_id=eq.{{ $('Parse Query').item.json.report_id }}&select=language&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7216,
        -800
      ],
      "id": "8c233738-69e7-4dd1-a337-f1b44418c17b",
      "name": "Get Report Language",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Personality Section": {
      "main": [
        [
          {
            "node": "Build Personality Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Outside Box": {
      "main": [
        [
          {
            "node": "Separator4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dream Jobs": {
      "main": [
        [
          {
            "node": "Separator5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Personality Prompt": {
      "main": [
        [
          {
            "node": "AI Personality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Outside Box Prompt": {
      "main": [
        [
          {
            "node": "AI Outside Box",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dream Prompt": {
      "main": [
        [
          {
            "node": "AI Dream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Personality": {
      "ai_languageModel": [
        [
          {
            "node": "AI Personality",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Outside Box": {
      "ai_languageModel": [
        [
          {
            "node": "AI Outside Box",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Dream": {
      "ai_languageModel": [
        [
          {
            "node": "AI Dream",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Personality": {
      "main": [
        [
          {
            "node": "Process Personality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Runner-ups": {
      "main": [
        [
          {
            "node": "Process Runner-ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Outside Box": {
      "main": [
        [
          {
            "node": "Process Outside Box",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Dream": {
      "main": [
        [
          {
            "node": "Process Dream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Personality": {
      "main": [
        [
          {
            "node": "Update Section in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Runner-ups1": {
      "main": [
        [
          {
            "node": "Separator2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Runner-ups Prompt1": {
      "main": [
        [
          {
            "node": "AI Runner-ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Runner-ups1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Runner-ups",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Process Runner-ups": {
      "main": [
        [
          {
            "node": "Update Section in DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Outside Box": {
      "main": [
        [
          {
            "node": "Update Section in DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Dream": {
      "main": [
        [
          {
            "node": "Update Section in DB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query": {
      "main": [
        [
          {
            "node": "Route by Section Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Report Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separator2": {
      "main": [
        [
          {
            "node": "Build Runner-ups Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separator4": {
      "main": [
        [
          {
            "node": "Build Outside Box Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separator5": {
      "main": [
        [
          {
            "node": "Build Dream Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Top": {
      "main": [
        [
          {
            "node": "Process Top",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Top": {
      "main": [
        [
          {
            "node": "Update Section in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Section Type": {
      "main": [
        [
          {
            "node": "Get Personality Section",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Top1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Top2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Top3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Runner-ups1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Outside Box",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Dream Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Top1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Top",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Section in DB": {
      "main": [
        []
      ]
    },
    "Get Top1": {
      "main": [
        [
          {
            "node": "Build Top Career Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top2": {
      "main": [
        [
          {
            "node": "Build Top Career Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top3": {
      "main": [
        [
          {
            "node": "Build Top Career Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Top Career Prompt": {
      "main": [
        [
          {
            "node": "AI Top",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Section in DB1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "be21d903-893d-47e3-92c5-a983932bca18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e7b430fdf0c0933b51e03975e465d1a7e5fdf56715539d5a6635a3c8f962dc4"
  },
  "id": "CyyjL7D51NbVZNtL",
  "tags": [
    {
      "updatedAt": "2025-11-24T20:41:07.767Z",
      "createdAt": "2025-11-24T20:41:07.767Z",
      "id": "44aNsHc2o7OPnHCN",
      "name": "tool"
    }
  ]
}