n8n_aa/dup_after_20260530/WF7_AFTER_ohNbCw7pVqvjCZHT.json
{"updatedAt":"2026-05-30T22:05:28.476Z","createdAt":"2026-05-30T21:52:03.009Z","id":"ohNbCw7pVqvjCZHT","name":"WF7 - ExecSummary NL/EN","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-800,0],"id":"2536f133-90c2-4249-9266-b1f1554fac4b","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"rid_assign","name":"report_id","value":"={{ $json.body && $json.body.report_id ? $json.body.report_id : $json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,0],"id":"06b73ee6-4733-45ae-b4d7-83588045a9a5","name":"Extract report_id"},{"parameters":{"url":"=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/report_sections?report_id=eq.{{ $json.report_id }}&section_type=in.(approach,strengths,development,values,top_career_1,top_career_2,top_career_3,runner_ups,outside_box,dream_jobs,chat_highlights)&select=section_type,title,content,feedback,explore,language","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,0],"id":"4dbbb62d-1abb-4a46-8a6b-492c73c2300a","name":"Pull All Sections","credentials":{}},{"parameters":{"jsCode":"// Combine all report sections into a structured input for the exec summary\nconst sections = $input.all().map(item => item.json);\n\n// Build structured content\nconst sectionOrder = [\n  'approach', 'strengths', 'development', 'values',\n  'top_career_1', 'top_career_2', 'top_career_3',\n  'runner_ups', 'outside_box', 'dream_jobs', 'chat_highlights'\n];\n\nconst sectionLabels = {\n  'approach': 'Work Approach',\n  'strengths': 'Core Strengths',\n  'development': 'Development Areas',\n  'values': 'Career Values',\n  'top_career_1': 'Top Career Match 1',\n  'top_career_2': 'Top Career Match 2',\n  'top_career_3': 'Top Career Match 3',\n  'runner_ups': 'Runner-Up Careers',\n  'outside_box': 'Outside-the-Box Careers',\n  'dream_jobs': 'Dream Job Analysis',\n  'chat_highlights': 'Chat Discussion Highlights'\n};\n\n// Build a map for quick lookup\nconst sectionMap = {};\nsections.forEach(s => {\n  sectionMap[s.section_type] = s;\n});\n\nlet combinedContent = '';\n\nfor (const sType of sectionOrder) {\n  const s = sectionMap[sType];\n  if (!s) continue;\n  \n  const label = sectionLabels[sType] || sType;\n  combinedContent += `\\n## ${label}\\n`;\n  \n  if (s.title) {\n    combinedContent += `Title: ${s.title}\\n`;\n  }\n  \n  // Add the main content (truncated to key points for summary)\n  const content = (s.content || '').substring(0, sType === 'chat_highlights' ? 6000 : 2000);\n  combinedContent += `${content}\\n`;\n  \n  // Include user feedback if any\n  if (s.feedback && s.feedback !== 'User confirmed section is accurate, no changes needed.' && s.feedback !== 'User confirmed accuracy, no changes needed.') {\n    combinedContent += `\\nUser Feedback: ${s.feedback}\\n`;\n  }\n  \n  // Include exploration content if any\n  if (s.explore) {\n    combinedContent += `\\nAdditional Discussion: ${s.explore.substring(0, 500)}\\n`;\n  }\n  \n  combinedContent += '\\n---\\n';\n}\n\n// Get report_id from upstream\nconst reportId = $('Extract report_id').item.json.report_id;\n// Language: report_sections carry the language WF1 stamped. Use the first\n// section that has one; default English for legacy reports.\nconst lang = (sections.find(s => s.language) || {}).language || 'en';\n\nreturn [{\n  json: {\n    report_id: reportId,\n    combined_sections: combinedContent,\n    section_count: sections.length,\n    preferred_language: lang\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"78569ff1-fcb3-41e2-a431-e91223159aff","name":"Combine Sections"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,0],"id":"bfe752b0-de83-4fe2-a40e-3fcb37e42fc0","name":"Insert Exec Summary","credentials":{}},{"parameters":{"jsCode":"const text = $json.text;\n\nif (!text) {\n  throw new Error('Executive summary generation returned empty content');\n}\n\nconst lang = $('Combine Sections').item.json.preferred_language || 'en';\n\nreturn [{\n  json: {\n    report_id: $('Extract report_id').item.json.report_id,\n    section_type: 'exec_summary',\n    title: lang === 'nl' ? 'Samenvatting' : 'Executive Summary',\n    content: text,\n    order_number: 0,\n    language: lang\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,0],"id":"c71cddd1-5a71-4f80-93d4-e6fe86640b79","name":"Prepare for Insert"},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[272,160],"id":"4425ecb5-f9b0-4d4f-b4fe-68071748311c","name":"OpenRouter Chat Model1","credentials":{}},{"parameters":{"promptType":"define","text":"=# ROLE\nYou are an expert career assessment writer creating an Executive Summary for Atlas Assessment's personalized career report.\n\n# TASK\nGenerate a concise, insightful Executive Summary that synthesizes the candidate's complete personality profile and career recommendations into a compelling overview. This is the FIRST thing they'll read in their dashboard report, so it needs to capture the essence of who they are professionally and what their best career paths look like.\n\n# STRUCTURE\n\nWrite the summary using these sections with <h5> tags for subheaders:\n\n<h5>Professional Identity</h5>\n[2-3 sentences capturing who this person is professionally: their work approach, leadership style, and what drives them. Pull from approach + values sections.]\n\n<h5>Key Strengths & Growth Areas</h5>\n[2-3 sentences on their standout capabilities and the development areas that matter most. Pull from strengths + development sections. If user gave feedback disagreeing with something, incorporate that nuance.]\n\n<h5>Career Direction</h5>\n[3-4 sentences summarizing the career recommendations: what their top matches are and why, plus any notable runner-up or outside-the-box options. Mention specific career titles. If user expressed strong reactions (positive or negative) during the chat, reflect those preferences.]\n\n<h5>Path Forward</h5>\n[2-3 sentences with forward-looking guidance: what steps to consider, what to prioritize, and an encouraging but honest closing thought.]\n\n# RULES\n- Total length: 250-350 words\n- Tone: Business casual, warm, direct (Atlas voice)\n- DO NOT use the em dash (—). Use commas, colons, or parentheses instead.\n- Reference specific career titles from the recommendations\n- Incorporate user feedback where it changes or refines the narrative\n- Use <strong> tags for emphasis on key phrases (not markdown bold)\n- Write in second person (\"you\", \"your\")\n- No generic fluff. Every sentence should contain specific insight from the data.\n- Do NOT include any preamble like \"Here is your executive summary\"\n\n\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $json.preferred_language }}\nIf preferred_language is 'nl', write your ENTIRE output in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand and feature names in English (Cairnly, outside-the-box, runner-up). Keep all HTML tags (<h5>, <strong>) and the structure exactly as specified; translate the visible text inside them (including the <h5> subheader labels). For any other value of preferred_language, write in English.\n\n# INPUT\n{{ $json.combined_sections }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[272,0],"id":"0ef4a192-16a3-4f34-a49b-39b964f06f6a","name":"Basic LLM Chain"},{"parameters":{"httpMethod":"POST","path":"2e70b745-e53a-48e4-8cbe-cce185a2be8c","options":{}},"id":"1a019e16-f342-454f-8e0a-b3a5e7632342","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,208],"webhookId":"2e70b745-e53a-48e4-8cbe-cce185a2be8c"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Extract report_id","type":"main","index":0}]]},"Extract report_id":{"main":[[{"node":"Pull All Sections","type":"main","index":0}]]},"Pull All Sections":{"main":[[{"node":"Combine Sections","type":"main","index":0}]]},"Combine Sections":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Prepare for Insert":{"main":[[{"node":"Insert Exec Summary","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Prepare for Insert","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Extract report_id","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"517caabe-e824-4481-aeb5-b491570aa298","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-05-30T21:52:03.011Z","createdAt":"2026-05-30T21:52:03.011Z","role":"workflow:owner","workflowId":"ohNbCw7pVqvjCZHT","projectId":"IRGhJlz0HuarxdVs","project":{"updatedAt":"2026-05-08T11:19:23.000Z","createdAt":"2025-06-17T10:11:12.163Z","id":"IRGhJlz0HuarxdVs","name":"Cairnly","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"","creatorId":null}}],"tags":[],"activeVersion":null}