n8n_wfs_cairnly/WF0 - Resume data extraction.json
{
  "name": "WF0 - Resume data extraction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aa-resume-extract",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Resume Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "webhookId": "aa-resume-extract-id"
    },
    {
      "parameters": {
        "url": "={{ $json.body.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-pdf-1",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-pdf-1",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        752,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a resume/CV data extraction expert. Parse the following resume text and extract structured data.\n\nRESUME TEXT:\n{{ $json.resume_text }}\n\nExtract the following fields and return ONLY valid JSON (no markdown, no explanation):\n\n{\n  \"name\": \"Full name of the person\",\n  \"education\": \"MUST be one of: No formal education | High school diploma or equivalent | Associate's degree (e.g., technical college or vocational training) | Bachelor's degree | Master's degree | Doctorate or professional degree (e.g., PhD, MD, JD)\",\n  \"study_subject\": \"Field of study (e.g., Computer Science, Business Administration)\",\n  \"years_experience\": number (calculate from earliest job start year to 2026),\n  \"region\": \"MUST be one of: Northern and Western Europe | Southern and Eastern Europe | United Kingdom (London) | United Kingdom (Other) | United States (High-Cost Regions) | United States (Average-Cost Regions) | United States (Lower-Cost Regions) | Canada | Australia and New Zealand | Switzerland\",\n\n\"career_history\": [\n    {\n      \"title\": \"Job title\",\n      \"companyName\": \"Company name\",\n      \"sector\": \"Industry / Sector / Focus (e.g. Fintech, E-commerce, SaaS, Consulting)\",\n      \"startMonth\": \"3-letter month (Jan, Feb, Mar...)\",\n      \"startYear\": \"YYYY\",\n      \"endMonth\": \"3-letter month or empty if current\",\n      \"endYear\": \"YYYY or empty if current\",\n      \"isCurrent\": true/false\n    }\n  ],\n  \"career_situation\": \"MUST be one of: Non-leadership or individual contributor role (no direct reports) | Managerial or leadership role (Managing 1-4 direct reports, focusing on team coordination and supervision) | Senior managerial role (Managing 5 or more direct reports, involved in strategic decision-making and broader team oversight) | Executive function (VP to C-suite roles or equivalent senior leadership positions with comprehensive organizational responsibilities) | Entrepreneur seeking an employed role | Currently on a career break or transition | Looking to re-enter the workforce\",\n  \"top_skills\": [\"skill1\", \"skill2\", \"skill3\"],\n  \"certifications\": [\"cert1\", \"cert2\"],\n  \"achievements\": [\n    {\"text\": \"Achievement description\", \"company\": \"Company name\", \"year\": \"YYYY\"}\n  ],\n  \"interests\": \"Comma-separated Personal interest and hobbies. Not professional interests like 'fintech'! But more like DIY, Gardening, collecting, planes, fashion, Lego, writing, etc. If found, or empty string. \"\n}\n\nRULES:\n- Netherlands, Germany, France, Belgium, Scandinavia = Northern and Western Europe\n- Spain, Italy, Poland, Czech Republic = Southern and Eastern Europe\n- Founder/CEO/COO/CTO/CFO/CMO = Executive function\n- career_history: most recent first, maximum 7 entries\n- Month format: 3-letter abbreviation (Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec)\n- isCurrent: true ONLY for roles marked Present or the most recent role without end date\n- years_experience: calculate as integer from earliest job year to 2026\n- do NOT EVER invent CV content or make things up!\n- Return ONLY the JSON object, nothing else\n",
        "batching": {}
      },
      "id": "ai-chain-1",
      "name": "Extract Resume Data",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1200,
        304
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "gemini-model-1",
      "name": "Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        992,
        608
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "TJBoqA8SVIj4Ikeq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get AI output and upstream data\nconst aiOutput = $input.first().json.text;\nconst resumeText = $('key extractions').first().json.resume_text;\nconst userId = $('key extractions').first().json.user_id;\nconst fileUrl = $('key extractions').first().json.file_url;\n\n// Strip markdown code blocks if present\nlet jsonStr = aiOutput;\nif (jsonStr.includes('```json')) {\n  jsonStr = jsonStr.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n} else if (jsonStr.includes('```')) {\n  jsonStr = jsonStr.replace(/```\\n?/g, '');\n}\njsonStr = jsonStr.trim();\n\n// Parse the JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  // Try to extract JSON from the string\n  const match = jsonStr.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    parsed = JSON.parse(match[0]);\n  } else {\n    throw new Error('Failed to parse AI output as JSON: ' + e.message);\n  }\n}\n\n// Question ID mappings\nconst QUESTION_IDS = {\n  name: '11111111-1111-1111-1111-11111111111a',\n  region: '11111111-1111-1111-1111-111111111114',\n  education: '11111111-1111-1111-1111-111111111116',\n  study_subject: '11111111-1111-1111-1111-111111111117',\n  years_experience: '11111111-1111-1111-1111-111111111118',\n  career_situation: '11111111-1111-1111-1111-111111111119',\n  career_history: '11111111-1111-1111-1111-111111111110',\n  achievement: '11111111-1111-1111-1111-11111111111f',\n  interests: '11111111-1111-1111-1111-111111111120'\n};\n\n// Build skills and achievements combined data\nconst skillsAndAchievements = {\n  top_skills: parsed.top_skills || [],\n  certifications: parsed.certifications || [],\n  achievements: parsed.achievements || []\n};\n\n// Build the survey data mapped to question IDs\nconst surveyData = {};\n\nif (parsed.name) {\n  surveyData[QUESTION_IDS.name] = { value: parsed.name };\n}\nif (parsed.region) {\n  surveyData[QUESTION_IDS.region] = { value: parsed.region };\n}\nif (parsed.education) {\n  surveyData[QUESTION_IDS.education] = { value: parsed.education };\n}\nif (parsed.study_subject) {\n  surveyData[QUESTION_IDS.study_subject] = { value: parsed.study_subject };\n}\nif (parsed.years_experience !== undefined) {\n  surveyData[QUESTION_IDS.years_experience] = { value: String(parsed.years_experience) };\n}\nif (parsed.career_situation) {\n  surveyData[QUESTION_IDS.career_situation] = { value: parsed.career_situation };\n}\nif (parsed.career_history && parsed.career_history.length > 0) {\n  surveyData[QUESTION_IDS.career_history] = { value: parsed.career_history };\n}\nif (skillsAndAchievements.top_skills.length > 0 || skillsAndAchievements.achievements.length > 0) {\n  surveyData[QUESTION_IDS.achievement] = { value: skillsAndAchievements };\n}\nif (parsed.interests) {\n  surveyData[QUESTION_IDS.interests] = { value: parsed.interests };\n}\n\nreturn [{\n  json: {\n    user_id: userId,\n    file_url: fileUrl,\n    resume_text: resumeText,\n    parsed_raw: parsed,\n    resume_parsed_data: surveyData\n  }\n}];"
      },
      "id": "parse-json-1",
      "name": "Parse and Map to Survey IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "resume_data",
              "fieldValue": "={{ $json.resume_text }}"
            },
            {
              "fieldId": "resume_parsed_data",
              "fieldValue": "={{ JSON.stringify($json.resume_parsed_data) }}"
            },
            {
              "fieldId": "resume_uploaded_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "supabase-update-1",
      "name": "Update Profile in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1760,
        512
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Resume parsed successfully', data: { name: $json.parsed_raw.name, education: $json.parsed_raw.education, years_experience: $json.parsed_raw.years_experience, career_history_count: ($json.parsed_raw.career_history || []).length, skills_count: ($json.parsed_raw.top_skills || []).length, resume_parsed_data: $json.resume_parsed_data } }) }}",
        "options": {}
      },
      "id": "respond-webhook-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resume-text-field",
              "name": "resume_text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "user-id-field",
              "name": "user_id",
              "value": "={{ $('Resume Upload Webhook').item.json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "file-url-field",
              "name": "file_url",
              "value": "={{ $('Resume Upload Webhook').item.json.body.file_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-prompt-1",
      "name": "key extractions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1216,
        480
      ],
      "id": "6170d19a-fd43-4c77-bf3d-514de16027a1",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "RhTKhZPWZ6gcGD13",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Resume Upload Webhook": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "key extractions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash": {
      "ai_languageModel": [
        []
      ]
    },
    "Extract Resume Data": {
      "main": [
        [
          {
            "node": "Parse and Map to Survey IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Map to Survey IDs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Profile in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "key extractions": {
      "main": [
        [
          {
            "node": "Extract Resume Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Resume Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "FbsruPbuZI2Fgtc8"
  },
  "versionId": "89f576a1-a70c-4339-910f-d720d70c158c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e7b430fdf0c0933b51e03975e465d1a7e5fdf56715539d5a6635a3c8f962dc4"
  },
  "id": "myWIhgaahAXD2ULz",
  "tags": []
}