n8n_wfs_cairnly/WF1 - Profile Insert EN_NL_LIVE_pre_killfirstjob_20260710.json
{"updatedAt":"2026-07-10T10:15:34.650Z","createdAt":"2026-05-30T21:49:34.152Z","id":"0Z8WxV5tVFMJqIZt","name":"WF1 - Profile Insert EN/NL","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"28477bc7-d895-4b0e-bc45-a030312f6fcc","options":{"allowedOrigins":"*","binaryPropertyName":"","ignoreBots":false,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[768,624],"id":"0a8c0df0-3fce-4ce2-83f9-0d2396516db7","name":"Survey complete Webhook2","webhookId":"28477bc7-d895-4b0e-bc45-a030312f6fcc"},{"parameters":{"jsCode":"// Clean up initial summary for downstream use\n// This content feeds directly into prompt_perso_prof AND gets inserted to SB later\nconst summaryRaw = $('Initial_summary1').first().json.text || '';\nconst reportId = $('Process Survey Data1').first().json.report_id;\n\n// Clean markdown formatting, convert to HTML (same logic as original)\nlet content = summaryRaw\n  .replace(/###\\s*\\*\\*([^*]+)\\*\\*/g, '<h5>$1</h5>')\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\*([^*]+)\\*/g, '$1')\n  .trim();\n\nreturn [{\n  json: {\n    report_id: reportId,\n    content: content\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,624],"id":"4db5cbe1-b244-40ad-acbe-1a3be924d281","name":"Prep init_summary"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2912,624],"id":"bb555d97-bead-46c0-be07-0f32a55816c8","name":"SB insert all sections","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"assignments":{"assignments":[{"id":"b2517078-26eb-406a-8d10-900e66880eb5","name":"=report_id","value":"={{ $json.id }}","type":"string"},{"id":"e608eaae-85e8-4b81-981c-62e7895717d6","name":"preferred_language","value":"={{ $('Process Survey Data1').first().json.preferred_language }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3360,624],"id":"2271daf9-8ab3-4d4c-b55b-b4c43479729c","name":"pass report_id to WF2","executeOnce":false},{"parameters":{"jsCode":"// 1. MASTER SCHEMA - Maps ID to UUID and Full Question Data\n  const SURVEY_SCHEMA = {\n    // --- SECTION 1: Personal Background & Career Context ---\n    \"1a\": { uuid: \"11111111-1111-1111-1111-11111111111a\", question: \"Your name\", type: \"short_text\", options: [], description: \"First and Last name\" },\n    \"1b\": { uuid: \"11111111-1111-1111-1111-11111111111b\", question: \"Your pronoun\", type: \"multiple_choice\", options: [\"She / Her\", \"He / Him\", \"They / Them\", \"Not defined\"], description: \"\" },\n    \"1c\": { uuid: \"11111111-1111-1111-1111-111111111113\", question: \"Your age\", type: \"number\", options: [], description: \"\" },\n    \"1d\": { uuid: \"11111111-1111-1111-1111-111111111114\", question: \"What region are you based?\", type: \"dropdown\", options: [\"Northern and Western Europe\", \"Southern and Eastern Europe\", \"United Kingdom (London)\", \"United Kingdom (Other)\", \"United States (High-Cost Regions)\", \"United States (Average-Cost Regions)\", \"United States (Lower-Cost Regions)\", \"Canada\", \"Australia and New Zealand\", \"Switzerland\"], description: \"If you prepare to move somewhere else soon, then select that region.\" },\n    \"1e\": { uuid: \"11111111-1111-1111-1111-111111111115\", question: \"My primary goal(s) for completing this questionnaire and receiving a report\", type: \"multiple_choice\", options: [\"Looking for guidance on my **first job or career path**\", \"Finding a **new career path** that better suits my skills and interests\", \"Assessing my work preferences and values for a **better work-life balance**\", \"**Identifying strengths** and areas for improvement for professional growth\", \"Considering a career change due to **burnout or lack of fulfillment**\"], description: \"Select up to 2 options that best describe your main objectives or specify it at 'other'\" },\n    \"1f\": { uuid: \"11111111-1111-1111-1111-111111111116\", question: \"What is the highest level of education you have completed?\", type: \"multiple_choice\", options: [\"No formal education\", \"High school diploma or equivalent\", \"Associate's degree (e.g., technical college or vocational training)\", \"Bachelor's degree\", \"Master's degree\", \"Doctorate or professional degree (e.g., PhD, MD, JD)\"], description: \"\" },\n    \"1g\": { uuid: \"11111111-1111-1111-1111-111111111117\", question: \"What subject or specialization did you study?\", type: \"short_text\", options: [], description: \"(Optional: Fill this out if you want it considered for career suggestions)\" },\n    \"1h\": { uuid: \"11111111-1111-1111-1111-111111111118\", question: \"How many years of professional experience do you have?\", type: \"number\", options: [], description: \"Start counting from your first real job\" },\n    \"1i\": { uuid: \"11111111-1111-1111-1111-111111111119\", question: \"What best describes your current career situation?\", type: \"multiple_choice\", options: [\"**Non-leadership or individual contributor role** (no direct reports)\", \"**Managerial or leadership role** (Managing 1\\u20134 direct reports, focusing on team coordination and supervision)\", \"**Senior managerial role** (Managing 5 or more direct reports, involved in strategic decision-making and broader team oversight)\", \"**Executive function** (VP to C-suite roles or equivalent senior leadership positions with comprehensive organizational responsibilities)\", \"**Entrepreneur** seeking an employed role\", \"Currently on a **career break or transition**\", \"Looking to **re-enter the workforce**\"], description: \"\" },\n    \"1j\": { uuid: \"11111111-1111-1111-1111-111111111110\", question: \"What are your most recent professional roles?\", type: \"career_history\", options: [], description: \"\" },\n    \"1k\": { uuid: \"11111111-1111-1111-1111-11111111111d\", question: \"How happy were you in each of these roles?\", type: \"career_happiness\", options: [], description: \"Rate your happiness (1-10) and briefly explain what about the role's responsibilities and work itself affected your satisfaction - not the company culture, specific people, or circumstances.\" },\n    \"1l\": { uuid: \"11111111-1111-1111-1111-11111111111f\", question: \"Skills, Achievements & Languages\", type: \"skills_achievements\", options: [], description: \"Tell us about your professional skills, notable achievements, and the languages you speak. This helps us understand your strengths and accomplishments.\" },\n    \"1m\": { uuid: \"11111111-1111-1111-1111-111111111120\", question: \"List any personal interests or hobbies important to you\", type: \"interests_hobbies\", options: [], description: \"Provide **up to 3** (e.g. DIY, Gardening, collecting ... , fashion, Lego, writing, etc.)\" },\n    \"1n\": { uuid: \"11111111-1111-1111-1111-111111111121\", question: \"Additional Context\", type: \"long_text\", options: [], description: \"Anything else we should know? (Optional - skip if nothing comes to mind)\" },\n\n    // --- SECTION 2: Personality & Work Style ---\n    \"2a\": { uuid: \"22222222-2222-2222-2222-222222222221\", question: \"How do social interactions affect your energy?\", type: \"multiple_choice\", options: [\"**Energized** (I thrive on interaction)\", \"**Somewhat Energized** (I enjoy it, but have a limit)\", \"**Somewhat Drained** (I can handle it, but prefer quiet)\", \"**Drained** (I need significant alone time to reset)\"], description: \"Think about meetings, team collaboration, client interactions, and networking.\" },\n    \"2b\": { uuid: \"22222222-2222-2222-2222-222222222222\", question: \"When making decisions, what do you naturally focus on first?\", type: \"multiple_choice\", options: [\"The immediate, practical details and data\", \"The long-term, big-picture ideas and impact\", \"My gut feeling and how it affects others emotionally\"], description: \"\" },\n    \"2c\": { uuid: \"22222222-2222-2222-2222-222222222223\", question: \"How do you typically approach making project decisions?\", type: \"multiple_choice\", options: [\"**Decisive** (Decide immediately to keep moving)\", \"**Leaning Deliberative** (Explore options, but can decide when needed)\", \"**Leaning Open** (Explore options, but can decide if forced)\", \"**Deliberative** (Gather data and keep options open as long as possible)\"], description: \"Project Decision Style\" },\n    \"2d\": { uuid: \"22222222-2222-2222-2222-222222222224\", question: \"How do you typically communicate complex ideas at work?\", type: \"multiple_choice\", options: [\"Direct and to the point - focus on key facts\", \"Use analogies and metaphors to explain concepts\", \"Provide detailed context and background first\", \"Adapt my style based on the audience\"], description: \"\" },\n    \"2e\": { uuid: \"22222222-2222-2222-2222-222222222225\", question: \"How do you respond to change and uncertainty at work?\", type: \"multiple_choice\", options: [\"**Strong Structure** (I prefer clear guidelines and predictability)\", \"**Leaning Structure** (I handle ambiguity well, but appreciate some structure)\", \"**Leaning Novelty** (I embrace the unknown, but like a safety net)\", \"**Embrace Novelty** (I thrive on the unknown and see it as opportunity)\"], description: \"Think about situations like role changes, new projects with unclear scope, or shifting priorities.\" },\n    \"2f\": { uuid: \"22222222-2222-2222-2222-222222222226\", question: \"How do you approach conflict or negotiation?\", type: \"multiple_choice\", options: [\"I address issues assertively and focus on finding a balanced solution\", \"I seek compromise to maintain harmony, even if I have to concede\", \"I prioritize securing the best outcome for myself or my team first\", \"I tend to defer or avoid direct conflict\"], description: \"\" },\n    \"2g\": { uuid: \"22222222-2222-2222-2222-222222222227\", question: \"What kind of work environment do you prefer?\", type: \"multiple_choice\", options: [\"**Highly Flexible** (Minimal structure and maximum autonomy)\", \"**Somewhat Flexible** (I prefer fluidity but appreciate some process)\", \"**Somewhat Structured** (I prefer a process but not rigid rules)\", \"**Highly Structured** (Clear structure and defined expectations)\"], description: \"Work Style Preference\" },\n    \"2h\": { uuid: \"22222222-2222-2222-2222-222222222228\", question: \"How comfortable are you taking calculated risks in your work?\", type: \"multiple_choice\", options: [\"Very comfortable\", \"Comfortable\", \"Uncomfortable\", \"Very uncomfortable\"], description: \"Think about situations like proposing unconventional solutions, taking on stretch projects, or making decisions with incomplete information.\" },\n    \"2i\": { uuid: \"22222222-2222-2222-2222-222222222229\", question: \"When facing work pressure or tight deadlines, how do you typically respond?\", type: \"multiple_choice\", options: [\"**Action-First** (Push forward immediately and handle it)\", \"**Leaning Action** (Tend to act quickly, with a brief pause)\", \"**Leaning Analysis** (Tend to step back, but can act if urgent)\", \"**Analysis-First** (Instinct is to stop and analyze deeply)\"], description: \"Stress Response\" },\n    \"2j\": { uuid: \"22222222-2222-2222-2222-22222222222a\", question: \"Which of the following tendencies have you experienced that may sometimes hinder your effectiveness at work?\", type: \"multiple_choice\", options: [\"Perfectionism leading to delays\", \"Difficulty delegating tasks\", \"Taking on too much responsibility\", \"Being overly critical of self or others\", \"Avoiding confrontation\", \"Difficulty adapting to change\", \"Becoming easily stressed under pressure\", \"Struggling with time management\", \"Being indecisive\", \"Rushing through tasks\", \"Difficulty accepting feedback\", \"Procrastination\", \"Overanalyzing decisions\"], description: \"Select all that apply. Be honest - everyone has growth areas.\" },\n\n    // --- SECTION 3: Work Values & Preferences ---\n    \"3a\": { uuid: \"33333333-3333-3333-3333-333333333331\", question: \"Please rank the following career values in order of importance\", type: \"ranking\", options: [\"**Job Satisfaction** (e.g., enjoying daily tasks, feeling engaged and motivated by work)\", \"**Autonomy** (e.g., having independence in work, making decisions)\", \"**Work-Life Balance** (e.g., balancing personal and professional life, flexible hours)\", \"**Creativity** (e.g., having the freedom to innovate, engaging in creative problem-solving)\", \"**Job Stability & Financial Security** (e.g., long-term stability, financial reliability)\", \"**Helping Others & Making an Impact** (e.g., contributing to a cause, supporting colleagues or clients)\", \"**Accomplishment & Recognition** (e.g., reaching significant milestones, excelling in work, receiving awards)\", \"**Personal Growth & Challenge** (e.g., learning new skills, overcoming difficult challenges, pushing personal and professional limits)\"], description: \"(Most important to you on top, least important on the bottom)\" },\n    \"3b\": { uuid: \"33333333-3333-3333-3333-333333333332\", question: \"How important is it that your employer's values align with yours?\", type: \"multiple_choice\", options: [\"Not\", \"Somewhat\", \"Very\", \"Essential\"], description: \"\" },\n    \"3c\": { uuid: \"33333333-3333-3333-3333-333333333333\", question: \"How important is work-life balance to you?\", type: \"multiple_choice\", options: [\"Not\", \"Somewhat\", \"Very\", \"Essential\"], description: \"\" },\n    \"3d\": { uuid: \"33333333-3333-3333-3333-333333333334\", question: \"What kind of schedule works best for you?\", type: \"multiple_choice\", options: [\"Standard 9-to-5 schedule\", \"Flexible hours\", \"Project-based deadlines\", \"Part-time work\"], description: \"\" },\n    \"3e\": { uuid: \"33333333-3333-3333-3333-333333333335\", question: \"How important is salary to you in relation to other job factors?\", type: \"multiple_choice\", options: [\"Very important: salary is a primary factor\", \"Moderately important: I value salary but also consider other factors\", \"Less important: I prioritize factors like job satisfaction and growth\"], description: \"\" },\n    \"3f\": { uuid: \"33333333-3333-3333-3333-333333333336\", question: \"What is your overall desired compensation range for a new position?\", type: \"multiple_choice\", options: [\"Under 50,000\", \"50,000\\u201375,000\", \"75,000\\u2013100,000\", \"100,000\\u2013150,000\", \"150,000\\u2013250,000\", \"250,000-500,000\", \"500,000-1,000,000\"], description: \"Gross base salary + bonus\\n\\u2022 For full time (1 FTE)\\n\\u2022 No equity grants\\n\\u2022 In your own currency\" },\n    \"3g\": { uuid: \"33333333-3333-3333-3333-333333333337\", question: \"What's most important to you in terms of compensation?\", type: \"multiple_choice\", options: [\"High salary\", \"Comprehensive benefits\", \"Performance-based rewards\", \"Equity or ownership opportunities\", \"Work-life balance perks\"], description: \"\" },\n    \"3h\": { uuid: \"33333333-3333-3333-3333-333333333338\", question: \"What aspects of a new career would you like to **avoid**?\", type: \"multiple_choice\", options: [\"**High-pressure or fast-paced environments** \\n\\n(e.g., strict deadlines, constant urgency, unpredictable workloads)\", \"**Frequent decision-making responsibilities** \\n(e.g., autonomy in critical decisions, strategic planning, high accountability)\", \"**Leadership or management duties** (e.g., overseeing teams, setting vision, managing direct reports)\", \"**Limited learning or growth opportunities** (e.g., repetitive tasks, no clear professional development path)\", \"**Frequent teamwork and collaboration** (e.g., working closely with others daily, team-based projects, group decision-making)\", \"**Solo or independent work** (e.g., minimal interaction with colleagues, self-directed projects, remote individual tasks)\", \"**Sales, negotiation, or client-facing roles** (e.g., pitching ideas, persuading clients, managing external relationships)\", \"**Data-heavy or analytical roles** (e.g., working extensively with spreadsheets, statistics, or research-heavy tasks)\", \"**Finance-related work** (e.g., financial analysis, accounting, budgeting, or investment-related roles)\"], description: \"(Select all that apply, this helps us exclude unsuitable roles from your recommendations.)\" },\n\n    // --- SECTION 4: Interests & Skills ---\n   \"4a\": { uuid: \"44444444-4444-4444-4444-444444444441\", question: \"Which of these areas interest you most?\", type: \"multiple_choice\", options: [\"Technology & Software\", \"AI, Data & Automation\", \"Business Strategy & Consulting\", \"Finance, Markets & Investment\", \"Marketing & Communications\", \"Human Resources & People Operations\", \"Product & Innovation\", \"Design & Creative\", \"Healthcare & Life Sciences\", \"Education & Learning\", \"Sustainability & Environment\", \"Law & Public Policy\", \"Engineering & Manufacturing\", \"Science & Research\", \"Social Impact & Nonprofit\", \"Entertainment & Sports\"], description: \"(Choose up to 3)\" },\n    \"4b\": { uuid: \"44444444-4444-4444-4444-444444444442\", question: \"Which 2 archetypes best define you?\", type: \"multiple_choice\", options: [\"**The Analyzer** (logical problem-solver, data-driven, thrives on digging into details)\", \"**The Visionary** (creative, thinks outside the box, envisions new possibilities)\", \"**The Leader** (motivates teams, sets direction, takes initiative)\", \"**The Adapter** (comfortable with change, flexible, quick to adjust)\", \"**The Communicator** (articulates ideas effectively, fosters understanding)\", \"**The Empath** (understands emotions, supports others, builds relationships)\", \"**The Organizer** (plans tasks, sets priorities, keeps structure)\", \"**The Implementer** (gets tasks done, focuses on execution and timely deliverables)\"], description: \"(Pick 2)\" },\n    \"4c\": { uuid: \"44444444-4444-4444-4444-444444444443\", question: \"What company culture resonates most with you?\", type: \"multiple_choice\", options: [\"Innovative and forward-thinking\", \"Traditional and established\", \"Collaborative and team-oriented\", \"Competitive and high-achieving\"], description: \"\" },\n    \"4d\": { uuid: \"44444444-4444-4444-4444-444444444444\", question: \"Are there any topics or fields you know far more about than most people?\", type: \"short_text\", options: [], description: \"This can be professional knowledge or a personal interest, anything where you know noticeably more than the average person. For example: aviation, employment law, nutrition, architecture, or financial markets.Multiple entries allowed.\" },\n    \"4e\": { uuid: \"44444444-4444-4444-4444-444444444445\", question: \"How familiar are you with generative AI technologies (e.g. ChatGPT, CoPilot, AI workflows, etc)?\", type: \"multiple_choice\", options: [\"Not familiar at all\", \"Somewhat familiar. I have a basic understanding\", \"Moderately familiar. I have used AI tools occasionally\", \"Very familiar. I frequently use AI tools\", \"Extremely familiar. I work with AI technologies professionally\"], description: \"\" },\n    \"4f\": { uuid: \"44444444-4444-4444-4444-444444444446\", question: \"If you had the opportunity to lead a workshop or seminar within your company, which topic(s) would you choose that you are enthusiastic about and feel confident discussing?\", type: \"multiple_choice\", options: [\"**Data Analysis and Business Intelligence** (e.g., leveraging data for strategic decisions, advanced analytics)\", \"**Project Management and Leadership** (e.g., effective team leadership, managing large-scale projects)\", \"**Marketing Strategies and Brand Development** (e.g., digital marketing trends, building a strong brand presence)\", \"**Artificial Intelligence and Automation** (e.g., implementing AI solutions, the future of automation in business)\", \"**Sustainability and Corporate Social Responsibility** (e.g., sustainable business practices, CSR initiatives)\", \"**Innovation and Product Development** (e.g., fostering a culture of innovation, developing new products)\", \"**Financial Planning and Investment Strategies** (e.g., budgeting for growth, investment opportunities)\", \"**People Management and Recruitment** (e.g., employee engagement and happiness, talent acquisition strategies)\", \"**Technology Integration and IT Infrastructure** (e.g., upgrading IT systems, coding, integrating new technologies)\"], description: \"Select up to 2. Use other if your passionate topic is not listed\" },\n    \"4g\": { uuid: \"44444444-4444-4444-4444-444444444447\", question: \"When people come to you for help or advice, what's it usually about?\", type: \"long_text\", options: [], description: \"What friends or colleagues naturally turn to you for, the kind of help or advice people seek from you.\" },\n    \"4h\": { uuid: \"44444444-4444-4444-4444-444444444448\", question: \"Name your dream job(s)! Regardless of any constraining factors.\", type: \"short_text\", options: [], description: \"Don't worry about personal situation, salary, skills or other practical things: What one or two jobs would you absolutely LOVE to do.\\n(e.g. Sports commentator, Actor, Own a business that sells ..., Sailing instructor, Gardener, Writer, etc.). Max 3.\" },\n\n    // --- SECTION 5: Team Dynamics & Leadership ---\n    \"5a\": { uuid: \"55555555-5555-5555-5555-555555555551\", question: \"In a team, you tend to:\", type: \"multiple_choice\", options: [\"Take charge and guide the direction of the group.\", \"Ensure execution by keeping tasks organized and on track.\", \"Offer ideas and actively engage in discussions.\", \"Step back to analyze before contributing.\", \"Work independently but provide support when needed.\"], description: \"\" },\n    \"5b\": { uuid: \"55555555-5555-5555-5555-555555555552\", question: \"What motivates you most in a team environment?\", type: \"multiple_choice\", options: [\"Achieving common goals\", \"Recognition of individual contributions\", \"Learning from others\", \"Building relationships\"], description: \"\" },\n    \"5c\": { uuid: \"55555555-5555-5555-5555-555555555553\", question: \"What is your preferred team size?\", type: \"multiple_choice\", options: [\"Small (2-5 people)\", \"Medium (6-10 people)\", \"Large (11+ people)\", \"No preference\"], description: \"\" },\n    \"5d\": { uuid: \"55555555-5555-5555-5555-555555555554\", question: \"When there are disagreements about work tasks within your team (of peers), you typically:\", type: \"multiple_choice\", options: [\"Address them directly to find a solution\", \"Seek a compromise to maintain harmony\", \"Defer to others to avoid conflict\"], description: \"\" },\n    \"5e\": { uuid: \"55555555-5555-5555-5555-555555555555\", question: \"What challenges have you faced when working in teams?\", type: \"multiple_choice\", options: [\"Difficulty communicating ideas\", \"Challenges with delegation\", \"Conflict resolution\", \"Trusting team members to complete tasks\", \"Feeling overshadowed by others\", \"Managing different work styles\", \"Lack of clear leadership\", \"Disagreements over team goals\", \"Balancing individual and team responsibilities\", \"Difficulty giving or receiving feedback\"], description: \"(Select all that apply)\" },\n    \"5f\": { uuid: \"55555555-5555-5555-5555-555555555556\", question: \"How do you approach deadlines and time management?\", type: \"multiple_choice\", options: [\"**Steady Planner** (I plan well ahead and work consistently to avoid last-minute pressure)\", \"**Deadline-Aware** (I start early but my pace picks up significantly as deadlines approach)\", \"**Pressure-Dependent** (I need the urgency of approaching deadlines to focus effectively)\", \"**Last-Minute Sprinter** (I do my best work in intense bursts right before deadlines)\"], description: \"Think about how you actually work, not how you wish you worked.\" },\n    \"5g\": { uuid: \"55555555-5555-5555-5555-555555555557\", question: \"Which leadership style do you most prefer working under?\", type: \"multiple_choice\", options: [\"Delegating autonomy and trusting me to figure things out\", \"Coaching style where I focuss on personal/professional growth\", \"Task-oriented style with clear targets and strict follow-up\"], description: \"(select up to 2)\" },\n    \"5h\": { uuid: \"55555555-5555-5555-5555-555555555558\", question: \"When you disagree with a manager or senior leader's direction, you typically:\", type: \"multiple_choice\", options: [\"Voice concerns openly and try to discuss the issue\", \"Approach them privately to share your point of view\", \"Let it slide unless it significantly impacts you or your team\"], description: \"\" },\n\n    // --- SECTION 6: Emotional Intelligence ---\n    \"6a\": { uuid: \"66666666-6666-6666-6666-666666666661\", question: \"How do you handle feedback or constructive criticism?\", type: \"multiple_choice\", options: [\"I actively seek it and use it to improve\", \"I find it challenging and may struggle to apply it\"], description: \"What applies to you most\" },\n    \"6b\": { uuid: \"66666666-6666-6666-6666-666666666662\", question: \"When providing constructive criticism to others, you usually:\", type: \"multiple_choice\", options: [\"Try to be encouraging but are careful not to offend.\", \"Are straightforward and focus on the facts.\", \"Struggle with giving feedback and often avoid it.\"], description: \"\" },\n    \"6c\": { uuid: \"66666666-6666-6666-6666-666666666663\", question: \"When a colleague is experiencing personal stress or emotional difficulties, you typically:\", type: \"multiple_choice\", options: [\"Offer support and listen empathetically\", \"Provide practical help or solutions\", \"Respect their privacy and give them space\", \"Defer them to someone who you think can assist better\"], description: \"\" },\n    \"6d\": { uuid: \"66666666-6666-6666-6666-666666666664\", question: \"When involved in a conflict at work, how do you manage your emotions?\", type: \"multiple_choice\", options: [\"Remain calm and control your emotions effectively\", \"Find it challenging to manage your emotions\", \"Express your emotions openly, regardless of the setting\"], description: \"\" },\n    \"6e\": { uuid: \"66666666-6666-6666-6666-666666666665\", question: \"What strategies do you use to manage your emotions under stress?\", type: \"multiple_choice\", options: [\"Practice mindfulness or stress-reduction techniques\", \"Talk to colleagues or friends for support\", \"Internalize stress without specific coping strategies\"], description: \"\" },\n    \"6f\": { uuid: \"66666666-6666-6666-6666-666666666666\", question: \"How do you prefer to interact with colleagues?\", type: \"multiple_choice\", options: [\"Actively engage in social interactions, both during and outside work.\", \"Keep it mostly work-focused but join social events occasionally.\", \"Stick to professional interactions and rarely join social gathering outside work hours.\"], description: \"\" },\n    \"6g\": { uuid: \"66666666-6666-6666-6666-666666666667\", question: \"Which aspects of emotional intelligence do you find most challenging?\", type: \"multiple_choice\", options: [\"Managing stress effectively\", \"Recognizing and controlling own emotions\", \"Empathizing with others\", \"Handling conflict constructively\", \"Adapting to change\", \"Building and maintaining relationships\", \"Providing constructive feedback\", \"Receiving criticism without defensiveness\", \"Remaining calm under pressure\", \"Motivating myself and others\"], description: \"(Select up to 3)\" },\n\n    // --- SECTION 7: Career Goals & Development ---\n    \"7a\": { uuid: \"77777777-7777-7777-7777-777777777771\", question: \"What are your short-term career goals (next 1-2 years)?\", type: \"multiple_choice\", options: [\"Develop new skills or certifications\", \"Gain experience in a different role or industry\", \"Expand my professional network\", \"Achieve a promotion or salary increase\", \"Improve work-life balance\", \"Explore entrepreneurial opportunities\"], description: \"(Choose up to 2 or choose 'other')\" },\n    \"7b\": { uuid: \"77777777-7777-7777-7777-777777777772\", question: \"What are your long-term career goals (next 5-10 years)?\", type: \"multiple_choice\", options: [\"Reach a senior leadership or executive position\", \"Establish expertise and recognition in my field\", \"Own or run a successful business\", \"Achieve financial independence\", \"Make a significant contribution to society or a cause\", \"Continuously learn and adapt to new challenges\", \"Achieve complete autonomy and freedom in my career\"], description: \"(Choose up to 2 or choose 'other')\" },\n    \"7c\": { uuid: \"77777777-7777-7777-7777-777777777773\", question: \"Which barriers do you face right now -or expect to face\\u2014 in achieving your career goals?\", type: \"multiple_choice\", options: [\"Limited growth opportunities in my current organization/field\", \"Work-life balance constraints or family commitments\", \"Burnout or lack of engagement\", \"Gaps in skills or professional development\", \"Misalignment with personal values or interests\", \"Uncertainty about my next career step\", \"Financial limitations or concerns\", \"External factors (e.g., economic conditions, industry changes)\", \"Personal doubts or lack of confidence\"], description: \"(Choose up to 2)\" },\n    \"7d\": { uuid: \"77777777-7777-7777-7777-777777777774\", question: \"Are you interested in acquiring new skills outside your current expertise?\", type: \"multiple_choice\", options: [\"Yes, always seeking new skills\", \"Prefer to focus on existing skills\", \"Yes, if relevant to my career\"], description: \"\" },\n    \"7e\": { uuid: \"77777777-7777-7777-7777-777777777775\", question: \"Lastly, which areas or competencies do you enjoy and would you like to develop (further) as part of a next/new job?\", type: \"multiple_choice\", options: [\"Leadership & Team Management\", \"People & Culture (HR)\", \"Communication & Public Speaking\", \"AI & Automation\", \"Technical & Digital Skills\", \"Data Analysis & Problem-Solving\", \"Creative Thinking & Innovation\", \"Project & Product Management\", \"Strategic Planning & Big-Picture Thinking\", \"Entrepreneurship / Intrapreneurship\", \"Sales, Relationship-Building & Networking\", \"Operations & Process Optimization\", \"Marketing & Brand Strategy\", \"Customer Experience & Service\", \"Financial & Business Acumen\", \"Change Management & Resilience\"], description: \"(Choose up to 3 areas you are **personally motivated** to develop, regardless of their current (perceived) proficiency level)\" },\n  \"7f\": { uuid: \"77777777-7777-7777-7777-777777777776\", question: \"How interested are you in starting your own business?\", type: \"multiple_choice\", options: [\"Not for me\", \"Curious about it, but not actively planning\", \"Interested and seriously considering it\", \"I already run, or have run, my own business\"], description: \"There are no wrong answers; this just helps us judge whether self-employed paths belong in your recommendations. Choose one, or add your own.\" }\n\n  };\n\n  // --- ROBUST DATA PROCESSING LOGIC ---\n  const inputItem = $input.first().json;\n  const rawResponses = inputItem.survey_responses?.responses || inputItem.body?.survey_responses?.responses || {};\n  const nonNeg = (rawResponses && rawResponses.__non_negotiables) || {};\n\n  // Surface report_id + user_id so downstream nodes can reference them\n  // via $('this_node').first().json.report_id without depending on rep_id1.\n  const reportId = inputItem.report_id || inputItem.body?.report_id || null;\n  const userId = inputItem.user_id || inputItem.body?.user_id || null;\n\n  const formattedQuestions = [];\n  let answeredCount = 0;\n\n  for (const [id, config] of Object.entries(SURVEY_SCHEMA)) {\n      let answer = rawResponses[config.uuid];\n\n      const result = {\n          questionId: id,\n          question: config.question,\n          type: config.type,\n          description: config.description || \"\",\n          chosen: [],\n          notChosen: [],\n          hasAnswer: false\n      };\n\n      if (answer !== undefined && answer !== \"\" && answer !== null) {\n          result.hasAnswer = true;\n          answeredCount++;\n\n          if (config.type === \"skills_achievements\") {\n              result.chosen = {\n                  topSkills: answer.topSkills || [],\n                  certifications: answer.certifications || [],\n                  achievements: answer.achievements || \"\"\n              };\n          } \n          else if ([\"career_history\", \"career_happiness\"].includes(config.type)) {\n              result.chosen = Array.isArray(answer) ? answer : [answer];\n          }\n          else {\n              let answerArray = Array.isArray(answer) ? answer : [answer];\n              const cleanAnswers = answerArray.map(a => {\n                  return typeof a === 'string' ? a.replace(/\\*\\*/g, '').trim() : a;\n              });\n\n              result.chosen = cleanAnswers;\n\n              if (config.options && config.options.length > 0) {\n                  result.notChosen = config.options.filter(opt => {\n                      const optClean = opt.replace(/\\*\\*/g, '').trim();\n                      return !cleanAnswers.some(userAns => String(userAns).includes(optClean));\n                  });\n              }\n          }\n      } else {\n          result.chosen = []; \n          result.notChosen = config.options || [];\n      }\n\n      if (nonNeg[config.uuid] === true && Array.isArray(result.chosen) && result.chosen.every(x => typeof x === 'string')) {\n          result.nonNegotiable = true;\n          result.chosen = result.chosen.map(a => a + ' [NON-NEGOTIABLE]');\n      }\n      formattedQuestions.push(result);\n  }\n\n  return [{\n      report_id: reportId,\n      user_id: userId,\n      preferred_language: inputItem.preferred_language || inputItem.body?.preferred_language || 'en',\n      summary: {\n          totalQuestions: Object.keys(SURVEY_SCHEMA).length,\n          answeredQuestions: answeredCount\n      },\n      questions: formattedQuestions\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,624],"id":"7c58dc3a-b0b7-41eb-8854-ac52ade77019","name":"Process Survey Data1"},{"parameters":{"assignments":{"assignments":[{"id":"7aa95d3a-1db7-4d83-a689-72a703d056a5","name":"initi summ prompt","value":"=# ROLE\nYou are a Lead Data Architect specializing in candidate profile normalization. Your goal is to transform structured JSON survey data into a high-fidelity, judgment-free \"Source of Truth\" Fact Sheet.\n\n# TASK\nExtract every specific detail from the input JSON. Preserve verbatim \"Other\" entries, specific role details, and personal comments. Do not interpret or coach; your job is to ensure the downstream Career Coach has 100% of the facts in a readable format.\n\n# OUTPUT FORMAT\n\n### **1. Core Identity & Current Status**\n- **Name:** [1a]\n- **Pronouns:** [1b]\n- **Age:** [1c]\n- **Region:** [1d]\n- **Primary Objectives/Goals:** [1e]\n- **Current Career Situation:** [1i]\n- **Total Years of Experience:** [1h]\n\n### **2. Professional History & Sentiment Log**\n- **Detailed Career History:** [Extract all roles from 1j. Include Title, Company, Size, Culture, Sector, and Dates]\n- **Sentiment Log:** [Extract Happiness scores and verbatim Reasons from 1k for each corresponding role]\n- **Skills & Technical Footprint:** \n  - **Top Skills:** [Extract from topSkills in 1l]\n  - **Certifications:** [Extract from certifications in 1l]\n  - **Languages and proficiency level:** [Extract from languages in 1l]\n  - **Notable Achievements:** [Extract verbatim from achievements in 1l]\n  - **Specialized Knowledge:** [4d]\n  - **AI Familiarity:** [4e]\n\n### **3. Education & Personal Context**\n- **Education Level:** [1f]\n- **Field of Study:** [1g]\n- **Personal Interests/Hobbies:** [1m]\n- **Additional Context/Constraints:** [1n - Include burnout notes, family/caregiving commitments, household financial situation or need for a stable income, health or accessibility considerations, and any other constraints or noteworthy remarks]\n- **Dream Jobs:** [4h]\n\n### **4. Values, Compensation & Work Preferences**\n- **Ranked Career Values (High to Low):** [3a]\n- **Cultural & WLB Preferences:** [Value Alignment (3b), WLB Importance (3c), Preferred Culture (4c)]\n- **Logistics & Pay:** [Schedule (3d), Salary Importance (3e), Bracket (3f), Pay Priority (3g)]\n- **Hard Requirements:** If any [3d] or [3f] value carries a **[NON-NEGOTIABLE]** marker, reproduce it verbatim (the candidate flagged it as a hard requirement).\n\n### **5. Behavioral & Operational Profile**\n- **Energy & Social:** [Social energy (2a), Colleague interaction (6f)]\n- **Cognitive Style:** [Decision focus (2b), Decision speed (2c), Communication style (2d), Change response (2e)]\n- **Operational Style:** [Environment structure (2g), Risk tolerance (2h), Stress response (2i), Time management (5f)]\n- **Hindrances/Growth Areas:** [Self-identified barriers (2j)]\n\n### **6. Team Dynamics & Emotional Intelligence**\n- **Collaboration Style:** [Team role (5a), Motivator (5b), Preferred size (5c), Conflict style (5d & 2f)]\n- **Management Interaction:** [Preferred Leadership (5g), Response to Disagreement (5h)]\n- **EI & Feedback:** [Handling Feedback (6a), Providing Feedback (6b), Support style (6c), Emotional regulation (6d), Stress coping (6e), EI Challenges (6g)]\n\n### **7. Future Trajectory & Constraints**\n- **Goals:** [Short-term (7a), Long-term (7b)]\n- **Developmental Drive:** [Barriers (7c), Interest in new skills (7d), Areas to develop (7e), Workshop topics (4f)]\n- **Entrepreneurial appetite:** [7f]\n- **Areas of Interest & Archetypes:** [Interests (4a), Archetypes (4b)]\n- **Avoidance List (Hard Constraints):** [Avoided work aspects (3h), Avoided industries (4g)]\n\n# CRITICAL INSTRUCTIONS\n- **Reference IDs:** Keep the Question ID (e.g., 1a, 7e) in brackets next to each fact\n- **Verbatim Content:** If a user wrote text, do not summarize it. Use the exact words\n- **Completeness:** If data exists for a field (like Achievements in 1l), extract it fully\n- **Judgment-Free:** Do not use words like \"appears to be\" or \"struggles with.\" Simply state: \"Candidate reports [X]\"\n\n\n# INPUT:\n\n{{ JSON.stringify($json.questions, null, 2) }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,624],"id":"308eb890-9f2b-4799-8e13-3870a7cbf9cb","name":"prompt_init_summary1"},{"parameters":{"promptType":"define","text":"={{ $json[\"initi summ prompt\"] }}","batching":{}},"id":"01564a9f-d77e-402f-95be-11493989861e","name":"Initial_summary1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1504,624]},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1504,784],"id":"3147d3a2-b2d7-4cfc-a758-f8e430d08440","name":"3F","credentials":{"googlePalmApi":{"id":"Q653Teuy9nP6VLoE","name":"Cairnly Gstudio Key"}}},{"parameters":{"assignments":{"assignments":[{"id":"34c766ad-413a-463d-8f0b-50a646be4f67","name":"instructions_perso_profile","value":"=# ABSOLUTE OUTPUT LANGUAGE — HIGHEST PRIORITY (overrides everything below)\nWrite EVERY word of your output — every heading and every sentence — in {{ ($('Process Survey Data1').first().json.preferred_language === 'nl') ? 'DUTCH (informal je/jij/jouw, never \"u\")' : 'ENGLISH' }}. The candidate's name, nationality, employers, or any non-target-language words in their data must NEVER change your output language. If you catch yourself writing a heading or sentence in another language, rewrite it in the target language before continuing.\n\n# MANDATORY: SECOND PERSON VOICE\nThe input data below refers to the candidate in third person (\"the candidate\", \"he/his\").\nYou MUST write ALL output in second person: \"you\" and \"your\" throughout.\nUse their first name occasionally for warmth, but NEVER write about them in third person.\nThis applies to every sentence in every section. No exceptions.\n\n# INPUT DATA\n\n**Fact sheet** (structured summary of the candidate's survey):\n\n{{ $json.content }}\n\n**Raw survey answers** (verbatim source of truth; `chosen` = their answers, `notChosen` = options they saw but did not pick, which can be meaningful for rankings and multi-selects):\n\n{{ JSON.stringify($('Process Survey Data1').first().json.questions) }}\n\n# Role\n\nYou are a world-class career coach. Your specialty is reading between the lines: seeing patterns in a candidate's data that they cannot see themselves.\n\n# THE PRIME DIRECTIVE: INSIGHT, NOT SUMMARY\n\nThe candidate just spent 30 minutes filling in this survey. They know what they answered. Anything they could find by rereading their own answers has ZERO value to them, and reading their own words repeated back is the #1 complaint about reports like this one.\n\nYour entire value lies in what they CANNOT see themselves:\n- connections between answers from different parts of the survey\n- tensions between stated priorities and their actual history\n- patterns across their roles, happiness scores, and self-descriptions\n- what their combination of traits implies that no single answer says\n\n**The admission test (apply to every paragraph you write):**\n1. Could the candidate have written this sentence themselves from memory of their answers? Then cut it, or compress it into a short supporting clause.\n2. Does it connect at least two different data points, or contrast a claim with evidence? Then it can stay.\n3. Does it serve their stated goal or a pain point they named (a low happiness score, a burnout note, a barrier)? If not, cut it.\n\n**Evidence style:** never open a paragraph with what they selected, ranked, or wrote. Lead with the interpretation; attach the evidence in a subordinate clause.\n- BAD (recitation-first): \"You ranked autonomy at the top of your values, followed by work-life balance and creativity.\"\n- GOOD (insight-first): \"Every high point in your career had one thing in common, and it wasn't the title: it was how much room you were given to run things your way. Your values ranking says the same thing your history does.\"\n\n# Required Sections\n\nWrite these four sections, with these exact headers and bold subheaders (the platform parses them):\n\n## Understanding Your Approach\n\n**Personality and Interaction Style**\n\nName the dominant operating pattern their answers reveal in how they work and interact, including any friction between traits (e.g. direct in one mode, accommodating in another). Not a tour of their answers.\n\n**Impact in Different Environments**\n\nWhere that pattern pays off and where it costs them, grounded in their actual history and happiness data.\n\n**Key Insight**\n\n1-2 realizations they likely have not seen themselves: connections or patterns that explain why they experience what they do.\n\n## Strengths and How to Grow Them\n\n**Identifying Your Core Strengths**\n\nThe underlying capability that connects their achievements and history: the thing they would bring anywhere. Not a list of their skills; they wrote that list.\n\n**Leveraging Strengths in Your Career**\n\nWhat this capability makes possible, in light of their stated goal.\n\n**Key Insight**\n\nThe competitive advantage or positioning they have not named themselves.\n\n## Areas for Development\n\n**Understanding Potential Growth Areas**\n\nThe pattern connecting the growth areas they flagged, not the list itself.\n\n**Implications for Your Growth**\n\nThe concrete cost of this pattern for the change they want to make.\n\n**Key Insight**\n\nA tentative hypothesis about why these challenges exist or how they connect, framed as something to confirm or reject (\"one read is...\", \"this might stem from...\"), never as a diagnosis. Only build on tendencies their own data shows.\n\n[Conditional: if, and only if, this candidate's data shows AI-related concern or interest, you may note in one or two sentences that human-centric skills like empathy, judgment, and communication grow in value as AI spreads. Otherwise skip this entirely. Never write a generic paragraph about the AI era.]\n\n## Aligning with Your Values\n\n**Identifying Your Core Values**\n\nWhat the combination and ORDER of their values reveals, especially anything surprisingly high or low given their history. Do not walk through the ranking; they wrote it.\n\n**Values in Career Decisions**\n\nDecision rules: what any next role must contain, and what it must avoid, for this specific person.\n\n**Key Insight**\n\nA tension between stated priorities, or between their values and their current path, and what it means for their direction.\n\n# LENGTH: HARD RULES\n\n- 120 to 220 words per section. NEVER exceed 250 words in any section.\n- Density over volume. If you only have two strong observations for a section, write two.\n- Cutting a weak paragraph is always better than padding a section.\n\n# BANNED MOVES\n\nThese formulas appear in every AI-generated career report. Do not use them unless this candidate's data overwhelmingly forces it, and never more than one of them in the whole report:\n\n- The sentence structure \"Your real strength isn't X, it's Y\"\n- Declaring that two flagged weaknesses \"are actually the same problem\"\n- A generic paragraph about AI changing the world of work\n\nAnd one absolute ban, no exceptions: NEVER conclude that the candidate does not need a new path, a new field, or a career change. Cairnly serves people seeking change. If the data suggests their pain is about conditions rather than field, express it as what their next role must contain or avoid, never as \"stay where you are\" or \"you don't need a different field.\"\n\nVary your sentence structures across the report. No two Key Insights may share the same rhetorical shape.\n\n**Goal Interpretation Lens (Cairnly serves change-seekers):**\nCairnly is built for candidates exploring change, clarity, or new direction, not advancement within an existing track. When integrating stated goals (1e, 7a, 7b), reinterpret advancement-flavored options as underlying needs:\n\n- 7a \"Achieve a promotion or salary increase\" → growth/recognition/financial need (not a path to confirm)\n- 7b \"Reach a senior leadership or executive position\" → desire for authority and impact (achievable through advisory, board, fractional, expert IC, or operational paths in new contexts)\n- 7b \"Establish expertise and recognition in my field\" → depth-seeking (read \"field\" loosely)\n- \"Other\" responses about advancement → treat as needs, not directions\n\nIf stated goals contradict happiness data, dream job themes, burnout indicators, or the candidate's stated purpose in 1e, surface this as a Key Insight in Aligning with Your Values. Do not take advancement-flavored goals at face value when other signals point to a need for change.\n\n# Content Requirements\n\n- PERSONALITY ONLY. Do not discuss career feasibility, specific job recommendations, or dreamjob analysis; those come in later phases.\n- Ground every trait or tendency you mention in this candidate's actual data. Do not infer or import tendencies that are not supported (for example, do not assume perfectionism from procrastination).\n- Integrate the candidate's primary goal naturally where relevant.\n- DO NOT MENTION QUESTION LABELS eg. '7b' in your narratives! Never!\n\n# Writing Style\n\n- Active voice, short punchy sentences, business casual tone.\n- SECOND PERSON throughout: \"you\" and \"your\", with their first name occasionally for warmth.\n- Small paragraphs (2-4 sentences max).\n- Do not use the em-dash in your narrative.\n- Refer to the avoid words list at the bottom.\n\n# Formatting Requirements\n\nOutput exactly this skeleton, in this order, filling in the prose. Section headers as `##` lines exactly as written, subheaders in `**bold**` exactly as written, sections separated by `---` on its own line:\n\n## Understanding Your Approach\n\n**Personality and Interaction Style**\n\n**Impact in Different Environments**\n\n**Key Insight**\n\n---\n\n## Strengths and How to Grow Them\n\n**Identifying Your Core Strengths**\n\n**Leveraging Strengths in Your Career**\n\n**Key Insight**\n\n---\n\n## Areas for Development\n\n**Understanding Potential Growth Areas**\n\n**Implications for Your Growth**\n\n**Key Insight**\n\n---\n\n## Aligning with Your Values\n\n**Identifying Your Core Values**\n\n**Values in Career Decisions**\n\n**Key Insight**\n\n# Personality Scoring (Internal — DO NOT SHOW IN PROSE)\n\nIn ADDITION to the four narrative sections above, append a structured score block at the very end of your response, after \"Aligning with Your Values\" and its Key Insight.\n\nThis block is for internal database use only. It powers a Personality Radar visualization in the candidate's dashboard. It MUST NOT appear anywhere in the prose. Do NOT mention these scores in the narrative. Do NOT reference numbers, percentages, or ratings in the report. Do NOT explain the dimensions to the candidate.\n\nScore the candidate on five interpretively rich dimensions, each on a 1-10 integer scale, based on your full reading of their data (survey answers, sentiment log, narrative inputs, writing samples, history). These are AI judgments synthesized from the whole picture, NOT echoes of any single multiple-choice answer.\n\n**Dimensions:**\n\n- **strategic_depth** (1-10): Long-arc systems thinking and pattern recognition versus immediate, tactical, in-the-moment focus. High = thinks in years and systems, sees second-order effects, frames problems structurally. Low = strong present-moment focus, executes well on what's in front of them, less natural pull toward systemic framing.\n- **execution_bias** (1-10): Ships fast and iterates versus deliberates carefully before committing. High = strong action orientation, comfortable shipping imperfect work, learns by doing. Low = strong reflection orientation, prefers to think it through, ships when ready.\n- **people_intuition** (1-10): Reads social dynamics, organizational politics, and interpersonal subtext accurately versus misses these signals. High = naturally tracks group dynamics, anticipates interpersonal friction, reads the room. Low = primarily task-focused, surprised by political dynamics, prefers explicit communication.\n- **ambiguity_tolerance** (1-10): Thrives in unclear, evolving, undefined situations versus needs structure and clarity to perform at their best. High = energized by ambiguity, comfortable making decisions with incomplete information. Low = strong need for defined parameters, slows down or stresses without structure.\n- **recognition_pull** (1-10): Driven by external visibility, status, and acknowledgement versus internal satisfaction and the work itself. High = strongly motivated by being seen, public credit, status markers. Low = strongly motivated by internal craft satisfaction, less affected by external acknowledgement.\n\n**Calibration guidance:**\n\n- Use the full 1-10 range. Most candidates will land between 4 and 8 on most dimensions; reserve 9-10 and 1-2 for genuinely outlier signals supported by multiple data points.\n- Score on what the data shows, not on what the candidate self-reports they ARE. Someone who self-reports \"Decisive\" but whose narratives reveal thorough deliberation should NOT automatically get a 10 on execution_bias.\n- The dimensions are independent. A candidate can be high on both strategic_depth and execution_bias.\n\n**Output format (REQUIRED, exact format):**\n\nAfter the final \"Aligning with Your Values\" section and one blank line, output the block exactly like this on a single line:\n\n`<personality_scores>{\"strategic_depth\": N, \"execution_bias\": N, \"people_intuition\": N, \"ambiguity_tolerance\": N, \"recognition_pull\": N}</personality_scores>`\n\nReplace each N with an integer from 1 to 10. No other text inside the tag. No commentary, no explanation, no formatting. The platform parses this tag, strips it from the user-facing content, and saves the JSON to the database.\n\n---\n\n# CRITICAL: How to use the examples below\n\nThe four snippets below come from FOUR different fictional candidates. They demonstrate voice, density, and insight-first evidence style ONLY. Do not reuse their content, their conclusions, or their sentence patterns for a real candidate. Reproduce the FORM, never the CONTENT.\n\n**Snippet 1 (insight-first, evidence in a clause), fictional operations manager:**\n\n\"You describe yourself as risk-averse, but your history disagrees: three voluntary moves into companies less than two years old. What you avoid isn't risk, it's risk you don't control. That distinction matters, because it rules out some 'safe' paths that would quietly make you miserable, and opens some 'risky' ones that wouldn't.\"\n\n**Snippet 2 (pattern across happiness data), fictional teacher:**\n\n\"Your happiness scores don't track with workload; your busiest year was also your highest score. They track with whether you could see your effect on individual students. Scale, not effort, is your burnout variable. Any role that puts a dashboard between you and the people you help will drain you no matter how light the hours are.\"\n\n**Snippet 3 (development hypothesis), fictional analyst:**\n\n\"You flagged public speaking and self-promotion as growth areas, yet you describe yourself as confident one-on-one. One read: the skill is already there, and what's missing is a setting where visibility feels like sharing information rather than performing. That's worth testing before you invest in presentation training you may not need.\"\n\n**Snippet 4 (values tension), fictional nurse:**\n\n\"Helping others tops your values, but your lowest happiness score came from your most hands-on caregiving role. The two aren't contradictory: your answers suggest you want to help at the level of systems, not individual moments of care. That reframe changes which 'meaningful' jobs are actually meaningful for you.\"\n\n___\n\n# Avoid Words list:\n\n## Adjectives and Modifiers to Avoid:\n- valuable\n- significant (when describing abilities/advantages)\n- interesting\n- natural/naturally (when describing talents)\n- impressive\n- exceptional\n- remarkable\n- extraordinary\n- outstanding\n- unique\n- rare\n- perfect/perfectly\n- ideal/ideally\n- admirable\n- clear/clearly (as emphasis)\n- obvious/obviously (as emphasis)\n\n## Flattery Phrases to Avoid:\n- \"you have a valuable ability to...\"\n- \"gives you a significant advantage\"\n- \"positions you perfectly for...\"\n- \"you possess...\"\n- \"natural talent for...\"\n- \"you bring a wealth of...\"\n- \"your impressive track record...\"\n- \"this is particularly valuable because...\"\n- \"what makes this especially powerful...\"\n\n## Corporate/Generic Business Speak to Avoid:\n- serves you well\n- positions you as\n- represents an opportunity\n- suggests an untapped opportunity\n- creates a significant advantage\n- gives you a real edge\n- particularly powerful\n- especially impactful\n- meaningful impact\n- drive results\n- move the needle\n- leverage (overuse)\n- synergy\n- dynamic\n- innovative (as adjective for person)\n- forward-thinking (for person)\n- cutting-edge (for person)\n\n## Unnecessary Qualifiers/Hedges to Avoid:\n- \"The fact that...\"\n- \"It's worth noting that...\"\n- \"What's interesting is...\"\n- \"The reality is that...\"\n- \"It's important to recognize...\"\n- \"One thing to consider...\"\n- \"What's particularly noteworthy...\"\n- \"An important aspect to highlight...\"\n\n## AI-Sounding Transition Phrases to Avoid:\n- \"Let's explore...\"\n- \"It's crucial to understand...\"\n- \"Building on this...\"\n- \"Taking this further...\"\n- \"Diving deeper...\"\n- \"This begs the question...\"\n- \"At the end of the day...\"\n- \"The bottom line is...\"\n\n## Words to Use Sparingly (Not Banned, But Watch Overuse):\n- visionary (use only if absolutely specific)\n- passionate\n- dedicated\n- driven (okay occasionally)\n- strategic (overused)\n- innovative (as descriptor)\n- transformative\n- impactful\n\n## Better Alternatives:\n\nInstead of \\u2192 Use:\n- \"serves you well\" \\u2192 \"works well\" / \"helps\" / \"fits\"\n- \"significant advantage\" \\u2192 \"advantage\" / \"edge\" / just state the benefit\n- \"positions you perfectly\" \\u2192 \"positions you well\" / \"fits well with\"\n- \"valuable ability\" \\u2192 just describe the ability\n- \"interesting pattern\" \\u2192 \"pattern\" / \"worth noting\"\n- \"particularly powerful\" \\u2192 \"especially useful\" / just state why it matters\n- \"represents an opportunity\" \\u2192 \"points to\" / \"suggests\"\n- \"leverage your strengths\" \\u2192 \"use your strengths\"\n\nThe Core Principle: \nIf you can remove the adjective/modifier and the sentence is still clear and meaningful, remove it. Let the specific observations carry the weight, not the evaluative language.\n\n- STAY BETWEEN 120 and 220 words per section. NEVER exceed 250.\n- Remember the second person perspective. NOT \"Jake is a\" BUT \"Jake, you are a\"\n- DO NOT REFERENCE QUESTION LABELS eg. '7b' in your narratives! Never!\n\n# OUTPUT LANGUAGE (CRITICAL — overrides the English headers above)\npreferred_language = {{ $('Process Survey Data1').first().json.preferred_language }}\nIf preferred_language is NOT 'nl', ignore this section and write in English exactly as instructed above.\n\nIf preferred_language IS 'nl', write your ENTIRE output in Dutch: informal je/jij/jouw (never 'u'),\nno em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English\n(Cairnly, outside-the-box, runner-up). Keep the meaning and structure identical to the English spec.\n\nWhen writing in Dutch you MUST use these EXACT Dutch section headers (##) and bold subheaders INSTEAD of\nthe English ones, so downstream parsing keeps working:\n## Understanding Your Approach  ->  ## Jouw aanpak begrijpen\n    **Personality and Interaction Style**  ->  **Persoonlijkheid en interactiestijl**\n    **Impact in Different Environments**  ->  **Impact in verschillende omgevingen**\n    **Key Insight**  ->  **Belangrijkste inzicht**\n## Strengths and How to Grow Them  ->  ## Sterke punten en hoe je ze ontwikkelt\n    **Identifying Your Core Strengths**  ->  **Je kernkwaliteiten in kaart**\n    **Leveraging Strengths in Your Career**  ->  **Je sterke punten benutten in je loopbaan**\n    **Key Insight**  ->  **Belangrijkste inzicht**\n## Areas for Development  ->  ## Ontwikkelpunten\n    **Understanding Potential Growth Areas**  ->  **Inzicht in je groeigebieden**\n    **Implications for Your Growth**  ->  **Wat dit betekent voor je groei**\n    **Key Insight**  ->  **Belangrijkste inzicht**\n## Aligning with Your Values  ->  ## Aansluiten bij je waarden\n    **Identifying Your Core Values**  ->  **Je kernwaarden in kaart**\n    **Values in Career Decisions**  ->  **Waarden in loopbaankeuzes**\n    **Key Insight**  ->  **Belangrijkste inzicht**\n\nKeep the <personality_scores>...</personality_scores> block EXACTLY as specified (English keys, structured\nJSON) regardless of language — the dashboard parses it.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,624],"id":"c61ad8f0-f68f-4bf0-9eb2-41ec589ed7fd","name":"prompt_perso_prof1"},{"parameters":{"promptType":"define","text":"={{ $json.instructions_perso_profile }}","batching":{}},"id":"749b16ca-6338-46d5-b1da-839b8c976ea3","name":"generate_personality_narrative1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2336,624]},{"parameters":{"jsCode":"// ---------------- CONFIG ----------------\nconst SUBHEADER_PATTERNS_ALL = {\n  en: {\n  approach: [\n    \"Personality and Interaction Style\",\n    \"Impact in Different Environments\",\n    \"Key Insight\"\n  ],\n  strengths: [\n    \"Identifying Your Core Strengths\",\n    \"Leveraging Strengths in Your Career\",\n    \"Key Insight\"\n  ],\n  development: [\n    \"Understanding Potential Growth Areas\",\n    \"Implications for Your Growth\",\n    \"Key Insight\"\n  ],\n  values: [\n    \"Identifying Your Core Values\",\n    \"Values in Career Decisions\",\n    \"Key Insight\"\n  ]\n},\n  nl: {\n  approach: [\n    \"Persoonlijkheid en interactiestijl\",\n    \"Impact in verschillende omgevingen\",\n    \"Belangrijkste inzicht\"\n  ],\n  strengths: [\n    \"Je kernkwaliteiten in kaart\",\n    \"Je sterke punten benutten in je loopbaan\",\n    \"Belangrijkste inzicht\"\n  ],\n  development: [\n    \"Inzicht in je groeigebieden\",\n    \"Wat dit betekent voor je groei\",\n    \"Belangrijkste inzicht\"\n  ],\n  values: [\n    \"Je kernwaarden in kaart\",\n    \"Waarden in loopbaankeuzes\",\n    \"Belangrijkste inzicht\"\n  ]\n}\n};\nconst __lang = ($('Process Survey Data1').first().json.preferred_language === 'nl') ? 'nl' : 'en';\nconst SUBHEADER_PATTERNS = SUBHEADER_PATTERNS_ALL[__lang];\n\n// ---------------- HELPERS ----------------\nfunction cleanMarkdown(text) {\n  return text\n    .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n    .replace(/__(.*?)__/g, '$1')\n    .replace(/\\*(.*?)\\*/g, '$1')\n    .trim();\n}\n\nfunction extractSections(content, sectionType) {\n  const patterns = SUBHEADER_PATTERNS[sectionType] || [];\n  if (patterns.length === 0) return [];\n\n  const regex = new RegExp(`(${patterns.join('|')}):?`, 'gi');\n  const parts = content.split(regex).filter(Boolean);\n  const sections = [];\n\n  for (let i = 0; i < parts.length; i++) {\n    const p = parts[i].trim();\n    if (patterns.some(ph => new RegExp(ph, 'i').test(p))) {\n      const subheader = p.replace(/:$/, '').trim();\n      const next = parts[i + 1] ? parts[i + 1].trim() : '';\n      sections.push({ subheader, content: next });\n      i++;\n    }\n  }\n  // Fallback: if no known subheaders matched (e.g. localized text the\n  // patterns don't cover), keep the whole section as one block instead of\n  // dropping it. Guarantees no section is ever lost to a pattern miss.\n  if (sections.length === 0) {\n    const whole = content.trim();\n    return whole ? [{ subheader: '', content: whole }] : [];\n  }\n  return sections;\n}\n\n// ---------------- SOURCE DATA ----------------\nconst narrativeData = $('generate_personality_narrative1').first().json;\nconst reportId = $('Process Survey Data1').first().json.report_id;\n\n// Get the init_summary content from Prep node (already cleaned HTML)\nconst initSummaryContent = $('Prep init_summary').first().json.content;\n\n// ============== Extract personality_scores tag ==============\n// The prompt appends a hidden <personality_scores>{...}</personality_scores>\n// tag at the very end of the narrative. Pull it out, parse the JSON, and\n// strip the tag from the text BEFORE we parse sections so the prose stays\n// clean. The scores get attached to the `approach` section row's metadata\n// column, where the dashboard's Personality Radar reads them from.\nlet personalityScores = null;\nlet narrativeText = narrativeData.text || '';\nconst scoresMatch = narrativeText.match(/<personality_scores>\\s*([\\s\\S]*?)\\s*<\\/personality_scores>/i);\nif (scoresMatch) {\n  try {\n    personalityScores = JSON.parse(scoresMatch[1].trim());\n  } catch (err) {\n    console.warn('[extract_report_sections] personality_scores JSON parse failed:', err.message);\n  }\n  narrativeText = narrativeText.replace(scoresMatch[0], '').trim();\n}\n// ============================================================\n\n// ---------------- NARRATIVE EXTRACTION ----------------\nconst titleRegex = /#{1,3}\\s*([^\\n#]+)/g;\nconst titles = [];\nlet match;\nwhile ((match = titleRegex.exec(narrativeText)) !== null) {\n  titles.push(match[1].trim());\n}\n\nconst contents = narrativeText.split(/#{1,3}\\s*[^\\n#]+\\n*/g);\ncontents.shift();\n\nconst sectionTypes = ['approach', 'strengths', 'development', 'values'];\nconst parsedSections = [];\n\nfor (let i = 0; i < contents.length; i++) {\n  const sectionType = sectionTypes[i];\n  const raw = cleanMarkdown(contents[i]);\n  parsedSections.push(extractSections(raw, sectionType));\n}\n\n// ---------------- OUTPUT ALL 5 SECTIONS ----------------\n// init_summary + 4 narrative sections, all inserted to SB in one batch.\n// Approach gets the personality_scores attached as metadata.\n// Other sections leave metadata null.\nconst allSections = [\n  {\n    section_type: 'init_summary',\n    title: 'Initial Summary',\n    content: initSummaryContent,\n    isRawContent: true,\n    metadata: null\n  },\n  {\n    section_type: 'approach',\n    title: titles[0] || null,\n    content: parsedSections[0] || [],\n    metadata: personalityScores ? { personality_scores: personalityScores } : null\n  },\n  { section_type: 'strengths',   title: titles[1] || null, content: parsedSections[1] || [], metadata: null },\n  { section_type: 'development', title: titles[2] || null, content: parsedSections[2] || [], metadata: null },\n  { section_type: 'values',      title: titles[3] || null, content: parsedSections[3] || [], metadata: null }\n];\n\nreturn allSections\n  .filter(s => s.content && (s.isRawContent || (Array.isArray(s.content) && s.content.length > 0)))\n  .map(s => {\n    let formatted;\n\n    if (s.isRawContent) {\n      formatted = s.content;\n    } else {\n      formatted = s.content.map(block => {\n        const subheader = block.subheader && block.subheader.trim()\n          ? `<h5>${block.subheader}</h5>\\n\\n`\n          : '';\n        const text = block.content || '';\n        return `${subheader}${text}`;\n      }).join('\\n\\n');\n    }\n\n    // CRITICAL: every row MUST have the same set of keys. PostgREST\n    // bulk insert (PGRST102) rejects arrays where keys differ across rows.\n    // metadata is always present and is null unless this is the approach row.\n    return {\n      report_id: reportId,\n      section_type: s.section_type,\n      title: s.title,\n      content: formatted,\n      metadata: s.metadata ?? null,\n      language: __lang\n    };\n  });"},"id":"050a36f6-ffcf-4544-ad6e-ea797f085d64","name":"extract_report_sections_code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,624],"executeOnce":false},{"parameters":{"operation":"update","tableId":"reports","filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"=processing"},{"keyName":"id","condition":"eq","keyValue":"={{ $json.report_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"pending_review"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3136,624],"id":"1e82c018-ac14-4a67-b64b-96c769209f16","name":"update status1","executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"workflowId":{"__rl":true,"value":"vVv0tsnFlBnarMdq","mode":"list","cachedResultUrl":"/workflow/vVv0tsnFlBnarMdq","cachedResultName":"Atlas Assessments — WF2.2_Source to Enrich 15"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3584,624],"id":"8ed2c944-69f1-4cca-a0f7-532623048621","name":"Execute Suitable Jobs1"},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2336,896],"id":"cd6bacee-4523-404c-992c-5ca496da1941","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}}],"connections":{"Survey complete Webhook2":{"main":[[{"node":"Process Survey Data1","type":"main","index":0}]]},"Prep init_summary":{"main":[[{"node":"prompt_perso_prof1","type":"main","index":0}]]},"SB insert all sections":{"main":[[{"node":"update status1","type":"main","index":0}]]},"pass report_id to WF2":{"main":[[{"node":"Execute Suitable Jobs1","type":"main","index":0}]]},"Process Survey Data1":{"main":[[{"node":"prompt_init_summary1","type":"main","index":0}]]},"prompt_init_summary1":{"main":[[{"node":"Initial_summary1","type":"main","index":0}]]},"Initial_summary1":{"main":[[{"node":"Prep init_summary","type":"main","index":0}]]},"3F":{"ai_languageModel":[[{"node":"Initial_summary1","type":"ai_languageModel","index":0}]]},"prompt_perso_prof1":{"main":[[{"node":"generate_personality_narrative1","type":"main","index":0}]]},"generate_personality_narrative1":{"main":[[{"node":"extract_report_sections_code1","type":"main","index":0}]]},"extract_report_sections_code1":{"main":[[{"node":"SB insert all sections","type":"main","index":0}]]},"update status1":{"main":[[{"node":"pass report_id to WF2","type":"main","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"generate_personality_narrative1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"FbsruPbuZI2Fgtc8","timeSavedMode":"fixed","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{"Survey complete Webhook2":[{"json":{"headers":{"host":"falkoratlas.app.n8n.cloud","user-agent":"Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.74.0)","content-length":"9671","accept":"*/*","accept-encoding":"gzip, br","accept-language":"*","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2a05:d014:61b:270b:ae98:5adb:2057:15f1","cf-ew-via":"15","cf-ipcountry":"DE","cf-ray":"a0709affcdd26a6b-FRA","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","traceparent":"00-f6829e41b175e116435bfb2886ee1026-6ce2620732af3beb-01","x-forwarded-for":"2a05:d014:61b:270b:ae98:5adb:2057:15f1, 172.70.250.104","x-forwarded-host":"falkoratlas.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-31-557477d57d-ms9zf","x-is-trusted":"yes","x-real-ip":"2a05:d014:61b:270b:ae98:5adb:2057:15f1"},"params":{},"query":{},"body":{"user_id":"932f96a8-6467-4dc6-9de9-0500ab45adb9","report_id":"deafd1a9-0579-40b8-a712-1f69b64efdca","preferred_language":"en","survey_responses":{"responses":{"11111111-1111-1111-1111-111111111110":[{"title":"Digital Onboarding Manager","sector":"Hospitality Technology","endYear":"","endMonth":"","isCurrent":true,"startYear":2023,"startMonth":"May","companyName":"Mews","companySize":"Enterprise (1000-5000)","yearsInRole":"","companyCulture":"Corporate"},{"title":"Owner and initiator","sector":"Serious Gaming","endYear":2023,"endMonth":"Apr","isCurrent":false,"startYear":"2021","startMonth":"Sep","companyName":"Mindgame","companySize":"Micro (1-10)","companyCulture":"Small Business Owner (up to 5 FTE)"},{"title":"Co-owner and initiator","sector":"Retail/E-commerce","endYear":2022,"endMonth":"Aug","isCurrent":false,"startYear":"2021","startMonth":"Jan","companyName":"The Vendables","companySize":"Micro (1-10)","companyCulture":"Small Business Owner (up to 5 FTE)"},{"title":"Co-owner and initiator","sector":"Hospitality/Gaming/Retail","endYear":"2020","endMonth":"Jun","isCurrent":false,"startYear":"2017","startMonth":"Feb","companyName":"The Boardroom","companySize":"Small (11-50)","companyCulture":"Startup / Scale-up"},{"title":"Assistant Manager","sector":"Hospitality","endYear":"2014","endMonth":"Sep","isCurrent":false,"startYear":"2013","startMonth":"Jul","companyName":"The Student Hotel","companySize":"Medium (51-200)","companyCulture":"Corporate"}],"11111111-1111-1111-1111-111111111113":38,"11111111-1111-1111-1111-111111111114":"Northern and Western Europe","11111111-1111-1111-1111-111111111115":["Looking for guidance on my **first job or career path**","Finding a **new career path** that better suits my skills and interests"],"11111111-1111-1111-1111-111111111116":"Bachelor's degree","11111111-1111-1111-1111-111111111117":"International Hotel and Hospitality Management","11111111-1111-1111-1111-111111111118":18,"11111111-1111-1111-1111-111111111119":"**Non-leadership or individual contributor role** (no direct reports)","11111111-1111-1111-1111-11111111111a":"Douwe Teun Anne Geurts","11111111-1111-1111-1111-11111111111b":"He / Him","11111111-1111-1111-1111-11111111111d":[{"title":"Digital Onboarding Manager","reason":"Too Customer Services focused. No creativity. Too conveyor belt day to day. ","happiness":4,"companyName":"Mews"},{"title":"Owner and initiator","reason":"Very creative and fun. Not big enough to make a difference. Company did not go anywhere so no good projects where coming in. ","happiness":7,"companyName":"Mindgame"},{"title":"Co-owner and initiator","reason":"Entrepreneur. How to optimalize a product that does not exists was great fun. ","happiness":8,"companyName":"The Vendables"},{"title":"Co-owner and initiator","reason":"Setting up an own business is great, creative and more. Pay and working hours where not great.","happiness":8,"companyName":"The Boardroom"},{"title":"Assistant Manager","reason":"Fun for my age at that time, but I was more of a receptionist which was not fun. ","happiness":5,"companyName":"The Student Hotel"}],"11111111-1111-1111-1111-11111111111f":{"languages":{"other":null,"presets":{"Dutch":"native","English":"fluent","Spanish":"conversational"}},"topSkills":["Creative Thinking/Design","Project Management","Entrepreneurship"],"achievements":[{"text":"Made the Board Game Café profitable within one year and opened a second location, which was also profitable. ","company":"The Boardroom","yearRange":""},{"text":"• Completed half-marathon\n• Completed Olympic distance Triathlon\n- thought myself Guitar and piano on a decent level.\n- Make my own furniture and build everything in my house. \n• Participant in Lego Masters Season 2\n• Designed board games with one under publisher review\n- completed the Asmterdam City Swim. 3.5 km open water swimming. ","company":"Other","yearRange":""},{"text":"Founded first fully automated gift shop in the Netherlands","company":"The Vendables","yearRange":""},{"text":"Made sure processes where improved and less time was wasted by the whole team. Even though this was not my work and I did not get time allocated for it. ","company":"Mews","yearRange":"2023–Present"},{"text":"Coming up with my own games and selling those to big companies. ","company":"Mindgame","yearRange":"2021–2023"},{"text":"Met many people from all walks of life which thought me even more how to communicate with people. ","company":"The Student Hotel","yearRange":"2013–2014"}],"topSkillRanks":[1,2,3,0,0,0,0,0,0],"certifications":["","",""]},"11111111-1111-1111-1111-111111111120":{"interests":["Board games","(game)Design","Travel"]},"11111111-1111-1111-1111-111111111121":"I just quit at Mews. Couldn't take it anymore that noone took my feedback seriously. Thinking about maybe doing something for myself with AI and serious gaming and other AI code based ideas.\n\ni have about 3-4 month runway before i need an income again.","22222222-2222-2222-2222-222222222221":"**Somewhat Drained** (I can handle it, but prefer quiet)","22222222-2222-2222-2222-222222222222":"The long-term, big-picture ideas and impact","22222222-2222-2222-2222-222222222223":"**Leaning Deliberative** (Explore options, but can decide when needed)","22222222-2222-2222-2222-222222222224":"Direct and to the point - focus on key facts","22222222-2222-2222-2222-222222222225":"**Leaning Novelty** (I embrace the unknown, but like a safety net)","22222222-2222-2222-2222-222222222226":"I prioritize securing the best outcome for myself or my team first","22222222-2222-2222-2222-222222222227":"**Somewhat Structured** (I prefer a process but not rigid rules)","22222222-2222-2222-2222-222222222228":"Very comfortable","22222222-2222-2222-2222-222222222229":"**Leaning Action** (Tend to act quickly, with a brief pause)","22222222-2222-2222-2222-22222222222a":["Perfectionism leading to delays","Struggling with time management","Being overly critical of self or others"],"33333333-3333-3333-3333-333333333331":["**Creativity** (e.g., having the freedom to innovate, engaging in creative problem-solving)","**Job Satisfaction** (e.g., enjoying daily tasks, feeling engaged and motivated by work)","**Personal Growth & Challenge** (e.g., learning new skills, overcoming difficult challenges, pushing personal and professional limits)","**Work-Life Balance** (e.g., balancing personal and professional life, flexible hours)","**Autonomy** (e.g., having independence in work, making decisions)","**Job Stability & Financial Security** (e.g., long-term stability, financial reliability)","**Helping Others & Making an Impact** (e.g., contributing to a cause, supporting colleagues or clients)","**Accomplishment & Recognition** (e.g., reaching significant milestones, excelling in work, receiving awards)"],"33333333-3333-3333-3333-333333333332":"Somewhat","33333333-3333-3333-3333-333333333333":"Very","33333333-3333-3333-3333-333333333334":"Standard 9-to-5 schedule","33333333-3333-3333-3333-333333333335":"Moderately important: I value salary but also consider other factors","33333333-3333-3333-3333-333333333336":"75,000–100,000","33333333-3333-3333-3333-333333333337":"Work-life balance perks","33333333-3333-3333-3333-333333333338":["**High-pressure or fast-paced environments** \n\n(e.g., strict deadlines, constant urgency, unpredictable workloads)","**Frequent teamwork and collaboration** (e.g., working closely with others daily, team-based projects, group decision-making)","**Sales, negotiation, or client-facing roles** (e.g., pitching ideas, persuading clients, managing external relationships)","**Finance-related work** (e.g., financial analysis, accounting, budgeting, or investment-related roles)","**Limited learning or growth opportunities** (e.g., repetitive tasks, no clear professional development path)"],"44444444-4444-4444-4444-444444444441":["AI, Data & Automation","Product & Innovation","Design & Creative"],"44444444-4444-4444-4444-444444444442":["**The Implementer** (gets tasks done, focuses on execution and timely deliverables)","**The Visionary** (creative, thinks outside the box, envisions new possibilities)"],"44444444-4444-4444-4444-444444444443":"Innovative and forward-thinking","44444444-4444-4444-4444-444444444444":"Creative Design such as Figma and Illustartor, Project Management within Serious Gaming, Entrepreneurship because I started several companies of which 2 board game cafes, Customer Onboarding, Operations Management, Adobe Illustrator, Innovative thinking by coming up with new software, products and business ideas, Market research to find out what is need not what is cool to make. \n\n","44444444-4444-4444-4444-444444444445":"Very familiar. I frequently use AI tools","44444444-4444-4444-4444-444444444446":["**Artificial Intelligence and Automation** (e.g., implementing AI solutions, the future of automation in business)","**Innovation and Product Development** (e.g., fostering a culture of innovation, developing new products)"],"44444444-4444-4444-4444-444444444447":["Sales and Business Development","Legal Professions","Manufacturing and Physical Labor","Agriculture and Outdoor Work","Government and Public Sector","Retail, Hospitality, and Customer Service"],"44444444-4444-4444-4444-444444444448":"Have a hands on creative job, preferably 2 jobs. I would have 1 creative job. Either in film, showbusiness, online enterainment, behind the scenes. Creating entertainment such as Moviesets, documentatries, showrunner, you name it.  2 a job focussing on using AI to create new products such as learning platforms, games and interactive software, improving business processes and more. \nI need to be able to travel and work from my laptop. A 9-5 deskjob going to the same environment every day is not for me. I need to be able to come up with solutions to problems. Not repeating the same tasks over and over.. On the sides I make furniture or build things with my hand. \n\nA youtube creator that tries out new skills every day for a living. \n\nIt's has variety and has nothing to do with customer service if I cannot influence the product. ","55555555-5555-5555-5555-555555555551":"Step back to analyze before contributing.","55555555-5555-5555-5555-555555555552":"Learning from others","55555555-5555-5555-5555-555555555553":"Medium (6-10 people)","55555555-5555-5555-5555-555555555554":"Seek a compromise to maintain harmony","55555555-5555-5555-5555-555555555555":["Difficulty communicating ideas","Lack of clear leadership","Disagreements over team goals"],"55555555-5555-5555-5555-555555555556":"**Deadline-Aware** (I start early but my pace picks up significantly as deadlines approach)","55555555-5555-5555-5555-555555555557":"Delegating autonomy and trusting me to figure things out","55555555-5555-5555-5555-555555555558":"Approach them privately to share your point of view","66666666-6666-6666-6666-666666666661":"I actively seek it and use it to improve","66666666-6666-6666-6666-666666666662":"Are straightforward and focus on the facts.","66666666-6666-6666-6666-666666666663":"Provide practical help or solutions","66666666-6666-6666-6666-666666666664":"Remain calm and control your emotions effectively","66666666-6666-6666-6666-666666666665":"Talk to colleagues or friends for support","66666666-6666-6666-6666-666666666666":"Keep it mostly work-focused but join social events occasionally.","66666666-6666-6666-6666-666666666667":["Motivating myself and others","Other: Taking my manager serious when they set goals without backing it up with data. ","Receiving criticism without defensiveness"],"77777777-7777-7777-7777-777777777771":["Gain experience in a different role or industry","Explore entrepreneurial opportunities","Develop new skills or certifications"],"77777777-7777-7777-7777-777777777772":["Own or run a successful business","Achieve complete autonomy and freedom in my career"],"77777777-7777-7777-7777-777777777773":["Burnout or lack of engagement","Misalignment with personal values or interests"],"77777777-7777-7777-7777-777777777774":"Yes, always seeking new skills","77777777-7777-7777-7777-777777777775":["AI & Automation","Creative Thinking & Innovation","Technical & Digital Skills"]},"survey_id":"00000000-0000-0000-0000-000000000001","accessCode":"TEQQ-2AZS-9LTA-YG9F","surveyType":"Office / Business Pro - 2025 v1 EN","completedAt":"2026-06-05T15:06:15.100Z","access_code_id":"71649bd8-652a-4dbe-beed-f516624e06e2"},"created_at":"2026-06-05T16:38:03.421Z","processing_status":"started"},"webhookUrl":"https://falkoratlas.app.n8n.cloud/webhook/28477bc7-d895-4b0e-bc45-a030312f6fcc","executionMode":"production"}}]},"versionId":"3bd729bc-1253-4984-9cd6-403c7cdbfafd","activeVersionId":"3bd729bc-1253-4984-9cd6-403c7cdbfafd","versionCounter":25,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-05-30T21:49:34.155Z","createdAt":"2026-05-30T21:49:34.155Z","role":"workflow:owner","workflowId":"0Z8WxV5tVFMJqIZt","projectId":"IRGhJlz0HuarxdVs","project":{"updatedAt":"2026-05-08T11:19:23.000Z","createdAt":"2025-06-17T10:11:12.163Z","id":"IRGhJlz0HuarxdVs","name":"Cairnly","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"","customTelemetryTags":[],"creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-10T10:15:34.652Z","createdAt":"2026-07-10T10:15:34.652Z","versionId":"3bd729bc-1253-4984-9cd6-403c7cdbfafd","workflowId":"0Z8WxV5tVFMJqIZt","nodes":[{"parameters":{"httpMethod":"POST","path":"28477bc7-d895-4b0e-bc45-a030312f6fcc","options":{"allowedOrigins":"*","binaryPropertyName":"","ignoreBots":false,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[768,624],"id":"0a8c0df0-3fce-4ce2-83f9-0d2396516db7","name":"Survey complete Webhook2","webhookId":"28477bc7-d895-4b0e-bc45-a030312f6fcc"},{"parameters":{"jsCode":"// Clean up initial summary for downstream use\n// This content feeds directly into prompt_perso_prof AND gets inserted to SB later\nconst summaryRaw = $('Initial_summary1').first().json.text || '';\nconst reportId = $('Process Survey Data1').first().json.report_id;\n\n// Clean markdown formatting, convert to HTML (same logic as original)\nlet content = summaryRaw\n  .replace(/###\\s*\\*\\*([^*]+)\\*\\*/g, '<h5>$1</h5>')\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\*([^*]+)\\*/g, '$1')\n  .trim();\n\nreturn [{\n  json: {\n    report_id: reportId,\n    content: content\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,624],"id":"4db5cbe1-b244-40ad-acbe-1a3be924d281","name":"Prep init_summary"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2912,624],"id":"bb555d97-bead-46c0-be07-0f32a55816c8","name":"SB insert all sections","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"assignments":{"assignments":[{"id":"b2517078-26eb-406a-8d10-900e66880eb5","name":"=report_id","value":"={{ $json.id }}","type":"string"},{"id":"e608eaae-85e8-4b81-981c-62e7895717d6","name":"preferred_language","value":"={{ $('Process Survey Data1').first().json.preferred_language }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3360,624],"id":"2271daf9-8ab3-4d4c-b55b-b4c43479729c","name":"pass report_id to WF2","executeOnce":false},{"parameters":{"jsCode":"// 1. MASTER SCHEMA - Maps ID to UUID and Full Question Data\n  const SURVEY_SCHEMA = {\n    // --- SECTION 1: Personal Background & Career Context ---\n    \"1a\": { uuid: \"11111111-1111-1111-1111-11111111111a\", question: \"Your name\", type: \"short_text\", options: [], description: \"First and Last name\" },\n    \"1b\": { uuid: \"11111111-1111-1111-1111-11111111111b\", question: \"Your pronoun\", type: \"multiple_choice\", options: [\"She / Her\", \"He / Him\", \"They / Them\", \"Not defined\"], description: \"\" },\n    \"1c\": { uuid: \"11111111-1111-1111-1111-111111111113\", question: \"Your age\", type: \"number\", options: [], description: \"\" },\n    \"1d\": { uuid: \"11111111-1111-1111-1111-111111111114\", question: \"What region are you based?\", type: \"dropdown\", options: [\"Northern and Western Europe\", \"Southern and Eastern Europe\", \"United Kingdom (London)\", \"United Kingdom (Other)\", \"United States (High-Cost Regions)\", \"United States (Average-Cost Regions)\", \"United States (Lower-Cost Regions)\", \"Canada\", \"Australia and New Zealand\", \"Switzerland\"], description: \"If you prepare to move somewhere else soon, then select that region.\" },\n    \"1e\": { uuid: \"11111111-1111-1111-1111-111111111115\", question: \"My primary goal(s) for completing this questionnaire and receiving a report\", type: \"multiple_choice\", options: [\"Looking for guidance on my **first job or career path**\", \"Finding a **new career path** that better suits my skills and interests\", \"Assessing my work preferences and values for a **better work-life balance**\", \"**Identifying strengths** and areas for improvement for professional growth\", \"Considering a career change due to **burnout or lack of fulfillment**\"], description: \"Select up to 2 options that best describe your main objectives or specify it at 'other'\" },\n    \"1f\": { uuid: \"11111111-1111-1111-1111-111111111116\", question: \"What is the highest level of education you have completed?\", type: \"multiple_choice\", options: [\"No formal education\", \"High school diploma or equivalent\", \"Associate's degree (e.g., technical college or vocational training)\", \"Bachelor's degree\", \"Master's degree\", \"Doctorate or professional degree (e.g., PhD, MD, JD)\"], description: \"\" },\n    \"1g\": { uuid: \"11111111-1111-1111-1111-111111111117\", question: \"What subject or specialization did you study?\", type: \"short_text\", options: [], description: \"(Optional: Fill this out if you want it considered for career suggestions)\" },\n    \"1h\": { uuid: \"11111111-1111-1111-1111-111111111118\", question: \"How many years of professional experience do you have?\", type: \"number\", options: [], description: \"Start counting from your first real job\" },\n    \"1i\": { uuid: \"11111111-1111-1111-1111-111111111119\", question: \"What best describes your current career situation?\", type: \"multiple_choice\", options: [\"**Non-leadership or individual contributor role** (no direct reports)\", \"**Managerial or leadership role** (Managing 1\\u20134 direct reports, focusing on team coordination and supervision)\", \"**Senior managerial role** (Managing 5 or more direct reports, involved in strategic decision-making and broader team oversight)\", \"**Executive function** (VP to C-suite roles or equivalent senior leadership positions with comprehensive organizational responsibilities)\", \"**Entrepreneur** seeking an employed role\", \"Currently on a **career break or transition**\", \"Looking to **re-enter the workforce**\"], description: \"\" },\n    \"1j\": { uuid: \"11111111-1111-1111-1111-111111111110\", question: \"What are your most recent professional roles?\", type: \"career_history\", options: [], description: \"\" },\n    \"1k\": { uuid: \"11111111-1111-1111-1111-11111111111d\", question: \"How happy were you in each of these roles?\", type: \"career_happiness\", options: [], description: \"Rate your happiness (1-10) and briefly explain what about the role's responsibilities and work itself affected your satisfaction - not the company culture, specific people, or circumstances.\" },\n    \"1l\": { uuid: \"11111111-1111-1111-1111-11111111111f\", question: \"Skills, Achievements & Languages\", type: \"skills_achievements\", options: [], description: \"Tell us about your professional skills, notable achievements, and the languages you speak. This helps us understand your strengths and accomplishments.\" },\n    \"1m\": { uuid: \"11111111-1111-1111-1111-111111111120\", question: \"List any personal interests or hobbies important to you\", type: \"interests_hobbies\", options: [], description: \"Provide **up to 3** (e.g. DIY, Gardening, collecting ... , fashion, Lego, writing, etc.)\" },\n    \"1n\": { uuid: \"11111111-1111-1111-1111-111111111121\", question: \"Additional Context\", type: \"long_text\", options: [], description: \"Anything else we should know? (Optional - skip if nothing comes to mind)\" },\n\n    // --- SECTION 2: Personality & Work Style ---\n    \"2a\": { uuid: \"22222222-2222-2222-2222-222222222221\", question: \"How do social interactions affect your energy?\", type: \"multiple_choice\", options: [\"**Energized** (I thrive on interaction)\", \"**Somewhat Energized** (I enjoy it, but have a limit)\", \"**Somewhat Drained** (I can handle it, but prefer quiet)\", \"**Drained** (I need significant alone time to reset)\"], description: \"Think about meetings, team collaboration, client interactions, and networking.\" },\n    \"2b\": { uuid: \"22222222-2222-2222-2222-222222222222\", question: \"When making decisions, what do you naturally focus on first?\", type: \"multiple_choice\", options: [\"The immediate, practical details and data\", \"The long-term, big-picture ideas and impact\", \"My gut feeling and how it affects others emotionally\"], description: \"\" },\n    \"2c\": { uuid: \"22222222-2222-2222-2222-222222222223\", question: \"How do you typically approach making project decisions?\", type: \"multiple_choice\", options: [\"**Decisive** (Decide immediately to keep moving)\", \"**Leaning Deliberative** (Explore options, but can decide when needed)\", \"**Leaning Open** (Explore options, but can decide if forced)\", \"**Deliberative** (Gather data and keep options open as long as possible)\"], description: \"Project Decision Style\" },\n    \"2d\": { uuid: \"22222222-2222-2222-2222-222222222224\", question: \"How do you typically communicate complex ideas at work?\", type: \"multiple_choice\", options: [\"Direct and to the point - focus on key facts\", \"Use analogies and metaphors to explain concepts\", \"Provide detailed context and background first\", \"Adapt my style based on the audience\"], description: \"\" },\n    \"2e\": { uuid: \"22222222-2222-2222-2222-222222222225\", question: \"How do you respond to change and uncertainty at work?\", type: \"multiple_choice\", options: [\"**Strong Structure** (I prefer clear guidelines and predictability)\", \"**Leaning Structure** (I handle ambiguity well, but appreciate some structure)\", \"**Leaning Novelty** (I embrace the unknown, but like a safety net)\", \"**Embrace Novelty** (I thrive on the unknown and see it as opportunity)\"], description: \"Think about situations like role changes, new projects with unclear scope, or shifting priorities.\" },\n    \"2f\": { uuid: \"22222222-2222-2222-2222-222222222226\", question: \"How do you approach conflict or negotiation?\", type: \"multiple_choice\", options: [\"I address issues assertively and focus on finding a balanced solution\", \"I seek compromise to maintain harmony, even if I have to concede\", \"I prioritize securing the best outcome for myself or my team first\", \"I tend to defer or avoid direct conflict\"], description: \"\" },\n    \"2g\": { uuid: \"22222222-2222-2222-2222-222222222227\", question: \"What kind of work environment do you prefer?\", type: \"multiple_choice\", options: [\"**Highly Flexible** (Minimal structure and maximum autonomy)\", \"**Somewhat Flexible** (I prefer fluidity but appreciate some process)\", \"**Somewhat Structured** (I prefer a process but not rigid rules)\", \"**Highly Structured** (Clear structure and defined expectations)\"], description: \"Work Style Preference\" },\n    \"2h\": { uuid: \"22222222-2222-2222-2222-222222222228\", question: \"How comfortable are you taking calculated risks in your work?\", type: \"multiple_choice\", options: [\"Very comfortable\", \"Comfortable\", \"Uncomfortable\", \"Very uncomfortable\"], description: \"Think about situations like proposing unconventional solutions, taking on stretch projects, or making decisions with incomplete information.\" },\n    \"2i\": { uuid: \"22222222-2222-2222-2222-222222222229\", question: \"When facing work pressure or tight deadlines, how do you typically respond?\", type: \"multiple_choice\", options: [\"**Action-First** (Push forward immediately and handle it)\", \"**Leaning Action** (Tend to act quickly, with a brief pause)\", \"**Leaning Analysis** (Tend to step back, but can act if urgent)\", \"**Analysis-First** (Instinct is to stop and analyze deeply)\"], description: \"Stress Response\" },\n    \"2j\": { uuid: \"22222222-2222-2222-2222-22222222222a\", question: \"Which of the following tendencies have you experienced that may sometimes hinder your effectiveness at work?\", type: \"multiple_choice\", options: [\"Perfectionism leading to delays\", \"Difficulty delegating tasks\", \"Taking on too much responsibility\", \"Being overly critical of self or others\", \"Avoiding confrontation\", \"Difficulty adapting to change\", \"Becoming easily stressed under pressure\", \"Struggling with time management\", \"Being indecisive\", \"Rushing through tasks\", \"Difficulty accepting feedback\", \"Procrastination\", \"Overanalyzing decisions\"], description: \"Select all that apply. Be honest - everyone has growth areas.\" },\n\n    // --- SECTION 3: Work Values & Preferences ---\n    \"3a\": { uuid: \"33333333-3333-3333-3333-333333333331\", question: \"Please rank the following career values in order of importance\", type: \"ranking\", options: [\"**Job Satisfaction** (e.g., enjoying daily tasks, feeling engaged and motivated by work)\", \"**Autonomy** (e.g., having independence in work, making decisions)\", \"**Work-Life Balance** (e.g., balancing personal and professional life, flexible hours)\", \"**Creativity** (e.g., having the freedom to innovate, engaging in creative problem-solving)\", \"**Job Stability & Financial Security** (e.g., long-term stability, financial reliability)\", \"**Helping Others & Making an Impact** (e.g., contributing to a cause, supporting colleagues or clients)\", \"**Accomplishment & Recognition** (e.g., reaching significant milestones, excelling in work, receiving awards)\", \"**Personal Growth & Challenge** (e.g., learning new skills, overcoming difficult challenges, pushing personal and professional limits)\"], description: \"(Most important to you on top, least important on the bottom)\" },\n    \"3b\": { uuid: \"33333333-3333-3333-3333-333333333332\", question: \"How important is it that your employer's values align with yours?\", type: \"multiple_choice\", options: [\"Not\", \"Somewhat\", \"Very\", \"Essential\"], description: \"\" },\n    \"3c\": { uuid: \"33333333-3333-3333-3333-333333333333\", question: \"How important is work-life balance to you?\", type: \"multiple_choice\", options: [\"Not\", \"Somewhat\", \"Very\", \"Essential\"], description: \"\" },\n    \"3d\": { uuid: \"33333333-3333-3333-3333-333333333334\", question: \"What kind of schedule works best for you?\", type: \"multiple_choice\", options: [\"Standard 9-to-5 schedule\", \"Flexible hours\", \"Project-based deadlines\", \"Part-time work\"], description: \"\" },\n    \"3e\": { uuid: \"33333333-3333-3333-3333-333333333335\", question: \"How important is salary to you in relation to other job factors?\", type: \"multiple_choice\", options: [\"Very important: salary is a primary factor\", \"Moderately important: I value salary but also consider other factors\", \"Less important: I prioritize factors like job satisfaction and growth\"], description: \"\" },\n    \"3f\": { uuid: \"33333333-3333-3333-3333-333333333336\", question: \"What is your overall desired compensation range for a new position?\", type: \"multiple_choice\", options: [\"Under 50,000\", \"50,000\\u201375,000\", \"75,000\\u2013100,000\", \"100,000\\u2013150,000\", \"150,000\\u2013250,000\", \"250,000-500,000\", \"500,000-1,000,000\"], description: \"Gross base salary + bonus\\n\\u2022 For full time (1 FTE)\\n\\u2022 No equity grants\\n\\u2022 In your own currency\" },\n    \"3g\": { uuid: \"33333333-3333-3333-3333-333333333337\", question: \"What's most important to you in terms of compensation?\", type: \"multiple_choice\", options: [\"High salary\", \"Comprehensive benefits\", \"Performance-based rewards\", \"Equity or ownership opportunities\", \"Work-life balance perks\"], description: \"\" },\n    \"3h\": { uuid: \"33333333-3333-3333-3333-333333333338\", question: \"What aspects of a new career would you like to **avoid**?\", type: \"multiple_choice\", options: [\"**High-pressure or fast-paced environments** \\n\\n(e.g., strict deadlines, constant urgency, unpredictable workloads)\", \"**Frequent decision-making responsibilities** \\n(e.g., autonomy in critical decisions, strategic planning, high accountability)\", \"**Leadership or management duties** (e.g., overseeing teams, setting vision, managing direct reports)\", \"**Limited learning or growth opportunities** (e.g., repetitive tasks, no clear professional development path)\", \"**Frequent teamwork and collaboration** (e.g., working closely with others daily, team-based projects, group decision-making)\", \"**Solo or independent work** (e.g., minimal interaction with colleagues, self-directed projects, remote individual tasks)\", \"**Sales, negotiation, or client-facing roles** (e.g., pitching ideas, persuading clients, managing external relationships)\", \"**Data-heavy or analytical roles** (e.g., working extensively with spreadsheets, statistics, or research-heavy tasks)\", \"**Finance-related work** (e.g., financial analysis, accounting, budgeting, or investment-related roles)\"], description: \"(Select all that apply, this helps us exclude unsuitable roles from your recommendations.)\" },\n\n    // --- SECTION 4: Interests & Skills ---\n   \"4a\": { uuid: \"44444444-4444-4444-4444-444444444441\", question: \"Which of these areas interest you most?\", type: \"multiple_choice\", options: [\"Technology & Software\", \"AI, Data & Automation\", \"Business Strategy & Consulting\", \"Finance, Markets & Investment\", \"Marketing & Communications\", \"Human Resources & People Operations\", \"Product & Innovation\", \"Design & Creative\", \"Healthcare & Life Sciences\", \"Education & Learning\", \"Sustainability & Environment\", \"Law & Public Policy\", \"Engineering & Manufacturing\", \"Science & Research\", \"Social Impact & Nonprofit\", \"Entertainment & Sports\"], description: \"(Choose up to 3)\" },\n    \"4b\": { uuid: \"44444444-4444-4444-4444-444444444442\", question: \"Which 2 archetypes best define you?\", type: \"multiple_choice\", options: [\"**The Analyzer** (logical problem-solver, data-driven, thrives on digging into details)\", \"**The Visionary** (creative, thinks outside the box, envisions new possibilities)\", \"**The Leader** (motivates teams, sets direction, takes initiative)\", \"**The Adapter** (comfortable with change, flexible, quick to adjust)\", \"**The Communicator** (articulates ideas effectively, fosters understanding)\", \"**The Empath** (understands emotions, supports others, builds relationships)\", \"**The Organizer** (plans tasks, sets priorities, keeps structure)\", \"**The Implementer** (gets tasks done, focuses on execution and timely deliverables)\"], description: \"(Pick 2)\" },\n    \"4c\": { uuid: \"44444444-4444-4444-4444-444444444443\", question: \"What company culture resonates most with you?\", type: \"multiple_choice\", options: [\"Innovative and forward-thinking\", \"Traditional and established\", \"Collaborative and team-oriented\", \"Competitive and high-achieving\"], description: \"\" },\n    \"4d\": { uuid: \"44444444-4444-4444-4444-444444444444\", question: \"Are there any topics or fields you know far more about than most people?\", type: \"short_text\", options: [], description: \"This can be professional knowledge or a personal interest, anything where you know noticeably more than the average person. For example: aviation, employment law, nutrition, architecture, or financial markets.Multiple entries allowed.\" },\n    \"4e\": { uuid: \"44444444-4444-4444-4444-444444444445\", question: \"How familiar are you with generative AI technologies (e.g. ChatGPT, CoPilot, AI workflows, etc)?\", type: \"multiple_choice\", options: [\"Not familiar at all\", \"Somewhat familiar. I have a basic understanding\", \"Moderately familiar. I have used AI tools occasionally\", \"Very familiar. I frequently use AI tools\", \"Extremely familiar. I work with AI technologies professionally\"], description: \"\" },\n    \"4f\": { uuid: \"44444444-4444-4444-4444-444444444446\", question: \"If you had the opportunity to lead a workshop or seminar within your company, which topic(s) would you choose that you are enthusiastic about and feel confident discussing?\", type: \"multiple_choice\", options: [\"**Data Analysis and Business Intelligence** (e.g., leveraging data for strategic decisions, advanced analytics)\", \"**Project Management and Leadership** (e.g., effective team leadership, managing large-scale projects)\", \"**Marketing Strategies and Brand Development** (e.g., digital marketing trends, building a strong brand presence)\", \"**Artificial Intelligence and Automation** (e.g., implementing AI solutions, the future of automation in business)\", \"**Sustainability and Corporate Social Responsibility** (e.g., sustainable business practices, CSR initiatives)\", \"**Innovation and Product Development** (e.g., fostering a culture of innovation, developing new products)\", \"**Financial Planning and Investment Strategies** (e.g., budgeting for growth, investment opportunities)\", \"**People Management and Recruitment** (e.g., employee engagement and happiness, talent acquisition strategies)\", \"**Technology Integration and IT Infrastructure** (e.g., upgrading IT systems, coding, integrating new technologies)\"], description: \"Select up to 2. Use other if your passionate topic is not listed\" },\n    \"4g\": { uuid: \"44444444-4444-4444-4444-444444444447\", question: \"When people come to you for help or advice, what's it usually about?\", type: \"long_text\", options: [], description: \"What friends or colleagues naturally turn to you for, the kind of help or advice people seek from you.\" },\n    \"4h\": { uuid: \"44444444-4444-4444-4444-444444444448\", question: \"Name your dream job(s)! Regardless of any constraining factors.\", type: \"short_text\", options: [], description: \"Don't worry about personal situation, salary, skills or other practical things: What one or two jobs would you absolutely LOVE to do.\\n(e.g. Sports commentator, Actor, Own a business that sells ..., Sailing instructor, Gardener, Writer, etc.). Max 3.\" },\n\n    // --- SECTION 5: Team Dynamics & Leadership ---\n    \"5a\": { uuid: \"55555555-5555-5555-5555-555555555551\", question: \"In a team, you tend to:\", type: \"multiple_choice\", options: [\"Take charge and guide the direction of the group.\", \"Ensure execution by keeping tasks organized and on track.\", \"Offer ideas and actively engage in discussions.\", \"Step back to analyze before contributing.\", \"Work independently but provide support when needed.\"], description: \"\" },\n    \"5b\": { uuid: \"55555555-5555-5555-5555-555555555552\", question: \"What motivates you most in a team environment?\", type: \"multiple_choice\", options: [\"Achieving common goals\", \"Recognition of individual contributions\", \"Learning from others\", \"Building relationships\"], description: \"\" },\n    \"5c\": { uuid: \"55555555-5555-5555-5555-555555555553\", question: \"What is your preferred team size?\", type: \"multiple_choice\", options: [\"Small (2-5 people)\", \"Medium (6-10 people)\", \"Large (11+ people)\", \"No preference\"], description: \"\" },\n    \"5d\": { uuid: \"55555555-5555-5555-5555-555555555554\", question: \"When there are disagreements about work tasks within your team (of peers), you typically:\", type: \"multiple_choice\", options: [\"Address them directly to find a solution\", \"Seek a compromise to maintain harmony\", \"Defer to others to avoid conflict\"], description: \"\" },\n    \"5e\": { uuid: \"55555555-5555-5555-5555-555555555555\", question: \"What challenges have you faced when working in teams?\", type: \"multiple_choice\", options: [\"Difficulty communicating ideas\", \"Challenges with delegation\", \"Conflict resolution\", \"Trusting team members to complete tasks\", \"Feeling overshadowed by others\", \"Managing different work styles\", \"Lack of clear leadership\", \"Disagreements over team goals\", \"Balancing individual and team responsibilities\", \"Difficulty giving or receiving feedback\"], description: \"(Select all that apply)\" },\n    \"5f\": { uuid: \"55555555-5555-5555-5555-555555555556\", question: \"How do you approach deadlines and time management?\", type: \"multiple_choice\", options: [\"**Steady Planner** (I plan well ahead and work consistently to avoid last-minute pressure)\", \"**Deadline-Aware** (I start early but my pace picks up significantly as deadlines approach)\", \"**Pressure-Dependent** (I need the urgency of approaching deadlines to focus effectively)\", \"**Last-Minute Sprinter** (I do my best work in intense bursts right before deadlines)\"], description: \"Think about how you actually work, not how you wish you worked.\" },\n    \"5g\": { uuid: \"55555555-5555-5555-5555-555555555557\", question: \"Which leadership style do you most prefer working under?\", type: \"multiple_choice\", options: [\"Delegating autonomy and trusting me to figure things out\", \"Coaching style where I focuss on personal/professional growth\", \"Task-oriented style with clear targets and strict follow-up\"], description: \"(select up to 2)\" },\n    \"5h\": { uuid: \"55555555-5555-5555-5555-555555555558\", question: \"When you disagree with a manager or senior leader's direction, you typically:\", type: \"multiple_choice\", options: [\"Voice concerns openly and try to discuss the issue\", \"Approach them privately to share your point of view\", \"Let it slide unless it significantly impacts you or your team\"], description: \"\" },\n\n    // --- SECTION 6: Emotional Intelligence ---\n    \"6a\": { uuid: \"66666666-6666-6666-6666-666666666661\", question: \"How do you handle feedback or constructive criticism?\", type: \"multiple_choice\", options: [\"I actively seek it and use it to improve\", \"I find it challenging and may struggle to apply it\"], description: \"What applies to you most\" },\n    \"6b\": { uuid: \"66666666-6666-6666-6666-666666666662\", question: \"When providing constructive criticism to others, you usually:\", type: \"multiple_choice\", options: [\"Try to be encouraging but are careful not to offend.\", \"Are straightforward and focus on the facts.\", \"Struggle with giving feedback and often avoid it.\"], description: \"\" },\n    \"6c\": { uuid: \"66666666-6666-6666-6666-666666666663\", question: \"When a colleague is experiencing personal stress or emotional difficulties, you typically:\", type: \"multiple_choice\", options: [\"Offer support and listen empathetically\", \"Provide practical help or solutions\", \"Respect their privacy and give them space\", \"Defer them to someone who you think can assist better\"], description: \"\" },\n    \"6d\": { uuid: \"66666666-6666-6666-6666-666666666664\", question: \"When involved in a conflict at work, how do you manage your emotions?\", type: \"multiple_choice\", options: [\"Remain calm and control your emotions effectively\", \"Find it challenging to manage your emotions\", \"Express your emotions openly, regardless of the setting\"], description: \"\" },\n    \"6e\": { uuid: \"66666666-6666-6666-6666-666666666665\", question: \"What strategies do you use to manage your emotions under stress?\", type: \"multiple_choice\", options: [\"Practice mindfulness or stress-reduction techniques\", \"Talk to colleagues or friends for support\", \"Internalize stress without specific coping strategies\"], description: \"\" },\n    \"6f\": { uuid: \"66666666-6666-6666-6666-666666666666\", question: \"How do you prefer to interact with colleagues?\", type: \"multiple_choice\", options: [\"Actively engage in social interactions, both during and outside work.\", \"Keep it mostly work-focused but join social events occasionally.\", \"Stick to professional interactions and rarely join social gathering outside work hours.\"], description: \"\" },\n    \"6g\": { uuid: \"66666666-6666-6666-6666-666666666667\", question: \"Which aspects of emotional intelligence do you find most challenging?\", type: \"multiple_choice\", options: [\"Managing stress effectively\", \"Recognizing and controlling own emotions\", \"Empathizing with others\", \"Handling conflict constructively\", \"Adapting to change\", \"Building and maintaining relationships\", \"Providing constructive feedback\", \"Receiving criticism without defensiveness\", \"Remaining calm under pressure\", \"Motivating myself and others\"], description: \"(Select up to 3)\" },\n\n    // --- SECTION 7: Career Goals & Development ---\n    \"7a\": { uuid: \"77777777-7777-7777-7777-777777777771\", question: \"What are your short-term career goals (next 1-2 years)?\", type: \"multiple_choice\", options: [\"Develop new skills or certifications\", \"Gain experience in a different role or industry\", \"Expand my professional network\", \"Achieve a promotion or salary increase\", \"Improve work-life balance\", \"Explore entrepreneurial opportunities\"], description: \"(Choose up to 2 or choose 'other')\" },\n    \"7b\": { uuid: \"77777777-7777-7777-7777-777777777772\", question: \"What are your long-term career goals (next 5-10 years)?\", type: \"multiple_choice\", options: [\"Reach a senior leadership or executive position\", \"Establish expertise and recognition in my field\", \"Own or run a successful business\", \"Achieve financial independence\", \"Make a significant contribution to society or a cause\", \"Continuously learn and adapt to new challenges\", \"Achieve complete autonomy and freedom in my career\"], description: \"(Choose up to 2 or choose 'other')\" },\n    \"7c\": { uuid: \"77777777-7777-7777-7777-777777777773\", question: \"Which barriers do you face right now -or expect to face\\u2014 in achieving your career goals?\", type: \"multiple_choice\", options: [\"Limited growth opportunities in my current organization/field\", \"Work-life balance constraints or family commitments\", \"Burnout or lack of engagement\", \"Gaps in skills or professional development\", \"Misalignment with personal values or interests\", \"Uncertainty about my next career step\", \"Financial limitations or concerns\", \"External factors (e.g., economic conditions, industry changes)\", \"Personal doubts or lack of confidence\"], description: \"(Choose up to 2)\" },\n    \"7d\": { uuid: \"77777777-7777-7777-7777-777777777774\", question: \"Are you interested in acquiring new skills outside your current expertise?\", type: \"multiple_choice\", options: [\"Yes, always seeking new skills\", \"Prefer to focus on existing skills\", \"Yes, if relevant to my career\"], description: \"\" },\n    \"7e\": { uuid: \"77777777-7777-7777-7777-777777777775\", question: \"Lastly, which areas or competencies do you enjoy and would you like to develop (further) as part of a next/new job?\", type: \"multiple_choice\", options: [\"Leadership & Team Management\", \"People & Culture (HR)\", \"Communication & Public Speaking\", \"AI & Automation\", \"Technical & Digital Skills\", \"Data Analysis & Problem-Solving\", \"Creative Thinking & Innovation\", \"Project & Product Management\", \"Strategic Planning & Big-Picture Thinking\", \"Entrepreneurship / Intrapreneurship\", \"Sales, Relationship-Building & Networking\", \"Operations & Process Optimization\", \"Marketing & Brand Strategy\", \"Customer Experience & Service\", \"Financial & Business Acumen\", \"Change Management & Resilience\"], description: \"(Choose up to 3 areas you are **personally motivated** to develop, regardless of their current (perceived) proficiency level)\" },\n  \"7f\": { uuid: \"77777777-7777-7777-7777-777777777776\", question: \"How interested are you in starting your own business?\", type: \"multiple_choice\", options: [\"Not for me\", \"Curious about it, but not actively planning\", \"Interested and seriously considering it\", \"I already run, or have run, my own business\"], description: \"There are no wrong answers; this just helps us judge whether self-employed paths belong in your recommendations. Choose one, or add your own.\" }\n\n  };\n\n  // --- ROBUST DATA PROCESSING LOGIC ---\n  const inputItem = $input.first().json;\n  const rawResponses = inputItem.survey_responses?.responses || inputItem.body?.survey_responses?.responses || {};\n  const nonNeg = (rawResponses && rawResponses.__non_negotiables) || {};\n\n  // Surface report_id + user_id so downstream nodes can reference them\n  // via $('this_node').first().json.report_id without depending on rep_id1.\n  const reportId = inputItem.report_id || inputItem.body?.report_id || null;\n  const userId = inputItem.user_id || inputItem.body?.user_id || null;\n\n  const formattedQuestions = [];\n  let answeredCount = 0;\n\n  for (const [id, config] of Object.entries(SURVEY_SCHEMA)) {\n      let answer = rawResponses[config.uuid];\n\n      const result = {\n          questionId: id,\n          question: config.question,\n          type: config.type,\n          description: config.description || \"\",\n          chosen: [],\n          notChosen: [],\n          hasAnswer: false\n      };\n\n      if (answer !== undefined && answer !== \"\" && answer !== null) {\n          result.hasAnswer = true;\n          answeredCount++;\n\n          if (config.type === \"skills_achievements\") {\n              result.chosen = {\n                  topSkills: answer.topSkills || [],\n                  certifications: answer.certifications || [],\n                  achievements: answer.achievements || \"\"\n              };\n          } \n          else if ([\"career_history\", \"career_happiness\"].includes(config.type)) {\n              result.chosen = Array.isArray(answer) ? answer : [answer];\n          }\n          else {\n              let answerArray = Array.isArray(answer) ? answer : [answer];\n              const cleanAnswers = answerArray.map(a => {\n                  return typeof a === 'string' ? a.replace(/\\*\\*/g, '').trim() : a;\n              });\n\n              result.chosen = cleanAnswers;\n\n              if (config.options && config.options.length > 0) {\n                  result.notChosen = config.options.filter(opt => {\n                      const optClean = opt.replace(/\\*\\*/g, '').trim();\n                      return !cleanAnswers.some(userAns => String(userAns).includes(optClean));\n                  });\n              }\n          }\n      } else {\n          result.chosen = []; \n          result.notChosen = config.options || [];\n      }\n\n      if (nonNeg[config.uuid] === true && Array.isArray(result.chosen) && result.chosen.every(x => typeof x === 'string')) {\n          result.nonNegotiable = true;\n          result.chosen = result.chosen.map(a => a + ' [NON-NEGOTIABLE]');\n      }\n      formattedQuestions.push(result);\n  }\n\n  return [{\n      report_id: reportId,\n      user_id: userId,\n      preferred_language: inputItem.preferred_language || inputItem.body?.preferred_language || 'en',\n      summary: {\n          totalQuestions: Object.keys(SURVEY_SCHEMA).length,\n          answeredQuestions: answeredCount\n      },\n      questions: formattedQuestions\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,624],"id":"7c58dc3a-b0b7-41eb-8854-ac52ade77019","name":"Process Survey Data1"},{"parameters":{"assignments":{"assignments":[{"id":"7aa95d3a-1db7-4d83-a689-72a703d056a5","name":"initi summ prompt","value":"=# ROLE\nYou are a Lead Data Architect specializing in candidate profile normalization. Your goal is to transform structured JSON survey data into a high-fidelity, judgment-free \"Source of Truth\" Fact Sheet.\n\n# TASK\nExtract every specific detail from the input JSON. Preserve verbatim \"Other\" entries, specific role details, and personal comments. Do not interpret or coach; your job is to ensure the downstream Career Coach has 100% of the facts in a readable format.\n\n# OUTPUT FORMAT\n\n### **1. Core Identity & Current Status**\n- **Name:** [1a]\n- **Pronouns:** [1b]\n- **Age:** [1c]\n- **Region:** [1d]\n- **Primary Objectives/Goals:** [1e]\n- **Current Career Situation:** [1i]\n- **Total Years of Experience:** [1h]\n\n### **2. Professional History & Sentiment Log**\n- **Detailed Career History:** [Extract all roles from 1j. Include Title, Company, Size, Culture, Sector, and Dates]\n- **Sentiment Log:** [Extract Happiness scores and verbatim Reasons from 1k for each corresponding role]\n- **Skills & Technical Footprint:** \n  - **Top Skills:** [Extract from topSkills in 1l]\n  - **Certifications:** [Extract from certifications in 1l]\n  - **Languages and proficiency level:** [Extract from languages in 1l]\n  - **Notable Achievements:** [Extract verbatim from achievements in 1l]\n  - **Specialized Knowledge:** [4d]\n  - **AI Familiarity:** [4e]\n\n### **3. Education & Personal Context**\n- **Education Level:** [1f]\n- **Field of Study:** [1g]\n- **Personal Interests/Hobbies:** [1m]\n- **Additional Context/Constraints:** [1n - Include burnout notes, family/caregiving commitments, household financial situation or need for a stable income, health or accessibility considerations, and any other constraints or noteworthy remarks]\n- **Dream Jobs:** [4h]\n\n### **4. Values, Compensation & Work Preferences**\n- **Ranked Career Values (High to Low):** [3a]\n- **Cultural & WLB Preferences:** [Value Alignment (3b), WLB Importance (3c), Preferred Culture (4c)]\n- **Logistics & Pay:** [Schedule (3d), Salary Importance (3e), Bracket (3f), Pay Priority (3g)]\n- **Hard Requirements:** If any [3d] or [3f] value carries a **[NON-NEGOTIABLE]** marker, reproduce it verbatim (the candidate flagged it as a hard requirement).\n\n### **5. Behavioral & Operational Profile**\n- **Energy & Social:** [Social energy (2a), Colleague interaction (6f)]\n- **Cognitive Style:** [Decision focus (2b), Decision speed (2c), Communication style (2d), Change response (2e)]\n- **Operational Style:** [Environment structure (2g), Risk tolerance (2h), Stress response (2i), Time management (5f)]\n- **Hindrances/Growth Areas:** [Self-identified barriers (2j)]\n\n### **6. Team Dynamics & Emotional Intelligence**\n- **Collaboration Style:** [Team role (5a), Motivator (5b), Preferred size (5c), Conflict style (5d & 2f)]\n- **Management Interaction:** [Preferred Leadership (5g), Response to Disagreement (5h)]\n- **EI & Feedback:** [Handling Feedback (6a), Providing Feedback (6b), Support style (6c), Emotional regulation (6d), Stress coping (6e), EI Challenges (6g)]\n\n### **7. Future Trajectory & Constraints**\n- **Goals:** [Short-term (7a), Long-term (7b)]\n- **Developmental Drive:** [Barriers (7c), Interest in new skills (7d), Areas to develop (7e), Workshop topics (4f)]\n- **Entrepreneurial appetite:** [7f]\n- **Areas of Interest & Archetypes:** [Interests (4a), Archetypes (4b)]\n- **Avoidance List (Hard Constraints):** [Avoided work aspects (3h), Avoided industries (4g)]\n\n# CRITICAL INSTRUCTIONS\n- **Reference IDs:** Keep the Question ID (e.g., 1a, 7e) in brackets next to each fact\n- **Verbatim Content:** If a user wrote text, do not summarize it. Use the exact words\n- **Completeness:** If data exists for a field (like Achievements in 1l), extract it fully\n- **Judgment-Free:** Do not use words like \"appears to be\" or \"struggles with.\" Simply state: \"Candidate reports [X]\"\n\n\n# INPUT:\n\n{{ JSON.stringify($json.questions, null, 2) }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,624],"id":"308eb890-9f2b-4799-8e13-3870a7cbf9cb","name":"prompt_init_summary1"},{"parameters":{"promptType":"define","text":"={{ $json[\"initi summ prompt\"] }}","batching":{}},"id":"01564a9f-d77e-402f-95be-11493989861e","name":"Initial_summary1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1504,624]},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1504,784],"id":"3147d3a2-b2d7-4cfc-a758-f8e430d08440","name":"3F","credentials":{"googlePalmApi":{"id":"Q653Teuy9nP6VLoE","name":"Cairnly Gstudio Key"}}},{"parameters":{"assignments":{"assignments":[{"id":"34c766ad-413a-463d-8f0b-50a646be4f67","name":"instructions_perso_profile","value":"=# ABSOLUTE OUTPUT LANGUAGE — HIGHEST PRIORITY (overrides everything below)\nWrite EVERY word of your output — every heading and every sentence — in {{ ($('Process Survey Data1').first().json.preferred_language === 'nl') ? 'DUTCH (informal je/jij/jouw, never \"u\")' : 'ENGLISH' }}. The candidate's name, nationality, employers, or any non-target-language words in their data must NEVER change your output language. If you catch yourself writing a heading or sentence in another language, rewrite it in the target language before continuing.\n\n# MANDATORY: SECOND PERSON VOICE\nThe input data below refers to the candidate in third person (\"the candidate\", \"he/his\").\nYou MUST write ALL output in second person: \"you\" and \"your\" throughout.\nUse their first name occasionally for warmth, but NEVER write about them in third person.\nThis applies to every sentence in every section. No exceptions.\n\n# INPUT DATA\n\n**Fact sheet** (structured summary of the candidate's survey):\n\n{{ $json.content }}\n\n**Raw survey answers** (verbatim source of truth; `chosen` = their answers, `notChosen` = options they saw but did not pick, which can be meaningful for rankings and multi-selects):\n\n{{ JSON.stringify($('Process Survey Data1').first().json.questions) }}\n\n# Role\n\nYou are a world-class career coach. Your specialty is reading between the lines: seeing patterns in a candidate's data that they cannot see themselves.\n\n# THE PRIME DIRECTIVE: INSIGHT, NOT SUMMARY\n\nThe candidate just spent 30 minutes filling in this survey. They know what they answered. Anything they could find by rereading their own answers has ZERO value to them, and reading their own words repeated back is the #1 complaint about reports like this one.\n\nYour entire value lies in what they CANNOT see themselves:\n- connections between answers from different parts of the survey\n- tensions between stated priorities and their actual history\n- patterns across their roles, happiness scores, and self-descriptions\n- what their combination of traits implies that no single answer says\n\n**The admission test (apply to every paragraph you write):**\n1. Could the candidate have written this sentence themselves from memory of their answers? Then cut it, or compress it into a short supporting clause.\n2. Does it connect at least two different data points, or contrast a claim with evidence? Then it can stay.\n3. Does it serve their stated goal or a pain point they named (a low happiness score, a burnout note, a barrier)? If not, cut it.\n\n**Evidence style:** never open a paragraph with what they selected, ranked, or wrote. Lead with the interpretation; attach the evidence in a subordinate clause.\n- BAD (recitation-first): \"You ranked autonomy at the top of your values, followed by work-life balance and creativity.\"\n- GOOD (insight-first): \"Every high point in your career had one thing in common, and it wasn't the title: it was how much room you were given to run things your way. Your values ranking says the same thing your history does.\"\n\n# Required Sections\n\nWrite these four sections, with these exact headers and bold subheaders (the platform parses them):\n\n## Understanding Your Approach\n\n**Personality and Interaction Style**\n\nName the dominant operating pattern their answers reveal in how they work and interact, including any friction between traits (e.g. direct in one mode, accommodating in another). Not a tour of their answers.\n\n**Impact in Different Environments**\n\nWhere that pattern pays off and where it costs them, grounded in their actual history and happiness data.\n\n**Key Insight**\n\n1-2 realizations they likely have not seen themselves: connections or patterns that explain why they experience what they do.\n\n## Strengths and How to Grow Them\n\n**Identifying Your Core Strengths**\n\nThe underlying capability that connects their achievements and history: the thing they would bring anywhere. Not a list of their skills; they wrote that list.\n\n**Leveraging Strengths in Your Career**\n\nWhat this capability makes possible, in light of their stated goal.\n\n**Key Insight**\n\nThe competitive advantage or positioning they have not named themselves.\n\n## Areas for Development\n\n**Understanding Potential Growth Areas**\n\nThe pattern connecting the growth areas they flagged, not the list itself.\n\n**Implications for Your Growth**\n\nThe concrete cost of this pattern for the change they want to make.\n\n**Key Insight**\n\nA tentative hypothesis about why these challenges exist or how they connect, framed as something to confirm or reject (\"one read is...\", \"this might stem from...\"), never as a diagnosis. Only build on tendencies their own data shows.\n\n[Conditional: if, and only if, this candidate's data shows AI-related concern or interest, you may note in one or two sentences that human-centric skills like empathy, judgment, and communication grow in value as AI spreads. Otherwise skip this entirely. Never write a generic paragraph about the AI era.]\n\n## Aligning with Your Values\n\n**Identifying Your Core Values**\n\nWhat the combination and ORDER of their values reveals, especially anything surprisingly high or low given their history. Do not walk through the ranking; they wrote it.\n\n**Values in Career Decisions**\n\nDecision rules: what any next role must contain, and what it must avoid, for this specific person.\n\n**Key Insight**\n\nA tension between stated priorities, or between their values and their current path, and what it means for their direction.\n\n# LENGTH: HARD RULES\n\n- 120 to 220 words per section. NEVER exceed 250 words in any section.\n- Density over volume. If you only have two strong observations for a section, write two.\n- Cutting a weak paragraph is always better than padding a section.\n\n# BANNED MOVES\n\nThese formulas appear in every AI-generated career report. Do not use them unless this candidate's data overwhelmingly forces it, and never more than one of them in the whole report:\n\n- The sentence structure \"Your real strength isn't X, it's Y\"\n- Declaring that two flagged weaknesses \"are actually the same problem\"\n- A generic paragraph about AI changing the world of work\n\nAnd one absolute ban, no exceptions: NEVER conclude that the candidate does not need a new path, a new field, or a career change. Cairnly serves people seeking change. If the data suggests their pain is about conditions rather than field, express it as what their next role must contain or avoid, never as \"stay where you are\" or \"you don't need a different field.\"\n\nVary your sentence structures across the report. No two Key Insights may share the same rhetorical shape.\n\n**Goal Interpretation Lens (Cairnly serves change-seekers):**\nCairnly is built for candidates exploring change, clarity, or new direction, not advancement within an existing track. When integrating stated goals (1e, 7a, 7b), reinterpret advancement-flavored options as underlying needs:\n\n- 7a \"Achieve a promotion or salary increase\" → growth/recognition/financial need (not a path to confirm)\n- 7b \"Reach a senior leadership or executive position\" → desire for authority and impact (achievable through advisory, board, fractional, expert IC, or operational paths in new contexts)\n- 7b \"Establish expertise and recognition in my field\" → depth-seeking (read \"field\" loosely)\n- \"Other\" responses about advancement → treat as needs, not directions\n\nIf stated goals contradict happiness data, dream job themes, burnout indicators, or the candidate's stated purpose in 1e, surface this as a Key Insight in Aligning with Your Values. Do not take advancement-flavored goals at face value when other signals point to a need for change.\n\n# Content Requirements\n\n- PERSONALITY ONLY. Do not discuss career feasibility, specific job recommendations, or dreamjob analysis; those come in later phases.\n- Ground every trait or tendency you mention in this candidate's actual data. Do not infer or import tendencies that are not supported (for example, do not assume perfectionism from procrastination).\n- Integrate the candidate's primary goal naturally where relevant.\n- DO NOT MENTION QUESTION LABELS eg. '7b' in your narratives! Never!\n\n# Writing Style\n\n- Active voice, short punchy sentences, business casual tone.\n- SECOND PERSON throughout: \"you\" and \"your\", with their first name occasionally for warmth.\n- Small paragraphs (2-4 sentences max).\n- Do not use the em-dash in your narrative.\n- Refer to the avoid words list at the bottom.\n\n# Formatting Requirements\n\nOutput exactly this skeleton, in this order, filling in the prose. Section headers as `##` lines exactly as written, subheaders in `**bold**` exactly as written, sections separated by `---` on its own line:\n\n## Understanding Your Approach\n\n**Personality and Interaction Style**\n\n**Impact in Different Environments**\n\n**Key Insight**\n\n---\n\n## Strengths and How to Grow Them\n\n**Identifying Your Core Strengths**\n\n**Leveraging Strengths in Your Career**\n\n**Key Insight**\n\n---\n\n## Areas for Development\n\n**Understanding Potential Growth Areas**\n\n**Implications for Your Growth**\n\n**Key Insight**\n\n---\n\n## Aligning with Your Values\n\n**Identifying Your Core Values**\n\n**Values in Career Decisions**\n\n**Key Insight**\n\n# Personality Scoring (Internal — DO NOT SHOW IN PROSE)\n\nIn ADDITION to the four narrative sections above, append a structured score block at the very end of your response, after \"Aligning with Your Values\" and its Key Insight.\n\nThis block is for internal database use only. It powers a Personality Radar visualization in the candidate's dashboard. It MUST NOT appear anywhere in the prose. Do NOT mention these scores in the narrative. Do NOT reference numbers, percentages, or ratings in the report. Do NOT explain the dimensions to the candidate.\n\nScore the candidate on five interpretively rich dimensions, each on a 1-10 integer scale, based on your full reading of their data (survey answers, sentiment log, narrative inputs, writing samples, history). These are AI judgments synthesized from the whole picture, NOT echoes of any single multiple-choice answer.\n\n**Dimensions:**\n\n- **strategic_depth** (1-10): Long-arc systems thinking and pattern recognition versus immediate, tactical, in-the-moment focus. High = thinks in years and systems, sees second-order effects, frames problems structurally. Low = strong present-moment focus, executes well on what's in front of them, less natural pull toward systemic framing.\n- **execution_bias** (1-10): Ships fast and iterates versus deliberates carefully before committing. High = strong action orientation, comfortable shipping imperfect work, learns by doing. Low = strong reflection orientation, prefers to think it through, ships when ready.\n- **people_intuition** (1-10): Reads social dynamics, organizational politics, and interpersonal subtext accurately versus misses these signals. High = naturally tracks group dynamics, anticipates interpersonal friction, reads the room. Low = primarily task-focused, surprised by political dynamics, prefers explicit communication.\n- **ambiguity_tolerance** (1-10): Thrives in unclear, evolving, undefined situations versus needs structure and clarity to perform at their best. High = energized by ambiguity, comfortable making decisions with incomplete information. Low = strong need for defined parameters, slows down or stresses without structure.\n- **recognition_pull** (1-10): Driven by external visibility, status, and acknowledgement versus internal satisfaction and the work itself. High = strongly motivated by being seen, public credit, status markers. Low = strongly motivated by internal craft satisfaction, less affected by external acknowledgement.\n\n**Calibration guidance:**\n\n- Use the full 1-10 range. Most candidates will land between 4 and 8 on most dimensions; reserve 9-10 and 1-2 for genuinely outlier signals supported by multiple data points.\n- Score on what the data shows, not on what the candidate self-reports they ARE. Someone who self-reports \"Decisive\" but whose narratives reveal thorough deliberation should NOT automatically get a 10 on execution_bias.\n- The dimensions are independent. A candidate can be high on both strategic_depth and execution_bias.\n\n**Output format (REQUIRED, exact format):**\n\nAfter the final \"Aligning with Your Values\" section and one blank line, output the block exactly like this on a single line:\n\n`<personality_scores>{\"strategic_depth\": N, \"execution_bias\": N, \"people_intuition\": N, \"ambiguity_tolerance\": N, \"recognition_pull\": N}</personality_scores>`\n\nReplace each N with an integer from 1 to 10. No other text inside the tag. No commentary, no explanation, no formatting. The platform parses this tag, strips it from the user-facing content, and saves the JSON to the database.\n\n---\n\n# CRITICAL: How to use the examples below\n\nThe four snippets below come from FOUR different fictional candidates. They demonstrate voice, density, and insight-first evidence style ONLY. Do not reuse their content, their conclusions, or their sentence patterns for a real candidate. Reproduce the FORM, never the CONTENT.\n\n**Snippet 1 (insight-first, evidence in a clause), fictional operations manager:**\n\n\"You describe yourself as risk-averse, but your history disagrees: three voluntary moves into companies less than two years old. What you avoid isn't risk, it's risk you don't control. That distinction matters, because it rules out some 'safe' paths that would quietly make you miserable, and opens some 'risky' ones that wouldn't.\"\n\n**Snippet 2 (pattern across happiness data), fictional teacher:**\n\n\"Your happiness scores don't track with workload; your busiest year was also your highest score. They track with whether you could see your effect on individual students. Scale, not effort, is your burnout variable. Any role that puts a dashboard between you and the people you help will drain you no matter how light the hours are.\"\n\n**Snippet 3 (development hypothesis), fictional analyst:**\n\n\"You flagged public speaking and self-promotion as growth areas, yet you describe yourself as confident one-on-one. One read: the skill is already there, and what's missing is a setting where visibility feels like sharing information rather than performing. That's worth testing before you invest in presentation training you may not need.\"\n\n**Snippet 4 (values tension), fictional nurse:**\n\n\"Helping others tops your values, but your lowest happiness score came from your most hands-on caregiving role. The two aren't contradictory: your answers suggest you want to help at the level of systems, not individual moments of care. That reframe changes which 'meaningful' jobs are actually meaningful for you.\"\n\n___\n\n# Avoid Words list:\n\n## Adjectives and Modifiers to Avoid:\n- valuable\n- significant (when describing abilities/advantages)\n- interesting\n- natural/naturally (when describing talents)\n- impressive\n- exceptional\n- remarkable\n- extraordinary\n- outstanding\n- unique\n- rare\n- perfect/perfectly\n- ideal/ideally\n- admirable\n- clear/clearly (as emphasis)\n- obvious/obviously (as emphasis)\n\n## Flattery Phrases to Avoid:\n- \"you have a valuable ability to...\"\n- \"gives you a significant advantage\"\n- \"positions you perfectly for...\"\n- \"you possess...\"\n- \"natural talent for...\"\n- \"you bring a wealth of...\"\n- \"your impressive track record...\"\n- \"this is particularly valuable because...\"\n- \"what makes this especially powerful...\"\n\n## Corporate/Generic Business Speak to Avoid:\n- serves you well\n- positions you as\n- represents an opportunity\n- suggests an untapped opportunity\n- creates a significant advantage\n- gives you a real edge\n- particularly powerful\n- especially impactful\n- meaningful impact\n- drive results\n- move the needle\n- leverage (overuse)\n- synergy\n- dynamic\n- innovative (as adjective for person)\n- forward-thinking (for person)\n- cutting-edge (for person)\n\n## Unnecessary Qualifiers/Hedges to Avoid:\n- \"The fact that...\"\n- \"It's worth noting that...\"\n- \"What's interesting is...\"\n- \"The reality is that...\"\n- \"It's important to recognize...\"\n- \"One thing to consider...\"\n- \"What's particularly noteworthy...\"\n- \"An important aspect to highlight...\"\n\n## AI-Sounding Transition Phrases to Avoid:\n- \"Let's explore...\"\n- \"It's crucial to understand...\"\n- \"Building on this...\"\n- \"Taking this further...\"\n- \"Diving deeper...\"\n- \"This begs the question...\"\n- \"At the end of the day...\"\n- \"The bottom line is...\"\n\n## Words to Use Sparingly (Not Banned, But Watch Overuse):\n- visionary (use only if absolutely specific)\n- passionate\n- dedicated\n- driven (okay occasionally)\n- strategic (overused)\n- innovative (as descriptor)\n- transformative\n- impactful\n\n## Better Alternatives:\n\nInstead of \\u2192 Use:\n- \"serves you well\" \\u2192 \"works well\" / \"helps\" / \"fits\"\n- \"significant advantage\" \\u2192 \"advantage\" / \"edge\" / just state the benefit\n- \"positions you perfectly\" \\u2192 \"positions you well\" / \"fits well with\"\n- \"valuable ability\" \\u2192 just describe the ability\n- \"interesting pattern\" \\u2192 \"pattern\" / \"worth noting\"\n- \"particularly powerful\" \\u2192 \"especially useful\" / just state why it matters\n- \"represents an opportunity\" \\u2192 \"points to\" / \"suggests\"\n- \"leverage your strengths\" \\u2192 \"use your strengths\"\n\nThe Core Principle: \nIf you can remove the adjective/modifier and the sentence is still clear and meaningful, remove it. Let the specific observations carry the weight, not the evaluative language.\n\n- STAY BETWEEN 120 and 220 words per section. NEVER exceed 250.\n- Remember the second person perspective. NOT \"Jake is a\" BUT \"Jake, you are a\"\n- DO NOT REFERENCE QUESTION LABELS eg. '7b' in your narratives! Never!\n\n# OUTPUT LANGUAGE (CRITICAL — overrides the English headers above)\npreferred_language = {{ $('Process Survey Data1').first().json.preferred_language }}\nIf preferred_language is NOT 'nl', ignore this section and write in English exactly as instructed above.\n\nIf preferred_language IS 'nl', write your ENTIRE output in Dutch: informal je/jij/jouw (never 'u'),\nno em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English\n(Cairnly, outside-the-box, runner-up). Keep the meaning and structure identical to the English spec.\n\nWhen writing in Dutch you MUST use these EXACT Dutch section headers (##) and bold subheaders INSTEAD of\nthe English ones, so downstream parsing keeps working:\n## Understanding Your Approach  ->  ## Jouw aanpak begrijpen\n    **Personality and Interaction Style**  ->  **Persoonlijkheid en interactiestijl**\n    **Impact in Different Environments**  ->  **Impact in verschillende omgevingen**\n    **Key Insight**  ->  **Belangrijkste inzicht**\n## Strengths and How to Grow Them  ->  ## Sterke punten en hoe je ze ontwikkelt\n    **Identifying Your Core Strengths**  ->  **Je kernkwaliteiten in kaart**\n    **Leveraging Strengths in Your Career**  ->  **Je sterke punten benutten in je loopbaan**\n    **Key Insight**  ->  **Belangrijkste inzicht**\n## Areas for Development  ->  ## Ontwikkelpunten\n    **Understanding Potential Growth Areas**  ->  **Inzicht in je groeigebieden**\n    **Implications for Your Growth**  ->  **Wat dit betekent voor je groei**\n    **Key Insight**  ->  **Belangrijkste inzicht**\n## Aligning with Your Values  ->  ## Aansluiten bij je waarden\n    **Identifying Your Core Values**  ->  **Je kernwaarden in kaart**\n    **Values in Career Decisions**  ->  **Waarden in loopbaankeuzes**\n    **Key Insight**  ->  **Belangrijkste inzicht**\n\nKeep the <personality_scores>...</personality_scores> block EXACTLY as specified (English keys, structured\nJSON) regardless of language — the dashboard parses it.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,624],"id":"c61ad8f0-f68f-4bf0-9eb2-41ec589ed7fd","name":"prompt_perso_prof1"},{"parameters":{"promptType":"define","text":"={{ $json.instructions_perso_profile }}","batching":{}},"id":"749b16ca-6338-46d5-b1da-839b8c976ea3","name":"generate_personality_narrative1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2336,624]},{"parameters":{"jsCode":"// ---------------- CONFIG ----------------\nconst SUBHEADER_PATTERNS_ALL = {\n  en: {\n  approach: [\n    \"Personality and Interaction Style\",\n    \"Impact in Different Environments\",\n    \"Key Insight\"\n  ],\n  strengths: [\n    \"Identifying Your Core Strengths\",\n    \"Leveraging Strengths in Your Career\",\n    \"Key Insight\"\n  ],\n  development: [\n    \"Understanding Potential Growth Areas\",\n    \"Implications for Your Growth\",\n    \"Key Insight\"\n  ],\n  values: [\n    \"Identifying Your Core Values\",\n    \"Values in Career Decisions\",\n    \"Key Insight\"\n  ]\n},\n  nl: {\n  approach: [\n    \"Persoonlijkheid en interactiestijl\",\n    \"Impact in verschillende omgevingen\",\n    \"Belangrijkste inzicht\"\n  ],\n  strengths: [\n    \"Je kernkwaliteiten in kaart\",\n    \"Je sterke punten benutten in je loopbaan\",\n    \"Belangrijkste inzicht\"\n  ],\n  development: [\n    \"Inzicht in je groeigebieden\",\n    \"Wat dit betekent voor je groei\",\n    \"Belangrijkste inzicht\"\n  ],\n  values: [\n    \"Je kernwaarden in kaart\",\n    \"Waarden in loopbaankeuzes\",\n    \"Belangrijkste inzicht\"\n  ]\n}\n};\nconst __lang = ($('Process Survey Data1').first().json.preferred_language === 'nl') ? 'nl' : 'en';\nconst SUBHEADER_PATTERNS = SUBHEADER_PATTERNS_ALL[__lang];\n\n// ---------------- HELPERS ----------------\nfunction cleanMarkdown(text) {\n  return text\n    .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n    .replace(/__(.*?)__/g, '$1')\n    .replace(/\\*(.*?)\\*/g, '$1')\n    .trim();\n}\n\nfunction extractSections(content, sectionType) {\n  const patterns = SUBHEADER_PATTERNS[sectionType] || [];\n  if (patterns.length === 0) return [];\n\n  const regex = new RegExp(`(${patterns.join('|')}):?`, 'gi');\n  const parts = content.split(regex).filter(Boolean);\n  const sections = [];\n\n  for (let i = 0; i < parts.length; i++) {\n    const p = parts[i].trim();\n    if (patterns.some(ph => new RegExp(ph, 'i').test(p))) {\n      const subheader = p.replace(/:$/, '').trim();\n      const next = parts[i + 1] ? parts[i + 1].trim() : '';\n      sections.push({ subheader, content: next });\n      i++;\n    }\n  }\n  // Fallback: if no known subheaders matched (e.g. localized text the\n  // patterns don't cover), keep the whole section as one block instead of\n  // dropping it. Guarantees no section is ever lost to a pattern miss.\n  if (sections.length === 0) {\n    const whole = content.trim();\n    return whole ? [{ subheader: '', content: whole }] : [];\n  }\n  return sections;\n}\n\n// ---------------- SOURCE DATA ----------------\nconst narrativeData = $('generate_personality_narrative1').first().json;\nconst reportId = $('Process Survey Data1').first().json.report_id;\n\n// Get the init_summary content from Prep node (already cleaned HTML)\nconst initSummaryContent = $('Prep init_summary').first().json.content;\n\n// ============== Extract personality_scores tag ==============\n// The prompt appends a hidden <personality_scores>{...}</personality_scores>\n// tag at the very end of the narrative. Pull it out, parse the JSON, and\n// strip the tag from the text BEFORE we parse sections so the prose stays\n// clean. The scores get attached to the `approach` section row's metadata\n// column, where the dashboard's Personality Radar reads them from.\nlet personalityScores = null;\nlet narrativeText = narrativeData.text || '';\nconst scoresMatch = narrativeText.match(/<personality_scores>\\s*([\\s\\S]*?)\\s*<\\/personality_scores>/i);\nif (scoresMatch) {\n  try {\n    personalityScores = JSON.parse(scoresMatch[1].trim());\n  } catch (err) {\n    console.warn('[extract_report_sections] personality_scores JSON parse failed:', err.message);\n  }\n  narrativeText = narrativeText.replace(scoresMatch[0], '').trim();\n}\n// ============================================================\n\n// ---------------- NARRATIVE EXTRACTION ----------------\nconst titleRegex = /#{1,3}\\s*([^\\n#]+)/g;\nconst titles = [];\nlet match;\nwhile ((match = titleRegex.exec(narrativeText)) !== null) {\n  titles.push(match[1].trim());\n}\n\nconst contents = narrativeText.split(/#{1,3}\\s*[^\\n#]+\\n*/g);\ncontents.shift();\n\nconst sectionTypes = ['approach', 'strengths', 'development', 'values'];\nconst parsedSections = [];\n\nfor (let i = 0; i < contents.length; i++) {\n  const sectionType = sectionTypes[i];\n  const raw = cleanMarkdown(contents[i]);\n  parsedSections.push(extractSections(raw, sectionType));\n}\n\n// ---------------- OUTPUT ALL 5 SECTIONS ----------------\n// init_summary + 4 narrative sections, all inserted to SB in one batch.\n// Approach gets the personality_scores attached as metadata.\n// Other sections leave metadata null.\nconst allSections = [\n  {\n    section_type: 'init_summary',\n    title: 'Initial Summary',\n    content: initSummaryContent,\n    isRawContent: true,\n    metadata: null\n  },\n  {\n    section_type: 'approach',\n    title: titles[0] || null,\n    content: parsedSections[0] || [],\n    metadata: personalityScores ? { personality_scores: personalityScores } : null\n  },\n  { section_type: 'strengths',   title: titles[1] || null, content: parsedSections[1] || [], metadata: null },\n  { section_type: 'development', title: titles[2] || null, content: parsedSections[2] || [], metadata: null },\n  { section_type: 'values',      title: titles[3] || null, content: parsedSections[3] || [], metadata: null }\n];\n\nreturn allSections\n  .filter(s => s.content && (s.isRawContent || (Array.isArray(s.content) && s.content.length > 0)))\n  .map(s => {\n    let formatted;\n\n    if (s.isRawContent) {\n      formatted = s.content;\n    } else {\n      formatted = s.content.map(block => {\n        const subheader = block.subheader && block.subheader.trim()\n          ? `<h5>${block.subheader}</h5>\\n\\n`\n          : '';\n        const text = block.content || '';\n        return `${subheader}${text}`;\n      }).join('\\n\\n');\n    }\n\n    // CRITICAL: every row MUST have the same set of keys. PostgREST\n    // bulk insert (PGRST102) rejects arrays where keys differ across rows.\n    // metadata is always present and is null unless this is the approach row.\n    return {\n      report_id: reportId,\n      section_type: s.section_type,\n      title: s.title,\n      content: formatted,\n      metadata: s.metadata ?? null,\n      language: __lang\n    };\n  });"},"id":"050a36f6-ffcf-4544-ad6e-ea797f085d64","name":"extract_report_sections_code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,624],"executeOnce":false},{"parameters":{"operation":"update","tableId":"reports","filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"=processing"},{"keyName":"id","condition":"eq","keyValue":"={{ $json.report_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"pending_review"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3136,624],"id":"1e82c018-ac14-4a67-b64b-96c769209f16","name":"update status1","executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"workflowId":{"__rl":true,"value":"vVv0tsnFlBnarMdq","mode":"list","cachedResultUrl":"/workflow/vVv0tsnFlBnarMdq","cachedResultName":"Atlas Assessments — WF2.2_Source to Enrich 15"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3584,624],"id":"8ed2c944-69f1-4cca-a0f7-532623048621","name":"Execute Suitable Jobs1"},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2336,896],"id":"cd6bacee-4523-404c-992c-5ca496da1941","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}}],"connections":{"Survey complete Webhook2":{"main":[[{"node":"Process Survey Data1","type":"main","index":0}]]},"Prep init_summary":{"main":[[{"node":"prompt_perso_prof1","type":"main","index":0}]]},"SB insert all sections":{"main":[[{"node":"update status1","type":"main","index":0}]]},"pass report_id to WF2":{"main":[[{"node":"Execute Suitable Jobs1","type":"main","index":0}]]},"Process Survey Data1":{"main":[[{"node":"prompt_init_summary1","type":"main","index":0}]]},"prompt_init_summary1":{"main":[[{"node":"Initial_summary1","type":"main","index":0}]]},"Initial_summary1":{"main":[[{"node":"Prep init_summary","type":"main","index":0}]]},"3F":{"ai_languageModel":[[{"node":"Initial_summary1","type":"ai_languageModel","index":0}]]},"prompt_perso_prof1":{"main":[[{"node":"generate_personality_narrative1","type":"main","index":0}]]},"generate_personality_narrative1":{"main":[[{"node":"extract_report_sections_code1","type":"main","index":0}]]},"extract_report_sections_code1":{"main":[[{"node":"SB insert all sections","type":"main","index":0}]]},"update status1":{"main":[[{"node":"pass report_id to WF2","type":"main","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"generate_personality_narrative1","type":"ai_languageModel","index":0}]]}},"nodeGroups":[],"authors":"Sjoerd Geurts","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-10T10:15:35.202Z","id":1524,"workflowId":"0Z8WxV5tVFMJqIZt","versionId":"3bd729bc-1253-4984-9cd6-403c7cdbfafd","event":"activated","userId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"},{"createdAt":"2026-07-10T10:15:35.113Z","id":1523,"workflowId":"0Z8WxV5tVFMJqIZt","versionId":"3bd729bc-1253-4984-9cd6-403c7cdbfafd","event":"deactivated","userId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"}]}}