n8n_wfs_cairnly/WF1S_create_body_20260705.json
{
 "name": "WF1S - Starter Profile Insert EN",
 "nodes": [
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "93b436af-3fd2-425d-a28d-c14ede73f427",
    "options": {
     "allowedOrigins": "*",
     "binaryPropertyName": "",
     "ignoreBots": false,
     "responseHeaders": {
      "entries": [
       {
        "name": "Content-Type",
        "value": "application/json"
       }
      ]
     }
    }
   },
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    768,
    624
   ],
   "id": "fc56f3da-e4a7-4a41-96f9-f5223e0b5a6f",
   "name": "Starter Survey complete Webhook",
   "webhookId": "59f4d098-efe2-4f3d-ba94-b39aca13079a"
  },
  {
   "parameters": {
    "jsCode": "// Clean up initial summary for downstream use\n// This content feeds directly into prompt_perso_prof AND gets inserted to SB later\nconst summaryRaw = $('Initial_summary1').first().json.text || '';\nconst reportId = $('Process Survey Data1').first().json.report_id;\n\n// Clean markdown formatting, convert to HTML (same logic as original)\nlet content = summaryRaw\n  .replace(/###\\s*\\*\\*([^*]+)\\*\\*/g, '<h5>$1</h5>')\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\*([^*]+)\\*/g, '$1')\n  .trim();\n\nreturn [{\n  json: {\n    report_id: reportId,\n    content: content\n  }\n}];"
   },
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1872,
    624
   ],
   "id": "4db5cbe1-b244-40ad-acbe-1a3be924d281",
   "name": "Prep init_summary"
  },
  {
   "parameters": {
    "tableId": "report_sections",
    "dataToSend": "autoMapInputData"
   },
   "type": "n8n-nodes-base.supabase",
   "typeVersion": 1,
   "position": [
    2912,
    624
   ],
   "id": "bb555d97-bead-46c0-be07-0f32a55816c8",
   "name": "SB insert all sections",
   "credentials": {
    "supabaseApi": {
     "id": "jYr9UcuCbwO8Um80",
     "name": "SB Cairnly (n8n cred)"
    }
   }
  },
  {
   "parameters": {
    "assignments": {
     "assignments": [
      {
       "id": "b2517078-26eb-406a-8d10-900e66880eb5",
       "name": "=report_id",
       "value": "={{ $json.id }}",
       "type": "string"
      },
      {
       "id": "e608eaae-85e8-4b81-981c-62e7895717d6",
       "name": "preferred_language",
       "value": "={{ $('Process Survey Data1').first().json.preferred_language }}",
       "type": "string"
      }
     ]
    },
    "options": {}
   },
   "type": "n8n-nodes-base.set",
   "typeVersion": 3.4,
   "position": [
    3360,
    624
   ],
   "id": "2271daf9-8ab3-4d4c-b55b-b4c43479729c",
   "name": "pass report_id to WF2",
   "executeOnce": false
  },
  {
   "parameters": {
    "jsCode": "// 1. MASTER SCHEMA - Maps ID to UUID and Full Question Data (STARTER survey 00000000-0000-0000-0000-000000000002)\n  const SURVEY_SCHEMA = {\n    // --- SECTION 1: Getting to know you ---\n    \"1a\": { uuid: \"a1a1a1a1-0001-4000-a000-000000000001\", question: \"Your name\", type: \"short_text\", options: [], description: \"First and last name\" },\n    \"1b\": { uuid: \"a1a1a1a1-0001-4000-a000-000000000002\", question: \"Your age\", type: \"number\", options: [], description: \"\" },\n    \"1c\": { uuid: \"a1a1a1a1-0001-4000-a000-000000000003\", question: \"What region are you based?\", type: \"dropdown\", options: [\"Northern and Western Europe\", \"Southern and Eastern Europe\", \"United Kingdom (London)\", \"United Kingdom (Other)\", \"United States (High-Cost Regions)\", \"United States (Average-Cost Regions)\", \"United States (Lower-Cost Regions)\", \"Canada\", \"Australia and New Zealand\", \"Switzerland\"], description: \"If you are about to move, pick the region you are moving to.\" },\n    \"1d\": { uuid: \"a1a1a1a1-0001-4000-a000-000000000004\", question: \"What's your current situation?\", type: \"multiple_choice\", options: [\"Studying full-time\", \"Just graduated, looking for my first serious job\", \"Working my first job, wondering if it's the right one\", \"Working a job I want out of\", \"Taking a gap or in-between period\"], description: \"\" },\n    \"1e\": { uuid: \"a1a1a1a1-0001-4000-a000-000000000005\", question: \"Highest education completed or in progress\", type: \"dropdown\", options: [\"High school\", \"Vocational or trade school\", \"Associate degree\", \"Bachelor's degree\", \"Master's degree\", \"PhD\", \"Self-taught or online courses\", \"Other\"], description: \"\" },\n    \"1f\": { uuid: \"a1a1a1a1-0001-4000-a000-000000000006\", question: \"What did (or do) you study?\", type: \"short_text\", options: [], description: \"Field of study or main subject.\" },\n    \"1g\": { uuid: \"a1a1a1a1-0001-4000-a000-000000000007\", question: \"What work experience do you have so far?\", type: \"multiple_choice\", options: [\"Side jobs (retail, hospitality, delivery, tutoring...)\", \"One or more internships\", \"Volunteering\", \"Student association or committee work\", \"Freelance gigs or my own hustle\", \"Helping in a family business\", \"None yet, and that's okay\"], description: \"Select everything that applies.\" },\n    \"1h\": { uuid: \"a1a1a1a1-0001-4000-a000-000000000008\", question: \"Tell us about the work you've done so far\", type: \"long_text\", options: [], description: \"Jobs, internships, projects. What they actually did, liked, and hated.\" },\n\n    // --- SECTION 2: How you operate ---\n    \"2a\": { uuid: \"a1a1a1a1-0002-4000-a000-000000000001\", question: \"In a group, where do you usually find yourself?\", type: \"multiple_choice\", options: [\"Energizing the room and connecting people\", \"Contributing when I have something real to add\", \"Observing first, acting once I get the picture\", \"It depends completely on the group\"], description: \"Social energy\" },\n    \"2b\": { uuid: \"a1a1a1a1-0002-4000-a000-000000000002\", question: \"When you face a big decision, what do you actually do?\", type: \"multiple_choice\", options: [\"Research everything until I'm sure\", \"Go with my gut and adjust later\", \"Talk it through with people I trust\", \"Put it off until I'm forced to choose\"], description: \"Decision style\" },\n    \"2c\": { uuid: \"a1a1a1a1-0002-4000-a000-000000000003\", question: \"Structure or freedom?\", type: \"multiple_choice\", options: [\"Give me clear instructions and a plan\", \"Give me the goal and freedom in how I get there\", \"A mix, depending on the task\"], description: \"\" },\n    \"2d\": { uuid: \"a1a1a1a1-0002-4000-a000-000000000004\", question: \"How do you handle deadline pressure?\", type: \"multiple_choice\", options: [\"I thrive on it, my best work happens under pressure\", \"I perform fine but prefer calm\", \"I get stressed and it shows\", \"I avoid it by starting early\"], description: \"\" },\n    \"2e\": { uuid: \"a1a1a1a1-0002-4000-a000-000000000005\", question: \"How do you learn best?\", type: \"multiple_choice\", options: [\"By doing and trying things\", \"Videos and tutorials\", \"Reading and taking notes\", \"Someone explaining it to me one-on-one\", \"Trial and error until it clicks\"], description: \"Pick up to 2.\" },\n    \"2f\": { uuid: \"a1a1a1a1-0002-4000-a000-000000000006\", question: \"How do you deal with feedback or criticism?\", type: \"multiple_choice\", options: [\"I actively look for it and use it\", \"I appreciate it but need a moment first\", \"I find it hard and can take it personally\", \"Depends entirely on who it comes from\"], description: \"\" },\n    \"2g\": { uuid: \"a1a1a1a1-0002-4000-a000-000000000007\", question: \"In a team project, which role do you naturally take?\", type: \"multiple_choice\", options: [\"The organizer who keeps everyone on track\", \"The ideas person\", \"The one who quietly gets the work done\", \"The peacemaker who keeps the vibe good\", \"The critical one who spots the problems\"], description: \"\" },\n\n    // --- SECTION 3: What drives you ---\n    \"3a\": { uuid: \"a1a1a1a1-0003-4000-a000-000000000001\", question: \"Rank what matters most in your (next) job\", type: \"ranking\", options: [\"**Learning & Growth** (getting better fast, building real skills)\", \"**Financial independence** (my own money, my own life)\", \"**Job security** (stability I can count on)\", \"**Doing something that matters** (impact on people or the world)\", \"**Freedom & flexibility** (control over my time and place)\", \"**Belonging & good colleagues** (people I actually like)\", \"**Status & recognition** (being seen as good at what I do)\", \"**Enjoying the day-to-day** (liking the actual work)\"], description: \"(Most important on top, least important on the bottom)\" },\n    \"3b\": { uuid: \"a1a1a1a1-0003-4000-a000-000000000002\", question: \"A year into your first serious job, what would make you say 'this was a win'?\", type: \"long_text\", options: [], description: \"\" },\n    \"3c\": { uuid: \"a1a1a1a1-0003-4000-a000-000000000003\", question: \"Where's your head at with the job market right now?\", type: \"multiple_choice\", options: [\"Honestly anxious, it feels stacked against my generation\", \"Frustrated, I do everything right and get nowhere\", \"Neutral, it is what it is\", \"Optimistic, I'll find my way\", \"I haven't really thought about it\"], description: \"\" },\n    \"3d\": { uuid: \"a1a1a1a1-0003-4000-a000-000000000004\", question: \"And AI? How do you feel about it and work?\", type: \"multiple_choice\", options: [\"Worried it will eat the jobs I'm aiming for\", \"Confused about what it means for me\", \"Curious, I want to use it to get ahead\", \"I already use it daily\", \"Indifferent\"], description: \"\" },\n    \"3e\": { uuid: \"a1a1a1a1-0003-4000-a000-000000000005\", question: \"What's your biggest worry about starting your career?\", type: \"long_text\", options: [], description: \"\" },\n\n    // --- SECTION 4: Interests and strengths ---\n    \"4a\": { uuid: \"a1a1a1a1-0004-4000-a000-000000000001\", question: \"Which subjects did you actually enjoy in school or your studies?\", type: \"short_text\", options: [], description: \"The ones they would pick again.\" },\n    \"4b\": { uuid: \"a1a1a1a1-0004-4000-a000-000000000002\", question: \"What do friends or classmates come to you for?\", type: \"long_text\", options: [], description: \"The thing people naturally ask their help with.\" },\n    \"4c\": { uuid: \"a1a1a1a1-0004-4000-a000-000000000003\", question: \"What's the thing you're most proud of making, doing, or organizing?\", type: \"long_text\", options: [], description: \"A school project, a shift they ran, something built or posted online, an event, a personal record.\" },\n    \"4d\": { uuid: \"a1a1a1a1-0004-4000-a000-000000000004\", question: \"List personal interests or hobbies that matter to you\", type: \"interests_hobbies\", options: [], description: \"Up to 3 (e.g. gaming, football, thrifting, cooking, editing videos, sneakers, reading...)\" },\n    \"4e\": { uuid: \"a1a1a1a1-0004-4000-a000-000000000005\", question: \"How are you with technology?\", type: \"multiple_choice\", options: [\"I can make tech do things most people can't (coding, editing, automating)\", \"I learn any new tool fast\", \"I'm fine with everyday apps and tools\", \"I prefer to keep tech simple\"], description: \"\" },\n    \"4f\": { uuid: \"a1a1a1a1-0004-4000-a000-000000000006\", question: \"Which of these sound most like you?\", type: \"multiple_choice\", options: [\"Making or building things\", \"Analyzing and figuring things out\", \"Helping or teaching people\", \"Selling or convincing\", \"Organizing and planning\", \"Creating content or design\", \"Working with my hands\", \"Working with numbers\", \"Caring for people or animals\", \"Being outdoors and on the move\"], description: \"Pick 2 to 4.\" },\n\n    // --- SECTION 5: Where you work best ---\n    \"5a\": { uuid: \"a1a1a1a1-0005-4000-a000-000000000001\", question: \"Your ideal team setup?\", type: \"multiple_choice\", options: [\"A buzzing environment with lots of people\", \"A small, tight-knit team\", \"Mostly independent with regular check-ins\", \"A mix\"], description: \"\" },\n    \"5b\": { uuid: \"a1a1a1a1-0005-4000-a000-000000000002\", question: \"Desk, remote, or on your feet?\", type: \"multiple_choice\", options: [\"At a desk in an office\", \"Remote, from wherever\", \"Hands-on, on my feet or on location\", \"A mix\"], description: \"\" },\n    \"5c\": { uuid: \"a1a1a1a1-0005-4000-a000-000000000003\", question: \"What pace suits you?\", type: \"multiple_choice\", options: [\"Fast and varied, new things every day\", \"Steady with clear routines\", \"Waves: intense sprints, then calm\"], description: \"\" },\n    \"5d\": { uuid: \"a1a1a1a1-0005-4000-a000-000000000004\", question: \"How much guidance do you want from a manager at the start?\", type: \"multiple_choice\", options: [\"A lot, teach me the ropes properly\", \"Regular check-ins but room to try things\", \"Minimal, let me figure it out\"], description: \"\" },\n    \"5e\": { uuid: \"a1a1a1a1-0005-4000-a000-000000000005\", question: \"Any dealbreakers?\", type: \"multiple_choice\", options: [\"Rigid 9-to-5 with zero flexibility\", \"Constant overtime pressure\", \"Cut-throat competition between colleagues\", \"Boring, repetitive work\", \"No path to grow\", \"A long commute\", \"Formal dress codes and stiff culture\"], description: \"Optional. Up to 3.\" },\n\n    // --- SECTION 6: Practical reality ---\n    \"6a\": { uuid: \"a1a1a1a1-0006-4000-a000-000000000001\", question: \"Would you move for the right job?\", type: \"multiple_choice\", options: [\"Yes, anywhere\", \"Within my country\", \"Only near where I live now\", \"I want to stay where I am\"], description: \"\" },\n    \"6b\": { uuid: \"a1a1a1a1-0006-4000-a000-000000000002\", question: \"Salary versus learning: where are you?\", type: \"multiple_choice\", options: [\"Max salary now, I need the money\", \"A fair balance\", \"I'd take less pay for real growth\", \"Income barely matters to me yet\"], description: \"\" },\n    \"6c\": { uuid: \"a1a1a1a1-0006-4000-a000-000000000003\", question: \"Would you take a 'foot in the door' job that isn't the dream but leads toward it?\", type: \"multiple_choice\", options: [\"Absolutely, in is in\", \"Yes, if the path from A to B is clear\", \"Reluctantly\", \"No, I'm aiming straight at what I want\"], description: \"\" },\n    \"6d\": { uuid: \"a1a1a1a1-0006-4000-a000-000000000004\", question: \"Open to more studying or certifications?\", type: \"multiple_choice\", options: [\"Yes, even a full degree if it's worth it\", \"Short courses and certificates, sure\", \"Only learning on the job\", \"I'm done with studying\"], description: \"\" },\n    \"6e\": { uuid: \"a1a1a1a1-0006-4000-a000-000000000005\", question: \"When do you want (or need) to be working?\", type: \"dropdown\", options: [\"As soon as possible\", \"Within 3 months\", \"Within a year\", \"I'm still studying, planning ahead\"], description: \"\" },\n\n    // --- SECTION 7: Looking ahead ---\n    \"7a\": { uuid: \"a1a1a1a1-0007-4000-a000-000000000001\", question: \"What does a 'serious job' actually mean to you?\", type: \"long_text\", options: [], description: \"\" },\n    \"7b\": { uuid: \"a1a1a1a1-0007-4000-a000-000000000002\", question: \"Where do you hope to be in two years?\", type: \"long_text\", options: [], description: \"Loose is fine. A vibe, a salary, a title, a lifestyle.\" },\n    \"7c\": { uuid: \"a1a1a1a1-0007-4000-a000-000000000003\", question: \"What do you want to get out of Cairnly?\", type: \"multiple_choice\", options: [\"Concrete career directions that fit me\", \"An honest take on my strengths\", \"A realistic plan to actually get hired\", \"Understanding what AI means for my options\", \"Clarity, because my head is a mess\"], description: \"Select everything that applies.\" },\n    \"7d\": { uuid: \"a1a1a1a1-0007-4000-a000-000000000004\", question: \"Anything else we should know?\", type: \"long_text\", options: [], description: \"Optional. Context, constraints, a hunch about themselves, anything.\" }\n\n  };\n\n  // --- ROBUST DATA PROCESSING LOGIC ---\n  const inputItem = $input.first().json;\n  const rawResponses = inputItem.survey_responses?.responses || inputItem.body?.survey_responses?.responses || {};\n\n  // Surface report_id + user_id so downstream nodes can reference them\n  // via $('this_node').first().json.report_id without depending on rep_id1.\n  const reportId = inputItem.report_id || inputItem.body?.report_id || null;\n  const userId = inputItem.user_id || inputItem.body?.user_id || null;\n\n  const formattedQuestions = [];\n  let answeredCount = 0;\n\n  for (const [id, config] of Object.entries(SURVEY_SCHEMA)) {\n      let answer = rawResponses[config.uuid];\n\n      const result = {\n          questionId: id,\n          question: config.question,\n          type: config.type,\n          description: config.description || \"\",\n          chosen: [],\n          notChosen: [],\n          hasAnswer: false\n      };\n\n      if (answer !== undefined && answer !== \"\" && answer !== null) {\n          result.hasAnswer = true;\n          answeredCount++;\n\n          let answerArray = Array.isArray(answer) ? answer : [answer];\n          const cleanAnswers = answerArray.map(a => {\n              return typeof a === 'string' ? a.replace(/\\*\\*/g, '').trim() : a;\n          });\n\n          result.chosen = cleanAnswers;\n\n          if (config.options && config.options.length > 0) {\n              result.notChosen = config.options.filter(opt => {\n                  const optClean = opt.replace(/\\*\\*/g, '').trim();\n                  return !cleanAnswers.some(userAns => String(userAns).includes(optClean));\n              });\n          }\n      } else {\n          result.chosen = [];\n          result.notChosen = config.options || [];\n      }\n\n      formattedQuestions.push(result);\n  }\n\n  return [{\n      report_id: reportId,\n      user_id: userId,\n      preferred_language: inputItem.preferred_language || inputItem.body?.preferred_language || 'en',\n      summary: {\n          totalQuestions: Object.keys(SURVEY_SCHEMA).length,\n          answeredQuestions: answeredCount\n      },\n      questions: formattedQuestions\n  }];"
   },
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1024,
    624
   ],
   "id": "7c58dc3a-b0b7-41eb-8854-ac52ade77019",
   "name": "Process Survey Data1"
  },
  {
   "parameters": {
    "assignments": {
     "assignments": [
      {
       "id": "7aa95d3a-1db7-4d83-a689-72a703d056a5",
       "name": "initi summ prompt",
       "value": "=# ROLE\nYou are a Lead Data Architect specializing in candidate profile normalization. Your goal is to transform structured JSON survey data into a high-fidelity, judgment-free \"Source of Truth\" Fact Sheet.\n\n# TASK\nExtract every specific detail from the input JSON. Preserve verbatim free-text entries, \"Other\" answers, and personal comments. This candidate is at the start of their working life: their evidence is education, side jobs, internships, projects, hobbies, and self-report, NOT a career history. Do not interpret or coach; your job is to ensure the downstream Career Coach has 100% of the facts in a readable format.\n\n# OUTPUT FORMAT\n\n### **1. Core Identity & Current Status**\n- **Name:** [1a]\n- **Age:** [1b]\n- **Region:** [1c]\n- **Current Situation:** [1d]\n- **Timeline to Working:** [6e]\n\n### **2. Experience & Evidence Log**\n- **Experience Types:** [1g]\n- **Work Story:** [1h - Extract verbatim and fully. Include what they did, what they liked, and what they hated, in their own words]\n- **Proudest Achievement:** [Extract verbatim from 4c]\n- **What People Come to Them For:** [Extract verbatim from 4b]\n- **Technology Comfort:** [4e]\n\n### **3. Education & Personal Context**\n- **Education Level:** [1e]\n- **Field of Study:** [1f]\n- **Subjects They Actually Enjoyed:** [4a]\n- **Personal Interests/Hobbies:** [4d]\n- **Additional Context/Constraints:** [7d - Include any constraints, hunches, or personal notes]\n\n### **4. Values & Work Preferences**\n- **Ranked Job Values (High to Low):** [3a]\n- **One-Year Win Definition:** [Extract verbatim from 3b]\n- **Salary vs Learning Stance:** [6b]\n- **Dealbreakers:** [5e]\n\n### **5. Behavioral & Operational Profile**\n- **Social Energy in Groups:** [2a]\n- **Decision Style:** [2b]\n- **Structure vs Freedom:** [2c]\n- **Deadline Pressure Response:** [2d]\n- **Learning Style:** [2e]\n\n### **6. Team Dynamics & Feedback**\n- **Natural Team Role:** [2g]\n- **Feedback Handling:** [2f]\n- **Preferred Team Setup:** [5a]\n- **Preferred Manager Guidance Level:** [5d]\n\n### **7. Outlook, Goals & Practical Reality**\n- **Meaning of a \"Serious Job\":** [Extract verbatim from 7a]\n- **Two-Year Hope:** [Extract verbatim from 7b]\n- **Wants from Cairnly:** [7c]\n- **Job Market Feelings:** [3c]\n- **AI Feelings:** [3d]\n- **Biggest Career Worry:** [Extract verbatim from 3e]\n- **Mobility/Relocation:** [6a]\n- **Foot-in-the-Door Stance:** [6c]\n- **Openness to Further Study:** [6d]\n- **Preferred Work Setting:** [5b]\n- **Preferred Pace:** [5c]\n- **Self-Described Traits:** [4f]\n\n# CRITICAL INSTRUCTIONS\n- **Reference IDs:** Keep the Question ID (e.g., 1a, 7c) in brackets next to each fact\n- **Verbatim Content:** If a user wrote text, do not summarize it. Use the exact words\n- **Completeness:** If data exists for a field (like the Work Story in 1h), extract it fully\n- **Judgment-Free:** Do not use words like \"appears to be\" or \"struggles with.\" Simply state: \"Candidate reports [X]\"\n- **No Fabrication:** If a field has no answer, write \"Not provided\". Never invent data\n- **Evidence Parity:** Treat side jobs, internships, school projects, and hobbies as first-class facts. Do not downgrade or editorialize about limited experience\n\n\n# INPUT:\n\n{{ JSON.stringify($json.questions, null, 2) }}\n",
       "type": "string"
      }
     ]
    },
    "options": {}
   },
   "type": "n8n-nodes-base.set",
   "typeVersion": 3.4,
   "position": [
    1264,
    624
   ],
   "id": "308eb890-9f2b-4799-8e13-3870a7cbf9cb",
   "name": "prompt_init_summary1"
  },
  {
   "parameters": {
    "promptType": "define",
    "text": "={{ $json[\"initi summ prompt\"] }}",
    "batching": {}
   },
   "id": "01564a9f-d77e-402f-95be-11493989861e",
   "name": "Initial_summary1",
   "type": "@n8n/n8n-nodes-langchain.chainLlm",
   "typeVersion": 1.7,
   "position": [
    1504,
    624
   ]
  },
  {
   "parameters": {
    "modelName": "models/gemini-flash-latest",
    "options": {}
   },
   "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
   "typeVersion": 1,
   "position": [
    1504,
    784
   ],
   "id": "3147d3a2-b2d7-4cfc-a758-f8e430d08440",
   "name": "3F",
   "credentials": {
    "googlePalmApi": {
     "id": "Q653Teuy9nP6VLoE",
     "name": "Google Gemini(PaLM) Api account 3"
    }
   }
  },
  {
   "parameters": {
    "assignments": {
     "assignments": [
      {
       "id": "34c766ad-413a-463d-8f0b-50a646be4f67",
       "name": "instructions_perso_profile",
       "value": "=# Context\n\n# MANDATORY: SECOND PERSON VOICE\nThe input data below refers to the candidate in third person (\"the candidate\", \"he/his\").\nYou MUST write ALL output in second person: \"you\" and \"your\" throughout.\nUse their first name occasionally for warmth, but NEVER write about them in third person.\nThis applies to every sentence in every section. No exceptions.\n\nReview thoroughly:\n* the initial summary for candidate data:\n{{ $json.content }}\n\n# Role\n\nYou are a world-class career coach creating insightful personality analysis for someone at the START of their working life: a young person heading into their first or second serious job.\n\nTheir evidence is NOT a career history. It is education, side jobs, internships, volunteering, student committees, projects, hobbies, and how they describe themselves. Read that evidence with the same analytical seriousness you would give a 15-year CV. A supermarket shift, a group project, and a self-taught skill are real behavioral data.\n\n# Prompt for Narrative Generation\n\nUsing the candidate's detailed summary of survey answers, generate a narrative report that follows the layout below. Write in clear, direct business casual language.\n\nYour narrative report must include the following four sections:\n\n# Required Sections:\n\n## Understanding Your Approach\n\n**Personality and Interaction Style**\n\nDiscuss how the candidate's personality traits and interaction style show up in how they study, work side jobs, run projects, and operate in groups, and what that means for a work environment.\n\n**Impact in Different Environments**\n\nExplore how their personal attributes are likely to play out across different work settings and contexts, extrapolating carefully from the settings they have actually been in (school, side jobs, internships, teams, hobbies).\n\n**Key Insight**\n\nProvide 1-2 bottom-line realizations the candidate might not see themselves. Focus on connections or patterns that explain why they experience what they do. Reveal non-obvious implications, don't restate what they told you.\n\n## Strengths and How to Grow Them\n\n**Identifying Your Core Strengths**\n\nAnalyze the candidate's core strengths as revealed in their summary: their work story, proudest achievement, what people come to them for, subjects they enjoyed, and how they learn.\n\n**Leveraging Strengths in Your Career**\n\nExplain how these strengths can be leveraged as they enter the job market and build their first years of working life.\n\n**Key Insight**\n\nProvide 1-2 bottom-line realizations about what their strengths actually mean. Focus on the underlying capability or pattern that connects different examples. Reveal their competitive advantage or unique positioning.\n\n## Areas for Development\n\n**Understanding Potential Growth Areas**\n\nIdentify potential areas for improvement drawing on the summary. For a starter, growth areas are normal and expected; name them plainly, without alarm and without softening them into nothing.\n\n**Implications for Your Growth**\n\nDiscuss how these areas might impact their professional development, effectiveness, and potential in their first serious roles.\n\n**Key Insight**\n\nProvide 1-2 bottom-line realizations about why these challenges exist or how they connect to each other. Look for genuine patterns, but present any underlying cause as a tentative hypothesis the candidate can confirm or reject (e.g. 'this might stem from...', 'one read is...'), not as a fixed diagnosis. Do not force a single root cause. Never name a specific tendency (e.g. perfectionism) unless this candidate's own data shows it, and only build on tendencies they actually selected or described.\n\n[note on this section: when relevant for the user, highlight that while AI skills matter, employers in the age of AI increasingly value human-centric skills like empathy, critical thinking, adaptability, and communication, because these are harder for AI to replicate. This matters double for someone entering the market now: classic junior tasks are the first ones AI absorbs, so the fastest way to stay valuable early in a career is combining practical AI fluency with the human skills that make teams work. Frame this as opportunity, not threat, and only where the candidate's data makes it relevant.]\n\n## Aligning with Your Values\n\n**Identifying Your Core Values**\n\nHighlight the candidate's core values as evidenced by their ranked values, their definition of a one-year win, what a \"serious job\" means to them, and their two-year hopes.\n\n**Values in Career Decisions**\n\nExplain how these values should influence their first career decisions: which jobs to say yes to, what trade-offs to accept, and what to protect from day one.\n\n**Key Insight**\n\nProvide 1-2 bottom-line realizations about what their values reveal. Focus on tensions between stated priorities, mismatches between what they say they want and what their answers show, or non-obvious implications for their starting direction.\n\n# Content Requirements:\n\n**Critical focus areas:**\n\n* PERSONALITY ONLY - Do not discuss career feasibility, specific job recommendations, or dreamjob analysis. Those come in later phases. Stick to personality traits, interaction patterns, and what can be derived from behavioral data.\n* Focus on interpretation and pattern recognition, not recitation of survey answers\n* Don't list their experiences back to them - they know what they've done\n* Extract the underlying capability or pattern instead\n* Key insights reveal something non-obvious - what their data means, not what they said\n* Never tell the candidate something they explicitly stated in their answers; restating their own input is not an insight. Connect or contrast across answers to reveal a pattern they did not name themselves.\n* Ground every trait or tendency you mention in this candidate's actual data. Do not infer or import tendencies that aren't supported (for example, do not assume perfectionism from starting early on deadlines); when you propose a cause, frame it as a hypothesis to confirm, not a verdict.\n* Integrate what the candidate wants to get out of Cairnly and their two-year outlook naturally where relevant.\n\n**Starter Interpretation Lens (Cairnly Starter serves people at the start):**\nThis candidate is landing their first or second serious job. Apply these rules when reading their data:\n\n- Treat side jobs, internships, school projects, committees, and hobbies as legitimate behavioral evidence. How someone ran a shift, handled a group project, or taught themselves a skill IS their work personality showing up early.\n- Never write anything that implies their evidence is lesser, thin, or \"not real experience.\" No apologizing for their stage of life, and no inflating it either.\n- Do not manufacture a professional track record. If the data is limited on some dimension, work with what is there and keep claims proportionate to the evidence.\n- Anxiety about the job market or AI is context, not a personality flaw. Where the data shows it, acknowledge it honestly and without amplifying it. Do not lecture them about resilience.\n- If their two-year hopes, ranked values, biggest worry, or one-year win definition contradict each other, surface that tension as a Key Insight in Aligning with Your Values. Do not take stated ambitions at face value when other signals point elsewhere.\n- Statements about what they want out of Cairnly (clarity, honest strengths take, a plan) tell you what kind of reassurance or directness they need. Meet that need through the analysis itself, never by mentioning the platform.\n- DO NOT MENTION QUESTION LABELS eg. '7b' in your narratives! Never!\n\n\n**Writing style:**\n\n* Write in active voice with short, punchy sentences\n* Break content into smaller paragraphs (2-4 sentences max)\n* Use sub-sub-headers within narrative sections when helpful for clarity, but make them **bold**\n* if using bulletpoints, make the bullet lable bold for readability and emphasis\n* Maintain business casual tone throughout: honest, warm, direct, never condescending\n* Do not use the em-dash in your narrative\n* Do not invent statistics or market numbers\n* Refer to the avoid words list at the bottom\n* Active voice, SECOND PERSON. Use 'you' and occasionally their name to adress them!\n\n* STAY BETWEEN 280 and 350 WORDS PER REPORT SECTION\n\n# Formatting Requirements:\n\nClearly separate each section with the section header exactly as written above (e.g., `Understanding Your Approach`).\n\nWithin each section, use plain paragraphs with **bolded sub-sub-headers** where helpful.\n\nFor Key Insight, write 1-2 concise paragraphs that reveal the bottom line - not numbered lists.\n\n# Personality Scoring (Internal \u2014 DO NOT SHOW IN PROSE)\n\nIn ADDITION to the four narrative sections above, append a structured score block at the very end of your response, after \"Aligning with Your Values\" and its Key Insight.\n\nThis block is for internal database use only. It powers a Personality Radar visualization in the candidate's dashboard. It MUST NOT appear anywhere in the prose. Do NOT mention these scores in the narrative. Do NOT reference numbers, percentages, or ratings in the report. Do NOT explain the dimensions to the candidate.\n\nScore the candidate on five interpretively rich dimensions, each on a 1-10 integer scale, based on your full reading of their data (survey answers, work story, proudest achievement, free-text answers, hobbies). These are AI judgments synthesized from the whole picture, NOT echoes of any single multiple-choice answer.\n\n**Dimensions:**\n\n- **strategic_depth** (1-10): Long-arc systems thinking and pattern recognition versus immediate, tactical, in-the-moment focus. High = thinks in years and systems, sees second-order effects, frames problems structurally. Low = strong present-moment focus, executes well on what's in front of them, less natural pull toward systemic framing.\n- **execution_bias** (1-10): Ships fast and iterates versus deliberates carefully before committing. High = strong action orientation, comfortable shipping imperfect work, learns by doing. Low = strong reflection orientation, prefers to think it through, ships when ready.\n- **people_intuition** (1-10): Reads social dynamics, organizational politics, and interpersonal subtext accurately versus misses these signals. High = naturally tracks group dynamics, anticipates interpersonal friction, reads the room. Low = primarily task-focused, surprised by political dynamics, prefers explicit communication.\n- **ambiguity_tolerance** (1-10): Thrives in unclear, evolving, undefined situations versus needs structure and clarity to perform at their best. High = energized by ambiguity, comfortable making decisions with incomplete information. Low = strong need for defined parameters, slows down or stresses without structure.\n- **recognition_pull** (1-10): Driven by external visibility, status, and acknowledgement versus internal satisfaction and the work itself. High = strongly motivated by being seen, public credit, status markers. Low = strongly motivated by internal craft satisfaction, less affected by external acknowledgement.\n\n**Calibration guidance:**\n\n- Use the full 1-10 range. Most candidates will land between 4 and 8 on most dimensions; reserve 9-10 and 1-2 for genuinely outlier signals supported by multiple data points.\n- Score on what the data shows, not on what the candidate self-reports they ARE. Someone who claims they thrive under pressure but whose free text describes stress and avoidance should NOT automatically score high on execution_bias.\n- Young candidates still get the full scale. Limited work history is not a reason to cluster everyone at 5; their stories, choices, and self-descriptions carry real signal.\n- The dimensions are independent. A candidate can be high on both strategic_depth and execution_bias.\n\n**Output format (REQUIRED, exact format):**\n\nAfter the final \"Aligning with Your Values\" section and one blank line, output the block exactly like this on a single line:\n\n`<personality_scores>{\"strategic_depth\": N, \"execution_bias\": N, \"people_intuition\": N, \"ambiguity_tolerance\": N, \"recognition_pull\": N}</personality_scores>`\n\nReplace each N with an integer from 1 to 10. No other text inside the tag. No commentary, no explanation, no formatting. The platform parses this tag, strips it from the user-facing content, and saves the JSON to the database.\n\n---\n\n# CRITICAL: How to use the example below\nThe example output below is based on ONE fictional candidate. It illustrates STRUCTURE, VOICE, DEPTH, and second-person tone ONLY. Do NOT carry any of its specific content into a real report. Its traits (including deadline avoidance, feedback sensitivity, and organizer tendencies), its specific tensions, and its studies, side jobs, values, and worries belong to that fictional person, not to your candidate. Reproduce the FORM, never the CONTENT. Describe only what the current candidate's data supports.\n\n# Example Output Format:\n\n## Understanding Your Approach\n\n**Personality and Interaction Style**\n\nYou watch first, then move. In groups you hold back until you have something real to add, and when you do speak, it lands because you've already thought it through. People noticed: classmates come to you when a plan needs to actually work, not when it needs a cheerleader.\n\nThat same pattern runs through your work story. At the cafe you didn't chase the loudest tasks. You quietly became the person who fixed the rota when someone dropped a shift. Nobody assigned you that role. You took it because disorder bothers you more than extra work does.\n\nHere's the flip side: you avoid deadline pressure by starting early, and you told us feedback can sting when it comes from the wrong person. Together, that reads as someone who protects their sense of control. Structure isn't just a preference for you, Sofia. It's how you keep your footing.\n\n**Impact in Different Environments**\n\nIn a clear setup with a manager who explains the ropes, you'll be productive within weeks. You learn by doing, you don't need applause, and you finish what you start. Small, tight teams will get your best version.\n\nDrop you into a chaotic scale-up with shifting priorities and no onboarding, and the picture changes. Your instinct to research everything before deciding becomes a brake when nobody gives you time to research. You'd cope, but coping isn't thriving.\n\n**Key Insight**\n\nYour early-starter habit and your caution with feedback are probably the same mechanism: you'd rather prevent criticism than absorb it. That works, but it means you're managing risk before anyone asked you to. One read is that you trust your preparation more than your recovery. Testing whether you can recover from a visible mistake, in a safe setting, might unlock more than another round of preparation ever will.\n\n---\n\n## Strengths and How to Grow Them\n\n**Identifying Your Core Strengths**\n\nStrip away the job titles you don't have yet and look at what's actually there. You organized a three-day intro week for two hundred students, on a budget, with volunteers you had no authority over. That is logistics, persuasion, and calm under load, demonstrated, not claimed.\n\nYour friends come to you to untangle plans and decisions. That's the same skill in a different costume: you take messy situations and give them structure. You enjoyed statistics and economics because they reward exactly that instinct.\n\nYou also learn by doing and by trial and error. You taught yourself video editing well enough that people ask you for help with it. Self-directed learning without a curriculum is the one skill that keeps compounding for the next forty years.\n\n**Leveraging Strengths in Your Career**\n\nEarly roles reward people who make things run. Your organizer profile means you can create visible value in month one, long before deep expertise arrives: own the process nobody owns, make the chaos legible, be the person whose work needs no chasing.\n\nPair that with your comfort learning tools on your own and you have a concrete edge in a market where juniors are told AI does the easy parts. The easy parts were never your value. Coordination and follow-through were.\n\n**Key Insight**\n\nYour real strength isn't organizing, it's converting responsibility nobody gave you into trust. The intro week, the rota, the editing help: each time, you claimed a problem informally and people started relying on you. That pattern is how careers accelerate without credentials. Your risk is doing it invisibly. The skill to add isn't competence, it's making sure the right people see the before and after.\n\n---\n\n## Areas for Development\n\n**Understanding Potential Growth Areas**\n\nTwo things in your data deserve honest attention. First, feedback. You said it depends entirely on who it comes from. In a first job, useful feedback will often come from people you don't rate yet or don't know. If you filter by messenger, you'll throw away signal you need most in year one.\n\nSecond, your relationship with pressure. Starting early is a strength, but you've built a system where you rarely find out how you perform when the buffer is gone. First jobs will remove your buffer without warning: a colleague quits, a deadline moves, a client changes their mind.\n\n**Implications for Your Growth**\n\nNeither of these is a flaw. They're untested edges, which is exactly what being twenty-two means. But they shape which environments will grow you versus grind you.\n\nA role with regular, structured feedback will train your feedback muscle gently. A role where the only feedback is a yearly review from a manager you never see will let the sensitivity harden into avoidance. You get some say in which one you pick.\n\nThe pressure question is similar. You don't need a high-pressure job to grow. You need controlled exposure: volunteering for the occasional tight deadline while the stakes are still small.\n\n**Key Insight**\n\nOne read of your answers is that you've optimized your whole operating style around not being caught unprepared. It gave you reliability, and it's why people trust you. The cost is that you may treat every surprise as a failure of planning rather than a normal Tuesday. If you can reclassify surprises as weather instead of verdicts, your preparation becomes a launchpad instead of a shield. Worth testing early, while mistakes are cheap.\n\n---\n\n## Aligning with Your Values\n\n**Identifying Your Core Values**\n\nYou ranked learning and growth first, belonging second, and status near the bottom. Your one-year win wasn't a title or a salary. It was being trusted with real responsibility and liking the people around you. That's a coherent picture: you measure progress by competence and connection, not by optics.\n\nYour definition of a serious job backs this up: something you can grow in, not just something that pays. And you'd take less pay for real growth, which most people say and fewer people rank the way you did.\n\n**Values in Career Decisions**\n\nThis gives you a usable filter. When you compare offers, weigh the manager and the learning curve heavier than the brand name. You'll do your best work for a boss who teaches, in a team small enough to belong to. A prestigious logo with a sink-or-swim culture would pay you in status, which you've told us you don't spend.\n\nProtect the belonging piece deliberately. It's the value most likely to be traded away in a tight market, and for you it isn't a nice-to-have. Your energy comes from a group you trust.\n\n**Key Insight**\n\nThere's one tension worth naming. You want growth, and growth at the start of a career comes packaged with exactly the two things your data says you brace against: unfiltered feedback and unplanned pressure. Your values and your comfort zone are pointing in slightly different directions. That's not a problem to fix before you start. It's the thing your first job is FOR. Pick an environment safe enough to practice in, and the tension resolves itself through reps, not reflection.\n\n___\n\n# Avoid Words list:\n\n## Adjectives and Modifiers to Avoid:\n- valuable\n- significant (when describing abilities/advantages)\n- interesting\n- natural/naturally (when describing talents)\n- impressive\n- exceptional\n- remarkable\n- extraordinary\n- outstanding\n- unique\n- rare\n- perfect/perfectly\n- ideal/ideally\n- admirable\n- clear/clearly (as emphasis)\n- obvious/obviously (as emphasis)\n\n## Flattery Phrases to Avoid:\n- \"you have a valuable ability to...\"\n- \"gives you a significant advantage\"\n- \"positions you perfectly for...\"\n- \"you possess...\"\n- \"natural talent for...\"\n- \"you bring a wealth of...\"\n- \"your impressive track record...\"\n- \"this is particularly valuable because...\"\n- \"what makes this especially powerful...\"\n\n## Corporate/Generic Business Speak to Avoid:\n- serves you well\n- positions you as\n- represents an opportunity\n- suggests an untapped opportunity\n- creates a significant advantage\n- gives you a real edge\n- particularly powerful\n- especially impactful\n- meaningful impact\n- drive results\n- move the needle\n- leverage (overuse)\n- synergy\n- dynamic\n- innovative (as adjective for person)\n- forward-thinking (for person)\n- cutting-edge (for person)\n\n## Condescension to Avoid (critical for this audience):\n- \"for someone your age...\"\n- \"despite your limited experience...\"\n- \"you'll understand when you've worked longer\"\n- \"real working life\" (implying theirs isn't)\n- \"when you grow up professionally\"\n- any framing of side jobs, studies, or hobbies as lesser evidence\n\n## Unnecessary Qualifiers/Hedges to Avoid:\n- \"The fact that...\"\n- \"It's worth noting that...\"\n- \"What's interesting is...\"\n- \"The reality is that...\"\n- \"It's important to recognize...\"\n- \"One thing to consider...\"\n- \"What's particularly noteworthy...\"\n- \"An important aspect to highlight...\"\n\n## AI-Sounding Transition Phrases to Avoid:\n- \"Let's explore...\"\n- \"It's crucial to understand...\"\n- \"Building on this...\"\n- \"Taking this further...\"\n- \"Diving deeper...\"\n- \"This begs the question...\"\n- \"At the end of the day...\"\n- \"The bottom line is...\"\n\n## Words to Use Sparingly (Not Banned, But Watch Overuse):\n- visionary (use only if absolutely specific)\n- passionate\n- dedicated\n- driven (okay occasionally)\n- strategic (overused)\n- innovative (as descriptor)\n- transformative\n- impactful\n\n## Better Alternatives:\n\nInstead of \u2192 Use:\n- \"serves you well\" \u2192 \"works well\" / \"helps\" / \"fits\"\n- \"significant advantage\" \u2192 \"advantage\" / \"edge\" / just state the benefit\n- \"positions you perfectly\" \u2192 \"positions you well\" / \"fits well with\"\n- \"valuable ability\" \u2192 just describe the ability\n- \"interesting pattern\" \u2192 \"pattern\" / \"worth noting\"\n- \"particularly powerful\" \u2192 \"especially useful\" / just state why it matters\n- \"represents an opportunity\" \u2192 \"points to\" / \"suggests\"\n- \"leverage your strengths\" \u2192 \"use your strengths\"\n\nThe Core Principle:\nIf you can remove the adjective/modifier and the sentence is still clear and meaningful, remove it. Let the specific observations carry the weight, not the evaluative language.\n\n- DO NOT go below 280 or over 400 words per section\n- remember the second person perspective. NOT \"Sofia is a \" BUT \"Sofia, you are a\"\n- DO NOT REFERENCE QUESTION LABELS eg. '7b' in your narratives! Never!\n\n# OUTPUT LANGUAGE (CRITICAL \u2014 overrides the English headers above)\npreferred_language = {{ $('Process Survey Data1').first().json.preferred_language }}\nIf preferred_language is NOT 'nl', ignore this section and write in English exactly as instructed above.\n\nIf preferred_language IS 'nl', write your ENTIRE output in Dutch: informal je/jij/jouw (never 'u'),\nno em-dashes, Dutch number/date formatting (\u20ac39,00, \u20ac1.500, dd-mm-jjjj). Keep brand terms in English\n(Cairnly, outside-the-box, runner-up). Keep the meaning and structure identical to the English spec.\n\nWhen writing in Dutch you MUST use these EXACT Dutch section headers (##) and bold subheaders INSTEAD of\nthe English ones, so downstream parsing keeps working:\n## Understanding Your Approach  ->  ## Jouw aanpak begrijpen\n    **Personality and Interaction Style**  ->  **Persoonlijkheid en interactiestijl**\n    **Impact in Different Environments**  ->  **Impact in verschillende omgevingen**\n    **Key Insight**  ->  **Belangrijkste inzicht**\n## Strengths and How to Grow Them  ->  ## Sterke punten en hoe je ze ontwikkelt\n    **Identifying Your Core Strengths**  ->  **Je kernkwaliteiten in kaart**\n    **Leveraging Strengths in Your Career**  ->  **Je sterke punten benutten in je loopbaan**\n    **Key Insight**  ->  **Belangrijkste inzicht**\n## Areas for Development  ->  ## Ontwikkelpunten\n    **Understanding Potential Growth Areas**  ->  **Inzicht in je groeigebieden**\n    **Implications for Your Growth**  ->  **Wat dit betekent voor je groei**\n    **Key Insight**  ->  **Belangrijkste inzicht**\n## Aligning with Your Values  ->  ## Aansluiten bij je waarden\n    **Identifying Your Core Values**  ->  **Je kernwaarden in kaart**\n    **Values in Career Decisions**  ->  **Waarden in loopbaankeuzes**\n    **Key Insight**  ->  **Belangrijkste inzicht**\n\nKeep the <personality_scores>...</personality_scores> block EXACTLY as specified (English keys, structured\nJSON) regardless of language \u2014 the dashboard parses it.",
       "type": "string"
      }
     ]
    },
    "options": {}
   },
   "type": "n8n-nodes-base.set",
   "typeVersion": 3.4,
   "position": [
    2112,
    624
   ],
   "id": "c61ad8f0-f68f-4bf0-9eb2-41ec589ed7fd",
   "name": "prompt_perso_prof1"
  },
  {
   "parameters": {
    "promptType": "define",
    "text": "={{ $json.instructions_perso_profile }}",
    "batching": {}
   },
   "id": "749b16ca-6338-46d5-b1da-839b8c976ea3",
   "name": "generate_personality_narrative1",
   "type": "@n8n/n8n-nodes-langchain.chainLlm",
   "typeVersion": 1.7,
   "position": [
    2336,
    624
   ]
  },
  {
   "parameters": {
    "model": "anthropic/claude-sonnet-4.6",
    "options": {}
   },
   "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
   "typeVersion": 1,
   "position": [
    2336,
    800
   ],
   "id": "de87e7f7-dbcf-4c42-b140-4d7bcfd85462",
   "name": "OpenRouter Chat Model1",
   "credentials": {
    "openRouterApi": {
     "id": "gGM2sOHB72WgN7UU",
     "name": "OpenRouter account 2"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "// ---------------- CONFIG ----------------\nconst SUBHEADER_PATTERNS_ALL = {\n  en: {\n  approach: [\n    \"Personality and Interaction Style\",\n    \"Impact in Different Environments\",\n    \"Key Insight\"\n  ],\n  strengths: [\n    \"Identifying Your Core Strengths\",\n    \"Leveraging Strengths in Your Career\",\n    \"Key Insight\"\n  ],\n  development: [\n    \"Understanding Potential Growth Areas\",\n    \"Implications for Your Growth\",\n    \"Key Insight\"\n  ],\n  values: [\n    \"Identifying Your Core Values\",\n    \"Values in Career Decisions\",\n    \"Key Insight\"\n  ]\n},\n  nl: {\n  approach: [\n    \"Persoonlijkheid en interactiestijl\",\n    \"Impact in verschillende omgevingen\",\n    \"Belangrijkste inzicht\"\n  ],\n  strengths: [\n    \"Je kernkwaliteiten in kaart\",\n    \"Je sterke punten benutten in je loopbaan\",\n    \"Belangrijkste inzicht\"\n  ],\n  development: [\n    \"Inzicht in je groeigebieden\",\n    \"Wat dit betekent voor je groei\",\n    \"Belangrijkste inzicht\"\n  ],\n  values: [\n    \"Je kernwaarden in kaart\",\n    \"Waarden in loopbaankeuzes\",\n    \"Belangrijkste inzicht\"\n  ]\n}\n};\nconst __lang = ($('Process Survey Data1').first().json.preferred_language === 'nl') ? 'nl' : 'en';\nconst SUBHEADER_PATTERNS = SUBHEADER_PATTERNS_ALL[__lang];\n\n// ---------------- HELPERS ----------------\nfunction cleanMarkdown(text) {\n  return text\n    .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n    .replace(/__(.*?)__/g, '$1')\n    .replace(/\\*(.*?)\\*/g, '$1')\n    .trim();\n}\n\nfunction extractSections(content, sectionType) {\n  const patterns = SUBHEADER_PATTERNS[sectionType] || [];\n  if (patterns.length === 0) return [];\n\n  const regex = new RegExp(`(${patterns.join('|')}):?`, 'gi');\n  const parts = content.split(regex).filter(Boolean);\n  const sections = [];\n\n  for (let i = 0; i < parts.length; i++) {\n    const p = parts[i].trim();\n    if (patterns.some(ph => new RegExp(ph, 'i').test(p))) {\n      const subheader = p.replace(/:$/, '').trim();\n      const next = parts[i + 1] ? parts[i + 1].trim() : '';\n      sections.push({ subheader, content: next });\n      i++;\n    }\n  }\n  // Fallback: if no known subheaders matched (e.g. localized text the\n  // patterns don't cover), keep the whole section as one block instead of\n  // dropping it. Guarantees no section is ever lost to a pattern miss.\n  if (sections.length === 0) {\n    const whole = content.trim();\n    return whole ? [{ subheader: '', content: whole }] : [];\n  }\n  return sections;\n}\n\n// ---------------- SOURCE DATA ----------------\nconst narrativeData = $('generate_personality_narrative1').first().json;\nconst reportId = $('Process Survey Data1').first().json.report_id;\n\n// Get the init_summary content from Prep node (already cleaned HTML)\nconst initSummaryContent = $('Prep init_summary').first().json.content;\n\n// ============== Extract personality_scores tag ==============\n// The prompt appends a hidden <personality_scores>{...}</personality_scores>\n// tag at the very end of the narrative. Pull it out, parse the JSON, and\n// strip the tag from the text BEFORE we parse sections so the prose stays\n// clean. The scores get attached to the `approach` section row's metadata\n// column, where the dashboard's Personality Radar reads them from.\nlet personalityScores = null;\nlet narrativeText = narrativeData.text || '';\nconst scoresMatch = narrativeText.match(/<personality_scores>\\s*([\\s\\S]*?)\\s*<\\/personality_scores>/i);\nif (scoresMatch) {\n  try {\n    personalityScores = JSON.parse(scoresMatch[1].trim());\n  } catch (err) {\n    console.warn('[extract_report_sections] personality_scores JSON parse failed:', err.message);\n  }\n  narrativeText = narrativeText.replace(scoresMatch[0], '').trim();\n}\n// ============================================================\n\n// ---------------- NARRATIVE EXTRACTION ----------------\nconst titleRegex = /#{1,3}\\s*([^\\n#]+)/g;\nconst titles = [];\nlet match;\nwhile ((match = titleRegex.exec(narrativeText)) !== null) {\n  titles.push(match[1].trim());\n}\n\nconst contents = narrativeText.split(/#{1,3}\\s*[^\\n#]+\\n*/g);\ncontents.shift();\n\nconst sectionTypes = ['approach', 'strengths', 'development', 'values'];\nconst parsedSections = [];\n\nfor (let i = 0; i < contents.length; i++) {\n  const sectionType = sectionTypes[i];\n  const raw = cleanMarkdown(contents[i]);\n  parsedSections.push(extractSections(raw, sectionType));\n}\n\n// ---------------- OUTPUT ALL 5 SECTIONS ----------------\n// init_summary + 4 narrative sections, all inserted to SB in one batch.\n// Approach gets the personality_scores attached as metadata.\n// Other sections leave metadata null.\nconst allSections = [\n  {\n    section_type: 'init_summary',\n    title: 'Initial Summary',\n    content: initSummaryContent,\n    isRawContent: true,\n    metadata: null\n  },\n  {\n    section_type: 'approach',\n    title: titles[0] || null,\n    content: parsedSections[0] || [],\n    metadata: personalityScores ? { personality_scores: personalityScores } : null\n  },\n  { section_type: 'strengths',   title: titles[1] || null, content: parsedSections[1] || [], metadata: null },\n  { section_type: 'development', title: titles[2] || null, content: parsedSections[2] || [], metadata: null },\n  { section_type: 'values',      title: titles[3] || null, content: parsedSections[3] || [], metadata: null }\n];\n\nreturn allSections\n  .filter(s => s.content && (s.isRawContent || (Array.isArray(s.content) && s.content.length > 0)))\n  .map(s => {\n    let formatted;\n\n    if (s.isRawContent) {\n      formatted = s.content;\n    } else {\n      formatted = s.content.map(block => {\n        const subheader = block.subheader && block.subheader.trim()\n          ? `<h5>${block.subheader}</h5>\\n\\n`\n          : '';\n        const text = block.content || '';\n        return `${subheader}${text}`;\n      }).join('\\n\\n');\n    }\n\n    // CRITICAL: every row MUST have the same set of keys. PostgREST\n    // bulk insert (PGRST102) rejects arrays where keys differ across rows.\n    // metadata is always present and is null unless this is the approach row.\n    return {\n      report_id: reportId,\n      section_type: s.section_type,\n      title: s.title,\n      content: formatted,\n      metadata: s.metadata ?? null,\n      language: __lang\n    };\n  });"
   },
   "id": "050a36f6-ffcf-4544-ad6e-ea797f085d64",
   "name": "extract_report_sections_code1",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2688,
    624
   ],
   "executeOnce": false
  },
  {
   "parameters": {
    "operation": "update",
    "tableId": "reports",
    "filters": {
     "conditions": [
      {
       "keyName": "status",
       "condition": "eq",
       "keyValue": "=processing"
      },
      {
       "keyName": "id",
       "condition": "eq",
       "keyValue": "={{ $json.report_id }}"
      }
     ]
    },
    "fieldsUi": {
     "fieldValues": [
      {
       "fieldId": "status",
       "fieldValue": "pending_review"
      }
     ]
    }
   },
   "type": "n8n-nodes-base.supabase",
   "typeVersion": 1,
   "position": [
    3136,
    624
   ],
   "id": "1e82c018-ac14-4a67-b64b-96c769209f16",
   "name": "update status1",
   "executeOnce": true,
   "credentials": {
    "supabaseApi": {
     "id": "jYr9UcuCbwO8Um80",
     "name": "SB Cairnly (n8n cred)"
    }
   }
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://falkoratlas.app.n8n.cloud/webhook/b13b560d-ee9d-4fc2-8157-721f9a7a039c",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify({ report_id: $json.report_id, preferred_language: $json.preferred_language }) }}",
    "options": {}
   },
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    3584,
    624
   ],
   "id": "d7e3f5ff-d648-4d81-967f-6115dbbab2d1",
   "name": "Trigger WF2S webhook"
  },
  {
   "parameters": {
    "model": {
     "__rl": true,
     "value": "claude-haiku-4-5-20251001",
     "mode": "list",
     "cachedResultName": "Claude Haiku 4.5"
    },
    "options": {}
   },
   "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
   "typeVersion": 1.3,
   "position": [
    2336,
    976
   ],
   "id": "cd6bacee-4523-404c-992c-5ca496da1941",
   "name": "Anthropic Chat Model1",
   "disabled": true
  }
 ],
 "connections": {
  "Prep init_summary": {
   "main": [
    [
     {
      "node": "prompt_perso_prof1",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "SB insert all sections": {
   "main": [
    [
     {
      "node": "update status1",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "pass report_id to WF2": {
   "main": [
    [
     {
      "node": "Trigger WF2S webhook",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Process Survey Data1": {
   "main": [
    [
     {
      "node": "prompt_init_summary1",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "prompt_init_summary1": {
   "main": [
    [
     {
      "node": "Initial_summary1",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Initial_summary1": {
   "main": [
    [
     {
      "node": "Prep init_summary",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "3F": {
   "ai_languageModel": [
    [
     {
      "node": "Initial_summary1",
      "type": "ai_languageModel",
      "index": 0
     }
    ]
   ]
  },
  "prompt_perso_prof1": {
   "main": [
    [
     {
      "node": "generate_personality_narrative1",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "generate_personality_narrative1": {
   "main": [
    [
     {
      "node": "extract_report_sections_code1",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "OpenRouter Chat Model1": {
   "ai_languageModel": [
    [
     {
      "node": "generate_personality_narrative1",
      "type": "ai_languageModel",
      "index": 0
     }
    ]
   ]
  },
  "extract_report_sections_code1": {
   "main": [
    [
     {
      "node": "SB insert all sections",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "update status1": {
   "main": [
    [
     {
      "node": "pass report_id to WF2",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Starter Survey complete Webhook": {
   "main": [
    [
     {
      "node": "Process Survey Data1",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "callerPolicy": "workflowsFromSameOwner",
  "errorWorkflow": "FbsruPbuZI2Fgtc8"
 }
}