n8n_wfs_cairnly/WF2 - Source to Enrich 15_BACKUP_pre_salaryrestore_20260709.json
{"updatedAt":"2026-07-09T08:42:11.179Z","createdAt":"2025-07-18T16:23:17.230Z","id":"vVv0tsnFlBnarMdq","name":"WF2 - Source to Enrich 15","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-5984,4048],"id":"fb851d40-bb2a-4103-a172-1d32acc8f76b","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"ai_impact_assignment","name":"ai_impact_prompt","value":"=# ROLE AND TASK\nYou are an expert futurist evaluating the impact of Artificial Intelligence on specific careers.\nInput list of jobs: \n\n{{ $('suitable_15').item.json.text }}\n\n# RESEARCH FOUNDATION\nYour assessments are grounded in peer-reviewed labor market research. Use the following empirical findings to calibrate your ratings:\n\n{{ $(\"Fetch AI Research1\").first().json.key_findings }}\n\n# CONTEXT: AGENTIC AI TRAJECTORY (2026-2028)\nThe research above captures observed deployment as of early 2026. Your assessment should project FORWARD 18-24 months, assuming Agentic AI capabilities:\n1. Autonomous Execution: AI doesn't just draft - it executes complex multi-step workflows end-to-end (analyze data, build report, update CRM, email client) without human intervention.\n2. Persistent Memory: AI retains full project and client context over months.\n3. Tool Mastery: AI operates business software (Excel, Salesforce, Jira, Figma, code editors) at professional-level competency.\n4. The observed-to-theoretical gap will narrow significantly as tooling matures and organizational adoption accelerates.\n\n# ASSESSMENT RULES\nCompare the role's core tasks against both current observed exposure AND projected agentic capabilities.\n\n## Priority Rules (apply in order):\n1. **Physical Rule:** If the role requires physical presence or dexterity (construction, trades, landscaping, hands-on healthcare), rate as Minimal.\n2. **Orchestrator Rule:** If the title implies strategic accountability and human judgment at the top (\"Head of\", \"VP\", \"Director\", \"C-suite\", \"Owner\", \"Partner\"), rate as Moderate. High-stakes decision-making, organizational politics, and legal accountability cannot be delegated to AI.\n3. **Execution Rule:** If the role's primary output is content, analysis, code, or data processing that AI can generate at comparable or higher quality, rate as Severe or Critical.\n\n## Rating Scale\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\n\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n## OUTPUT FORMAT\n- Do not include an intro or outro.\n- Do not use the em dash (—). Use hyphens (-) only.\n- Output strictly in this format for every job:\n\nCareer Title: [Exact Title from Input]\nCompany: [Size] / [Culture]\nAI Impact: [Rating] - [1 succinct sentence explaining the specific friction point or advantage for THIS role at THIS company type]\n---\n\nStart with 1.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3808,3648],"id":"7ca84c55-9fa1-4dfc-86a5-8a36348a7244","name":"Set AI Impact Prompt1"},{"parameters":{"assignments":{"assignments":[{"id":"suitable_15_assignment","name":"suitable_15_prompt","value":"=# ROLE\nYou are an expert career exploration system generating 15 investigation-worthy careers for detailed analysis. Your goal is to identify plausible career paths that warrant deep evaluation through subsequent enrichment and scoring processes.\n\n# CONTEXT & WORKFLOW\nYou are Step 1 in a 4-step career matching process:\n1. **Your task:** Generate 15 plausible career options\n2. **Next:** Careers will be enriched with detailed information\n3. **Then:** Rigorous 0-100 scoring across 7 dimensions\n4. **Finally:** Top 8 careers selected for candidate\n\nThis means you should:\n- Focus on generating careers worth investigating (70%+ confidence they could work)\n- Provide diverse options across role types and industries\n- Apply hard constraints but don't overthink perfect fit\n- The scoring system will filter out mismatches\n\n# INPUT DATA STRUCTURE\nYou will receive:\n- **Initial Summary:** Structured candidate profile with all survey responses\n- **Personality Analysis:** Four narrative sections (Approach, Strengths, Development, Values)\n\n# ANALYSIS FRAMEWORK\n\n## STEP 0: Assessment Purpose Lens (Critical - Ref: 1e)\n\nAtlas is built for candidates exploring change, clarity, or new direction, not advancement within an existing track. The candidate's stated purpose (1e) is the primary lens for everything below.\n\n**Reading the user's purpose (1e):**\n- Burnout / lack of fulfillment → strong change signal; weight transformation paths heavily\n- Finding a new career path → core fit; follow framework normally\n- First job / career path guidance → exploration mode; emphasize options across directions\n- Identifying strengths or work-life balance → exploration-leaning; if happiness is high but they're here, surface the underlying tension\n\n**Reinterpretation rules for advancement-flavored goals (7a, 7b):**\nSeveral 7a/7b options imply a same-path advancement. Treat these as underlying needs to satisfy through change paths, not as paths to confirm:\n\n- 7a \"Achieve a promotion or salary increase\" → growth/financial need; meet via paths that offer progression in a new direction\n- 7b \"Reach a senior leadership or executive position\" → authority/impact need; meet via advisory, board, fractional, expert IC, or operational paths in different contexts\n- 7b \"Establish expertise and recognition in my field\" → depth/recognition need; \"field\" can be read loosely\n- \"Other\" answers implying same-path advancement → treat as needs\n\n**Goal contradiction check:**\nBefore generating careers, check whether 1e and 7a/7b agree.\n- If 1e signals change but 7a/7b emphasize advancement → trust 1e as authoritative; reinterpret 7a/7b as needs.\n- If 1e signals exploration but 7a/7b are advancement-heavy and happiness data is high → produce mixed output AND tag this tension explicitly in `pattern_analysis_summary` so the chat can address it later.\n\n**Hard rule:** Do not produce careers framed as internal promotions of the user's existing role. Even when 7a/7b indicate growth, satisfy that need through change paths.\n\n## STEP 1: PATTERN RECOGNITION\n\nBefore generating any careers, analyze these patterns:\n\n### A. Happiness & Satisfaction Pattern (Critical - Ref: 1k, 1e)\nExamine each role in their history (1j) against happiness scores (1k):\n- **High satisfaction roles (8-10/10):** What made them happy? What were the characteristics?\n- **Low satisfaction roles (≤5/10):** What drained them? What patterns appear?\n- **Medium satisfaction (6-7/10):** What was missing? What caused the score drop?\n\n**Key questions:**\n- Are they burned out from execution/operational roles seeking advisory work?\n- Do they prefer project-based over ongoing operational responsibility?\n- Does company size/culture correlate with satisfaction?\n- What role characteristics appear in their happiest experiences?\n\n### B. Career Trajectory Analysis (Ref: 1j)\nMap their progression:\n- What direction have they been moving? (execution → advisory? generalist → specialist?)\n- What are they moving away from? (operational chaos? people management?)\n- What have they been testing? (fractional? board work? consulting?)\n\n**Trajectory types:**\n- **Deepening:** Staying in same domain, increasing seniority\n- **Pivoting:** Changing industry/function but using transferable skills\n- **Transitioning:** Moving from execution to advisory/teaching/governance\n- **Escaping:** Actively trying to leave a pattern that's not working\n\n### C. Stated Goals vs Revealed Preferences (Ref: 7a, 7b, 1k, 4h)\nCompare what they say they want vs what actually made them happy:\n- **Stated goals (7a, 7b):** Short and long-term objectives\n- **Revealed preferences (1k):** What actually scored high in happiness\n- **Dream jobs (4h):** Thematic desires (analyze themes, not literal jobs - see Dream Job section below)\n- Do 7a/7b advancement-flavored answers contradict the change-seeking framing of 1e? If yes, treat 1e as authoritative and reinterpret 7a/7b as underlying needs (see STEP 0).\n\n**Identify conflicts:**\n- Do they say they want leadership but were happiest in IC/advisory roles?\n- Do they say they want balance but keep choosing intensity?\n- Do stated goals align with happiness data?\n\n### D. Burnout & Energy Indicators (Ref: 2a, 1n, 1k, 7c)\nCheck for warning signs:\n- Social energy depletion (2a: \"Drained\")\n- Additional context mentioning burnout (1n)\n- Multiple roles with declining happiness scores\n- Barriers mentioning burnout or work-life balance (7c)\n\n**If burnout indicators present:**\n- Prioritize advisory/fractional/teaching roles over operational leadership\n- Favor roles with clear boundaries over \"always on\" positions\n- Emphasize roles where they provide expertise vs execute daily\n\n### E. Dream Job Theme Extraction (Ref: 4h)\n\n**CRITICAL:** Dream jobs reveal desired work qualities, NOT literal career targets.\n\n**Your job:**\n1. Extract themes from dream jobs\n2. Find realistic careers delivering those themes\n3. DON'T literally suggest dream jobs unless genuinely plausible\n\n**Theme extraction guide:**\n\nCommon dream jobs and their themes:\n- \"Yoga instructor\" → teaching, autonomy, wellness, structured sessions, clear boundaries\n- \"Academic lecturer\" → knowledge sharing, expertise-based, autonomy, clear containers\n- \"Forest ranger\" → independence, solitude, hands-on, escape from politics\n- \"Bookshop owner\" → curation, knowledge, small-scale, independence, slow pace\n- \"Travel blogger\" → independence, creativity, freedom, storytelling\n- \"Restaurant owner\" → creativity, autonomy, tangible product, hospitality\n- \"Photographer\" → creativity, independence, visual expression, project-based\n\n**When to literally suggest a dream job:**\n✅ They have directly relevant experience (e.g., \"Academic lecturer\" for someone with teaching experience + expertise)\n✅ Compensation is realistic for their range (3f)\n✅ It's a plausible next step given background (1h, 1j)\n\n**When to extract themes only:**\n❌ Dream job requires complete retraining (forest ranger for finance exec)\n❌ Massive compensation mismatch (yoga instructor at $150K+)\n❌ Zero connection to experience (professional athlete for desk worker)\n\n**Weighting:**\nDream job themes should influence ~10-15% of career selection, not dominate it.\n\n### F. Language Profile (see 1l in summary)\nMap the candidate's language reach against their region (1d):\n- **Monolingual English in non-Anglo region (e.g. NL, DE):** restrict to international / English-speaking workplaces; \"EU corporate roles requiring local language\" off the table.\n- **Multilingual (2+ languages):** opens up international/EU policy/diplomatic/translation-adjacent careers; cross-border roles become realistic.\n- **Native local + English:** the default European professional profile; full local + international access.\n- **Rare language combinations** (Mandarin+English, Arabic+English): can be a major asset for specific career paths in specific industries — surface this if relevant.\n\nThis affects:\n- Geographic mobility (1d): broader languages = broader location options\n- Industry options: media, diplomacy, international business, localization, language-specific consulting all unlocked or locked by this\n- Outside-the-box careers: language-niche options \n\nPriority order:\n1. Stated career goals (7a, 7b) - 30%\n2. Happiness patterns (1k) - 25%\n3. Skills and experience (1h, 1j, 1l) - 20%\n4. Values and work preferences (3a-3h) - 15%\n5. Dream job themes (4h) - 10%\n\n## STEP 2: STRATEGIC DISTRIBUTION\n\nBased on your pattern analysis, determine the distribution of the 15 careers:\n\n### Distribution Scenarios:\n\n**Scenario A: Burned Out / Seeking Major Change**\n(Indicators: Low satisfaction ≤5/10 in recent roles, burnout mentioned in 1n, career change goal in 1e)\n- 10-20% Similar roles (2-3 careers showing they COULD continue current path)\n- 30-40% Adjacent pivots (5-6 careers using skills in different context/industry)\n- 40-50% Transformation roles (6-7 careers: advisory, teaching, governance, fractional)\n\n**Scenario B: Moderately Satisfied / Seeking Optimization**\n(Indicators: Happiness 6-7/10, wants better fit not complete change)\n- 30-40% Similar roles (4-6 careers with incremental improvements)\n- 40-50% Adjacent pivots (6-7 careers: different industry, culture, or role type)\n- 20-30% Exploration roles (3-4 careers: stretch options, new directions)\n\n**Scenario C: Highly Satisfied / Seeking Recognition or Reframe**\n(Indicators: Happiness 8-10/10; 7a/7b emphasize advancement, recognition, or expertise; but candidate still chose to take the assessment, so something is unresolved)\n- 30-40% Similar roles (carry expertise into a new context, scale, or autonomy structure — NOT internal promotions of the existing role)\n- 40-50% Adjacent pivots (different industry, culture, or business model using the same skill set)\n- 20-30% Exploration roles (advisory, fractional, expert IC, teaching — paths that satisfy authority/recognition needs differently)\n\nNote: Even highly satisfied candidates reaching Atlas chose to do so because something is unresolved. Do not produce internal-promotion suggestions; reframe their advancement need as growth in a new context. If the tension between high happiness and assessment-taking is unexplained, surface it in `pattern_analysis_summary`.\n\n**Scenario D: Early Career / Exploration Mode**\n(Indicators: <5 years experience, unclear direction)\n- 30% Similar roles (4-5 careers in current domain)\n- 40% Adjacent pivots (6 careers testing different directions)\n- 30% Exploration roles (4-5 careers in new domains)\n\n### Adaptations:\n\n**If trajectory shows clear movement:**\n- Weight distribution toward the direction they're already moving\n- Example: If moving execution → advisory, generate 60% advisory-type roles\n\n**If stated goals conflict with happiness data:**\n- Weight toward what actually made them happy (revealed preferences > stated goals)\n- Include 1-2 careers matching stated goals to validate/challenge assumptions\n\n**If dream job themes are strong and relevant:**\n- Ensure 3-4 careers deliver those themes in realistic ways\n- Example: \"Academic lecturer\" dream → include executive education, workshop facilitation, training roles\n\n---\n\n## CRITICAL PATTERNS FOR CAREER GENERATION\n\n### Pattern 1: Extending Proven Success\nWhen candidate has 8-10/10 happiness in a role:\n- Double down on what works\n- Quote exact satisfaction reason from 1k\n- Maintain structural features causing high satisfaction\n- Scale or diversify without changing core model\n- Similarity 8-10 appropriate\n\n**Example:** Board member at 9/10 → Portfolio of 3-5 board seats\n\n### Pattern 2: Similar But Better  \nWhen candidate has 6-8/10 happiness with specific complaints:\n- Keep core expertise that works\n- Fix structural problem causing dissatisfaction\n- Quote exact problem from 1k and show how new role solves it\n- Similarity 7-9 appropriate\n\n**Example:** Fractional work at 7/10 with \"startup chaos\" complaint → Same fractional model at later-stage companies\n\n### Pattern 3: Dream Job Themes → Reality\nExtract themes from 4h, don't suggest literally unless genuinely viable:\n- **Teaching themes** → workshop facilitation, coaching, training, education roles\n- **Autonomy themes** → fractional, consulting, independent IC, advisory roles\n- **Creativity themes** → design, strategy, innovation, content creation roles\n- **Nature/outdoors themes** → field work, site visits, remote roles (not literal ranger)\n- **Slow pace themes** → government, academia, established corporate roles\n- Connect themes to actual skills/interests (4f, 1m, 1l)\n- Similarity 1-4 appropriate for transformation\n\n**When to literally suggest dream job:** Only if they have relevant expertise + realistic compensation + plausible next step\n\n---\n\n## HANDLING DISSATISFACTION PATTERNS\n\nIf candidate shows pattern of dissatisfaction or explicitly seeks change:\n\n### Identify the Core Problem:\nLook for repeated issues across low-happiness roles (≤7/10):\n- **Intensity/pace:** \"always on,\" \"exhausting,\" \"burnout,\" \"high pressure\"\n- **People management:** \"team conflicts,\" \"difficult personalities,\" \"people drain\"\n- **Lack of authority:** \"no decision power,\" \"can't implement,\" \"frustrated\"\n- **Chaos/ambiguity:** \"disorganized,\" \"unclear,\" \"constantly changing,\" \"firefighting\"\n- **Politics/relationships:** \"CEO dynamics,\" \"stakeholder management,\" \"office politics\"\n- **Compensation:** \"underpaid,\" \"not valued financially\"\n- **Values misalignment:** \"not meaningful,\" \"conflicts with values,\" \"soul crushing\"\n\n### Apply \"Similar But Different\" Principle:\nDon't recreate the problem in a new setting. Fix the structural cause:\n\n**If problem is intensity/burnout:**\n- ✅ Advisory, fractional, project-based, teaching roles\n- ✅ Roles with clear boundaries and defined engagements\n- ❌ Similar operational role at different company\n- **Example:** Burned-out VP Operations → Fractional Strategic Advisor (not COO)\n\n**If problem is people management drain:**\n- ✅ IC expert roles, specialized consulting, technical leadership\n- ✅ Roles where they guide/advise rather than manage directly\n- ❌ Different management role with more reports\n\n**If problem is chaos/ambiguity:**\n- ✅ Later-stage companies, established corporates, government, academia\n- ✅ Roles with clear processes and structure\n- ❌ \"Different startup\" or \"better organized startup\"\n\n**If problem is lack of authority:**\n- ✅ Independent roles, advisory positions, senior IC roles\n- ✅ Roles where they own outcomes or provide expert guidance\n- ❌ Staff roles or support functions with similar authority gaps\n\n**If problem is politics/relationships:**\n- ✅ Independent consulting, fractional, advisory, teaching\n- ✅ External expert roles without internal political navigation\n- ❌ Similar internal role at \"better culture company\"\n\n**If problem is values misalignment:**\n- ✅ Mission-driven orgs, nonprofits, education, purpose-aligned sectors\n- ✅ Roles where their expertise serves their values\n- ❌ Similar role in different industry without addressing values\n\n### The Core Principle:\n\"Similar\" means using similar expertise in a structure that solves their stated problem, NOT recreating the same problem in a different setting.\n\n**Remember:** If they rated a role ≤7 and explicitly stated the problem, don't suggest variations that have the same structural issue. Fix the structure while maintaining relevant expertise.\n\n\n## STEP 3: GENERATION RULES\n\n### Hard Constraints (Must Apply):\n\n1. **Exclude Past Roles (Ref: 1j)**\n   - Do NOT include any job titles they've already held\n   - Check both exact titles and semantic equivalents\n   - Example: If they were \"VP of People,\" don't suggest \"Chief People Officer\"\n\n2. **Avoid Deal-Breakers (Ref: 3h)**\n   - Explicitly avoid work aspects they listed in 3h\n   - Example: If they avoid \"Finance-related work,\" don't suggest \"Financial Analyst\"\n\n3. **Respect Seniority (Ref: 1h, 1i)**\n   - Match experience level (1h: years of experience)\n   - Match current level (1i: IC, Manager, Senior Manager, Executive)\n   - Don't suggest demotions unless explicitly seeking reduced responsibility\n   - Seniority hierarchy: Associate → Manager → Senior Manager → Director → VP → C-level\n\n4. **Meet Compensation Floor (Ref: 3f)**\n   - Don't suggest careers typically paying 30%+ below their stated range\n   - Account for role level and industry norms\n   - Exception: If they explicitly state willingness to take pay cut for lifestyle\n\n5. **No Semantic Duplicates**\n   - Each of 15 careers must be functionally distinct\n   - If two roles have 80%+ overlapping responsibilities, choose one\n   - Example: \"Director of Strategy\" and \"VP of Strategic Planning\" are too similar\n   - **Same title at different size/culture counts as a duplicate** unless the daily work and seniority context differ materially. Example: \"CPO at scale-up\" and \"CPO at enterprise corporate\" share too much core work to occupy two of 15 slots. If both contexts are worth surfacing, pick the stronger fit and reference the alternative inside `why_this_fits` (\"this also translates to a corporate enterprise context\"). Do not produce two near-identical entries that differ only by company_size_type.\n\n6. **Respect Language Reach**\n   - Don't suggest careers requiring languages the candidate doesn't have at conversational+ level\n   - Don't suggest \"Local-Language Corporate Communications\" roles in NL/DE/FR if candidate only speaks English\n   - DO surface roles where their specific language combo is a moat (multilingual European = cross-border consulting, multilingual Indian = APAC business roles)\n\n7. **Path Type Gating (Ref: 7a, 7b, 4h, 1j)**\n\n   Each career must be assigned a `path_type`:\n   - `employee` — applying for a role at someone else's company\n   - `freelance_fractional` — independent contractor, fractional exec, advisor, board member, project-based consulting\n   - `founder` — starting a company, solo practice, or product-led business with capital risk and multi-year build horizon\n\n   **Founder-path signal requirement:**\n   Only suggest `founder` paths if the candidate shows at least one entrepreneurial signal:\n- **7f is the primary, explicit signal:** \"Interested and seriously considering it\" or \"I already run, or have run, my own business\" = clear go-ahead. \"Curious about it, but not actively planning\" = latent only (treat as secondary / aspirational, long-term). **\"Not for me\" = HARD OPT-OUT: suggest NO founder paths even if 7a/7b/4h/1j look entrepreneurial.**\n   - 7a includes \"Explore entrepreneurial opportunities\"\n   - 7b includes \"Own or run a successful business\" OR \"Achieve complete autonomy and freedom in my career\"\n   - 1j shows current or past self-employment / company ownership\n   - \"Other\" responses signaling entrepreneurial intent\n   - 4h dream jobs include entrepreneurial themes (bookshop owner, restaurant owner, agency founder, photographer, etc.)\n\n**Strong founder signal (explicit business in dream jobs):**\nIf 4h explicitly names a business or company the candidate wants to own (e.g. \"own a bookshop\", \"run an education business\", \"own a small business focused on X\", \"start a coaching firm\"), generate at least ONE `founder` path that directly delivers that vision. Translate the named business into a realistic founder path:\n- \"education business\" → executive education boutique founder, leadership coaching firm with capital build, or a niche learning platform\n- \"bookshop\" → curated retail concept or community-led commerce business\n- \"small consultancy/agency\" → boutique advisory firm with hired team\n\nDo not let the founder slot be filled exclusively by adjacent or generic paths (e.g. solo coaching, newsletter) when the candidate has named a specific business they want to own. The named business itself must be represented as one of the 15.\n\n   No signal = no founder paths. Suggesting founder paths to candidates without these signals is misleading because it ignores the capital, time, and identity risk involved.\n\n**Founder-path ceiling (anti-flood):** At most **2 of the 15** careers may be `founder` path_type, regardless of how strong the signal is (keep a floor of at least 1 when a genuine signal is present -> range 1-2). A stronger entrepreneurial signal means acknowledge it and offer breadth *around* it, NOT more founder slots -- this system maps career/role directions across the whole market; the \"what business should I start\" deep-dive is not its job. Weave the entrepreneurial drive into the `why_this_fits` of employee / freelance_fractional picks and into adjacent roles (startup operator, fractional exec, franchise operator, intrapreneur) rather than filling multiple slots with literal \"found a company\" entries.\n\n**Founder feasibility framing:** Whenever you include a `founder` path, weigh readiness from 1n (household finances, need for a stable income, caregiving, health) and 2h (comfort with calculated risk). If readiness signals are weak, still include it but frame it in `path_type_notes` / `why_this_fits` as a 12-18 month build-toward goal with explicit preconditions, and rank it below a safer primary. Never present starting a business as a do-it-now recommendation when readiness is weak.\n\n   **Freelance/fractional gating:** Less strict. Suggest these for candidates with advisory preferences, autonomy goals, or burnout from operational roles. Be explicit about income variability and self-marketing reality in `why_this_fits` and `path_type_notes`.\n\n   **Employee paths:** Default. No gating.\n\n\n### Soft Preferences (Should Apply When Possible):\n\n1. **Industry Diversity**\n   - Aim for minimum 8-10 different industries across the 15\n   - Don't cluster all careers in one sector unless their experience is hyper-specialized\n\n2. **Role Type Diversity**\n   - Mix of: operational roles, advisory roles, teaching roles, governance roles, IC roles\n   - Avoid generating 15 variations of the same role type\n\n3. **Company Size/Culture Format (STRICT COMPLIANCE REQUIRED)**\n\n**MANDATORY FORMAT:** \"[SIZE] / [CULTURE]\"\n\nYou MUST use these EXACT strings (including ranges in parentheses):\n\n**SIZE options (choose ONE, use EXACTLY as written):**\n- Own Company\n- Micro (1-10)\n- Small (11-50)\n- Medium (51-200)\n- Large (201-1000)\n- Enterprise (1000+)\n\n**CULTURE options (choose ONE or maximum TWO):**\n- Boutique\n- Startup\n- Scale-up\n- Corporate\n- Mid-Market\n- Agency / Consultancy\n- Nonprofit\n- Public Sector / Gov\n\n**CRITICAL: Size ≠ Culture (they are independent dimensions)**\n- A small company (11-50) can be Corporate (law firm) OR Startup (Series A)\n- A large company (1000+) can be Startup (unicorn) OR Corporate (bank)\n- Judge culture by: process maturity, hierarchy, pace, decision-making style\n\n**Valid examples:**\n✅ \"Small (11-50) / Startup\" (Series A with 40 people, still chaotic)\n✅ \"Small (11-50) / Corporate\" (boutique law firm, very structured)\n✅ \"Enterprise (1000+) / Startup\" (unicorn with startup culture)\n✅ \"Medium (51-200) / Scale-up\" (Series B/C professionalizing)\n✅ \"Medium (51-200) / Startup / Scale-up\" (transitioning, max 2 cultures)\n✅ \"Large (201-1000) / Agency / Consultancy\" (consulting firm)\n\n**Invalid examples (DO NOT USE):**\n❌ \"Large / Corporate\" (missing range in parentheses)\n❌ \"Medium / Startup\" (missing range in parentheses)\n❌ \"Small-Medium Business\" (not in list, no range)\n❌ \"SME / Corporate\" (not in list)\n❌ \"Boutique Startup\" (missing slash separator)\n❌ \"Small / Startup / Scale-up / Corporate\" (too many cultures, max 2)\n\n**If uncertain, default to common patterns:**\n- Advisory/coaching/consulting solo → \"Own Company / Boutique\"\n- Board roles → \"Medium (51-200) / Corporate\"\n- Startup operational → \"Small (11-50) / Startup\"\n- Growth-stage → \"Medium (51-200) / Scale-up\"\n- Corporate strategic → \"Large (201-1000) / Corporate\"\n\n**Consider candidate's preferences (Ref: 2g, 4c):**\n- If they prefer \"Highly Structured\" → favor Corporate, later-stage Scale-up\n- If they seek flexibility → favor Startup, Boutique, Scale-up\n- But include variety to test assumptions\n\n\n4. **Geography Alignment (Ref: 1d)**\n   - Consider roles realistic for their region\n   - Account for remote work trends in their industry\n\n### Pattern-Specific Rules:\n\n**If candidate shows burnout pattern:**\n- Prioritize: Advisory, Fractional, Board, Consulting, Teaching roles\n- Deprioritize: Operational leadership, \"always on\" roles, high-intensity startup positions\n- Key signal: Multiple roles with happiness ≤7 in execution/operational positions\n\n**If candidate shows advisory preference:**\n- Weight heavily toward: Consulting, Fractional Executive, Board positions, Coach/Mentor roles\n- Include some operational roles as fallback (10-20%)\n- Key signal: Highest happiness in advisory/board/fractional work\n\n**If candidate shows teaching interest:**\n- Include: Workshop facilitation, Executive education, Corporate training, Program director\n- Extract themes from \"academic lecturer\" type dream jobs\n- Key signal: Dream jobs involve teaching, workshop topics they'd lead (4f)\n\n**If candidate shows specialist trajectory:**\n- Suggest: Expert/Principal/Distinguished IC roles, Specialized consulting, Subject matter expert positions\n- Avoid: Generalist leadership, broad operational roles\n- Key signal: Moving from generalist → specialist roles over time\n\n## STEP 4: GENERATE 15 CAREERS\n\nFor each career, provide:\n\n### Required Information:\n\n1. **career_title:** Clear, specific job title\n2. **company_size_type:** Format exactly as \"[SIZE] / [CULTURE]\"\n3. **overview:** 2-3 sentences describing the role's core responsibilities\n4. **why_this_fits:** 2-3 sentences explaining fit hypothesis with specific references\n5. **similarity_to_current:** Score 1-10 indicating how similar to their recent experience\n6. **similarity_explanation:** 1-2 sentences explaining what transfers and what changes\n7. **path_type:** One of `employee`, `freelance_fractional`, or `founder` (see STEP 3 rule 7 for gating)\n8. **path_type_notes:** 1 sentence on the structural reality of this path type for this candidate. For `founder`: include risk horizon (e.g. \"1-3 year build with capital risk; validate market before quitting current role\"). For `freelance_fractional`: note income variability and client acquisition reality. For `employee`: brief note on application context (e.g. \"typical hiring cycle 3-6 months at this seniority\").\n\n**Title examples — the bar to hit:**\n\n✅ Real AND modern/niche (all return live job postings):\n   - AI Product Manager\n   - Prompt Engineer\n   - Conversational AI Designer\n   - Developer Advocate\n   - Sustainability Manager\n   - Veterinary Marketing Manager\n   - Localization Project Manager\n   - Fractional Chief Innovation Officer\n\n❌ Invented composite  →  ✅ real equivalent (keep the niche, fix the title):\n   - \"Animal Health Brand Experience Manager\"   →  \"Veterinary Marketing Manager\"\n   - \"AI Tools Marketplace Publisher\"            →  \"Product Marketing Manager, AI Tools\"\n   - \"Sustainability Storytelling Architect\"     →  \"Sustainability Communications Manager\"\n   - \"Landscape Business Owner (AI Integrated)\"  →  \"Landscaping Business Owner\"  (the AI angle goes in the overview)\n\nRule of thumb: emerging and AI-era titles are encouraged when they genuinely exist in the market. Apply the searchability test — if the exact title would return real job ads, keep it; if it only names a function you assembled, rename it to the closest real title and move the niche/personalized angle into the overview.\n\n### Quality Standards:\n\n**career_title:**\n- Use a REAL, searchable job title — one a recruiter would actually post on LinkedIn or Indeed. If you can't picture the exact title in a real job ad, it's wrong.\n- Get specificity from seniority + domain on a real title (e.g. \"Principal HR Strategy Consultant\"), NOT by inventing or combining words into a new label. Never coin titles like \"Animal Health Brand Experience Manager\" — use the real title (\"Veterinary Marketing Manager\") and put the niche angle in the overview.\n- If the role has no standard title, pick the closest real one and explain the niche in the overview, never in the title.\n- Match seniority level appropriately\n\n**why_this_fits:**\n- Reference specific data points (values, strengths, happiness patterns, stated goals)\n- Explain the hypothesis: why is this worth investigating?\n- Connect to their pattern (trajectory, happiness data, or stated objectives)\n- Examples:\n  - \"Matches your highest happiness score (9/10) in advisory board work while providing the structured environment you prefer (Ref: 2g, 1k).\"\n  - \"Uses your strategic planning strength (Ref: 1l) while moving away from the operational chaos that caused burnout in previous roles (Ref: 1k, 1n).\"\n\n**similarity_to_current:**\n- 8-10 = Very similar (incremental change, same domain/function)\n- 5-7 = Moderate similarity (some skills transfer, different context)\n- 1-4 = Low similarity (major pivot, new domain or function)\n\n**similarity_explanation:**\n- What skills/experience transfer directly?\n- What changes in terms of: daily pace, energy demands, responsibility type, work structure?\n- Be specific about the nature of the change\n\n**company_size_type:**\n- Use EXACT format from the size/culture list in Section 3 (Soft Preferences)\n- MUST include range in parentheses for all sizes except \"Own Company\"\n- Double-check spelling and spacing match exactly\n- Format: \"[SIZE with range] / [CULTURE]\"\n- Examples:\n  - ✅ \"Small (11-50) / Startup\"\n  - ✅ \"Large (201-1000) / Corporate\"\n  - ✅ \"Medium (51-200) / Scale-up\"\n  - ❌ \"Large / Corporate\" (missing range)\n  - ❌ \"Medium / Startup\" (missing range)\n\n### Distribution Requirements:\n\nBased on your pattern analysis and chosen distribution scenario:\n- Ensure the 15 careers reflect your determined distribution\n- Tag mentally which careers are \"similar,\" \"pivot,\" or \"transformation\"\n- Verify you haven't over-concentrated in one category\n\n## STEP 5: FINAL QUALITY CHECK\n\nBefore outputting, verify:\n\n✅ All 15 careers are functionally distinct (no semantic duplicates). Actively self-audit and replace: re-read the 15 as a set, and for any pair that is the same underlying job worded differently (e.g. \"Additive Manufacturing Applications Specialist\" vs \"Additive Manufacturing Engineer\"), keep the stronger fit and REPLACE the other with a genuinely distinct career that still satisfies every rule above (past roles, deal-breakers, seniority, compensation, language, distribution). The final list must be 15 functionally distinct careers, never 13 distinct plus 2 near-duplicates.\n✅ No career titles match their past roles (1j)\n✅ No careers violate their deal-breakers (3h)\n✅ Seniority levels are appropriate (1h, 1i)\n✅ Compensation levels are realistic (3f)\n✅ Distribution matches your pattern analysis\n✅ Each \"why_this_fits\" includes specific references\n✅ pattern_analysis_summary includes goal_alignment with a clear aligned / tension / contradicted call\n✅ Each career has a `path_type` assigned\n✅ No `founder` paths suggested without an entrepreneurial signal (Ref: 7a, 7b, 4h, 1j)\n✅ `path_type_notes` is present and addresses risk / income / timeline reality for that path\n✅ If 4h names a specific business to own, at least one career is `founder` and directly delivers that business vision\n✅ No two careers share the same title differing only by company size/culture\n✅ Company size/type format is EXACTLY correct:\n   - All sizes except \"Own Company\" include range: \"Small (11-50)\" not \"Small\"\n   - Uses exact culture terms from list (no variations like \"Government\" or \"SME\")\n   - Has slash separator: \" / \" (space-slash-space)\n   - Maximum 2 cultures: \"Startup / Scale-up\" allowed, \"Startup / Scale-up / Corporate\" NOT allowed\n\n# OUTPUT FORMAT\n\nReturn a JSON object with exactly this structure (no intro/outro):\n\n```json\n{\n  \"pattern_analysis_summary\": {\n    \"happiness_pattern\": \"[Brief summary: what made them happy vs unhappy]\",\n    \"career_trajectory\": \"[Brief summary: direction they're moving]\",\n    \"burnout_indicators\": \"[Yes/No + brief note if yes]\",\n    \"dream_job_themes\": \"[Extracted themes from 4h]\",\n    \"goal_alignment\": \"[1e purpose vs 7a/7b stated goals: aligned / tension flagged / contradicted — brief one-line note]\",\n    \"recommended_distribution\": \"[e.g., '20% similar, 35% pivot, 45% transformation' with brief rationale]\"\n  },\n  \"careers\": [\n    {\n      \"career_title\": \"[Job Title]\",\n      \"company_size_type\": \"[SIZE] / [CULTURE]\",\n      \"overview\": \"[2-3 sentences]\",\n      \"why_this_fits\": \"[2-3 sentences with specific references]\",\n      \"similarity_to_current\": \"[1-10]\",\n      \"similarity_explanation\": \"[1-2 sentences]\",\n      \"path_type\": \"[employee | freelance_fractional | founder]\",\n      \"path_type_notes\": \"[1 sentence on structural reality]\"\n    }\n    // ... repeat for all 15 careers\n  ],\n  \"generation_metadata\": {\n    \"total_careers\": 15,\n    \"distribution_breakdown\": {\n      \"similar_roles\": \"[count]\",\n      \"pivot_roles\": \"[count]\",\n      \"transformation_roles\": \"[count]\"\n    }\n  }\n}\n```\n\n# CRITICAL REMINDERS\n\n1. **Pattern analysis first:** Don't generate careers until you've analyzed happiness patterns, trajectory, and distribution needs\n2. **Dream jobs are themes:** Extract themes, don't literally suggest unless genuinely plausible\n3. **Burnout matters:** If someone is burned out from operational leadership, don't give them 10 more VP operational roles\n4. **Revealed > Stated:** Trust happiness data (1k) over stated preferences if they conflict\n5. **Diversity within reason:** Include variety, but weighted toward their pattern\n6. **Investigation-worthy:** Generate careers worth enriching and scoring, not guaranteed perfect fits\n7. **Specific references:** Every \"why_this_fits\" should cite specific data points\n8. **No duplicates:** 15 functionally distinct careers\n9. **Format precisely:** Company size/type must be exactly \"[SIZE] / [CULTURE]\"\n10. **Quality threshold:** Only include careers you're 70%+ confident warrant investigation\n11. **Path type honesty:** Founder paths require an entrepreneurial signal. Don't suggest \"just start consulting\" or \"open your own boutique\" without proper signal — capital, time, and identity risk are real. Use `path_type_notes` to be honest about the build.\n\n# INPUT DATA\n\n## Candidate Initial Summary\n{{ $json.initial_summary }}\n\n## Candidate Personality Analysis\n### Understanding Your Approach\n{{ $json.approach }}\n\n### Strengths and How to Grow Them\n{{ $json.strengths }}\n\n### Areas for Development\n{{ $json.development }}\n\n### Aligning with Your Values\n{{ $json.values }}\n\n## report_id\n{{ $json.report_id }}\n```","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4608,3648],"id":"9c55328c-3109-485b-a17e-a1e4e0442db9","name":"Set Suitable 15 Prompt1"},{"parameters":{"promptType":"define","text":"=!!! CURRENCY LOCK - HIGHEST PRIORITY, OVERRIDES EVERYTHING BELOW !!!\nThe candidate's region and currency have ALREADY been decided in code. Do NOT choose, infer, or convert a currency yourself.\nRegion: {{ $('AI_region1').item.json.Region || 'Northern and Western Europe' }}\nCurrency: {{ $('AI_region1').item.json.CurrencyCode || 'EUR' }} ({{ $('AI_region1').item.json.CurrencySymbol || '€' }})\n- Express EVERY salary range using ONLY this currency symbol: {{ $('AI_region1').item.json.CurrencySymbol || '€' }}. Do NOT use \"$\" / USD, and do NOT use the label \"North America\", unless the Currency above is USD.\n- In each career's \"region\" field, echo the Region string above EXACTLY. Never replace it with \"North America\", \"United States\", or any other label.\n- Never mix currencies across careers: every range in your output uses this one currency.\n!!! END CURRENCY LOCK !!!\n\n**ROLE**  \nYou are a career-matching and salary-adjustment system. You have deep knowledge on what are appropriate salaries for a Career Title within a certain size or organisation and the industry, further adjusted to the applicable region selected here:  \n{{ $('AI_region1').item.json.Region }}  \n\n**TASK and SOP**  \nYour task is to calculate the most likely salary range in the candidate's selected region for each of the Career Titles:  \n{{ $('AI_region1').item.json.text }}  \n\nDetermine a realistic salary range. Factors to consider:  \n- the Career Title (and level) in combination with the organisation's size  \n- the average cost of living and typical salary levels in the selected region  \n- the demand for these roles  \n- adjust down with 5% to be conservative\n\n**OUTPUT FORMAT**  \nPlace the generated Salary Range in the selected region's currency, rounded to the nearest whole number at the end of the other information.  \n\nProvide the results in the following format:  \nCareer Title: [exact title]  \nCompany: [SIZE] / [CULTURE]  \nAI Impact: [rating] - [brief explanation]  \nExp. salary range in [selected region]: [Currency] [Salary Range]  \n\n[\n  {\n    \"career_title\": \"Landscape Business Owner\",\n    \"company_size_type\": \"Own Company / Boutique\", \n    \"salary\": {\"region\": \"Northern and Western Europe\", \"range\": \"€60,000 - €120,000\"},\n    \"ai_impact_rating\": {\"rating\": \"Transformative\", \"explanation\": \"...\"}\n  },\n  // ... more careers\n]\n\n\n\nNOTES\n\nBase your calculations on your latest knowledge regional salary norms, and cost-of-living adjustments for each region.\n\nRegional breakdown:\n\nNorthern and Western Europe: Includes countries like Germany, Netherlands, France, and the Nordic countries. Salaries based on regional averages. EUR (€).\n\nSouthern and Eastern Europe: Includes countries like Spain, Italy, Poland, and Greece. Typically lower regional salaries. EUR (€).\n\nUnited Kingdom (London): Consider higher salaries and cost of living. GBP (£).\n\nUnited Kingdom (Other): Outside London, adjust for moderately lower salaries. GBP (£).\n\nUnited States (High-Cost Regions): Includes areas like New York, San Francisco, Los Angeles, and Boston. Increase base salaries by 20-50% from average US salaries.\n\nUnited States (Average-Cost Regions): Includes areas like Texas, Colorado, and Illinois. Salaries remain close to the national average.\n\nUnited States (Lower-Cost Regions): Includes rural and small-town areas. Decrease base salaries by 10-30%.\n\nCanada: base on Canadian salary norms and cost of living. CAD ($).\n\nAustralia and New Zealand: Base salaries to reflect local averages. AUD/NZD.\n\nSwitzerland: Usually higher local salaries and cost of living. CHF.\n\nIf precise data is unavailable, make reasonable assumptions based on general trends and relative cost-of-living differences.\n\nWhen presenting the salary range, include the local currency symbol and round to the nearest whole number for clarity.\n\nBetter conservative then over estimate range!\n","batching":{}},"id":"e66a76c7-1118-402c-ba70-2c3cc87c7cff","name":"Salary Range1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-2800,3888],"retryOnFail":true},{"parameters":{"jsCode":"// init_summary is now in the Supabase rows (already queried by SB extract profile)\nconst rows = $input.all().map(item => item.json);\n\nconst report = rows.reduce((acc, row) => {\n  // Map init_summary section_type to initial_summary key (for prompt compatibility)\n  if (row.section_type === 'init_summary') {\n    acc.initial_summary = row.content;\n  } else {\n    acc[row.section_type] = row.content;\n  }\n  return acc;\n}, {\n  report_id: rows[0]?.report_id || null\n});\n\nreturn [{ json: report }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4912,3904],"id":"a7aad213-9f80-4a5d-9ccc-19e21cf6cf4d","name":"Combine rep and profile1"},{"parameters":{"promptType":"define","text":"={{ $json['ai_impact_prompt'] }}","batching":{}},"id":"3c44e911-cd39-49a5-804b-182080447313","name":"ai_impact1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-3616,3648],"retryOnFail":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3024,3888],"id":"bc51ffc7-8af9-404f-bcf1-f061c2136d05","name":"AI_region1"},{"parameters":{"tableId":"enriched_jobs","fieldsUi":{"fieldValues":[{"fieldId":"career_title","fieldValue":"={{ $json.career_title }}"},{"fieldId":"company_size_type","fieldValue":"={{ $json.company_size_type }}"},{"fieldId":"overview","fieldValue":"={{ $json.overview }}"},{"fieldId":"technical_skills","fieldValue":"={{ $json.technical_skills }}"},{"fieldId":"soft_skills","fieldValue":"={{ $json.soft_skills }}"},{"fieldId":"personality_traits","fieldValue":"={{ $json.personality_traits }}"},{"fieldId":"work_schedule","fieldValue":"={{ $json.work_schedule }}"},{"fieldId":"client_interaction","fieldValue":"={{ $json.client_interaction }}"},{"fieldId":"colleague_interaction","fieldValue":"={{ $json.colleague_interaction }}"},{"fieldId":"autonomy_vs_collaboration","fieldValue":"={{ $json.autonomy_vs_collaboration }}"},{"fieldId":"pace_of_work","fieldValue":"={{ $json.pace_of_work }}"},{"fieldId":"core_values","fieldValue":"={{ $json.core_values }}"},{"fieldId":"motivational_factors","fieldValue":"={{ $json.motivational_factors }}"},{"fieldId":"typical_tasks","fieldValue":"={{ $json.typical_tasks }}"},{"fieldId":"education_requirements","fieldValue":"={{ $json.education_requirements }}"},{"fieldId":"certifications_requirements","fieldValue":"={{ $json.certifications_requirements }}"},{"fieldId":"career_progression","fieldValue":"={{ $json.career_progression }}"},{"fieldId":"ai_impact_rating","fieldValue":"={{ $json.ai_impact_rating }}"},{"fieldId":"salary","fieldValue":"={{ JSON.stringify($json.salary) }}"},{"fieldId":"alternate_titles","fieldValue":"={{ $json.alternate_titles }}"},{"fieldId":"leadership_challenges","fieldValue":"={{ $json.leadership_challenges }}"},{"fieldId":"path_type","fieldValue":"={{ $json.path_type}}"},{"fieldId":"path_type_notes","fieldValue":"={{ $json.path_type_notes }}"},{"fieldId":"report_id","fieldValue":"={{ $('Combine rep and profile1').first().json.report_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-656,3648],"id":"ddf2aa8e-58ef-47e9-8ad7-104e325697e2","name":"Supabase Insert1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"promptType":"define","text":"={{ $json['enrich prompt b1'] }}","batching":{}},"id":"4f43def3-37d9-4747-abf6-1bac52f85bdf","name":"Enrich B","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-1232,3648],"retryOnFail":true},{"parameters":{"jsCode":"const raw = $json.text;\n\nconst jsonMatch = raw.match(/```json\\n([\\s\\S]*?)\\n```/);\nif (!jsonMatch) {\n  throw new Error(\"Could not find a JSON block in the input text.\");\n}\n\nconst cleanJsonString = jsonMatch[1].trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJsonString);\n} catch (e) {\n  throw new Error(\"Failed to parse extracted JSON. Error: \" + e.message);\n}\n\nfunction normalizeKey(str) {\n  if (!str) return '';\n  return str\n    .toLowerCase()\n    .replace(/[—–-]/g, '-')\n    .replace(/&/g, 'and')\n    .replace(/[^\\w\\s-]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Build lookup from suitable_15 with multiple matching strategies\nconst suitable15Raw = $('suitable_15').item.json.text;\nconst s15Match = suitable15Raw.match(/```json\\n([\\s\\S]*?)\\n```/);\nlet s15Careers = [];\n\nif (s15Match) {\n  try {\n    const s15Parsed = JSON.parse(s15Match[1].trim());\n    s15Careers = s15Parsed.careers || [];\n  } catch (e) {\n    // continue without path data\n  }\n}\n\nconst byTitleAndSize = {};\nconst byTitle = {};\n\ns15Careers.forEach(c => {\n  const t = normalizeKey(c.career_title);\n  const ts = `${t}||${normalizeKey(c.company_size_type)}`;\n  byTitleAndSize[ts] = c;\n  byTitle[t] = c;\n});\n\nreturn parsed.map((item, idx) => {\n  const t = normalizeKey(item.career_title);\n  const ts = `${t}||${normalizeKey(item.company_size_type)}`;\n\n  // Match by title+company first (most precise), then title alone,\n  // then fall back to position if the array lengths align\n  let match = byTitleAndSize[ts] || byTitle[t];\n  if (!match && s15Careers.length === parsed.length) {\n    match = s15Careers[idx];\n  }\n\n  const formatted =\n    `Career Title: ${item.career_title}\\n` +\n    `Company: ${item.company_size_type}\\n` +\n    `AI Impact: ${item.ai_impact_rating?.rating} - ${item.ai_impact_rating?.explanation}\\n` +\n    `Exp. salary range in ${item.salary?.region}: ${item.salary?.range}`;\n\n  return {\n    json: {\n      ...item,\n      path_type: match?.path_type || null,\n      path_type_notes: match?.path_type_notes || null,\n      formatted_output: formatted\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2448,3888],"id":"cbca9532-78ec-4e3c-9662-f80238e2bcd5","name":"15TitSizAISal1"},{"parameters":{"jsCode":"// Get the 15 new careers from Tit_and_Co1\nconst titAndCoItems = $(\"Tit_and_Co1\").all().map(item => item.json);\n\n// In-batch dedup (case/whitespace normalized)\nfunction normalize(str) {\n  if (!str) return '';\n  return str.toLowerCase().replace(/\\s+/g, ' ').trim();\n}\n\nconst seenKeys = new Set();\nconst uniqueCareers = [];\n\ntitAndCoItems.forEach(career => {\n  const key = normalize(`${career.career_title}||${career.company_size_type}`);\n  if (!seenKeys.has(key)) {\n    seenKeys.add(key);\n    uniqueCareers.push(career);\n  }\n});\n\n// Return one item per career so Batcher1 can group them\nreturn uniqueCareers.map(c => ({ json: c }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,3648],"id":"43ce9d66-7234-42c7-80ca-45bc584b5ab3","name":"combine to "},{"parameters":{"jsCode":"const careers = items.map(i => i.json);\nconst batchSize = 5;\nconst batches = [];\n\nfor (let i = 0; i < careers.length; i += batchSize) {\n  batches.push(careers.slice(i, i + batchSize));\n}\n\nreturn batches.map(batch => ({\n  json: { careers: batch }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,3648],"id":"6489230c-187a-4eff-ac36-dde36c1172d8","name":"Batcher1","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"44845875-174c-4385-b507-5b2225b2f523","name":"enrich prompt b1","value":"=# ROLE  \nYou are an assistant that enriches these career descriptions into structured JSON for a database.  \n\n---\n\n# INPUT SOURCES:  \nUse this for content enrichment. Copy career_title, company_size_type, salary, ai_impact_rating, path_type, and path_type_notes verbatim from input. \nEnrich all other fields with structured information extracted or reasonably inferred from this text.  \n\n{{ JSON.stringify($json.careers, null, 2) }}  \n\nCRITICAL: You must enrich **ALL careers provided in the input (1–5 per batch. 3 batches max.)**.  \n- Do NOT invent careers.  \n- Do NOT skip careers.  \n\n---\n\n# !! IMPORTANT OUTPUT RULES !!  \n- Output ONLY valid JSON. No markdown, no commentary, no code fences.  \n- Every key MUST appear exactly as specified.  \n- If information is unavailable, use `\"N/A\"`.  \n- For text fields, always provide at least **one full descriptive sentence** (never leave blank).  \n- For arrays:  \n  * `technical_skills`: max 3 items  \n  * `soft_skills`: max 3 items  \n  * `core_values`: max items  \n  * `motivational_factors`: max 3 items  \n  * `typical_tasks`: max 3 items  \n  * `leadership_challenges`: must always be an array (empty if not relevant)  \n- **`salary` and `ai_impact_rating` must remain JSON objects, not strings.** Copy their structure verbatim.  \n- Do not merge, drop, or add extra sections.  \n\nOutput all careers inside a single JSON array in this format (the number of objects will match the number of input careers, 1–5):  \n\n[\n  { \"career_title\": \"Job 1\", ... },\n  { \"career_title\": \"Job 2\", ... }\n]  \n\n---\n\n# PATH TYPE AWARENESS\n\nEach input career has a `path_type` (`employee`, `freelance_fractional`, or `founder`). Several output fields must reflect the structural reality of the path, not just the role's content. Adjust framing accordingly:\n\n- **physical_setting:** For `founder`, environment is self-determined and may evolve as the business grows. For `freelance_fractional`, mention client-site / hybrid mix. For `employee`, describe the typical workplace.\n- **work_schedule:** For `founder`, note multi-year build with intense early phase. For `freelance_fractional`, note variable utilization and the work behind the work (pipeline, admin). For `employee`, standard role expectations.\n- **client_interaction:** For `founder` and `freelance_fractional`, this includes selling and pipeline building, not just delivery. For `employee`, describe role-defined interaction.\n- **typical_tasks:** Include path-realistic tasks. Founders sell, hire, finance, and build the product/service. Freelancers manage pipeline, contract, deliver. Employees execute role responsibilities.\n- **leadership_challenges:** For `founder`, include capital, hiring, survival challenges. For `freelance_fractional`, include client acquisition and income variability. For `employee`, include the people/political challenges of the role.\n- **career_progression:** For `founder`, progression is scaling, exiting, or evolving the model — not climbing a ladder. For `freelance_fractional`, progression is rate increases, reputation, or transition to founder/employee. For `employee`, typical next titles.\n\nThe `path_type_notes` field already contains candidate-specific honest framing — preserve it verbatim and let the structured fields above complement it.\n\n---\n\n## OUTPUT STRUCTURE (copy keys exactly):\n\n{\n  \"career_title\": \"\",                \n  \"company_size_type\": \"\",           \n  \"alternate_titles\": [],            \n  \"overview\": \"\",                    \n  \"technical_skills\": [],            \n  \"soft_skills\": [],                 \n  \"personality_traits\": \"\",          \n  \"physical_setting\": \"\",            \n  \"work_schedule\": \"\",               \n  \"client_interaction\": \"\",          \n  \"colleague_interaction\": \"\",       \n  \"autonomy_vs_collaboration\": \"\",   \n  \"pace_of_work\": \"\",                \n  \"core_values\": [],                 \n  \"motivational_factors\": [],        \n  \"typical_tasks\": [],               \n  \"leadership_challenges\": [],       \n  \"education_requirements\": \"\",      \n  \"certifications_requirements\": \"\", \n  \"salary\": {\n    \"region\": \"\",                    \n    \"range\": \"\"\n  },\n  \"career_progression\": [],\n  \"ai_impact_rating\": {\n    \"rating\": \"\",\n    \"explanation\": \"\"\n  },\n  \"path_type\": \"\",\n  \"path_type_notes\": \"\"\n}\n\n---\n\n# EXAMPLE [for tone, type of content, and length consistency]:  \n\n```json\n{\n  \"career_title\": \"Fractional Chief Innovation Officer (CINO)\",\n  \"company_size_type\": \"Small/Medium (51-200), Scale-Up / Rapid Growth\",\n  \"alternate_titles\": [\n    \"Fractional Head of Innovation\",\n    \"Part-Time Chief Innovation Officer\",\n    \"Innovation Strategy Advisor\"\n  ],\n  \"overview\": \"Executive leader driving the innovation agenda across products, services, and business models, with a strong focus on AI-enabled opportunities and measurable impact.\",\n  \"technical_skills\": [\n    \"Innovation portfolio management and venture building\",\n    \"AI strategy, data productization, and experimentation frameworks\",\n    \"Market research, trend scouting, and opportunity sizing\"\n  ],\n  \"soft_skills\": [\n    \"Executive stakeholder management and influence\",\n    \"Cross-functional leadership and facilitation\",\n    \"Structured problem solving and clear decision making\"\n  ],\n  \"personality_traits\": \"Visionary, curious, and commercially minded. Balances big picture strategy with pragmatic execution. Comfortable with ambiguity, resilient under pressure, and adept at rallying teams around a clear narrative.\",\n  \"physical_setting\": \"Hybrid mix of on-site sessions with founders or BU leaders, remote work, and occasional workshops or labs for prototyping and pilots.\",\n  \"work_schedule\": \"Part-time or engagement-based. Intensity peaks around fundraising, board cycles, major launches, and quarterly planning.\",\n  \"client_interaction\": \"High – regular with founders, executives, partners, and key customers for discovery and validation.\",\n  \"colleague_interaction\": \"High – daily collaboration with product, engineering, data, finance, legal, and GTM teams.\",\n  \"autonomy_vs_collaboration\": \"High autonomy to set direction and governance, paired with heavy collaboration to execute experiments and scale what works.\",\n  \"pace_of_work\": \"Fast and iterative. Sprint-based experimentation with frequent reviews and rapid go/no-go decisions.\",\n  \"core_values\": [\n    \"Evidence based decision making\",\n    \"Customer and value centricity\",\n    \"Ethical and responsible innovation\"\n  ],\n  \"motivational_factors\": [\n    \"Building repeatable mechanisms that ship real outcomes\",\n    \"Learning at the frontier of tech and markets\",\n    \"Developing teams and internal capability\"\n  ],\n  \"typical_tasks\": [\n    \"Define the innovation thesis, investment themes, and guardrails\",\n    \"Run discovery, ideation, and prioritization to craft a validated portfolio\",\n    \"Stand up pilots and A/B experiments, then scale successful bets\",\n    \"Establish governance, metrics, and innovation accounting\"\n  ],\n  \"leadership_challenges\": [\n    \"Requires broad delegation and oversight across multiple teams.\",\n    \"Demands high tolerance for ambiguity and frequent pivots.\",\n    \"Success depends on balancing visionary leadership with operational follow-through.\"\n  ],\n  \"education_requirements\": \"Bachelor’s or Master’s in business, engineering, computer science, design, or related field [preferred]; MBA or equivalent experience is valued.\",\n  \"certifications_requirements\": \"Design Thinking, Lean Startup, Product Management, or AI product certifications [beneficial].\",\n  \"salary\": {\n    \"region\": \"Northern and Western Europe\",\n    \"range\": \"€130,000 – €220,000\"\n  },\n  \"career_progression\": [\n    \"Chief Innovation Officer or VP Strategy at a larger enterprise\",\n    \"Same role at a larger organization or multi-portfolio innovation consultancy\"\n    ],\n  \"ai_impact_rating\": {\n    \"rating\": \"Substantial\",\n    \"explanation\": \"These positions are experiencing considerable evolution through AI integration. While AI manages analytical and operational components, success still depends on human insight for strategy development, complex problem-solving, and driving meaningful change.\"\n  },\n  \"path_type\": \"freelance_fractional\",\n  \"path_type_notes\": \"Fractional CINO income at 2-4 clients can reach mid-six-figures, but requires 6-12 months to build a client roster; intensity is high during board cycles.\"\n}\n}\n\n---\n\n# NOTES  \n* Always enrich ALL careers provided in the batch (1–5).  \n* Use input for `career_title`, `company_size_type`, `salary`, and `ai_impact_rating` verbatim.  \n* Match tone, style, and level of detail exactly to the EXAMPLE.  \n* Ensure JSON validity and consistency across all items. \n\n# EDGE CASE\nin rare cases, a;;\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1456,3648],"id":"d3d58085-ce8a-4239-b3be-5d72febfd53a","name":"enrich prompt1"},{"parameters":{"jsCode":"function cleanText(str) {\n  return str\n    .replace(/```(?:json)?/g, \"\")\n    .replace(/```/g, \"\")\n    .trim();\n}\n\nfunction safeParse(str) {\n  try {\n    return JSON.parse(str);\n  } catch {\n    return null;\n  }\n}\n\nfunction normalize(data) {\n  if (!data) return [];\n\n  if (Array.isArray(data)) return data;\n  if (typeof data === \"object\") return [data];\n\n  if (typeof data === \"string\") {\n    const cleaned = cleanText(data);\n\n    if (cleaned.startsWith(\"[\") && cleaned.endsWith(\"]\")) {\n      try { return JSON.parse(cleaned); } catch {}\n    }\n\n    const matches = cleaned.match(/\\{[\\s\\S]*?\\}(?=\\s*\\{|\\s*$)/g);\n    if (matches) {\n      const parsed = matches.map(m => safeParse(m)).filter(Boolean);\n      if (parsed.length > 0) return parsed;\n    }\n\n    const obj = safeParse(cleaned);\n    if (obj) return [obj];\n  }\n\n  return [];\n}\n\nfunction enforceMinimums(obj) {\n  const rules = {\n    technical_skills: 3,\n    soft_skills: 3,\n    core_values: 3,\n    motivational_factors: 3,\n    typical_tasks: 4,\n  };\n\n  for (const [field, minCount] of Object.entries(rules)) {\n    if (!Array.isArray(obj[field])) obj[field] = [];\n    while (obj[field].length < minCount) {\n      obj[field].push(\"N/A\");\n    }\n  }\n\n  return obj;\n}\n\nfunction sanitize(obj) {\n  if (Array.isArray(obj)) {\n    return obj.map(sanitize);\n  } else if (obj !== null && typeof obj === \"object\") {\n    const clean = {};\n    for (const [k, v] of Object.entries(obj)) {\n      clean[k] = v === undefined ? null : sanitize(v);\n    }\n    return clean;\n  }\n  return obj;\n}\n\n\n// 🔹 MAIN EXECUTION\nconst allInputs = $input.all();\nlet allItems = [];\n\nconst schemaTemplate = {\n  career_title: \"N/A\",\n  company_size_type: \"N/A\",\n  overview: \"N/A\",\n  technical_skills: [],\n  soft_skills: [],\n  personality_traits: \"N/A\",\n  work_schedule: \"N/A\",\n  client_interaction: \"N/A\",\n  colleague_interaction: \"N/A\",\n  autonomy_vs_collaboration: \"N/A\",\n  pace_of_work: \"N/A\",\n  core_values: [],\n  motivational_factors: [],\n  typical_tasks: [],\n  education_requirements: \"N/A\",\n  certifications_requirements: \"N/A\",\n  career_progression: [],\n  ai_impact_rating: { rating: \"N/A\", explanation: \"N/A\" },\n  salary: { region: \"N/A\", range: \"N/A\" },\n  alternate_titles: [],\n  leadership_challenges: [],\n  path_type: \"N/A\",\n  path_type_notes: \"N/A\"\n};\n\nfor (const item of allInputs) {\n  // 1. Get the raw input (it's in the \"text\" field based on your snippet)\n  const rawData = item.json.text || item.json;\n  \n  // 2. Use your normalize function to parse the stringified JSON\n  const parsedItems = normalize(rawData);\n\n  // 3. Process each parsed career\n  if (Array.isArray(parsedItems)) {\n    const processedBatch = parsedItems.map(obj => {\n      const processed = enforceMinimums(sanitize(obj));\n      return { ...schemaTemplate, ...processed };\n    });\n    allItems.push(...processedBatch);\n  }\n}\n\n// Final check to prevent n8n error\nif (allItems.length === 0) {\n  return [{ json: { message: \"No items found in input\" } }];\n}\n\nreturn allItems.map(i => ({ json: i }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,3648],"id":"f5d51632-b9c7-4ab5-a874-ed3e0ce61a4b","name":"clean up JSON1"},{"parameters":{"assignments":{"assignments":[{"id":"1155fd8a-d239-475d-b145-236ab08a1b9a","name":"id","value":"={{ $json.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,3648],"id":"a90c6deb-71a2-495a-8b7c-c64cbf5a4473","name":"complete confirmation1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[96,4000],"id":"1d6da739-9b0c-47d6-8764-7bfc8ab2c3de","name":"Merge1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"Tit_co_RID_data","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-208,3888],"id":"6650ba39-e1bd-451c-886e-b4210893cb26","name":"Aggregate2"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"complete","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-208,3648],"id":"7fe0fcde-c0bf-4b96-ad15-3b7d96132eb0","name":"Aggregate3"},{"parameters":{"assignments":{"assignments":[{"id":"16f11cfa-b6e4-48df-808f-ad0b125acfec","name":"career_title","value":"={{ $json.career_title }}","type":"string"},{"id":"70e9b009-0daa-41fc-803f-3621a9f10b5f","name":"company_size_type","value":"={{ $json.company_size_type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2208,3888],"id":"c34e350c-a2d3-43ba-af9b-63da3537aca8","name":"Tit_and_Co1"},{"parameters":{"jsCode":"// Extract region from init_summary without LLM call\n// Region is question 1d - a fixed dropdown value\nconst summary = $json.initial_summary || '';\n\nconst VALID_REGIONS = [\n  'Northern and Western Europe',\n  'Southern and Eastern Europe',\n  'United Kingdom (London)',\n  'United Kingdom (Other)',\n  'United States (High-Cost Regions)',\n  'United States (Average-Cost Regions)',\n  'United States (Lower-Cost Regions)',\n  'Canada',\n  'Australia and New Zealand',\n  'Switzerland'\n];\n\n// Try to find the region in the summary text\nlet region = 'Northern and Western Europe'; // safe default\n\nfor (const r of VALID_REGIONS) {\n  if (summary.includes(r)) {\n    region = r;\n    break;\n  }\n}\n\n// Deterministic region -> currency map (no LLM guessing).\n// The salary LLM downstream is HANDED this currency, so it can never\n// drift to USD on its own. Anything unmapped falls back to EUR, never USD.\nconst CURRENCY_BY_REGION = {\n  'Northern and Western Europe':          { code: 'EUR', symbol: '€' },\n  'Southern and Eastern Europe':          { code: 'EUR', symbol: '€' },\n  'Switzerland':                          { code: 'CHF', symbol: 'CHF ' },\n  'United Kingdom (London)':              { code: 'GBP', symbol: '£' },\n  'United Kingdom (Other)':               { code: 'GBP', symbol: '£' },\n  'United States (High-Cost Regions)':    { code: 'USD', symbol: '$' },\n  'United States (Average-Cost Regions)': { code: 'USD', symbol: '$' },\n  'United States (Lower-Cost Regions)':   { code: 'USD', symbol: '$' },\n  'Canada':                               { code: 'CAD', symbol: 'CA$' },\n  'Australia and New Zealand':            { code: 'AUD', symbol: 'AU$' }\n};\n\nconst currency = CURRENCY_BY_REGION[region] || { code: 'EUR', symbol: '€' };\n\nreturn [{ json: {\n  Region: region,\n  CurrencyCode: currency.code,\n  CurrencySymbol: currency.symbol\n} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4032,3904],"id":"74b2be61-76df-4c13-8e2c-83c550b8fcb7","name":"Extract Region (code)"},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1232,3776],"id":"ea65fac3-5cdd-48ea-81be-af3132f33a9b","name":"3FP Enrich1","credentials":{"googlePalmApi":{"id":"Q653Teuy9nP6VLoE","name":"Cairnly Gstudio Key"}}},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2800,4160],"id":"c203f647-c9cd-4ea5-8e4f-404fb512ccc2","name":"3FP Sal1","credentials":{"googlePalmApi":{"id":"Q653Teuy9nP6VLoE","name":"Cairnly Gstudio Key"}}},{"parameters":{"operation":"getAll","tableId":"report_sections","returnAll":true,"filters":{"conditions":[{"keyName":"report_id","condition":"eq","keyValue":"={{ $json['report id'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5344,3904],"id":"161ab655-e31d-425f-bcce-56c890c424cc","name":"SB extract profile1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"url":"https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/ai_research","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"is_active","value":"eq.true"},{"name":"select","value":"key_findings"},{"name":"order","value":"published_date.desc"},{"name":"limit","value":"1"}]},"options":{}},"id":"f7f64966-f845-417f-b0f7-059a0a72fc72","name":"Fetch AI Research1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4032,3648],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"assignments":{"assignments":[{"id":"cddfa179-e8ee-400a-a8fa-efe0c346b847","name":"report id","value":"={{ $json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5728,4048],"id":"0b2daf98-66df-4381-84f4-917cab045ee4","name":"repID1"},{"parameters":{"promptType":"define","text":"={{ $json['suitable_15_prompt'] }}","batching":{}},"id":"d8bfa80c-3256-4482-9669-dc6684ae1b16","name":"suitable_15","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-4384,3648],"retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-5.5","mode":"list","cachedResultName":"gpt-5.5"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-4384,3808],"id":"3a1ce19b-c2b2-49ab-bcd1-9390012022f7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"HrtWXSGh6yZj0fJ0","name":"OpenAi account"}}},{"parameters":{"jsCode":"const rows = $input.all().map(i => i.json).filter(r => r && r.report_id);\nif (rows.length === 0) {\n  throw new Error(`No report_sections found for report_id ${$('repID1').first().json['report id']} — WF1 profile insert likely incomplete`);\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5136,3904],"id":"df9ff13a-8410-481d-b3e2-b57cda2742bb","name":"Check profile exists"},{"parameters":{"workflowId":{"__rl":true,"value":"zhgJuiDp60PS5ZKJ","mode":"list","cachedResultUrl":"/workflow/zhgJuiDp60PS5ZKJ","cachedResultName":"Cairnly — WF3 - scoring careers NL/EN"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[368,4016],"id":"c882178f-74b3-4009-8194-7fab0f73df0e","name":"Call 'WF3 - scoring careers NL/EN'","executeOnce":false},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.5,"position":[-3616,3824],"id":"a78929e5-2b06-46b6-95c2-37c8c2e338eb","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"repID1","type":"main","index":0}]]},"Set AI Impact Prompt1":{"main":[[{"node":"ai_impact1","type":"main","index":0}]]},"Set Suitable 15 Prompt1":{"main":[[{"node":"suitable_15","type":"main","index":0}]]},"Salary Range1":{"main":[[{"node":"15TitSizAISal1","type":"main","index":0}]]},"Combine rep and profile1":{"main":[[{"node":"Extract Region (code)","type":"main","index":0},{"node":"Set Suitable 15 Prompt1","type":"main","index":0}]]},"ai_impact1":{"main":[[{"node":"AI_region1","type":"main","index":0}]]},"AI_region1":{"main":[[{"node":"Salary Range1","type":"main","index":0}]]},"Supabase Insert1":{"main":[[{"node":"complete confirmation1","type":"main","index":0}]]},"Enrich B":{"main":[[{"node":"clean up JSON1","type":"main","index":0}]]},"15TitSizAISal1":{"main":[[{"node":"Tit_and_Co1","type":"main","index":0}]]},"combine to ":{"main":[[{"node":"Batcher1","type":"main","index":0}]]},"Batcher1":{"main":[[{"node":"enrich prompt1","type":"main","index":0}]]},"enrich prompt1":{"main":[[{"node":"Enrich B","type":"main","index":0}]]},"clean up JSON1":{"main":[[{"node":"Supabase Insert1","type":"main","index":0}]]},"complete confirmation1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Call 'WF3 - scoring careers NL/EN'","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Aggregate3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Tit_and_Co1":{"main":[[{"node":"Aggregate2","type":"main","index":0},{"node":"combine to ","type":"main","index":0}]]},"3FP Enrich1":{"ai_languageModel":[[{"node":"Enrich B","type":"ai_languageModel","index":0}]]},"3FP Sal1":{"ai_languageModel":[[{"node":"Salary Range1","type":"ai_languageModel","index":0}]]},"SB extract profile1":{"main":[[{"node":"Check profile exists","type":"main","index":0}]]},"Fetch AI Research1":{"main":[[{"node":"Set AI Impact Prompt1","type":"main","index":0}]]},"repID1":{"main":[[{"node":"Merge1","type":"main","index":2},{"node":"SB extract profile1","type":"main","index":0}]]},"suitable_15":{"main":[[{"node":"Fetch AI Research1","type":"main","index":0}]]},"Extract Region (code)":{"main":[[{"node":"AI_region1","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"suitable_15","type":"ai_languageModel","index":0}]]},"Check profile exists":{"main":[[{"node":"Combine rep and profile1","type":"main","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"ai_impact1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"FbsruPbuZI2Fgtc8","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{"When Executed by Another Workflow":[{"json":{"report_id":"bf86828c-74f1-4f65-a334-36e048487a14","preferred_language":"en"},"pairedItem":{"item":0}}]},"versionId":"4e12489c-f96c-479e-9abe-f3bb1063e3fb","activeVersionId":"4e12489c-f96c-479e-9abe-f3bb1063e3fb","versionCounter":471,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2025-07-18T16:23:17.235Z","createdAt":"2025-07-18T16:23:17.235Z","role":"workflow:owner","workflowId":"vVv0tsnFlBnarMdq","projectId":"IRGhJlz0HuarxdVs","project":{"updatedAt":"2026-05-08T11:19:23.000Z","createdAt":"2025-06-17T10:11:12.163Z","id":"IRGhJlz0HuarxdVs","name":"Cairnly","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"","customTelemetryTags":[],"creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-09T08:42:11.183Z","createdAt":"2026-07-09T08:42:11.183Z","versionId":"4e12489c-f96c-479e-9abe-f3bb1063e3fb","workflowId":"vVv0tsnFlBnarMdq","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-5984,4048],"id":"fb851d40-bb2a-4103-a172-1d32acc8f76b","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"ai_impact_assignment","name":"ai_impact_prompt","value":"=# ROLE AND TASK\nYou are an expert futurist evaluating the impact of Artificial Intelligence on specific careers.\nInput list of jobs: \n\n{{ $('suitable_15').item.json.text }}\n\n# RESEARCH FOUNDATION\nYour assessments are grounded in peer-reviewed labor market research. Use the following empirical findings to calibrate your ratings:\n\n{{ $(\"Fetch AI Research1\").first().json.key_findings }}\n\n# CONTEXT: AGENTIC AI TRAJECTORY (2026-2028)\nThe research above captures observed deployment as of early 2026. Your assessment should project FORWARD 18-24 months, assuming Agentic AI capabilities:\n1. Autonomous Execution: AI doesn't just draft - it executes complex multi-step workflows end-to-end (analyze data, build report, update CRM, email client) without human intervention.\n2. Persistent Memory: AI retains full project and client context over months.\n3. Tool Mastery: AI operates business software (Excel, Salesforce, Jira, Figma, code editors) at professional-level competency.\n4. The observed-to-theoretical gap will narrow significantly as tooling matures and organizational adoption accelerates.\n\n# ASSESSMENT RULES\nCompare the role's core tasks against both current observed exposure AND projected agentic capabilities.\n\n## Priority Rules (apply in order):\n1. **Physical Rule:** If the role requires physical presence or dexterity (construction, trades, landscaping, hands-on healthcare), rate as Minimal.\n2. **Orchestrator Rule:** If the title implies strategic accountability and human judgment at the top (\"Head of\", \"VP\", \"Director\", \"C-suite\", \"Owner\", \"Partner\"), rate as Moderate. High-stakes decision-making, organizational politics, and legal accountability cannot be delegated to AI.\n3. **Execution Rule:** If the role's primary output is content, analysis, code, or data processing that AI can generate at comparable or higher quality, rate as Severe or Critical.\n\n## Rating Scale\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\n\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n## OUTPUT FORMAT\n- Do not include an intro or outro.\n- Do not use the em dash (—). Use hyphens (-) only.\n- Output strictly in this format for every job:\n\nCareer Title: [Exact Title from Input]\nCompany: [Size] / [Culture]\nAI Impact: [Rating] - [1 succinct sentence explaining the specific friction point or advantage for THIS role at THIS company type]\n---\n\nStart with 1.\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3808,3648],"id":"7ca84c55-9fa1-4dfc-86a5-8a36348a7244","name":"Set AI Impact Prompt1"},{"parameters":{"assignments":{"assignments":[{"id":"suitable_15_assignment","name":"suitable_15_prompt","value":"=# ROLE\nYou are an expert career exploration system generating 15 investigation-worthy careers for detailed analysis. Your goal is to identify plausible career paths that warrant deep evaluation through subsequent enrichment and scoring processes.\n\n# CONTEXT & WORKFLOW\nYou are Step 1 in a 4-step career matching process:\n1. **Your task:** Generate 15 plausible career options\n2. **Next:** Careers will be enriched with detailed information\n3. **Then:** Rigorous 0-100 scoring across 7 dimensions\n4. **Finally:** Top 8 careers selected for candidate\n\nThis means you should:\n- Focus on generating careers worth investigating (70%+ confidence they could work)\n- Provide diverse options across role types and industries\n- Apply hard constraints but don't overthink perfect fit\n- The scoring system will filter out mismatches\n\n# INPUT DATA STRUCTURE\nYou will receive:\n- **Initial Summary:** Structured candidate profile with all survey responses\n- **Personality Analysis:** Four narrative sections (Approach, Strengths, Development, Values)\n\n# ANALYSIS FRAMEWORK\n\n## STEP 0: Assessment Purpose Lens (Critical - Ref: 1e)\n\nAtlas is built for candidates exploring change, clarity, or new direction, not advancement within an existing track. The candidate's stated purpose (1e) is the primary lens for everything below.\n\n**Reading the user's purpose (1e):**\n- Burnout / lack of fulfillment → strong change signal; weight transformation paths heavily\n- Finding a new career path → core fit; follow framework normally\n- First job / career path guidance → exploration mode; emphasize options across directions\n- Identifying strengths or work-life balance → exploration-leaning; if happiness is high but they're here, surface the underlying tension\n\n**Reinterpretation rules for advancement-flavored goals (7a, 7b):**\nSeveral 7a/7b options imply a same-path advancement. Treat these as underlying needs to satisfy through change paths, not as paths to confirm:\n\n- 7a \"Achieve a promotion or salary increase\" → growth/financial need; meet via paths that offer progression in a new direction\n- 7b \"Reach a senior leadership or executive position\" → authority/impact need; meet via advisory, board, fractional, expert IC, or operational paths in different contexts\n- 7b \"Establish expertise and recognition in my field\" → depth/recognition need; \"field\" can be read loosely\n- \"Other\" answers implying same-path advancement → treat as needs\n\n**Goal contradiction check:**\nBefore generating careers, check whether 1e and 7a/7b agree.\n- If 1e signals change but 7a/7b emphasize advancement → trust 1e as authoritative; reinterpret 7a/7b as needs.\n- If 1e signals exploration but 7a/7b are advancement-heavy and happiness data is high → produce mixed output AND tag this tension explicitly in `pattern_analysis_summary` so the chat can address it later.\n\n**Hard rule:** Do not produce careers framed as internal promotions of the user's existing role. Even when 7a/7b indicate growth, satisfy that need through change paths.\n\n## STEP 1: PATTERN RECOGNITION\n\nBefore generating any careers, analyze these patterns:\n\n### A. Happiness & Satisfaction Pattern (Critical - Ref: 1k, 1e)\nExamine each role in their history (1j) against happiness scores (1k):\n- **High satisfaction roles (8-10/10):** What made them happy? What were the characteristics?\n- **Low satisfaction roles (≤5/10):** What drained them? What patterns appear?\n- **Medium satisfaction (6-7/10):** What was missing? What caused the score drop?\n\n**Key questions:**\n- Are they burned out from execution/operational roles seeking advisory work?\n- Do they prefer project-based over ongoing operational responsibility?\n- Does company size/culture correlate with satisfaction?\n- What role characteristics appear in their happiest experiences?\n\n### B. Career Trajectory Analysis (Ref: 1j)\nMap their progression:\n- What direction have they been moving? (execution → advisory? generalist → specialist?)\n- What are they moving away from? (operational chaos? people management?)\n- What have they been testing? (fractional? board work? consulting?)\n\n**Trajectory types:**\n- **Deepening:** Staying in same domain, increasing seniority\n- **Pivoting:** Changing industry/function but using transferable skills\n- **Transitioning:** Moving from execution to advisory/teaching/governance\n- **Escaping:** Actively trying to leave a pattern that's not working\n\n### C. Stated Goals vs Revealed Preferences (Ref: 7a, 7b, 1k, 4h)\nCompare what they say they want vs what actually made them happy:\n- **Stated goals (7a, 7b):** Short and long-term objectives\n- **Revealed preferences (1k):** What actually scored high in happiness\n- **Dream jobs (4h):** Thematic desires (analyze themes, not literal jobs - see Dream Job section below)\n- Do 7a/7b advancement-flavored answers contradict the change-seeking framing of 1e? If yes, treat 1e as authoritative and reinterpret 7a/7b as underlying needs (see STEP 0).\n\n**Identify conflicts:**\n- Do they say they want leadership but were happiest in IC/advisory roles?\n- Do they say they want balance but keep choosing intensity?\n- Do stated goals align with happiness data?\n\n### D. Burnout & Energy Indicators (Ref: 2a, 1n, 1k, 7c)\nCheck for warning signs:\n- Social energy depletion (2a: \"Drained\")\n- Additional context mentioning burnout (1n)\n- Multiple roles with declining happiness scores\n- Barriers mentioning burnout or work-life balance (7c)\n\n**If burnout indicators present:**\n- Prioritize advisory/fractional/teaching roles over operational leadership\n- Favor roles with clear boundaries over \"always on\" positions\n- Emphasize roles where they provide expertise vs execute daily\n\n### E. Dream Job Theme Extraction (Ref: 4h)\n\n**CRITICAL:** Dream jobs reveal desired work qualities, NOT literal career targets.\n\n**Your job:**\n1. Extract themes from dream jobs\n2. Find realistic careers delivering those themes\n3. DON'T literally suggest dream jobs unless genuinely plausible\n\n**Theme extraction guide:**\n\nCommon dream jobs and their themes:\n- \"Yoga instructor\" → teaching, autonomy, wellness, structured sessions, clear boundaries\n- \"Academic lecturer\" → knowledge sharing, expertise-based, autonomy, clear containers\n- \"Forest ranger\" → independence, solitude, hands-on, escape from politics\n- \"Bookshop owner\" → curation, knowledge, small-scale, independence, slow pace\n- \"Travel blogger\" → independence, creativity, freedom, storytelling\n- \"Restaurant owner\" → creativity, autonomy, tangible product, hospitality\n- \"Photographer\" → creativity, independence, visual expression, project-based\n\n**When to literally suggest a dream job:**\n✅ They have directly relevant experience (e.g., \"Academic lecturer\" for someone with teaching experience + expertise)\n✅ Compensation is realistic for their range (3f)\n✅ It's a plausible next step given background (1h, 1j)\n\n**When to extract themes only:**\n❌ Dream job requires complete retraining (forest ranger for finance exec)\n❌ Massive compensation mismatch (yoga instructor at $150K+)\n❌ Zero connection to experience (professional athlete for desk worker)\n\n**Weighting:**\nDream job themes should influence ~10-15% of career selection, not dominate it.\n\n### F. Language Profile (see 1l in summary)\nMap the candidate's language reach against their region (1d):\n- **Monolingual English in non-Anglo region (e.g. NL, DE):** restrict to international / English-speaking workplaces; \"EU corporate roles requiring local language\" off the table.\n- **Multilingual (2+ languages):** opens up international/EU policy/diplomatic/translation-adjacent careers; cross-border roles become realistic.\n- **Native local + English:** the default European professional profile; full local + international access.\n- **Rare language combinations** (Mandarin+English, Arabic+English): can be a major asset for specific career paths in specific industries — surface this if relevant.\n\nThis affects:\n- Geographic mobility (1d): broader languages = broader location options\n- Industry options: media, diplomacy, international business, localization, language-specific consulting all unlocked or locked by this\n- Outside-the-box careers: language-niche options \n\nPriority order:\n1. Stated career goals (7a, 7b) - 30%\n2. Happiness patterns (1k) - 25%\n3. Skills and experience (1h, 1j, 1l) - 20%\n4. Values and work preferences (3a-3h) - 15%\n5. Dream job themes (4h) - 10%\n\n## STEP 2: STRATEGIC DISTRIBUTION\n\nBased on your pattern analysis, determine the distribution of the 15 careers:\n\n### Distribution Scenarios:\n\n**Scenario A: Burned Out / Seeking Major Change**\n(Indicators: Low satisfaction ≤5/10 in recent roles, burnout mentioned in 1n, career change goal in 1e)\n- 10-20% Similar roles (2-3 careers showing they COULD continue current path)\n- 30-40% Adjacent pivots (5-6 careers using skills in different context/industry)\n- 40-50% Transformation roles (6-7 careers: advisory, teaching, governance, fractional)\n\n**Scenario B: Moderately Satisfied / Seeking Optimization**\n(Indicators: Happiness 6-7/10, wants better fit not complete change)\n- 30-40% Similar roles (4-6 careers with incremental improvements)\n- 40-50% Adjacent pivots (6-7 careers: different industry, culture, or role type)\n- 20-30% Exploration roles (3-4 careers: stretch options, new directions)\n\n**Scenario C: Highly Satisfied / Seeking Recognition or Reframe**\n(Indicators: Happiness 8-10/10; 7a/7b emphasize advancement, recognition, or expertise; but candidate still chose to take the assessment, so something is unresolved)\n- 30-40% Similar roles (carry expertise into a new context, scale, or autonomy structure — NOT internal promotions of the existing role)\n- 40-50% Adjacent pivots (different industry, culture, or business model using the same skill set)\n- 20-30% Exploration roles (advisory, fractional, expert IC, teaching — paths that satisfy authority/recognition needs differently)\n\nNote: Even highly satisfied candidates reaching Atlas chose to do so because something is unresolved. Do not produce internal-promotion suggestions; reframe their advancement need as growth in a new context. If the tension between high happiness and assessment-taking is unexplained, surface it in `pattern_analysis_summary`.\n\n**Scenario D: Early Career / Exploration Mode**\n(Indicators: <5 years experience, unclear direction)\n- 30% Similar roles (4-5 careers in current domain)\n- 40% Adjacent pivots (6 careers testing different directions)\n- 30% Exploration roles (4-5 careers in new domains)\n\n### Adaptations:\n\n**If trajectory shows clear movement:**\n- Weight distribution toward the direction they're already moving\n- Example: If moving execution → advisory, generate 60% advisory-type roles\n\n**If stated goals conflict with happiness data:**\n- Weight toward what actually made them happy (revealed preferences > stated goals)\n- Include 1-2 careers matching stated goals to validate/challenge assumptions\n\n**If dream job themes are strong and relevant:**\n- Ensure 3-4 careers deliver those themes in realistic ways\n- Example: \"Academic lecturer\" dream → include executive education, workshop facilitation, training roles\n\n---\n\n## CRITICAL PATTERNS FOR CAREER GENERATION\n\n### Pattern 1: Extending Proven Success\nWhen candidate has 8-10/10 happiness in a role:\n- Double down on what works\n- Quote exact satisfaction reason from 1k\n- Maintain structural features causing high satisfaction\n- Scale or diversify without changing core model\n- Similarity 8-10 appropriate\n\n**Example:** Board member at 9/10 → Portfolio of 3-5 board seats\n\n### Pattern 2: Similar But Better  \nWhen candidate has 6-8/10 happiness with specific complaints:\n- Keep core expertise that works\n- Fix structural problem causing dissatisfaction\n- Quote exact problem from 1k and show how new role solves it\n- Similarity 7-9 appropriate\n\n**Example:** Fractional work at 7/10 with \"startup chaos\" complaint → Same fractional model at later-stage companies\n\n### Pattern 3: Dream Job Themes → Reality\nExtract themes from 4h, don't suggest literally unless genuinely viable:\n- **Teaching themes** → workshop facilitation, coaching, training, education roles\n- **Autonomy themes** → fractional, consulting, independent IC, advisory roles\n- **Creativity themes** → design, strategy, innovation, content creation roles\n- **Nature/outdoors themes** → field work, site visits, remote roles (not literal ranger)\n- **Slow pace themes** → government, academia, established corporate roles\n- Connect themes to actual skills/interests (4f, 1m, 1l)\n- Similarity 1-4 appropriate for transformation\n\n**When to literally suggest dream job:** Only if they have relevant expertise + realistic compensation + plausible next step\n\n---\n\n## HANDLING DISSATISFACTION PATTERNS\n\nIf candidate shows pattern of dissatisfaction or explicitly seeks change:\n\n### Identify the Core Problem:\nLook for repeated issues across low-happiness roles (≤7/10):\n- **Intensity/pace:** \"always on,\" \"exhausting,\" \"burnout,\" \"high pressure\"\n- **People management:** \"team conflicts,\" \"difficult personalities,\" \"people drain\"\n- **Lack of authority:** \"no decision power,\" \"can't implement,\" \"frustrated\"\n- **Chaos/ambiguity:** \"disorganized,\" \"unclear,\" \"constantly changing,\" \"firefighting\"\n- **Politics/relationships:** \"CEO dynamics,\" \"stakeholder management,\" \"office politics\"\n- **Compensation:** \"underpaid,\" \"not valued financially\"\n- **Values misalignment:** \"not meaningful,\" \"conflicts with values,\" \"soul crushing\"\n\n### Apply \"Similar But Different\" Principle:\nDon't recreate the problem in a new setting. Fix the structural cause:\n\n**If problem is intensity/burnout:**\n- ✅ Advisory, fractional, project-based, teaching roles\n- ✅ Roles with clear boundaries and defined engagements\n- ❌ Similar operational role at different company\n- **Example:** Burned-out VP Operations → Fractional Strategic Advisor (not COO)\n\n**If problem is people management drain:**\n- ✅ IC expert roles, specialized consulting, technical leadership\n- ✅ Roles where they guide/advise rather than manage directly\n- ❌ Different management role with more reports\n\n**If problem is chaos/ambiguity:**\n- ✅ Later-stage companies, established corporates, government, academia\n- ✅ Roles with clear processes and structure\n- ❌ \"Different startup\" or \"better organized startup\"\n\n**If problem is lack of authority:**\n- ✅ Independent roles, advisory positions, senior IC roles\n- ✅ Roles where they own outcomes or provide expert guidance\n- ❌ Staff roles or support functions with similar authority gaps\n\n**If problem is politics/relationships:**\n- ✅ Independent consulting, fractional, advisory, teaching\n- ✅ External expert roles without internal political navigation\n- ❌ Similar internal role at \"better culture company\"\n\n**If problem is values misalignment:**\n- ✅ Mission-driven orgs, nonprofits, education, purpose-aligned sectors\n- ✅ Roles where their expertise serves their values\n- ❌ Similar role in different industry without addressing values\n\n### The Core Principle:\n\"Similar\" means using similar expertise in a structure that solves their stated problem, NOT recreating the same problem in a different setting.\n\n**Remember:** If they rated a role ≤7 and explicitly stated the problem, don't suggest variations that have the same structural issue. Fix the structure while maintaining relevant expertise.\n\n\n## STEP 3: GENERATION RULES\n\n### Hard Constraints (Must Apply):\n\n1. **Exclude Past Roles (Ref: 1j)**\n   - Do NOT include any job titles they've already held\n   - Check both exact titles and semantic equivalents\n   - Example: If they were \"VP of People,\" don't suggest \"Chief People Officer\"\n\n2. **Avoid Deal-Breakers (Ref: 3h)**\n   - Explicitly avoid work aspects they listed in 3h\n   - Example: If they avoid \"Finance-related work,\" don't suggest \"Financial Analyst\"\n\n3. **Respect Seniority (Ref: 1h, 1i)**\n   - Match experience level (1h: years of experience)\n   - Match current level (1i: IC, Manager, Senior Manager, Executive)\n   - Don't suggest demotions unless explicitly seeking reduced responsibility\n   - Seniority hierarchy: Associate → Manager → Senior Manager → Director → VP → C-level\n\n4. **Meet Compensation Floor (Ref: 3f)**\n   - Don't suggest careers typically paying 30%+ below their stated range\n   - Account for role level and industry norms\n   - Exception: If they explicitly state willingness to take pay cut for lifestyle\n\n5. **No Semantic Duplicates**\n   - Each of 15 careers must be functionally distinct\n   - If two roles have 80%+ overlapping responsibilities, choose one\n   - Example: \"Director of Strategy\" and \"VP of Strategic Planning\" are too similar\n   - **Same title at different size/culture counts as a duplicate** unless the daily work and seniority context differ materially. Example: \"CPO at scale-up\" and \"CPO at enterprise corporate\" share too much core work to occupy two of 15 slots. If both contexts are worth surfacing, pick the stronger fit and reference the alternative inside `why_this_fits` (\"this also translates to a corporate enterprise context\"). Do not produce two near-identical entries that differ only by company_size_type.\n\n6. **Respect Language Reach**\n   - Don't suggest careers requiring languages the candidate doesn't have at conversational+ level\n   - Don't suggest \"Local-Language Corporate Communications\" roles in NL/DE/FR if candidate only speaks English\n   - DO surface roles where their specific language combo is a moat (multilingual European = cross-border consulting, multilingual Indian = APAC business roles)\n\n7. **Path Type Gating (Ref: 7a, 7b, 4h, 1j)**\n\n   Each career must be assigned a `path_type`:\n   - `employee` — applying for a role at someone else's company\n   - `freelance_fractional` — independent contractor, fractional exec, advisor, board member, project-based consulting\n   - `founder` — starting a company, solo practice, or product-led business with capital risk and multi-year build horizon\n\n   **Founder-path signal requirement:**\n   Only suggest `founder` paths if the candidate shows at least one entrepreneurial signal:\n- **7f is the primary, explicit signal:** \"Interested and seriously considering it\" or \"I already run, or have run, my own business\" = clear go-ahead. \"Curious about it, but not actively planning\" = latent only (treat as secondary / aspirational, long-term). **\"Not for me\" = HARD OPT-OUT: suggest NO founder paths even if 7a/7b/4h/1j look entrepreneurial.**\n   - 7a includes \"Explore entrepreneurial opportunities\"\n   - 7b includes \"Own or run a successful business\" OR \"Achieve complete autonomy and freedom in my career\"\n   - 1j shows current or past self-employment / company ownership\n   - \"Other\" responses signaling entrepreneurial intent\n   - 4h dream jobs include entrepreneurial themes (bookshop owner, restaurant owner, agency founder, photographer, etc.)\n\n**Strong founder signal (explicit business in dream jobs):**\nIf 4h explicitly names a business or company the candidate wants to own (e.g. \"own a bookshop\", \"run an education business\", \"own a small business focused on X\", \"start a coaching firm\"), generate at least ONE `founder` path that directly delivers that vision. Translate the named business into a realistic founder path:\n- \"education business\" → executive education boutique founder, leadership coaching firm with capital build, or a niche learning platform\n- \"bookshop\" → curated retail concept or community-led commerce business\n- \"small consultancy/agency\" → boutique advisory firm with hired team\n\nDo not let the founder slot be filled exclusively by adjacent or generic paths (e.g. solo coaching, newsletter) when the candidate has named a specific business they want to own. The named business itself must be represented as one of the 15.\n\n   No signal = no founder paths. Suggesting founder paths to candidates without these signals is misleading because it ignores the capital, time, and identity risk involved.\n\n**Founder-path ceiling (anti-flood):** At most **2 of the 15** careers may be `founder` path_type, regardless of how strong the signal is (keep a floor of at least 1 when a genuine signal is present -> range 1-2). A stronger entrepreneurial signal means acknowledge it and offer breadth *around* it, NOT more founder slots -- this system maps career/role directions across the whole market; the \"what business should I start\" deep-dive is not its job. Weave the entrepreneurial drive into the `why_this_fits` of employee / freelance_fractional picks and into adjacent roles (startup operator, fractional exec, franchise operator, intrapreneur) rather than filling multiple slots with literal \"found a company\" entries.\n\n**Founder feasibility framing:** Whenever you include a `founder` path, weigh readiness from 1n (household finances, need for a stable income, caregiving, health) and 2h (comfort with calculated risk). If readiness signals are weak, still include it but frame it in `path_type_notes` / `why_this_fits` as a 12-18 month build-toward goal with explicit preconditions, and rank it below a safer primary. Never present starting a business as a do-it-now recommendation when readiness is weak.\n\n   **Freelance/fractional gating:** Less strict. Suggest these for candidates with advisory preferences, autonomy goals, or burnout from operational roles. Be explicit about income variability and self-marketing reality in `why_this_fits` and `path_type_notes`.\n\n   **Employee paths:** Default. No gating.\n\n\n### Soft Preferences (Should Apply When Possible):\n\n1. **Industry Diversity**\n   - Aim for minimum 8-10 different industries across the 15\n   - Don't cluster all careers in one sector unless their experience is hyper-specialized\n\n2. **Role Type Diversity**\n   - Mix of: operational roles, advisory roles, teaching roles, governance roles, IC roles\n   - Avoid generating 15 variations of the same role type\n\n3. **Company Size/Culture Format (STRICT COMPLIANCE REQUIRED)**\n\n**MANDATORY FORMAT:** \"[SIZE] / [CULTURE]\"\n\nYou MUST use these EXACT strings (including ranges in parentheses):\n\n**SIZE options (choose ONE, use EXACTLY as written):**\n- Own Company\n- Micro (1-10)\n- Small (11-50)\n- Medium (51-200)\n- Large (201-1000)\n- Enterprise (1000+)\n\n**CULTURE options (choose ONE or maximum TWO):**\n- Boutique\n- Startup\n- Scale-up\n- Corporate\n- Mid-Market\n- Agency / Consultancy\n- Nonprofit\n- Public Sector / Gov\n\n**CRITICAL: Size ≠ Culture (they are independent dimensions)**\n- A small company (11-50) can be Corporate (law firm) OR Startup (Series A)\n- A large company (1000+) can be Startup (unicorn) OR Corporate (bank)\n- Judge culture by: process maturity, hierarchy, pace, decision-making style\n\n**Valid examples:**\n✅ \"Small (11-50) / Startup\" (Series A with 40 people, still chaotic)\n✅ \"Small (11-50) / Corporate\" (boutique law firm, very structured)\n✅ \"Enterprise (1000+) / Startup\" (unicorn with startup culture)\n✅ \"Medium (51-200) / Scale-up\" (Series B/C professionalizing)\n✅ \"Medium (51-200) / Startup / Scale-up\" (transitioning, max 2 cultures)\n✅ \"Large (201-1000) / Agency / Consultancy\" (consulting firm)\n\n**Invalid examples (DO NOT USE):**\n❌ \"Large / Corporate\" (missing range in parentheses)\n❌ \"Medium / Startup\" (missing range in parentheses)\n❌ \"Small-Medium Business\" (not in list, no range)\n❌ \"SME / Corporate\" (not in list)\n❌ \"Boutique Startup\" (missing slash separator)\n❌ \"Small / Startup / Scale-up / Corporate\" (too many cultures, max 2)\n\n**If uncertain, default to common patterns:**\n- Advisory/coaching/consulting solo → \"Own Company / Boutique\"\n- Board roles → \"Medium (51-200) / Corporate\"\n- Startup operational → \"Small (11-50) / Startup\"\n- Growth-stage → \"Medium (51-200) / Scale-up\"\n- Corporate strategic → \"Large (201-1000) / Corporate\"\n\n**Consider candidate's preferences (Ref: 2g, 4c):**\n- If they prefer \"Highly Structured\" → favor Corporate, later-stage Scale-up\n- If they seek flexibility → favor Startup, Boutique, Scale-up\n- But include variety to test assumptions\n\n\n4. **Geography Alignment (Ref: 1d)**\n   - Consider roles realistic for their region\n   - Account for remote work trends in their industry\n\n### Pattern-Specific Rules:\n\n**If candidate shows burnout pattern:**\n- Prioritize: Advisory, Fractional, Board, Consulting, Teaching roles\n- Deprioritize: Operational leadership, \"always on\" roles, high-intensity startup positions\n- Key signal: Multiple roles with happiness ≤7 in execution/operational positions\n\n**If candidate shows advisory preference:**\n- Weight heavily toward: Consulting, Fractional Executive, Board positions, Coach/Mentor roles\n- Include some operational roles as fallback (10-20%)\n- Key signal: Highest happiness in advisory/board/fractional work\n\n**If candidate shows teaching interest:**\n- Include: Workshop facilitation, Executive education, Corporate training, Program director\n- Extract themes from \"academic lecturer\" type dream jobs\n- Key signal: Dream jobs involve teaching, workshop topics they'd lead (4f)\n\n**If candidate shows specialist trajectory:**\n- Suggest: Expert/Principal/Distinguished IC roles, Specialized consulting, Subject matter expert positions\n- Avoid: Generalist leadership, broad operational roles\n- Key signal: Moving from generalist → specialist roles over time\n\n## STEP 4: GENERATE 15 CAREERS\n\nFor each career, provide:\n\n### Required Information:\n\n1. **career_title:** Clear, specific job title\n2. **company_size_type:** Format exactly as \"[SIZE] / [CULTURE]\"\n3. **overview:** 2-3 sentences describing the role's core responsibilities\n4. **why_this_fits:** 2-3 sentences explaining fit hypothesis with specific references\n5. **similarity_to_current:** Score 1-10 indicating how similar to their recent experience\n6. **similarity_explanation:** 1-2 sentences explaining what transfers and what changes\n7. **path_type:** One of `employee`, `freelance_fractional`, or `founder` (see STEP 3 rule 7 for gating)\n8. **path_type_notes:** 1 sentence on the structural reality of this path type for this candidate. For `founder`: include risk horizon (e.g. \"1-3 year build with capital risk; validate market before quitting current role\"). For `freelance_fractional`: note income variability and client acquisition reality. For `employee`: brief note on application context (e.g. \"typical hiring cycle 3-6 months at this seniority\").\n\n**Title examples — the bar to hit:**\n\n✅ Real AND modern/niche (all return live job postings):\n   - AI Product Manager\n   - Prompt Engineer\n   - Conversational AI Designer\n   - Developer Advocate\n   - Sustainability Manager\n   - Veterinary Marketing Manager\n   - Localization Project Manager\n   - Fractional Chief Innovation Officer\n\n❌ Invented composite  →  ✅ real equivalent (keep the niche, fix the title):\n   - \"Animal Health Brand Experience Manager\"   →  \"Veterinary Marketing Manager\"\n   - \"AI Tools Marketplace Publisher\"            →  \"Product Marketing Manager, AI Tools\"\n   - \"Sustainability Storytelling Architect\"     →  \"Sustainability Communications Manager\"\n   - \"Landscape Business Owner (AI Integrated)\"  →  \"Landscaping Business Owner\"  (the AI angle goes in the overview)\n\nRule of thumb: emerging and AI-era titles are encouraged when they genuinely exist in the market. Apply the searchability test — if the exact title would return real job ads, keep it; if it only names a function you assembled, rename it to the closest real title and move the niche/personalized angle into the overview.\n\n### Quality Standards:\n\n**career_title:**\n- Use a REAL, searchable job title — one a recruiter would actually post on LinkedIn or Indeed. If you can't picture the exact title in a real job ad, it's wrong.\n- Get specificity from seniority + domain on a real title (e.g. \"Principal HR Strategy Consultant\"), NOT by inventing or combining words into a new label. Never coin titles like \"Animal Health Brand Experience Manager\" — use the real title (\"Veterinary Marketing Manager\") and put the niche angle in the overview.\n- If the role has no standard title, pick the closest real one and explain the niche in the overview, never in the title.\n- Match seniority level appropriately\n\n**why_this_fits:**\n- Reference specific data points (values, strengths, happiness patterns, stated goals)\n- Explain the hypothesis: why is this worth investigating?\n- Connect to their pattern (trajectory, happiness data, or stated objectives)\n- Examples:\n  - \"Matches your highest happiness score (9/10) in advisory board work while providing the structured environment you prefer (Ref: 2g, 1k).\"\n  - \"Uses your strategic planning strength (Ref: 1l) while moving away from the operational chaos that caused burnout in previous roles (Ref: 1k, 1n).\"\n\n**similarity_to_current:**\n- 8-10 = Very similar (incremental change, same domain/function)\n- 5-7 = Moderate similarity (some skills transfer, different context)\n- 1-4 = Low similarity (major pivot, new domain or function)\n\n**similarity_explanation:**\n- What skills/experience transfer directly?\n- What changes in terms of: daily pace, energy demands, responsibility type, work structure?\n- Be specific about the nature of the change\n\n**company_size_type:**\n- Use EXACT format from the size/culture list in Section 3 (Soft Preferences)\n- MUST include range in parentheses for all sizes except \"Own Company\"\n- Double-check spelling and spacing match exactly\n- Format: \"[SIZE with range] / [CULTURE]\"\n- Examples:\n  - ✅ \"Small (11-50) / Startup\"\n  - ✅ \"Large (201-1000) / Corporate\"\n  - ✅ \"Medium (51-200) / Scale-up\"\n  - ❌ \"Large / Corporate\" (missing range)\n  - ❌ \"Medium / Startup\" (missing range)\n\n### Distribution Requirements:\n\nBased on your pattern analysis and chosen distribution scenario:\n- Ensure the 15 careers reflect your determined distribution\n- Tag mentally which careers are \"similar,\" \"pivot,\" or \"transformation\"\n- Verify you haven't over-concentrated in one category\n\n## STEP 5: FINAL QUALITY CHECK\n\nBefore outputting, verify:\n\n✅ All 15 careers are functionally distinct (no semantic duplicates). Actively self-audit and replace: re-read the 15 as a set, and for any pair that is the same underlying job worded differently (e.g. \"Additive Manufacturing Applications Specialist\" vs \"Additive Manufacturing Engineer\"), keep the stronger fit and REPLACE the other with a genuinely distinct career that still satisfies every rule above (past roles, deal-breakers, seniority, compensation, language, distribution). The final list must be 15 functionally distinct careers, never 13 distinct plus 2 near-duplicates.\n✅ No career titles match their past roles (1j)\n✅ No careers violate their deal-breakers (3h)\n✅ Seniority levels are appropriate (1h, 1i)\n✅ Compensation levels are realistic (3f)\n✅ Distribution matches your pattern analysis\n✅ Each \"why_this_fits\" includes specific references\n✅ pattern_analysis_summary includes goal_alignment with a clear aligned / tension / contradicted call\n✅ Each career has a `path_type` assigned\n✅ No `founder` paths suggested without an entrepreneurial signal (Ref: 7a, 7b, 4h, 1j)\n✅ `path_type_notes` is present and addresses risk / income / timeline reality for that path\n✅ If 4h names a specific business to own, at least one career is `founder` and directly delivers that business vision\n✅ No two careers share the same title differing only by company size/culture\n✅ Company size/type format is EXACTLY correct:\n   - All sizes except \"Own Company\" include range: \"Small (11-50)\" not \"Small\"\n   - Uses exact culture terms from list (no variations like \"Government\" or \"SME\")\n   - Has slash separator: \" / \" (space-slash-space)\n   - Maximum 2 cultures: \"Startup / Scale-up\" allowed, \"Startup / Scale-up / Corporate\" NOT allowed\n\n# OUTPUT FORMAT\n\nReturn a JSON object with exactly this structure (no intro/outro):\n\n```json\n{\n  \"pattern_analysis_summary\": {\n    \"happiness_pattern\": \"[Brief summary: what made them happy vs unhappy]\",\n    \"career_trajectory\": \"[Brief summary: direction they're moving]\",\n    \"burnout_indicators\": \"[Yes/No + brief note if yes]\",\n    \"dream_job_themes\": \"[Extracted themes from 4h]\",\n    \"goal_alignment\": \"[1e purpose vs 7a/7b stated goals: aligned / tension flagged / contradicted — brief one-line note]\",\n    \"recommended_distribution\": \"[e.g., '20% similar, 35% pivot, 45% transformation' with brief rationale]\"\n  },\n  \"careers\": [\n    {\n      \"career_title\": \"[Job Title]\",\n      \"company_size_type\": \"[SIZE] / [CULTURE]\",\n      \"overview\": \"[2-3 sentences]\",\n      \"why_this_fits\": \"[2-3 sentences with specific references]\",\n      \"similarity_to_current\": \"[1-10]\",\n      \"similarity_explanation\": \"[1-2 sentences]\",\n      \"path_type\": \"[employee | freelance_fractional | founder]\",\n      \"path_type_notes\": \"[1 sentence on structural reality]\"\n    }\n    // ... repeat for all 15 careers\n  ],\n  \"generation_metadata\": {\n    \"total_careers\": 15,\n    \"distribution_breakdown\": {\n      \"similar_roles\": \"[count]\",\n      \"pivot_roles\": \"[count]\",\n      \"transformation_roles\": \"[count]\"\n    }\n  }\n}\n```\n\n# CRITICAL REMINDERS\n\n1. **Pattern analysis first:** Don't generate careers until you've analyzed happiness patterns, trajectory, and distribution needs\n2. **Dream jobs are themes:** Extract themes, don't literally suggest unless genuinely plausible\n3. **Burnout matters:** If someone is burned out from operational leadership, don't give them 10 more VP operational roles\n4. **Revealed > Stated:** Trust happiness data (1k) over stated preferences if they conflict\n5. **Diversity within reason:** Include variety, but weighted toward their pattern\n6. **Investigation-worthy:** Generate careers worth enriching and scoring, not guaranteed perfect fits\n7. **Specific references:** Every \"why_this_fits\" should cite specific data points\n8. **No duplicates:** 15 functionally distinct careers\n9. **Format precisely:** Company size/type must be exactly \"[SIZE] / [CULTURE]\"\n10. **Quality threshold:** Only include careers you're 70%+ confident warrant investigation\n11. **Path type honesty:** Founder paths require an entrepreneurial signal. Don't suggest \"just start consulting\" or \"open your own boutique\" without proper signal — capital, time, and identity risk are real. Use `path_type_notes` to be honest about the build.\n\n# INPUT DATA\n\n## Candidate Initial Summary\n{{ $json.initial_summary }}\n\n## Candidate Personality Analysis\n### Understanding Your Approach\n{{ $json.approach }}\n\n### Strengths and How to Grow Them\n{{ $json.strengths }}\n\n### Areas for Development\n{{ $json.development }}\n\n### Aligning with Your Values\n{{ $json.values }}\n\n## report_id\n{{ $json.report_id }}\n```","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4608,3648],"id":"9c55328c-3109-485b-a17e-a1e4e0442db9","name":"Set Suitable 15 Prompt1"},{"parameters":{"promptType":"define","text":"=!!! CURRENCY LOCK - HIGHEST PRIORITY, OVERRIDES EVERYTHING BELOW !!!\nThe candidate's region and currency have ALREADY been decided in code. Do NOT choose, infer, or convert a currency yourself.\nRegion: {{ $('AI_region1').item.json.Region || 'Northern and Western Europe' }}\nCurrency: {{ $('AI_region1').item.json.CurrencyCode || 'EUR' }} ({{ $('AI_region1').item.json.CurrencySymbol || '€' }})\n- Express EVERY salary range using ONLY this currency symbol: {{ $('AI_region1').item.json.CurrencySymbol || '€' }}. Do NOT use \"$\" / USD, and do NOT use the label \"North America\", unless the Currency above is USD.\n- In each career's \"region\" field, echo the Region string above EXACTLY. Never replace it with \"North America\", \"United States\", or any other label.\n- Never mix currencies across careers: every range in your output uses this one currency.\n!!! END CURRENCY LOCK !!!\n\n**ROLE**  \nYou are a career-matching and salary-adjustment system. You have deep knowledge on what are appropriate salaries for a Career Title within a certain size or organisation and the industry, further adjusted to the applicable region selected here:  \n{{ $('AI_region1').item.json.Region }}  \n\n**TASK and SOP**  \nYour task is to calculate the most likely salary range in the candidate's selected region for each of the Career Titles:  \n{{ $('AI_region1').item.json.text }}  \n\nDetermine a realistic salary range. Factors to consider:  \n- the Career Title (and level) in combination with the organisation's size  \n- the average cost of living and typical salary levels in the selected region  \n- the demand for these roles  \n- adjust down with 5% to be conservative\n\n**OUTPUT FORMAT**  \nPlace the generated Salary Range in the selected region's currency, rounded to the nearest whole number at the end of the other information.  \n\nProvide the results in the following format:  \nCareer Title: [exact title]  \nCompany: [SIZE] / [CULTURE]  \nAI Impact: [rating] - [brief explanation]  \nExp. salary range in [selected region]: [Currency] [Salary Range]  \n\n[\n  {\n    \"career_title\": \"Landscape Business Owner\",\n    \"company_size_type\": \"Own Company / Boutique\", \n    \"salary\": {\"region\": \"Northern and Western Europe\", \"range\": \"€60,000 - €120,000\"},\n    \"ai_impact_rating\": {\"rating\": \"Transformative\", \"explanation\": \"...\"}\n  },\n  // ... more careers\n]\n\n\n\nNOTES\n\nBase your calculations on your latest knowledge regional salary norms, and cost-of-living adjustments for each region.\n\nRegional breakdown:\n\nNorthern and Western Europe: Includes countries like Germany, Netherlands, France, and the Nordic countries. Salaries based on regional averages. EUR (€).\n\nSouthern and Eastern Europe: Includes countries like Spain, Italy, Poland, and Greece. Typically lower regional salaries. EUR (€).\n\nUnited Kingdom (London): Consider higher salaries and cost of living. GBP (£).\n\nUnited Kingdom (Other): Outside London, adjust for moderately lower salaries. GBP (£).\n\nUnited States (High-Cost Regions): Includes areas like New York, San Francisco, Los Angeles, and Boston. Increase base salaries by 20-50% from average US salaries.\n\nUnited States (Average-Cost Regions): Includes areas like Texas, Colorado, and Illinois. Salaries remain close to the national average.\n\nUnited States (Lower-Cost Regions): Includes rural and small-town areas. Decrease base salaries by 10-30%.\n\nCanada: base on Canadian salary norms and cost of living. CAD ($).\n\nAustralia and New Zealand: Base salaries to reflect local averages. AUD/NZD.\n\nSwitzerland: Usually higher local salaries and cost of living. CHF.\n\nIf precise data is unavailable, make reasonable assumptions based on general trends and relative cost-of-living differences.\n\nWhen presenting the salary range, include the local currency symbol and round to the nearest whole number for clarity.\n\nBetter conservative then over estimate range!\n","batching":{}},"id":"e66a76c7-1118-402c-ba70-2c3cc87c7cff","name":"Salary Range1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-2800,3888],"retryOnFail":true},{"parameters":{"jsCode":"// init_summary is now in the Supabase rows (already queried by SB extract profile)\nconst rows = $input.all().map(item => item.json);\n\nconst report = rows.reduce((acc, row) => {\n  // Map init_summary section_type to initial_summary key (for prompt compatibility)\n  if (row.section_type === 'init_summary') {\n    acc.initial_summary = row.content;\n  } else {\n    acc[row.section_type] = row.content;\n  }\n  return acc;\n}, {\n  report_id: rows[0]?.report_id || null\n});\n\nreturn [{ json: report }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4912,3904],"id":"a7aad213-9f80-4a5d-9ccc-19e21cf6cf4d","name":"Combine rep and profile1"},{"parameters":{"promptType":"define","text":"={{ $json['ai_impact_prompt'] }}","batching":{}},"id":"3c44e911-cd39-49a5-804b-182080447313","name":"ai_impact1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-3616,3648],"retryOnFail":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3024,3888],"id":"bc51ffc7-8af9-404f-bcf1-f061c2136d05","name":"AI_region1"},{"parameters":{"tableId":"enriched_jobs","fieldsUi":{"fieldValues":[{"fieldId":"career_title","fieldValue":"={{ $json.career_title }}"},{"fieldId":"company_size_type","fieldValue":"={{ $json.company_size_type }}"},{"fieldId":"overview","fieldValue":"={{ $json.overview }}"},{"fieldId":"technical_skills","fieldValue":"={{ $json.technical_skills }}"},{"fieldId":"soft_skills","fieldValue":"={{ $json.soft_skills }}"},{"fieldId":"personality_traits","fieldValue":"={{ $json.personality_traits }}"},{"fieldId":"work_schedule","fieldValue":"={{ $json.work_schedule }}"},{"fieldId":"client_interaction","fieldValue":"={{ $json.client_interaction }}"},{"fieldId":"colleague_interaction","fieldValue":"={{ $json.colleague_interaction }}"},{"fieldId":"autonomy_vs_collaboration","fieldValue":"={{ $json.autonomy_vs_collaboration }}"},{"fieldId":"pace_of_work","fieldValue":"={{ $json.pace_of_work }}"},{"fieldId":"core_values","fieldValue":"={{ $json.core_values }}"},{"fieldId":"motivational_factors","fieldValue":"={{ $json.motivational_factors }}"},{"fieldId":"typical_tasks","fieldValue":"={{ $json.typical_tasks }}"},{"fieldId":"education_requirements","fieldValue":"={{ $json.education_requirements }}"},{"fieldId":"certifications_requirements","fieldValue":"={{ $json.certifications_requirements }}"},{"fieldId":"career_progression","fieldValue":"={{ $json.career_progression }}"},{"fieldId":"ai_impact_rating","fieldValue":"={{ $json.ai_impact_rating }}"},{"fieldId":"salary","fieldValue":"={{ JSON.stringify($json.salary) }}"},{"fieldId":"alternate_titles","fieldValue":"={{ $json.alternate_titles }}"},{"fieldId":"leadership_challenges","fieldValue":"={{ $json.leadership_challenges }}"},{"fieldId":"path_type","fieldValue":"={{ $json.path_type}}"},{"fieldId":"path_type_notes","fieldValue":"={{ $json.path_type_notes }}"},{"fieldId":"report_id","fieldValue":"={{ $('Combine rep and profile1').first().json.report_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-656,3648],"id":"ddf2aa8e-58ef-47e9-8ad7-104e325697e2","name":"Supabase Insert1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"promptType":"define","text":"={{ $json['enrich prompt b1'] }}","batching":{}},"id":"4f43def3-37d9-4747-abf6-1bac52f85bdf","name":"Enrich B","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-1232,3648],"retryOnFail":true},{"parameters":{"jsCode":"const raw = $json.text;\n\nconst jsonMatch = raw.match(/```json\\n([\\s\\S]*?)\\n```/);\nif (!jsonMatch) {\n  throw new Error(\"Could not find a JSON block in the input text.\");\n}\n\nconst cleanJsonString = jsonMatch[1].trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJsonString);\n} catch (e) {\n  throw new Error(\"Failed to parse extracted JSON. Error: \" + e.message);\n}\n\nfunction normalizeKey(str) {\n  if (!str) return '';\n  return str\n    .toLowerCase()\n    .replace(/[—–-]/g, '-')\n    .replace(/&/g, 'and')\n    .replace(/[^\\w\\s-]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Build lookup from suitable_15 with multiple matching strategies\nconst suitable15Raw = $('suitable_15').item.json.text;\nconst s15Match = suitable15Raw.match(/```json\\n([\\s\\S]*?)\\n```/);\nlet s15Careers = [];\n\nif (s15Match) {\n  try {\n    const s15Parsed = JSON.parse(s15Match[1].trim());\n    s15Careers = s15Parsed.careers || [];\n  } catch (e) {\n    // continue without path data\n  }\n}\n\nconst byTitleAndSize = {};\nconst byTitle = {};\n\ns15Careers.forEach(c => {\n  const t = normalizeKey(c.career_title);\n  const ts = `${t}||${normalizeKey(c.company_size_type)}`;\n  byTitleAndSize[ts] = c;\n  byTitle[t] = c;\n});\n\nreturn parsed.map((item, idx) => {\n  const t = normalizeKey(item.career_title);\n  const ts = `${t}||${normalizeKey(item.company_size_type)}`;\n\n  // Match by title+company first (most precise), then title alone,\n  // then fall back to position if the array lengths align\n  let match = byTitleAndSize[ts] || byTitle[t];\n  if (!match && s15Careers.length === parsed.length) {\n    match = s15Careers[idx];\n  }\n\n  const formatted =\n    `Career Title: ${item.career_title}\\n` +\n    `Company: ${item.company_size_type}\\n` +\n    `AI Impact: ${item.ai_impact_rating?.rating} - ${item.ai_impact_rating?.explanation}\\n` +\n    `Exp. salary range in ${item.salary?.region}: ${item.salary?.range}`;\n\n  return {\n    json: {\n      ...item,\n      path_type: match?.path_type || null,\n      path_type_notes: match?.path_type_notes || null,\n      formatted_output: formatted\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2448,3888],"id":"cbca9532-78ec-4e3c-9662-f80238e2bcd5","name":"15TitSizAISal1"},{"parameters":{"jsCode":"// Get the 15 new careers from Tit_and_Co1\nconst titAndCoItems = $(\"Tit_and_Co1\").all().map(item => item.json);\n\n// In-batch dedup (case/whitespace normalized)\nfunction normalize(str) {\n  if (!str) return '';\n  return str.toLowerCase().replace(/\\s+/g, ' ').trim();\n}\n\nconst seenKeys = new Set();\nconst uniqueCareers = [];\n\ntitAndCoItems.forEach(career => {\n  const key = normalize(`${career.career_title}||${career.company_size_type}`);\n  if (!seenKeys.has(key)) {\n    seenKeys.add(key);\n    uniqueCareers.push(career);\n  }\n});\n\n// Return one item per career so Batcher1 can group them\nreturn uniqueCareers.map(c => ({ json: c }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,3648],"id":"43ce9d66-7234-42c7-80ca-45bc584b5ab3","name":"combine to "},{"parameters":{"jsCode":"const careers = items.map(i => i.json);\nconst batchSize = 5;\nconst batches = [];\n\nfor (let i = 0; i < careers.length; i += batchSize) {\n  batches.push(careers.slice(i, i + batchSize));\n}\n\nreturn batches.map(batch => ({\n  json: { careers: batch }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,3648],"id":"6489230c-187a-4eff-ac36-dde36c1172d8","name":"Batcher1","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"44845875-174c-4385-b507-5b2225b2f523","name":"enrich prompt b1","value":"=# ROLE  \nYou are an assistant that enriches these career descriptions into structured JSON for a database.  \n\n---\n\n# INPUT SOURCES:  \nUse this for content enrichment. Copy career_title, company_size_type, salary, ai_impact_rating, path_type, and path_type_notes verbatim from input. \nEnrich all other fields with structured information extracted or reasonably inferred from this text.  \n\n{{ JSON.stringify($json.careers, null, 2) }}  \n\nCRITICAL: You must enrich **ALL careers provided in the input (1–5 per batch. 3 batches max.)**.  \n- Do NOT invent careers.  \n- Do NOT skip careers.  \n\n---\n\n# !! IMPORTANT OUTPUT RULES !!  \n- Output ONLY valid JSON. No markdown, no commentary, no code fences.  \n- Every key MUST appear exactly as specified.  \n- If information is unavailable, use `\"N/A\"`.  \n- For text fields, always provide at least **one full descriptive sentence** (never leave blank).  \n- For arrays:  \n  * `technical_skills`: max 3 items  \n  * `soft_skills`: max 3 items  \n  * `core_values`: max items  \n  * `motivational_factors`: max 3 items  \n  * `typical_tasks`: max 3 items  \n  * `leadership_challenges`: must always be an array (empty if not relevant)  \n- **`salary` and `ai_impact_rating` must remain JSON objects, not strings.** Copy their structure verbatim.  \n- Do not merge, drop, or add extra sections.  \n\nOutput all careers inside a single JSON array in this format (the number of objects will match the number of input careers, 1–5):  \n\n[\n  { \"career_title\": \"Job 1\", ... },\n  { \"career_title\": \"Job 2\", ... }\n]  \n\n---\n\n# PATH TYPE AWARENESS\n\nEach input career has a `path_type` (`employee`, `freelance_fractional`, or `founder`). Several output fields must reflect the structural reality of the path, not just the role's content. Adjust framing accordingly:\n\n- **physical_setting:** For `founder`, environment is self-determined and may evolve as the business grows. For `freelance_fractional`, mention client-site / hybrid mix. For `employee`, describe the typical workplace.\n- **work_schedule:** For `founder`, note multi-year build with intense early phase. For `freelance_fractional`, note variable utilization and the work behind the work (pipeline, admin). For `employee`, standard role expectations.\n- **client_interaction:** For `founder` and `freelance_fractional`, this includes selling and pipeline building, not just delivery. For `employee`, describe role-defined interaction.\n- **typical_tasks:** Include path-realistic tasks. Founders sell, hire, finance, and build the product/service. Freelancers manage pipeline, contract, deliver. Employees execute role responsibilities.\n- **leadership_challenges:** For `founder`, include capital, hiring, survival challenges. For `freelance_fractional`, include client acquisition and income variability. For `employee`, include the people/political challenges of the role.\n- **career_progression:** For `founder`, progression is scaling, exiting, or evolving the model — not climbing a ladder. For `freelance_fractional`, progression is rate increases, reputation, or transition to founder/employee. For `employee`, typical next titles.\n\nThe `path_type_notes` field already contains candidate-specific honest framing — preserve it verbatim and let the structured fields above complement it.\n\n---\n\n## OUTPUT STRUCTURE (copy keys exactly):\n\n{\n  \"career_title\": \"\",                \n  \"company_size_type\": \"\",           \n  \"alternate_titles\": [],            \n  \"overview\": \"\",                    \n  \"technical_skills\": [],            \n  \"soft_skills\": [],                 \n  \"personality_traits\": \"\",          \n  \"physical_setting\": \"\",            \n  \"work_schedule\": \"\",               \n  \"client_interaction\": \"\",          \n  \"colleague_interaction\": \"\",       \n  \"autonomy_vs_collaboration\": \"\",   \n  \"pace_of_work\": \"\",                \n  \"core_values\": [],                 \n  \"motivational_factors\": [],        \n  \"typical_tasks\": [],               \n  \"leadership_challenges\": [],       \n  \"education_requirements\": \"\",      \n  \"certifications_requirements\": \"\", \n  \"salary\": {\n    \"region\": \"\",                    \n    \"range\": \"\"\n  },\n  \"career_progression\": [],\n  \"ai_impact_rating\": {\n    \"rating\": \"\",\n    \"explanation\": \"\"\n  },\n  \"path_type\": \"\",\n  \"path_type_notes\": \"\"\n}\n\n---\n\n# EXAMPLE [for tone, type of content, and length consistency]:  \n\n```json\n{\n  \"career_title\": \"Fractional Chief Innovation Officer (CINO)\",\n  \"company_size_type\": \"Small/Medium (51-200), Scale-Up / Rapid Growth\",\n  \"alternate_titles\": [\n    \"Fractional Head of Innovation\",\n    \"Part-Time Chief Innovation Officer\",\n    \"Innovation Strategy Advisor\"\n  ],\n  \"overview\": \"Executive leader driving the innovation agenda across products, services, and business models, with a strong focus on AI-enabled opportunities and measurable impact.\",\n  \"technical_skills\": [\n    \"Innovation portfolio management and venture building\",\n    \"AI strategy, data productization, and experimentation frameworks\",\n    \"Market research, trend scouting, and opportunity sizing\"\n  ],\n  \"soft_skills\": [\n    \"Executive stakeholder management and influence\",\n    \"Cross-functional leadership and facilitation\",\n    \"Structured problem solving and clear decision making\"\n  ],\n  \"personality_traits\": \"Visionary, curious, and commercially minded. Balances big picture strategy with pragmatic execution. Comfortable with ambiguity, resilient under pressure, and adept at rallying teams around a clear narrative.\",\n  \"physical_setting\": \"Hybrid mix of on-site sessions with founders or BU leaders, remote work, and occasional workshops or labs for prototyping and pilots.\",\n  \"work_schedule\": \"Part-time or engagement-based. Intensity peaks around fundraising, board cycles, major launches, and quarterly planning.\",\n  \"client_interaction\": \"High – regular with founders, executives, partners, and key customers for discovery and validation.\",\n  \"colleague_interaction\": \"High – daily collaboration with product, engineering, data, finance, legal, and GTM teams.\",\n  \"autonomy_vs_collaboration\": \"High autonomy to set direction and governance, paired with heavy collaboration to execute experiments and scale what works.\",\n  \"pace_of_work\": \"Fast and iterative. Sprint-based experimentation with frequent reviews and rapid go/no-go decisions.\",\n  \"core_values\": [\n    \"Evidence based decision making\",\n    \"Customer and value centricity\",\n    \"Ethical and responsible innovation\"\n  ],\n  \"motivational_factors\": [\n    \"Building repeatable mechanisms that ship real outcomes\",\n    \"Learning at the frontier of tech and markets\",\n    \"Developing teams and internal capability\"\n  ],\n  \"typical_tasks\": [\n    \"Define the innovation thesis, investment themes, and guardrails\",\n    \"Run discovery, ideation, and prioritization to craft a validated portfolio\",\n    \"Stand up pilots and A/B experiments, then scale successful bets\",\n    \"Establish governance, metrics, and innovation accounting\"\n  ],\n  \"leadership_challenges\": [\n    \"Requires broad delegation and oversight across multiple teams.\",\n    \"Demands high tolerance for ambiguity and frequent pivots.\",\n    \"Success depends on balancing visionary leadership with operational follow-through.\"\n  ],\n  \"education_requirements\": \"Bachelor’s or Master’s in business, engineering, computer science, design, or related field [preferred]; MBA or equivalent experience is valued.\",\n  \"certifications_requirements\": \"Design Thinking, Lean Startup, Product Management, or AI product certifications [beneficial].\",\n  \"salary\": {\n    \"region\": \"Northern and Western Europe\",\n    \"range\": \"€130,000 – €220,000\"\n  },\n  \"career_progression\": [\n    \"Chief Innovation Officer or VP Strategy at a larger enterprise\",\n    \"Same role at a larger organization or multi-portfolio innovation consultancy\"\n    ],\n  \"ai_impact_rating\": {\n    \"rating\": \"Substantial\",\n    \"explanation\": \"These positions are experiencing considerable evolution through AI integration. While AI manages analytical and operational components, success still depends on human insight for strategy development, complex problem-solving, and driving meaningful change.\"\n  },\n  \"path_type\": \"freelance_fractional\",\n  \"path_type_notes\": \"Fractional CINO income at 2-4 clients can reach mid-six-figures, but requires 6-12 months to build a client roster; intensity is high during board cycles.\"\n}\n}\n\n---\n\n# NOTES  \n* Always enrich ALL careers provided in the batch (1–5).  \n* Use input for `career_title`, `company_size_type`, `salary`, and `ai_impact_rating` verbatim.  \n* Match tone, style, and level of detail exactly to the EXAMPLE.  \n* Ensure JSON validity and consistency across all items. \n\n# EDGE CASE\nin rare cases, a;;\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1456,3648],"id":"d3d58085-ce8a-4239-b3be-5d72febfd53a","name":"enrich prompt1"},{"parameters":{"jsCode":"function cleanText(str) {\n  return str\n    .replace(/```(?:json)?/g, \"\")\n    .replace(/```/g, \"\")\n    .trim();\n}\n\nfunction safeParse(str) {\n  try {\n    return JSON.parse(str);\n  } catch {\n    return null;\n  }\n}\n\nfunction normalize(data) {\n  if (!data) return [];\n\n  if (Array.isArray(data)) return data;\n  if (typeof data === \"object\") return [data];\n\n  if (typeof data === \"string\") {\n    const cleaned = cleanText(data);\n\n    if (cleaned.startsWith(\"[\") && cleaned.endsWith(\"]\")) {\n      try { return JSON.parse(cleaned); } catch {}\n    }\n\n    const matches = cleaned.match(/\\{[\\s\\S]*?\\}(?=\\s*\\{|\\s*$)/g);\n    if (matches) {\n      const parsed = matches.map(m => safeParse(m)).filter(Boolean);\n      if (parsed.length > 0) return parsed;\n    }\n\n    const obj = safeParse(cleaned);\n    if (obj) return [obj];\n  }\n\n  return [];\n}\n\nfunction enforceMinimums(obj) {\n  const rules = {\n    technical_skills: 3,\n    soft_skills: 3,\n    core_values: 3,\n    motivational_factors: 3,\n    typical_tasks: 4,\n  };\n\n  for (const [field, minCount] of Object.entries(rules)) {\n    if (!Array.isArray(obj[field])) obj[field] = [];\n    while (obj[field].length < minCount) {\n      obj[field].push(\"N/A\");\n    }\n  }\n\n  return obj;\n}\n\nfunction sanitize(obj) {\n  if (Array.isArray(obj)) {\n    return obj.map(sanitize);\n  } else if (obj !== null && typeof obj === \"object\") {\n    const clean = {};\n    for (const [k, v] of Object.entries(obj)) {\n      clean[k] = v === undefined ? null : sanitize(v);\n    }\n    return clean;\n  }\n  return obj;\n}\n\n\n// 🔹 MAIN EXECUTION\nconst allInputs = $input.all();\nlet allItems = [];\n\nconst schemaTemplate = {\n  career_title: \"N/A\",\n  company_size_type: \"N/A\",\n  overview: \"N/A\",\n  technical_skills: [],\n  soft_skills: [],\n  personality_traits: \"N/A\",\n  work_schedule: \"N/A\",\n  client_interaction: \"N/A\",\n  colleague_interaction: \"N/A\",\n  autonomy_vs_collaboration: \"N/A\",\n  pace_of_work: \"N/A\",\n  core_values: [],\n  motivational_factors: [],\n  typical_tasks: [],\n  education_requirements: \"N/A\",\n  certifications_requirements: \"N/A\",\n  career_progression: [],\n  ai_impact_rating: { rating: \"N/A\", explanation: \"N/A\" },\n  salary: { region: \"N/A\", range: \"N/A\" },\n  alternate_titles: [],\n  leadership_challenges: [],\n  path_type: \"N/A\",\n  path_type_notes: \"N/A\"\n};\n\nfor (const item of allInputs) {\n  // 1. Get the raw input (it's in the \"text\" field based on your snippet)\n  const rawData = item.json.text || item.json;\n  \n  // 2. Use your normalize function to parse the stringified JSON\n  const parsedItems = normalize(rawData);\n\n  // 3. Process each parsed career\n  if (Array.isArray(parsedItems)) {\n    const processedBatch = parsedItems.map(obj => {\n      const processed = enforceMinimums(sanitize(obj));\n      return { ...schemaTemplate, ...processed };\n    });\n    allItems.push(...processedBatch);\n  }\n}\n\n// Final check to prevent n8n error\nif (allItems.length === 0) {\n  return [{ json: { message: \"No items found in input\" } }];\n}\n\nreturn allItems.map(i => ({ json: i }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,3648],"id":"f5d51632-b9c7-4ab5-a874-ed3e0ce61a4b","name":"clean up JSON1"},{"parameters":{"assignments":{"assignments":[{"id":"1155fd8a-d239-475d-b145-236ab08a1b9a","name":"id","value":"={{ $json.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,3648],"id":"a90c6deb-71a2-495a-8b7c-c64cbf5a4473","name":"complete confirmation1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[96,4000],"id":"1d6da739-9b0c-47d6-8764-7bfc8ab2c3de","name":"Merge1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"Tit_co_RID_data","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-208,3888],"id":"6650ba39-e1bd-451c-886e-b4210893cb26","name":"Aggregate2"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"complete","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-208,3648],"id":"7fe0fcde-c0bf-4b96-ad15-3b7d96132eb0","name":"Aggregate3"},{"parameters":{"assignments":{"assignments":[{"id":"16f11cfa-b6e4-48df-808f-ad0b125acfec","name":"career_title","value":"={{ $json.career_title }}","type":"string"},{"id":"70e9b009-0daa-41fc-803f-3621a9f10b5f","name":"company_size_type","value":"={{ $json.company_size_type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2208,3888],"id":"c34e350c-a2d3-43ba-af9b-63da3537aca8","name":"Tit_and_Co1"},{"parameters":{"jsCode":"// Extract region from init_summary without LLM call\n// Region is question 1d - a fixed dropdown value\nconst summary = $json.initial_summary || '';\n\nconst VALID_REGIONS = [\n  'Northern and Western Europe',\n  'Southern and Eastern Europe',\n  'United Kingdom (London)',\n  'United Kingdom (Other)',\n  'United States (High-Cost Regions)',\n  'United States (Average-Cost Regions)',\n  'United States (Lower-Cost Regions)',\n  'Canada',\n  'Australia and New Zealand',\n  'Switzerland'\n];\n\n// Try to find the region in the summary text\nlet region = 'Northern and Western Europe'; // safe default\n\nfor (const r of VALID_REGIONS) {\n  if (summary.includes(r)) {\n    region = r;\n    break;\n  }\n}\n\n// Deterministic region -> currency map (no LLM guessing).\n// The salary LLM downstream is HANDED this currency, so it can never\n// drift to USD on its own. Anything unmapped falls back to EUR, never USD.\nconst CURRENCY_BY_REGION = {\n  'Northern and Western Europe':          { code: 'EUR', symbol: '€' },\n  'Southern and Eastern Europe':          { code: 'EUR', symbol: '€' },\n  'Switzerland':                          { code: 'CHF', symbol: 'CHF ' },\n  'United Kingdom (London)':              { code: 'GBP', symbol: '£' },\n  'United Kingdom (Other)':               { code: 'GBP', symbol: '£' },\n  'United States (High-Cost Regions)':    { code: 'USD', symbol: '$' },\n  'United States (Average-Cost Regions)': { code: 'USD', symbol: '$' },\n  'United States (Lower-Cost Regions)':   { code: 'USD', symbol: '$' },\n  'Canada':                               { code: 'CAD', symbol: 'CA$' },\n  'Australia and New Zealand':            { code: 'AUD', symbol: 'AU$' }\n};\n\nconst currency = CURRENCY_BY_REGION[region] || { code: 'EUR', symbol: '€' };\n\nreturn [{ json: {\n  Region: region,\n  CurrencyCode: currency.code,\n  CurrencySymbol: currency.symbol\n} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4032,3904],"id":"74b2be61-76df-4c13-8e2c-83c550b8fcb7","name":"Extract Region (code)"},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1232,3776],"id":"ea65fac3-5cdd-48ea-81be-af3132f33a9b","name":"3FP Enrich1","credentials":{"googlePalmApi":{"id":"Q653Teuy9nP6VLoE","name":"Cairnly Gstudio Key"}}},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2800,4160],"id":"c203f647-c9cd-4ea5-8e4f-404fb512ccc2","name":"3FP Sal1","credentials":{"googlePalmApi":{"id":"Q653Teuy9nP6VLoE","name":"Cairnly Gstudio Key"}}},{"parameters":{"operation":"getAll","tableId":"report_sections","returnAll":true,"filters":{"conditions":[{"keyName":"report_id","condition":"eq","keyValue":"={{ $json['report id'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5344,3904],"id":"161ab655-e31d-425f-bcce-56c890c424cc","name":"SB extract profile1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"url":"https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/ai_research","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"is_active","value":"eq.true"},{"name":"select","value":"key_findings"},{"name":"order","value":"published_date.desc"},{"name":"limit","value":"1"}]},"options":{}},"id":"f7f64966-f845-417f-b0f7-059a0a72fc72","name":"Fetch AI Research1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4032,3648],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"assignments":{"assignments":[{"id":"cddfa179-e8ee-400a-a8fa-efe0c346b847","name":"report id","value":"={{ $json.report_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5728,4048],"id":"0b2daf98-66df-4381-84f4-917cab045ee4","name":"repID1"},{"parameters":{"promptType":"define","text":"={{ $json['suitable_15_prompt'] }}","batching":{}},"id":"d8bfa80c-3256-4482-9669-dc6684ae1b16","name":"suitable_15","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-4384,3648],"retryOnFail":true},{"parameters":{"model":{"__rl":true,"value":"gpt-5.5","mode":"list","cachedResultName":"gpt-5.5"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-4384,3808],"id":"3a1ce19b-c2b2-49ab-bcd1-9390012022f7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"HrtWXSGh6yZj0fJ0","name":"OpenAi account"}}},{"parameters":{"jsCode":"const rows = $input.all().map(i => i.json).filter(r => r && r.report_id);\nif (rows.length === 0) {\n  throw new Error(`No report_sections found for report_id ${$('repID1').first().json['report id']} — WF1 profile insert likely incomplete`);\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5136,3904],"id":"df9ff13a-8410-481d-b3e2-b57cda2742bb","name":"Check profile exists"},{"parameters":{"workflowId":{"__rl":true,"value":"zhgJuiDp60PS5ZKJ","mode":"list","cachedResultUrl":"/workflow/zhgJuiDp60PS5ZKJ","cachedResultName":"Cairnly — WF3 - scoring careers NL/EN"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[368,4016],"id":"c882178f-74b3-4009-8194-7fab0f73df0e","name":"Call 'WF3 - scoring careers NL/EN'","executeOnce":false},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.5,"position":[-3616,3824],"id":"a78929e5-2b06-46b6-95c2-37c8c2e338eb","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"repID1","type":"main","index":0}]]},"Set AI Impact Prompt1":{"main":[[{"node":"ai_impact1","type":"main","index":0}]]},"Set Suitable 15 Prompt1":{"main":[[{"node":"suitable_15","type":"main","index":0}]]},"Salary Range1":{"main":[[{"node":"15TitSizAISal1","type":"main","index":0}]]},"Combine rep and profile1":{"main":[[{"node":"Extract Region (code)","type":"main","index":0},{"node":"Set Suitable 15 Prompt1","type":"main","index":0}]]},"ai_impact1":{"main":[[{"node":"AI_region1","type":"main","index":0}]]},"AI_region1":{"main":[[{"node":"Salary Range1","type":"main","index":0}]]},"Supabase Insert1":{"main":[[{"node":"complete confirmation1","type":"main","index":0}]]},"Enrich B":{"main":[[{"node":"clean up JSON1","type":"main","index":0}]]},"15TitSizAISal1":{"main":[[{"node":"Tit_and_Co1","type":"main","index":0}]]},"combine to ":{"main":[[{"node":"Batcher1","type":"main","index":0}]]},"Batcher1":{"main":[[{"node":"enrich prompt1","type":"main","index":0}]]},"enrich prompt1":{"main":[[{"node":"Enrich B","type":"main","index":0}]]},"clean up JSON1":{"main":[[{"node":"Supabase Insert1","type":"main","index":0}]]},"complete confirmation1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Call 'WF3 - scoring careers NL/EN'","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Aggregate3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Tit_and_Co1":{"main":[[{"node":"Aggregate2","type":"main","index":0},{"node":"combine to ","type":"main","index":0}]]},"3FP Enrich1":{"ai_languageModel":[[{"node":"Enrich B","type":"ai_languageModel","index":0}]]},"3FP Sal1":{"ai_languageModel":[[{"node":"Salary Range1","type":"ai_languageModel","index":0}]]},"SB extract profile1":{"main":[[{"node":"Check profile exists","type":"main","index":0}]]},"Fetch AI Research1":{"main":[[{"node":"Set AI Impact Prompt1","type":"main","index":0}]]},"repID1":{"main":[[{"node":"Merge1","type":"main","index":2},{"node":"SB extract profile1","type":"main","index":0}]]},"suitable_15":{"main":[[{"node":"Fetch AI Research1","type":"main","index":0}]]},"Extract Region (code)":{"main":[[{"node":"AI_region1","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"suitable_15","type":"ai_languageModel","index":0}]]},"Check profile exists":{"main":[[{"node":"Combine rep and profile1","type":"main","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"ai_impact1","type":"ai_languageModel","index":0}]]}},"nodeGroups":[],"authors":"Sjoerd Geurts","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-09T08:42:11.556Z","id":1516,"workflowId":"vVv0tsnFlBnarMdq","versionId":"4e12489c-f96c-479e-9abe-f3bb1063e3fb","event":"activated","userId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"},{"createdAt":"2026-07-09T08:42:11.457Z","id":1515,"workflowId":"vVv0tsnFlBnarMdq","versionId":"4e12489c-f96c-479e-9abe-f3bb1063e3fb","event":"deactivated","userId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"}]}}