n8n_wfs_cairnly/WF2S_create_body_20260705.json
{
  "name": "WF2S - Starter Enrich 15",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b13b560d-ee9d-4fc2-8157-721f9a7a039c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5984,
        4048
      ],
      "id": "7cb38bc7-54ab-493a-bb9d-aeaff1c8dadf",
      "name": "Starter Webhook (from WF1S)",
      "webhookId": "809598f9-1398-41c2-9374-006bbdd10aba"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-5",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -6224,
        3424
      ],
      "id": "20671334-55e6-4681-ab63-f15e68a376d8",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "RhTKhZPWZ6gcGD13",
          "name": "Anthropic account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ai_impact_assignment",
              "name": "ai_impact_prompt",
              "value": "=# ROLE AND TASK\nYou are an expert futurist evaluating the impact of Artificial Intelligence on specific careers, with a specific focus on ENTRY-LEVEL and JUNIOR positions. The candidate is starting their career, so what matters is how AI is changing the way people GET INTO each career and what junior tasks still exist.\nInput list of jobs:\n\n{{ $('suitable_15').item.json.text }}\n\n# RESEARCH FOUNDATION\nYour assessments are grounded in peer-reviewed labor market research. Use the following empirical findings to calibrate your ratings:\n\n{{ $(\"Fetch AI Research1\").first().json.key_findings }}\n\n# CONTEXT: AGENTIC AI TRAJECTORY (2026-2028)\nThe research above captures observed deployment as of early 2026. Your assessment should project FORWARD 18-24 months, assuming Agentic AI capabilities:\n1. Autonomous Execution: AI doesn't just draft - it executes complex multi-step workflows end-to-end (analyze data, build report, update CRM, email client) without human intervention.\n2. Persistent Memory: AI retains full project and client context over months.\n3. Tool Mastery: AI operates business software (Excel, Salesforce, Jira, Figma, code editors) at professional-level competency.\n4. The observed-to-theoretical gap will narrow significantly as tooling matures and organizational adoption accelerates.\n5. Entry-level effect: classic junior tasks (routine drafting, data entry, basic research, first-line responses, simple reporting) are the FIRST tasks agentic AI absorbs. Rate each role by what remains for a junior human to be hired for, and how the entry route is changing.\n\n# ASSESSMENT RULES\nCompare the role's ENTRY-LEVEL core tasks against both current observed exposure AND projected agentic capabilities.\n\n## Priority Rules (apply in order):\n1. **Physical Rule:** If the role requires physical presence or dexterity (construction, trades, landscaping, hands-on healthcare, field service, hospitality floor work), rate as Minimal.\n2. **Human-Presence Rule:** If the role's value depends on in-person trust, care, supervision, or safety accountability (care work, early education support, frontline public service), rate as Minimal or Moderate.\n3. **Execution Rule:** If the junior version of the role primarily produces content, analysis, code, or data processing that AI can generate at comparable or higher quality, rate as Severe or Critical, unless the entry route has clearly adapted (juniors hired to operate and quality-check AI tools rather than produce the output by hand), in which case rate High.\n\n## Rating Scale\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Entry routes are stable. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; juniors still get hired and shift toward judgment, coordination, and customer contact earlier than before. Think: field-facing coordination, in-person service management, practical healthcare support.\n- **High**: The entry route reshapes. A large part of the classic junior workload moves to AI; juniors are increasingly hired to direct and quality-check AI output rather than produce it, and fewer are needed per team. Think: junior analysis, marketing execution, project coordination.\n- **Severe**: Junior teams shrink hard. Most classic entry tasks automate; companies hire noticeably fewer juniors and expect AI fluency from day one. Remaining junior involvement is supervisory or client-facing. Think: standard reporting, routine QA, first-line content production.\n- **Critical**: Entry route closing. The core junior deliverables are fully automatable by agentic AI today, at higher speed and lower cost. Starting a career here as it exists now is endangered. Think: data entry, basic customer support, routine translation.\n\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate at entry level; junior office tasks are precisely what agentic AI automates first. Do not rate a knowledge-work role Minimal because it involves judgment; juniors are rarely hired for judgment.\n\n## OUTPUT FORMAT\n- Do not include an intro or outro.\n- Do not use the em dash. Use hyphens (-) only.\n- The explanation sentence must address the ENTRY point: what AI changes about how juniors get hired or what junior tasks remain in THIS role at THIS company type.\n- Output strictly in this format for every job:\n\nCareer Title: [Exact Title from Input]\nCompany: [Size] / [Culture]\nAI Impact: [Rating] - [1 succinct sentence on how AI is changing the entry point and junior tasks for THIS role at THIS company type]\n---\n\nStart with 1.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3808,
        3648
      ],
      "id": "7ca84c55-9fa1-4dfc-86a5-8a36348a7244",
      "name": "Set AI Impact Prompt1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "suitable_15_assignment",
              "name": "suitable_15_prompt",
              "value": "=# ROLE\nYou are an expert career exploration system generating 15 investigation-worthy ENTRY-LEVEL careers for detailed analysis. Your candidate is a young adult working toward their first or second serious job. Your goal is to identify realistic starting careers that warrant deep evaluation through subsequent enrichment and scoring processes.\n\n# CONTEXT & WORKFLOW\nYou are Step 1 in a 4-step career matching process:\n1. **Your task:** Generate 15 plausible entry-level career options\n2. **Next:** Careers will be enriched with detailed information\n3. **Then:** Rigorous 0-100 scoring across 7 dimensions\n4. **Finally:** Top 8 careers selected for candidate\n\nThis means you should:\n- Focus on generating careers worth investigating (70%+ confidence they could work)\n- Provide diverse options across role types and industries\n- Apply hard constraints but don't overthink perfect fit\n- The scoring system will filter out mismatches\n\n# WHO YOU ARE WORKING FOR\nCairnly Starter serves people with little or no professional experience. Their evidence is education, side jobs, internships, volunteering, student projects, freelance gigs, and hobbies. They face a tight entry-level job market in which AI is absorbing many classic junior tasks. Tone requirements for everything you write: honest, direct, warm, zero corporate fluff, never condescending, never invent statistics. Do not use em dashes in any output text; use commas, colons, or hyphens instead.\n\n# INPUT DATA STRUCTURE\nYou will receive:\n- **Initial Summary:** Structured candidate profile with all survey responses (background and education, experience so far, how they operate, what drives them, interests and strengths, where they work best, practical reality, looking ahead)\n- **Personality Analysis:** Four narrative sections (Approach, Strengths, Development, Values)\n\n# THE ENTRY-LEVEL REALISM RULE (overrides everything below)\nEvery one of the 15 careers must be a realistic FIRST or SECOND serious job for this candidate, reachable within their stated timeline. A career qualifies only if at least one of these entry routes genuinely exists for someone at their education level:\n- **Direct junior openings:** companies actually post junior/associate/assistant versions of this role (e.g. Junior Data Analyst, Sales Development Representative, Marketing Assistant)\n- **Traineeship or apprenticeship routes:** structured programs that hire people without experience\n- **Certification-entry routes:** a recognized course or certificate measured in weeks to months (not years) reliably unlocks the door\n- **Stepping-stone entry:** an adjacent junior role that reliably leads into the target field within 1-3 years; if you use this route, name the stepping-stone in the overview\n\nHard exclusions, no exceptions:\n- No roles requiring 3+ years of prior professional experience, an established network, or capital the candidate does not have\n- No fractional, advisory, board, executive, or senior consulting paths\n- No titles containing \"Senior\", \"Lead\", \"Principal\", \"Head of\", \"Director\", \"VP\", or \"Chief\"\n- Do not pitch management of a team as a first job\n\n# ANALYSIS FRAMEWORK\n\n## STEP 1: PATTERN RECOGNITION\n\nBefore generating any careers, analyze these patterns from the Initial Summary:\n\n### A. Evidence Pattern (education, experience so far, work story)\nThe candidate has no career history to mine, so read their actual evidence:\n- What did they study (or are they studying), and did they enjoy it? Enjoyed subjects are a stronger signal than the diploma title.\n- What work have they actually done (side jobs, internships, volunteering, student association, freelance gigs, family business)? What does their work story say they liked and hated about it?\n- What are they proud of making, doing, or organizing? What do friends and classmates come to them for? These are revealed strengths, often more honest than self-ratings.\n\n### B. Direction Analysis (studies + interests + two-year hope)\nMap where their evidence points:\n- **Following the study path:** their education leads somewhere specific and they seem to want it\n- **Drifting from the study path:** they studied one thing but their energy, hobbies, and proudest moments point elsewhere\n- **No clear path yet:** exploration mode; the 15 careers should test genuinely different directions\n- **Escaping a first job:** they are working and want out; read what specifically is wrong before suggesting alternatives\n\n### C. Stated Goals vs Practical Reality\nCompare what they hope for against their practical answers:\n- Two-year hope and definition of a \"serious job\" vs when they need to be earning\n- Salary vs learning preference: are they optimizing for income now or growth now?\n- Willingness to take a foot-in-the-door job, willingness to relocate, openness to more study or certifications\n- If hopes and practical reality conflict (e.g. wants a specialist role but needs income in 2 months and won't study), weight toward practical routes and flag the tension in `pattern_analysis_summary.goal_alignment`.\n\n### D. Confidence and Market-Anxiety Indicators\nCheck how they feel about the job market and AI, and their biggest worry about starting out:\n- Anxious or frustrated: favor careers with clear, provable entry routes and visible demand; avoid long-shot glamour fields unless their evidence strongly supports them\n- Optimistic or neutral: normal distribution, room for a couple of ambitious options\n- Never dismiss the worry and never dramatize it. The careers themselves should be the honest answer.\n\n### E. Interest and Strength Themes\nExtract themes from enjoyed subjects, hobbies, proudest achievements, self-picked strength tags (making, analyzing, helping, selling, organizing, creating, hands-on, numbers, caring, outdoors), and tech comfort:\n- Themes reveal desired work qualities, not literal job targets. \"Streams video games\" can mean community building, content production, technical setup, or performance; find which.\n- 3-4 of the 15 careers should clearly deliver their strongest themes.\n- Hobbies become career inputs only when the candidate shows real skill or sustained commitment there.\n\n### F. Work Environment Fit\nUse their answers on team setup, desk vs on-your-feet, pace, wanted level of guidance, and dealbreakers:\n- A candidate wanting high guidance at the start should see structured employers, traineeships, and apprenticeships, not sink-or-swim environments\n- Respect desk/remote/physical preference in the mix of the 15\n- Dealbreakers are hard constraints (see STEP 3)\n\nPriority order for weighting:\n1. Practical reality (timeline, study openness, salary vs learning) - 25%\n2. Evidence (education, experience so far, proudest work) - 25%\n3. Interest and strength themes - 20%\n4. Values ranking and what drives them - 15%\n5. Work environment preferences - 15%\n\n## STEP 2: STRATEGIC DISTRIBUTION\n\nBased on the candidate's current situation, determine the distribution of the 15 careers. Categories:\n- **Anchored roles:** directly extend their education or work evidence (the \"obvious\" next steps)\n- **Adjacent roles:** use their evidence in a different field, format, or industry\n- **Exploration roles:** test a direction their interests point to but their evidence does not yet cover; these must still pass the entry-level realism rule\n\n### Distribution Scenarios:\n\n**Scenario A: Studying full-time**\n- 30% anchored (4-5 careers the study path naturally leads to)\n- 40% adjacent (6 careers using their subjects/skills differently)\n- 30% exploration (4-5 careers testing interests, so they can steer electives, internships, and side projects while still in school)\n\n**Scenario B: Just graduated, looking for the first serious job**\n- 40% anchored (6 careers with direct junior openings for their profile)\n- 40% adjacent (6 careers reachable via traineeship, certification, or stepping-stone)\n- 20% exploration (3 careers that test a strong interest theme)\n\n**Scenario C: Working a first job and doubting it, or wanting out**\n- Read what specifically is wrong (from their work story and worries) and do not recreate it\n- 20-30% anchored (3-4 careers keeping what works about the current job while fixing the named problem)\n- 40-50% adjacent (6-7 careers reusing their short experience in a better-fitting context)\n- 25-30% exploration (4 careers in genuinely different directions)\n\n**Scenario D: Gap or in-between period**\n- 30% anchored, 35% adjacent, 35% exploration\n- Favor routes with clear on-ramps (apprenticeships, certifications, seasonal-to-permanent paths) that convert momentum into a start\n\n### Adaptations:\n- If their timeline is urgent (need to work within ~3 months): shift 2-3 slots from exploration to anchored, and prefer direct-opening and foot-in-the-door routes over routes requiring new study\n- If they are open to more study AND have time: allow 2-3 careers gated by a certification or short program, and say so explicitly in the overview\n- If their strongest evidence and their interests point the same way: lean in; that overlap is where first jobs stick\n\n## STEP 3: GENERATION RULES\n\n### Hard Constraints (Must Apply):\n\n1. **Entry-Level Realism Rule** (see above). Every career, no exceptions.\n\n2. **Avoid Dealbreakers**\n   - Explicitly avoid work aspects the candidate marked as dealbreakers (e.g. no cold calling, no night shifts, no full-time office)\n   - A career that structurally requires a dealbreaker is out, even if the fit is otherwise strong\n\n3. **Respect Education Reality**\n   - Do not suggest careers legally or practically gated by a degree the candidate does not have and has not said they are open to pursuing (medicine, law, licensed engineering, clinical psychology)\n   - If the candidate is open to more study, at most 2-3 careers may depend on a new certification or short program, never on a full new multi-year degree unless they are currently studying exactly that\n\n4. **Respect Timeline**\n   - Match entry routes to when they need to be working\n   - Urgent timeline: direct openings and paid apprenticeships only\n\n5. **Respect Salary Reality, Honestly**\n   - Entry-level pay is entry-level pay; never inflate it\n   - If they prioritized salary over learning, favor fields with stronger starting pay (skilled trades, sales, logistics, tech-adjacent ops) and say so plainly\n   - If they prioritized learning, favor fields with steep skill curves and visible progression\n\n6. **No Semantic Duplicates**\n   - Each of 15 careers must be functionally distinct\n   - If two roles have 80%+ overlapping responsibilities, choose one\n   - Same title at a different company size/culture counts as a duplicate unless the daily work differs materially; if both contexts matter, pick the stronger one and mention the alternative inside `why_this_fits`\n\n7. **Respect Language and Region**\n   - Only suggest careers realistic in their region, in languages they have\n   - Use their relocation answer: if they will not move, the local/remote market decides what is realistic\n\n8. **Path Type Gating**\n\n   Each career must be assigned a `path_type`:\n   - `employee` - a junior role at someone else's company. This is the default for starters and should cover most or all of the 15.\n   - `freelance_fractional` - independent gig or freelance work. Only when the candidate has ALREADY done freelance gigs (per their experience answers) or shows a concrete, evidenced independent practice (e.g. paid design commissions, a running content channel). Maximum 2 of the 15. Be blunt in `path_type_notes` about pipeline building and income variability with no runway.\n   - `founder` - starting a business. Almost never right for a first serious job. Allowed only with strong evidence: they already run or ran something real (a shop, a channel with revenue, a family business role with responsibility). Maximum 1 of the 15, and `path_type_notes` must name the risk honestly (no income for months, most first businesses fail, keep a job alongside).\n\n   No signal = employee paths only. Suggesting self-employment to someone with zero evidence for it is a disservice.\n\n9. **AI-Aware Entry Check**\n   - For every career, consider what AI is doing to its ENTRY point: many classic junior tasks (basic copywriting, routine data entry, first-line support, simple reporting) are being automated, which changes what juniors are hired to do\n   - Prefer careers where entry-level humans remain genuinely needed (physical work, in-person care and service, trades, regulated tasks, roles where juniors now work WITH AI tools rather than doing the tasks AI replaced)\n   - If a career's classic entry route is eroding but an adapted route exists (e.g. junior marketer as AI-tool operator and campaign coordinator rather than copy producer), you may include it, and the overview must reflect the adapted reality\n   - Do not include careers whose entire entry layer is being automated away with no adapted route\n\n### Soft Preferences (Should Apply When Possible):\n\n1. **Industry Diversity**\n   - Aim for minimum 8-10 different industries across the 15\n   - Don't cluster everything in one sector unless their evidence is unusually specialized\n\n2. **Role Type Diversity**\n   - Mix across: hands-on/technical, people-facing, analytical, organizing/coordinating, creative, outdoors/physical\n   - Weight the mix toward their self-picked strength tags, but include 2-3 that test an adjacent tag\n\n3. **Company Size/Culture Format (STRICT COMPLIANCE REQUIRED)**\n\n**MANDATORY FORMAT:** \"[SIZE] / [CULTURE]\"\n\nYou MUST use these EXACT strings (including ranges in parentheses):\n\n**SIZE options (choose ONE, use EXACTLY as written):**\n- Own Company\n- Micro (1-10)\n- Small (11-50)\n- Medium (51-200)\n- Large (201-1000)\n- Enterprise (1000+)\n\n**CULTURE options (choose ONE or maximum TWO):**\n- Boutique\n- Startup\n- Scale-up\n- Corporate\n- Mid-Market\n- Agency / Consultancy\n- Nonprofit\n- Public Sector / Gov\n\n**CRITICAL: Size and Culture are independent dimensions**\n- A small company (11-50) can be Corporate (law firm) OR Startup (Series A)\n- A large company (1000+) can be Startup (unicorn) OR Corporate (bank)\n- Judge culture by: process maturity, hierarchy, pace, decision-making style\n\n**Valid examples:**\n- \"Small (11-50) / Startup\"\n- \"Medium (51-200) / Scale-up\"\n- \"Large (201-1000) / Corporate\"\n- \"Enterprise (1000+) / Public Sector / Gov\" (\"Public Sector / Gov\" counts as ONE culture)\n- \"Medium (51-200) / Startup / Scale-up\" (transitioning, max 2 cultures)\n\n**Invalid examples (DO NOT USE):**\n- \"Large / Corporate\" (missing range in parentheses)\n- \"SME / Corporate\" (not in list)\n- \"Boutique Startup\" (missing slash separator)\n- \"Small (11-50) / Startup / Scale-up / Corporate\" (too many cultures, max 2)\n\n**Starter-specific guidance:**\n- Traineeships and graduate programs live mostly at \"Large (201-1000) / Corporate\" and \"Enterprise (1000+) / Corporate\"\n- Apprenticeship trades often at \"Micro (1-10) / Boutique\" or \"Small (11-50) / Boutique\"\n- If they want high guidance at the start, favor structured cultures (Corporate, Public Sector / Gov, larger Agency / Consultancy)\n- \"Own Company\" only for the rare gated founder path\n\n4. **Geography Alignment**\n   - Consider roles realistic for their region and remote-work reality at entry level (fully remote first jobs are rarer than the internet suggests; be honest)\n\n## STEP 4: GENERATE 15 CAREERS\n\nFor each career, provide:\n\n### Required Information:\n\n1. **career_title:** Clear, specific, real ENTRY-LEVEL job title\n2. **company_size_type:** Format exactly as \"[SIZE] / [CULTURE]\"\n3. **overview:** 2-3 sentences describing the role's core responsibilities AND the realistic entry route for this candidate (junior opening, traineeship, apprenticeship, certification, or stepping-stone)\n4. **why_this_fits:** 2-3 sentences explaining the fit hypothesis with specific references to their evidence, interests, values, or practical answers\n5. **similarity_to_current:** Score 1-10 for how close this is to what they have already done or studied\n6. **similarity_explanation:** 1-2 sentences on what from their existing evidence transfers and what would be new\n7. **path_type:** One of `employee`, `freelance_fractional`, or `founder` (see STEP 3 rule 8 for gating)\n8. **path_type_notes:** 1 sentence on the structural reality of this path for this candidate. For `employee`: how people typically get this first role (e.g. \"junior openings and traineeships hire graduates directly; expect online assessments and 1-3 interview rounds\"). For `freelance_fractional`: income variability and finding clients with no track record. For `founder`: risk horizon and why keeping income alongside matters.\n\n**Title examples, the bar to hit:**\n\nReal AND entry-level (all return live junior job postings):\n   - Junior Data Analyst\n   - Sales Development Representative\n   - Customer Success Associate\n   - Marketing Assistant\n   - Junior UX Designer\n   - IT Support Technician\n   - Electrician Apprentice\n   - Junior Project Coordinator\n   - Care Assistant\n   - Field Service Engineer (Junior)\n\nInvented composite -> real equivalent (keep the niche, fix the title):\n   - \"AI Content Ecosystem Coordinator\" -> \"Marketing Assistant\" (the AI-tools angle goes in the overview)\n   - \"Digital Community Experience Builder\" -> \"Community Coordinator\"\n   - \"Sustainability Impact Storyteller\" -> \"Communications Assistant\"\n\nRule of thumb: apply the searchability test. If the exact title plus \"junior\" or \"trainee\" would return real job ads in their region, keep it; if it only names a function you assembled, rename it to the closest real title and move the personalized angle into the overview.\n\n### Quality Standards:\n\n**career_title:**\n- Use a REAL, searchable job title a recruiter would post for entry-level candidates\n- Get specificity from domain on a real junior title (e.g. \"Junior Financial Analyst\"), NOT by inventing labels\n- Match entry level: junior, assistant, associate, trainee, apprentice variants are all fine\n\n**why_this_fits:**\n- Reference specific data points from their profile (enjoyed subjects, work story, proudest achievement, strength tags, values ranking, practical answers)\n- Explain the hypothesis: why is this worth investigating for THIS person?\n- Examples:\n  - \"Your bar job story shows you kept your head in chaos and liked the pace, and you ranked enjoying the day-to-day above status; this role is built on exactly that.\"\n  - \"You studied communication, friends come to you to fix their texts before sending, and you want structure with guidance at the start; a corporate communications traineeship matches all three.\"\n\n**similarity_to_current:**\n- 8-10 = Very close to their study path or work evidence\n- 5-7 = Some evidence transfers, new context or field\n- 1-4 = New direction; justified by interests and strength themes\n\n**similarity_explanation:**\n- What from their education, side jobs, projects, or hobbies transfers directly?\n- What would be genuinely new (skills, environment, pace)?\n\n### Distribution Requirements:\n- Ensure the 15 careers reflect your determined distribution (anchored / adjacent / exploration)\n- Verify you haven't over-concentrated in one category or industry\n\n## STEP 5: FINAL QUALITY CHECK\n\nBefore outputting, verify:\n\n- All 15 careers are functionally distinct (no semantic duplicates). Actively self-audit: re-read the 15 as a set, and for any pair that is the same underlying job worded differently, keep the stronger fit and REPLACE the other with a genuinely distinct career that still satisfies every rule above. The final list must be 15 functionally distinct careers.\n- Every career passes the Entry-Level Realism Rule with a nameable entry route\n- No career violates their dealbreakers\n- No career is gated by a degree they don't have and won't pursue\n- Entry routes match their timeline\n- Distribution matches your pattern analysis\n- Each \"why_this_fits\" cites specific profile evidence\n- pattern_analysis_summary includes goal_alignment with a clear aligned / tension / contradicted call\n- Each career has a `path_type` assigned\n- No `freelance_fractional` without freelance evidence (max 2); no `founder` without strong entrepreneurial evidence (max 1)\n- `path_type_notes` is present and honest about how entry actually works for that path\n- No two careers share the same title differing only by company size/culture\n- Company size/type format is EXACTLY correct:\n   - All sizes except \"Own Company\" include range: \"Small (11-50)\" not \"Small\"\n   - Uses exact culture terms from the list\n   - Has slash separator: \" / \" (space-slash-space)\n   - Maximum 2 cultures\n- No em dashes anywhere in the output\n\n# OUTPUT FORMAT\n\nReturn a JSON object with exactly this structure, wrapped in a ```json code fence, with no intro or outro:\n\n```json\n{\n  \"pattern_analysis_summary\": {\n    \"happiness_pattern\": \"[Brief summary: what has energized vs drained them across school, side jobs, and projects]\",\n    \"career_trajectory\": \"[Brief summary: the direction their education and evidence point, or 'exploring' if none yet]\",\n    \"burnout_indicators\": \"[Yes/No + brief note; for starters this covers job-market anxiety, discouragement, or a draining first job]\",\n    \"dream_job_themes\": \"[Themes extracted from their interests, proudest achievements, and two-year hope]\",\n    \"goal_alignment\": \"[stated hopes vs practical reality (timeline, study openness, salary needs): aligned / tension flagged / contradicted, brief one-line note]\",\n    \"recommended_distribution\": \"[e.g., '40% anchored, 40% adjacent, 20% exploration' with brief rationale]\"\n  },\n  \"careers\": [\n    {\n      \"career_title\": \"[Job Title]\",\n      \"company_size_type\": \"[SIZE] / [CULTURE]\",\n      \"overview\": \"[2-3 sentences incl. the entry route]\",\n      \"why_this_fits\": \"[2-3 sentences with specific references]\",\n      \"similarity_to_current\": \"[1-10]\",\n      \"similarity_explanation\": \"[1-2 sentences]\",\n      \"path_type\": \"[employee | freelance_fractional | founder]\",\n      \"path_type_notes\": \"[1 sentence on structural reality]\"\n    }\n    // ... repeat for all 15 careers\n  ],\n  \"generation_metadata\": {\n    \"total_careers\": 15,\n    \"distribution_breakdown\": {\n      \"similar_roles\": \"[count of anchored roles]\",\n      \"pivot_roles\": \"[count of adjacent roles]\",\n      \"transformation_roles\": \"[count of exploration roles]\"\n    }\n  }\n}\n```\n\n# CRITICAL REMINDERS\n\n1. **Pattern analysis first:** Don't generate careers until you've read their evidence, direction, and practical reality\n2. **Entry-level realism beats everything:** a perfect-fit career with no entry route for this candidate is a wrong answer\n3. **Evidence over labels:** what they built, organized, and got asked for help with beats the name of their diploma\n4. **Honest about AI:** address how AI is changing the entry point of a career when relevant; never use it to scare, never pretend it isn't happening\n5. **Honest about pay and grind:** entry-level pay, application processes, and foot-in-the-door realities are stated plainly, not sugarcoated and not dramatized\n6. **Diversity within reason:** 8-10 industries, mixed role types, weighted toward their strongest themes\n7. **Specific references:** every \"why_this_fits\" cites specific profile data\n8. **No duplicates:** 15 functionally distinct careers\n9. **Format precisely:** company size/type must be exactly \"[SIZE] / [CULTURE]\"\n10. **Path type honesty:** employee is the default; freelance and founder paths require evidence, and their notes must name the risk\n11. **No em dashes** in any output text\n\n# INPUT DATA\n\n## Candidate Initial Summary\n{{ $json.initial_summary }}\n\n## Candidate Personality Analysis\n### Understanding Your Approach\n{{ $json.approach }}\n\n### Strengths and How to Grow Them\n{{ $json.strengths }}\n\n### Areas for Development\n{{ $json.development }}\n\n### Aligning with Your Values\n{{ $json.values }}\n\n## report_id\n{{ $json.report_id }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4608,
        3648
      ],
      "id": "9c55328c-3109-485b-a17e-a1e4e0442db9",
      "name": "Set Suitable 15 Prompt1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**ROLE**\nYou are a career-matching and salary-adjustment system for ENTRY-LEVEL roles. You have deep knowledge of realistic STARTING salaries (0-2 years of professional experience) for a Career Title within a certain size of organisation and industry, further adjusted to the applicable region selected here:\n{{ $('AI_region1').item.json.Region }}\n\n**TASK and SOP**\nYour task is to calculate the most likely STARTING salary range in the candidate's selected region for each of the Career Titles:\n{{ $('AI_region1').item.json.text }}\n\nDetermine a realistic entry-level salary range. Factors to consider:\n- these are junior / trainee / apprentice / first-job positions: use starting salaries, NOT mid-career averages\n- the Career Title in combination with the organisation's size\n- the average cost of living and typical salary levels in the selected region\n- the demand for these roles at entry level\n- apprenticeships and traineeships often pay below standard junior rates during the program; reflect that where applicable\n- adjust down with 5% to be conservative\n\n**OUTPUT FORMAT**\nPlace the generated Salary Range in the selected region's currency, rounded to the nearest whole number at the end of the other information.\n\nProvide the results in the following format:\nCareer Title: [exact title]\nCompany: [SIZE] / [CULTURE]\nAI Impact: [rating] - [brief explanation]\nExp. salary range in [selected region]: [Currency] [Salary Range]\n\n[\n  {\n    \"career_title\": \"Junior Data Analyst\",\n    \"company_size_type\": \"Medium (51-200) / Corporate\",\n    \"salary\": {\"region\": \"Northern and Western Europe\", \"range\": \"€30,000 - €40,000\"},\n    \"ai_impact_rating\": {\"rating\": \"High\", \"explanation\": \"...\"}\n  },\n  // ... more careers\n]\n\n\n\nNOTES\n\nBase your calculations on your latest knowledge of regional salary norms, entry-level pay scales, and cost-of-living adjustments for each region.\n\nRegional breakdown:\n\nNorthern and Western Europe: Includes countries like Germany, Netherlands, France, and the Nordic countries. Salaries based on regional averages. EUR (€).\n\nSouthern and Eastern Europe: Includes countries like Spain, Italy, Poland, and Greece. Typically lower regional salaries. EUR (€).\n\nUnited Kingdom (London): Consider higher salaries and cost of living. GBP (£).\n\nUnited Kingdom (Other): Outside London, adjust for moderately lower salaries. GBP (£).\n\nUnited States (High-Cost Regions): Includes areas like New York, San Francisco, Los Angeles, and Boston. Increase base salaries by 20-50% from average US salaries.\n\nUnited States (Average-Cost Regions): Includes areas like Texas, Colorado, and Illinois. Salaries remain close to the national average.\n\nUnited States (Lower-Cost Regions): Includes rural and small-town areas. Decrease base salaries by 10-30%.\n\nCanada: base on Canadian salary norms and cost of living. CAD ($).\n\nAustralia and New Zealand: Base salaries to reflect local averages. AUD/NZD.\n\nSwitzerland: Usually higher local salaries and cost of living. CHF.\n\nIf precise data is unavailable, make reasonable assumptions based on general trends and relative cost-of-living differences for ENTRY-LEVEL positions.\n\nWhen presenting the salary range, include the local currency symbol and round to the nearest whole number for clarity.\n\nBetter conservative than overestimate the range! Young candidates will make real decisions on these numbers; an honest low range beats a flattering high one.\n",
        "batching": {}
      },
      "id": "e66a76c7-1118-402c-ba70-2c3cc87c7cff",
      "name": "Salary Range1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -2800,
        3888
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// init_summary is now in the Supabase rows (already queried by SB extract profile)\nconst rows = $input.all().map(item => item.json);\n\nconst report = rows.reduce((acc, row) => {\n  // Map init_summary section_type to initial_summary key (for prompt compatibility)\n  if (row.section_type === 'init_summary') {\n    acc.initial_summary = row.content;\n  } else {\n    acc[row.section_type] = row.content;\n  }\n  return acc;\n}, {\n  report_id: rows[0]?.report_id || null\n});\n\nreturn [{ json: report }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4912,
        3904
      ],
      "id": "a7aad213-9f80-4a5d-9ccc-19e21cf6cf4d",
      "name": "Combine rep and profile1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['ai_impact_prompt'] }}",
        "batching": {}
      },
      "id": "3c44e911-cd39-49a5-804b-182080447313",
      "name": "ai_impact1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -3616,
        3648
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3024,
        3888
      ],
      "id": "bc51ffc7-8af9-404f-bcf1-f061c2136d05",
      "name": "AI_region1"
    },
    {
      "parameters": {
        "tableId": "enriched_jobs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "career_title",
              "fieldValue": "={{ $json.career_title }}"
            },
            {
              "fieldId": "company_size_type",
              "fieldValue": "={{ $json.company_size_type }}"
            },
            {
              "fieldId": "overview",
              "fieldValue": "={{ $json.overview }}"
            },
            {
              "fieldId": "technical_skills",
              "fieldValue": "={{ $json.technical_skills }}"
            },
            {
              "fieldId": "soft_skills",
              "fieldValue": "={{ $json.soft_skills }}"
            },
            {
              "fieldId": "personality_traits",
              "fieldValue": "={{ $json.personality_traits }}"
            },
            {
              "fieldId": "work_schedule",
              "fieldValue": "={{ $json.work_schedule }}"
            },
            {
              "fieldId": "client_interaction",
              "fieldValue": "={{ $json.client_interaction }}"
            },
            {
              "fieldId": "colleague_interaction",
              "fieldValue": "={{ $json.colleague_interaction }}"
            },
            {
              "fieldId": "autonomy_vs_collaboration",
              "fieldValue": "={{ $json.autonomy_vs_collaboration }}"
            },
            {
              "fieldId": "pace_of_work",
              "fieldValue": "={{ $json.pace_of_work }}"
            },
            {
              "fieldId": "core_values",
              "fieldValue": "={{ $json.core_values }}"
            },
            {
              "fieldId": "motivational_factors",
              "fieldValue": "={{ $json.motivational_factors }}"
            },
            {
              "fieldId": "typical_tasks",
              "fieldValue": "={{ $json.typical_tasks }}"
            },
            {
              "fieldId": "education_requirements",
              "fieldValue": "={{ $json.education_requirements }}"
            },
            {
              "fieldId": "certifications_requirements",
              "fieldValue": "={{ $json.certifications_requirements }}"
            },
            {
              "fieldId": "career_progression",
              "fieldValue": "={{ $json.career_progression }}"
            },
            {
              "fieldId": "ai_impact_rating",
              "fieldValue": "={{ $json.ai_impact_rating }}"
            },
            {
              "fieldId": "salary",
              "fieldValue": "={{ JSON.stringify($json.salary) }}"
            },
            {
              "fieldId": "alternate_titles",
              "fieldValue": "={{ $json.alternate_titles }}"
            },
            {
              "fieldId": "leadership_challenges",
              "fieldValue": "={{ $json.leadership_challenges }}"
            },
            {
              "fieldId": "path_type",
              "fieldValue": "={{ $json.path_type}}"
            },
            {
              "fieldId": "path_type_notes",
              "fieldValue": "={{ $json.path_type_notes }}"
            },
            {
              "fieldId": "report_id",
              "fieldValue": "={{ $('Combine rep and profile1').first().json.report_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -656,
        3648
      ],
      "id": "ddf2aa8e-58ef-47e9-8ad7-104e325697e2",
      "name": "Supabase Insert1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['enrich prompt b1'] }}",
        "batching": {}
      },
      "id": "4f43def3-37d9-4747-abf6-1bac52f85bdf",
      "name": "Enrich B",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1232,
        3648
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text;\n\nconst jsonMatch = raw.match(/```json\\n([\\s\\S]*?)\\n```/);\nif (!jsonMatch) {\n  throw new Error(\"Could not find a JSON block in the input text.\");\n}\n\nconst cleanJsonString = jsonMatch[1].trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJsonString);\n} catch (e) {\n  throw new Error(\"Failed to parse extracted JSON. Error: \" + e.message);\n}\n\nfunction normalizeKey(str) {\n  if (!str) return '';\n  return str\n    .toLowerCase()\n    .replace(/[—–-]/g, '-')\n    .replace(/&/g, 'and')\n    .replace(/[^\\w\\s-]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Build lookup from suitable_15 with multiple matching strategies\nconst suitable15Raw = $('suitable_15').item.json.text;\nconst s15Match = suitable15Raw.match(/```json\\n([\\s\\S]*?)\\n```/);\nlet s15Careers = [];\n\nif (s15Match) {\n  try {\n    const s15Parsed = JSON.parse(s15Match[1].trim());\n    s15Careers = s15Parsed.careers || [];\n  } catch (e) {\n    // continue without path data\n  }\n}\n\nconst byTitleAndSize = {};\nconst byTitle = {};\n\ns15Careers.forEach(c => {\n  const t = normalizeKey(c.career_title);\n  const ts = `${t}||${normalizeKey(c.company_size_type)}`;\n  byTitleAndSize[ts] = c;\n  byTitle[t] = c;\n});\n\nreturn parsed.map((item, idx) => {\n  const t = normalizeKey(item.career_title);\n  const ts = `${t}||${normalizeKey(item.company_size_type)}`;\n\n  // Match by title+company first (most precise), then title alone,\n  // then fall back to position if the array lengths align\n  let match = byTitleAndSize[ts] || byTitle[t];\n  if (!match && s15Careers.length === parsed.length) {\n    match = s15Careers[idx];\n  }\n\n  const formatted =\n    `Career Title: ${item.career_title}\\n` +\n    `Company: ${item.company_size_type}\\n` +\n    `AI Impact: ${item.ai_impact_rating?.rating} - ${item.ai_impact_rating?.explanation}\\n` +\n    `Exp. salary range in ${item.salary?.region}: ${item.salary?.range}`;\n\n  return {\n    json: {\n      ...item,\n      path_type: match?.path_type || null,\n      path_type_notes: match?.path_type_notes || null,\n      formatted_output: formatted\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2448,
        3888
      ],
      "id": "cbca9532-78ec-4e3c-9662-f80238e2bcd5",
      "name": "15TitSizAISal1"
    },
    {
      "parameters": {
        "jsCode": "// Get the 15 new careers from Tit_and_Co1\nconst titAndCoItems = $(\"Tit_and_Co1\").all().map(item => item.json);\n\n// In-batch dedup (case/whitespace normalized)\nfunction normalize(str) {\n  if (!str) return '';\n  return str.toLowerCase().replace(/\\s+/g, ' ').trim();\n}\n\nconst seenKeys = new Set();\nconst uniqueCareers = [];\n\ntitAndCoItems.forEach(career => {\n  const key = normalize(`${career.career_title}||${career.company_size_type}`);\n  if (!seenKeys.has(key)) {\n    seenKeys.add(key);\n    uniqueCareers.push(career);\n  }\n});\n\n// Return one item per career so Batcher1 can group them\nreturn uniqueCareers.map(c => ({ json: c }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        3648
      ],
      "id": "43ce9d66-7234-42c7-80ca-45bc584b5ab3",
      "name": "combine to "
    },
    {
      "parameters": {
        "jsCode": "const careers = items.map(i => i.json);\nconst batchSize = 5;\nconst batches = [];\n\nfor (let i = 0; i < careers.length; i += batchSize) {\n  batches.push(careers.slice(i, i + batchSize));\n}\n\nreturn batches.map(batch => ({\n  json: { careers: batch }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        3648
      ],
      "id": "6489230c-187a-4eff-ac36-dde36c1172d8",
      "name": "Batcher1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44845875-174c-4385-b507-5b2225b2f523",
              "name": "enrich prompt b1",
              "value": "=# ROLE\nYou are an assistant that enriches these ENTRY-LEVEL career descriptions into structured JSON for a database. The reader is a young adult heading into their first or second serious job: be honest, direct, warm, zero corporate fluff, never condescending. Do not invent statistics. Do not use em dashes anywhere; use commas, colons, or hyphens.\n\n---\n\n# INPUT SOURCES:\nUse this for content enrichment. Copy career_title, company_size_type, salary, ai_impact_rating, path_type, and path_type_notes verbatim from input.\nEnrich all other fields with structured information extracted or reasonably inferred from this text.\n\n{{ JSON.stringify($json.careers, null, 2) }}\n\nCRITICAL: You must enrich **ALL careers provided in the input (1-5 per batch. 3 batches max.)**.\n- Do NOT invent careers.\n- Do NOT skip careers.\n\n---\n\n# !! IMPORTANT OUTPUT RULES !!\n- Output ONLY valid JSON. No markdown, no commentary, no code fences.\n- Every key MUST appear exactly as specified.\n- If information is unavailable, use `\"N/A\"`.\n- For text fields, always provide at least **one full descriptive sentence** (never leave blank).\n- For arrays:\n  * `technical_skills`: max 3 items\n  * `soft_skills`: max 3 items\n  * `core_values`: max items\n  * `motivational_factors`: max 3 items\n  * `typical_tasks`: max 3 items\n  * `leadership_challenges`: must always be an array (empty if not relevant)\n- **`salary` and `ai_impact_rating` must remain JSON objects, not strings.** Copy their structure verbatim.\n- Do not merge, drop, or add extra sections.\n\nOutput all careers inside a single JSON array in this format (the number of objects will match the number of input careers, 1-5):\n\n[\n  { \"career_title\": \"Job 1\", ... },\n  { \"career_title\": \"Job 2\", ... }\n]\n\n---\n\n# ENTRY-LEVEL FRAMING (applies to every field)\n\nDescribe the JUNIOR version of each role: the first 1-2 years, not the role after a decade.\n- **typical_tasks:** what a junior actually does in month 1-12, including working with AI tools where that is now standard\n- **technical_skills:** the skills that get a starter hired, not the full senior stack; name real tools\n- **education_requirements:** the realistic minimum to get hired (degree, diploma, or none), and whether self-taught or online-course routes genuinely work in practice\n- **certifications_requirements:** name real, recognized entry certifications or programs where they exist (e.g. Google Analytics, VCA, forklift license, AWS Cloud Practitioner); \"None required\" is a valid honest answer\n- **career_progression:** the realistic first steps: what this role typically leads to in 2-5 years\n- **work_schedule:** include entry realities where relevant (shift work, weekend rotations, seasonal peaks, traineeship rhythm)\n- **leadership_challenges:** for juniors this means the hard parts of starting out in this role (being the least experienced person in the room, handling feedback, unclear instructions, pace), not managing people\n\n# PATH TYPE AWARENESS\n\nEach input career has a `path_type` (`employee`, `freelance_fractional`, or `founder`). Several output fields must reflect the structural reality of the path. Adjust framing accordingly:\n\n- **physical_setting:** For `founder`, environment is self-determined and usually improvised at the start. For `freelance_fractional`, mention working from home plus client locations. For `employee`, describe the typical workplace for a junior.\n- **work_schedule:** For `founder`, note that early-stage building eats evenings and weekends. For `freelance_fractional`, note variable workload and the unpaid work behind the work (finding clients, admin). For `employee`, standard junior role expectations.\n- **client_interaction:** For `founder` and `freelance_fractional`, this includes selling yourself with no track record, not just delivery. For `employee`, describe role-defined interaction at junior level.\n- **typical_tasks:** Include path-realistic tasks. Founders sell, build, and handle everything themselves. Freelancers find clients, quote, deliver, invoice. Employees execute junior role responsibilities.\n- **leadership_challenges:** For `founder`, include no safety net, irregular income, and doing every job at once. For `freelance_fractional`, include client acquisition without references and income gaps. For `employee`, the starting-out challenges described above.\n- **career_progression:** For `founder`, progression is making the business survive, then grow or exit. For `freelance_fractional`, progression is better rates, repeat clients, or converting to employment. For `employee`, typical next titles from this junior role.\n\nThe `path_type_notes` field already contains candidate-specific honest framing: preserve it verbatim and let the structured fields above complement it.\n\n---\n\n## OUTPUT STRUCTURE (copy keys exactly):\n\n{\n  \"career_title\": \"\",\n  \"company_size_type\": \"\",\n  \"alternate_titles\": [],\n  \"overview\": \"\",\n  \"technical_skills\": [],\n  \"soft_skills\": [],\n  \"personality_traits\": \"\",\n  \"physical_setting\": \"\",\n  \"work_schedule\": \"\",\n  \"client_interaction\": \"\",\n  \"colleague_interaction\": \"\",\n  \"autonomy_vs_collaboration\": \"\",\n  \"pace_of_work\": \"\",\n  \"core_values\": [],\n  \"motivational_factors\": [],\n  \"typical_tasks\": [],\n  \"leadership_challenges\": [],\n  \"education_requirements\": \"\",\n  \"certifications_requirements\": \"\",\n  \"salary\": {\n    \"region\": \"\",\n    \"range\": \"\"\n  },\n  \"career_progression\": [],\n  \"ai_impact_rating\": {\n    \"rating\": \"\",\n    \"explanation\": \"\"\n  },\n  \"path_type\": \"\",\n  \"path_type_notes\": \"\"\n}\n\n---\n\n# EXAMPLE [for tone, type of content, and length consistency]:\n\n```json\n{\n  \"career_title\": \"Sales Development Representative\",\n  \"company_size_type\": \"Medium (51-200) / Scale-up\",\n  \"alternate_titles\": [\n    \"SDR\",\n    \"Business Development Representative\",\n    \"Junior Sales Representative\"\n  ],\n  \"overview\": \"Entry-level sales role focused on finding and qualifying potential customers before handing them to senior colleagues who close the deal. One of the most accessible ways into tech and B2B companies without a specific degree, and a fast teacher of communication, resilience, and how businesses actually buy.\",\n  \"technical_skills\": [\n    \"CRM basics (HubSpot or Salesforce) for logging and tracking outreach\",\n    \"Prospect research using LinkedIn and AI research tools\",\n    \"Writing short, clear outreach messages and follow-ups\"\n  ],\n  \"soft_skills\": [\n    \"Handling rejection without taking it personally\",\n    \"Listening for what a prospect actually needs\",\n    \"Consistent self-organization across dozens of open conversations\"\n  ],\n  \"personality_traits\": \"Energetic, curious, and resilient. Comfortable talking to strangers, competitive enough to chase targets, and organized enough to follow up on time, every time.\",\n  \"physical_setting\": \"Office-based or hybrid at most scale-ups; expect a lively sales floor with headsets and dashboards rather than a quiet room.\",\n  \"work_schedule\": \"Standard weekday hours with clear daily and monthly targets. Quarter-end pushes get intense; evenings stay mostly your own.\",\n  \"client_interaction\": \"Very high - daily calls, emails, and LinkedIn messages with prospects who did not ask to hear from you.\",\n  \"colleague_interaction\": \"High - tight loop with fellow SDRs and the senior salespeople you hand leads to; most teams train and celebrate together.\",\n  \"autonomy_vs_collaboration\": \"You own your own pipeline and daily numbers, inside a team structure with playbooks, scripts, and coaching.\",\n  \"pace_of_work\": \"Fast and target-driven. Activity is measured weekly, and the scoreboard is public.\",\n  \"core_values\": [\n    \"Persistence over talent\",\n    \"Honest communication with prospects\",\n    \"Learning from every no\"\n  ],\n  \"motivational_factors\": [\n    \"Visible progression: SDR to Account Executive is a well-trodden 1-2 year path\",\n    \"Commission on top of base salary from day one\",\n    \"Skills (selling, listening, resilience) that transfer to almost any career\"\n  ],\n  \"typical_tasks\": [\n    \"Research and build lists of potential customers using AI tools and LinkedIn\",\n    \"Run outreach sequences: calls, emails, and social touches, logged in the CRM\",\n    \"Qualify interested prospects and book meetings for Account Executives\"\n  ],\n  \"leadership_challenges\": [\n    \"Hearing no dozens of times a week takes real resilience at the start.\",\n    \"Targets are public, so slow months are visible to everyone.\",\n    \"AI now handles much of the list-building and first-draft outreach, so juniors must add value through genuine conversations, not volume.\"\n  ],\n  \"education_requirements\": \"No specific degree required; most companies hire on communication skills, drive, and coachability. A bachelor's helps at larger corporates but is often optional at startups and scale-ups.\",\n  \"certifications_requirements\": \"None required. Free HubSpot Academy or Salesforce Trailhead badges are a quick way to stand out [beneficial].\",\n  \"salary\": {\n    \"region\": \"Northern and Western Europe\",\n    \"range\": \"€28,000 - €38,000\"\n  },\n  \"career_progression\": [\n    \"Account Executive or Account Manager after 1-2 years of consistent performance\",\n    \"Customer Success, Partnerships, or Sales Operations as sideways moves that build on the same skills\"\n  ],\n  \"ai_impact_rating\": {\n    \"rating\": \"High\",\n    \"explanation\": \"AI now automates list-building and first-draft outreach, so companies hire fewer SDRs and expect them to run AI tooling from day one while adding value through genuine human conversations.\"\n  },\n  \"path_type\": \"employee\",\n  \"path_type_notes\": \"Junior openings are plentiful and hire directly from school or first jobs; expect a role-play or mock call in the interview process.\"\n}\n```\n\n---\n\n# NOTES\n* Always enrich ALL careers provided in the batch (1-5).\n* Use input for `career_title`, `company_size_type`, `salary`, `ai_impact_rating`, `path_type`, and `path_type_notes` verbatim.\n* Match tone, style, and level of detail exactly to the EXAMPLE.\n* Ensure JSON validity and consistency across all items.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        3648
      ],
      "id": "d3d58085-ce8a-4239-b3be-5d72febfd53a",
      "name": "enrich prompt1"
    },
    {
      "parameters": {
        "jsCode": "function cleanText(str) {\n  return str\n    .replace(/```(?:json)?/g, \"\")\n    .replace(/```/g, \"\")\n    .trim();\n}\n\nfunction safeParse(str) {\n  try {\n    return JSON.parse(str);\n  } catch {\n    return null;\n  }\n}\n\nfunction normalize(data) {\n  if (!data) return [];\n\n  if (Array.isArray(data)) return data;\n  if (typeof data === \"object\") return [data];\n\n  if (typeof data === \"string\") {\n    const cleaned = cleanText(data);\n\n    if (cleaned.startsWith(\"[\") && cleaned.endsWith(\"]\")) {\n      try { return JSON.parse(cleaned); } catch {}\n    }\n\n    const matches = cleaned.match(/\\{[\\s\\S]*?\\}(?=\\s*\\{|\\s*$)/g);\n    if (matches) {\n      const parsed = matches.map(m => safeParse(m)).filter(Boolean);\n      if (parsed.length > 0) return parsed;\n    }\n\n    const obj = safeParse(cleaned);\n    if (obj) return [obj];\n  }\n\n  return [];\n}\n\nfunction enforceMinimums(obj) {\n  const rules = {\n    technical_skills: 3,\n    soft_skills: 3,\n    core_values: 3,\n    motivational_factors: 3,\n    typical_tasks: 4,\n  };\n\n  for (const [field, minCount] of Object.entries(rules)) {\n    if (!Array.isArray(obj[field])) obj[field] = [];\n    while (obj[field].length < minCount) {\n      obj[field].push(\"N/A\");\n    }\n  }\n\n  return obj;\n}\n\nfunction sanitize(obj) {\n  if (Array.isArray(obj)) {\n    return obj.map(sanitize);\n  } else if (obj !== null && typeof obj === \"object\") {\n    const clean = {};\n    for (const [k, v] of Object.entries(obj)) {\n      clean[k] = v === undefined ? null : sanitize(v);\n    }\n    return clean;\n  }\n  return obj;\n}\n\n\n// 🔹 MAIN EXECUTION\nconst allInputs = $input.all();\nlet allItems = [];\n\nconst schemaTemplate = {\n  career_title: \"N/A\",\n  company_size_type: \"N/A\",\n  overview: \"N/A\",\n  technical_skills: [],\n  soft_skills: [],\n  personality_traits: \"N/A\",\n  work_schedule: \"N/A\",\n  client_interaction: \"N/A\",\n  colleague_interaction: \"N/A\",\n  autonomy_vs_collaboration: \"N/A\",\n  pace_of_work: \"N/A\",\n  core_values: [],\n  motivational_factors: [],\n  typical_tasks: [],\n  education_requirements: \"N/A\",\n  certifications_requirements: \"N/A\",\n  career_progression: [],\n  ai_impact_rating: { rating: \"N/A\", explanation: \"N/A\" },\n  salary: { region: \"N/A\", range: \"N/A\" },\n  alternate_titles: [],\n  leadership_challenges: [],\n  path_type: \"N/A\",\n  path_type_notes: \"N/A\"\n};\n\nfor (const item of allInputs) {\n  // 1. Get the raw input (it's in the \"text\" field based on your snippet)\n  const rawData = item.json.text || item.json;\n  \n  // 2. Use your normalize function to parse the stringified JSON\n  const parsedItems = normalize(rawData);\n\n  // 3. Process each parsed career\n  if (Array.isArray(parsedItems)) {\n    const processedBatch = parsedItems.map(obj => {\n      const processed = enforceMinimums(sanitize(obj));\n      return { ...schemaTemplate, ...processed };\n    });\n    allItems.push(...processedBatch);\n  }\n}\n\n// Final check to prevent n8n error\nif (allItems.length === 0) {\n  return [{ json: { message: \"No items found in input\" } }];\n}\n\nreturn allItems.map(i => ({ json: i }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        3648
      ],
      "id": "f5d51632-b9c7-4ab5-a874-ed3e0ce61a4b",
      "name": "clean up JSON1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1155fd8a-d239-475d-b145-236ab08a1b9a",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        3648
      ],
      "id": "a90c6deb-71a2-495a-8b7c-c64cbf5a4473",
      "name": "complete confirmation1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        4000
      ],
      "id": "1d6da739-9b0c-47d6-8764-7bfc8ab2c3de",
      "name": "Merge1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Tit_co_RID_data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -208,
        3888
      ],
      "id": "6650ba39-e1bd-451c-886e-b4210893cb26",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "complete",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -208,
        3648
      ],
      "id": "7fe0fcde-c0bf-4b96-ad15-3b7d96132eb0",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16f11cfa-b6e4-48df-808f-ad0b125acfec",
              "name": "career_title",
              "value": "={{ $json.career_title }}",
              "type": "string"
            },
            {
              "id": "70e9b009-0daa-41fc-803f-3621a9f10b5f",
              "name": "company_size_type",
              "value": "={{ $json.company_size_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        3888
      ],
      "id": "c34e350c-a2d3-43ba-af9b-63da3537aca8",
      "name": "Tit_and_Co1"
    },
    {
      "parameters": {
        "jsCode": "// Extract region from init_summary without LLM call\n// Region is question 1d - a fixed dropdown value\nconst summary = $json.initial_summary || '';\n\nconst VALID_REGIONS = [\n  'Northern and Western Europe',\n  'Southern and Eastern Europe',\n  'United Kingdom (London)',\n  'United Kingdom (Other)',\n  'United States (High-Cost Regions)',\n  'United States (Average-Cost Regions)',\n  'United States (Lower-Cost Regions)',\n  'Canada',\n  'Australia and New Zealand',\n  'Switzerland'\n];\n\n// Try to find the region in the summary text\nlet region = 'Northern and Western Europe'; // safe default\n\nfor (const r of VALID_REGIONS) {\n  if (summary.includes(r)) {\n    region = r;\n    break;\n  }\n}\n\nreturn [{ json: { Region: region } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4032,
        3904
      ],
      "id": "74b2be61-76df-4c13-8e2c-83c550b8fcb7",
      "name": "Extract Region (code)"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1232,
        3776
      ],
      "id": "ea65fac3-5cdd-48ea-81be-af3132f33a9b",
      "name": "3FP Enrich1",
      "credentials": {
        "googlePalmApi": {
          "id": "Q653Teuy9nP6VLoE",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2800,
        4160
      ],
      "id": "c203f647-c9cd-4ea5-8e4f-404fb512ccc2",
      "name": "3FP Sal1",
      "credentials": {
        "googlePalmApi": {
          "id": "Q653Teuy9nP6VLoE",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "report_sections",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "report_id",
              "condition": "eq",
              "keyValue": "={{ $json['report id'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5344,
        3904
      ],
      "id": "161ab655-e31d-425f-bcce-56c890c424cc",
      "name": "SB extract profile1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "url": "https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/ai_research",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "is_active",
              "value": "eq.true"
            },
            {
              "name": "select",
              "value": "key_findings"
            },
            {
              "name": "order",
              "value": "published_date.desc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_9z25T-74o1sWwvrPFDMnxw_lAn1AQBX"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_9z25T-74o1sWwvrPFDMnxw_lAn1AQBX"
            }
          ]
        },
        "options": {}
      },
      "id": "f7f64966-f845-417f-b0f7-059a0a72fc72",
      "name": "Fetch AI Research1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4032,
        3648
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -6384,
        3424
      ],
      "id": "1f7449f2-08db-4191-9d8b-6c7ac337de55",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "gGM2sOHB72WgN7UU",
          "name": "OpenRouter account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -3616,
        3808
      ],
      "id": "9e945bc3-0ebf-4200-bb6a-e9f408d89408",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "gGM2sOHB72WgN7UU",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cddfa179-e8ee-400a-a8fa-efe0c346b847",
              "name": "report id",
              "value": "={{ $json.body?.report_id || $json.report_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5728,
        4048
      ],
      "id": "0b2daf98-66df-4381-84f4-917cab045ee4",
      "name": "repID1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['suitable_15_prompt'] }}",
        "batching": {}
      },
      "id": "d8bfa80c-3256-4482-9669-dc6684ae1b16",
      "name": "suitable_15",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -4384,
        3648
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.5",
          "mode": "list",
          "cachedResultName": "gpt-5.5"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -4384,
        3808
      ],
      "id": "3a1ce19b-c2b2-49ab-bcd1-9390012022f7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HrtWXSGh6yZj0fJ0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json).filter(r => r && r.report_id);\nif (rows.length === 0) {\n  throw new Error(`No report_sections found for report_id ${$('repID1').first().json['report id']} — WF1S profile insert likely incomplete`);\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5136,
        3904
      ],
      "id": "df9ff13a-8410-481d-b3e2-b57cda2742bb",
      "name": "Check profile exists"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://falkoratlas.app.n8n.cloud/webhook/29acb9c8-bb0d-4eb3-8442-855e8f33f2f8",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "report_id",
              "value": "={{ $('repID1').first().json['report id'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        4016
      ],
      "id": "f97ac39e-3aa4-4c0e-b0f4-94b544b90253",
      "name": "Call WF3S webhook (Starter scoring)"
    }
  ],
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Set AI Impact Prompt1": {
      "main": [
        [
          {
            "node": "ai_impact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Suitable 15 Prompt1": {
      "main": [
        [
          {
            "node": "suitable_15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salary Range1": {
      "main": [
        [
          {
            "node": "15TitSizAISal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine rep and profile1": {
      "main": [
        [
          {
            "node": "Extract Region (code)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Suitable 15 Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai_impact1": {
      "main": [
        [
          {
            "node": "AI_region1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_region1": {
      "main": [
        [
          {
            "node": "Salary Range1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert1": {
      "main": [
        [
          {
            "node": "complete confirmation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich B": {
      "main": [
        [
          {
            "node": "clean up JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15TitSizAISal1": {
      "main": [
        [
          {
            "node": "Tit_and_Co1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "combine to ": {
      "main": [
        [
          {
            "node": "Batcher1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batcher1": {
      "main": [
        [
          {
            "node": "enrich prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enrich prompt1": {
      "main": [
        [
          {
            "node": "Enrich B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean up JSON1": {
      "main": [
        [
          {
            "node": "Supabase Insert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "complete confirmation1": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Call WF3S webhook (Starter scoring)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tit_and_Co1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          },
          {
            "node": "combine to ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3FP Enrich1": {
      "ai_languageModel": [
        [
          {
            "node": "Enrich B",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "3FP Sal1": {
      "ai_languageModel": [
        [
          {
            "node": "Salary Range1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SB extract profile1": {
      "main": [
        [
          {
            "node": "Check profile exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AI Research1": {
      "main": [
        [
          {
            "node": "Set AI Impact Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "ai_impact1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "repID1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          },
          {
            "node": "SB extract profile1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "suitable_15": {
      "main": [
        [
          {
            "node": "Fetch AI Research1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Region (code)": {
      "main": [
        [
          {
            "node": "AI_region1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "suitable_15",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check profile exists": {
      "main": [
        [
          {
            "node": "Combine rep and profile1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Starter Webhook (from WF1S)": {
      "main": [
        [
          {
            "node": "repID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "FbsruPbuZI2Fgtc8"
  }
}