n8n_wfs_cairnly/WF4 - Career selection NL_EN_BACKUP_pre_futureskills_LIVE_20260629.json
{
  "updatedAt": "2026-06-19T11:58:33.689Z",
  "createdAt": "2026-05-30T21:51:11.250Z",
  "id": "seWmQPFQqIe60TkU",
  "name": "WF4 - Career selection NL/EN",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        624
      ],
      "id": "8272e7dc-ec6d-440f-867b-3b96e9e6b0b3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Prep top 3 data + build RPC body for Pull enriched T3\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst careers = trigger.top_3_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  top_3_careers: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        320
      ],
      "id": "3bc84633-d425-4df7-9fac-52d423e7f44f",
      "name": "Top 3 only"
    },
    {
      "parameters": {
        "url": "=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        320
      ],
      "id": "de520df6-8d37-4912-8336-e53fbc2f1be2",
      "name": "Pull enriched T3",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Function Node - Fast reordering for LLM consumption\n// No expensive formatting - LLMs handle mixed data formats well\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json.career_data || item.json;\n  \n  // Simple reordering - no array formatting or parsing\n  return {\n    json: {\n      // === PRIMARY INFORMATION ===\n      career_title: data.career_title,\n      overview: data.overview,\n      salary: data.salary,\n      company_size_type: data.company_size_type,\n      \n      // === CORE WORK DETAILS ===\n      typical_tasks: data.typical_tasks,\n      technical_skills: data.technical_skills,\n      soft_skills: data.soft_skills,\n      education_requirements: data.education_requirements,\n      \n      // === WORK ENVIRONMENT ===\n      work_schedule: data.work_schedule,\n      autonomy_vs_collaboration: data.autonomy_vs_collaboration,\n      client_interaction: data.client_interaction,\n      colleague_interaction: data.colleague_interaction,\n      \n      // === CAREER DEVELOPMENT ===\n      career_progression: data.career_progression,\n      motivational_factors: data.motivational_factors,\n      leadership_challenges: data.leadership_challenges,\n      \n      // === METADATA ===\n      id: data.id,\n      ai_impact_rating: data.ai_impact_rating,\n      created_at: data.created_at,\n      updated_at: data.updated_at\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        320
      ],
      "id": "198c1088-1574-4b85-9dbe-8e20ead8c045",
      "name": "t3 content order"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "top3_enriched_combined",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        320
      ],
      "id": "9e2da11f-1d0d-41ee-b952-cb4413c8f209",
      "name": "T3 enr. combined"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "top_3_careers_prompt_assignment",
              "name": "top_3_careers_prompt",
              "value": "=# Hyper-Personalized Top 3 Careers Generator\n\nYou are Cairnly, creating personalized career insights. Tone: business casual, direct, honest. Connect everything to their actual happiness data, constraints, and patterns.\n\n---\n\n## Output Structure (Each Career):\n\n# [career_title] 'e.g. Program Manager'\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n\n## Overview\n[ONE or TWO sentences, max 35 words. Plain-English definition of the role for someone who has never heard the title. No fit, no trade-offs, no tasks.]\n\n## Why this role fits you\n[80-120 words. Build the fit from these signals, in this order of priority:\n1. Top values [3a] and how this role expresses them\n2. Pattern analysis — REQUIRED. The narrative MUST contain the literal phrase \"extends your X/10 [role name]\" OR \"avoids the Y/10 [role name] pattern\" at least once, where X and Y are the actual happiness scores from the sentiment log. Soft references like \"you're returning to\" or \"similar to your past\" do NOT satisfy this rule.\n3. Why this specific company size/type fits their stated preferences [2a, 2g, 3d] or constraints [1n]\n4. Sentiment quote, ONLY if substantive enough to add color beyond what 1–3 already say\nKeep to 2–4 sentence paragraphs.]\n\n## What you'll actually do\n[3-4 bullets, 70-90 words total. Pure tasks from typical_tasks, framed through the user's lens. Do NOT re-describe what the role is — Overview already did that.]\n\nEVERY bullet MUST start with a short bolded label (2-5 words) followed by a period and then the framed explanation. No exceptions.\n\n- **[Short task label]:** [task framed through their experience/skills]\n- **[Short task label]:** [task connected to what energizes them]\n- **[Short task label]:** [task that uses their specific background]\n\nExample:\n- **Write game design docs.** This draws on your Figma skills and board game design background.\n- **Run playtesting sessions.** Your direct communication style extracts honest feedback, not polite non-answers.\n\n## The Reality Check\n[2-4 bullets, 80-110 words total. Vary the count per career. Do not default to 4.]\n\n⚠ **[Challenge specific to THIS career].** [1-2 sentences]\n\nEVERY bullet MUST start with a bolded label (3-7 words) after the ⚠ symbol, followed by the explanation. If you write `⚠ Client feedback will test you regularly.` you have violated this rule. Correct form: `⚠ **Client feedback loops test you.** [explanation]`. No exceptions.\n\nEvery bullet must surface a risk specific to this career and this person. Before writing each one, ask: \"Could this exact bullet be pasted onto a different career?\" If yes, sharpen it or cut it.\n\nRules:\n- Lead with the risk most unique to this career's market, role, or path. Not a generic personality trait.\n- You may use ONE personality or development gap per career, and only when it sharpens a career-specific risk. Do NOT reuse the same personality flag across careers. If \"difficulty receiving feedback\" anchored career 1, use a different angle for careers 2 and 3.\n- Do NOT mention money, income variability, or time-to-stable-income here. That lives only in \"The practical stuff > Money\". The Reality Check covers behavioral, market, and role risks, not the salary timeline. (Reskilling effort and a rough reskilling time horizon ARE allowed here — that is about learning, not salary.)\n- No false balance. If a career has only 2 real risks, write 2.\n- **Reskilling reality (required when there's a real skill/credential gap):** if the role needs skills or credentials the candidate lacks (judge against [1h], [1j], [1l]), ONE bullet MUST name the specific gap, the realistic route to close it (portfolio, course, certification, on-the-job), and a rough time horizon. Be concrete: not \"you have transferable skills\" but \"A and B are missing; the realistic path is C over ~N months.\" **Factor in the AI reality:** AI-assisted learning can meaningfully compress reskilling timelines, and some gaps matter less because every role is becoming AI-augmented in some way (a task AI increasingly handles is a smaller barrier to entry). Judge the gap against this new reality, not pre-AI assumptions, while staying honest that genuine gaps still take real effort.\n- **Age and career stage:** weigh the move against their age [1c] and where they are in their career. A long, from-scratch reskill reads differently at an established stage (time-to-payoff, opportunity cost). State this as honest planning context, never as a limit on capability.\n\nExamples (each tied to a specific market or role, not a generic trait):\n- ⚠ **Directory fatigue is real.** The AI tools space is flooded with low-quality directories. Differentiation needs consistent, opinionated takes, which makes your \"Creative Storytelling\" strength the moat, not a nice-to-have.\n- ⚠ **Finance oversight is unavoidable.** You avoid \"finance-related work\" but boards require P&L review. Based on Strategic Finance (5/10), this is tolerable but not energizing.\n- ⚠ **Business development never stops.** You close this month and still need next quarter's pipeline. Discovery calls and founder networking are the job, alongside delivery.\n\n**Special cases:**\n- **If path_type is `freelance_fractional` or `founder`:** one bullet MUST cover the client acquisition or business development load, framed as a behavioral and workload reality. Do NOT frame it as income timing. This rule keys off `path_type` only. A `company_size_type` containing \"Boutique\" or \"Own Company\" does NOT trigger it. A boutique EMPLOYEE has no BD load; a fractional consultant DOES, regardless of whether their clients are boutiques or enterprises.\n- **If HIGH burnout risk:** lead with the burnout warning and adjust the bottom line.\n- **If recreates low pattern:** address it in \"Why this role fits you\", not here.\n- **If the role is a hard pivot (large skill/credential gap or a new field):** the reskilling bullet above is mandatory, and the realism must be explicit and grounded — do not gloss it with \"this extends your pattern.\"\n\n## The practical stuff\n\n**Money:** [Salary range, or day rate / revenue model, in the region's currency.] [One sentence: does it hit their target bracket? For freelance_fractional or founder, this is also where income variability and realistic time-to-stable-income or build horizon belong.] Do not open with \"No salary data\". If there is no fixed salary, state the day-rate range or revenue model directly.\n\n**Schedule:** [Work schedule] [One sentence: work with constraints?]\n\n**Energy:** [Interaction level] [One sentence: match social energy?]\n\n**Growth:** [1 sentence on career_progression from enriched data. Where does this lead?]\n\n## How AI will impact this role\n[2-3 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n## Alignment with your ambitions\n[40-60 words. Connect this role to their STATED goals, not their happiness pattern. Name their short-term goal AND long-term ambition (from the candidate summary), then judge honestly whether this role is a stepping-stone toward them, the destination itself, or a detour away from the long-term goal. Use the trajectory_fit reasoning from the enriched data if present.\n\nHard rules:\n- Anchor on their stated short-term and long-term ambitions — NOT the sentiment/happiness scores.\n- Do NOT reuse the \"extends your X/10 [role]\" pattern phrasing here. That belongs ONLY in \"Why this role fits you.\" Repeating it here is a violation.\n- Always name the honest catch relative to their LONG-TERM ambition: is this the finish line, or a bridge to it?\n- Factor their age and career stage [1c] into the honest read: a multi-year reskill or from-scratch pivot changes the calculus at an established stage (time, opportunity cost). Keep it realistic and respectful — about trade-offs and timing, not capability.]\n\nExample: \"This serves your short-term goal of building AI and product skills in a real setting. But your long-term ambition is full autonomy and your own company, so treat this as a 2-3 year platform, not the finish line.\"\n\n\n## Comparison Data\n\nAs the LAST thing in each career (after the \"More details...\" line, before the career split), output one fenced ```json code block. The platform reads this to render a visual comparison and a written explanation — it is never shown to the candidate as raw text. Always include it.\n\n### fit_scores — every career\n\nRate THIS career from 1 to 5 on each axis. The score is FIT FOR THIS CANDIDATE — 5 = excellent fit, 1 = poor fit — judged against their Initial Summary (values, constraints, energy, work preferences, sentiment log):\n\n- **autonomy** — does the role's independence match their need for autonomy?\n- **social** — does the people and interaction load sit within their social energy? (5 = comfortably within their limit, 1 = will drain them)\n- **pace** — does the pace and pressure match their stress tolerance? (5 = comfortable, 1 = high-pressure mismatch)\n- **stability** — does the income and path stability match their security needs and stated constraints?\n- **schedule** — does the working schedule match their work-life-balance needs?\n\nScore all three careers on ONE consistent scale — they are generated together, so a 4 on \"social\" must mean the same thing across all three.\n\n### comparison — career 2 and career 3 ONLY\n\nCareer 1 omits this entirely (the candidate has not seen the other careers yet). Career 2 compares to career 1. Career 3 compares to careers 1 and 2.\n\n- **headline** — one sentence naming the single biggest way THIS career differs from the earlier one(s). Direct, no hedging.\n- **explanation** — 120 to 170 words. Walk the candidate through how this career genuinely differs and what that means for them. Ground it in the axes where the fit scores differ most — those are the real differences. Shown when they ask to compare, so write it as a direct, helpful reply, same voice and Writing Rules as the rest of the output.\n- not bullet-heavy. Keep paragraphs short (2 to 4 sentences) with a blank line between them, so longer answers stay easy to read on screen.\n\n### move — every career\n\nRate how big a leap THIS career is for the candidate, AFTER accounting for AI (AI-assisted learning compresses reskilling timelines, and some gaps matter less as roles become AI-augmented). Judge against this reality, not pre-AI assumptions:\n- **Ready now** — their current skills and how they would present them already fit; little or no new learning, and no major repositioning needed.\n- **Reframe** — they have the skills, but the gap is positioning: repackaging their experience, CV, or how they tell their story for this role. No genuinely new skills to learn.\n- **Upskill** — a real but bridgeable skill gap; focused learning (course, certification, portfolio, or on-the-job) over months.\n- **Retrain** — a large skill or credential gap, or a new field; substantial reskilling.\n\n### Format\n\nCareer 1:\n```json\n{\"fit_scores\":{\"autonomy\":5,\"social\":5,\"pace\":5,\"stability\":2,\"schedule\":4},\"move\":\"Ready now\"}\n```\n\nCareer 2 and Career 3:\n```json\n{\"fit_scores\":{\"autonomy\":4,\"social\":2,\"pace\":2,\"stability\":4,\"schedule\":4},\"move\":\"Upskill\",\"comparison\":{\"headline\":\"One-sentence main difference.\",\"explanation\":\"Full 120-170 word explanation here.\"}}\n```\n\nOutput valid JSON only inside the block — no comments, no trailing commas. This block does not count toward the per-career word target.\n\n---CAREER_SPLIT---\n\n## Path Type Framing (Critical for honesty)\n\nEach enriched career has a `path_type` field: `employee`, `freelance_fractional`, or `founder`. Some legacy careers may have `null` or `\"N/A\"` — treat those as `employee`.\n\nThe path_type fundamentally shapes how the candidate must approach this career. Adjust framing accordingly:\n\n**employee** — applying for a role at someone else's company.\n- \"What you'll actually do\" describes role-defined responsibilities\n- \"The practical stuff → Schedule\" is the company's standard expectation\n- \"Alignment with your ambitions\" describes typical next titles or growth paths\n\n**freelance_fractional** — independent contractor, fractional exec, advisor, board member.\n- \"What you'll actually do\" includes pipeline, contracting, and self-marketing alongside delivery\n- \"The practical stuff → Money\" notes income variability and time-to-stable-income\n- \"The Reality Check\" must include a client acquisition or business development bullet, framed as a behavioral and workload reality. Do NOT put income variability here. That belongs in Money.\n\n**founder** — starting a company or solo practice with capital and time risk.\n- \"What you'll actually do\" includes selling, hiring, financing, and building product/service alongside doing the work\n- \"The practical stuff → Money\" must mention 1-3 year build horizon and validation period before stable income\n- \"The Reality Check\" must include capital risk and the \"validate before quitting\" reality, framed as a risk-tolerance and decision question. Keep the build-horizon timeline itself in Money, not here.\n- \"Alignment with your ambitions\" describes scaling, exiting, or evolving the model — not climbing a ladder\n\nUse the `path_type_notes` field from the enriched career as the source of truth for path-specific honesty (income horizons, validation requirements). Quote or paraphrase it where natural rather than inventing framing.\n\n## Writing Rules:\n\n**Tone:**\n- Direct: \"This gives you X\" not \"provides an opportunity\"\n- No hedging: \"You'll struggle with Y\" not \"might present challenges\"\n- Short paragraphs (2-4 sentences)\n- adhere to the would limit restrictions! 500-600 words total per career!\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Checkmarks ✓ and warning ⚠ symbols in bold!\n* if using bulletpoints, make the bullet lable bold for readability and emphasis \n\n**Avoid:**\n- Flattery: valuable, impressive, exceptional, unique, perfect\n- Corporate: serves you well, positions you, meaningful impact, leverage\n- Qualifiers: \"The fact that...\", \"It's worth noting...\"\n- Mixing currencies. Stick with the regions currency, consistently!\n- Em-dashes (—). NEVER use em-dashes in output. Use commas, periods, colons, parentheses, or sentence breaks instead. This applies to every section.\n\n**Required connections (every career):**\n- 1+ sentiment log [1k] reference, treated as supporting evidence — not the spine of the section\n- Quote the candidate's comment verbatim ONLY when it carries specific meaning (a phrase, a reason, an emotion). If the comment is generic or one word, paraphrase or skip the quote and lean on score + pattern instead.\n- Never quote a bare score in isolation. A score must always be paired with either (a) the candidate's comment, (b) an extend/recreate pattern, or (c) a constraint or value.\n- Top values [3a]\n- 1+ constraint [1n] or preference [2a, 2g, 3d]\n- 1 development gap from Personality Analysis\n- Pattern analysis (extend/recreate)\n- Compatibility score always in XX/100 e.g. 92/100 format!\n\n**Target: 500-600 words per career**\n\n---\n\n## Inputs:\n\n**CAI Score Analysis (incl compatibility score):**\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.top_3_careers) }}\n\n**Top 3 Enriched Careers:**\n{{ JSON.stringify($json.top3_enriched_combined) }}\n\n**Initial Summary:**\n{{ $('When Executed by Another Workflow').first().json.init_summary_content }}\n\n\n---\n\nGenerate all 3 careers now. Use \"---CAREER_SPLIT---\" between (not before first or after last).\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write all PROSE in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up).\nKeep these EXACTLY as specified (English / structured) so downstream parsing keeps working:\n- the ---CAREER_SPLIT--- delimiter between careers\n- the \"# \" career-title line, the \"**Alternative titles:** ... | **At:** ...\" line, and \"**Compatibility score: NN/100**\"\n- any final ```json``` comparison block (keys and values stay exactly as specified)\nUse Markdown \"## \" for each subheader; the subheader TEXT itself in Dutch. Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        320
      ],
      "id": "0543a3cd-fd28-4929-ba2b-9bdaa39368fd",
      "name": "T3 Careers Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.top_3_careers_prompt }}",
        "batching": {}
      },
      "id": "2cd75cb0-f79a-4b43-b9b4-f4bbb0a69abe",
      "name": "Top 3 Careers Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1120,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the input text\nconst fullText = $json.text;\n// Get report_id from trigger\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\nconst __lr = $('Get Report Language').first().json; const __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\n\n\n// Subheaders to convert to h5 tags (must match ACTUAL AI output headers)\nconst CAREER_SUBHEADERS = [\n  \"Overview\",\n  \"Why this role fits you\",\n  \"What you'll actually do\",\n  \"The Reality Check\",\n  \"The practical stuff\",\n  \"How AI will impact this role\",\n  \"Alignment with your ambitions\"\n];\n\n// Pull the machine-readable comparison JSON out of a career chunk.\n// The model appends it as a fenced ```json block, last thing in the career.\n// Returns { metadata, cleanedText }. On ANY failure metadata is null, so a\n// missing or malformed block degrades gracefully and never breaks the report.\nfunction extractMetadata(careerText) {\n  let raw = null;\n  let matchedBlock = null;\n\n  // Preferred: a fenced code block (```json ... ``` or ``` ... ```).\n  // Take the LAST one — the comparison block is the last thing in the career.\n  const fenceRegex = /```(?:json)?\\s*([\\s\\S]*?)```/gi;\n  let m;\n  while ((m = fenceRegex.exec(careerText)) !== null) {\n    raw = m[1];\n    matchedBlock = m[0];\n  }\n\n  // Fallback: a bare { ... } span (model dropped the fence).\n  if (raw === null) {\n    const bm = careerText.match(/\\{[\\s\\S]*\\}/);\n    if (bm) {\n      raw = bm[0];\n      matchedBlock = bm[0];\n    }\n  }\n\n  if (raw === null) {\n    return { metadata: null, cleanedText: careerText };\n  }\n\n  let metadata = null;\n  try {\n    metadata = JSON.parse(raw.trim());\n  } catch (e) {\n    metadata = null;\n  }\n\n  const cleanedText = careerText.replace(matchedBlock, '').trim();\n  return { metadata, cleanedText };\n}\n\n// Function to convert subheaders to h5 tags\nfunction formatSubheaders(content) {\n  let formatted = content;\n\n  // Convert ## headers to h5 tags\n  formatted = formatted.replace(/^## (.+)$/gm, '<h5>$1</h5>');\n\n  // Also convert bold-only subheaders from the predefined list\n  CAREER_SUBHEADERS.forEach(subheader => {\n    const regex = new RegExp(`(^|\\\\n)\\\\*\\\\*${subheader}\\\\*\\\\*:?\\\\s*`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n\n  // Clean up any leftover markdown bold markers\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '$1');\n\n  return formatted.trim();\n}\n\n// Function to extract career metadata and clean content\nfunction parseCareer(careerText) {\n  const lines = careerText.trim().split('\\n');\n  let title = '';\n  let alternateTitles = '';\n  let companySizeType = '';\n  let score = null;\n  let contentStartIndex = 0;\n\n  // Parse first few lines for metadata\n  for (let i = 0; i < Math.min(15, lines.length); i++) {\n    const line = lines[i].trim();\n\n    // Extract title - ONLY single # (career title), not ## (subheaders)\n    if (line.match(/^# [^#]/) ) {\n      title = line.replace(/^# /, '').trim();\n      contentStartIndex = i + 1;\n    } else if (line.match(/^-?\\s*Title:/i)) {\n      title = line.replace(/^-?\\s*Title:\\s*/i, '').trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n\n    // Extract alternate titles\n    if (line.match(/^\\*\\*Alternative titles:\\*\\*/i) || line.match(/^-?\\s*\\*?Alternate titles:/i)) {\n      const altMatch = line.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n      if (altMatch) {\n        alternateTitles = altMatch[1].trim();\n        companySizeType = altMatch[2].trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      } else {\n        alternateTitles = line\n          .replace(/^-?\\s*\\*?\\*?Alternative titles:\\*?\\*?\\s*/i, '')\n          .replace(/^-?\\s*\\*?Alternate titles:\\*?\\s*/i, '')\n          .replace(/\\*/g, '')\n          .trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      }\n    }\n\n    // Extract company size - standalone \"At:\" line\n    if (line.match(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i) && !line.match(/Alternative titles/i)) {\n      companySizeType = line\n        .replace(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i, '')\n        .replace(/\\*\\*/g, '')\n        .trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n\n    // Extract compatibility score\n    const scoreMatch = line.match(/\\*?\\*?Compatibility score:\\s*(\\d+)\\/100\\*?\\*?/i);\n    if (scoreMatch) {\n      score = parseInt(scoreMatch[1], 10);\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n  }\n\n  // Skip empty lines after metadata\n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n\n  // Get remaining content and format subheaders\n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatSubheaders(rawContent);\n\n  return {\n    title: `<h3><strong>${title || 'Career Option'}</strong></h3>`,\n    alternate_titles: alternateTitles ? `<strong>Alternate titles:</strong> ${alternateTitles}` : '',\n    company_size_type: companySizeType ? `<h4><strong>${companySizeType}</strong></h4>` : '',\n    content: formattedContent,\n    score: score\n  };\n}\n\n// Split by separator\nconst splitCareers = fullText.split('---CAREER_SPLIT---');\n\n// Validate we have 3 parts\nif (splitCareers.length !== 3) {\n  throw new Error(`Expected 3 careers but found ${splitCareers.length}`);\n}\n\n// Pull the comparison JSON out of each chunk BEFORE parsing the prose,\n// so the raw JSON never lands in the rendered content.\nconst meta1 = extractMetadata(splitCareers[0]);\nconst meta2 = extractMetadata(splitCareers[1]);\nconst meta3 = extractMetadata(splitCareers[2]);\n\n// Parse each career from the cleaned (JSON-stripped) text\nconst career1 = parseCareer(meta1.cleanedText);\nconst career2 = parseCareer(meta2.cleanedText);\nconst career3 = parseCareer(meta3.cleanedText);\n\n// Map to structured output with all required fields.\n// `metadata` is picked up automatically by the autoMap Supabase insert.\nreturn [\n  {\n    json: {\n      title: career1.title,\n      alternate_titles: career1.alternate_titles,\n      company_size_type: career1.company_size_type,\n      content: career1.content,\n      score: career1.score,\n      metadata: meta1.metadata,\n      report_id: reportId,\n      section_type: \"top_career_1\",\n      order_number: 1,\n      language: __lang\n    }\n  },\n  {\n    json: {\n      title: career2.title,\n      alternate_titles: career2.alternate_titles,\n      company_size_type: career2.company_size_type,\n      content: career2.content,\n      score: career2.score,\n      metadata: meta2.metadata,\n      report_id: reportId,\n      section_type: \"top_career_2\",\n      order_number: 2,\n      language: __lang\n    }\n  },\n  {\n    json: {\n      title: career3.title,\n      alternate_titles: career3.alternate_titles,\n      company_size_type: career3.company_size_type,\n      content: career3.content,\n      score: career3.score,\n      metadata: meta3.metadata,\n      report_id: reportId,\n      section_type: \"top_career_3\",\n      order_number: 3,\n      language: __lang\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        320
      ],
      "id": "a8b60d92-97e1-4a7e-911d-3db2623f0198",
      "name": "Split Top3"
    },
    {
      "parameters": {
        "tableId": "report_sections",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1696,
        320
      ],
      "id": "31205f90-595b-4875-b31a-44c19192b642",
      "name": "Insert Top 3",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prep runner up data + build RPC body for Pull Runner up\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst careers = trigger.runner_up_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  runner_up: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        624
      ],
      "id": "122022e0-92c2-4f85-be97-e15f8041a485",
      "name": "4-10 only"
    },
    {
      "parameters": {
        "url": "=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        624
      ],
      "id": "40a9382b-63fa-4f84-ab79-bab144ade1e3",
      "name": "Pull Runner up",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all items into one item\nconst allItems = $input.all();\nconst allCareers = allItems.map(item => item.json);\n\nreturn [{ \n  json: { \n    allCareers: allCareers,\n    careerCount: allCareers.length \n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        624
      ],
      "id": "1f86ac80-2bd4-42a4-b864-0fcd33839202",
      "name": "Combine runners"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "runner_up_prompt_assignment",
              "name": "=runner_up_prompt",
              "value": "=# Runner-Up Careers Generator\n\nYou are Cairnly, presenting alternative career options beyond the top 3. These scored 55+ but didn't make the final cut. Be concise and help them understand what's appealing and what the trade-offs are.\n\n---\n\n## Output Structure (Each Career):\n\n# [Career Title]\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n## Overview\n\n[25-40 words. Plain-English description of what this role actually is and does day to day — written so a reader who has never heard the job title immediately understands it. Base it on the `overview` field in the enriched career data; rephrase for clarity and brevity, do not quote verbatim. Just what the role IS — no fit or trade-offs here.]\n\n## Why this role fits you\n\n[60-80 words MAX, 1-2 short paragraphs. Assume the reader now knows what the role is from the Overview — do not re-describe the job here.]\n- What's appealing about this role and why it suits their profile\n- Why it's not Top 3 (be specific about the gap)\n\n## What works for you\n\n[3 bullets, 50-60 words total]\n\n✓ **[Benefit].** [1 sentence tied to their data]\n\n## The Reality Check\n\n[3 bullets, 50-60 words total]\n\n⚠ **[Concern].** [1 sentence]\n\n## The practical stuff\n\n**Money:** [Range - estimate if not in data]\n\n**Schedule:** [Type]\n\n**Energy:** [Interaction level]\n\n## How AI will impact this role\n[1-2 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n**More details in your dashboard.**\n\n---CAREER_SPLIT---\n\n---\n\n## Path Type Framing\n\nEach career has a `path_type`: `employee`, `freelance_fractional`, or `founder`. Treat `null` or `\"N/A\"` as `employee`.\n\nIn the compact runner-up format:\n- For `freelance_fractional`: ensure one bullet in \"Reality Check\" addresses income variability or client acquisition\n- For `founder`: ensure one bullet in \"Reality Check\" addresses capital horizon and validation reality (use `path_type_notes` as source)\n- For `employee`: standard framing\n\nThe path_type already shapes the enriched data (typical_tasks, leadership_challenges, career_progression). Let those flow through naturally — no need to over-explain in the compact format.\n\n## Reskilling & Age Reality\n\nIf a runner-up needs skills or credentials the candidate lacks (judge against their experience and history), make ONE of the three Reality Check bullets the reskilling reality: name the gap and a rough time horizon (course, certification, portfolio, on-the-job). **Factor in the AI reality:** AI-assisted learning can compress reskilling timelines, and some gaps matter less because every role is becoming AI-augmented in some way, so judge the gap against this new reality, not pre-AI assumptions, while staying honest that real gaps still take real effort. Weigh a long or from-scratch reskill against their age and career stage [1c] as honest planning context (time-to-payoff, opportunity cost), never as a limit on capability. Keep it within the 50-60 word Reality Check budget; do not add a fourth bullet.\n\n## Move rating (hidden)\n\nClassify how big a leap this role is for the candidate, AI-adjusted (AI compresses reskilling; some gaps matter less as roles become AI-augmented). Pick ONE:\n- Ready now: skills and how they would present them already fit; little or no new learning.\n- Reframe: they have the skills; the gap is positioning (CV, story), not new skills.\n- Upskill: a real but bridgeable skill gap (course, certification, portfolio, on-the-job).\n- Retrain: a large skill or credential gap, or a new field.\nAt the very end of each career (after \"More details in your dashboard.\", before ---CAREER_SPLIT---), output it on its own line as an HTML comment exactly like <!--move:Upskill--> with the chosen level. Never show the rating any other way.\n\n## Critical Rules:\n\n**LENGTH LIMITS (STRICT):**\n- \"Why this role fits you\": 60-80 words MAX\n- \"What works for you\": 50-60 words (3 short bullets)\n- \"The Reality Check\": 50-60 words (3 short bullets)\n- \"The practical stuff\": 30-40 words\n- \"How AI will impact this role\": 15-20 words\n- **Total per career: 200-250 words MAXIMUM**\n\nIf running long, cut adjectives. Be terse.\n\n**MISSING DATA:**\n- If salary missing: provide estimate with \"(estimated)\"\n- If AI impact missing: assess based on role type\n- Never write \"not specified\" or \"data not available\"\n\n**TONE:**\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Shorter than Top 3 (these are backups)\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n\n**PERSONAL CONNECTIONS:**\n- Reference sentiment log if relevant\n- Cite constraints or values\n- Note why not Top 3 specifically\n- Across the runner-up careers, do not lean on the same personality gap or constraint as the lead concern each time. Vary which gap each Reality Check draws on.\n\n**FORMAT:**\n- Use exact headers shown above\n- Compatibility score always in XX/100 e.g. 92/100 format!\n- Use ✓ for benefits, ⚠ for concerns, make these bold\n* if using bulletpoints, make the bullet lable bold for readability and emphasis \n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Use ---CAREER_SPLIT--- between careers\n- Output plain markdown (not JSON)\n\n---\n\n## Examples:\n\n**Good \"Why this role fits you\" (70 words):**\n\"This extends your 9/10 advisory pattern into facilitation work - expertise delivered in bursts, then solo planning time. But it didn't make Top 3 because building a practice requires the sales work you avoid. Project-based income creates uncertainty you can't afford with young children.\"\n\n**Good bullet (15-20 words):**\n✓ **Matches your energy pattern.** Intense 2-3 day sessions followed by solo recovery time.\n\n⚠ **Sales is unavoidable.** Building clients requires networking you historically avoid.\n\n---\n\n## Inputs:\n\n**Runner-Up Careers (with compatibility_scores and patterns):**\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.runner_up_careers) }}\n\n**Enriched Career Data:**\n{{ JSON.stringify($json.allCareers) }}\n\n**Initial Summary (sentiment log [1k], constraints [1n], values [3a]):**\n{{ $('When Executed by Another Workflow').first().json.init_summary_content }}\n\n---\n\nGenerate all runner-up analyses. Use ---CAREER_SPLIT--- between careers (not before first or after last). Output markdown only.\n\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write all PROSE in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up).\nKeep these EXACTLY as specified (English / structured) so downstream parsing keeps working:\n- the ---CAREER_SPLIT--- delimiter between careers\n- the \"# \" career-title line, the \"**Alternative titles:** ... | **At:** ...\" line, and \"**Compatibility score: NN/100**\"\n- any final ```json``` comparison block (keys and values stay exactly as specified)\nUse Markdown \"## \" for each subheader; the subheader TEXT itself in Dutch. Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        624
      ],
      "id": "fd8e03ae-b234-411b-a637-377b6e5b661d",
      "name": "Set Runner Up Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.runner_up_prompt }}",
        "batching": {}
      },
      "id": "d92dfe34-c58e-4142-b4d4-c1ccc61dc9f8",
      "name": "Runner Up Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1120,
        624
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        384,
        1680
      ],
      "id": "0f811083-0b01-4779-9de1-331f668fe5b1",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "gGM2sOHB72WgN7UU",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Runner-Up Careers (Markdown format with CAREER_SPLIT delimiter)\nconst input = $input.first().json.text;\n\n// Get report_id from the same node that Split Top3 uses\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\nconst __lr = $('Get Report Language').first().json; const __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\n\n\n// Split by the delimiter\nconst careerBlocks = input.split('---CAREER_SPLIT---').map(block => block.trim()).filter(Boolean);\n\nconst results = careerBlocks.map((block, index) => {\n  // Extract career title (first # heading, not ## subheaders)\n  const titleMatch = block.match(/^# ([^#].+)$/m);\n  const career_title = titleMatch ? titleMatch[1].trim() : `Career ${index + 1}`;\n\n  // Extract alternative titles and company size\n  const altTitlesMatch = block.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n  const alternate_titles = altTitlesMatch ? altTitlesMatch[1].trim() : '';\n  const company_size_type = altTitlesMatch ? altTitlesMatch[2].trim() : '';\n\n  // Extract compatibility score\n  const scoreMatch = block.match(/\\*\\*Compatibility score: (\\d+)\\/100\\*\\*/);\n  const score = scoreMatch ? parseInt(scoreMatch[1], 10) : null;\n\n  const moveMatch = block.match(/<!--move:(.*?)-->/i);\n  const move = moveMatch ? moveMatch[1].trim() : null;\n\n  // Build content language-agnostically: from the first \"## \" subheader\n  // onward, drop any trailing \"**More details\" footer, and convert every\n  // \"## X\" header to <h5>X</h5>. Works for English and Dutch headers alike.\n  let __body = block;\n  const __fh = __body.search(/^##\\s+/m);\n  if (__fh >= 0) __body = __body.slice(__fh);\n  __body = __body.split(/\\n\\*\\*More details/)[0];\n  const sections = __body.replace(/^##\\s+(.+?)\\s*$/gm, '<h5>$1</h5>').replace(/<!--move:.*?-->/gi, '').trim();\n\n  // Return one item per career (matches report_sections table structure)\n  return {\n    json: {\n      title: `<h3><strong>${career_title}</strong></h3>`,\n      alternate_titles: alternate_titles ? `<strong>Alternate titles:</strong> ${alternate_titles}` : '',\n      company_size_type: company_size_type ? `<h4><strong>${company_size_type}</strong></h4>` : '',\n      content: sections,\n      score: score,\n      report_id: reportId,\n      metadata: move ? { move } : null,\n      section_type: \"runner_ups\",\n      order_number: index + 1,\n      language: __lang\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        624
      ],
      "id": "6e8e1b2c-b238-4d16-b0e8-f3a3451929a6",
      "name": "Parse runner up"
    },
    {
      "parameters": {
        "tableId": "report_sections",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1696,
        624
      ],
      "id": "1f954c89-a292-4c95-b619-07bffec45458",
      "name": "Insert Runner Ups",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Dream Job Feasibility prompt\nconst trigger = $('When Executed by Another Workflow').first().json;\nreturn [{\n  json: {\n    'Top 3 careers': trigger.top_3_careers_str,\n    'Runner up careers': trigger.runner_up_careers_str,\n    'Outside box careers': trigger.outside_box_careers_str\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        928
      ],
      "id": "967c19be-18a5-47c8-9b3f-5e3381045b30",
      "name": "Dream prep"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\nYou are an expert career strategist specializing in \"The Bridge Pivot\"—evaluating the feasibility of unconventional dream jobs for professionals while maintaining their professional seniority and financial viability.\n\n# TASK\nAnalyze the feasibility of the candidate's Dream Job(s) as listed in the \"Career Goals & Aspirations\" section of Input 1. Analyze at most the first 3 dream jobs the candidate listed; if more are present, focus on the 3 most prominent. You must provide a balanced analysis that respects the dream while being intellectually honest about the \"Executive Reality.\"\n\n## ANALYSIS DIMENSIONS\n1. **Personality Suitability:** Does the dream job align with their 4-point scales (2a, 2g, 5f) and social energy profile?\n2. **The \"Executive Pivot\" Suggestion:** Instead of just analyzing the entry-level dream, suggest how they could leverage their 14+ years of experience within that field (e.g., instead of just \"Yoga Instructor,\" suggest \"Founder of a Boutique Wellness Studio Chain\").\n3. **Regional & Future Context:** Specifically consider the 2026 economic landscape of Northern and Western Europe (e.g., Netherlands, Germany, Scandinavia) including AI's impact and regional salary trends.\n4. **Path Type Reality:** Identify whether the dream job (or its Executive Version) is realistically an employee role, independent practice (freelance/fractional), or a founder path. Each carries different realities — founder paths require capital and 1-3 year builds; freelance demands client acquisition; employee paths depend on hiring cycles. The \"Steps for Pursuing This Role\" section must reflect the real path type, not generic career steps.\n\n**TONE:**\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Active voice, second person. Use 'you' and occasionally their name to adress them!\n\n# CRITICAL FORMATTING REQUIREMENTS\n- If there are multiple dream jobs, separate each job analysis with: ---DREAM_JOB_SPLIT---\n- At the very end of each dream job (before ---DREAM_JOB_SPLIT---), output its Move rating (reskilling effort to pursue it, AI-adjusted) as a hidden HTML comment exactly like <!--move:Retrain--> with ONE of: Ready now (skills already fit), Reframe (gap is positioning not skills), Upskill (a real learning gap), Retrain (a large gap or a new field). Dream jobs are often Upskill or Retrain. Never show the rating any other way.\n- Start directly with the first job title using the ## header.\n- **Strictly DO NOT use the em dash (—)** in your narrative. Use colons, commas, or parentheses instead.\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Keep bullets to a maximum of 3 per section for scannability.\n- No intro or outro: start with the first Title immediately.\n\n# OUTPUT FORMAT\n\n## [Dream Job Title]\n\n**Overview**\n[A conversational 2-sentence intro explaining why this dream resonates with their profile, written as if speaking directly to a peer.]\n\n**Feasibility Rating**\n**[Rating]**: [One-sentence \"Bottom Line\" reason for this rating.]\n\nThe rating must be exactly one of these five labels, copied verbatim, with the WHOLE rating in bold (including both words of a hyphenated range): **Low** | **Low - Moderate** | **Moderate** | **Moderate - High** | **High**. Follow it with a colon, a space, and the one-sentence reason.\nCorrect: **Low - Moderate**: Acting as a profession needs a long runway before stable income.\nWrong: \"**Low** - Moderate: ...\" (only half bold), or \"Low - Moderate: ...\" (not bold at all).\n\n**Personality & Energy Fit**\n- [Bullet 1: Alignment with Social Energy (2a) and Stress Response (2i)]\n- [Bullet 2: Alignment with Work Style (2g) and Deadline Approach (5f)]\n- [Bullet 3: Impact on burnout recovery vs. their natural \"Competence Trap\"]\n\n**The \"Executive Version\" Suggestion**\n- [Bullet 1: Suggest a specific role in this field that utilizes their current seniority (e.g. Director, Owner, Strategist)]\n- [Bullet 2: Explain how this version solves the \"Low Salary\" or \"Low Intellectual Stimulus\" risk of the base dream job]\n- [Bullet 3: Note if this executive version already appeared in their Top 15 or OTB lists for validation]\n\n**Industry Outlook & Regional Trends**\n- [Bullet 1: 2026 salary expectations in Northern/Western Europe for this specific field]\n- [Bullet 2: AI Impact: Describe how AI is transforming or protecting this role (Human-centric vs. Automated)] - see below\n- [Bullet 3: Regional demand or barriers in Europe (e.g. certifications, linguistic needs, or market saturation)]\n\n**Steps for Pursuing This Role**\n- [Bullet 1: Immediate low-stakes action to \"test\" the dream job]\n- [Bullet 2: Critical certification or education required in the European market]\n- [Bullet 3: A \"Portfolio Career\" suggestion to bridge the financial gap during transition]\n\n*Heads-up: [Only include if the base dream job salary is significantly lower than their target range.]*\n\n---DREAM_JOB_SPLIT---\n\n\n# INPUTS\n1. Where to extract the dreamjob(s)\n{{ $('When Executed by Another Workflow').first().json.interests_history_text }}\n2. top 3 careers\n{{ $json['Top 3 careers'] }}\n3. runner up careers\n{{ $json['Runner up careers'] }}\n4. Out of box careers\n{{ $json['Outside box careers'] }}\n\n\n\n## AI impact rating scale\n\n[1-2 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write in Dutch: informal je-form, no em-dashes, Dutch formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up). Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical).\nKeep the ---DREAM_JOB_SPLIT--- delimiter exactly. Use these EXACT Dutch subheaders instead of the English ones:\n  Overview -> Overzicht\n  Feasibility Rating -> Haalbaarheidsscore\n  Personality & Energy Fit -> Aansluiting op persoonlijkheid en energie\n  The Executive Version Suggestion -> De executive-versie\n  Industry Outlook & Regional Trends -> Sectorvooruitzichten en regionale trends\n  Steps for Pursuing This Role -> Stappen om deze rol na te streven",
        "batching": {}
      },
      "id": "231cb4d5-638c-40a8-acbb-8c54c1cc51cd",
      "name": "Dream Job Feasibility",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1120,
        928
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        112,
        1680
      ],
      "id": "3cb7af92-065a-4b07-9360-e82a13b3f169",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "gGM2sOHB72WgN7UU",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get report_id from upstream node\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\n\n// Get the dream jobs text from the upstream node\nconst fullText = $json.text;\n\n// Subheaders to convert to h5 tags\nconst __lr = $('Get Report Language').first().json;\nconst __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\nconst DREAM_JOB_SUBHEADERS_ALL = {\n  en: [\"Overview\",\"Feasibility Rating\",\"Personality & Energy Fit\",\"The Executive Version Suggestion\",\"Industry Outlook & Regional Trends\",\"Steps for Pursuing This Role\"],\n  nl: [\"Overzicht\",\"Haalbaarheidsscore\",\"Aansluiting op persoonlijkheid en energie\",\"De executive-versie\",\"Sectorvooruitzichten en regionale trends\",\"Stappen om deze rol na te streven\"]\n};\nconst DREAM_JOB_SUBHEADERS = DREAM_JOB_SUBHEADERS_ALL[__lang];\n\nfunction formatDreamJobContent(content) {\n  let formatted = content;\n  \n  DREAM_JOB_SUBHEADERS.forEach(subheader => {\n    /**\n     * Updated Regex:\n     * 1. Looks for the subheader at the start of the string or after a newline\n     * 2. Allows for optional Markdown stars (**)\n     * 3. Allows for an optional colon (:)\n     * 4. Ensures it matches the whole line to avoid replacing the word mid-sentence\n     */\n    const regex = new RegExp(`(^|\\\\n)\\\\*?\\\\*?${subheader}\\\\*?\\\\*?:?\\\\s*(\\\\n|$)`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n  \n  // Convert markdown bold to <strong> — covers the feasibility rating,\n  // which the prompt now bolds in full.\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n  \n  return formatted.trim();\n}\n\nfunction parseDreamJob(content) {\n  const lines = content.trim().split('\\n');\n  let title = '';\n  let contentStartIndex = 0;\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    // Match ## Title or just \"Chief Product Officer\" if it's the very first line\n    if (line.match(/^##\\s*.+$/) || (i === 0 && line.length > 0)) {\n      title = line.replace(/^##\\s*/, '').trim();\n      contentStartIndex = i + 1;\n      break;\n    }\n  }\n  \n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n  \n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatDreamJobContent(rawContent);\n  \n  return {\n    title: title || 'Dream Job',\n    content: formattedContent\n  };\n}\n\nconst dreamJobSections = fullText.split('---DREAM_JOB_SPLIT---');\nconst cleanSections = dreamJobSections.filter(section => section.trim().length > 0);\n\nconst records = cleanSections.map((section, index) => {\n  const parsed = parseDreamJob(section);\n  const moveMatch = section.match(/<!--move:(.*?)-->/i);\n  const move = moveMatch ? moveMatch[1].trim() : null;\n  const content = parsed.content.replace(/<!--move:.*?-->/gi, '').trim();\n  \n  return {\n    json: {\n      section_type: \"dream_jobs\",\n      title: `<h3>${parsed.title}</h3>`,\n      content: content,\n      metadata: move ? { move } : null,\n      report_id: reportId,\n      order_number: index + 1,\n      language: __lang\n    }\n  };\n});\n\nreturn records;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        928
      ],
      "id": "04111827-9e37-4db8-a7cf-8e53003d4d90",
      "name": "Parse Dream"
    },
    {
      "parameters": {
        "tableId": "report_sections",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1696,
        928
      ],
      "id": "66e20bd2-df47-4eb3-865d-1fd266ff0482",
      "name": "Insert dream",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2272,
        608
      ],
      "id": "02dc6615-008d-446b-a999-e1357ac8bc97",
      "name": "Complete merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pcoyafgsirrznhmdaiji.functions.supabase.co/analysis-completed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= { \"report_id\": \"{{ $('When Executed by Another Workflow').first().json.report_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2496,
        624
      ],
      "id": "f2075da1-bebb-4ab5-a08e-9a5d5bf18cfb",
      "name": "HTTP Request",
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "aiABzg04zbeDSXRc",
          "name": "Supabase Edge Functions — Shared Secret"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1120,
        464
      ],
      "id": "1e239ace-b324-40cd-aecd-ad1ec2ba4a26",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "RhTKhZPWZ6gcGD13",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1120,
        784
      ],
      "id": "24281098-2118-4664-b89b-7a2ecd5ca9b8",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "RhTKhZPWZ6gcGD13",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1120,
        1072
      ],
      "id": "4f6a8057-64a9-4218-aed5-507716a6e05e",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "RhTKhZPWZ6gcGD13",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/report_sections?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=language&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        624
      ],
      "id": "16814ad9-c418-46eb-a48e-f5f93c96eb1b",
      "name": "Get Report Language",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Cairnly (n8n cred)"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Report Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 3 only": {
      "main": [
        [
          {
            "node": "Pull enriched T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull enriched T3": {
      "main": [
        [
          {
            "node": "t3 content order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "t3 content order": {
      "main": [
        [
          {
            "node": "T3 enr. combined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T3 enr. combined": {
      "main": [
        [
          {
            "node": "T3 Careers Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T3 Careers Prompt": {
      "main": [
        [
          {
            "node": "Top 3 Careers Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 3 Careers Generator": {
      "main": [
        [
          {
            "node": "Split Top3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Top3": {
      "main": [
        [
          {
            "node": "Insert Top 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Top 3": {
      "main": [
        [
          {
            "node": "Complete merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4-10 only": {
      "main": [
        [
          {
            "node": "Pull Runner up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Runner up": {
      "main": [
        [
          {
            "node": "Combine runners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine runners": {
      "main": [
        [
          {
            "node": "Set Runner Up Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Runner Up Prompt": {
      "main": [
        [
          {
            "node": "Runner Up Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Runner Up Analysis": {
      "main": [
        [
          {
            "node": "Parse runner up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        []
      ]
    },
    "Parse runner up": {
      "main": [
        [
          {
            "node": "Insert Runner Ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Runner Ups": {
      "main": [
        [
          {
            "node": "Complete merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Dream prep": {
      "main": [
        [
          {
            "node": "Dream Job Feasibility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dream Job Feasibility": {
      "main": [
        [
          {
            "node": "Parse Dream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Parse Dream": {
      "main": [
        [
          {
            "node": "Insert dream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert dream": {
      "main": [
        [
          {
            "node": "Complete merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Complete merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Top 3 Careers Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Runner Up Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Dream Job Feasibility",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Report Language": {
      "main": [
        [
          {
            "node": "Dream prep",
            "type": "main",
            "index": 0
          },
          {
            "node": "4-10 only",
            "type": "main",
            "index": 0
          },
          {
            "node": "Top 3 only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "FbsruPbuZI2Fgtc8",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "report_id": "deafd1a9-0579-40b8-a712-1f69b64efdca",
          "top_3_careers": [
            {
              "rank": 1,
              "career_title": "Serious Games Product Designer",
              "company_size_type": "Small (11-50) / Boutique",
              "compatibility_score": 91,
              "step1_objective_score": "60/64",
              "pattern_analysis": {
                "happiness_pattern_match": {
                  "score": "19/20",
                  "pattern": "extends 8/10 pattern",
                  "reasoning": "An incredible structural match. Douwe's highest-happiness roles were self-initiated creative projects: Mindgame (7/10, serious gaming, 'Very creative and fun') and The Boardroom (8/10, board game cafe). Designing gameplay loops, mechanics, and interactive systems in a small boutique agency allows him to replicate this highly engaging environment without corporate silos."
                },
                "strengths_application": {
                  "score": "14/14",
                  "reasoning": "Direct application of his unique competitive advantage. Douwe is a proven game designer (one board game under publisher review) and has highly recognized creative range (Lego Masters participant). He possesses outstanding domain expertise in translating abstract behavioral/cognitive goals into highly engaging, physical or digital gameplay loops."
                },
                "trajectory_fit": {
                  "score": "10/10",
                  "reasoning": "This role perfectly extends his positive career trajectory. It matches his stated dream of 'using AI to create new products such as games and interactive software' [4h] while honoring his hobbies [1m]. It shifts him entirely into the creative, high-autonomy space he has been seeking."
                }
              },
              "penalties": {
                "burnout_risk": {
                  "penalty": "-2",
                  "risk_level": "LOW",
                  "reasoning": "The boutique agency environment is intimate and flat. While playtest facilitation and team coordination are required, the shared passion of a small game design team avoids the slow feedback loops and political friction that exhausted him in corporate settings."
                },
                "development_conflicts": {
                  "penalty": "-3",
                  "reasoning": "The challenge of managing the tension between entertainment values and strict instructional goals requires clear communication. However, because this is his deep domain of expertise, his intrinsic motivation is extremely high, making self-regulation easy."
                }
              },
              "key_insights_applied": "Integrates his Lego Masters participation, board game design, and past serious gaming business (Mindgame) as proof of a massive creative edge that thrives under boutique agency conditions.",
              "key_strengths": "A spectacular fit that perfectly aligns his professional design history, entrepreneurial serious-gaming background, and successful creative hobbies.",
              "key_concerns": "Very minor. He will need to lead occasional collaborative client-facing meetings to translate training goals to corporate stakeholders, requiring diplomatic communication.",
              "justification": "A spectacular fit that perfectly aligns his professional design history, entrepreneurial serious-gaming background, and successful creative hobbies. Very minor. He will need to lead occasional collaborative client-facing meetings to translate training goals to corporate stakeholders, requiring diplomatic communication."
            },
            {
              "rank": 2,
              "career_title": "AI Learning Platform Founder",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 84,
              "step1_objective_score": "57/64",
              "pattern_analysis": {
                "happiness_pattern_match": {
                  "score": "20/20",
                  "pattern": "extends 8/10 pattern",
                  "reasoning": "A perfect structural match. This career mirrors his highest-happiness roles: The Vendables (8/10, 'how to optimalize a product that does not exist was great fun') and The Boardroom (8/10, 'setting up own business is great, creative'). Being a founder gives him complete control over both process and output, directly satisfying his desire to do 'something for myself with AI and serious gaming' [1n]."
                },
                "strengths_application": {
                  "score": "14/14",
                  "reasoning": "Flawless application of his unique competitive advantage: the rare intersection of design (Figma), AI fluency, and serious gaming/educational psychology. He can build, design, and automate prototypes independently, allowing him to quickly validate latent market demand."
                },
                "trajectory_fit": {
                  "score": "10/10",
                  "reasoning": "This perfectly extends his career trajectory. His values profile notes: 'What you are actually looking for is permission to take seriously the work that has always energized you most... autonomous, product-oriented.' This role leverages his 3-4 month runway to build a sustainable, high-growth venture on his own terms."
                }
              },
              "penalties": {
                "burnout_risk": {
                  "penalty": "-4",
                  "risk_level": "LOW",
                  "reasoning": "Although early-stage startup building is intense, Douwe’s history shows that his intrinsic motivation and absolute autonomy act as powerful shields against burnout (e.g., working long hours at The Boardroom was highly satisfying). He has complete control to design a quiet, focused execution model."
                },
                "development_conflicts": {
                  "penalty": "-6",
                  "reasoning": "His perfectionism and narrow feedback acceptance window represent key risks. If he struggles to delegate technical or business tasks, he may overload himself, causing execution quality to suffer. He must build a small, highly trusted, data-driven collaborative team."
                }
              },
              "key_insights_applied": "Directly applies the core insight that he needs to design his next move deliberately around his consistent values of creativity and absolute product autonomy, utilizing his 3-4 month runway to build instead of planning exhaustively.",
              "key_strengths": "Ultimate alignment with his values, interests, and demonstrated capabilities. Merges his AI coding interests, serious game design, and proven founder history.",
              "key_concerns": "Early-stage fundraising and financial runway management present moderate commercial pressure. He must manage his perfectionist tendencies to prevent self-imposed overload.",
              "justification": "Ultimate alignment with his values, interests, and demonstrated capabilities. Merges his AI coding interests, serious game design, and proven founder history. Early-stage fundraising and financial runway management present moderate commercial pressure. He must manage his perfectionist tendencies to prevent self-imposed overload."
            },
            {
              "rank": 3,
              "career_title": "Senior Product Designer",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 79,
              "step1_objective_score": "56/64",
              "pattern_analysis": {
                "happiness_pattern_match": {
                  "score": "16/20",
                  "pattern": "extends 8/10 pattern",
                  "reasoning": "Matches the 'hands on creative job... laptop work' dream profile Douwe described [4h]. It provides the creative and problem-solving space that made his entrepreneurial roles highly fulfilling (The Vendables 8/10, Mindgame 7/10). Designing high-fidelity interactive prototypes in Figma matches his top-rated self-directed activities."
                },
                "strengths_application": {
                  "score": "13/14",
                  "reasoning": "Direct application of his core specialized design knowledge (Figma, Illustrator) and his visual systems thinking. His ability to design products with no existing blueprint (e.g., Lego Masters participation, board game design) gives him a highly creative, execution-ready edge as a senior contributor."
                },
                "trajectory_fit": {
                  "score": "9/10",
                  "reasoning": "Perfect fit for his stated preferences. This moves him away from customer service and repetitive operations into craft-oriented strategy. It satisfies his need for autonomy over his direct output, allowing him to focus on quality craftsmanship."
                }
              },
              "penalties": {
                "burnout_risk": {
                  "penalty": "-4",
                  "risk_level": "LOW",
                  "reasoning": "Step 1 notes a low-severity social mismatch. While he must collaborate with PMs and engineers, a significant portion of his day is spent doing focused, solitary design execution in Figma, which honors his 'Somewhat Drained' energy profile."
                },
                "development_conflicts": {
                  "penalty": "-5",
                  "reasoning": "His perfectionism and tendency to overload himself rather than delegate (or hand off cleanly) could cause friction during high-intensity sprint cycles. He will need to manage defensiveness when his designs face technical or business constraints."
                }
              },
              "key_insights_applied": "Leverages the core insight that his creativity and introversion are not in conflict; he does his best work when given the quiet space to think deeply and craft beautiful solutions.",
              "key_strengths": "Directly taps into his top-tier design skills (Figma/Illustrator), allowing him to solve complex problems visually while protecting his quiet, focused work style.",
              "key_concerns": "He must actively manage his perfectionism during rapid development sprints and avoid getting defensive when engineers request design compromises.",
              "justification": "Directly taps into his top-tier design skills (Figma/Illustrator), allowing him to solve complex problems visually while protecting his quiet, focused work style. He must actively manage his perfectionism during rapid development sprints and avoid getting defensive when engineers request design compromises."
            }
          ],
          "runner_up_careers": [
            {
              "rank": 4,
              "career_title": "Micro-SaaS Founder",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 76,
              "key_strengths": "Unrivaled work schedule flexibility and complete output control. Highly aligned with his technical AI interests and visual prototyping skills.",
              "brief_justification": "Unrivaled work schedule flexibility and complete output control. Highly aligned with his technical AI interests and visual prototyping skills.",
              "happiness_pattern": "extends 8/10 pattern",
              "burnout_risk": "LOW"
            },
            {
              "rank": 5,
              "career_title": "Entrepreneur in Residence",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 66,
              "key_strengths": "Outstanding application of his serial entrepreneurial talent, conceptual product-market discovery, and strategic execution skills.",
              "brief_justification": "Outstanding application of his serial entrepreneurial talent, conceptual product-market discovery, and strategic execution skills.",
              "happiness_pattern": "neutral",
              "burnout_risk": "MODERATE"
            },
            {
              "rank": 6,
              "career_title": "AI Automation Specialist",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 65,
              "key_strengths": "Excellent application of his system-building instincts and interest in AI development. Allows for significant quiet, independent focused time.",
              "brief_justification": "Excellent application of his system-building instincts and interest in AI development. Allows for significant quiet, independent focused time.",
              "happiness_pattern": "extends 8/10 pattern",
              "burnout_risk": "LOW"
            }
          ],
          "all_ranked_careers": [
            {
              "rank": 1,
              "career_title": "Serious Games Product Designer",
              "company_size_type": "Small (11-50) / Boutique",
              "compatibility_score": 91,
              "happiness_pattern": "extends 8/10 pattern",
              "burnout_risk": "LOW",
              "key_strengths": "A spectacular fit that perfectly aligns his professional design history, entrepreneurial serious-gam"
            },
            {
              "rank": 2,
              "career_title": "AI Learning Platform Founder",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 84,
              "happiness_pattern": "extends 8/10 pattern",
              "burnout_risk": "LOW",
              "key_strengths": "Ultimate alignment with his values, interests, and demonstrated capabilities. Merges his AI coding i"
            },
            {
              "rank": 3,
              "career_title": "Senior Product Designer",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 79,
              "happiness_pattern": "extends 8/10 pattern",
              "burnout_risk": "LOW",
              "key_strengths": "Directly taps into his top-tier design skills (Figma/Illustrator), allowing him to solve complex pro"
            },
            {
              "rank": 4,
              "career_title": "Micro-SaaS Founder",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 76,
              "happiness_pattern": "extends 8/10 pattern",
              "burnout_risk": "LOW",
              "key_strengths": "Unrivaled work schedule flexibility and complete output control. Highly aligned with his technical A"
            },
            {
              "rank": 5,
              "career_title": "Entrepreneur in Residence",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 66,
              "happiness_pattern": "neutral",
              "burnout_risk": "MODERATE",
              "key_strengths": "Outstanding application of his serial entrepreneurial talent, conceptual product-market discovery, a"
            },
            {
              "rank": 6,
              "career_title": "AI Automation Specialist",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 65,
              "happiness_pattern": "extends 8/10 pattern",
              "burnout_risk": "LOW",
              "key_strengths": "Excellent application of his system-building instincts and interest in AI development. Allows for si"
            },
            {
              "rank": 7,
              "career_title": "Senior Learning Experience Designer",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 52,
              "happiness_pattern": "neutral",
              "burnout_risk": "MODERATE",
              "key_strengths": "Strong alignment with his interests in educational technology and system modeling. Uses his visual d"
            },
            {
              "rank": 8,
              "career_title": "Product Discovery Consultant",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 52,
              "happiness_pattern": "neutral",
              "burnout_risk": "MODERATE",
              "key_strengths": "Perfect application of his gap-spotting market instincts and rapid prototyping skills to validate pr"
            },
            {
              "rank": 9,
              "career_title": "AI Product Manager",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 47,
              "happiness_pattern": "neutral",
              "burnout_risk": "HIGH",
              "key_strengths": "Outstanding application of his product-focused, problem-driven mindset and his rare blend of AI flue"
            },
            {
              "rank": 10,
              "career_title": "AI Implementation Consultant",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 46,
              "happiness_pattern": "neutral",
              "burnout_risk": "MODERATE",
              "key_strengths": "Capitalizes on his forward-looking AI interest and his ability to see operational inefficiencies and"
            },
            {
              "rank": 11,
              "career_title": "Creative Technologist",
              "company_size_type": "Small (11-50) / Agency / Consultancy",
              "compatibility_score": 40,
              "happiness_pattern": "neutral",
              "burnout_risk": "HIGH",
              "key_strengths": "Matches his passionate builder profile and his ability to quickly experiment with frontier technolog"
            },
            {
              "rank": 12,
              "career_title": "Innovation Workshop Facilitator",
              "company_size_type": "Own Company / Boutique",
              "compatibility_score": 35,
              "happiness_pattern": "recreates 5-7/10 pattern",
              "burnout_risk": "HIGH",
              "key_strengths": "Uses his visual thinking and Design Sprint structural frameworks to help teams organize ideas concep"
            },
            {
              "rank": 13,
              "career_title": "Product Operations Manager",
              "company_size_type": "Medium (51-200) / Scale-up",
              "compatibility_score": 29,
              "happiness_pattern": "recreates 5-7/10 pattern",
              "burnout_risk": "HIGH",
              "key_strengths": "Leverages his natural capacity to spot systemic process inefficiencies and implement structural solu"
            },
            {
              "rank": 14,
              "career_title": "Technical Producer",
              "company_size_type": "Medium (51-200) / Agency / Consultancy",
              "compatibility_score": 21,
              "happiness_pattern": "recreates 5-7/10 pattern",
              "burnout_risk": "HIGH",
              "key_strengths": "Applies his strong logistical and project execution skills, ensuring complex timelines are managed e"
            },
            {
              "rank": 15,
              "career_title": "Service Designer",
              "company_size_type": "Large (201-1000) / Corporate",
              "compatibility_score": 15,
              "happiness_pattern": "recreates 5-7/10 pattern",
              "burnout_risk": "HIGH",
              "key_strengths": "Capitalizes on his natural capacity to spot structural inefficiencies and map operational workflows "
            },
            {
              "rank": 16,
              "career_title": "Implementation Program Manager",
              "company_size_type": "Large (201-1000) / Corporate",
              "compatibility_score": 7,
              "happiness_pattern": "recreates 5-7/10 pattern",
              "burnout_risk": "HIGH",
              "key_strengths": "Utilizes his strong organization and execution capabilities to deliver projects, but in a highly res"
            }
          ],
          "interests_history_text": "### Personal Context\n\nDouwe is a 38-year-old creative strategist currently in transition after leaving a role at Mews, an enterprise-sized hospitality tech company. With 18 years of professional experience, his recent journey has been defined by a clash between his entrepreneurial spirit and the constraints of corporate structures. He currently experiences low professional satisfaction, stemming from a lack of creative agency and the feeling that his feedback—centered on process improvement—was consistently overlooked.\n\n### Previous Careers\n\n1. Digital Onboarding Manager\n2. Owner and Initiator (Mindgame)\n3. Co-owner and Initiator (The Vendables)\n4. Co-owner and Initiator (The Boardroom)\n5. Assistant Manager (The Student Hotel)\n\n### Personal Interests & Strengths\n\nDouwe is a seasoned \"Visionary-Implementer\" who thrives when he can turn an abstract idea into a tangible product. His proudest accomplishments include founding the Netherlands' first fully automated gift shop, scaling profitable board game cafés, and successfully pitching original games to major companies. A true polymath, his hands-on creativity extends well beyond the office—ranging from building furniture and designing board games to competing on *Lego Masters* and completing high-endurance athletic events. His professional drive is fueled by a deep interest in AI, product innovation, and interactive design.\n\n### Career Goals & Aspirations\n\nDouwe is at a critical inflection point, utilizing a three-month runway to pivot toward a career that finally aligns with his desire for creative autonomy. His short-term goal is to leverage his technical proficiency in AI and design to build interactive software or learning platforms, while his long-term vision is to transition into a life of self-employment where he can balance \"behind-the-scenes\" creative production—such as film or entertainment—with high-tech entrepreneurial ventures. He remains an avid, self-directed learner, specifically targeting mastery in AI automation and innovative product development to bypass the stagnation of his past roles.\n\n### Career Constraints & Avoidances\n\nHaving navigated the pitfalls of repetitive corporate environments, Douwe has set firm boundaries. He is strictly avoiding industries rooted in hospitality, retail, sales, and high-pressure client-facing roles. His \"non-negotiables\" include a rejection of roles centered on finance, manual labor, or constant, mandatory collaboration. He is finished with \"conveyor belt\" work and is seeking to exit environments where his intellectual contributions are dismissed or where the work lacks clear, meaningful creative influence.\n\n### Compensation & Work Preferences\n\nDouwe values flexibility above all else; his ideal work arrangement allows for remote, laptop-based productivity that isn't tethered to a rigid desk-bound schedule. While he seeks a salary in the 75,000–100,000 range, he considers compensation to be of moderate importance compared to his need for work-life balance and creative agency. He views salary not as a primary driver, but as a baseline that should afford him the freedom to pursue his innovative projects without the interference of corporate micro-management.\n\n### Dream Jobs\n\nDouwe aspires to roles that allow him to be a \"creator\" rather than a \"service provider,\" specifically: a creative showrunner or documentary producer in the entertainment sector, or an AI-focused product founder who develops interactive, educational software.\n\n### Report ID\ndeafd1a9-0579-40b8-a712-1f69b64efdca",
          "top_3_careers_str": "[\n  {\n    \"rank\": 1,\n    \"career_title\": \"Serious Games Product Designer\",\n    \"company_size_type\": \"Small (11-50) / Boutique\",\n    \"compatibility_score\": 91,\n    \"step1_objective_score\": \"60/64\",\n    \"pattern_analysis\": {\n      \"happiness_pattern_match\": {\n        \"score\": \"19/20\",\n        \"pattern\": \"extends 8/10 pattern\",\n        \"reasoning\": \"An incredible structural match. Douwe's highest-happiness roles were self-initiated creative projects: Mindgame (7/10, serious gaming, 'Very creative and fun') and The Boardroom (8/10, board game cafe). Designing gameplay loops, mechanics, and interactive systems in a small boutique agency allows him to replicate this highly engaging environment without corporate silos.\"\n      },\n      \"strengths_application\": {\n        \"score\": \"14/14\",\n        \"reasoning\": \"Direct application of his unique competitive advantage. Douwe is a proven game designer (one board game under publisher review) and has highly recognized creative range (Lego Masters participant). He possesses outstanding domain expertise in translating abstract behavioral/cognitive goals into highly engaging, physical or digital gameplay loops.\"\n      },\n      \"trajectory_fit\": {\n        \"score\": \"10/10\",\n        \"reasoning\": \"This role perfectly extends his positive career trajectory. It matches his stated dream of 'using AI to create new products such as games and interactive software' [4h] while honoring his hobbies [1m]. It shifts him entirely into the creative, high-autonomy space he has been seeking.\"\n      }\n    },\n    \"penalties\": {\n      \"burnout_risk\": {\n        \"penalty\": \"-2\",\n        \"risk_level\": \"LOW\",\n        \"reasoning\": \"The boutique agency environment is intimate and flat. While playtest facilitation and team coordination are required, the shared passion of a small game design team avoids the slow feedback loops and political friction that exhausted him in corporate settings.\"\n      },\n      \"development_conflicts\": {\n        \"penalty\": \"-3\",\n        \"reasoning\": \"The challenge of managing the tension between entertainment values and strict instructional goals requires clear communication. However, because this is his deep domain of expertise, his intrinsic motivation is extremely high, making self-regulation easy.\"\n      }\n    },\n    \"key_insights_applied\": \"Integrates his Lego Masters participation, board game design, and past serious gaming business (Mindgame) as proof of a massive creative edge that thrives under boutique agency conditions.\",\n    \"key_strengths\": \"A spectacular fit that perfectly aligns his professional design history, entrepreneurial serious-gaming background, and successful creative hobbies.\",\n    \"key_concerns\": \"Very minor. He will need to lead occasional collaborative client-facing meetings to translate training goals to corporate stakeholders, requiring diplomatic communication.\",\n    \"justification\": \"A spectacular fit that perfectly aligns his professional design history, entrepreneurial serious-gaming background, and successful creative hobbies. Very minor. He will need to lead occasional collaborative client-facing meetings to translate training goals to corporate stakeholders, requiring diplomatic communication.\"\n  },\n  {\n    \"rank\": 2,\n    \"career_title\": \"AI Learning Platform Founder\",\n    \"company_size_type\": \"Own Company / Boutique\",\n    \"compatibility_score\": 84,\n    \"step1_objective_score\": \"57/64\",\n    \"pattern_analysis\": {\n      \"happiness_pattern_match\": {\n        \"score\": \"20/20\",\n        \"pattern\": \"extends 8/10 pattern\",\n        \"reasoning\": \"A perfect structural match. This career mirrors his highest-happiness roles: The Vendables (8/10, 'how to optimalize a product that does not exist was great fun') and The Boardroom (8/10, 'setting up own business is great, creative'). Being a founder gives him complete control over both process and output, directly satisfying his desire to do 'something for myself with AI and serious gaming' [1n].\"\n      },\n      \"strengths_application\": {\n        \"score\": \"14/14\",\n        \"reasoning\": \"Flawless application of his unique competitive advantage: the rare intersection of design (Figma), AI fluency, and serious gaming/educational psychology. He can build, design, and automate prototypes independently, allowing him to quickly validate latent market demand.\"\n      },\n      \"trajectory_fit\": {\n        \"score\": \"10/10\",\n        \"reasoning\": \"This perfectly extends his career trajectory. His values profile notes: 'What you are actually looking for is permission to take seriously the work that has always energized you most... autonomous, product-oriented.' This role leverages his 3-4 month runway to build a sustainable, high-growth venture on his own terms.\"\n      }\n    },\n    \"penalties\": {\n      \"burnout_risk\": {\n        \"penalty\": \"-4\",\n        \"risk_level\": \"LOW\",\n        \"reasoning\": \"Although early-stage startup building is intense, Douwe’s history shows that his intrinsic motivation and absolute autonomy act as powerful shields against burnout (e.g., working long hours at The Boardroom was highly satisfying). He has complete control to design a quiet, focused execution model.\"\n      },\n      \"development_conflicts\": {\n        \"penalty\": \"-6\",\n        \"reasoning\": \"His perfectionism and narrow feedback acceptance window represent key risks. If he struggles to delegate technical or business tasks, he may overload himself, causing execution quality to suffer. He must build a small, highly trusted, data-driven collaborative team.\"\n      }\n    },\n    \"key_insights_applied\": \"Directly applies the core insight that he needs to design his next move deliberately around his consistent values of creativity and absolute product autonomy, utilizing his 3-4 month runway to build instead of planning exhaustively.\",\n    \"key_strengths\": \"Ultimate alignment with his values, interests, and demonstrated capabilities. Merges his AI coding interests, serious game design, and proven founder history.\",\n    \"key_concerns\": \"Early-stage fundraising and financial runway management present moderate commercial pressure. He must manage his perfectionist tendencies to prevent self-imposed overload.\",\n    \"justification\": \"Ultimate alignment with his values, interests, and demonstrated capabilities. Merges his AI coding interests, serious game design, and proven founder history. Early-stage fundraising and financial runway management present moderate commercial pressure. He must manage his perfectionist tendencies to prevent self-imposed overload.\"\n  },\n  {\n    \"rank\": 3,\n    \"career_title\": \"Senior Product Designer\",\n    \"company_size_type\": \"Medium (51-200) / Scale-up\",\n    \"compatibility_score\": 79,\n    \"step1_objective_score\": \"56/64\",\n    \"pattern_analysis\": {\n      \"happiness_pattern_match\": {\n        \"score\": \"16/20\",\n        \"pattern\": \"extends 8/10 pattern\",\n        \"reasoning\": \"Matches the 'hands on creative job... laptop work' dream profile Douwe described [4h]. It provides the creative and problem-solving space that made his entrepreneurial roles highly fulfilling (The Vendables 8/10, Mindgame 7/10). Designing high-fidelity interactive prototypes in Figma matches his top-rated self-directed activities.\"\n      },\n      \"strengths_application\": {\n        \"score\": \"13/14\",\n        \"reasoning\": \"Direct application of his core specialized design knowledge (Figma, Illustrator) and his visual systems thinking. His ability to design products with no existing blueprint (e.g., Lego Masters participation, board game design) gives him a highly creative, execution-ready edge as a senior contributor.\"\n      },\n      \"trajectory_fit\": {\n        \"score\": \"9/10\",\n        \"reasoning\": \"Perfect fit for his stated preferences. This moves him away from customer service and repetitive operations into craft-oriented strategy. It satisfies his need for autonomy over his direct output, allowing him to focus on quality craftsmanship.\"\n      }\n    },\n    \"penalties\": {\n      \"burnout_risk\": {\n        \"penalty\": \"-4\",\n        \"risk_level\": \"LOW\",\n        \"reasoning\": \"Step 1 notes a low-severity social mismatch. While he must collaborate with PMs and engineers, a significant portion of his day is spent doing focused, solitary design execution in Figma, which honors his 'Somewhat Drained' energy profile.\"\n      },\n      \"development_conflicts\": {\n        \"penalty\": \"-5\",\n        \"reasoning\": \"His perfectionism and tendency to overload himself rather than delegate (or hand off cleanly) could cause friction during high-intensity sprint cycles. He will need to manage defensiveness when his designs face technical or business constraints.\"\n      }\n    },\n    \"key_insights_applied\": \"Leverages the core insight that his creativity and introversion are not in conflict; he does his best work when given the quiet space to think deeply and craft beautiful solutions.\",\n    \"key_strengths\": \"Directly taps into his top-tier design skills (Figma/Illustrator), allowing him to solve complex problems visually while protecting his quiet, focused work style.\",\n    \"key_concerns\": \"He must actively manage his perfectionism during rapid development sprints and avoid getting defensive when engineers request design compromises.\",\n    \"justification\": \"Directly taps into his top-tier design skills (Figma/Illustrator), allowing him to solve complex problems visually while protecting his quiet, focused work style. He must actively manage his perfectionism during rapid development sprints and avoid getting defensive when engineers request design compromises.\"\n  }\n]",
          "runner_up_careers_str": "[\n  {\n    \"rank\": 4,\n    \"career_title\": \"Micro-SaaS Founder\",\n    \"company_size_type\": \"Own Company / Boutique\",\n    \"compatibility_score\": 76,\n    \"key_strengths\": \"Unrivaled work schedule flexibility and complete output control. Highly aligned with his technical AI interests and visual prototyping skills.\",\n    \"brief_justification\": \"Unrivaled work schedule flexibility and complete output control. Highly aligned with his technical AI interests and visual prototyping skills.\",\n    \"happiness_pattern\": \"extends 8/10 pattern\",\n    \"burnout_risk\": \"LOW\"\n  },\n  {\n    \"rank\": 5,\n    \"career_title\": \"Entrepreneur in Residence\",\n    \"company_size_type\": \"Medium (51-200) / Scale-up\",\n    \"compatibility_score\": 66,\n    \"key_strengths\": \"Outstanding application of his serial entrepreneurial talent, conceptual product-market discovery, and strategic execution skills.\",\n    \"brief_justification\": \"Outstanding application of his serial entrepreneurial talent, conceptual product-market discovery, and strategic execution skills.\",\n    \"happiness_pattern\": \"neutral\",\n    \"burnout_risk\": \"MODERATE\"\n  },\n  {\n    \"rank\": 6,\n    \"career_title\": \"AI Automation Specialist\",\n    \"company_size_type\": \"Medium (51-200) / Scale-up\",\n    \"compatibility_score\": 65,\n    \"key_strengths\": \"Excellent application of his system-building instincts and interest in AI development. Allows for significant quiet, independent focused time.\",\n    \"brief_justification\": \"Excellent application of his system-building instincts and interest in AI development. Allows for significant quiet, independent focused time.\",\n    \"happiness_pattern\": \"extends 8/10 pattern\",\n    \"burnout_risk\": \"LOW\"\n  }\n]",
          "outside_box_careers_str": "1. **Immersive Experience Designer**\n\n**Overview**\nImmersive Experience Designers concept, design, and produce interactive, story-driven environments, think escape rooms, live-action narrative spaces, museum installations, and branded experiential events. The role bridges spatial design, narrative structure, and technology to create experiences people physically inhabit.\n\n**Why this might be a fit**\nDouwe, you've already built this skillset without the title. The Boardroom wasn't just a café, it was a designed experience with systems, atmosphere, and audience engagement built in. Add your Lego Masters credibility, your Figma and AI fluency, and your instinct for spotting what's missing in a market, and you're describing someone who can operate at the concept-to-execution level this field demands. It's not desk-bound, it's deeply creative, and the output is something people physically respond to. That's as far from a conveyor belt as it gets.\n\n**Path Type & Reality**\n**Freelance / Fractional.** This is primarily project-based work, sourced through a portfolio and network. Income is variable, and building a consistent pipeline takes 6 to 12 months. The upside is genuine creative control on each project.\n\n**AI Impact on this role**\n**Augmented** (Moderate Impact): AI accelerates concept visualization, narrative generation, and prototyping. The irreplaceable human layer is spatial intuition, sensory judgment, and the ability to design for how real people move through and feel inside a space. That part isn't automatable.\n\n---\n\n2. **Game Designer**\n\n**Overview**\nGame Designers (in the tabletop, digital, or hybrid space) own the mechanics, systems, and player experience of a game from concept through production-ready spec. At senior level, the role often includes pitching to publishers, managing development teams, and iterating based on playtesting data.\n\n**Why this might be a fit**\nYou've already pitched original games to major companies. That's not a hobby signal, that's a professional credential most Game Designers spend years trying to build. Your market-research instinct, design tools fluency, and AI-assisted prototyping capability put you ahead of the typical applicant who comes from pure game theory or pure art. This is a role where pattern recognition, systems thinking, and the ability to test ideas on merit (not politics) are the actual job. It also maps directly to your serious gaming interest without locking you into the corporate L&D world.\n\n**Path Type & Reality**\n**Employee or Founder, depending on target.** Joining a publisher or studio as a senior designer is an employee path with standard hiring cycles and creative direction from above. Building and publishing your own titles is a founder path with multi-year development timelines and real commercial risk. Both are valid, but they are structurally different bets.\n\n**AI Impact on this role**\n**Augmented** (Moderate Impact): AI is already reshaping asset generation, playtesting simulation, and rules documentation. The core design work, balancing systems, creating meaningful player decisions, and building for genuine fun, stays human. Your AI fluency here becomes a speed advantage, not a threat.\n\n---\n\n3. **Creative Strategist (Entertainment and Media)**\n\n**Overview**\nCreative Strategists in entertainment and media work at the intersection of content development and commercial thinking. They translate cultural insight and audience data into concepts, formats, and IP that production companies, streaming platforms, or media agencies can actually greenlight and build.\n\n**Why this might be a fit**\nYour long-term pull toward film and entertainment doesn't have to start at \"showrunner.\" Creative Strategist is the role that sits one step upstream of production, where formats are conceived, market gaps are identified, and pitches are structured. It's the exact cognitive move you made with The Vendables and The Boardroom: read the market, identify what's missing, build toward it. The difference is the output is content rather than a physical venue. Your systems thinking and documented track record of spotting latent demand make you credible in rooms where most people are pitching vibes without evidence.\n\n**Path Type & Reality**\n**Employee or Freelance.** In-house roles at production companies or streaming platforms are employee positions, competitive to land and often requiring a demonstrated entertainment portfolio. Freelance strategy work for independent producers or media startups is more accessible initially, but income is project-dependent and client acquisition is ongoing work.\n\n**AI Impact on this role**\n**Augmented** (Moderate Impact): AI accelerates trend analysis, audience research, and first-pass concept generation. The human value is in cultural judgment, taste, and the ability to know which signal is noise and which is a real opportunity. That editorial instinct is what gets greenlit. Douwe, your AI familiarity actually positions you to use these tools as leverage rather than seeing them as competition.",
          "init_summary_content": "<h5>1. Core Identity & Current Status</h5>\n- <strong>Name:</strong> Douwe Teun Anne Geurts [1a]\n- <strong>Pronouns:</strong> He / Him [1b]\n- <strong>Age:</strong> 38 [1c]\n- <strong>Region:</strong> Northern and Western Europe [1d]\n- <strong>Primary Objectives/Goals:</strong> \n  - \"Looking for guidance on my first job or career path\" [1e]\n  - \"Finding a new career path that better suits my skills and interests\" [1e]\n- <strong>Current Career Situation:</strong> Non-leadership or individual contributor role (no direct reports) [1i]\n- <strong>Total Years of Experience:</strong> 18 [1h]\n\n---\n\n<h5>2. Professional History & Sentiment Log</h5>\n- <strong>Detailed Career History:</strong> [1j]\n  - <strong>Role 1 (Current):</strong>\n    - <strong>Title:</strong> Digital Onboarding Manager\n    - <strong>Company:</strong> Mews\n    - <strong>Company Size:</strong> Enterprise (1000-5000)\n    - <strong>Company Culture:</strong> Corporate\n    - <strong>Sector:</strong> Hospitality Technology\n    - <strong>Dates:</strong> May 2023 – Present (isCurrent: true)\n  - <strong>Role 2:</strong>\n    - <strong>Title:</strong> Owner and initiator\n    - <strong>Company:</strong> Mindgame\n    - <strong>Company Size:</strong> Micro (1-10)\n    - <strong>Company Culture:</strong> Small Business Owner (up to 5 FTE)\n    - <strong>Sector:</strong> Serious Gaming\n    - <strong>Dates:</strong> Sep 2021 – Apr 2023\n  - <strong>Role 3:</strong>\n    - <strong>Title:</strong> Co-owner and initiator\n    - <strong>Company:</strong> The Vendables\n    - <strong>Company Size:</strong> Micro (1-10)\n    - <strong>Company Culture:</strong> Small Business Owner (up to 5 FTE)\n    - <strong>Sector:</strong> Retail/E-commerce\n    - <strong>Dates:</strong> Jan 2021 – Aug 2022\n  - <strong>Role 4:</strong>\n    - <strong>Title:</strong> Co-owner and initiator\n    - <strong>Company:</strong> The Boardroom\n    - <strong>Company Size:</strong> Small (11-50)\n    - <strong>Company Culture:</strong> Startup / Scale-up\n    - <strong>Sector:</strong> Hospitality/Gaming/Retail\n    - <strong>Dates:</strong> Feb 2017 – Jun 2020\n  - <strong>Role 5:</strong>\n    - <strong>Title:</strong> Assistant Manager\n    - <strong>Company:</strong> The Student Hotel\n    - <strong>Company Size:</strong> Medium (51-200)\n    - <strong>Company Culture:</strong> Corporate\n    - <strong>Sector:</strong> Hospitality\n    - <strong>Dates:</strong> Jul 2013 – Sep 2014\n\n- <strong>Sentiment Log:</strong> [1k]\n  - <strong>Digital Onboarding Manager (Mews):</strong> Happiness Score: 4 | Reason: \"Too Customer Services focused. No creativity. Too conveyor belt day to day. \"\n  - <strong>Owner and initiator (Mindgame):</strong> Happiness Score: 7 | Reason: \"Very creative and fun. Not big enough to make a difference. Company did not go anywhere so no good projects where coming in. \"\n  - <strong>Co-owner and initiator (The Vendables):</strong> Happiness Score: 8 | Reason: \"Entrepreneur. How to optimalize a product that does not exists was great fun. \"\n  - <strong>Co-owner and initiator (The Boardroom):</strong> Happiness Score: 8 | Reason: \"Setting up an own business is great, creative and more. Pay and working hours where not great.\"\n  - <strong>Assistant Manager (The Student Hotel):</strong> Happiness Score: 5 | Reason: \"Fun for my age at that time, but I was more of a receptionist which was not fun. \"\n\n- <strong>Skills & Technical Footprint:</strong> \n  - <strong>Top Skills:</strong> \"Creative Thinking/Design\", \"Project Management\", \"Entrepreneurship\" [1l]\n  - <strong>Certifications:</strong> None reported [1l]\n  - <strong>Languages and proficiency level:</strong> None reported [1l]\n  - <strong>Notable Achievements:</strong> [1l]\n    - The Boardroom: \"Made the Board Game Café profitable within one year and opened a second location, which was also profitable. \"\n    - Other: \"• Completed half-marathon\\n• Completed Olympic distance Triathlon\\n- thought myself Guitar and piano on a decent level.\\n- Make my own furniture and build everything in my house. \\n• Participant in Lego Masters Season 2\\n• Designed board games with one under publisher review\\n- completed the Asmterdam City Swim. 3.5 km open water swimming. \"\n    - The Vendables: \"Founded first fully automated gift shop in the Netherlands\"\n    - Mews (2023–Present): \"Made sure processes where improved and less time was wasted by the whole team. Even though this was not my work and I did not get time allocated for it. \"\n    - Mindgame (2021–2023): \"Coming up with my own games and selling those to big companies. \"\n    - The Student Hotel (2013–2014): \"Met many people from all walks of life which thought me even more how to communicate with people. \"\n  - <strong>Specialized Knowledge:</strong> \"Creative Design such as Figma and Illustartor, Project Management within Serious Gaming, Entrepreneurship because I started several companies of which 2 board game cafes, Customer Onboarding, Operations Management, Adobe Illustrator, Innovative thinking by coming up with new software, products and business ideas, Market research to find out what is need not what is cool to make.\" [4d]\n  - <strong>AI Familiarity:</strong> \"Very familiar. I frequently use AI tools\" [4e]\n\n---\n\n<h5>3. Education & Personal Context</h5>\n- <strong>Education Level:</strong> Bachelor's degree [1f]\n- <strong>Field of Study:</strong> International Hotel and Hospitality Management [1g]\n- <strong>Personal Interests/Hobbies:</strong> \"Board games\", \"(game)Design\", \"Travel\" [1m]\n- <strong>Additional Context/Constraints:</strong> \"I just quit at Mews. Couldn't take it anymore that noone took my feedback seriously. Thinking about maybe doing something for myself with AI and serious gaming and other AI code based ideas.\\n\\ni have about 3-4 month runway before i need an income again.\" [1n]\n- <strong>Dream Jobs:</strong> \"Have a hands on creative job, preferably 2 jobs. I would have 1 creative job. Either in film, showbusiness, online enterainment, behind the scenes. Creating entertainment such as Moviesets, documentatries, showrunner, you name it.  2 a job focussing on using AI to create new products such as learning platforms, games and interactive software, improving business processes and more. \\nI need to be able to travel and work from my laptop. A 9-5 deskjob going to the same environment every day is not for me. I need to be able to come up with solutions to problems. Not repeating the same tasks over and over.. On the sides I make furniture or build things with my hand. \\n\\nA youtube creator that tries out new skills every day for a living. \\n\\nIt's has variety and has nothing to do with customer service if I cannot influence the product.\" [4h]\n\n---\n\n<h5>4. Values, Compensation & Work Preferences</h5>\n- <strong>Ranked Career Values (High to Low):</strong> [3a]\n  1. Creativity (e.g., having the freedom to innovate, engaging in creative problem-solving)\n  2. Job Satisfaction (e.g., enjoying daily tasks, feeling engaged and motivated by work)\n  3. Personal Growth & Challenge (e.g., learning new skills, overcoming difficult challenges, pushing personal and professional limits)\n  4. Work-Life Balance (e.g., balancing personal and professional life, flexible hours)\n  5. Autonomy (e.g., having independence in work, making decisions)\n  6. Job Stability & Financial Security (e.g., long-term stability, financial reliability)\n  7. Helping Others & Making an Impact (e.g., contributing to a cause, supporting colleagues or clients)\n  8. Accomplishment & Recognition (e.g., reaching significant milestones, excelling in work, receiving awards)\n- <strong>Cultural & WLB Preferences:</strong>\n  - <strong>Value Alignment:</strong> \"Somewhat\" [3b]\n  - <strong>WLB Importance:</strong> \"Very\" [3c]\n  - <strong>Preferred Culture:</strong> \"Innovative and forward-thinking\" [4c]\n- <strong>Logistics & Pay:</strong>\n  - <strong>Schedule:</strong> Standard 9-to-5 schedule [3d]\n  - <strong>Salary Importance:</strong> \"Moderately important: I value salary but also consider other factors\" [3e]\n  - <strong>Bracket:</strong> 75,000–100,000 [3f]\n  - <strong>Pay Priority:</strong> Work-life balance perks [3g]\n\n---\n\n<h5>5. Behavioral & Operational Profile</h5>\n- <strong>Energy & Social:</strong>\n  - <strong>Social energy:</strong> \"Somewhat Drained (I can handle it, but prefer quiet)\" [2a]\n  - <strong>Colleague interaction:</strong> \"Keep it mostly work-focused but join social events occasionally.\" [6f]\n- <strong>Cognitive Style:</strong>\n  - <strong>Decision focus:</strong> \"The long-term, big-picture ideas and impact\" [2b]\n  - <strong>Decision speed:</strong> \"Leaning Deliberative (Explore options, but can decide when needed)\" [2c]\n  - <strong>Communication style:</strong> \"Direct and to the point - focus on key facts\" [2d]\n  - <strong>Change response:</strong> \"Leaning Novelty (I embrace the unknown, but like a safety net)\" [2e]\n- <strong>Operational Style:</strong>\n  - <strong>Environment structure:</strong> \"Somewhat Structured (I prefer a process but not rigid rules)\" [2g]\n  - <strong>Risk tolerance:</strong> \"Very comfortable\" [2h]\n  - <strong>Stress response:</strong> \"Leaning Action (Tend to act quickly, with a brief pause)\" [2i]\n  - <strong>Time management:</strong> \"Deadline-Aware (I start early but my pace picks up significantly as deadlines approach)\" [5f]\n- <strong>Hindrances/Growth Areas:</strong> \"Perfectionism leading to delays\", \"Struggling with time management\", \"Being overly critical of self or others\" [2j]\n\n---\n\n<h5>6. Team Dynamics & Emotional Intelligence</h5>\n- <strong>Collaboration Style:</strong>\n  - <strong>Team role:</strong> \"Step back to analyze before contributing.\" [5a]\n  - <strong>Motivator:</strong> \"Learning from others\" [5b]\n  - <strong>Preferred size:</strong> Medium (6-10 people) [5c]\n  - <strong>Conflict style:</strong> \"I prioritize securing the best outcome for myself or my team first\" [2f] / \"Seek a compromise to maintain harmony\" [5d]\n- <strong>Management Interaction:</strong>\n  - <strong>Preferred Leadership:</strong> \"Delegating autonomy and trusting me to figure things out\" [5g]\n  - <strong>Response to Disagreement:</strong> \"Approach them privately to share your point of view\" [5h]\n- <strong>EI & Feedback:</strong>\n  - <strong>Handling Feedback:</strong> \"I actively seek it and use it to improve\" [6a]\n  - <strong>Providing Feedback:</strong> \"Are straightforward and focus on the facts.\" [6b]\n  - <strong>Support style:</strong> \"Provide practical help or solutions\" [6c]\n  - <strong>Emotional regulation:</strong> \"Remain calm and control your emotions effectively\" [6d]\n  - <strong>Stress coping:</strong> \"Talk to colleagues or friends for support\" [6e]\n  - <strong>EI Challenges:</strong> \"Motivating myself and others\", \"Other: Taking my manager serious when they set goals without backing it up with data.\", \"Receiving criticism without defensiveness\" [6g]\n\n---\n\n<h5>7. Future Trajectory & Constraints</h5>\n- <strong>Goals:</strong>\n  - <strong>Short-term:</strong> \"Gain experience in a different role or industry\", \"Explore entrepreneurial opportunities\", \"Develop new skills or certifications\" [7a]\n  - <strong>Long-term:</strong> \"Own or run a successful business\", \"Achieve complete autonomy and freedom in my career\" [7b]\n- <strong>Developmental Drive:</strong>\n  - <strong>Barriers:</strong> \"Burnout or lack of engagement\", \"Misalignment with personal values or interests\" [7c]\n  - <strong>Interest in new skills:</strong> \"Yes, always seeking new skills\" [7d]\n  - <strong>Areas to develop:</strong> \"AI & Automation\", \"Creative Thinking & Innovation\", \"Technical & Digital Skills\" [7e]\n  - <strong>Workshop topics:</strong> \"Artificial Intelligence and Automation (e.g., implementing AI solutions, the future of automation in business)\", \"Innovation and Product Development (e.g., fostering a culture of innovation, developing new products)\" [4f]\n- <strong>Areas of Interest & Archetypes:</strong>\n  - <strong>Interests:</strong> \"AI, Data & Automation\", \"Product & Innovation\", \"Design & Creative\" [4a]\n  - <strong>Archetypes:</strong> \"The Implementer (gets tasks done, focuses on execution and timely deliverables)\", \"The Visionary (creative, thinks outside the box, envisions new possibilities)\" [4b]\n- <strong>Avoidance List (Hard Constraints):</strong>\n  - <strong>Avoided work aspects:</strong> [3h]\n    - \"High-pressure or fast-paced environments \\n\\n(e.g., strict deadlines, constant urgency, unpredictable workloads)\"\n    - \"Frequent teamwork and collaboration (e.g., working closely with others daily, team-based projects, group decision-making)\"\n    - \"Sales, negotiation, or client-facing roles (e.g., pitching ideas, persuading clients, managing external relationships)\"\n    - \"Finance-related work (e.g., financial analysis, accounting, budgeting, or investment-related roles)\"\n    - \"Limited learning or growth opportunities (e.g., repetitive tasks, no clear professional development path)\"\n  - <strong>Avoided industries:</strong> \"Sales and Business Development\", \"Legal Professions\", \"Manufacturing and Physical Labor\", \"Agriculture and Outdoor Work\", \"Government and Public Sector\", \"Retail, Hospitality, and Customer Service\" [4g]"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "df2b7b06-53bc-41ba-9419-da6f4e0c383a",
  "activeVersionId": "df2b7b06-53bc-41ba-9419-da6f4e0c383a",
  "versionCounter": 51,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-05-30T21:51:11.252Z",
      "createdAt": "2026-05-30T21:51:11.252Z",
      "role": "workflow:owner",
      "workflowId": "seWmQPFQqIe60TkU",
      "projectId": "IRGhJlz0HuarxdVs",
      "project": {
        "updatedAt": "2026-05-08T11:19:23.000Z",
        "createdAt": "2025-06-17T10:11:12.163Z",
        "id": "IRGhJlz0HuarxdVs",
        "name": "Cairnly",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "",
        "customTelemetryTags": [],
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-19T11:58:59.000Z",
    "createdAt": "2026-06-19T11:58:33.693Z",
    "versionId": "df2b7b06-53bc-41ba-9419-da6f4e0c383a",
    "workflowId": "seWmQPFQqIe60TkU",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -704,
          624
        ],
        "id": "8272e7dc-ec6d-440f-867b-3b96e9e6b0b3",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "// Prep top 3 data + build RPC body for Pull enriched T3\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst careers = trigger.top_3_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  top_3_careers: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -64,
          320
        ],
        "id": "3bc84633-d425-4df7-9fac-52d423e7f44f",
        "name": "Top 3 only"
      },
      {
        "parameters": {
          "url": "=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=*",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          160,
          320
        ],
        "id": "de520df6-8d37-4912-8336-e53fbc2f1be2",
        "name": "Pull enriched T3",
        "alwaysOutputData": true,
        "executeOnce": true,
        "credentials": {
          "supabaseApi": {
            "id": "jYr9UcuCbwO8Um80",
            "name": "SB Cairnly (n8n cred)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// n8n Function Node - Fast reordering for LLM consumption\n// No expensive formatting - LLMs handle mixed data formats well\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json.career_data || item.json;\n  \n  // Simple reordering - no array formatting or parsing\n  return {\n    json: {\n      // === PRIMARY INFORMATION ===\n      career_title: data.career_title,\n      overview: data.overview,\n      salary: data.salary,\n      company_size_type: data.company_size_type,\n      \n      // === CORE WORK DETAILS ===\n      typical_tasks: data.typical_tasks,\n      technical_skills: data.technical_skills,\n      soft_skills: data.soft_skills,\n      education_requirements: data.education_requirements,\n      \n      // === WORK ENVIRONMENT ===\n      work_schedule: data.work_schedule,\n      autonomy_vs_collaboration: data.autonomy_vs_collaboration,\n      client_interaction: data.client_interaction,\n      colleague_interaction: data.colleague_interaction,\n      \n      // === CAREER DEVELOPMENT ===\n      career_progression: data.career_progression,\n      motivational_factors: data.motivational_factors,\n      leadership_challenges: data.leadership_challenges,\n      \n      // === METADATA ===\n      id: data.id,\n      ai_impact_rating: data.ai_impact_rating,\n      created_at: data.created_at,\n      updated_at: data.updated_at\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          320
        ],
        "id": "198c1088-1574-4b85-9dbe-8e20ead8c045",
        "name": "t3 content order"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "top3_enriched_combined",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          672,
          320
        ],
        "id": "9e2da11f-1d0d-41ee-b952-cb4413c8f209",
        "name": "T3 enr. combined"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "top_3_careers_prompt_assignment",
                "name": "top_3_careers_prompt",
                "value": "=# Hyper-Personalized Top 3 Careers Generator\n\nYou are Cairnly, creating personalized career insights. Tone: business casual, direct, honest. Connect everything to their actual happiness data, constraints, and patterns.\n\n---\n\n## Output Structure (Each Career):\n\n# [career_title] 'e.g. Program Manager'\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n\n## Overview\n[ONE or TWO sentences, max 35 words. Plain-English definition of the role for someone who has never heard the title. No fit, no trade-offs, no tasks.]\n\n## Why this role fits you\n[80-120 words. Build the fit from these signals, in this order of priority:\n1. Top values [3a] and how this role expresses them\n2. Pattern analysis — REQUIRED. The narrative MUST contain the literal phrase \"extends your X/10 [role name]\" OR \"avoids the Y/10 [role name] pattern\" at least once, where X and Y are the actual happiness scores from the sentiment log. Soft references like \"you're returning to\" or \"similar to your past\" do NOT satisfy this rule.\n3. Why this specific company size/type fits their stated preferences [2a, 2g, 3d] or constraints [1n]\n4. Sentiment quote, ONLY if substantive enough to add color beyond what 1–3 already say\nKeep to 2–4 sentence paragraphs.]\n\n## What you'll actually do\n[3-4 bullets, 70-90 words total. Pure tasks from typical_tasks, framed through the user's lens. Do NOT re-describe what the role is — Overview already did that.]\n\nEVERY bullet MUST start with a short bolded label (2-5 words) followed by a period and then the framed explanation. No exceptions.\n\n- **[Short task label]:** [task framed through their experience/skills]\n- **[Short task label]:** [task connected to what energizes them]\n- **[Short task label]:** [task that uses their specific background]\n\nExample:\n- **Write game design docs.** This draws on your Figma skills and board game design background.\n- **Run playtesting sessions.** Your direct communication style extracts honest feedback, not polite non-answers.\n\n## The Reality Check\n[2-4 bullets, 80-110 words total. Vary the count per career. Do not default to 4.]\n\n⚠ **[Challenge specific to THIS career].** [1-2 sentences]\n\nEVERY bullet MUST start with a bolded label (3-7 words) after the ⚠ symbol, followed by the explanation. If you write `⚠ Client feedback will test you regularly.` you have violated this rule. Correct form: `⚠ **Client feedback loops test you.** [explanation]`. No exceptions.\n\nEvery bullet must surface a risk specific to this career and this person. Before writing each one, ask: \"Could this exact bullet be pasted onto a different career?\" If yes, sharpen it or cut it.\n\nRules:\n- Lead with the risk most unique to this career's market, role, or path. Not a generic personality trait.\n- You may use ONE personality or development gap per career, and only when it sharpens a career-specific risk. Do NOT reuse the same personality flag across careers. If \"difficulty receiving feedback\" anchored career 1, use a different angle for careers 2 and 3.\n- Do NOT mention money, income variability, or time-to-stable-income here. That lives only in \"The practical stuff > Money\". The Reality Check covers behavioral, market, and role risks, not the salary timeline. (Reskilling effort and a rough reskilling time horizon ARE allowed here — that is about learning, not salary.)\n- No false balance. If a career has only 2 real risks, write 2.\n- **Reskilling reality (required when there's a real skill/credential gap):** if the role needs skills or credentials the candidate lacks (judge against [1h], [1j], [1l]), ONE bullet MUST name the specific gap, the realistic route to close it (portfolio, course, certification, on-the-job), and a rough time horizon. Be concrete: not \"you have transferable skills\" but \"A and B are missing; the realistic path is C over ~N months.\" **Factor in the AI reality:** AI-assisted learning can meaningfully compress reskilling timelines, and some gaps matter less because every role is becoming AI-augmented in some way (a task AI increasingly handles is a smaller barrier to entry). Judge the gap against this new reality, not pre-AI assumptions, while staying honest that genuine gaps still take real effort.\n- **Age and career stage:** weigh the move against their age [1c] and where they are in their career. A long, from-scratch reskill reads differently at an established stage (time-to-payoff, opportunity cost). State this as honest planning context, never as a limit on capability.\n\nExamples (each tied to a specific market or role, not a generic trait):\n- ⚠ **Directory fatigue is real.** The AI tools space is flooded with low-quality directories. Differentiation needs consistent, opinionated takes, which makes your \"Creative Storytelling\" strength the moat, not a nice-to-have.\n- ⚠ **Finance oversight is unavoidable.** You avoid \"finance-related work\" but boards require P&L review. Based on Strategic Finance (5/10), this is tolerable but not energizing.\n- ⚠ **Business development never stops.** You close this month and still need next quarter's pipeline. Discovery calls and founder networking are the job, alongside delivery.\n\n**Special cases:**\n- **If path_type is `freelance_fractional` or `founder`:** one bullet MUST cover the client acquisition or business development load, framed as a behavioral and workload reality. Do NOT frame it as income timing. This rule keys off `path_type` only. A `company_size_type` containing \"Boutique\" or \"Own Company\" does NOT trigger it. A boutique EMPLOYEE has no BD load; a fractional consultant DOES, regardless of whether their clients are boutiques or enterprises.\n- **If HIGH burnout risk:** lead with the burnout warning and adjust the bottom line.\n- **If recreates low pattern:** address it in \"Why this role fits you\", not here.\n- **If the role is a hard pivot (large skill/credential gap or a new field):** the reskilling bullet above is mandatory, and the realism must be explicit and grounded — do not gloss it with \"this extends your pattern.\"\n\n## The practical stuff\n\n**Money:** [Salary range, or day rate / revenue model, in the region's currency.] [One sentence: does it hit their target bracket? For freelance_fractional or founder, this is also where income variability and realistic time-to-stable-income or build horizon belong.] Do not open with \"No salary data\". If there is no fixed salary, state the day-rate range or revenue model directly.\n\n**Schedule:** [Work schedule] [One sentence: work with constraints?]\n\n**Energy:** [Interaction level] [One sentence: match social energy?]\n\n**Growth:** [1 sentence on career_progression from enriched data. Where does this lead?]\n\n## How AI will impact this role\n[2-3 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n## Alignment with your ambitions\n[40-60 words. Connect this role to their STATED goals, not their happiness pattern. Name their short-term goal AND long-term ambition (from the candidate summary), then judge honestly whether this role is a stepping-stone toward them, the destination itself, or a detour away from the long-term goal. Use the trajectory_fit reasoning from the enriched data if present.\n\nHard rules:\n- Anchor on their stated short-term and long-term ambitions — NOT the sentiment/happiness scores.\n- Do NOT reuse the \"extends your X/10 [role]\" pattern phrasing here. That belongs ONLY in \"Why this role fits you.\" Repeating it here is a violation.\n- Always name the honest catch relative to their LONG-TERM ambition: is this the finish line, or a bridge to it?\n- Factor their age and career stage [1c] into the honest read: a multi-year reskill or from-scratch pivot changes the calculus at an established stage (time, opportunity cost). Keep it realistic and respectful — about trade-offs and timing, not capability.]\n\nExample: \"This serves your short-term goal of building AI and product skills in a real setting. But your long-term ambition is full autonomy and your own company, so treat this as a 2-3 year platform, not the finish line.\"\n\n\n## Comparison Data\n\nAs the LAST thing in each career (after the \"More details...\" line, before the career split), output one fenced ```json code block. The platform reads this to render a visual comparison and a written explanation — it is never shown to the candidate as raw text. Always include it.\n\n### fit_scores — every career\n\nRate THIS career from 1 to 5 on each axis. The score is FIT FOR THIS CANDIDATE — 5 = excellent fit, 1 = poor fit — judged against their Initial Summary (values, constraints, energy, work preferences, sentiment log):\n\n- **autonomy** — does the role's independence match their need for autonomy?\n- **social** — does the people and interaction load sit within their social energy? (5 = comfortably within their limit, 1 = will drain them)\n- **pace** — does the pace and pressure match their stress tolerance? (5 = comfortable, 1 = high-pressure mismatch)\n- **stability** — does the income and path stability match their security needs and stated constraints?\n- **schedule** — does the working schedule match their work-life-balance needs?\n\nScore all three careers on ONE consistent scale — they are generated together, so a 4 on \"social\" must mean the same thing across all three.\n\n### comparison — career 2 and career 3 ONLY\n\nCareer 1 omits this entirely (the candidate has not seen the other careers yet). Career 2 compares to career 1. Career 3 compares to careers 1 and 2.\n\n- **headline** — one sentence naming the single biggest way THIS career differs from the earlier one(s). Direct, no hedging.\n- **explanation** — 120 to 170 words. Walk the candidate through how this career genuinely differs and what that means for them. Ground it in the axes where the fit scores differ most — those are the real differences. Shown when they ask to compare, so write it as a direct, helpful reply, same voice and Writing Rules as the rest of the output.\n- not bullet-heavy. Keep paragraphs short (2 to 4 sentences) with a blank line between them, so longer answers stay easy to read on screen.\n\n### move — every career\n\nRate how big a leap THIS career is for the candidate, AFTER accounting for AI (AI-assisted learning compresses reskilling timelines, and some gaps matter less as roles become AI-augmented). Judge against this reality, not pre-AI assumptions:\n- **Ready now** — their current skills and how they would present them already fit; little or no new learning, and no major repositioning needed.\n- **Reframe** — they have the skills, but the gap is positioning: repackaging their experience, CV, or how they tell their story for this role. No genuinely new skills to learn.\n- **Upskill** — a real but bridgeable skill gap; focused learning (course, certification, portfolio, or on-the-job) over months.\n- **Retrain** — a large skill or credential gap, or a new field; substantial reskilling.\n\n### Format\n\nCareer 1:\n```json\n{\"fit_scores\":{\"autonomy\":5,\"social\":5,\"pace\":5,\"stability\":2,\"schedule\":4},\"move\":\"Ready now\"}\n```\n\nCareer 2 and Career 3:\n```json\n{\"fit_scores\":{\"autonomy\":4,\"social\":2,\"pace\":2,\"stability\":4,\"schedule\":4},\"move\":\"Upskill\",\"comparison\":{\"headline\":\"One-sentence main difference.\",\"explanation\":\"Full 120-170 word explanation here.\"}}\n```\n\nOutput valid JSON only inside the block — no comments, no trailing commas. This block does not count toward the per-career word target.\n\n---CAREER_SPLIT---\n\n## Path Type Framing (Critical for honesty)\n\nEach enriched career has a `path_type` field: `employee`, `freelance_fractional`, or `founder`. Some legacy careers may have `null` or `\"N/A\"` — treat those as `employee`.\n\nThe path_type fundamentally shapes how the candidate must approach this career. Adjust framing accordingly:\n\n**employee** — applying for a role at someone else's company.\n- \"What you'll actually do\" describes role-defined responsibilities\n- \"The practical stuff → Schedule\" is the company's standard expectation\n- \"Alignment with your ambitions\" describes typical next titles or growth paths\n\n**freelance_fractional** — independent contractor, fractional exec, advisor, board member.\n- \"What you'll actually do\" includes pipeline, contracting, and self-marketing alongside delivery\n- \"The practical stuff → Money\" notes income variability and time-to-stable-income\n- \"The Reality Check\" must include a client acquisition or business development bullet, framed as a behavioral and workload reality. Do NOT put income variability here. That belongs in Money.\n\n**founder** — starting a company or solo practice with capital and time risk.\n- \"What you'll actually do\" includes selling, hiring, financing, and building product/service alongside doing the work\n- \"The practical stuff → Money\" must mention 1-3 year build horizon and validation period before stable income\n- \"The Reality Check\" must include capital risk and the \"validate before quitting\" reality, framed as a risk-tolerance and decision question. Keep the build-horizon timeline itself in Money, not here.\n- \"Alignment with your ambitions\" describes scaling, exiting, or evolving the model — not climbing a ladder\n\nUse the `path_type_notes` field from the enriched career as the source of truth for path-specific honesty (income horizons, validation requirements). Quote or paraphrase it where natural rather than inventing framing.\n\n## Writing Rules:\n\n**Tone:**\n- Direct: \"This gives you X\" not \"provides an opportunity\"\n- No hedging: \"You'll struggle with Y\" not \"might present challenges\"\n- Short paragraphs (2-4 sentences)\n- adhere to the would limit restrictions! 500-600 words total per career!\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Checkmarks ✓ and warning ⚠ symbols in bold!\n* if using bulletpoints, make the bullet lable bold for readability and emphasis \n\n**Avoid:**\n- Flattery: valuable, impressive, exceptional, unique, perfect\n- Corporate: serves you well, positions you, meaningful impact, leverage\n- Qualifiers: \"The fact that...\", \"It's worth noting...\"\n- Mixing currencies. Stick with the regions currency, consistently!\n- Em-dashes (—). NEVER use em-dashes in output. Use commas, periods, colons, parentheses, or sentence breaks instead. This applies to every section.\n\n**Required connections (every career):**\n- 1+ sentiment log [1k] reference, treated as supporting evidence — not the spine of the section\n- Quote the candidate's comment verbatim ONLY when it carries specific meaning (a phrase, a reason, an emotion). If the comment is generic or one word, paraphrase or skip the quote and lean on score + pattern instead.\n- Never quote a bare score in isolation. A score must always be paired with either (a) the candidate's comment, (b) an extend/recreate pattern, or (c) a constraint or value.\n- Top values [3a]\n- 1+ constraint [1n] or preference [2a, 2g, 3d]\n- 1 development gap from Personality Analysis\n- Pattern analysis (extend/recreate)\n- Compatibility score always in XX/100 e.g. 92/100 format!\n\n**Target: 500-600 words per career**\n\n---\n\n## Inputs:\n\n**CAI Score Analysis (incl compatibility score):**\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.top_3_careers) }}\n\n**Top 3 Enriched Careers:**\n{{ JSON.stringify($json.top3_enriched_combined) }}\n\n**Initial Summary:**\n{{ $('When Executed by Another Workflow').first().json.init_summary_content }}\n\n\n---\n\nGenerate all 3 careers now. Use \"---CAREER_SPLIT---\" between (not before first or after last).\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write all PROSE in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up).\nKeep these EXACTLY as specified (English / structured) so downstream parsing keeps working:\n- the ---CAREER_SPLIT--- delimiter between careers\n- the \"# \" career-title line, the \"**Alternative titles:** ... | **At:** ...\" line, and \"**Compatibility score: NN/100**\"\n- any final ```json``` comparison block (keys and values stay exactly as specified)\nUse Markdown \"## \" for each subheader; the subheader TEXT itself in Dutch. Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical).",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          896,
          320
        ],
        "id": "0543a3cd-fd28-4929-ba2b-9bdaa39368fd",
        "name": "T3 Careers Prompt"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.top_3_careers_prompt }}",
          "batching": {}
        },
        "id": "2cd75cb0-f79a-4b43-b9b4-f4bbb0a69abe",
        "name": "Top 3 Careers Generator",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1120,
          320
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get the input text\nconst fullText = $json.text;\n// Get report_id from trigger\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\nconst __lr = $('Get Report Language').first().json; const __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\n\n\n// Subheaders to convert to h5 tags (must match ACTUAL AI output headers)\nconst CAREER_SUBHEADERS = [\n  \"Overview\",\n  \"Why this role fits you\",\n  \"What you'll actually do\",\n  \"The Reality Check\",\n  \"The practical stuff\",\n  \"How AI will impact this role\",\n  \"Alignment with your ambitions\"\n];\n\n// Pull the machine-readable comparison JSON out of a career chunk.\n// The model appends it as a fenced ```json block, last thing in the career.\n// Returns { metadata, cleanedText }. On ANY failure metadata is null, so a\n// missing or malformed block degrades gracefully and never breaks the report.\nfunction extractMetadata(careerText) {\n  let raw = null;\n  let matchedBlock = null;\n\n  // Preferred: a fenced code block (```json ... ``` or ``` ... ```).\n  // Take the LAST one — the comparison block is the last thing in the career.\n  const fenceRegex = /```(?:json)?\\s*([\\s\\S]*?)```/gi;\n  let m;\n  while ((m = fenceRegex.exec(careerText)) !== null) {\n    raw = m[1];\n    matchedBlock = m[0];\n  }\n\n  // Fallback: a bare { ... } span (model dropped the fence).\n  if (raw === null) {\n    const bm = careerText.match(/\\{[\\s\\S]*\\}/);\n    if (bm) {\n      raw = bm[0];\n      matchedBlock = bm[0];\n    }\n  }\n\n  if (raw === null) {\n    return { metadata: null, cleanedText: careerText };\n  }\n\n  let metadata = null;\n  try {\n    metadata = JSON.parse(raw.trim());\n  } catch (e) {\n    metadata = null;\n  }\n\n  const cleanedText = careerText.replace(matchedBlock, '').trim();\n  return { metadata, cleanedText };\n}\n\n// Function to convert subheaders to h5 tags\nfunction formatSubheaders(content) {\n  let formatted = content;\n\n  // Convert ## headers to h5 tags\n  formatted = formatted.replace(/^## (.+)$/gm, '<h5>$1</h5>');\n\n  // Also convert bold-only subheaders from the predefined list\n  CAREER_SUBHEADERS.forEach(subheader => {\n    const regex = new RegExp(`(^|\\\\n)\\\\*\\\\*${subheader}\\\\*\\\\*:?\\\\s*`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n\n  // Clean up any leftover markdown bold markers\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '$1');\n\n  return formatted.trim();\n}\n\n// Function to extract career metadata and clean content\nfunction parseCareer(careerText) {\n  const lines = careerText.trim().split('\\n');\n  let title = '';\n  let alternateTitles = '';\n  let companySizeType = '';\n  let score = null;\n  let contentStartIndex = 0;\n\n  // Parse first few lines for metadata\n  for (let i = 0; i < Math.min(15, lines.length); i++) {\n    const line = lines[i].trim();\n\n    // Extract title - ONLY single # (career title), not ## (subheaders)\n    if (line.match(/^# [^#]/) ) {\n      title = line.replace(/^# /, '').trim();\n      contentStartIndex = i + 1;\n    } else if (line.match(/^-?\\s*Title:/i)) {\n      title = line.replace(/^-?\\s*Title:\\s*/i, '').trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n\n    // Extract alternate titles\n    if (line.match(/^\\*\\*Alternative titles:\\*\\*/i) || line.match(/^-?\\s*\\*?Alternate titles:/i)) {\n      const altMatch = line.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n      if (altMatch) {\n        alternateTitles = altMatch[1].trim();\n        companySizeType = altMatch[2].trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      } else {\n        alternateTitles = line\n          .replace(/^-?\\s*\\*?\\*?Alternative titles:\\*?\\*?\\s*/i, '')\n          .replace(/^-?\\s*\\*?Alternate titles:\\*?\\s*/i, '')\n          .replace(/\\*/g, '')\n          .trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      }\n    }\n\n    // Extract company size - standalone \"At:\" line\n    if (line.match(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i) && !line.match(/Alternative titles/i)) {\n      companySizeType = line\n        .replace(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i, '')\n        .replace(/\\*\\*/g, '')\n        .trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n\n    // Extract compatibility score\n    const scoreMatch = line.match(/\\*?\\*?Compatibility score:\\s*(\\d+)\\/100\\*?\\*?/i);\n    if (scoreMatch) {\n      score = parseInt(scoreMatch[1], 10);\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n  }\n\n  // Skip empty lines after metadata\n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n\n  // Get remaining content and format subheaders\n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatSubheaders(rawContent);\n\n  return {\n    title: `<h3><strong>${title || 'Career Option'}</strong></h3>`,\n    alternate_titles: alternateTitles ? `<strong>Alternate titles:</strong> ${alternateTitles}` : '',\n    company_size_type: companySizeType ? `<h4><strong>${companySizeType}</strong></h4>` : '',\n    content: formattedContent,\n    score: score\n  };\n}\n\n// Split by separator\nconst splitCareers = fullText.split('---CAREER_SPLIT---');\n\n// Validate we have 3 parts\nif (splitCareers.length !== 3) {\n  throw new Error(`Expected 3 careers but found ${splitCareers.length}`);\n}\n\n// Pull the comparison JSON out of each chunk BEFORE parsing the prose,\n// so the raw JSON never lands in the rendered content.\nconst meta1 = extractMetadata(splitCareers[0]);\nconst meta2 = extractMetadata(splitCareers[1]);\nconst meta3 = extractMetadata(splitCareers[2]);\n\n// Parse each career from the cleaned (JSON-stripped) text\nconst career1 = parseCareer(meta1.cleanedText);\nconst career2 = parseCareer(meta2.cleanedText);\nconst career3 = parseCareer(meta3.cleanedText);\n\n// Map to structured output with all required fields.\n// `metadata` is picked up automatically by the autoMap Supabase insert.\nreturn [\n  {\n    json: {\n      title: career1.title,\n      alternate_titles: career1.alternate_titles,\n      company_size_type: career1.company_size_type,\n      content: career1.content,\n      score: career1.score,\n      metadata: meta1.metadata,\n      report_id: reportId,\n      section_type: \"top_career_1\",\n      order_number: 1,\n      language: __lang\n    }\n  },\n  {\n    json: {\n      title: career2.title,\n      alternate_titles: career2.alternate_titles,\n      company_size_type: career2.company_size_type,\n      content: career2.content,\n      score: career2.score,\n      metadata: meta2.metadata,\n      report_id: reportId,\n      section_type: \"top_career_2\",\n      order_number: 2,\n      language: __lang\n    }\n  },\n  {\n    json: {\n      title: career3.title,\n      alternate_titles: career3.alternate_titles,\n      company_size_type: career3.company_size_type,\n      content: career3.content,\n      score: career3.score,\n      metadata: meta3.metadata,\n      report_id: reportId,\n      section_type: \"top_career_3\",\n      order_number: 3,\n      language: __lang\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1472,
          320
        ],
        "id": "a8b60d92-97e1-4a7e-911d-3db2623f0198",
        "name": "Split Top3"
      },
      {
        "parameters": {
          "tableId": "report_sections",
          "dataToSend": "autoMapInputData"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1696,
          320
        ],
        "id": "31205f90-595b-4875-b31a-44c19192b642",
        "name": "Insert Top 3",
        "credentials": {
          "supabaseApi": {
            "id": "jYr9UcuCbwO8Um80",
            "name": "SB Cairnly (n8n cred)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Prep runner up data + build RPC body for Pull Runner up\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst careers = trigger.runner_up_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  runner_up: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -64,
          624
        ],
        "id": "122022e0-92c2-4f85-be97-e15f8041a485",
        "name": "4-10 only"
      },
      {
        "parameters": {
          "url": "=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=*",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          160,
          624
        ],
        "id": "40a9382b-63fa-4f84-ab79-bab144ade1e3",
        "name": "Pull Runner up",
        "alwaysOutputData": true,
        "executeOnce": true,
        "credentials": {
          "supabaseApi": {
            "id": "jYr9UcuCbwO8Um80",
            "name": "SB Cairnly (n8n cred)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Combine all items into one item\nconst allItems = $input.all();\nconst allCareers = allItems.map(item => item.json);\n\nreturn [{ \n  json: { \n    allCareers: allCareers,\n    careerCount: allCareers.length \n  } \n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          624
        ],
        "id": "1f86ac80-2bd4-42a4-b864-0fcd33839202",
        "name": "Combine runners"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "runner_up_prompt_assignment",
                "name": "=runner_up_prompt",
                "value": "=# Runner-Up Careers Generator\n\nYou are Cairnly, presenting alternative career options beyond the top 3. These scored 55+ but didn't make the final cut. Be concise and help them understand what's appealing and what the trade-offs are.\n\n---\n\n## Output Structure (Each Career):\n\n# [Career Title]\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n## Overview\n\n[25-40 words. Plain-English description of what this role actually is and does day to day — written so a reader who has never heard the job title immediately understands it. Base it on the `overview` field in the enriched career data; rephrase for clarity and brevity, do not quote verbatim. Just what the role IS — no fit or trade-offs here.]\n\n## Why this role fits you\n\n[60-80 words MAX, 1-2 short paragraphs. Assume the reader now knows what the role is from the Overview — do not re-describe the job here.]\n- What's appealing about this role and why it suits their profile\n- Why it's not Top 3 (be specific about the gap)\n\n## What works for you\n\n[3 bullets, 50-60 words total]\n\n✓ **[Benefit].** [1 sentence tied to their data]\n\n## The Reality Check\n\n[3 bullets, 50-60 words total]\n\n⚠ **[Concern].** [1 sentence]\n\n## The practical stuff\n\n**Money:** [Range - estimate if not in data]\n\n**Schedule:** [Type]\n\n**Energy:** [Interaction level]\n\n## How AI will impact this role\n[1-2 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n**More details in your dashboard.**\n\n---CAREER_SPLIT---\n\n---\n\n## Path Type Framing\n\nEach career has a `path_type`: `employee`, `freelance_fractional`, or `founder`. Treat `null` or `\"N/A\"` as `employee`.\n\nIn the compact runner-up format:\n- For `freelance_fractional`: ensure one bullet in \"Reality Check\" addresses income variability or client acquisition\n- For `founder`: ensure one bullet in \"Reality Check\" addresses capital horizon and validation reality (use `path_type_notes` as source)\n- For `employee`: standard framing\n\nThe path_type already shapes the enriched data (typical_tasks, leadership_challenges, career_progression). Let those flow through naturally — no need to over-explain in the compact format.\n\n## Reskilling & Age Reality\n\nIf a runner-up needs skills or credentials the candidate lacks (judge against their experience and history), make ONE of the three Reality Check bullets the reskilling reality: name the gap and a rough time horizon (course, certification, portfolio, on-the-job). **Factor in the AI reality:** AI-assisted learning can compress reskilling timelines, and some gaps matter less because every role is becoming AI-augmented in some way, so judge the gap against this new reality, not pre-AI assumptions, while staying honest that real gaps still take real effort. Weigh a long or from-scratch reskill against their age and career stage [1c] as honest planning context (time-to-payoff, opportunity cost), never as a limit on capability. Keep it within the 50-60 word Reality Check budget; do not add a fourth bullet.\n\n## Move rating (hidden)\n\nClassify how big a leap this role is for the candidate, AI-adjusted (AI compresses reskilling; some gaps matter less as roles become AI-augmented). Pick ONE:\n- Ready now: skills and how they would present them already fit; little or no new learning.\n- Reframe: they have the skills; the gap is positioning (CV, story), not new skills.\n- Upskill: a real but bridgeable skill gap (course, certification, portfolio, on-the-job).\n- Retrain: a large skill or credential gap, or a new field.\nAt the very end of each career (after \"More details in your dashboard.\", before ---CAREER_SPLIT---), output it on its own line as an HTML comment exactly like <!--move:Upskill--> with the chosen level. Never show the rating any other way.\n\n## Critical Rules:\n\n**LENGTH LIMITS (STRICT):**\n- \"Why this role fits you\": 60-80 words MAX\n- \"What works for you\": 50-60 words (3 short bullets)\n- \"The Reality Check\": 50-60 words (3 short bullets)\n- \"The practical stuff\": 30-40 words\n- \"How AI will impact this role\": 15-20 words\n- **Total per career: 200-250 words MAXIMUM**\n\nIf running long, cut adjectives. Be terse.\n\n**MISSING DATA:**\n- If salary missing: provide estimate with \"(estimated)\"\n- If AI impact missing: assess based on role type\n- Never write \"not specified\" or \"data not available\"\n\n**TONE:**\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Shorter than Top 3 (these are backups)\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n\n**PERSONAL CONNECTIONS:**\n- Reference sentiment log if relevant\n- Cite constraints or values\n- Note why not Top 3 specifically\n- Across the runner-up careers, do not lean on the same personality gap or constraint as the lead concern each time. Vary which gap each Reality Check draws on.\n\n**FORMAT:**\n- Use exact headers shown above\n- Compatibility score always in XX/100 e.g. 92/100 format!\n- Use ✓ for benefits, ⚠ for concerns, make these bold\n* if using bulletpoints, make the bullet lable bold for readability and emphasis \n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Use ---CAREER_SPLIT--- between careers\n- Output plain markdown (not JSON)\n\n---\n\n## Examples:\n\n**Good \"Why this role fits you\" (70 words):**\n\"This extends your 9/10 advisory pattern into facilitation work - expertise delivered in bursts, then solo planning time. But it didn't make Top 3 because building a practice requires the sales work you avoid. Project-based income creates uncertainty you can't afford with young children.\"\n\n**Good bullet (15-20 words):**\n✓ **Matches your energy pattern.** Intense 2-3 day sessions followed by solo recovery time.\n\n⚠ **Sales is unavoidable.** Building clients requires networking you historically avoid.\n\n---\n\n## Inputs:\n\n**Runner-Up Careers (with compatibility_scores and patterns):**\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.runner_up_careers) }}\n\n**Enriched Career Data:**\n{{ JSON.stringify($json.allCareers) }}\n\n**Initial Summary (sentiment log [1k], constraints [1n], values [3a]):**\n{{ $('When Executed by Another Workflow').first().json.init_summary_content }}\n\n---\n\nGenerate all runner-up analyses. Use ---CAREER_SPLIT--- between careers (not before first or after last). Output markdown only.\n\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write all PROSE in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up).\nKeep these EXACTLY as specified (English / structured) so downstream parsing keeps working:\n- the ---CAREER_SPLIT--- delimiter between careers\n- the \"# \" career-title line, the \"**Alternative titles:** ... | **At:** ...\" line, and \"**Compatibility score: NN/100**\"\n- any final ```json``` comparison block (keys and values stay exactly as specified)\nUse Markdown \"## \" for each subheader; the subheader TEXT itself in Dutch. Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical).",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          896,
          624
        ],
        "id": "fd8e03ae-b234-411b-a637-377b6e5b661d",
        "name": "Set Runner Up Prompt"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.runner_up_prompt }}",
          "batching": {}
        },
        "id": "d92dfe34-c58e-4142-b4d4-c1ccc61dc9f8",
        "name": "Runner Up Analysis",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1120,
          624
        ]
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.6",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          384,
          1680
        ],
        "id": "0f811083-0b01-4779-9de1-331f668fe5b1",
        "name": "OpenRouter Chat Model3",
        "credentials": {
          "openRouterApi": {
            "id": "gGM2sOHB72WgN7UU",
            "name": "OpenRouter account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse Runner-Up Careers (Markdown format with CAREER_SPLIT delimiter)\nconst input = $input.first().json.text;\n\n// Get report_id from the same node that Split Top3 uses\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\nconst __lr = $('Get Report Language').first().json; const __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\n\n\n// Split by the delimiter\nconst careerBlocks = input.split('---CAREER_SPLIT---').map(block => block.trim()).filter(Boolean);\n\nconst results = careerBlocks.map((block, index) => {\n  // Extract career title (first # heading, not ## subheaders)\n  const titleMatch = block.match(/^# ([^#].+)$/m);\n  const career_title = titleMatch ? titleMatch[1].trim() : `Career ${index + 1}`;\n\n  // Extract alternative titles and company size\n  const altTitlesMatch = block.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n  const alternate_titles = altTitlesMatch ? altTitlesMatch[1].trim() : '';\n  const company_size_type = altTitlesMatch ? altTitlesMatch[2].trim() : '';\n\n  // Extract compatibility score\n  const scoreMatch = block.match(/\\*\\*Compatibility score: (\\d+)\\/100\\*\\*/);\n  const score = scoreMatch ? parseInt(scoreMatch[1], 10) : null;\n\n  const moveMatch = block.match(/<!--move:(.*?)-->/i);\n  const move = moveMatch ? moveMatch[1].trim() : null;\n\n  // Build content language-agnostically: from the first \"## \" subheader\n  // onward, drop any trailing \"**More details\" footer, and convert every\n  // \"## X\" header to <h5>X</h5>. Works for English and Dutch headers alike.\n  let __body = block;\n  const __fh = __body.search(/^##\\s+/m);\n  if (__fh >= 0) __body = __body.slice(__fh);\n  __body = __body.split(/\\n\\*\\*More details/)[0];\n  const sections = __body.replace(/^##\\s+(.+?)\\s*$/gm, '<h5>$1</h5>').replace(/<!--move:.*?-->/gi, '').trim();\n\n  // Return one item per career (matches report_sections table structure)\n  return {\n    json: {\n      title: `<h3><strong>${career_title}</strong></h3>`,\n      alternate_titles: alternate_titles ? `<strong>Alternate titles:</strong> ${alternate_titles}` : '',\n      company_size_type: company_size_type ? `<h4><strong>${company_size_type}</strong></h4>` : '',\n      content: sections,\n      score: score,\n      report_id: reportId,\n      metadata: move ? { move } : null,\n      section_type: \"runner_ups\",\n      order_number: index + 1,\n      language: __lang\n    }\n  };\n});\n\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1472,
          624
        ],
        "id": "6e8e1b2c-b238-4d16-b0e8-f3a3451929a6",
        "name": "Parse runner up"
      },
      {
        "parameters": {
          "tableId": "report_sections",
          "dataToSend": "autoMapInputData"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1696,
          624
        ],
        "id": "1f954c89-a292-4c95-b619-07bffec45458",
        "name": "Insert Runner Ups",
        "credentials": {
          "supabaseApi": {
            "id": "jYr9UcuCbwO8Um80",
            "name": "SB Cairnly (n8n cred)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Prepare data for Dream Job Feasibility prompt\nconst trigger = $('When Executed by Another Workflow').first().json;\nreturn [{\n  json: {\n    'Top 3 careers': trigger.top_3_careers_str,\n    'Runner up careers': trigger.runner_up_careers_str,\n    'Outside box careers': trigger.outside_box_careers_str\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -64,
          928
        ],
        "id": "967c19be-18a5-47c8-9b3f-5e3381045b30",
        "name": "Dream prep"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=# ROLE\nYou are an expert career strategist specializing in \"The Bridge Pivot\"—evaluating the feasibility of unconventional dream jobs for professionals while maintaining their professional seniority and financial viability.\n\n# TASK\nAnalyze the feasibility of the candidate's Dream Job(s) as listed in the \"Career Goals & Aspirations\" section of Input 1. Analyze at most the first 3 dream jobs the candidate listed; if more are present, focus on the 3 most prominent. You must provide a balanced analysis that respects the dream while being intellectually honest about the \"Executive Reality.\"\n\n## ANALYSIS DIMENSIONS\n1. **Personality Suitability:** Does the dream job align with their 4-point scales (2a, 2g, 5f) and social energy profile?\n2. **The \"Executive Pivot\" Suggestion:** Instead of just analyzing the entry-level dream, suggest how they could leverage their 14+ years of experience within that field (e.g., instead of just \"Yoga Instructor,\" suggest \"Founder of a Boutique Wellness Studio Chain\").\n3. **Regional & Future Context:** Specifically consider the 2026 economic landscape of Northern and Western Europe (e.g., Netherlands, Germany, Scandinavia) including AI's impact and regional salary trends.\n4. **Path Type Reality:** Identify whether the dream job (or its Executive Version) is realistically an employee role, independent practice (freelance/fractional), or a founder path. Each carries different realities — founder paths require capital and 1-3 year builds; freelance demands client acquisition; employee paths depend on hiring cycles. The \"Steps for Pursuing This Role\" section must reflect the real path type, not generic career steps.\n\n**TONE:**\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Active voice, second person. Use 'you' and occasionally their name to adress them!\n\n# CRITICAL FORMATTING REQUIREMENTS\n- If there are multiple dream jobs, separate each job analysis with: ---DREAM_JOB_SPLIT---\n- At the very end of each dream job (before ---DREAM_JOB_SPLIT---), output its Move rating (reskilling effort to pursue it, AI-adjusted) as a hidden HTML comment exactly like <!--move:Retrain--> with ONE of: Ready now (skills already fit), Reframe (gap is positioning not skills), Upskill (a real learning gap), Retrain (a large gap or a new field). Dream jobs are often Upskill or Retrain. Never show the rating any other way.\n- Start directly with the first job title using the ## header.\n- **Strictly DO NOT use the em dash (—)** in your narrative. Use colons, commas, or parentheses instead.\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Keep bullets to a maximum of 3 per section for scannability.\n- No intro or outro: start with the first Title immediately.\n\n# OUTPUT FORMAT\n\n## [Dream Job Title]\n\n**Overview**\n[A conversational 2-sentence intro explaining why this dream resonates with their profile, written as if speaking directly to a peer.]\n\n**Feasibility Rating**\n**[Rating]**: [One-sentence \"Bottom Line\" reason for this rating.]\n\nThe rating must be exactly one of these five labels, copied verbatim, with the WHOLE rating in bold (including both words of a hyphenated range): **Low** | **Low - Moderate** | **Moderate** | **Moderate - High** | **High**. Follow it with a colon, a space, and the one-sentence reason.\nCorrect: **Low - Moderate**: Acting as a profession needs a long runway before stable income.\nWrong: \"**Low** - Moderate: ...\" (only half bold), or \"Low - Moderate: ...\" (not bold at all).\n\n**Personality & Energy Fit**\n- [Bullet 1: Alignment with Social Energy (2a) and Stress Response (2i)]\n- [Bullet 2: Alignment with Work Style (2g) and Deadline Approach (5f)]\n- [Bullet 3: Impact on burnout recovery vs. their natural \"Competence Trap\"]\n\n**The \"Executive Version\" Suggestion**\n- [Bullet 1: Suggest a specific role in this field that utilizes their current seniority (e.g. Director, Owner, Strategist)]\n- [Bullet 2: Explain how this version solves the \"Low Salary\" or \"Low Intellectual Stimulus\" risk of the base dream job]\n- [Bullet 3: Note if this executive version already appeared in their Top 15 or OTB lists for validation]\n\n**Industry Outlook & Regional Trends**\n- [Bullet 1: 2026 salary expectations in Northern/Western Europe for this specific field]\n- [Bullet 2: AI Impact: Describe how AI is transforming or protecting this role (Human-centric vs. Automated)] - see below\n- [Bullet 3: Regional demand or barriers in Europe (e.g. certifications, linguistic needs, or market saturation)]\n\n**Steps for Pursuing This Role**\n- [Bullet 1: Immediate low-stakes action to \"test\" the dream job]\n- [Bullet 2: Critical certification or education required in the European market]\n- [Bullet 3: A \"Portfolio Career\" suggestion to bridge the financial gap during transition]\n\n*Heads-up: [Only include if the base dream job salary is significantly lower than their target range.]*\n\n---DREAM_JOB_SPLIT---\n\n\n# INPUTS\n1. Where to extract the dreamjob(s)\n{{ $('When Executed by Another Workflow').first().json.interests_history_text }}\n2. top 3 careers\n{{ $json['Top 3 careers'] }}\n3. runner up careers\n{{ $json['Runner up careers'] }}\n4. Out of box careers\n{{ $json['Outside box careers'] }}\n\n\n\n## AI impact rating scale\n\n[1-2 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write in Dutch: informal je-form, no em-dashes, Dutch formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up). Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical).\nKeep the ---DREAM_JOB_SPLIT--- delimiter exactly. Use these EXACT Dutch subheaders instead of the English ones:\n  Overview -> Overzicht\n  Feasibility Rating -> Haalbaarheidsscore\n  Personality & Energy Fit -> Aansluiting op persoonlijkheid en energie\n  The Executive Version Suggestion -> De executive-versie\n  Industry Outlook & Regional Trends -> Sectorvooruitzichten en regionale trends\n  Steps for Pursuing This Role -> Stappen om deze rol na te streven",
          "batching": {}
        },
        "id": "231cb4d5-638c-40a8-acbb-8c54c1cc51cd",
        "name": "Dream Job Feasibility",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1120,
          928
        ]
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.6",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          112,
          1680
        ],
        "id": "3cb7af92-065a-4b07-9360-e82a13b3f169",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "gGM2sOHB72WgN7UU",
            "name": "OpenRouter account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Get report_id from upstream node\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\n\n// Get the dream jobs text from the upstream node\nconst fullText = $json.text;\n\n// Subheaders to convert to h5 tags\nconst __lr = $('Get Report Language').first().json;\nconst __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\nconst DREAM_JOB_SUBHEADERS_ALL = {\n  en: [\"Overview\",\"Feasibility Rating\",\"Personality & Energy Fit\",\"The Executive Version Suggestion\",\"Industry Outlook & Regional Trends\",\"Steps for Pursuing This Role\"],\n  nl: [\"Overzicht\",\"Haalbaarheidsscore\",\"Aansluiting op persoonlijkheid en energie\",\"De executive-versie\",\"Sectorvooruitzichten en regionale trends\",\"Stappen om deze rol na te streven\"]\n};\nconst DREAM_JOB_SUBHEADERS = DREAM_JOB_SUBHEADERS_ALL[__lang];\n\nfunction formatDreamJobContent(content) {\n  let formatted = content;\n  \n  DREAM_JOB_SUBHEADERS.forEach(subheader => {\n    /**\n     * Updated Regex:\n     * 1. Looks for the subheader at the start of the string or after a newline\n     * 2. Allows for optional Markdown stars (**)\n     * 3. Allows for an optional colon (:)\n     * 4. Ensures it matches the whole line to avoid replacing the word mid-sentence\n     */\n    const regex = new RegExp(`(^|\\\\n)\\\\*?\\\\*?${subheader}\\\\*?\\\\*?:?\\\\s*(\\\\n|$)`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n  \n  // Convert markdown bold to <strong> — covers the feasibility rating,\n  // which the prompt now bolds in full.\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n  \n  return formatted.trim();\n}\n\nfunction parseDreamJob(content) {\n  const lines = content.trim().split('\\n');\n  let title = '';\n  let contentStartIndex = 0;\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    // Match ## Title or just \"Chief Product Officer\" if it's the very first line\n    if (line.match(/^##\\s*.+$/) || (i === 0 && line.length > 0)) {\n      title = line.replace(/^##\\s*/, '').trim();\n      contentStartIndex = i + 1;\n      break;\n    }\n  }\n  \n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n  \n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatDreamJobContent(rawContent);\n  \n  return {\n    title: title || 'Dream Job',\n    content: formattedContent\n  };\n}\n\nconst dreamJobSections = fullText.split('---DREAM_JOB_SPLIT---');\nconst cleanSections = dreamJobSections.filter(section => section.trim().length > 0);\n\nconst records = cleanSections.map((section, index) => {\n  const parsed = parseDreamJob(section);\n  const moveMatch = section.match(/<!--move:(.*?)-->/i);\n  const move = moveMatch ? moveMatch[1].trim() : null;\n  const content = parsed.content.replace(/<!--move:.*?-->/gi, '').trim();\n  \n  return {\n    json: {\n      section_type: \"dream_jobs\",\n      title: `<h3>${parsed.title}</h3>`,\n      content: content,\n      metadata: move ? { move } : null,\n      report_id: reportId,\n      order_number: index + 1,\n      language: __lang\n    }\n  };\n});\n\nreturn records;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1472,
          928
        ],
        "id": "04111827-9e37-4db8-a7cf-8e53003d4d90",
        "name": "Parse Dream"
      },
      {
        "parameters": {
          "tableId": "report_sections",
          "dataToSend": "autoMapInputData"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1696,
          928
        ],
        "id": "66e20bd2-df47-4eb3-865d-1fd266ff0482",
        "name": "Insert dream",
        "credentials": {
          "supabaseApi": {
            "id": "jYr9UcuCbwO8Um80",
            "name": "SB Cairnly (n8n cred)"
          }
        }
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2272,
          608
        ],
        "id": "02dc6615-008d-446b-a999-e1357ac8bc97",
        "name": "Complete merge"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://pcoyafgsirrznhmdaiji.functions.supabase.co/analysis-completed",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "= { \"report_id\": \"{{ $('When Executed by Another Workflow').first().json.report_id }}\" }",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2496,
          624
        ],
        "id": "f2075da1-bebb-4ab5-a08e-9a5d5bf18cfb",
        "name": "HTTP Request",
        "executeOnce": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "aiABzg04zbeDSXRc",
            "name": "Supabase Edge Functions — Shared Secret"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-6",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1120,
          464
        ],
        "id": "1e239ace-b324-40cd-aecd-ad1ec2ba4a26",
        "name": "Anthropic Chat Model",
        "credentials": {
          "anthropicApi": {
            "id": "RhTKhZPWZ6gcGD13",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-6",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1120,
          784
        ],
        "id": "24281098-2118-4664-b89b-7a2ecd5ca9b8",
        "name": "Anthropic Chat Model1",
        "credentials": {
          "anthropicApi": {
            "id": "RhTKhZPWZ6gcGD13",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-6",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1120,
          1072
        ],
        "id": "4f6a8057-64a9-4218-aed5-507716a6e05e",
        "name": "Anthropic Chat Model2",
        "credentials": {
          "anthropicApi": {
            "id": "RhTKhZPWZ6gcGD13",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/report_sections?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=language&limit=1",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -480,
          624
        ],
        "id": "16814ad9-c418-46eb-a48e-f5f93c96eb1b",
        "name": "Get Report Language",
        "alwaysOutputData": true,
        "executeOnce": true,
        "credentials": {
          "supabaseApi": {
            "id": "jYr9UcuCbwO8Um80",
            "name": "SB Cairnly (n8n cred)"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get Report Language",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Top 3 only": {
        "main": [
          [
            {
              "node": "Pull enriched T3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pull enriched T3": {
        "main": [
          [
            {
              "node": "t3 content order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "t3 content order": {
        "main": [
          [
            {
              "node": "T3 enr. combined",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "T3 enr. combined": {
        "main": [
          [
            {
              "node": "T3 Careers Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "T3 Careers Prompt": {
        "main": [
          [
            {
              "node": "Top 3 Careers Generator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Top 3 Careers Generator": {
        "main": [
          [
            {
              "node": "Split Top3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Top3": {
        "main": [
          [
            {
              "node": "Insert Top 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Top 3": {
        "main": [
          [
            {
              "node": "Complete merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "4-10 only": {
        "main": [
          [
            {
              "node": "Pull Runner up",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pull Runner up": {
        "main": [
          [
            {
              "node": "Combine runners",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combine runners": {
        "main": [
          [
            {
              "node": "Set Runner Up Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Runner Up Prompt": {
        "main": [
          [
            {
              "node": "Runner Up Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Runner Up Analysis": {
        "main": [
          [
            {
              "node": "Parse runner up",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model3": {
        "ai_languageModel": [
          []
        ]
      },
      "Parse runner up": {
        "main": [
          [
            {
              "node": "Insert Runner Ups",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Runner Ups": {
        "main": [
          [
            {
              "node": "Complete merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Dream prep": {
        "main": [
          [
            {
              "node": "Dream Job Feasibility",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dream Job Feasibility": {
        "main": [
          [
            {
              "node": "Parse Dream",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          []
        ]
      },
      "Parse Dream": {
        "main": [
          [
            {
              "node": "Insert dream",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert dream": {
        "main": [
          [
            {
              "node": "Complete merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Complete merge": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Top 3 Careers Generator",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Runner Up Analysis",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Dream Job Feasibility",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get Report Language": {
        "main": [
          [
            {
              "node": "Dream prep",
              "type": "main",
              "index": 0
            },
            {
              "node": "4-10 only",
              "type": "main",
              "index": 0
            },
            {
              "node": "Top 3 only",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Sjoerd Geurts",
    "name": "Version df2b7b06",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-19T11:58:59.869Z",
        "id": 1387,
        "workflowId": "seWmQPFQqIe60TkU",
        "versionId": "df2b7b06-53bc-41ba-9419-da6f4e0c383a",
        "event": "activated",
        "userId": "b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"
      }
    ]
  }
}
