n8n_wfs_cairnly/WF4_pristine_20260706.json
{"updatedAt":"2026-07-06T08:53:36.913Z","createdAt":"2026-05-30T21:51:11.250Z","id":"seWmQPFQqIe60TkU","name":"WF4 - Career selection NL/EN","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,624],"id":"8272e7dc-ec6d-440f-867b-3b96e9e6b0b3","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Prep top 3 data + build RPC body for Pull enriched T3\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst careers = trigger.top_3_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  top_3_careers: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,320],"id":"3bc84633-d425-4df7-9fac-52d423e7f44f","name":"Top 3 only"},{"parameters":{"url":"=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=*","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,320],"id":"de520df6-8d37-4912-8336-e53fbc2f1be2","name":"Pull enriched T3","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// n8n Function Node - Fast reordering for LLM consumption\n// No expensive formatting - LLMs handle mixed data formats well\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json.career_data || item.json;\n  \n  // Simple reordering - no array formatting or parsing\n  return {\n    json: {\n      // === PRIMARY INFORMATION ===\n      career_title: data.career_title,\n      overview: data.overview,\n      salary: data.salary,\n      company_size_type: data.company_size_type,\n      \n      // === CORE WORK DETAILS ===\n      typical_tasks: data.typical_tasks,\n      technical_skills: data.technical_skills,\n      soft_skills: data.soft_skills,\n      education_requirements: data.education_requirements,\n      \n      // === WORK ENVIRONMENT ===\n      work_schedule: data.work_schedule,\n      autonomy_vs_collaboration: data.autonomy_vs_collaboration,\n      client_interaction: data.client_interaction,\n      colleague_interaction: data.colleague_interaction,\n      \n      // === CAREER DEVELOPMENT ===\n      career_progression: data.career_progression,\n      motivational_factors: data.motivational_factors,\n      leadership_challenges: data.leadership_challenges,\n      \n      // === METADATA ===\n      id: data.id,\n      ai_impact_rating: data.ai_impact_rating,\n      created_at: data.created_at,\n      updated_at: data.updated_at\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,320],"id":"198c1088-1574-4b85-9dbe-8e20ead8c045","name":"t3 content order"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"top3_enriched_combined","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[672,320],"id":"9e2da11f-1d0d-41ee-b952-cb4413c8f209","name":"T3 enr. combined"},{"parameters":{"assignments":{"assignments":[{"id":"top_3_careers_prompt_assignment","name":"top_3_careers_prompt","value":"=# Hyper-Personalized Top 3 Careers Generator\n\nYou are Cairnly, creating personalized career insights. Tone: business casual, direct, honest. Connect everything to their actual happiness data, constraints, and patterns.\n\n---\n\n## Output Structure (Each Career):\n\n# [career_title] 'e.g. Program Manager'\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n\n## Overview\n[ONE or TWO sentences, max 35 words. Plain-English definition of the role for someone who has never heard the title. No fit, no trade-offs, no tasks.]\n\n## Why this role fits you\n[80-120 words. Build the fit from these signals, in this order of priority:\n1. Top values [3a] and how this role expresses them\n2. Pattern analysis — REQUIRED. The narrative MUST contain the literal phrase \"extends your X/10 [role name]\" OR \"avoids the Y/10 [role name] pattern\" at least once, where X and Y are the actual happiness scores from the sentiment log. Soft references like \"you're returning to\" or \"similar to your past\" do NOT satisfy this rule.\n3. Why this specific company size/type fits their stated preferences [2a, 2g, 3d] or constraints [1n]\n4. Sentiment quote, ONLY if substantive enough to add color beyond what 1–3 already say\nKeep to 2–4 sentence paragraphs.]\n\n## What you'll actually do\n[3-4 bullets, 70-90 words total. Pure tasks from typical_tasks, framed through the user's lens. Do NOT re-describe what the role is — Overview already did that.]\n\nEVERY bullet MUST start with a short bolded label (2-5 words) followed by a period and then the framed explanation. No exceptions.\n\n- **[Short task label]:** [task framed through their experience/skills]\n- **[Short task label]:** [task connected to what energizes them]\n- **[Short task label]:** [task that uses their specific background]\n\nExample:\n- **Write game design docs.** This draws on your Figma skills and board game design background.\n- **Run playtesting sessions.** Your direct communication style extracts honest feedback, not polite non-answers.\n\n## The Reality Check\n[2-4 bullets, 80-110 words total. Vary the count per career. Do not default to 4.]\n\n⚠ **[Challenge specific to THIS career].** [1-2 sentences]\n\nEVERY bullet MUST start with a bolded label (3-7 words) after the ⚠ symbol, followed by the explanation. If you write `⚠ Client feedback will test you regularly.` you have violated this rule. Correct form: `⚠ **Client feedback loops test you.** [explanation]`. No exceptions.\n\nEvery bullet must surface a risk specific to this career and this person. Before writing each one, ask: \"Could this exact bullet be pasted onto a different career?\" If yes, sharpen it or cut it.\n\nRules:\n- Lead with the risk most unique to this career's market, role, or path. Not a generic personality trait.\n- You may use ONE personality or development gap per career, and only when it sharpens a career-specific risk. Do NOT reuse the same personality flag across careers. If \"difficulty receiving feedback\" anchored career 1, use a different angle for careers 2 and 3.\n- Do NOT mention money, income variability, or time-to-stable-income here. That lives only in \"The practical stuff > Money\". The Reality Check covers behavioral, market, and role risks, not the salary timeline. (Reskilling effort and a rough reskilling time horizon ARE allowed here — that is about learning, not salary.)\n- No false balance. If a career has only 2 real risks, write 2.\n- **Reskilling reality (required when there's a real skill/credential gap):** if the role needs skills or credentials the candidate lacks (judge against [1h], [1j], [1l]), ONE bullet MUST name the specific gap, the realistic route to close it (portfolio, course, certification, on-the-job), and a rough time horizon. Be concrete: not \"you have transferable skills\" but \"A and B are missing; the realistic path is C over ~N months.\" **Factor in the AI reality:** AI-assisted learning can meaningfully compress reskilling timelines, and some gaps matter less because every role is becoming AI-augmented in some way (a task AI increasingly handles is a smaller barrier to entry). Judge the gap against this new reality, not pre-AI assumptions, while staying honest that genuine gaps still take real effort.\n- **Age and career stage:** weigh the move against their age [1c] and where they are in their career. A long, from-scratch reskill reads differently at an established stage (time-to-payoff, opportunity cost). State this as honest planning context, never as a limit on capability.\n\nExamples (each tied to a specific market or role, not a generic trait):\n- ⚠ **Directory fatigue is real.** The AI tools space is flooded with low-quality directories. Differentiation needs consistent, opinionated takes, which makes your \"Creative Storytelling\" strength the moat, not a nice-to-have.\n- ⚠ **Finance oversight is unavoidable.** You avoid \"finance-related work\" but boards require P&L review. Based on Strategic Finance (5/10), this is tolerable but not energizing.\n- ⚠ **Business development never stops.** You close this month and still need next quarter's pipeline. Discovery calls and founder networking are the job, alongside delivery.\n\n**Special cases:**\n- **If path_type is `freelance_fractional` or `founder`:** one bullet MUST cover the client acquisition or business development load, framed as a behavioral and workload reality. Do NOT frame it as income timing. This rule keys off `path_type` only. A `company_size_type` containing \"Boutique\" or \"Own Company\" does NOT trigger it. A boutique EMPLOYEE has no BD load; a fractional consultant DOES, regardless of whether their clients are boutiques or enterprises.\n- **If HIGH burnout risk:** lead with the burnout warning and adjust the bottom line.\n- **If recreates low pattern:** address it in \"Why this role fits you\", not here.\n- **If the role is a hard pivot (large skill/credential gap or a new field):** the reskilling bullet above is mandatory, and the realism must be explicit and grounded — do not gloss it with \"this extends your pattern.\"\n\n## The practical stuff\n\n**Money:** [Salary range, or day rate / revenue model, in the region's currency.] [One sentence: does it hit their target bracket? For freelance_fractional or founder, this is also where income variability and realistic time-to-stable-income or build horizon belong.] Do not open with \"No salary data\". If there is no fixed salary, state the day-rate range or revenue model directly.\n\n**Schedule:** [Work schedule] [One sentence: work with constraints?]\n\n**Energy:** [Interaction level] [One sentence: match social energy?]\n\n**Growth:** [1 sentence on career_progression from enriched data. Where does this lead?]\n\n## How AI will impact this role\n[2-3 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n## Future-proof skills\n[Exactly 2 bullets, max 35 words total. The concrete skills or moves that keep THIS candidate on the valuable side of the AI shift in THIS role. Specific to them, never generic \"develop soft skills\". Scale the ambition to the AI impact rating directly above:\n- Minimal / Moderate: what to double down on to stay the judgment layer AI cannot replace (decision ownership, stakeholder trust, taste, domain depth).\n- High: the shift to make now, from doing the work by hand to briefing, directing, and quality-checking AI; name the orchestration or judgment skill that earns that seat.\n- Severe: the one capability that keeps them in a shrinking set of seats (owning outcomes, client relationships, supervising AI output, edge-case judgment).\n- Critical: the adjacent, more defensible move and the transferable skill that bridges to it, i.e. where to go next, not how to survive in place.\nTie it to their AI familiarity (summary 4e): if already AI-fluent, push them to lead AI adoption; if not, the first step is getting hands-on with the AI tools this role already uses. Keep this heading in English exactly as written, in every language. Each bullet starts with a short bolded label:]\n- **[Skill or move]:** [one concrete line]\n- **[Skill or move]:** [one concrete line]\n\n## Alignment with your ambitions\n[40-60 words. Connect this role to their STATED goals, not their happiness pattern. Name their short-term goal AND long-term ambition (from the candidate summary), then judge honestly whether this role is a stepping-stone toward them, the destination itself, or a detour away from the long-term goal. Use the trajectory_fit reasoning from the enriched data if present.\n\nHard rules:\n- Anchor on their stated short-term and long-term ambitions — NOT the sentiment/happiness scores.\n- Do NOT reuse the \"extends your X/10 [role]\" pattern phrasing here. That belongs ONLY in \"Why this role fits you.\" Repeating it here is a violation.\n- Always name the honest catch relative to their LONG-TERM ambition: is this the finish line, or a bridge to it?\n- Factor their age and career stage [1c] into the honest read: a multi-year reskill or from-scratch pivot changes the calculus at an established stage (time, opportunity cost). Keep it realistic and respectful — about trade-offs and timing, not capability.]\n\nExample: \"This serves your short-term goal of building AI and product skills in a real setting. But your long-term ambition is full autonomy and your own company, so treat this as a 2-3 year platform, not the finish line.\"\n\n\n## Comparison Data\n\nAs the LAST thing in each career (after the \"More details...\" line, before the career split), output one fenced ```json code block. The platform reads this to render a visual comparison and a written explanation — it is never shown to the candidate as raw text. Always include it.\n\n### fit_scores — every career\n\nRate THIS career from 1 to 5 on each axis. The score is FIT FOR THIS CANDIDATE — 5 = excellent fit, 1 = poor fit — judged against their Initial Summary (values, constraints, energy, work preferences, sentiment log):\n\n- **autonomy** — does the role's independence match their need for autonomy?\n- **social** — does the people and interaction load sit within their social energy? (5 = comfortably within their limit, 1 = will drain them)\n- **pace** — does the pace and pressure match their stress tolerance? (5 = comfortable, 1 = high-pressure mismatch)\n- **stability** — does the income and path stability match their security needs and stated constraints?\n- **schedule** — does the working schedule match their work-life-balance needs?\n\nScore all three careers on ONE consistent scale — they are generated together, so a 4 on \"social\" must mean the same thing across all three.\n\n### comparison — career 2 and career 3 ONLY\n\nCareer 1 omits this entirely (the candidate has not seen the other careers yet). Career 2 compares to career 1. Career 3 compares to careers 1 and 2.\n\n- **headline** — one sentence naming the single biggest way THIS career differs from the earlier one(s). Direct, no hedging.\n- **explanation** — 120 to 170 words. Walk the candidate through how this career genuinely differs and what that means for them. Ground it in the axes where the fit scores differ most — those are the real differences. Shown when they ask to compare, so write it as a direct, helpful reply, same voice and Writing Rules as the rest of the output.\n- not bullet-heavy. Keep paragraphs short (2 to 4 sentences) with a blank line between them, so longer answers stay easy to read on screen.\n\n### move — every career\n\nRate how big a leap THIS career is for the candidate, AFTER accounting for AI (AI-assisted learning compresses reskilling timelines, and some gaps matter less as roles become AI-augmented). Judge against this reality, not pre-AI assumptions:\n- **Ready now** — their current skills and how they would present them already fit; little or no new learning, and no major repositioning needed.\n- **Reframe** — they have the skills, but the gap is positioning: repackaging their experience, CV, or how they tell their story for this role. No genuinely new skills to learn.\n- **Upskill** — a real but bridgeable skill gap; focused learning (course, certification, portfolio, or on-the-job) over months.\n- **Retrain** — a large skill or credential gap, or a new field; substantial reskilling.\n\n### Format\n\nCareer 1:\n```json\n{\"fit_scores\":{\"autonomy\":5,\"social\":5,\"pace\":5,\"stability\":2,\"schedule\":4},\"move\":\"Ready now\"}\n```\n\nCareer 2 and Career 3:\n```json\n{\"fit_scores\":{\"autonomy\":4,\"social\":2,\"pace\":2,\"stability\":4,\"schedule\":4},\"move\":\"Upskill\",\"comparison\":{\"headline\":\"One-sentence main difference.\",\"explanation\":\"Full 120-170 word explanation here.\"}}\n```\n\nOutput valid JSON only inside the block — no comments, no trailing commas. This block does not count toward the per-career word target.\n\n---CAREER_SPLIT---\n\n## Path Type Framing (Critical for honesty)\n\nEach enriched career has a `path_type` field: `employee`, `freelance_fractional`, or `founder`. Some legacy careers may have `null` or `\"N/A\"` — treat those as `employee`.\n\nThe path_type fundamentally shapes how the candidate must approach this career. Adjust framing accordingly:\n\n**employee** — applying for a role at someone else's company.\n- \"What you'll actually do\" describes role-defined responsibilities\n- \"The practical stuff → Schedule\" is the company's standard expectation\n- \"Alignment with your ambitions\" describes typical next titles or growth paths\n\n**freelance_fractional** — independent contractor, fractional exec, advisor, board member.\n- \"What you'll actually do\" includes pipeline, contracting, and self-marketing alongside delivery\n- \"The practical stuff → Money\" notes income variability and time-to-stable-income\n- \"The Reality Check\" must include a client acquisition or business development bullet, framed as a behavioral and workload reality. Do NOT put income variability here. That belongs in Money.\n\n**founder** — starting a company or solo practice with capital and time risk.\n- \"What you'll actually do\" includes selling, hiring, financing, and building product/service alongside doing the work\n- \"The practical stuff → Money\" must mention 1-3 year build horizon and validation period before stable income\n- \"The Reality Check\" must include capital risk and the \"validate before quitting\" reality, framed as a risk-tolerance and decision question. Keep the build-horizon timeline itself in Money, not here.\n- \"Alignment with your ambitions\" describes scaling, exiting, or evolving the model — not climbing a ladder\n\nUse the `path_type_notes` field from the enriched career as the source of truth for path-specific honesty (income horizons, validation requirements). Quote or paraphrase it where natural rather than inventing framing.\n\n## Writing Rules:\n\n**Tone:**\n- Direct: \"This gives you X\" not \"provides an opportunity\"\n- No hedging: \"You'll struggle with Y\" not \"might present challenges\"\n- Short paragraphs (2-4 sentences)\n- adhere to the would limit restrictions! 500-600 words total per career!\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Checkmarks ✓ and warning ⚠ symbols in bold!\n* if using bulletpoints, make the bullet lable bold for readability and emphasis \n\n**Avoid:**\n- Flattery: valuable, impressive, exceptional, unique, perfect\n- Corporate: serves you well, positions you, meaningful impact, leverage\n- Qualifiers: \"The fact that...\", \"It's worth noting...\"\n- Mixing currencies. Stick with the regions currency, consistently!\n- Em-dashes (—). NEVER use em-dashes in output. Use commas, periods, colons, parentheses, or sentence breaks instead. This applies to every section.\n\n**Required connections (every career):**\n- 1+ sentiment log [1k] reference, treated as supporting evidence — not the spine of the section\n- Quote the candidate's comment verbatim ONLY when it carries specific meaning (a phrase, a reason, an emotion). If the comment is generic or one word, paraphrase or skip the quote and lean on score + pattern instead.\n- Never quote a bare score in isolation. A score must always be paired with either (a) the candidate's comment, (b) an extend/recreate pattern, or (c) a constraint or value.\n- Top values [3a]\n- 1+ constraint [1n] or preference [2a, 2g, 3d]\n- 1 development gap from Personality Analysis\n- Pattern analysis (extend/recreate)\n- Compatibility score always in XX/100 e.g. 92/100 format!\n\n**Target: 500-600 words per career**\n\n---\n\n## Inputs:\n\n**CAI Score Analysis (incl compatibility score):**\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.top_3_careers) }}\n\n**Top 3 Enriched Careers:**\n{{ JSON.stringify($json.top3_enriched_combined) }}\n\n**Initial Summary:**\n{{ $('When Executed by Another Workflow').first().json.init_summary_content }}\n\n\n---\n\nGenerate all 3 careers now. Use \"---CAREER_SPLIT---\" between (not before first or after last).\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write all PROSE in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up).\nKeep these EXACTLY as specified (English / structured) so downstream parsing keeps working:\n- the ---CAREER_SPLIT--- delimiter between careers\n- the \"# \" career-title line, the \"**Alternative titles:** ... | **At:** ...\" line, and \"**Compatibility score: NN/100**\"\n- any final ```json``` comparison block (keys and values stay exactly as specified)\nUse Markdown \"## \" for each subheader; the subheader TEXT itself in Dutch. Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical). Keep the \"Future-proof skills\" subheader in English (do not translate it).","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,320],"id":"0543a3cd-fd28-4929-ba2b-9bdaa39368fd","name":"T3 Careers Prompt"},{"parameters":{"promptType":"define","text":"={{ $json.top_3_careers_prompt }}","batching":{}},"id":"2cd75cb0-f79a-4b43-b9b4-f4bbb0a69abe","name":"Top 3 Careers Generator","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,320]},{"parameters":{"jsCode":"// Get the input text\nconst fullText = $json.text;\n// Get report_id from trigger\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\nconst __lr = $('Get Report Language').first().json; const __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\n\n\n// Subheaders to convert to h5 tags (must match ACTUAL AI output headers)\nconst CAREER_SUBHEADERS = [\n  \"Overview\",\n  \"Why this role fits you\",\n  \"What you'll actually do\",\n  \"The Reality Check\",\n  \"The practical stuff\",\n  \"How AI will impact this role\",\n  \"Future-proof skills\",\n  \"Alignment with your ambitions\"\n];\n\n// Pull the machine-readable comparison JSON out of a career chunk.\n// The model appends it as a fenced ```json block, last thing in the career.\n// Returns { metadata, cleanedText }. On ANY failure metadata is null, so a\n// missing or malformed block degrades gracefully and never breaks the report.\nfunction extractMetadata(careerText) {\n  let raw = null;\n  let matchedBlock = null;\n\n  // Preferred: a fenced code block (```json ... ``` or ``` ... ```).\n  // Take the LAST one — the comparison block is the last thing in the career.\n  const fenceRegex = /```(?:json)?\\s*([\\s\\S]*?)```/gi;\n  let m;\n  while ((m = fenceRegex.exec(careerText)) !== null) {\n    raw = m[1];\n    matchedBlock = m[0];\n  }\n\n  // Fallback: a bare { ... } span (model dropped the fence).\n  if (raw === null) {\n    const bm = careerText.match(/\\{[\\s\\S]*\\}/);\n    if (bm) {\n      raw = bm[0];\n      matchedBlock = bm[0];\n    }\n  }\n\n  if (raw === null) {\n    return { metadata: null, cleanedText: careerText.replace(/\\n+\\s*\\*{0,2}More details[^\\n]*\\s*$/i, '').trim() };\n  }\n\n  let metadata = null;\n  try {\n    metadata = JSON.parse(raw.trim());\n  } catch (e) {\n    metadata = null;\n  }\n\n  const cleanedText = careerText.replace(matchedBlock, '').replace(/\\n+\\s*\\*{0,2}More details[^\\n]*\\s*$/i, '').trim();\n  return { metadata, cleanedText };\n}\n\n// Function to convert subheaders to h5 tags\nfunction formatSubheaders(content) {\n  let formatted = content;\n\n  // Convert ## headers to h5 tags\n  formatted = formatted.replace(/^## (.+)$/gm, '<h5>$1</h5>');\n\n  // Also convert bold-only subheaders from the predefined list\n  CAREER_SUBHEADERS.forEach(subheader => {\n    const regex = new RegExp(`(^|\\\\n)\\\\*\\\\*${subheader}\\\\*\\\\*:?\\\\s*`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n\n  // Clean up any leftover markdown bold markers\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '$1');\n\n  return formatted.trim();\n}\n\n// Function to extract career metadata and clean content\nfunction parseCareer(careerText) {\n  const lines = careerText.trim().split('\\n');\n  let title = '';\n  let alternateTitles = '';\n  let companySizeType = '';\n  let score = null;\n  let contentStartIndex = 0;\n\n  // Parse first few lines for metadata\n  for (let i = 0; i < Math.min(15, lines.length); i++) {\n    const line = lines[i].trim();\n\n    // Extract title - ONLY single # (career title), not ## (subheaders)\n    if (line.match(/^# [^#]/) ) {\n      title = line.replace(/^# /, '').trim();\n      contentStartIndex = i + 1;\n    } else if (line.match(/^-?\\s*Title:/i)) {\n      title = line.replace(/^-?\\s*Title:\\s*/i, '').trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n\n    // Extract alternate titles\n    if (line.match(/^\\*\\*Alternative titles:\\*\\*/i) || line.match(/^-?\\s*\\*?Alternate titles:/i)) {\n      const altMatch = line.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n      if (altMatch) {\n        alternateTitles = altMatch[1].trim();\n        companySizeType = altMatch[2].trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      } else {\n        alternateTitles = line\n          .replace(/^-?\\s*\\*?\\*?Alternative titles:\\*?\\*?\\s*/i, '')\n          .replace(/^-?\\s*\\*?Alternate titles:\\*?\\s*/i, '')\n          .replace(/\\*/g, '')\n          .trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      }\n    }\n\n    // Extract company size - standalone \"At:\" line\n    if (line.match(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i) && !line.match(/Alternative titles/i)) {\n      companySizeType = line\n        .replace(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i, '')\n        .replace(/\\*\\*/g, '')\n        .trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n\n    // Extract compatibility score\n    const scoreMatch = line.match(/\\*?\\*?Compatibility score:\\s*(\\d+)\\/100\\*?\\*?/i);\n    if (scoreMatch) {\n      score = parseInt(scoreMatch[1], 10);\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n  }\n\n  // Skip empty lines after metadata\n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n\n  // Get remaining content and format subheaders\n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatSubheaders(rawContent);\n\n  return {\n    title: `<h3><strong>${title || 'Career Option'}</strong></h3>`,\n    alternate_titles: alternateTitles ? `<strong>Alternate titles:</strong> ${alternateTitles}` : '',\n    company_size_type: companySizeType ? `<h4><strong>${companySizeType}</strong></h4>` : '',\n    content: formattedContent,\n    score: score\n  };\n}\n\n// Split by separator\nconst splitCareers = fullText.split('---CAREER_SPLIT---');\n\n// Validate we have 3 parts\nif (splitCareers.length !== 3) {\n  throw new Error(`Expected 3 careers but found ${splitCareers.length}`);\n}\n\n// Pull the comparison JSON out of each chunk BEFORE parsing the prose,\n// so the raw JSON never lands in the rendered content.\nconst meta1 = extractMetadata(splitCareers[0]);\nconst meta2 = extractMetadata(splitCareers[1]);\nconst meta3 = extractMetadata(splitCareers[2]);\n\n// Parse each career from the cleaned (JSON-stripped) text\nconst career1 = parseCareer(meta1.cleanedText);\nconst career2 = parseCareer(meta2.cleanedText);\nconst career3 = parseCareer(meta3.cleanedText);\n\n// Map to structured output with all required fields.\n// `metadata` is picked up automatically by the autoMap Supabase insert.\nreturn [\n  {\n    json: {\n      title: career1.title,\n      alternate_titles: career1.alternate_titles,\n      company_size_type: career1.company_size_type,\n      content: career1.content,\n      score: career1.score,\n      metadata: meta1.metadata,\n      report_id: reportId,\n      section_type: \"top_career_1\",\n      order_number: 1,\n      language: __lang\n    }\n  },\n  {\n    json: {\n      title: career2.title,\n      alternate_titles: career2.alternate_titles,\n      company_size_type: career2.company_size_type,\n      content: career2.content,\n      score: career2.score,\n      metadata: meta2.metadata,\n      report_id: reportId,\n      section_type: \"top_career_2\",\n      order_number: 2,\n      language: __lang\n    }\n  },\n  {\n    json: {\n      title: career3.title,\n      alternate_titles: career3.alternate_titles,\n      company_size_type: career3.company_size_type,\n      content: career3.content,\n      score: career3.score,\n      metadata: meta3.metadata,\n      report_id: reportId,\n      section_type: \"top_career_3\",\n      order_number: 3,\n      language: __lang\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,320],"id":"a8b60d92-97e1-4a7e-911d-3db2623f0198","name":"Split Top3"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1696,320],"id":"31205f90-595b-4875-b31a-44c19192b642","name":"Insert Top 3","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Prep runner up data + build RPC body for Pull Runner up\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst careers = trigger.runner_up_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  runner_up: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,624],"id":"122022e0-92c2-4f85-be97-e15f8041a485","name":"4-10 only"},{"parameters":{"url":"=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=*","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,624],"id":"40a9382b-63fa-4f84-ab79-bab144ade1e3","name":"Pull Runner up","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Combine all items into one item\nconst allItems = $input.all();\nconst allCareers = allItems.map(item => item.json);\n\nreturn [{ \n  json: { \n    allCareers: allCareers,\n    careerCount: allCareers.length \n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,624],"id":"1f86ac80-2bd4-42a4-b864-0fcd33839202","name":"Combine runners"},{"parameters":{"assignments":{"assignments":[{"id":"runner_up_prompt_assignment","name":"=runner_up_prompt","value":"=# Runner-Up Careers Generator\n\nYou are Cairnly, presenting alternative career options beyond the top 3. These scored 55+ but didn't make the final cut. Be concise and help them understand what's appealing and what the trade-offs are.\n\n---\n\n## Output Structure (Each Career):\n\n# [Career Title]\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n## Overview\n\n[25-40 words. Plain-English description of what this role actually is and does day to day — written so a reader who has never heard the job title immediately understands it. Base it on the `overview` field in the enriched career data; rephrase for clarity and brevity, do not quote verbatim. Just what the role IS — no fit or trade-offs here.]\n\n## Why this role fits you\n\n[60-80 words MAX, 1-2 short paragraphs. Assume the reader now knows what the role is from the Overview — do not re-describe the job here.]\n- What's appealing about this role and why it suits their profile\n- Why it's not Top 3 (be specific about the gap)\n\n## What works for you\n\n[3 bullets, 50-60 words total]\n\n✓ **[Benefit].** [1 sentence tied to their data]\n\n## The Reality Check\n\n[3 bullets, 50-60 words total]\n\n⚠ **[Concern].** [1 sentence]\n\n## The practical stuff\n\n**Money:** [Range - estimate if not in data]\n\n**Schedule:** [Type]\n\n**Energy:** [Interaction level]\n\n## How AI will impact this role\n[1-2 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n## Future-proof skills\n[Exactly 2 bullets, max 35 words total. Concrete skills or moves that keep THIS candidate on the valuable side of the AI shift in THIS role, specific to them, never generic. Scale the ambition to the AI impact rating directly above:\n- Minimal / Moderate: what to double down on to stay the judgment layer AI cannot replace (decision ownership, stakeholder trust, taste, domain depth).\n- High: the shift to make now, from doing the work by hand to briefing, directing, and quality-checking AI; name the orchestration or judgment skill that earns that seat.\n- Severe: the one capability that keeps them in a shrinking set of seats (owning outcomes, client relationships, supervising AI output, edge-case judgment).\n- Critical: the adjacent, more defensible move and the transferable skill that bridges to it, i.e. where to go next, not how to survive in place.\nTie it to their AI familiarity (summary 4e): if already AI-fluent, push them to lead AI adoption; if not, the first step is getting hands-on with the AI tools this role already uses. Keep this heading in English. Each bullet starts with a short bolded label:]\n- **[Skill or move]:** [one concrete line]\n- **[Skill or move]:** [one concrete line]\n\n**More details in your dashboard.**\n\n---CAREER_SPLIT---\n\n---\n\n## Path Type Framing\n\nEach career has a `path_type`: `employee`, `freelance_fractional`, or `founder`. Treat `null` or `\"N/A\"` as `employee`.\n\nIn the compact runner-up format:\n- For `freelance_fractional`: ensure one bullet in \"Reality Check\" addresses income variability or client acquisition\n- For `founder`: ensure one bullet in \"Reality Check\" addresses capital horizon and validation reality (use `path_type_notes` as source)\n- For `employee`: standard framing\n\nThe path_type already shapes the enriched data (typical_tasks, leadership_challenges, career_progression). Let those flow through naturally — no need to over-explain in the compact format.\n\n## Reskilling & Age Reality\n\nIf a runner-up needs skills or credentials the candidate lacks (judge against their experience and history), make ONE of the three Reality Check bullets the reskilling reality: name the gap and a rough time horizon (course, certification, portfolio, on-the-job). **Factor in the AI reality:** AI-assisted learning can compress reskilling timelines, and some gaps matter less because every role is becoming AI-augmented in some way, so judge the gap against this new reality, not pre-AI assumptions, while staying honest that real gaps still take real effort. Weigh a long or from-scratch reskill against their age and career stage [1c] as honest planning context (time-to-payoff, opportunity cost), never as a limit on capability. Keep it within the 50-60 word Reality Check budget; do not add a fourth bullet.\n\n## Move rating (hidden)\n\nClassify how big a leap this role is for the candidate, AI-adjusted (AI compresses reskilling; some gaps matter less as roles become AI-augmented). Pick ONE:\n- Ready now: skills and how they would present them already fit; little or no new learning.\n- Reframe: they have the skills; the gap is positioning (CV, story), not new skills.\n- Upskill: a real but bridgeable skill gap (course, certification, portfolio, on-the-job).\n- Retrain: a large skill or credential gap, or a new field.\nAt the very end of each career (after \"More details in your dashboard.\", before ---CAREER_SPLIT---), output it on its own line as an HTML comment exactly like <!--move:Upskill--> with the chosen level. Never show the rating any other way.\n\n## Critical Rules:\n\n**LENGTH LIMITS (STRICT):**\n- \"Why this role fits you\": 60-80 words MAX\n- \"What works for you\": 50-60 words (3 short bullets)\n- \"The Reality Check\": 50-60 words (3 short bullets)\n- \"The practical stuff\": 30-40 words\n- \"How AI will impact this role\": 15-20 words\n- **Total per career: 200-250 words MAXIMUM**\n\nIf running long, cut adjectives. Be terse.\n\n**MISSING DATA:**\n- If salary missing: provide estimate with \"(estimated)\"\n- If AI impact missing: assess based on role type\n- Never write \"not specified\" or \"data not available\"\n\n**TONE:**\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Shorter than Top 3 (these are backups)\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n\n**PERSONAL CONNECTIONS:**\n- Reference sentiment log if relevant\n- Cite constraints or values\n- Note why not Top 3 specifically\n- Across the runner-up careers, do not lean on the same personality gap or constraint as the lead concern each time. Vary which gap each Reality Check draws on.\n\n**FORMAT:**\n- Use exact headers shown above\n- Compatibility score always in XX/100 e.g. 92/100 format!\n- Use ✓ for benefits, ⚠ for concerns, make these bold\n* if using bulletpoints, make the bullet lable bold for readability and emphasis \n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Use ---CAREER_SPLIT--- between careers\n- Output plain markdown (not JSON)\n\n---\n\n## Examples:\n\n**Good \"Why this role fits you\" (70 words):**\n\"This extends your 9/10 advisory pattern into facilitation work - expertise delivered in bursts, then solo planning time. But it didn't make Top 3 because building a practice requires the sales work you avoid. Project-based income creates uncertainty you can't afford with young children.\"\n\n**Good bullet (15-20 words):**\n✓ **Matches your energy pattern.** Intense 2-3 day sessions followed by solo recovery time.\n\n⚠ **Sales is unavoidable.** Building clients requires networking you historically avoid.\n\n---\n\n## Inputs:\n\n**Runner-Up Careers (with compatibility_scores and patterns):**\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.runner_up_careers) }}\n\n**Enriched Career Data:**\n{{ JSON.stringify($json.allCareers) }}\n\n**Initial Summary (sentiment log [1k], constraints [1n], values [3a]):**\n{{ $('When Executed by Another Workflow').first().json.init_summary_content }}\n\n---\n\nGenerate all runner-up analyses. Use ---CAREER_SPLIT--- between careers (not before first or after last). Output markdown only.\n\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write all PROSE in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up).\nKeep these EXACTLY as specified (English / structured) so downstream parsing keeps working:\n- the ---CAREER_SPLIT--- delimiter between careers\n- the \"# \" career-title line, the \"**Alternative titles:** ... | **At:** ...\" line, and \"**Compatibility score: NN/100**\"\n- any final ```json``` comparison block (keys and values stay exactly as specified)\nUse Markdown \"## \" for each subheader; the subheader TEXT itself in Dutch. Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical).","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,624],"id":"fd8e03ae-b234-411b-a637-377b6e5b661d","name":"Set Runner Up Prompt"},{"parameters":{"promptType":"define","text":"={{ $json.runner_up_prompt }}","batching":{}},"id":"d92dfe34-c58e-4142-b4d4-c1ccc61dc9f8","name":"Runner Up Analysis","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,624]},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[384,1680],"id":"0f811083-0b01-4779-9de1-331f668fe5b1","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"gGM2sOHB72WgN7UU","name":"OpenRouter account 2"}}},{"parameters":{"jsCode":"// Parse Runner-Up Careers (Markdown format with CAREER_SPLIT delimiter)\nconst input = $input.first().json.text;\n\n// Get report_id from the same node that Split Top3 uses\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\nconst __lr = $('Get Report Language').first().json; const __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\n\n// GUARD (2026-07-05): if no runner-up careers came in from '4-10 only', the\n// upstream pool was empty. Do NOT parse the LLM output (it hallucinates a\n// \"the list is empty\" complaint). Emit one clean, controlled placeholder row.\nconst __ru = ($('4-10 only').first().json.runner_up) || [];\nif (!Array.isArray(__ru) || __ru.length === 0) {\n  const __msg = __lang === 'nl'\n    ? 'Er zijn geen aanvullende runner-up carrières geïdentificeerd die hoog genoeg scoorden. Je sterkste matches staan in je top 3 hierboven.'\n    : 'No additional runner-up careers scored high enough to include. Your strongest matches are captured in your top 3 above.';\n  return [{ json: {\n    title: '',\n    alternate_titles: '',\n    company_size_type: '',\n    content: '<p>' + __msg + '</p>',\n    score: null,\n    report_id: reportId,\n    metadata: { empty: true },\n    section_type: 'runner_ups',\n    order_number: 1,\n    language: __lang\n  } }];\n}\n\n\n// Split by the delimiter\nconst careerBlocks = input.split('---CAREER_SPLIT---').map(block => block.trim()).filter(Boolean);\n\nconst results = careerBlocks.map((block, index) => {\n  // Extract career title (first # heading, not ## subheaders)\n  const titleMatch = block.match(/^# ([^#].+)$/m);\n  const career_title = titleMatch ? titleMatch[1].trim() : `Career ${index + 1}`;\n\n  // Extract alternative titles and company size\n  const altTitlesMatch = block.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n  const alternate_titles = altTitlesMatch ? altTitlesMatch[1].trim() : '';\n  const company_size_type = altTitlesMatch ? altTitlesMatch[2].trim() : '';\n\n  // Extract compatibility score\n  const scoreMatch = block.match(/\\*\\*Compatibility score: (\\d+)\\/100\\*\\*/);\n  const score = scoreMatch ? parseInt(scoreMatch[1], 10) : null;\n\n  const moveMatch = block.match(/<!--move:(.*?)-->/i);\n  const move = moveMatch ? moveMatch[1].trim() : null;\n\n  // Build content language-agnostically: from the first \"## \" subheader\n  // onward, drop any trailing \"**More details\" footer, and convert every\n  // \"## X\" header to <h5>X</h5>. Works for English and Dutch headers alike.\n  let __body = block;\n  const __fh = __body.search(/^##\\s+/m);\n  if (__fh >= 0) __body = __body.slice(__fh);\n  __body = __body.split(/\\n\\*\\*More details/)[0];\n  const sections = __body.replace(/^##\\s+(.+?)\\s*$/gm, '<h5>$1</h5>').replace(/<!--move:.*?-->/gi, '').trim();\n\n  // Return one item per career (matches report_sections table structure)\n  return {\n    json: {\n      title: `<h3><strong>${career_title}</strong></h3>`,\n      alternate_titles: alternate_titles ? `<strong>Alternate titles:</strong> ${alternate_titles}` : '',\n      company_size_type: company_size_type ? `<h4><strong>${company_size_type}</strong></h4>` : '',\n      content: sections,\n      score: score,\n      report_id: reportId,\n      metadata: move ? { move } : null,\n      section_type: \"runner_ups\",\n      order_number: index + 1,\n      language: __lang\n    }\n  };\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,624],"id":"6e8e1b2c-b238-4d16-b0e8-f3a3451929a6","name":"Parse runner up"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1696,624],"id":"1f954c89-a292-4c95-b619-07bffec45458","name":"Insert Runner Ups","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Prepare data for Dream Job Feasibility prompt\nconst trigger = $('When Executed by Another Workflow').first().json;\nreturn [{\n  json: {\n    'Top 3 careers': trigger.top_3_careers_str,\n    'Runner up careers': trigger.runner_up_careers_str,\n    'Outside box careers': trigger.outside_box_careers_str\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,928],"id":"967c19be-18a5-47c8-9b3f-5e3381045b30","name":"Dream prep"},{"parameters":{"promptType":"define","text":"=# ROLE\nYou are an expert career strategist specializing in \"The Bridge Pivot\"—evaluating the feasibility of unconventional dream jobs for professionals while maintaining their professional seniority and financial viability.\n\n# TASK\nAnalyze the feasibility of the candidate's Dream Job(s) as listed in the \"Career Goals & Aspirations\" section of Input 1. Analyze at most the first 3 dream jobs the candidate listed; if more are present, focus on the 3 most prominent. You must provide a balanced analysis that respects the dream while being intellectually honest about the \"Executive Reality.\"\n\n## ANALYSIS DIMENSIONS\n1. **Personality Suitability:** Does the dream job align with their 4-point scales (2a, 2g, 5f) and social energy profile?\n2. **The \"Executive Pivot\" Suggestion:** Instead of just analyzing the entry-level dream, suggest how they could leverage their 14+ years of experience within that field (e.g., instead of just \"Yoga Instructor,\" suggest \"Founder of a Boutique Wellness Studio Chain\").\n3. **Regional & Future Context:** Specifically consider the 2026 economic landscape of Northern and Western Europe (e.g., Netherlands, Germany, Scandinavia) including AI's impact and regional salary trends.\n4. **Path Type Reality:** Identify whether the dream job (or its Executive Version) is realistically an employee role, independent practice (freelance/fractional), or a founder path. Each carries different realities — founder paths require capital and 1-3 year builds; freelance demands client acquisition; employee paths depend on hiring cycles. The \"Steps for Pursuing This Role\" section must reflect the real path type, not generic career steps.\n\n**TONE:**\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Active voice, second person. Use 'you' and occasionally their name to adress them!\n\n# CRITICAL FORMATTING REQUIREMENTS\n- If there are multiple dream jobs, separate each job analysis with: ---DREAM_JOB_SPLIT---\n- At the very end of each dream job (before ---DREAM_JOB_SPLIT---), output its Move rating (reskilling effort to pursue it, AI-adjusted) as a hidden HTML comment exactly like <!--move:Retrain--> with ONE of: Ready now (skills already fit), Reframe (gap is positioning not skills), Upskill (a real learning gap), Retrain (a large gap or a new field). Dream jobs are often Upskill or Retrain. Never show the rating any other way.\n- Start directly with the first job title using the ## header.\n- **Strictly DO NOT use the em dash (—)** in your narrative. Use colons, commas, or parentheses instead.\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Keep bullets to a maximum of 3 per section for scannability.\n- No intro or outro: start with the first Title immediately.\n\n# OUTPUT FORMAT\n\n## [Dream Job Title]\n\n**Overview**\n[A conversational 2-sentence intro explaining why this dream resonates with their profile, written as if speaking directly to a peer.]\n\n**Feasibility Rating**\n**[Rating]**: [One-sentence \"Bottom Line\" reason for this rating.]\n\nThe rating must be exactly one of these five labels, copied verbatim, with the WHOLE rating in bold (including both words of a hyphenated range): **Low** | **Low - Moderate** | **Moderate** | **Moderate - High** | **High**. Follow it with a colon, a space, and the one-sentence reason.\nCorrect: **Low - Moderate**: Acting as a profession needs a long runway before stable income.\nWrong: \"**Low** - Moderate: ...\" (only half bold), or \"Low - Moderate: ...\" (not bold at all).\n\n**Personality & Energy Fit**\n- [Bullet 1: Alignment with Social Energy (2a) and Stress Response (2i)]\n- [Bullet 2: Alignment with Work Style (2g) and Deadline Approach (5f)]\n- [Bullet 3: Impact on burnout recovery vs. their natural \"Competence Trap\"]\n\n**The \"Executive Version\" Suggestion**\n- [Bullet 1: Suggest a specific role in this field that utilizes their current seniority (e.g. Director, Owner, Strategist)]\n- [Bullet 2: Explain how this version solves the \"Low Salary\" or \"Low Intellectual Stimulus\" risk of the base dream job]\n- [Bullet 3: Note if this executive version already appeared in their Top 15 or OTB lists for validation]\n\n**Industry Outlook & Regional Trends**\n- [Bullet 1: 2026 salary expectations in Northern/Western Europe for this specific field]\n- [Bullet 2: AI Impact: Describe how AI is transforming or protecting this role (Human-centric vs. Automated)] - see below\n- [Bullet 3: Regional demand or barriers in Europe (e.g. certifications, linguistic needs, or market saturation)]\n\n**Future-proof skills**\n- [Bullet 1: the human-centric skill or positioning that keeps this dream viable as AI reshapes the field]\n- [Bullet 2: one concrete, AI-aware capability to build now, tied to their existing seniority]\n\n**Steps for Pursuing This Role**\n- [Bullet 1: Immediate low-stakes action to \"test\" the dream job]\n- [Bullet 2: Critical certification or education required in the European market]\n- [Bullet 3: A \"Portfolio Career\" suggestion to bridge the financial gap during transition]\n\n*Heads-up: [Only include if the base dream job salary is significantly lower than their target range.]*\n\n---DREAM_JOB_SPLIT---\n\n\n# INPUTS\n1. Where to extract the dreamjob(s)\n{{ $('When Executed by Another Workflow').first().json.interests_history_text }}\n2. top 3 careers\n{{ $json['Top 3 careers'] }}\n3. runner up careers\n{{ $json['Runner up careers'] }}\n4. Out of box careers\n{{ $json['Outside box careers'] }}\n\n\n\n## AI impact rating scale\n\n[1-2 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write in Dutch: informal je-form, no em-dashes, Dutch formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up). Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical).\nKeep the ---DREAM_JOB_SPLIT--- delimiter exactly. Use these EXACT Dutch subheaders instead of the English ones:\n  Overview -> Overzicht\n  Feasibility Rating -> Haalbaarheidsscore\n  Personality & Energy Fit -> Aansluiting op persoonlijkheid en energie\n  The Executive Version Suggestion -> De executive-versie\n  Industry Outlook & Regional Trends -> Sectorvooruitzichten en regionale trends\n  Steps for Pursuing This Role -> Stappen om deze rol na te streven","batching":{}},"id":"231cb4d5-638c-40a8-acbb-8c54c1cc51cd","name":"Dream Job Feasibility","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,928]},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,1680],"id":"3cb7af92-065a-4b07-9360-e82a13b3f169","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"gGM2sOHB72WgN7UU","name":"OpenRouter account 2"}}},{"parameters":{"jsCode":"// Get report_id from upstream node\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\n\n// Get the dream jobs text from the upstream node\nconst fullText = $json.text;\n\n// Subheaders to convert to h5 tags\nconst __lr = $('Get Report Language').first().json;\nconst __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\nconst DREAM_JOB_SUBHEADERS_ALL = {\n  en: [\"Overview\",\"Feasibility Rating\",\"Personality & Energy Fit\",\"The Executive Version Suggestion\",\"Industry Outlook & Regional Trends\",\"Future-proof skills\",\"Steps for Pursuing This Role\"],\n  nl: [\"Overzicht\",\"Haalbaarheidsscore\",\"Aansluiting op persoonlijkheid en energie\",\"De executive-versie\",\"Sectorvooruitzichten en regionale trends\",\"Future-proof skills\",\"Stappen om deze rol na te streven\"]\n};\nconst DREAM_JOB_SUBHEADERS = DREAM_JOB_SUBHEADERS_ALL[__lang];\n\nfunction formatDreamJobContent(content) {\n  let formatted = content;\n  \n  DREAM_JOB_SUBHEADERS.forEach(subheader => {\n    /**\n     * Updated Regex:\n     * 1. Looks for the subheader at the start of the string or after a newline\n     * 2. Allows for optional Markdown stars (**)\n     * 3. Allows for an optional colon (:)\n     * 4. Ensures it matches the whole line to avoid replacing the word mid-sentence\n     */\n    const regex = new RegExp(`(^|\\\\n)\\\\*?\\\\*?${subheader}\\\\*?\\\\*?:?\\\\s*(\\\\n|$)`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n  \n  // Convert markdown bold to <strong> — covers the feasibility rating,\n  // which the prompt now bolds in full.\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n  \n  return formatted.trim();\n}\n\nfunction parseDreamJob(content) {\n  const lines = content.trim().split('\\n');\n  let title = '';\n  let contentStartIndex = 0;\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    // Match ## Title or just \"Chief Product Officer\" if it's the very first line\n    if (line.match(/^##\\s*.+$/) || (i === 0 && line.length > 0)) {\n      title = line.replace(/^##\\s*/, '').trim();\n      contentStartIndex = i + 1;\n      break;\n    }\n  }\n  \n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n  \n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatDreamJobContent(rawContent);\n  \n  return {\n    title: title || 'Dream Job',\n    content: formattedContent\n  };\n}\n\nconst dreamJobSections = fullText.split('---DREAM_JOB_SPLIT---');\nconst cleanSections = dreamJobSections.filter(section => section.trim().length > 0);\n\nconst records = cleanSections.map((section, index) => {\n  const parsed = parseDreamJob(section);\n  const moveMatch = section.match(/<!--move:(.*?)-->/i);\n  const move = moveMatch ? moveMatch[1].trim() : null;\n  const content = parsed.content.replace(/<!--move:.*?-->/gi, '').trim();\n  \n  return {\n    json: {\n      section_type: \"dream_jobs\",\n      title: `<h3>${parsed.title}</h3>`,\n      content: content,\n      metadata: move ? { move } : null,\n      report_id: reportId,\n      order_number: index + 1,\n      language: __lang\n    }\n  };\n});\n\nreturn records;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,928],"id":"04111827-9e37-4db8-a7cf-8e53003d4d90","name":"Parse Dream"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1696,928],"id":"66e20bd2-df47-4eb3-865d-1fd266ff0482","name":"Insert dream","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2272,608],"id":"02dc6615-008d-446b-a999-e1357ac8bc97","name":"Complete merge"},{"parameters":{"method":"POST","url":"https://pcoyafgsirrznhmdaiji.functions.supabase.co/analysis-completed","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"= { \"report_id\": \"{{ $('When Executed by Another Workflow').first().json.report_id }}\" }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2496,624],"id":"f2075da1-bebb-4ab5-a08e-9a5d5bf18cfb","name":"HTTP Request","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"aiABzg04zbeDSXRc","name":"Supabase Edge Functions — Shared Secret"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1120,464],"id":"1e239ace-b324-40cd-aecd-ad1ec2ba4a26","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1120,784],"id":"24281098-2118-4664-b89b-7a2ecd5ca9b8","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1120,1072],"id":"4f6a8057-64a9-4218-aed5-507716a6e05e","name":"Anthropic Chat Model2","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"url":"=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/report_sections?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=language&limit=1","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,624],"id":"16814ad9-c418-46eb-a48e-f5f93c96eb1b","name":"Get Report Language","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Report Language","type":"main","index":0}]]},"Top 3 only":{"main":[[{"node":"Pull enriched T3","type":"main","index":0}]]},"Pull enriched T3":{"main":[[{"node":"t3 content order","type":"main","index":0}]]},"t3 content order":{"main":[[{"node":"T3 enr. combined","type":"main","index":0}]]},"T3 enr. combined":{"main":[[{"node":"T3 Careers Prompt","type":"main","index":0}]]},"T3 Careers Prompt":{"main":[[{"node":"Top 3 Careers Generator","type":"main","index":0}]]},"Top 3 Careers Generator":{"main":[[{"node":"Split Top3","type":"main","index":0}]]},"Split Top3":{"main":[[{"node":"Insert Top 3","type":"main","index":0}]]},"Insert Top 3":{"main":[[{"node":"Complete merge","type":"main","index":0}]]},"4-10 only":{"main":[[{"node":"Pull Runner up","type":"main","index":0}]]},"Pull Runner up":{"main":[[{"node":"Combine runners","type":"main","index":0}]]},"Combine runners":{"main":[[{"node":"Set Runner Up Prompt","type":"main","index":0}]]},"Set Runner Up Prompt":{"main":[[{"node":"Runner Up Analysis","type":"main","index":0}]]},"Runner Up Analysis":{"main":[[{"node":"Parse runner up","type":"main","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[]]},"Parse runner up":{"main":[[{"node":"Insert Runner Ups","type":"main","index":0}]]},"Insert Runner Ups":{"main":[[{"node":"Complete merge","type":"main","index":1}]]},"Dream prep":{"main":[[{"node":"Dream Job Feasibility","type":"main","index":0}]]},"Dream Job Feasibility":{"main":[[{"node":"Parse Dream","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"Parse Dream":{"main":[[{"node":"Insert dream","type":"main","index":0}]]},"Insert dream":{"main":[[{"node":"Complete merge","type":"main","index":2}]]},"Complete merge":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Top 3 Careers Generator","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Runner Up Analysis","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model2":{"ai_languageModel":[[{"node":"Dream Job Feasibility","type":"ai_languageModel","index":0}]]},"Get Report Language":{"main":[[{"node":"Dream prep","type":"main","index":0},{"node":"4-10 only","type":"main","index":0},{"node":"Top 3 only","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"FbsruPbuZI2Fgtc8","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{"When Executed by Another Workflow":[{"json":{"report_id":"b513f73c-8168-4cd5-af5e-55450836e0db","top_3_careers":[{"rank":1,"career_title":"Independent Supervisory Board Member","company_size_type":"Medium / Startup / Scale-up","compatibility_score":93,"step1_objective_score":"58/64","pattern_analysis":{"happiness_pattern_match":{"score":"20/20","pattern":"extends 9/10 pattern","reasoning":"Sentiment Log shows Toggl (Independent Supervisory Board Member) scored 8/10 with the verbatim reason: 'Highly strategic work, limited commitment (one day per month), excellent pay.' This role perfectly extends that pattern. Structurally, it offers quarterly/monthly periodic advisory engagement rather than day-to-day operational execution, which directly aligns with the candidate's desire to protect their social energy."},"strengths_application":{"score":"14/14","reasoning":"Directly leverages the core competitive advantage identified in the Personality Analysis: 'translation across registers: business logic, human behavior, and organizational complexity.' Board roles demand high-level strategic translation without the burden of operational execution. The profile highlights this explicitly: 'Your board role at Toggl is a useful signal. Strategic work, limited time commitment, high satisfaction... That is a coaching and advisory capability, not just an operational one.'"},"trajectory_fit":{"score":"10/10","reasoning":"Recent career history shows an upward satisfaction trajectory when moving away from heavy, un-autonomous operational roles (TomTom PM: 3/10; Mews CoS: 6/10) toward strategic, highly autonomous board-level advisory roles (Toggl: 8/10). The Personality Key Insight confirms their trajectory should prioritize 'depth and connection over visibility,' making advisory board seats the ideal structural choice to continue this positive trend."}},"penalties":{"burnout_risk":{"penalty":"0","risk_level":"LOW","reasoning":"This role structure actively mitigates the candidate's core burnout triggers. Because it is high impact per hour with low political noise, it avoids the 'constantly-on' social expectations and managerial micromanagement that led to frustration in operational roles (e.g., Mews CoS)."},"development_conflicts":{"penalty":"-2","reasoning":"The candidate's identified hindrance of being 'pressure-dependent' and prone to procrastination is minimally triggered here due to the highly structured, meeting-driven cadence of board cycles. However, their 'difficulty receiving feedback' could occasionally clash with board evaluations, though this is not a core operational requirement."},"feasibility_penalty":{"penalty":"0","reasoning":"The candidate currently serves as an Independent Supervisory Board Member at Toggl (Mar 2025 - Present), proving zero skill/credential gap."}},"key_insights_applied":"Leveraged the insight that the candidate's highest-satisfaction work is characterized by high impact per hour, low political noise, and genuine advisory influence rather than raw operational control.","key_strengths":"Superb match for the candidate's proven 8/10 happiness structure. It leverages their capability to translate business complexity at the highest levels with minimal administrative overhead.","key_concerns":"Almost none, provided they maintain a portfolio of boards and don't slide back into operational execution to satisfy a secondary desire for daily visibility.","justification":"Superb match for the candidate's proven 8/10 happiness structure. It leverages their capability to translate business complexity at the highest levels with minimal administrative overhead. Almost none, provided they maintain a portfolio of boards and don't slide back into operational execution to satisfy a secondary desire for daily visibility."},{"rank":2,"career_title":"VP People & Operations","company_size_type":"Medium / Startup / Scale-up","compatibility_score":70,"step1_objective_score":"52/64","pattern_analysis":{"happiness_pattern_match":{"score":"15/20","pattern":"extends 7/10 pattern","reasoning":"Sentiment Log shows Cogna (VP People & Operations) scored 7/10 with the reason: 'Engaged with the subject matter (People), important and powerful role, good management relationship.' This career replicates that structure, placing them in charge of human behavior and organizational systems, though it carries more operational weight than board roles."},"strengths_application":{"score":"13/14","reasoning":"Directly maps to the candidate's core strength: a combined mastery of business scaling and deep human behavior (e.g., reading Erin Meyer and Bessel van der Kolk for pleasure). Their ability to 'translate complexity' and orchestrate high-performance teams in software makes them uniquely qualified to lead People and Operations simultaneously."},"trajectory_fit":{"score":"8/10","reasoning":"Aligns closely with the candidate's stated 'dream job' of Chief People Officer. It honors their core values of helping others and making an impact at a personal, human scale rather than chasing abstract corporate KPIs. It keeps them in the positive 7/10+ happiness territory."}},"penalties":{"burnout_risk":{"penalty":"-5","risk_level":"MODERATE","reasoning":"While the subject matter is highly engaging, a daily executive operational role carries significant interpersonal weight. If the management relationship deteriorates—which is their primary historical satisfaction killer (e.g., Mavenoid: 7/10 under an 'overbearing and relentlessly critical manager')—burnout risk increases rapidly."},"development_conflicts":{"penalty":"-7","reasoning":"The Personality Analysis notes that the candidate has 'difficulty giving feedback in a way that doesn't feel offensive' and a conflict style that leans toward 'securing the best outcome for yourself or your team first.' In a senior People role, delivering highly calibrated, constructive feedback is a core requirement; failure to do so could create friction."},"feasibility_penalty":{"penalty":"0","reasoning":"The candidate currently serves as VP People & Operations at Cogna (Dec 2025 - Present), validating complete feasibility."}},"key_insights_applied":"Utilized the insight that the candidate's dream jobs share a thread of deep engagement with the inner lives of people, making the 'People' component of this role highly satisfying.","key_strengths":"Strong alignment with their behavioral science interests and executive operations background. Success is highly likely when supported by a strong, positive management relationship.","key_concerns":"Their direct conflict style and self-admitted difficulty delivering delicate interpersonal feedback may cause friction in high-stakes human resource scenarios.","justification":"Strong alignment with their behavioral science interests and executive operations background. Success is highly likely when supported by a strong, positive management relationship. Their direct conflict style and self-admitted difficulty delivering delicate interpersonal feedback may cause friction in high-stakes human resource scenarios."},{"rank":3,"career_title":"Head of Operations, Finance & People","company_size_type":"Medium / Startup / Scale-up","compatibility_score":46,"step1_objective_score":"40/64","pattern_analysis":{"happiness_pattern_match":{"score":"10/20","pattern":"neutral","reasoning":"Sentiment Log shows Mavenoid (Head of Operations, Finance & People) scored 7/10: 'Powerful role, interesting problems, exciting trajectory, overbearing and relentlessly critical manager.' This role structure offers high strategic weight but exposes the candidate directly to day-to-day operational execution and vulnerability to management style."},"strengths_application":{"score":"11/14","reasoning":"Leverages the candidate's broad multi-functional 'organizational fluency' (finance, ops, people). They excel at holding these diverse business registers simultaneously, which is highly valued in medium-sized scale-ups."},"trajectory_fit":{"score":"5/10","reasoning":"This represents a lateral operational step. It keeps them in the high-stress execution 'weeds' (finance and operational scaffolding) rather than letting them transition toward the higher-level advisory, writing, or coaching work that aligns with their long-term growth trajectory."}},"penalties":{"burnout_risk":{"penalty":"-8","risk_level":"MODERATE","reasoning":"High operational complexity combined with broad oversight (Ops, Finance, and People) creates a risk of 'taking on too much responsibility'—a known personal pattern. If paired with high scrutiny, it will rapidly trigger energy drain."},"development_conflicts":{"penalty":"-8","reasoning":"The candidate's tendency to 'procrastinate' and rely on intense deadline-driven pressure can create severe bottlenecks when managing three major corporate functions simultaneously (especially routine-heavy Finance)."},"feasibility_penalty":{"penalty":"0","reasoning":"The candidate has already successfully held this exact role at Mavenoid, demonstrating complete functional feasibility."}},"key_insights_applied":"Applied the insight that low-happiness roles were heavily driven by management relationships rather than the work itself, making the leadership structure of this role a critical variable.","key_strengths":"Utilizes the candidate's impressive multi-disciplinary skill set across SaaS finance, operations, and human capital.","key_concerns":"Presents a high risk of operational overload. It fails to transition them toward their preferred focus on deep human connection, keeping them bogged down in administrative scale-up challenges.","justification":"Utilizes the candidate's impressive multi-disciplinary skill set across SaaS finance, operations, and human capital. Presents a high risk of operational overload. It fails to transition them toward their preferred focus on deep human connection, keeping them bogged down in administrative scale-up challenges."}],"runner_up_careers":[],"all_ranked_careers":[{"rank":1,"career_title":"Independent Supervisory Board Member","company_size_type":"Medium / Startup / Scale-up","compatibility_score":93,"happiness_pattern":"extends 9/10 pattern","burnout_risk":"LOW","key_strengths":"Superb match for the candidate's proven 8/10 happiness structure. It leverages their capability to t"},{"rank":2,"career_title":"VP People & Operations","company_size_type":"Medium / Startup / Scale-up","compatibility_score":70,"happiness_pattern":"extends 7/10 pattern","burnout_risk":"MODERATE","key_strengths":"Strong alignment with their behavioral science interests and executive operations background. Succes"},{"rank":3,"career_title":"Head of Operations, Finance & People","company_size_type":"Medium / Startup / Scale-up","compatibility_score":46,"happiness_pattern":"neutral","burnout_risk":"MODERATE","key_strengths":"Utilizes the candidate's impressive multi-disciplinary skill set across SaaS finance, operations, an"},{"rank":4,"career_title":"VP, Chief of Staff - Founder & CEO","company_size_type":"Enterprise / Startup / Scale-up","compatibility_score":28,"happiness_pattern":"recreates 5-7/10 pattern","burnout_risk":"HIGH","key_strengths":"Offers high strategic access, visibility, and leverages their ability to map complex systems and thi"},{"rank":5,"career_title":"Product Manager","company_size_type":"Enterprise / Startup / Scale-up","compatibility_score":14,"happiness_pattern":"recreates 0-4/10 pattern","burnout_risk":"MODERATE","key_strengths":"Utilizes basic technical software familiarity and product strategy logic."}],"interests_history_text":"### Personal Context\n\nNatasha is a 35-year-old executive navigating high-impact leadership roles within medium-sized startup and scale-up environments. She currently balances two concurrent positions: serving as an Independent Supervisory Board Member at Toggl—which she rates highly at an 8/10 due to its strategic focus, limited time commitment, and excellent compensation—and as the VP of People & Operations at Cogna, rated a 7/10 for its engaging people-centric work and strong management alignment. While these roles leverage her senior expertise, Natasha's overall sentiment is informed by past experiences in faster-paced tech cultures where she faced political friction, micromanagement, and eventual burnout.\n\n### Previous Careers\n\n1. Independent Supervisory Board Member\n2. VP People & Operations\n3. VP, Chief of Staff - Founder & CEO\n4. Head of Operations, Finance & People\n5. Product Manager\n\n### Personal Interests & Strengths\n\nNatasha is a powerhouse of strategic execution and organizational leadership, with proud milestones that include securing $30M in Series B/B+ funding and leading company-wide AI up-skilling initiatives. Beyond her business acumen, she is deeply fueled by a fascination with human behavior, psychology, and literature, often spending her free time reading, writing, or bouldering. This unique intersection of business strategy and deep human empathy makes her a natural confidante; colleagues and friends consistently rely on her for guidance through complex interpersonal issues, burnout, parenting, and mental health.\n\n### Career Goals & Aspirations\n\nSeeking a fresh path to counter burnout and find genuine alignment, Natasha is using this transition to explore new industries and roles. In the short term, she aims to expand her toolkit through targeted development in communication, public speaking, and change management. Long-term, she aspires to establish standout expertise in her field and eventually own or run her own business. Although current barriers like self-doubt and uncertainty about her exact next steps pose a challenge, her continuous drive for personal and professional growth remains a guiding force.\n\n### Career Constraints & Avoidances\n\nTo protect her mental energy and professional satisfaction, Natasha has set clear boundaries. She actively avoids sales, negotiations, and client-facing roles, and has ruled out finance-heavy tasks such as accounting, budgeting, and data-heavy spreadsheet analysis. Additionally, she refuses to tolerate highly repetitive environments with limited learning or professional growth opportunities.\n\n### Compensation & Work Preferences\n\nTo balance her executive ambition with raising two children, Natasha is seeking a part-time schedule in a fluid, somewhat flexible work environment. She views salary as a moderate priority, targeting a bracket of 100,000–150,000. For Natasha, the most critical aspect of compensation is not a high base, but rather strong work-life balance perks that respect her personal boundaries and well-being.\n\n### Dream Jobs\n\nNon-Fiction Writer, Sex Therapist, Chief People Officer — roles that deeply connect her dual passions for writing, understanding human intimacy and psychology, and shaping progressive organizational cultures.\n\n### Report ID\nb513f73c-8168-4cd5-af5e-55450836e0db","top_3_careers_str":"[\n  {\n    \"rank\": 1,\n    \"career_title\": \"Independent Supervisory Board Member\",\n    \"company_size_type\": \"Medium / Startup / Scale-up\",\n    \"compatibility_score\": 93,\n    \"step1_objective_score\": \"58/64\",\n    \"pattern_analysis\": {\n      \"happiness_pattern_match\": {\n        \"score\": \"20/20\",\n        \"pattern\": \"extends 9/10 pattern\",\n        \"reasoning\": \"Sentiment Log shows Toggl (Independent Supervisory Board Member) scored 8/10 with the verbatim reason: 'Highly strategic work, limited commitment (one day per month), excellent pay.' This role perfectly extends that pattern. Structurally, it offers quarterly/monthly periodic advisory engagement rather than day-to-day operational execution, which directly aligns with the candidate's desire to protect their social energy.\"\n      },\n      \"strengths_application\": {\n        \"score\": \"14/14\",\n        \"reasoning\": \"Directly leverages the core competitive advantage identified in the Personality Analysis: 'translation across registers: business logic, human behavior, and organizational complexity.' Board roles demand high-level strategic translation without the burden of operational execution. The profile highlights this explicitly: 'Your board role at Toggl is a useful signal. Strategic work, limited time commitment, high satisfaction... That is a coaching and advisory capability, not just an operational one.'\"\n      },\n      \"trajectory_fit\": {\n        \"score\": \"10/10\",\n        \"reasoning\": \"Recent career history shows an upward satisfaction trajectory when moving away from heavy, un-autonomous operational roles (TomTom PM: 3/10; Mews CoS: 6/10) toward strategic, highly autonomous board-level advisory roles (Toggl: 8/10). The Personality Key Insight confirms their trajectory should prioritize 'depth and connection over visibility,' making advisory board seats the ideal structural choice to continue this positive trend.\"\n      }\n    },\n    \"penalties\": {\n      \"burnout_risk\": {\n        \"penalty\": \"0\",\n        \"risk_level\": \"LOW\",\n        \"reasoning\": \"This role structure actively mitigates the candidate's core burnout triggers. Because it is high impact per hour with low political noise, it avoids the 'constantly-on' social expectations and managerial micromanagement that led to frustration in operational roles (e.g., Mews CoS).\"\n      },\n      \"development_conflicts\": {\n        \"penalty\": \"-2\",\n        \"reasoning\": \"The candidate's identified hindrance of being 'pressure-dependent' and prone to procrastination is minimally triggered here due to the highly structured, meeting-driven cadence of board cycles. However, their 'difficulty receiving feedback' could occasionally clash with board evaluations, though this is not a core operational requirement.\"\n      },\n      \"feasibility_penalty\": {\n        \"penalty\": \"0\",\n        \"reasoning\": \"The candidate currently serves as an Independent Supervisory Board Member at Toggl (Mar 2025 - Present), proving zero skill/credential gap.\"\n      }\n    },\n    \"key_insights_applied\": \"Leveraged the insight that the candidate's highest-satisfaction work is characterized by high impact per hour, low political noise, and genuine advisory influence rather than raw operational control.\",\n    \"key_strengths\": \"Superb match for the candidate's proven 8/10 happiness structure. It leverages their capability to translate business complexity at the highest levels with minimal administrative overhead.\",\n    \"key_concerns\": \"Almost none, provided they maintain a portfolio of boards and don't slide back into operational execution to satisfy a secondary desire for daily visibility.\",\n    \"justification\": \"Superb match for the candidate's proven 8/10 happiness structure. It leverages their capability to translate business complexity at the highest levels with minimal administrative overhead. Almost none, provided they maintain a portfolio of boards and don't slide back into operational execution to satisfy a secondary desire for daily visibility.\"\n  },\n  {\n    \"rank\": 2,\n    \"career_title\": \"VP People & Operations\",\n    \"company_size_type\": \"Medium / Startup / Scale-up\",\n    \"compatibility_score\": 70,\n    \"step1_objective_score\": \"52/64\",\n    \"pattern_analysis\": {\n      \"happiness_pattern_match\": {\n        \"score\": \"15/20\",\n        \"pattern\": \"extends 7/10 pattern\",\n        \"reasoning\": \"Sentiment Log shows Cogna (VP People & Operations) scored 7/10 with the reason: 'Engaged with the subject matter (People), important and powerful role, good management relationship.' This career replicates that structure, placing them in charge of human behavior and organizational systems, though it carries more operational weight than board roles.\"\n      },\n      \"strengths_application\": {\n        \"score\": \"13/14\",\n        \"reasoning\": \"Directly maps to the candidate's core strength: a combined mastery of business scaling and deep human behavior (e.g., reading Erin Meyer and Bessel van der Kolk for pleasure). Their ability to 'translate complexity' and orchestrate high-performance teams in software makes them uniquely qualified to lead People and Operations simultaneously.\"\n      },\n      \"trajectory_fit\": {\n        \"score\": \"8/10\",\n        \"reasoning\": \"Aligns closely with the candidate's stated 'dream job' of Chief People Officer. It honors their core values of helping others and making an impact at a personal, human scale rather than chasing abstract corporate KPIs. It keeps them in the positive 7/10+ happiness territory.\"\n      }\n    },\n    \"penalties\": {\n      \"burnout_risk\": {\n        \"penalty\": \"-5\",\n        \"risk_level\": \"MODERATE\",\n        \"reasoning\": \"While the subject matter is highly engaging, a daily executive operational role carries significant interpersonal weight. If the management relationship deteriorates—which is their primary historical satisfaction killer (e.g., Mavenoid: 7/10 under an 'overbearing and relentlessly critical manager')—burnout risk increases rapidly.\"\n      },\n      \"development_conflicts\": {\n        \"penalty\": \"-7\",\n        \"reasoning\": \"The Personality Analysis notes that the candidate has 'difficulty giving feedback in a way that doesn't feel offensive' and a conflict style that leans toward 'securing the best outcome for yourself or your team first.' In a senior People role, delivering highly calibrated, constructive feedback is a core requirement; failure to do so could create friction.\"\n      },\n      \"feasibility_penalty\": {\n        \"penalty\": \"0\",\n        \"reasoning\": \"The candidate currently serves as VP People & Operations at Cogna (Dec 2025 - Present), validating complete feasibility.\"\n      }\n    },\n    \"key_insights_applied\": \"Utilized the insight that the candidate's dream jobs share a thread of deep engagement with the inner lives of people, making the 'People' component of this role highly satisfying.\",\n    \"key_strengths\": \"Strong alignment with their behavioral science interests and executive operations background. Success is highly likely when supported by a strong, positive management relationship.\",\n    \"key_concerns\": \"Their direct conflict style and self-admitted difficulty delivering delicate interpersonal feedback may cause friction in high-stakes human resource scenarios.\",\n    \"justification\": \"Strong alignment with their behavioral science interests and executive operations background. Success is highly likely when supported by a strong, positive management relationship. Their direct conflict style and self-admitted difficulty delivering delicate interpersonal feedback may cause friction in high-stakes human resource scenarios.\"\n  },\n  {\n    \"rank\": 3,\n    \"career_title\": \"Head of Operations, Finance & People\",\n    \"company_size_type\": \"Medium / Startup / Scale-up\",\n    \"compatibility_score\": 46,\n    \"step1_objective_score\": \"40/64\",\n    \"pattern_analysis\": {\n      \"happiness_pattern_match\": {\n        \"score\": \"10/20\",\n        \"pattern\": \"neutral\",\n        \"reasoning\": \"Sentiment Log shows Mavenoid (Head of Operations, Finance & People) scored 7/10: 'Powerful role, interesting problems, exciting trajectory, overbearing and relentlessly critical manager.' This role structure offers high strategic weight but exposes the candidate directly to day-to-day operational execution and vulnerability to management style.\"\n      },\n      \"strengths_application\": {\n        \"score\": \"11/14\",\n        \"reasoning\": \"Leverages the candidate's broad multi-functional 'organizational fluency' (finance, ops, people). They excel at holding these diverse business registers simultaneously, which is highly valued in medium-sized scale-ups.\"\n      },\n      \"trajectory_fit\": {\n        \"score\": \"5/10\",\n        \"reasoning\": \"This represents a lateral operational step. It keeps them in the high-stress execution 'weeds' (finance and operational scaffolding) rather than letting them transition toward the higher-level advisory, writing, or coaching work that aligns with their long-term growth trajectory.\"\n      }\n    },\n    \"penalties\": {\n      \"burnout_risk\": {\n        \"penalty\": \"-8\",\n        \"risk_level\": \"MODERATE\",\n        \"reasoning\": \"High operational complexity combined with broad oversight (Ops, Finance, and People) creates a risk of 'taking on too much responsibility'—a known personal pattern. If paired with high scrutiny, it will rapidly trigger energy drain.\"\n      },\n      \"development_conflicts\": {\n        \"penalty\": \"-8\",\n        \"reasoning\": \"The candidate's tendency to 'procrastinate' and rely on intense deadline-driven pressure can create severe bottlenecks when managing three major corporate functions simultaneously (especially routine-heavy Finance).\"\n      },\n      \"feasibility_penalty\": {\n        \"penalty\": \"0\",\n        \"reasoning\": \"The candidate has already successfully held this exact role at Mavenoid, demonstrating complete functional feasibility.\"\n      }\n    },\n    \"key_insights_applied\": \"Applied the insight that low-happiness roles were heavily driven by management relationships rather than the work itself, making the leadership structure of this role a critical variable.\",\n    \"key_strengths\": \"Utilizes the candidate's impressive multi-disciplinary skill set across SaaS finance, operations, and human capital.\",\n    \"key_concerns\": \"Presents a high risk of operational overload. It fails to transition them toward their preferred focus on deep human connection, keeping them bogged down in administrative scale-up challenges.\",\n    \"justification\": \"Utilizes the candidate's impressive multi-disciplinary skill set across SaaS finance, operations, and human capital. Presents a high risk of operational overload. It fails to transition them toward their preferred focus on deep human connection, keeping them bogged down in administrative scale-up challenges.\"\n  }\n]","runner_up_careers_str":"[]","outside_box_careers_str":"1. Organizational Psychologist (Applied Practice)\n\n**Overview**\nOrganizational psychologists study how people behave within workplace systems, advising organizations on culture, performance, team dynamics, and leadership effectiveness. In practice, this often means designing assessments, facilitating research-backed interventions, and translating behavioral science into actionable change for leadership teams.\n\n**Why this might be a fit**\nNatasha, your career has functioned as applied organizational psychology without the credential. You've diagnosed cultural dysfunction, redesigned how people relate to work, and used behavioral insight (Erin Meyer, Bessel van der Kolk aren't casual reads) to shape real decisions. The gap here isn't aptitude, it's formal positioning. An MSc in Organizational Psychology in the Netherlands typically runs 1 to 2 years part-time, and your existing seniority means you'd enter practice at the top, not the bottom. Unlike CPO roles, this identity sits at the intersection of science and human behavior, the exact crossover your profile keeps pointing toward, without the corporate politics that burned you out before.\n\n**Path Type & Reality**\nThis is most commonly built as an independent practice or embedded consultancy once credentialed, though in-house roles at large organizations or research institutes exist. Independent practice means genuine income variability in the early years, and you'll need to build a client base deliberately.\n\n**AI Impact on this role**\n**Moderate:** AI will absorb assessment scoring, literature synthesis, and report drafting. The irreducibly human parts, reading a room, building trust with a leadership team, interpreting nuance in what people don't say, remain yours. Given your existing AI fluency, you'd be well-positioned to use these tools as accelerants rather than threats.\n\n<!--move:Upskill-->\n\n---\n\n2. Immersive Experience Designer\n\n**Overview**\nImmersive experience designers create the conceptual and narrative architecture behind escape rooms, theatrical environments, museum installations, branded activations, and location-based entertainment. The role blends storytelling, behavioral psychology, spatial logic, and production oversight into experiences that are felt, not just seen.\n\n**Why this might be a fit**\nYour systems thinking, analogy-driven communication, and genuine interest in how people experience things internally make you a strong conceptual lead in this field, not just a creative contributor. The bouldering and literature aren't incidental here: physical problem-solving environments and narrative structure are the twin pillars of immersive design. Where most designers in this space lack is organizational rigor and the ability to take a concept from vision to execution across teams and budgets. That's precisely where you're overqualified. This is a genuine sector shift with a different professional identity: you'd be known for the worlds you build, not the org charts you've managed.\n\n**Path Type & Reality**\nEntry is most realistic as an employee at a design studio, venue operator, or branded experience agency, moving into a director-level role quickly given your seniority. Founder paths exist (building your own studio) but carry the full weight of creative entrepreneurship, client acquisition, and multi-year financial runway.\n\n**AI Impact on this role**\n**Moderate:** Generative AI is already changing concept visualization and spatial prototyping, but the experiential judgment, the ability to feel whether something will land for a human body in a physical space, stays human. Your profile suggests you'd adopt AI tools for rapid prototyping without losing the instinct that makes the work meaningful.\n\n<!--move:Reframe-->\n\n---\n\n3. Behavioral Design Strategist\n\n**Overview**\nBehavioral design strategists apply insights from behavioral economics, psychology, and systems thinking to shape how people make decisions, at the product, policy, or organizational level. They work inside think tanks, innovation labs, public health agencies, financial services firms, and increasingly in tech, designing the choice architecture behind how systems and services are structured.\n\n**Why this might be a fit**\nThis role is the non-desk, intellectually rigorous pivot your profile has been pointing toward without naming it directly. Your underlying drivers, human behavior, organizational complexity, making people see something they were missing, map cleanly onto behavioral design. Unlike coaching or consulting, this role produces tangible outputs: frameworks, redesigned systems, evidence-backed interventions. It respects your need for autonomy and intellectual depth while moving you decisively out of the VP People function family. You don't need a psychology degree to enter this space at a senior level; your operational credibility plus demonstrated interest in behavioral science is a legitimate entry point, particularly at organizations that value applied thinking over academic credentials.\n\n**Path Type & Reality**\nRoles exist across employee, freelance, and hybrid structures. In-house positions at innovation labs, governments, or large tech firms offer stability. Independent practice is also common and well-suited to your preference for concentrated, high-impact work over long diffuse hours. Be aware that the freelance path, while flexible, requires active pipeline management.\n\n**AI Impact on this role**\n**Moderate:** AI will increasingly assist with literature review, behavioral pattern modeling, and scenario testing. The strategy layer, deciding which behavioral levers matter in a given human context and why, remains a judgment-intensive human function. Your AI fluency positions you to use these tools to sharpen your outputs rather than be displaced by them.\n\n<!--move:Reframe-->","init_summary_content":"<h5>1. Core Identity & Current Status</h5>\n- <strong>Name:</strong> Natasha Osborne Geurts [1a]\n- <strong>Pronouns:</strong> She / Her [1b]\n- <strong>Age:</strong> 35 [1c]\n- <strong>Region:</strong> Northern and Western Europe [1d]\n- <strong>Primary Objectives/Goals:</strong> Finding a new career path that better suits my skills and interests, Considering a career change due to burnout or lack of fulfillment [1e]\n- <strong>Current Career Situation:</strong> Executive function (VP to C-suite roles or equivalent senior leadership positions with comprehensive organizational responsibilities) [1i]\n- <strong>Total Years of Experience:</strong> 13 [1h]\n\n---\n\n<h5>2. Professional History & Sentiment Log</h5>\n- <strong>Detailed Career History:</strong> [1j]\n   <strong>Role 1:</strong>\n     <strong>Title:</strong> Independent Supervisory Board Member\n     <strong>Company:</strong> Toggl\n     <strong>Size:</strong> Medium (51-200)\n     <strong>Culture:</strong> Startup / Scale-up\n     <strong>Sector:</strong> Productivity SaaS\n     <strong>Dates:</strong> Mar 2025 – Present (Current)\n   <strong>Role 2:</strong>\n     <strong>Title:</strong> VP, Chief of Staff - Founder & CEO\n     <strong>Company:</strong> Mews\n     <strong>Size:</strong> Enterprise (1000-5000)\n     <strong>Culture:</strong> Startup / Scale-up\n     <strong>Sector:</strong> Hospitality SaaS\n     <strong>Dates:</strong> Feb 2023 – Unspecified (Not Current)\n   <strong>Role 3:</strong>\n     <strong>Title:</strong> Head of Operations, Finance & People\n     <strong>Company:</strong> Mavenoid\n     <strong>Size:</strong> Medium (51-200)\n     <strong>Culture:</strong> Startup / Scale-up\n     <strong>Sector:</strong> AI SaaS\n     <strong>Dates:</strong> Aug 2020 – Sep 2022 (Not Current)\n   <strong>Role 4:</strong>\n     <strong>Title:</strong> Product Manager\n     <strong>Company:</strong> TomTom\n     <strong>Size:</strong> Enterprise (1000-5000)\n     <strong>Culture:</strong> Startup / Scale-up\n     <strong>Sector:</strong> Navigation Software\n     <strong>Dates:</strong> Aug 2018 – Aug 2020 (Not Current)\n   <strong>Role 5:</strong>\n     <strong>Title:</strong> VP People & Operations\n     <strong>Company:</strong> Cogna\n     <strong>Size:</strong> Medium (51-200)\n     <strong>Culture:</strong> Startup / Scale-up\n     <strong>Sector:</strong> SaaS\n     <strong>Dates:</strong> Dec 2025 – Present (Current)\n- <strong>Sentiment Log:</strong> [1k]\n   <strong>Toggl (Independent Supervisory Board Member):</strong> Happiness Score: 8/10. Verbatim Reason: \"Highly strategic work, limited commitment (one day per month), excellent pay\"\n   <strong>Mews (VP, Chief of Staff - Founder & CEO):</strong> Happiness Score: 6/10. Verbatim Reason: \"Powerful role, great access, smart people, too much focus on using organization and admin skills in the role, dreadful political culture, micromanagement from manager\"\n   <strong>Mavenoid (Head of Operations, Finance & People):</strong> Happiness Score: 7/10. Verbatim Reason: \"Powerful role, interesting problems, exciting trajectory, overbearing and relentlessly critical manager\"\n   <strong>TomTom (Product Manager):</strong> Happiness Score: 3/10. Verbatim Reason: \"Easy role, boring and too slow\"\n   <strong>Cogna (VP People & Operations):</strong> Happiness Score: 7/10. Verbatim Reason: \"Engaged with the subject matter (People), important and powerful role, good management relationship\"\n- <strong>Skills & Technical Footprint:</strong> \n  - <strong>Top Skills:</strong> Strategic Planning, People Management, Executive Coaching [1l]\n  - <strong>Certifications:</strong> Product Management Certificate, Leadership & Strategy Certification [1l]\n  - <strong>Languages and proficiency level:</strong> None specified in input [1l]\n  - <strong>Notable Achievements:</strong> [1l]\n     \"Led successful Series B and B+ fundraising rounds totaling $30M\" (Company: Mavenoid)\n     \"Drove company-wide strategic shift towards AI & automation through financial analysis\" (Company: Mews)\n     \"Product leader for Uber Airports, the business' most profitable vertical in 2017\" (Company: Uber)\n     \"- Reorganization \\n- Strategic product pivot\" (Company: Toggl, 2025–Present)\n     \"Determined the strategic direction for an app with 50,000 users\" (Company: TomTom, 2018–2020)\n     \"Drove company-wide AI up-skilling initiative\\nIntroduced performance management system\\nManager of team of 5\" (Company: Cogna, 2025–Present)\n     \"Have two wonderful children\" (Company: Other)\n  - <strong>Specialized Knowledge:</strong> Strategic Planning, People Leadership, Fundraising, Product Strategy, Business, Literature, Psychology [4d]\n  - <strong>AI Familiarity:</strong> Very familiar. I frequently use AI tools [4e]\n\n---\n\n<h5>3. Education & Personal Context</h5>\n- <strong>Education Level:</strong> Bachelor's degree [1f]\n- <strong>Field of Study:</strong> English Literature; Engineering Leadership [1g]\n- <strong>Personal Interests/Hobbies:</strong> Bouldering, Writing, Reading [1m]\n- <strong>Additional Context/Constraints:</strong> \"I'm very interested in human behavior. That's what I like to read and write about. For example, I like to read books by Alain De Botton, Erin Meyer, Ian Lelsie and Yuval Noah Harari. I also have excellent business acumen, and am an expert in leading high performance teams in the specific field of software. My favorite business book is The Hard Thing about Hard Things; my favorite books about people are The Body Keeps The Score, and The Courage To Be Disliked.\" [1n]\n- <strong>Dream Jobs:</strong> Non-Fiction Writer, Sex Therapist, Chief People Officer [4h]\n- <strong>Advice People Seek from Candidate:</strong> \"Their relationships, their burnout, their sex life, their mental health, their approach to parenting.\" [4g]\n\n---\n\n<h5>4. Values, Compensation & Work Preferences</h5>\n- <strong>Ranked Career Values (High to Low):</strong> [3a]\n  1. Autonomy (e.g., having independence in work, making decisions)\n  2. Helping Others & Making an Impact (e.g., contributing to a cause, supporting colleagues or clients)\n  3. Accomplishment & Recognition (e.g., reaching significant milestones, excelling in work, receiving awards)\n  4. Job Satisfaction (e.g., enjoying daily tasks, feeling engaged and motivated by work)\n  5. Job Stability & Financial Security (e.g., long-term stability, financial reliability)\n  6. Personal Growth & Challenge (e.g., learning new skills, overcoming difficult challenges, pushing personal and professional limits)\n  7. Work-Life Balance (e.g., balancing personal and professional life, flexible hours)\n  8. Creativity (e.g., having the freedom to innovate, engaging in creative problem-solving)\n- <strong>Cultural & WLB Preferences:</strong>\n   <strong>Value Alignment:</strong> Essential [3b]\n   <strong>WLB Importance:</strong> Very [3c]\n   <strong>Preferred Culture:</strong> Innovative and forward-thinking [4c]\n- <strong>Logistics & Pay:</strong>\n   <strong>Schedule:</strong> Part-time work [3d]\n   <strong>Salary Importance:</strong> Moderately important: I value salary but also consider other factors [3e]\n   <strong>Bracket:</strong> 100,000–150,000 [3f]\n   <strong>Pay Priority:</strong> Work-life balance perks [3g]\n\n---\n\n<h5>5. Behavioral & Operational Profile</h5>\n- <strong>Energy & Social:</strong> \n   <strong>Social energy:</strong> Somewhat Energized (I enjoy it, but have a limit) [2a]\n   <strong>Colleague interaction:</strong> Keep it mostly work-focused but join social events occasionally. [6f]\n- <strong>Cognitive Style:</strong> \n   <strong>Decision focus:</strong> The long-term, big-picture ideas and impact [2b]\n   <strong>Decision speed:</strong> Decisive (Decide immediately to keep moving) [2c]\n   <strong>Communication style:</strong> Use analogies and metaphors to explain concepts [2d]\n   <strong>Change response:</strong> Leaning Structure (I handle ambiguity well, but appreciate some structure) [2e]\n- <strong>Operational Style:</strong> \n   <strong>Environment structure:</strong> Somewhat Flexible (I prefer fluidity but appreciate some process) [2g]\n   <strong>Risk tolerance:</strong> Very comfortable [2h]\n   <strong>Stress response:</strong> Leaning Action (Tend to act quickly, with a brief pause) [2i]\n   <strong>Time management:</strong> Pressure-Dependent (I need the urgency of approaching deadlines to focus effectively) [5f]\n- <strong>Hindrances/Growth Areas:</strong> Candidate reports experiencing: \"Taking on too much responsibility\", \"Being overly critical of self or others\", \"Procrastination\" [2j]\n\n---\n\n<h5>6. Team Dynamics & Emotional Intelligence</h5>\n- <strong>Collaboration Style:</strong> \n   <strong>Team role:</strong> Offer ideas and actively engage in discussions. [5a]\n   <strong>Motivator:</strong> Building relationships [5b]\n   <strong>Preferred size:</strong> Small (2-5 people) [5c]\n   <strong>Conflict style:</strong> I prioritize securing the best outcome for myself or my team first [2f], Address them directly to find a solution [5d]\n   <strong>Team Challenges:</strong> Trusting team members to complete tasks, Difficulty giving or receiving feedback [5e]\n- <strong>Management Interaction:</strong> \n   <strong>Preferred Leadership:</strong> Delegating autonomy and trusting me to figure things out [5g]\n   <strong>Response to Disagreement:</strong> Approach them privately to share your point of view [5h]\n- <strong>EI & Feedback:</strong> \n   <strong>Handling Feedback:</strong> \"I find it challenging and may struggle to apply it\" [6a]\n   <strong>Providing Feedback:</strong> \"Try to be encouraging but are careful not to offend.\" [6b]\n   <strong>Support style:</strong> \"Provide practical help or solutions\" [6c]\n   <strong>Emotional regulation:</strong> \"Remain calm and control your emotions effectively\" [6d]\n   <strong>Stress coping:</strong> \"Talk to colleagues or friends for support\" [6e]\n   <strong>EI Challenges:</strong> \"Providing constructive feedback\", \"Handling conflict constructively\" [6g]\n\n---\n\n<h5>7. Future Trajectory & Constraints</h5>\n- <strong>Goals:</strong> \n   <strong>Short-term:</strong> Gain experience in a different role or industry, Develop new skills or certifications [7a]\n   <strong>Long-term:</strong> Establish expertise and recognition in my field, Own or run a successful business [7b]\n- <strong>Developmental Drive:</strong> \n   <strong>Barriers:</strong> Uncertainty about my next career step, Personal doubts or lack of confidence [7c]\n   <strong>Interest in new skills:</strong> Yes, always seeking new skills [7d]\n   <strong>Areas to develop:</strong> Leadership & Team Management, Communication & Public Speaking, Change Management & Resilience [7e]\n   <strong>Workshop topics:</strong> People Management and Recruitment (e.g., employee engagement and happiness, talent acquisition strategies), Project Management and Leadership (e.g., effective team leadership, managing large-scale projects) [4f]\n- <strong>Areas of Interest & Archetypes:</strong> \n   <strong>Interests:</strong> Education & Learning, Human Resources & People Operations, Business Strategy & Consulting [4a]\n   <strong>Archetypes:</strong> The Communicator (articulates ideas effectively, fosters understanding), The Leader (motivates teams, sets direction, takes initiative) [4b]\n- <strong>Avoidance List (Hard Constraints):</strong> \n   <strong>Avoided work aspects:</strong> [3h]\n     Sales, negotiation, or client-facing roles (e.g., pitching ideas, persuading clients, managing external relationships)\n     Limited learning or growth opportunities (e.g., repetitive tasks, no clear professional development path)\n     Finance-related work (e.g., financial analysis, accounting, budgeting, or investment-related roles)\n     Data-heavy or analytical roles (e.g., working extensively with spreadsheets, statistics, or research-heavy tasks)\n  * <strong>Avoided industries:</strong> None specified in input [Note: Question 4g was utilized for advice/consultation requests instead of avoided industries; see Section 3]"},"pairedItem":{"item":0}}]},"versionId":"2de1526c-7aba-4d8e-9a04-5244d2f42421","activeVersionId":"2de1526c-7aba-4d8e-9a04-5244d2f42421","versionCounter":59,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-05-30T21:51:11.252Z","createdAt":"2026-05-30T21:51:11.252Z","role":"workflow:owner","workflowId":"seWmQPFQqIe60TkU","projectId":"IRGhJlz0HuarxdVs","project":{"updatedAt":"2026-05-08T11:19:23.000Z","createdAt":"2025-06-17T10:11:12.163Z","id":"IRGhJlz0HuarxdVs","name":"Cairnly","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"","customTelemetryTags":[],"creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-06T08:53:36.915Z","createdAt":"2026-07-06T08:53:36.915Z","versionId":"2de1526c-7aba-4d8e-9a04-5244d2f42421","workflowId":"seWmQPFQqIe60TkU","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,624],"id":"8272e7dc-ec6d-440f-867b-3b96e9e6b0b3","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Prep top 3 data + build RPC body for Pull enriched T3\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst careers = trigger.top_3_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  top_3_careers: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,320],"id":"3bc84633-d425-4df7-9fac-52d423e7f44f","name":"Top 3 only"},{"parameters":{"url":"=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=*","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,320],"id":"de520df6-8d37-4912-8336-e53fbc2f1be2","name":"Pull enriched T3","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// n8n Function Node - Fast reordering for LLM consumption\n// No expensive formatting - LLMs handle mixed data formats well\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json.career_data || item.json;\n  \n  // Simple reordering - no array formatting or parsing\n  return {\n    json: {\n      // === PRIMARY INFORMATION ===\n      career_title: data.career_title,\n      overview: data.overview,\n      salary: data.salary,\n      company_size_type: data.company_size_type,\n      \n      // === CORE WORK DETAILS ===\n      typical_tasks: data.typical_tasks,\n      technical_skills: data.technical_skills,\n      soft_skills: data.soft_skills,\n      education_requirements: data.education_requirements,\n      \n      // === WORK ENVIRONMENT ===\n      work_schedule: data.work_schedule,\n      autonomy_vs_collaboration: data.autonomy_vs_collaboration,\n      client_interaction: data.client_interaction,\n      colleague_interaction: data.colleague_interaction,\n      \n      // === CAREER DEVELOPMENT ===\n      career_progression: data.career_progression,\n      motivational_factors: data.motivational_factors,\n      leadership_challenges: data.leadership_challenges,\n      \n      // === METADATA ===\n      id: data.id,\n      ai_impact_rating: data.ai_impact_rating,\n      created_at: data.created_at,\n      updated_at: data.updated_at\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,320],"id":"198c1088-1574-4b85-9dbe-8e20ead8c045","name":"t3 content order"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"top3_enriched_combined","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[672,320],"id":"9e2da11f-1d0d-41ee-b952-cb4413c8f209","name":"T3 enr. combined"},{"parameters":{"assignments":{"assignments":[{"id":"top_3_careers_prompt_assignment","name":"top_3_careers_prompt","value":"=# Hyper-Personalized Top 3 Careers Generator\n\nYou are Cairnly, creating personalized career insights. Tone: business casual, direct, honest. Connect everything to their actual happiness data, constraints, and patterns.\n\n---\n\n## Output Structure (Each Career):\n\n# [career_title] 'e.g. Program Manager'\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n\n## Overview\n[ONE or TWO sentences, max 35 words. Plain-English definition of the role for someone who has never heard the title. No fit, no trade-offs, no tasks.]\n\n## Why this role fits you\n[80-120 words. Build the fit from these signals, in this order of priority:\n1. Top values [3a] and how this role expresses them\n2. Pattern analysis — REQUIRED. The narrative MUST contain the literal phrase \"extends your X/10 [role name]\" OR \"avoids the Y/10 [role name] pattern\" at least once, where X and Y are the actual happiness scores from the sentiment log. Soft references like \"you're returning to\" or \"similar to your past\" do NOT satisfy this rule.\n3. Why this specific company size/type fits their stated preferences [2a, 2g, 3d] or constraints [1n]\n4. Sentiment quote, ONLY if substantive enough to add color beyond what 1–3 already say\nKeep to 2–4 sentence paragraphs.]\n\n## What you'll actually do\n[3-4 bullets, 70-90 words total. Pure tasks from typical_tasks, framed through the user's lens. Do NOT re-describe what the role is — Overview already did that.]\n\nEVERY bullet MUST start with a short bolded label (2-5 words) followed by a period and then the framed explanation. No exceptions.\n\n- **[Short task label]:** [task framed through their experience/skills]\n- **[Short task label]:** [task connected to what energizes them]\n- **[Short task label]:** [task that uses their specific background]\n\nExample:\n- **Write game design docs.** This draws on your Figma skills and board game design background.\n- **Run playtesting sessions.** Your direct communication style extracts honest feedback, not polite non-answers.\n\n## The Reality Check\n[2-4 bullets, 80-110 words total. Vary the count per career. Do not default to 4.]\n\n⚠ **[Challenge specific to THIS career].** [1-2 sentences]\n\nEVERY bullet MUST start with a bolded label (3-7 words) after the ⚠ symbol, followed by the explanation. If you write `⚠ Client feedback will test you regularly.` you have violated this rule. Correct form: `⚠ **Client feedback loops test you.** [explanation]`. No exceptions.\n\nEvery bullet must surface a risk specific to this career and this person. Before writing each one, ask: \"Could this exact bullet be pasted onto a different career?\" If yes, sharpen it or cut it.\n\nRules:\n- Lead with the risk most unique to this career's market, role, or path. Not a generic personality trait.\n- You may use ONE personality or development gap per career, and only when it sharpens a career-specific risk. Do NOT reuse the same personality flag across careers. If \"difficulty receiving feedback\" anchored career 1, use a different angle for careers 2 and 3.\n- Do NOT mention money, income variability, or time-to-stable-income here. That lives only in \"The practical stuff > Money\". The Reality Check covers behavioral, market, and role risks, not the salary timeline. (Reskilling effort and a rough reskilling time horizon ARE allowed here — that is about learning, not salary.)\n- No false balance. If a career has only 2 real risks, write 2.\n- **Reskilling reality (required when there's a real skill/credential gap):** if the role needs skills or credentials the candidate lacks (judge against [1h], [1j], [1l]), ONE bullet MUST name the specific gap, the realistic route to close it (portfolio, course, certification, on-the-job), and a rough time horizon. Be concrete: not \"you have transferable skills\" but \"A and B are missing; the realistic path is C over ~N months.\" **Factor in the AI reality:** AI-assisted learning can meaningfully compress reskilling timelines, and some gaps matter less because every role is becoming AI-augmented in some way (a task AI increasingly handles is a smaller barrier to entry). Judge the gap against this new reality, not pre-AI assumptions, while staying honest that genuine gaps still take real effort.\n- **Age and career stage:** weigh the move against their age [1c] and where they are in their career. A long, from-scratch reskill reads differently at an established stage (time-to-payoff, opportunity cost). State this as honest planning context, never as a limit on capability.\n\nExamples (each tied to a specific market or role, not a generic trait):\n- ⚠ **Directory fatigue is real.** The AI tools space is flooded with low-quality directories. Differentiation needs consistent, opinionated takes, which makes your \"Creative Storytelling\" strength the moat, not a nice-to-have.\n- ⚠ **Finance oversight is unavoidable.** You avoid \"finance-related work\" but boards require P&L review. Based on Strategic Finance (5/10), this is tolerable but not energizing.\n- ⚠ **Business development never stops.** You close this month and still need next quarter's pipeline. Discovery calls and founder networking are the job, alongside delivery.\n\n**Special cases:**\n- **If path_type is `freelance_fractional` or `founder`:** one bullet MUST cover the client acquisition or business development load, framed as a behavioral and workload reality. Do NOT frame it as income timing. This rule keys off `path_type` only. A `company_size_type` containing \"Boutique\" or \"Own Company\" does NOT trigger it. A boutique EMPLOYEE has no BD load; a fractional consultant DOES, regardless of whether their clients are boutiques or enterprises.\n- **If HIGH burnout risk:** lead with the burnout warning and adjust the bottom line.\n- **If recreates low pattern:** address it in \"Why this role fits you\", not here.\n- **If the role is a hard pivot (large skill/credential gap or a new field):** the reskilling bullet above is mandatory, and the realism must be explicit and grounded — do not gloss it with \"this extends your pattern.\"\n\n## The practical stuff\n\n**Money:** [Salary range, or day rate / revenue model, in the region's currency.] [One sentence: does it hit their target bracket? For freelance_fractional or founder, this is also where income variability and realistic time-to-stable-income or build horizon belong.] Do not open with \"No salary data\". If there is no fixed salary, state the day-rate range or revenue model directly.\n\n**Schedule:** [Work schedule] [One sentence: work with constraints?]\n\n**Energy:** [Interaction level] [One sentence: match social energy?]\n\n**Growth:** [1 sentence on career_progression from enriched data. Where does this lead?]\n\n## How AI will impact this role\n[2-3 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n## Future-proof skills\n[Exactly 2 bullets, max 35 words total. The concrete skills or moves that keep THIS candidate on the valuable side of the AI shift in THIS role. Specific to them, never generic \"develop soft skills\". Scale the ambition to the AI impact rating directly above:\n- Minimal / Moderate: what to double down on to stay the judgment layer AI cannot replace (decision ownership, stakeholder trust, taste, domain depth).\n- High: the shift to make now, from doing the work by hand to briefing, directing, and quality-checking AI; name the orchestration or judgment skill that earns that seat.\n- Severe: the one capability that keeps them in a shrinking set of seats (owning outcomes, client relationships, supervising AI output, edge-case judgment).\n- Critical: the adjacent, more defensible move and the transferable skill that bridges to it, i.e. where to go next, not how to survive in place.\nTie it to their AI familiarity (summary 4e): if already AI-fluent, push them to lead AI adoption; if not, the first step is getting hands-on with the AI tools this role already uses. Keep this heading in English exactly as written, in every language. Each bullet starts with a short bolded label:]\n- **[Skill or move]:** [one concrete line]\n- **[Skill or move]:** [one concrete line]\n\n## Alignment with your ambitions\n[40-60 words. Connect this role to their STATED goals, not their happiness pattern. Name their short-term goal AND long-term ambition (from the candidate summary), then judge honestly whether this role is a stepping-stone toward them, the destination itself, or a detour away from the long-term goal. Use the trajectory_fit reasoning from the enriched data if present.\n\nHard rules:\n- Anchor on their stated short-term and long-term ambitions — NOT the sentiment/happiness scores.\n- Do NOT reuse the \"extends your X/10 [role]\" pattern phrasing here. That belongs ONLY in \"Why this role fits you.\" Repeating it here is a violation.\n- Always name the honest catch relative to their LONG-TERM ambition: is this the finish line, or a bridge to it?\n- Factor their age and career stage [1c] into the honest read: a multi-year reskill or from-scratch pivot changes the calculus at an established stage (time, opportunity cost). Keep it realistic and respectful — about trade-offs and timing, not capability.]\n\nExample: \"This serves your short-term goal of building AI and product skills in a real setting. But your long-term ambition is full autonomy and your own company, so treat this as a 2-3 year platform, not the finish line.\"\n\n\n## Comparison Data\n\nAs the LAST thing in each career (after the \"More details...\" line, before the career split), output one fenced ```json code block. The platform reads this to render a visual comparison and a written explanation — it is never shown to the candidate as raw text. Always include it.\n\n### fit_scores — every career\n\nRate THIS career from 1 to 5 on each axis. The score is FIT FOR THIS CANDIDATE — 5 = excellent fit, 1 = poor fit — judged against their Initial Summary (values, constraints, energy, work preferences, sentiment log):\n\n- **autonomy** — does the role's independence match their need for autonomy?\n- **social** — does the people and interaction load sit within their social energy? (5 = comfortably within their limit, 1 = will drain them)\n- **pace** — does the pace and pressure match their stress tolerance? (5 = comfortable, 1 = high-pressure mismatch)\n- **stability** — does the income and path stability match their security needs and stated constraints?\n- **schedule** — does the working schedule match their work-life-balance needs?\n\nScore all three careers on ONE consistent scale — they are generated together, so a 4 on \"social\" must mean the same thing across all three.\n\n### comparison — career 2 and career 3 ONLY\n\nCareer 1 omits this entirely (the candidate has not seen the other careers yet). Career 2 compares to career 1. Career 3 compares to careers 1 and 2.\n\n- **headline** — one sentence naming the single biggest way THIS career differs from the earlier one(s). Direct, no hedging.\n- **explanation** — 120 to 170 words. Walk the candidate through how this career genuinely differs and what that means for them. Ground it in the axes where the fit scores differ most — those are the real differences. Shown when they ask to compare, so write it as a direct, helpful reply, same voice and Writing Rules as the rest of the output.\n- not bullet-heavy. Keep paragraphs short (2 to 4 sentences) with a blank line between them, so longer answers stay easy to read on screen.\n\n### move — every career\n\nRate how big a leap THIS career is for the candidate, AFTER accounting for AI (AI-assisted learning compresses reskilling timelines, and some gaps matter less as roles become AI-augmented). Judge against this reality, not pre-AI assumptions:\n- **Ready now** — their current skills and how they would present them already fit; little or no new learning, and no major repositioning needed.\n- **Reframe** — they have the skills, but the gap is positioning: repackaging their experience, CV, or how they tell their story for this role. No genuinely new skills to learn.\n- **Upskill** — a real but bridgeable skill gap; focused learning (course, certification, portfolio, or on-the-job) over months.\n- **Retrain** — a large skill or credential gap, or a new field; substantial reskilling.\n\n### Format\n\nCareer 1:\n```json\n{\"fit_scores\":{\"autonomy\":5,\"social\":5,\"pace\":5,\"stability\":2,\"schedule\":4},\"move\":\"Ready now\"}\n```\n\nCareer 2 and Career 3:\n```json\n{\"fit_scores\":{\"autonomy\":4,\"social\":2,\"pace\":2,\"stability\":4,\"schedule\":4},\"move\":\"Upskill\",\"comparison\":{\"headline\":\"One-sentence main difference.\",\"explanation\":\"Full 120-170 word explanation here.\"}}\n```\n\nOutput valid JSON only inside the block — no comments, no trailing commas. This block does not count toward the per-career word target.\n\n---CAREER_SPLIT---\n\n## Path Type Framing (Critical for honesty)\n\nEach enriched career has a `path_type` field: `employee`, `freelance_fractional`, or `founder`. Some legacy careers may have `null` or `\"N/A\"` — treat those as `employee`.\n\nThe path_type fundamentally shapes how the candidate must approach this career. Adjust framing accordingly:\n\n**employee** — applying for a role at someone else's company.\n- \"What you'll actually do\" describes role-defined responsibilities\n- \"The practical stuff → Schedule\" is the company's standard expectation\n- \"Alignment with your ambitions\" describes typical next titles or growth paths\n\n**freelance_fractional** — independent contractor, fractional exec, advisor, board member.\n- \"What you'll actually do\" includes pipeline, contracting, and self-marketing alongside delivery\n- \"The practical stuff → Money\" notes income variability and time-to-stable-income\n- \"The Reality Check\" must include a client acquisition or business development bullet, framed as a behavioral and workload reality. Do NOT put income variability here. That belongs in Money.\n\n**founder** — starting a company or solo practice with capital and time risk.\n- \"What you'll actually do\" includes selling, hiring, financing, and building product/service alongside doing the work\n- \"The practical stuff → Money\" must mention 1-3 year build horizon and validation period before stable income\n- \"The Reality Check\" must include capital risk and the \"validate before quitting\" reality, framed as a risk-tolerance and decision question. Keep the build-horizon timeline itself in Money, not here.\n- \"Alignment with your ambitions\" describes scaling, exiting, or evolving the model — not climbing a ladder\n\nUse the `path_type_notes` field from the enriched career as the source of truth for path-specific honesty (income horizons, validation requirements). Quote or paraphrase it where natural rather than inventing framing.\n\n## Writing Rules:\n\n**Tone:**\n- Direct: \"This gives you X\" not \"provides an opportunity\"\n- No hedging: \"You'll struggle with Y\" not \"might present challenges\"\n- Short paragraphs (2-4 sentences)\n- adhere to the would limit restrictions! 500-600 words total per career!\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Checkmarks ✓ and warning ⚠ symbols in bold!\n* if using bulletpoints, make the bullet lable bold for readability and emphasis \n\n**Avoid:**\n- Flattery: valuable, impressive, exceptional, unique, perfect\n- Corporate: serves you well, positions you, meaningful impact, leverage\n- Qualifiers: \"The fact that...\", \"It's worth noting...\"\n- Mixing currencies. Stick with the regions currency, consistently!\n- Em-dashes (—). NEVER use em-dashes in output. Use commas, periods, colons, parentheses, or sentence breaks instead. This applies to every section.\n\n**Required connections (every career):**\n- 1+ sentiment log [1k] reference, treated as supporting evidence — not the spine of the section\n- Quote the candidate's comment verbatim ONLY when it carries specific meaning (a phrase, a reason, an emotion). If the comment is generic or one word, paraphrase or skip the quote and lean on score + pattern instead.\n- Never quote a bare score in isolation. A score must always be paired with either (a) the candidate's comment, (b) an extend/recreate pattern, or (c) a constraint or value.\n- Top values [3a]\n- 1+ constraint [1n] or preference [2a, 2g, 3d]\n- 1 development gap from Personality Analysis\n- Pattern analysis (extend/recreate)\n- Compatibility score always in XX/100 e.g. 92/100 format!\n\n**Target: 500-600 words per career**\n\n---\n\n## Inputs:\n\n**CAI Score Analysis (incl compatibility score):**\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.top_3_careers) }}\n\n**Top 3 Enriched Careers:**\n{{ JSON.stringify($json.top3_enriched_combined) }}\n\n**Initial Summary:**\n{{ $('When Executed by Another Workflow').first().json.init_summary_content }}\n\n\n---\n\nGenerate all 3 careers now. Use \"---CAREER_SPLIT---\" between (not before first or after last).\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write all PROSE in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up).\nKeep these EXACTLY as specified (English / structured) so downstream parsing keeps working:\n- the ---CAREER_SPLIT--- delimiter between careers\n- the \"# \" career-title line, the \"**Alternative titles:** ... | **At:** ...\" line, and \"**Compatibility score: NN/100**\"\n- any final ```json``` comparison block (keys and values stay exactly as specified)\nUse Markdown \"## \" for each subheader; the subheader TEXT itself in Dutch. Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical). Keep the \"Future-proof skills\" subheader in English (do not translate it).","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,320],"id":"0543a3cd-fd28-4929-ba2b-9bdaa39368fd","name":"T3 Careers Prompt"},{"parameters":{"promptType":"define","text":"={{ $json.top_3_careers_prompt }}","batching":{}},"id":"2cd75cb0-f79a-4b43-b9b4-f4bbb0a69abe","name":"Top 3 Careers Generator","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,320]},{"parameters":{"jsCode":"// Get the input text\nconst fullText = $json.text;\n// Get report_id from trigger\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\nconst __lr = $('Get Report Language').first().json; const __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\n\n\n// Subheaders to convert to h5 tags (must match ACTUAL AI output headers)\nconst CAREER_SUBHEADERS = [\n  \"Overview\",\n  \"Why this role fits you\",\n  \"What you'll actually do\",\n  \"The Reality Check\",\n  \"The practical stuff\",\n  \"How AI will impact this role\",\n  \"Future-proof skills\",\n  \"Alignment with your ambitions\"\n];\n\n// Pull the machine-readable comparison JSON out of a career chunk.\n// The model appends it as a fenced ```json block, last thing in the career.\n// Returns { metadata, cleanedText }. On ANY failure metadata is null, so a\n// missing or malformed block degrades gracefully and never breaks the report.\nfunction extractMetadata(careerText) {\n  let raw = null;\n  let matchedBlock = null;\n\n  // Preferred: a fenced code block (```json ... ``` or ``` ... ```).\n  // Take the LAST one — the comparison block is the last thing in the career.\n  const fenceRegex = /```(?:json)?\\s*([\\s\\S]*?)```/gi;\n  let m;\n  while ((m = fenceRegex.exec(careerText)) !== null) {\n    raw = m[1];\n    matchedBlock = m[0];\n  }\n\n  // Fallback: a bare { ... } span (model dropped the fence).\n  if (raw === null) {\n    const bm = careerText.match(/\\{[\\s\\S]*\\}/);\n    if (bm) {\n      raw = bm[0];\n      matchedBlock = bm[0];\n    }\n  }\n\n  if (raw === null) {\n    return { metadata: null, cleanedText: careerText.replace(/\\n+\\s*\\*{0,2}More details[^\\n]*\\s*$/i, '').trim() };\n  }\n\n  let metadata = null;\n  try {\n    metadata = JSON.parse(raw.trim());\n  } catch (e) {\n    metadata = null;\n  }\n\n  const cleanedText = careerText.replace(matchedBlock, '').replace(/\\n+\\s*\\*{0,2}More details[^\\n]*\\s*$/i, '').trim();\n  return { metadata, cleanedText };\n}\n\n// Function to convert subheaders to h5 tags\nfunction formatSubheaders(content) {\n  let formatted = content;\n\n  // Convert ## headers to h5 tags\n  formatted = formatted.replace(/^## (.+)$/gm, '<h5>$1</h5>');\n\n  // Also convert bold-only subheaders from the predefined list\n  CAREER_SUBHEADERS.forEach(subheader => {\n    const regex = new RegExp(`(^|\\\\n)\\\\*\\\\*${subheader}\\\\*\\\\*:?\\\\s*`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n\n  // Clean up any leftover markdown bold markers\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '$1');\n\n  return formatted.trim();\n}\n\n// Function to extract career metadata and clean content\nfunction parseCareer(careerText) {\n  const lines = careerText.trim().split('\\n');\n  let title = '';\n  let alternateTitles = '';\n  let companySizeType = '';\n  let score = null;\n  let contentStartIndex = 0;\n\n  // Parse first few lines for metadata\n  for (let i = 0; i < Math.min(15, lines.length); i++) {\n    const line = lines[i].trim();\n\n    // Extract title - ONLY single # (career title), not ## (subheaders)\n    if (line.match(/^# [^#]/) ) {\n      title = line.replace(/^# /, '').trim();\n      contentStartIndex = i + 1;\n    } else if (line.match(/^-?\\s*Title:/i)) {\n      title = line.replace(/^-?\\s*Title:\\s*/i, '').trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n\n    // Extract alternate titles\n    if (line.match(/^\\*\\*Alternative titles:\\*\\*/i) || line.match(/^-?\\s*\\*?Alternate titles:/i)) {\n      const altMatch = line.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n      if (altMatch) {\n        alternateTitles = altMatch[1].trim();\n        companySizeType = altMatch[2].trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      } else {\n        alternateTitles = line\n          .replace(/^-?\\s*\\*?\\*?Alternative titles:\\*?\\*?\\s*/i, '')\n          .replace(/^-?\\s*\\*?Alternate titles:\\*?\\s*/i, '')\n          .replace(/\\*/g, '')\n          .trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      }\n    }\n\n    // Extract company size - standalone \"At:\" line\n    if (line.match(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i) && !line.match(/Alternative titles/i)) {\n      companySizeType = line\n        .replace(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i, '')\n        .replace(/\\*\\*/g, '')\n        .trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n\n    // Extract compatibility score\n    const scoreMatch = line.match(/\\*?\\*?Compatibility score:\\s*(\\d+)\\/100\\*?\\*?/i);\n    if (scoreMatch) {\n      score = parseInt(scoreMatch[1], 10);\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n  }\n\n  // Skip empty lines after metadata\n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n\n  // Get remaining content and format subheaders\n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatSubheaders(rawContent);\n\n  return {\n    title: `<h3><strong>${title || 'Career Option'}</strong></h3>`,\n    alternate_titles: alternateTitles ? `<strong>Alternate titles:</strong> ${alternateTitles}` : '',\n    company_size_type: companySizeType ? `<h4><strong>${companySizeType}</strong></h4>` : '',\n    content: formattedContent,\n    score: score\n  };\n}\n\n// Split by separator\nconst splitCareers = fullText.split('---CAREER_SPLIT---');\n\n// Validate we have 3 parts\nif (splitCareers.length !== 3) {\n  throw new Error(`Expected 3 careers but found ${splitCareers.length}`);\n}\n\n// Pull the comparison JSON out of each chunk BEFORE parsing the prose,\n// so the raw JSON never lands in the rendered content.\nconst meta1 = extractMetadata(splitCareers[0]);\nconst meta2 = extractMetadata(splitCareers[1]);\nconst meta3 = extractMetadata(splitCareers[2]);\n\n// Parse each career from the cleaned (JSON-stripped) text\nconst career1 = parseCareer(meta1.cleanedText);\nconst career2 = parseCareer(meta2.cleanedText);\nconst career3 = parseCareer(meta3.cleanedText);\n\n// Map to structured output with all required fields.\n// `metadata` is picked up automatically by the autoMap Supabase insert.\nreturn [\n  {\n    json: {\n      title: career1.title,\n      alternate_titles: career1.alternate_titles,\n      company_size_type: career1.company_size_type,\n      content: career1.content,\n      score: career1.score,\n      metadata: meta1.metadata,\n      report_id: reportId,\n      section_type: \"top_career_1\",\n      order_number: 1,\n      language: __lang\n    }\n  },\n  {\n    json: {\n      title: career2.title,\n      alternate_titles: career2.alternate_titles,\n      company_size_type: career2.company_size_type,\n      content: career2.content,\n      score: career2.score,\n      metadata: meta2.metadata,\n      report_id: reportId,\n      section_type: \"top_career_2\",\n      order_number: 2,\n      language: __lang\n    }\n  },\n  {\n    json: {\n      title: career3.title,\n      alternate_titles: career3.alternate_titles,\n      company_size_type: career3.company_size_type,\n      content: career3.content,\n      score: career3.score,\n      metadata: meta3.metadata,\n      report_id: reportId,\n      section_type: \"top_career_3\",\n      order_number: 3,\n      language: __lang\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,320],"id":"a8b60d92-97e1-4a7e-911d-3db2623f0198","name":"Split Top3"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1696,320],"id":"31205f90-595b-4875-b31a-44c19192b642","name":"Insert Top 3","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Prep runner up data + build RPC body for Pull Runner up\nconst trigger = $('When Executed by Another Workflow').first().json;\nconst careers = trigger.runner_up_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  runner_up: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,624],"id":"122022e0-92c2-4f85-be97-e15f8041a485","name":"4-10 only"},{"parameters":{"url":"=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=*","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,624],"id":"40a9382b-63fa-4f84-ab79-bab144ade1e3","name":"Pull Runner up","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Combine all items into one item\nconst allItems = $input.all();\nconst allCareers = allItems.map(item => item.json);\n\nreturn [{ \n  json: { \n    allCareers: allCareers,\n    careerCount: allCareers.length \n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,624],"id":"1f86ac80-2bd4-42a4-b864-0fcd33839202","name":"Combine runners"},{"parameters":{"assignments":{"assignments":[{"id":"runner_up_prompt_assignment","name":"=runner_up_prompt","value":"=# Runner-Up Careers Generator\n\nYou are Cairnly, presenting alternative career options beyond the top 3. These scored 55+ but didn't make the final cut. Be concise and help them understand what's appealing and what the trade-offs are.\n\n---\n\n## Output Structure (Each Career):\n\n# [Career Title]\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n## Overview\n\n[25-40 words. Plain-English description of what this role actually is and does day to day — written so a reader who has never heard the job title immediately understands it. Base it on the `overview` field in the enriched career data; rephrase for clarity and brevity, do not quote verbatim. Just what the role IS — no fit or trade-offs here.]\n\n## Why this role fits you\n\n[60-80 words MAX, 1-2 short paragraphs. Assume the reader now knows what the role is from the Overview — do not re-describe the job here.]\n- What's appealing about this role and why it suits their profile\n- Why it's not Top 3 (be specific about the gap)\n\n## What works for you\n\n[3 bullets, 50-60 words total]\n\n✓ **[Benefit].** [1 sentence tied to their data]\n\n## The Reality Check\n\n[3 bullets, 50-60 words total]\n\n⚠ **[Concern].** [1 sentence]\n\n## The practical stuff\n\n**Money:** [Range - estimate if not in data]\n\n**Schedule:** [Type]\n\n**Energy:** [Interaction level]\n\n## How AI will impact this role\n[1-2 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n## Future-proof skills\n[Exactly 2 bullets, max 35 words total. Concrete skills or moves that keep THIS candidate on the valuable side of the AI shift in THIS role, specific to them, never generic. Scale the ambition to the AI impact rating directly above:\n- Minimal / Moderate: what to double down on to stay the judgment layer AI cannot replace (decision ownership, stakeholder trust, taste, domain depth).\n- High: the shift to make now, from doing the work by hand to briefing, directing, and quality-checking AI; name the orchestration or judgment skill that earns that seat.\n- Severe: the one capability that keeps them in a shrinking set of seats (owning outcomes, client relationships, supervising AI output, edge-case judgment).\n- Critical: the adjacent, more defensible move and the transferable skill that bridges to it, i.e. where to go next, not how to survive in place.\nTie it to their AI familiarity (summary 4e): if already AI-fluent, push them to lead AI adoption; if not, the first step is getting hands-on with the AI tools this role already uses. Keep this heading in English. Each bullet starts with a short bolded label:]\n- **[Skill or move]:** [one concrete line]\n- **[Skill or move]:** [one concrete line]\n\n**More details in your dashboard.**\n\n---CAREER_SPLIT---\n\n---\n\n## Path Type Framing\n\nEach career has a `path_type`: `employee`, `freelance_fractional`, or `founder`. Treat `null` or `\"N/A\"` as `employee`.\n\nIn the compact runner-up format:\n- For `freelance_fractional`: ensure one bullet in \"Reality Check\" addresses income variability or client acquisition\n- For `founder`: ensure one bullet in \"Reality Check\" addresses capital horizon and validation reality (use `path_type_notes` as source)\n- For `employee`: standard framing\n\nThe path_type already shapes the enriched data (typical_tasks, leadership_challenges, career_progression). Let those flow through naturally — no need to over-explain in the compact format.\n\n## Reskilling & Age Reality\n\nIf a runner-up needs skills or credentials the candidate lacks (judge against their experience and history), make ONE of the three Reality Check bullets the reskilling reality: name the gap and a rough time horizon (course, certification, portfolio, on-the-job). **Factor in the AI reality:** AI-assisted learning can compress reskilling timelines, and some gaps matter less because every role is becoming AI-augmented in some way, so judge the gap against this new reality, not pre-AI assumptions, while staying honest that real gaps still take real effort. Weigh a long or from-scratch reskill against their age and career stage [1c] as honest planning context (time-to-payoff, opportunity cost), never as a limit on capability. Keep it within the 50-60 word Reality Check budget; do not add a fourth bullet.\n\n## Move rating (hidden)\n\nClassify how big a leap this role is for the candidate, AI-adjusted (AI compresses reskilling; some gaps matter less as roles become AI-augmented). Pick ONE:\n- Ready now: skills and how they would present them already fit; little or no new learning.\n- Reframe: they have the skills; the gap is positioning (CV, story), not new skills.\n- Upskill: a real but bridgeable skill gap (course, certification, portfolio, on-the-job).\n- Retrain: a large skill or credential gap, or a new field.\nAt the very end of each career (after \"More details in your dashboard.\", before ---CAREER_SPLIT---), output it on its own line as an HTML comment exactly like <!--move:Upskill--> with the chosen level. Never show the rating any other way.\n\n## Critical Rules:\n\n**LENGTH LIMITS (STRICT):**\n- \"Why this role fits you\": 60-80 words MAX\n- \"What works for you\": 50-60 words (3 short bullets)\n- \"The Reality Check\": 50-60 words (3 short bullets)\n- \"The practical stuff\": 30-40 words\n- \"How AI will impact this role\": 15-20 words\n- **Total per career: 200-250 words MAXIMUM**\n\nIf running long, cut adjectives. Be terse.\n\n**MISSING DATA:**\n- If salary missing: provide estimate with \"(estimated)\"\n- If AI impact missing: assess based on role type\n- Never write \"not specified\" or \"data not available\"\n\n**TONE:**\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Shorter than Top 3 (these are backups)\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n\n**PERSONAL CONNECTIONS:**\n- Reference sentiment log if relevant\n- Cite constraints or values\n- Note why not Top 3 specifically\n- Across the runner-up careers, do not lean on the same personality gap or constraint as the lead concern each time. Vary which gap each Reality Check draws on.\n\n**FORMAT:**\n- Use exact headers shown above\n- Compatibility score always in XX/100 e.g. 92/100 format!\n- Use ✓ for benefits, ⚠ for concerns, make these bold\n* if using bulletpoints, make the bullet lable bold for readability and emphasis \n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Use ---CAREER_SPLIT--- between careers\n- Output plain markdown (not JSON)\n\n---\n\n## Examples:\n\n**Good \"Why this role fits you\" (70 words):**\n\"This extends your 9/10 advisory pattern into facilitation work - expertise delivered in bursts, then solo planning time. But it didn't make Top 3 because building a practice requires the sales work you avoid. Project-based income creates uncertainty you can't afford with young children.\"\n\n**Good bullet (15-20 words):**\n✓ **Matches your energy pattern.** Intense 2-3 day sessions followed by solo recovery time.\n\n⚠ **Sales is unavoidable.** Building clients requires networking you historically avoid.\n\n---\n\n## Inputs:\n\n**Runner-Up Careers (with compatibility_scores and patterns):**\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.runner_up_careers) }}\n\n**Enriched Career Data:**\n{{ JSON.stringify($json.allCareers) }}\n\n**Initial Summary (sentiment log [1k], constraints [1n], values [3a]):**\n{{ $('When Executed by Another Workflow').first().json.init_summary_content }}\n\n---\n\nGenerate all runner-up analyses. Use ---CAREER_SPLIT--- between careers (not before first or after last). Output markdown only.\n\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write all PROSE in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up).\nKeep these EXACTLY as specified (English / structured) so downstream parsing keeps working:\n- the ---CAREER_SPLIT--- delimiter between careers\n- the \"# \" career-title line, the \"**Alternative titles:** ... | **At:** ...\" line, and \"**Compatibility score: NN/100**\"\n- any final ```json``` comparison block (keys and values stay exactly as specified)\nUse Markdown \"## \" for each subheader; the subheader TEXT itself in Dutch. Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical).","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,624],"id":"fd8e03ae-b234-411b-a637-377b6e5b661d","name":"Set Runner Up Prompt"},{"parameters":{"promptType":"define","text":"={{ $json.runner_up_prompt }}","batching":{}},"id":"d92dfe34-c58e-4142-b4d4-c1ccc61dc9f8","name":"Runner Up Analysis","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,624]},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[384,1680],"id":"0f811083-0b01-4779-9de1-331f668fe5b1","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"gGM2sOHB72WgN7UU","name":"OpenRouter account 2"}}},{"parameters":{"jsCode":"// Parse Runner-Up Careers (Markdown format with CAREER_SPLIT delimiter)\nconst input = $input.first().json.text;\n\n// Get report_id from the same node that Split Top3 uses\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\nconst __lr = $('Get Report Language').first().json; const __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\n\n// GUARD (2026-07-05): if no runner-up careers came in from '4-10 only', the\n// upstream pool was empty. Do NOT parse the LLM output (it hallucinates a\n// \"the list is empty\" complaint). Emit one clean, controlled placeholder row.\nconst __ru = ($('4-10 only').first().json.runner_up) || [];\nif (!Array.isArray(__ru) || __ru.length === 0) {\n  const __msg = __lang === 'nl'\n    ? 'Er zijn geen aanvullende runner-up carrières geïdentificeerd die hoog genoeg scoorden. Je sterkste matches staan in je top 3 hierboven.'\n    : 'No additional runner-up careers scored high enough to include. Your strongest matches are captured in your top 3 above.';\n  return [{ json: {\n    title: '',\n    alternate_titles: '',\n    company_size_type: '',\n    content: '<p>' + __msg + '</p>',\n    score: null,\n    report_id: reportId,\n    metadata: { empty: true },\n    section_type: 'runner_ups',\n    order_number: 1,\n    language: __lang\n  } }];\n}\n\n\n// Split by the delimiter\nconst careerBlocks = input.split('---CAREER_SPLIT---').map(block => block.trim()).filter(Boolean);\n\nconst results = careerBlocks.map((block, index) => {\n  // Extract career title (first # heading, not ## subheaders)\n  const titleMatch = block.match(/^# ([^#].+)$/m);\n  const career_title = titleMatch ? titleMatch[1].trim() : `Career ${index + 1}`;\n\n  // Extract alternative titles and company size\n  const altTitlesMatch = block.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n  const alternate_titles = altTitlesMatch ? altTitlesMatch[1].trim() : '';\n  const company_size_type = altTitlesMatch ? altTitlesMatch[2].trim() : '';\n\n  // Extract compatibility score\n  const scoreMatch = block.match(/\\*\\*Compatibility score: (\\d+)\\/100\\*\\*/);\n  const score = scoreMatch ? parseInt(scoreMatch[1], 10) : null;\n\n  const moveMatch = block.match(/<!--move:(.*?)-->/i);\n  const move = moveMatch ? moveMatch[1].trim() : null;\n\n  // Build content language-agnostically: from the first \"## \" subheader\n  // onward, drop any trailing \"**More details\" footer, and convert every\n  // \"## X\" header to <h5>X</h5>. Works for English and Dutch headers alike.\n  let __body = block;\n  const __fh = __body.search(/^##\\s+/m);\n  if (__fh >= 0) __body = __body.slice(__fh);\n  __body = __body.split(/\\n\\*\\*More details/)[0];\n  const sections = __body.replace(/^##\\s+(.+?)\\s*$/gm, '<h5>$1</h5>').replace(/<!--move:.*?-->/gi, '').trim();\n\n  // Return one item per career (matches report_sections table structure)\n  return {\n    json: {\n      title: `<h3><strong>${career_title}</strong></h3>`,\n      alternate_titles: alternate_titles ? `<strong>Alternate titles:</strong> ${alternate_titles}` : '',\n      company_size_type: company_size_type ? `<h4><strong>${company_size_type}</strong></h4>` : '',\n      content: sections,\n      score: score,\n      report_id: reportId,\n      metadata: move ? { move } : null,\n      section_type: \"runner_ups\",\n      order_number: index + 1,\n      language: __lang\n    }\n  };\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,624],"id":"6e8e1b2c-b238-4d16-b0e8-f3a3451929a6","name":"Parse runner up"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1696,624],"id":"1f954c89-a292-4c95-b619-07bffec45458","name":"Insert Runner Ups","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Prepare data for Dream Job Feasibility prompt\nconst trigger = $('When Executed by Another Workflow').first().json;\nreturn [{\n  json: {\n    'Top 3 careers': trigger.top_3_careers_str,\n    'Runner up careers': trigger.runner_up_careers_str,\n    'Outside box careers': trigger.outside_box_careers_str\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,928],"id":"967c19be-18a5-47c8-9b3f-5e3381045b30","name":"Dream prep"},{"parameters":{"promptType":"define","text":"=# ROLE\nYou are an expert career strategist specializing in \"The Bridge Pivot\"—evaluating the feasibility of unconventional dream jobs for professionals while maintaining their professional seniority and financial viability.\n\n# TASK\nAnalyze the feasibility of the candidate's Dream Job(s) as listed in the \"Career Goals & Aspirations\" section of Input 1. Analyze at most the first 3 dream jobs the candidate listed; if more are present, focus on the 3 most prominent. You must provide a balanced analysis that respects the dream while being intellectually honest about the \"Executive Reality.\"\n\n## ANALYSIS DIMENSIONS\n1. **Personality Suitability:** Does the dream job align with their 4-point scales (2a, 2g, 5f) and social energy profile?\n2. **The \"Executive Pivot\" Suggestion:** Instead of just analyzing the entry-level dream, suggest how they could leverage their 14+ years of experience within that field (e.g., instead of just \"Yoga Instructor,\" suggest \"Founder of a Boutique Wellness Studio Chain\").\n3. **Regional & Future Context:** Specifically consider the 2026 economic landscape of Northern and Western Europe (e.g., Netherlands, Germany, Scandinavia) including AI's impact and regional salary trends.\n4. **Path Type Reality:** Identify whether the dream job (or its Executive Version) is realistically an employee role, independent practice (freelance/fractional), or a founder path. Each carries different realities — founder paths require capital and 1-3 year builds; freelance demands client acquisition; employee paths depend on hiring cycles. The \"Steps for Pursuing This Role\" section must reflect the real path type, not generic career steps.\n\n**TONE:**\n- Business casual, direct\n- Atlas voice: honest, helpful, no fluff\n- Active voice, second person. Use 'you' and occasionally their name to adress them!\n\n# CRITICAL FORMATTING REQUIREMENTS\n- If there are multiple dream jobs, separate each job analysis with: ---DREAM_JOB_SPLIT---\n- At the very end of each dream job (before ---DREAM_JOB_SPLIT---), output its Move rating (reskilling effort to pursue it, AI-adjusted) as a hidden HTML comment exactly like <!--move:Retrain--> with ONE of: Ready now (skills already fit), Reframe (gap is positioning not skills), Upskill (a real learning gap), Retrain (a large gap or a new field). Dream jobs are often Upskill or Retrain. Never show the rating any other way.\n- Start directly with the first job title using the ## header.\n- **Strictly DO NOT use the em dash (—)** in your narrative. Use colons, commas, or parentheses instead.\n- **NEVER use survey question lables in your output! eg. '4l', '7e'**\n- Keep bullets to a maximum of 3 per section for scannability.\n- No intro or outro: start with the first Title immediately.\n\n# OUTPUT FORMAT\n\n## [Dream Job Title]\n\n**Overview**\n[A conversational 2-sentence intro explaining why this dream resonates with their profile, written as if speaking directly to a peer.]\n\n**Feasibility Rating**\n**[Rating]**: [One-sentence \"Bottom Line\" reason for this rating.]\n\nThe rating must be exactly one of these five labels, copied verbatim, with the WHOLE rating in bold (including both words of a hyphenated range): **Low** | **Low - Moderate** | **Moderate** | **Moderate - High** | **High**. Follow it with a colon, a space, and the one-sentence reason.\nCorrect: **Low - Moderate**: Acting as a profession needs a long runway before stable income.\nWrong: \"**Low** - Moderate: ...\" (only half bold), or \"Low - Moderate: ...\" (not bold at all).\n\n**Personality & Energy Fit**\n- [Bullet 1: Alignment with Social Energy (2a) and Stress Response (2i)]\n- [Bullet 2: Alignment with Work Style (2g) and Deadline Approach (5f)]\n- [Bullet 3: Impact on burnout recovery vs. their natural \"Competence Trap\"]\n\n**The \"Executive Version\" Suggestion**\n- [Bullet 1: Suggest a specific role in this field that utilizes their current seniority (e.g. Director, Owner, Strategist)]\n- [Bullet 2: Explain how this version solves the \"Low Salary\" or \"Low Intellectual Stimulus\" risk of the base dream job]\n- [Bullet 3: Note if this executive version already appeared in their Top 15 or OTB lists for validation]\n\n**Industry Outlook & Regional Trends**\n- [Bullet 1: 2026 salary expectations in Northern/Western Europe for this specific field]\n- [Bullet 2: AI Impact: Describe how AI is transforming or protecting this role (Human-centric vs. Automated)] - see below\n- [Bullet 3: Regional demand or barriers in Europe (e.g. certifications, linguistic needs, or market saturation)]\n\n**Future-proof skills**\n- [Bullet 1: the human-centric skill or positioning that keeps this dream viable as AI reshapes the field]\n- [Bullet 2: one concrete, AI-aware capability to build now, tied to their existing seniority]\n\n**Steps for Pursuing This Role**\n- [Bullet 1: Immediate low-stakes action to \"test\" the dream job]\n- [Bullet 2: Critical certification or education required in the European market]\n- [Bullet 3: A \"Portfolio Career\" suggestion to bridge the financial gap during transition]\n\n*Heads-up: [Only include if the base dream job salary is significantly lower than their target range.]*\n\n---DREAM_JOB_SPLIT---\n\n\n# INPUTS\n1. Where to extract the dreamjob(s)\n{{ $('When Executed by Another Workflow').first().json.interests_history_text }}\n2. top 3 careers\n{{ $json['Top 3 careers'] }}\n3. runner up careers\n{{ $json['Runner up careers'] }}\n4. Out of box careers\n{{ $json['Outside box careers'] }}\n\n\n\n## AI impact rating scale\n\n[1-2 sentences. Use ai_impact_rating from enriched data. Be specific about what changes and what stays human. Connect to their exact AI familiarity level (summary 4e). Keep the Rating Scale lable, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write in Dutch: informal je-form, no em-dashes, Dutch formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up). Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical).\nKeep the ---DREAM_JOB_SPLIT--- delimiter exactly. Use these EXACT Dutch subheaders instead of the English ones:\n  Overview -> Overzicht\n  Feasibility Rating -> Haalbaarheidsscore\n  Personality & Energy Fit -> Aansluiting op persoonlijkheid en energie\n  The Executive Version Suggestion -> De executive-versie\n  Industry Outlook & Regional Trends -> Sectorvooruitzichten en regionale trends\n  Steps for Pursuing This Role -> Stappen om deze rol na te streven","batching":{}},"id":"231cb4d5-638c-40a8-acbb-8c54c1cc51cd","name":"Dream Job Feasibility","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,928]},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,1680],"id":"3cb7af92-065a-4b07-9360-e82a13b3f169","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"gGM2sOHB72WgN7UU","name":"OpenRouter account 2"}}},{"parameters":{"jsCode":"// Get report_id from upstream node\nconst reportId = $('When Executed by Another Workflow').first().json.report_id;\n\n// Get the dream jobs text from the upstream node\nconst fullText = $json.text;\n\n// Subheaders to convert to h5 tags\nconst __lr = $('Get Report Language').first().json;\nconst __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\nconst DREAM_JOB_SUBHEADERS_ALL = {\n  en: [\"Overview\",\"Feasibility Rating\",\"Personality & Energy Fit\",\"The Executive Version Suggestion\",\"Industry Outlook & Regional Trends\",\"Future-proof skills\",\"Steps for Pursuing This Role\"],\n  nl: [\"Overzicht\",\"Haalbaarheidsscore\",\"Aansluiting op persoonlijkheid en energie\",\"De executive-versie\",\"Sectorvooruitzichten en regionale trends\",\"Future-proof skills\",\"Stappen om deze rol na te streven\"]\n};\nconst DREAM_JOB_SUBHEADERS = DREAM_JOB_SUBHEADERS_ALL[__lang];\n\nfunction formatDreamJobContent(content) {\n  let formatted = content;\n  \n  DREAM_JOB_SUBHEADERS.forEach(subheader => {\n    /**\n     * Updated Regex:\n     * 1. Looks for the subheader at the start of the string or after a newline\n     * 2. Allows for optional Markdown stars (**)\n     * 3. Allows for an optional colon (:)\n     * 4. Ensures it matches the whole line to avoid replacing the word mid-sentence\n     */\n    const regex = new RegExp(`(^|\\\\n)\\\\*?\\\\*?${subheader}\\\\*?\\\\*?:?\\\\s*(\\\\n|$)`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n  \n  // Convert markdown bold to <strong> — covers the feasibility rating,\n  // which the prompt now bolds in full.\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n  \n  return formatted.trim();\n}\n\nfunction parseDreamJob(content) {\n  const lines = content.trim().split('\\n');\n  let title = '';\n  let contentStartIndex = 0;\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    // Match ## Title or just \"Chief Product Officer\" if it's the very first line\n    if (line.match(/^##\\s*.+$/) || (i === 0 && line.length > 0)) {\n      title = line.replace(/^##\\s*/, '').trim();\n      contentStartIndex = i + 1;\n      break;\n    }\n  }\n  \n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n  \n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatDreamJobContent(rawContent);\n  \n  return {\n    title: title || 'Dream Job',\n    content: formattedContent\n  };\n}\n\nconst dreamJobSections = fullText.split('---DREAM_JOB_SPLIT---');\nconst cleanSections = dreamJobSections.filter(section => section.trim().length > 0);\n\nconst records = cleanSections.map((section, index) => {\n  const parsed = parseDreamJob(section);\n  const moveMatch = section.match(/<!--move:(.*?)-->/i);\n  const move = moveMatch ? moveMatch[1].trim() : null;\n  const content = parsed.content.replace(/<!--move:.*?-->/gi, '').trim();\n  \n  return {\n    json: {\n      section_type: \"dream_jobs\",\n      title: `<h3>${parsed.title}</h3>`,\n      content: content,\n      metadata: move ? { move } : null,\n      report_id: reportId,\n      order_number: index + 1,\n      language: __lang\n    }\n  };\n});\n\nreturn records;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,928],"id":"04111827-9e37-4db8-a7cf-8e53003d4d90","name":"Parse Dream"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1696,928],"id":"66e20bd2-df47-4eb3-865d-1fd266ff0482","name":"Insert dream","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2272,608],"id":"02dc6615-008d-446b-a999-e1357ac8bc97","name":"Complete merge"},{"parameters":{"method":"POST","url":"https://pcoyafgsirrznhmdaiji.functions.supabase.co/analysis-completed","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"= { \"report_id\": \"{{ $('When Executed by Another Workflow').first().json.report_id }}\" }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2496,624],"id":"f2075da1-bebb-4ab5-a08e-9a5d5bf18cfb","name":"HTTP Request","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"aiABzg04zbeDSXRc","name":"Supabase Edge Functions — Shared Secret"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1120,464],"id":"1e239ace-b324-40cd-aecd-ad1ec2ba4a26","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1120,784],"id":"24281098-2118-4664-b89b-7a2ecd5ca9b8","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1120,1072],"id":"4f6a8057-64a9-4218-aed5-507716a6e05e","name":"Anthropic Chat Model2","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"url":"=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/report_sections?report_id=eq.{{ $('When Executed by Another Workflow').first().json.report_id }}&select=language&limit=1","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,624],"id":"16814ad9-c418-46eb-a48e-f5f93c96eb1b","name":"Get Report Language","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Report Language","type":"main","index":0}]]},"Top 3 only":{"main":[[{"node":"Pull enriched T3","type":"main","index":0}]]},"Pull enriched T3":{"main":[[{"node":"t3 content order","type":"main","index":0}]]},"t3 content order":{"main":[[{"node":"T3 enr. combined","type":"main","index":0}]]},"T3 enr. combined":{"main":[[{"node":"T3 Careers Prompt","type":"main","index":0}]]},"T3 Careers Prompt":{"main":[[{"node":"Top 3 Careers Generator","type":"main","index":0}]]},"Top 3 Careers Generator":{"main":[[{"node":"Split Top3","type":"main","index":0}]]},"Split Top3":{"main":[[{"node":"Insert Top 3","type":"main","index":0}]]},"Insert Top 3":{"main":[[{"node":"Complete merge","type":"main","index":0}]]},"4-10 only":{"main":[[{"node":"Pull Runner up","type":"main","index":0}]]},"Pull Runner up":{"main":[[{"node":"Combine runners","type":"main","index":0}]]},"Combine runners":{"main":[[{"node":"Set Runner Up Prompt","type":"main","index":0}]]},"Set Runner Up Prompt":{"main":[[{"node":"Runner Up Analysis","type":"main","index":0}]]},"Runner Up Analysis":{"main":[[{"node":"Parse runner up","type":"main","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[]]},"Parse runner up":{"main":[[{"node":"Insert Runner Ups","type":"main","index":0}]]},"Insert Runner Ups":{"main":[[{"node":"Complete merge","type":"main","index":1}]]},"Dream prep":{"main":[[{"node":"Dream Job Feasibility","type":"main","index":0}]]},"Dream Job Feasibility":{"main":[[{"node":"Parse Dream","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"Parse Dream":{"main":[[{"node":"Insert dream","type":"main","index":0}]]},"Insert dream":{"main":[[{"node":"Complete merge","type":"main","index":2}]]},"Complete merge":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Top 3 Careers Generator","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Runner Up Analysis","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model2":{"ai_languageModel":[[{"node":"Dream Job Feasibility","type":"ai_languageModel","index":0}]]},"Get Report Language":{"main":[[{"node":"Dream prep","type":"main","index":0},{"node":"4-10 only","type":"main","index":0},{"node":"Top 3 only","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Sjoerd Geurts","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-06T08:53:37.202Z","id":1470,"workflowId":"seWmQPFQqIe60TkU","versionId":"2de1526c-7aba-4d8e-9a04-5244d2f42421","event":"activated","userId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"},{"createdAt":"2026-07-06T08:53:37.108Z","id":1469,"workflowId":"seWmQPFQqIe60TkU","versionId":"2de1526c-7aba-4d8e-9a04-5244d2f42421","event":"deactivated","userId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"}]}}