n8n_wfs_cairnly/WF4P_created_20260706.json
{"updatedAt":"2026-07-06T12:39:39.437Z","createdAt":"2026-07-06T12:39:39.437Z","id":"ID5CaNR7Ux7TEzS5","name":"WF4P - Encore Direction selection EN","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"8cffc508-118a-4a66-849c-74840c2cae8d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-704,624],"id":"8272e7dc-ec6d-440f-867b-3b96e9e6b0b3","name":"Encore WF3P Webhook","webhookId":"2eda0a1e-d1e9-4e15-a516-4582fa090a2b"},{"parameters":{"jsCode":"// Prep top 3 data + build RPC body for Pull enriched T3\nconst trigger = $('Encore WF3P Webhook').first().json.body;\nconst careers = trigger.top_3_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  top_3_careers: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,320],"id":"3bc84633-d425-4df7-9fac-52d423e7f44f","name":"Top 3 only"},{"parameters":{"url":"=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('Encore WF3P Webhook').first().json.body.report_id }}&select=*","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,320],"id":"de520df6-8d37-4912-8336-e53fbc2f1be2","name":"Pull enriched T3","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// n8n Function Node - Fast reordering for LLM consumption\n// No expensive formatting - LLMs handle mixed data formats well\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json.career_data || item.json;\n  \n  // Simple reordering - no array formatting or parsing\n  return {\n    json: {\n      // === PRIMARY INFORMATION ===\n      career_title: data.career_title,\n      overview: data.overview,\n      salary: data.salary,\n      company_size_type: data.company_size_type,\n      \n      // === CORE WORK DETAILS ===\n      typical_tasks: data.typical_tasks,\n      technical_skills: data.technical_skills,\n      soft_skills: data.soft_skills,\n      education_requirements: data.education_requirements,\n      \n      // === WORK ENVIRONMENT ===\n      work_schedule: data.work_schedule,\n      autonomy_vs_collaboration: data.autonomy_vs_collaboration,\n      client_interaction: data.client_interaction,\n      colleague_interaction: data.colleague_interaction,\n      \n      // === CAREER DEVELOPMENT ===\n      career_progression: data.career_progression,\n      motivational_factors: data.motivational_factors,\n      leadership_challenges: data.leadership_challenges,\n      \n      // === METADATA ===\n      id: data.id,\n      ai_impact_rating: data.ai_impact_rating,\n      created_at: data.created_at,\n      updated_at: data.updated_at\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,320],"id":"198c1088-1574-4b85-9dbe-8e20ead8c045","name":"t3 content order"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"top3_enriched_combined","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[672,320],"id":"9e2da11f-1d0d-41ee-b952-cb4413c8f209","name":"T3 enr. combined"},{"parameters":{"assignments":{"assignments":[{"id":"top_3_careers_prompt_assignment","name":"top_3_careers_prompt","value":"=# Hyper-Personalized Top 3 Encore Directions Generator\n\nYou are Cairnly, creating personalized insights for someone at or approaching retirement after a career of 30 to 45 years. They are not looking for a job; they are looking for a reason. They are not searching for an identity, they are stepping out of one that defined them for decades. Their evidence is a full career history with happiness ratings, what they were known for, what they secretly loved, and how they operate NOW, not at 45. Treat that track record as the asset it is. Tone: respectful, business casual, direct, honest, warm, zero condescension, no \"60 is the new 40\" fluff. Connect everything to their actual happiness data, constraints, and what they said matters at this stage.\n\nThe three directions can be employment or non-employment forms: advisory or interim work, board or supervisory seats, mentoring, teaching, volunteering with substance, a portfolio or passion business, or part-time expert roles. Write about each in its real form. Never frame any of this as filler to keep someone busy, and never suggest greeter-style roles.\n\n---\n\n## Output Structure (Each Direction):\n\n# [career_title] 'e.g. Supervisory Board Member'\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n\n## Overview\n[ONE or TWO sentences, max 35 words. Plain-English definition of the direction for someone who has never heard the title. No fit, no trade-offs, no tasks.]\n\n## Why this direction fits you\n[80-120 words. Build the fit from these signals, in this order of priority:\n1. Their top ranked priorities for this stage [4a] and how this direction delivers them\n2. Pattern analysis, REQUIRED. The narrative MUST contain the literal phrase \"extends your X/10 [role name]\" OR \"avoids the Y/10 [role name] pattern\" at least once, where X and Y are the actual happiness scores from their career sentiment log [2b]. Soft references like \"you're returning to\" or \"similar to your past\" do NOT satisfy this rule. Where it adds signal, connect to what they were known for [2e] or what they secretly loved [2g].\n3. Why this specific FORM (advisory, board seat, mentoring, part-time role, own thing) fits their desired hours [5a], how social they want the work [5e, 5b], and whether they want to lead, contribute, advise, or mentor [5c]\n4. Verbatim quote from their answers, ONLY if substantive enough to add color beyond what 1-3 already say\nKeep to 2-4 sentence paragraphs.]\n\n## What you'll actually do\n[3-4 bullets, 70-90 words total. Pure tasks from typical_tasks, but scaled to THEIR stated hours per week [5a] and rhythm, not the full-time version of the role. Describe what the work looks like at 8, 16, or 24 hours, whichever they chose. Do NOT re-describe what the direction is, Overview already did that.]\n\nEVERY bullet MUST start with a short bolded label (2-5 words) followed by a period and then the framed explanation. No exceptions.\n\n- **[Short task label]:** [task framed through their decades of experience]\n- **[Short task label]:** [task connected to what energizes them now]\n- **[Short task label]:** [task that uses something specific from their track record]\n\nExample:\n- **Chair the audit discussion.** Four board cycles a year, prepared at your own desk on your own hours. Your 9/10 CFO years mean you read the risk paragraph others skim.\n- **Coach two founders a month.** Structured sessions, not on-call availability. Your pattern recognition is the product.\n\n## How you get in at your seniority\n[3-4 bullets, 90-120 words total. The concrete entry routes into this direction for someone with a 30-45 year track record and a real network. Pick only the routes that actually work for THIS direction, do not list all of these mechanically:\n- **The network route:** which former colleagues, clients, or successors to call first, and what to actually say. At their seniority a coffee converts better than any job board.\n- **Formal channels:** board and supervisory registries, nomination committees, interim and fractional platforms, alumni networks, professional associations, teaching and guest-lecturer pools. Name the type of channel that matters for THIS direction.\n- **The visibility move:** the one thing that makes them findable for this work (a short profile rewrite, one published piece, one association membership).\n- **Credential gate:** only if this direction genuinely has one (governance certification, teaching qualification, licensing). If certificates are noise here, say so.\nEnd this section with ONE plain sentence giving a realistic timeline from today to a first real engagement, judged against when they want this next thing to start [6d]. Honest. No fabricated statistics, no invented percentages.]\n\n## Your first 90 days\n[2-3 sentences, 40-60 words. What the first three months actually feel like: what they will really be doing, what disappears (the title, the assistant, the calendar that filled itself), what to set up, and what to resist. Tie to their recognized tendencies [3g] (overcommitting, needing to be needed) where it sharpens the picture.]\n\n## The Reality Check\n[2-4 bullets, 80-110 words total. Vary the count per direction. Do not default to 4.]\n\n⚠ **[Challenge specific to THIS direction].** [1-2 sentences]\n\nEVERY bullet MUST start with a bolded label (3-7 words) after the ⚠ symbol, followed by the explanation. If you write `⚠ Board seats are competitive.` you have violated this rule. Correct form: `⚠ **Board nominations move in slow cycles.** [explanation]`. No exceptions.\n\nEvery bullet must surface a risk specific to this direction and this person AT THIS STAGE. Before writing each one, ask: \"Could this exact bullet be pasted onto a different direction?\" If yes, sharpen it or cut it.\n\nRules:\n- Lead with the risk most unique to this direction's market or form: scarce seats, slow nomination cycles, saturated advisory markets, institutions that quietly prefer younger hires.\n- **Honest ageism note (required where real):** if age genuinely works against them in THIS market, name it plainly and say what offsets it (network entry instead of open applications, reputation, niche depth). One bullet, matter-of-fact, never framed as a capability limit and never softened into denial. If age is genuinely neutral or an advantage here, skip the bullet, do not invent it.\n- **Board liability honesty (required for governance roles):** supervisory and board seats carry formal, personal liability. Weigh that against their stated appetite for formal responsibility [6e]. If they said \"influence without liability\", say directly that a formal board seat contradicts that answer and name the advisory alternative.\n- **Energy reality:** if the direction's realistic minimum commitment exceeds their stated hours [5a] or collides with their calendar commitments [6c], say so with numbers, not vibes.\n- You may use ONE behavioral watch-out per direction, drawn from their actual answers (recognized tendencies [3g], feedback at this stage [3f], working with much younger colleagues [3e]), and only when it sharpens a direction-specific risk. Do NOT reuse the same one across directions.\n- Do NOT mention money, fees, or income here. That lives only in \"The practical stuff > Money\". (Learning effort and a rough time horizon ARE allowed here, that is about preparation, not income.)\n- **Their biggest fear about this stage [4c]:** where it genuinely applies to this direction, address it head-on in one bullet. Name the fear, then give the honest read, not hollow reassurance.\n- No false balance. If a direction has only 2 real risks, write 2.\n\n**Special cases:**\n- **If path_type is `freelance_fractional`:** one bullet MUST cover the pipeline reality: advisory and interim work still needs a client flow, even at their seniority. Frame it as workload and choice (how much selling they are willing to do), NOT as income timing (Money owns that).\n- **If path_type is `founder`:** one bullet MUST cover capital discipline at this stage: validate small, protect retirement funds, decide in advance what the hobby-business is allowed to cost. Keep the build-horizon timeline itself in Money.\n- **If the direction recreates a low-scored pattern:** address it in \"Why this direction fits you\", not here.\n\n## The practical stuff\n\n**Money:** [What this direction realistically pays at their hours: day rate, board fee, stipend, part-time salary range, or honestly nothing (mentoring, substantive volunteering). Use the region's currency. One sentence weighing it against where income sits for them [6a]: not a factor, a nice top-up, or genuinely needed. If it pays nothing and they said income is needed, say that conflict plainly. Do not open with \"No salary data\". If there is no fixed salary, state the fee model or the word unpaid directly.]\n\n**Schedule:** [Work schedule at THEIR hours [5a]] [One sentence: does it fit around what shapes their calendar [6c] (grandchildren, care duties, travel, health rhythm)?]\n\n**Energy:** [Interaction level] [One sentence: match to how social interactions affect their energy now [3b] and how social they want the work itself [5e]?]\n\n**Growth:** [1 sentence, reframed for this stage: not promotion, but how this commitment can deepen, widen (a second seat, a second mentee), or deliberately wind down on their terms over the next 3-5 years.]\n\n## How AI will impact this role\n[2-3 sentences. Use ai_impact_rating from enriched data, but frame AI as LEVERAGE for their judgment and experience: what decades of pattern recognition are worth in an AI world, honestly. Their real fear is irrelevance, not job loss. Say what AI absorbs in this direction, what their experience still decides, and what staying current requires. Connect to how the pace of technology feels from where they sit [4d]. Keep the Rating Scale label, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment. For advisory, board, and mentoring forms, be honest that the JUDGMENT is durable but the PACKAGING is changing: the advisor who uses AI to prepare beats the one who dictates memos.]\n\n## Future-proof skills\n[Exactly 2 bullets, max 35 words total. The concrete skills or moves that keep THIS person's experience legible and valuable in THIS direction as AI reshapes it. Specific to them, never generic \"develop soft skills\" and never \"learn to stay relevant\". Frame as leverage: their judgment is the asset, these moves keep it deployable:\n- Minimal / Moderate: the practice that keeps their judgment the deciding layer (staying current in the domain, one AI tool used weekly, the network that keeps insight fresh).\n- High: learn to direct and quality-check AI output in this domain rather than producing by hand; name the concrete tool habit or review skill.\n- Severe: the one capability that keeps an experienced person in a shrinking set of seats (owning outcomes, relationships, supervising AI output, edge-case judgment).\n- Critical: the adjacent, more durable form of the same expertise (from doing to teaching, from producing to governing) and the bridge to it.\nTie it to how technology's pace feels to them [4d]: if they are comfortable, push them to be the AI-fluent senior voice in the room, that is rare and valued; if it feels fast, the first step is hands-on time with ONE tool this direction already uses, not a course catalog. Keep this heading in English exactly as written, in every language. Each bullet starts with a short bolded label:]\n- **[Skill or move]:** [one concrete line]\n- **[Skill or move]:** [one concrete line]\n\n## Alignment with your ambitions\n[40-60 words. Connect this direction to what THEY said this stage is for, not to career logic. Name what a genuinely good year looks like to them [4b] and what they actually mean by \"meaningful\" [7a], then judge honestly whether this direction delivers that, partly delivers it, or trades it away. Respect what they asked Cairnly to tell them straight [7c].\n\nHard rules:\n- Anchor on their own definition of a good year and of meaningful work, NOT on the happiness scores.\n- Do NOT reuse the \"extends your X/10 [role]\" pattern phrasing here. That belongs ONLY in \"Why this direction fits you.\" Repeating it here is a violation.\n- \"Ambitions\" at this stage means what they want this stage to be, not career progression. Never frame the direction as a stepping stone to a bigger title.\n- Always name the honest catch: what this direction does NOT give them (income, structure, the social density of an office, total freedom), judged against their own ranking [4a].]\n\nExample: \"A good year for you means real conversations and something to show for it, and two mentees plus one advisory seat delivers both. The catch: it will not replace the daily colleagues you said you will miss, so the social side of your week needs a second source.\"\n\n\n## Comparison Data\n\nAs the LAST thing in each direction (after all sections, before the career split), output one fenced ```json code block. The platform reads this to render a visual comparison and a written explanation, it is never shown to the candidate as raw text. Always include it.\n\n### fit_scores — every direction\n\nRate THIS direction from 1 to 5 on each axis. The score is FIT FOR THIS CANDIDATE, 5 = excellent fit, 1 = poor fit, judged against their Initial Summary (what matters now, hours, energy, social preferences, income need, calendar):\n\n- **autonomy** — does the direction's independence match their structure-versus-freedom answer at this stage?\n- **social** — does the people and interaction load sit within how social interactions affect their energy now? (5 = comfortably within their limit, 1 = will drain them)\n- **pace** — does the rhythm and pressure of the work match when their energy is at its best and the pace they want now? (5 = comfortable, 1 = pressure-cooker mismatch)\n- **stability** — does the income and predictability of the commitment match where income sits for them and their need for a dependable rhythm?\n- **schedule** — does the working setup (hours per week, seasonality, in person or remote) match what they said they want and what shapes their calendar?\n\nScore all three directions on ONE consistent scale, they are generated together, so a 4 on \"social\" must mean the same thing across all three.\n\n### comparison — direction 2 and direction 3 ONLY\n\nDirection 1 omits this entirely (the candidate has not seen the other directions yet). Direction 2 compares to direction 1. Direction 3 compares to directions 1 and 2.\n\n- **headline** — one sentence naming the single biggest way THIS direction differs from the earlier one(s). Direct, no hedging.\n- **explanation** — 120 to 170 words. Walk the candidate through how this direction genuinely differs and what that means for this stage of their life (different week, different social load, different way in, different income). Ground it in the axes where the fit scores differ most, those are the real differences. Shown when they ask to compare, so write it as a direct, helpful reply, same voice and Writing Rules as the rest of the output.\n- not bullet-heavy. Keep paragraphs short (2 to 4 sentences) with a blank line between them, so longer answers stay easy to read on screen.\n\n### move — every direction\n\nRate how ready THIS candidate is to START this direction, as encore-readiness, AFTER accounting for AI (AI-assisted learning compresses preparation, and some gaps matter less because the work itself is becoming AI-augmented). Judge against this reality, not pre-AI assumptions. Use EXACTLY one of these four labels:\n- **Ready now** — they could start this quarter through their own network; their track record already clears the bar, no new learning and no repositioning needed.\n- **Reframe** — the experience is all there, but the packaging is wrong: their profile, CV, or story still reads as the old full-time role and needs rewriting for this direction. No genuinely new skills to learn.\n- **Upskill** — a real but bounded gap: a governance certification, teaching qualification, or hands-on tool fluency, closable in months of focused effort before the direction opens up.\n- **Retrain** — the direction genuinely requires a credential or skill base they do not have; a longer program or formal qualification is the honest path in.\n\n### Format\n\nDirection 1:\n```json\n{\"fit_scores\":{\"autonomy\":5,\"social\":5,\"pace\":5,\"stability\":2,\"schedule\":4},\"move\":\"Ready now\"}\n```\n\nDirection 2 and Direction 3:\n```json\n{\"fit_scores\":{\"autonomy\":4,\"social\":2,\"pace\":2,\"stability\":4,\"schedule\":4},\"move\":\"Upskill\",\"comparison\":{\"headline\":\"One-sentence main difference.\",\"explanation\":\"Full 120-170 word explanation here.\"}}\n```\n\nOutput valid JSON only inside the block, no comments, no trailing commas. This block does not count toward the per-direction word target.\n\n---CAREER_SPLIT---\n\n## Path Type Framing (Critical for honesty)\n\nEach enriched direction has a `path_type` field: `employee`, `freelance_fractional`, or `founder`. Some legacy entries may have `null` or `\"N/A\"`, treat those as `employee`.\n\nThe path_type fundamentally shapes how someone at this stage approaches the direction. Adjust framing accordingly:\n\n**employee** — a part-time or fixed-term role at someone else's organization.\n- \"What you'll actually do\" describes the role at THEIR hours, not the full-time version\n- \"How you get in at your seniority\" is honest that open applications convert poorly at this stage; the network route and being asked matter more\n- \"Alignment with what matters now\" weighs the structure and colleagues an employer gives against the freedom they said they want\n\n**freelance_fractional** — advisory, interim, fractional, board, or independent expert work.\n- \"What you'll actually do\" includes the light pipeline work (staying visible, saying yes and no) alongside delivery\n- \"The practical stuff > Money\" states the realistic day rate or board fee and how steady the flow really is\n- \"The Reality Check\" must include the pipeline bullet, framed as workload and choice, NOT income timing. Board seats specifically: nomination cycles are slow and seats are scarce; registries and one warm introduction beat cold applications.\n\n**founder** — a passion or portfolio business at this stage.\n- \"What you'll actually do\" includes selling, admin, and unglamorous everything-else work, at hobby-compatible hours\n- \"The practical stuff > Money\" must state the honest build horizon and that this is capital discipline territory: validate small, protect retirement funds, decide what it is allowed to cost\n- \"The Reality Check\" must include the validate-before-committing reality, framed as decision discipline, not a scare. Keep the timeline itself in Money.\n- \"Alignment with what matters now\" frames it as building something on their terms, not scaling a startup\n\nUse the `path_type_notes` field from the enriched direction as the source of truth for path-specific honesty (fee levels, validation requirements). Quote or paraphrase it where natural rather than inventing framing.\n\n## Writing Rules:\n\n**Tone:**\n- Direct: \"This gives you X\" not \"provides an opportunity\"\n- No hedging: \"You'll struggle with Y\" not \"might present challenges\"\n- Respectful and straight. Never condescending: they have run things bigger than this report. Never write \"at your age\", \"still sharp\", \"young at heart\", \"keeping busy\", or \"well-deserved rest\"\n- Short paragraphs (2-4 sentences)\n- Adhere to the word limit restrictions! 550-650 words total per direction!\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n- **NEVER use survey question labels in your output! eg. '4a', '7b'**\n- Checkmarks ✓ and warning ⚠ symbols in bold!\n* if using bulletpoints, make the bullet label bold for readability and emphasis\n\n**Avoid:**\n- Flattery: valuable, impressive, exceptional, unique, perfect\n- Corporate: serves you well, positions you, meaningful impact, leverage\n- Retirement cliches: golden years, next chapter, give back, stay active, young at heart\n- Qualifiers: \"The fact that...\", \"It's worth noting...\"\n- Mixing currencies. Stick with the region's currency, consistently!\n- Fabricated statistics or invented market numbers. If you do not know a number, do not make one up.\n- Em-dashes (—). NEVER use em-dashes in output. Use commas, periods, colons, parentheses, or sentence breaks instead. This applies to every section.\n\n**Required connections (every direction):**\n- 1+ career sentiment log [2b] reference, treated as supporting evidence, not the spine of the section\n- Quote the candidate's comment verbatim ONLY when it carries specific meaning (a phrase, a reason, an emotion). If the comment is generic or one word, paraphrase or skip the quote and lean on score + pattern instead.\n- Never quote a bare score in isolation. A score must always be paired with either (a) the candidate's comment, (b) an extend/avoid pattern, or (c) a priority or constraint.\n- Top ranked priorities for this stage [4a]\n- 1+ practical constraint: hours [5a], calendar commitments [6c], mobility [6b], or an environment they are done with [5d]\n- 1 behavioral watch-out from their answers ([3g], [3f], [3e]), varied across the three directions\n- Pattern analysis (extend/avoid)\n- Their biggest fear about this stage [4c] addressed head-on in at least one direction where it genuinely applies\n- Compatibility score always in XX/100 e.g. 92/100 format!\n\n**Target: 550-650 words per direction**\n\n---\n\n## Inputs:\n\n**CAI Score Analysis (incl compatibility score):**\n{{ JSON.stringify($('Encore WF3P Webhook').first().json.body.top_3_careers) }}\n\n**Top 3 Enriched Directions:**\n{{ JSON.stringify($json.top3_enriched_combined) }}\n\n**Initial Summary:**\n{{ $('Encore WF3P Webhook').first().json.body.init_summary_content }}\n\n\n---\n\nGenerate all 3 directions now. Use \"---CAREER_SPLIT---\" between (not before first or after last).\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write all PROSE in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up).\nKeep these EXACTLY as specified (English / structured) so downstream parsing keeps working:\n- the ---CAREER_SPLIT--- delimiter between directions\n- the \"# \" title line, the \"**Alternative titles:** ... | **At:** ...\" line, and \"**Compatibility score: NN/100**\"\n- any final ```json``` comparison block (keys and values stay exactly as specified, including the move labels Ready now / Reframe / Upskill / Retrain)\nUse Markdown \"## \" for each subheader; the subheader TEXT itself in Dutch. Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical). Keep the \"Future-proof skills\" subheader in English (do not translate it).","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,320],"id":"0543a3cd-fd28-4929-ba2b-9bdaa39368fd","name":"T3 Careers Prompt"},{"parameters":{"promptType":"define","text":"={{ $json.top_3_careers_prompt }}","batching":{}},"id":"2cd75cb0-f79a-4b43-b9b4-f4bbb0a69abe","name":"Top 3 Careers Generator","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,320]},{"parameters":{"jsCode":"// Get the input text\nconst fullText = $json.text;\n// Get report_id from trigger\nconst reportId = $('Encore WF3P Webhook').first().json.body.report_id;\nconst __lr = $('Get Report Language').first().json; const __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\n\n\n// Subheaders to convert to h5 tags (must match ACTUAL AI output headers)\nconst CAREER_SUBHEADERS = [\n  \"Overview\",\n  \"Why this direction fits you\",\n  \"What you'll actually do\",\n  \"How you get in at your seniority\",\n  \"Your first 90 days\",\n  \"The Reality Check\",\n  \"The practical stuff\",\n  \"How AI will impact this role\",\n  \"Future-proof skills\",\n  \"Alignment with your ambitions\"\n];\n\n// Pull the machine-readable comparison JSON out of a career chunk.\n// The model appends it as a fenced ```json block, last thing in the career.\n// Returns { metadata, cleanedText }. On ANY failure metadata is null, so a\n// missing or malformed block degrades gracefully and never breaks the report.\nfunction extractMetadata(careerText) {\n  let raw = null;\n  let matchedBlock = null;\n\n  // Preferred: a fenced code block (```json ... ``` or ``` ... ```).\n  // Take the LAST one — the comparison block is the last thing in the career.\n  const fenceRegex = /```(?:json)?\\s*([\\s\\S]*?)```/gi;\n  let m;\n  while ((m = fenceRegex.exec(careerText)) !== null) {\n    raw = m[1];\n    matchedBlock = m[0];\n  }\n\n  // Fallback: a bare { ... } span (model dropped the fence).\n  if (raw === null) {\n    const bm = careerText.match(/\\{[\\s\\S]*\\}/);\n    if (bm) {\n      raw = bm[0];\n      matchedBlock = bm[0];\n    }\n  }\n\n  if (raw === null) {\n    return { metadata: null, cleanedText: careerText.replace(/\\n+\\s*\\*{0,2}More details[^\\n]*\\s*$/i, '').trim() };\n  }\n\n  let metadata = null;\n  try {\n    metadata = JSON.parse(raw.trim());\n  } catch (e) {\n    metadata = null;\n  }\n\n  const cleanedText = careerText.replace(matchedBlock, '').replace(/\\n+\\s*\\*{0,2}More details[^\\n]*\\s*$/i, '').trim();\n  return { metadata, cleanedText };\n}\n\n// Function to convert subheaders to h5 tags\nfunction formatSubheaders(content) {\n  let formatted = content;\n\n  // Convert ## headers to h5 tags\n  formatted = formatted.replace(/^## (.+)$/gm, '<h5>$1</h5>');\n\n  // Also convert bold-only subheaders from the predefined list\n  CAREER_SUBHEADERS.forEach(subheader => {\n    const regex = new RegExp(`(^|\\\\n)\\\\*\\\\*${subheader}\\\\*\\\\*:?\\\\s*`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n\n  // Clean up any leftover markdown bold markers\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '$1');\n\n  return formatted.trim();\n}\n\n// Function to extract career metadata and clean content\nfunction parseCareer(careerText) {\n  const lines = careerText.trim().split('\\n');\n  let title = '';\n  let alternateTitles = '';\n  let companySizeType = '';\n  let score = null;\n  let contentStartIndex = 0;\n\n  // Parse first few lines for metadata\n  for (let i = 0; i < Math.min(15, lines.length); i++) {\n    const line = lines[i].trim();\n\n    // Extract title - ONLY single # (career title), not ## (subheaders)\n    if (line.match(/^# [^#]/) ) {\n      title = line.replace(/^# /, '').trim();\n      contentStartIndex = i + 1;\n    } else if (line.match(/^-?\\s*Title:/i)) {\n      title = line.replace(/^-?\\s*Title:\\s*/i, '').trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n\n    // Extract alternate titles\n    if (line.match(/^\\*\\*Alternative titles:\\*\\*/i) || line.match(/^-?\\s*\\*?Alternate titles:/i)) {\n      const altMatch = line.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n      if (altMatch) {\n        alternateTitles = altMatch[1].trim();\n        companySizeType = altMatch[2].trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      } else {\n        alternateTitles = line\n          .replace(/^-?\\s*\\*?\\*?Alternative titles:\\*?\\*?\\s*/i, '')\n          .replace(/^-?\\s*\\*?Alternate titles:\\*?\\s*/i, '')\n          .replace(/\\*/g, '')\n          .trim();\n        contentStartIndex = Math.max(contentStartIndex, i + 1);\n      }\n    }\n\n    // Extract company size - standalone \"At:\" line\n    if (line.match(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i) && !line.match(/Alternative titles/i)) {\n      companySizeType = line\n        .replace(/^-?\\s*\\*?\\*?At:\\*?\\*?\\s*/i, '')\n        .replace(/\\*\\*/g, '')\n        .trim();\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n\n    // Extract compatibility score\n    const scoreMatch = line.match(/\\*?\\*?Compatibility score:\\s*(\\d+)\\/100\\*?\\*?/i);\n    if (scoreMatch) {\n      score = parseInt(scoreMatch[1], 10);\n      contentStartIndex = Math.max(contentStartIndex, i + 1);\n    }\n  }\n\n  // Skip empty lines after metadata\n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n\n  // Get remaining content and format subheaders\n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatSubheaders(rawContent);\n\n  return {\n    title: `<h3><strong>${title || 'Career Option'}</strong></h3>`,\n    alternate_titles: alternateTitles ? `<strong>Alternate titles:</strong> ${alternateTitles}` : '',\n    company_size_type: companySizeType ? `<h4><strong>${companySizeType}</strong></h4>` : '',\n    content: formattedContent,\n    score: score\n  };\n}\n\n// Split by separator\nconst splitCareers = fullText.split('---CAREER_SPLIT---');\n\n// Validate we have 3 parts\nif (splitCareers.length !== 3) {\n  throw new Error(`Expected 3 careers but found ${splitCareers.length}`);\n}\n\n// Pull the comparison JSON out of each chunk BEFORE parsing the prose,\n// so the raw JSON never lands in the rendered content.\nconst meta1 = extractMetadata(splitCareers[0]);\nconst meta2 = extractMetadata(splitCareers[1]);\nconst meta3 = extractMetadata(splitCareers[2]);\n\n// Parse each career from the cleaned (JSON-stripped) text\nconst career1 = parseCareer(meta1.cleanedText);\nconst career2 = parseCareer(meta2.cleanedText);\nconst career3 = parseCareer(meta3.cleanedText);\n\n// Map to structured output with all required fields.\n// `metadata` is picked up automatically by the autoMap Supabase insert.\nreturn [\n  {\n    json: {\n      title: career1.title,\n      alternate_titles: career1.alternate_titles,\n      company_size_type: career1.company_size_type,\n      content: career1.content,\n      score: career1.score,\n      metadata: meta1.metadata,\n      report_id: reportId,\n      section_type: \"top_career_1\",\n      order_number: 1,\n      language: __lang\n    }\n  },\n  {\n    json: {\n      title: career2.title,\n      alternate_titles: career2.alternate_titles,\n      company_size_type: career2.company_size_type,\n      content: career2.content,\n      score: career2.score,\n      metadata: meta2.metadata,\n      report_id: reportId,\n      section_type: \"top_career_2\",\n      order_number: 2,\n      language: __lang\n    }\n  },\n  {\n    json: {\n      title: career3.title,\n      alternate_titles: career3.alternate_titles,\n      company_size_type: career3.company_size_type,\n      content: career3.content,\n      score: career3.score,\n      metadata: meta3.metadata,\n      report_id: reportId,\n      section_type: \"top_career_3\",\n      order_number: 3,\n      language: __lang\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,320],"id":"a8b60d92-97e1-4a7e-911d-3db2623f0198","name":"Split Top3"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1696,320],"id":"31205f90-595b-4875-b31a-44c19192b642","name":"Insert Top 3","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Prep runner up data + build RPC body for Pull Runner up\nconst trigger = $('Encore WF3P Webhook').first().json.body;\nconst careers = trigger.runner_up_careers || [];\nconst input_careers_text = careers.map(c => ({\n  career_title: c.career_title,\n  company_size_type: c.company_size_type\n}));\nreturn [{ json: {\n  runner_up: careers,\n  rpc_body: JSON.stringify({ input_careers_text })\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,624],"id":"122022e0-92c2-4f85-be97-e15f8041a485","name":"4-10 only"},{"parameters":{"url":"=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/enriched_jobs?report_id=eq.{{ $('Encore WF3P Webhook').first().json.body.report_id }}&select=*","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,624],"id":"40a9382b-63fa-4f84-ab79-bab144ade1e3","name":"Pull Runner up","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Combine all items into one item\nconst allItems = $input.all();\nconst allCareers = allItems.map(item => item.json);\n\nreturn [{ \n  json: { \n    allCareers: allCareers,\n    careerCount: allCareers.length \n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,624],"id":"1f86ac80-2bd4-42a4-b864-0fcd33839202","name":"Combine runners"},{"parameters":{"assignments":{"assignments":[{"id":"runner_up_prompt_assignment","name":"=runner_up_prompt","value":"=# Runner-Up Encore Directions Generator\n\nYou are Cairnly, presenting alternative directions beyond the top 3 for someone at or approaching retirement after a 30-45 year career. These scored 55+ but didn't make the final cut. Directions can be employment or non-employment forms: advisory, board seats, mentoring, teaching, substantive volunteering, a passion business, part-time expert roles. Be concise, honest, and respectful, zero condescension: help them see what's appealing, how someone with their track record actually gets in, and what the trade-offs are at this stage. Never frame anything as filler to keep someone busy.\n\n---\n\n## Output Structure (Each Direction):\n\n# [Career Title]\n**Alternative titles:** [From enriched data] | **At:** [Company size/type]\n\n**Compatibility score: [XX/100]**\n\n## Overview\n\n[25-40 words. Plain-English description of what this direction actually is and does day to day, written so a reader who has never heard the title immediately understands it. Base it on the `overview` field in the enriched data; rephrase for clarity and brevity, do not quote verbatim. Just what it IS, no fit or trade-offs here.]\n\n## Why this direction fits you\n\n[60-80 words MAX, 1-2 short paragraphs. Assume the reader now knows what the direction is from the Overview, do not re-describe it here.]\n- What's appealing about this direction and why it suits them now, tied to at least one concrete signal: a happiness score from their career log, what they were known for, what they secretly loved, or a top ranked priority for this stage\n- Why it's not Top 3 (be specific about the gap: hours, social load, income, entry route, or energy)\n\n## What works for you\n\n[3 bullets, 50-60 words total]\n\n✓ **[Benefit].** [1 sentence tied to their data]\n\n## The Reality Check\n\n[3 bullets, 50-60 words total]\n\n⚠ **[Concern].** [1 sentence]\n\n## The practical stuff\n\n**Money:** [Day rate, board fee, part-time range, or honestly unpaid. Estimate with \"(estimated)\" if not in data. One clause against their income answer: not a factor, top-up, or needed.]\n\n**Schedule:** [Type, at their stated hours]\n\n**Energy:** [Interaction level]\n\n## How AI will impact this role\n[1-2 sentences. Use ai_impact_rating from enriched data. Frame AI as leverage for judgment and experience, honestly: what AI absorbs in this direction, what their decades of pattern recognition still decide, and what staying current takes. Connect to how the pace of technology feels from where they sit. Keep the Rating Scale label, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n## Future-proof skills\n[Exactly 2 bullets, max 35 words total. Concrete moves that keep THIS person's experience legible and valuable in THIS direction as AI reshapes it, specific to them, never generic. Scale to the AI impact rating directly above:\n- Minimal / Moderate: the practice that keeps their judgment the deciding layer (domain currency, one AI tool used weekly, the network that keeps insight fresh).\n- High: learn to direct and quality-check AI output in this domain rather than producing by hand.\n- Severe: the one capability that keeps an experienced person in a shrinking set of seats (owning outcomes, relationships, supervising AI output, edge-case judgment).\n- Critical: the adjacent, more durable form of the same expertise (from doing to teaching, from producing to governing) and the bridge to it.\nTie it to how technology's pace feels to them: if comfortable, push them to be the AI-fluent senior voice, that is rare and valued; if it feels fast, start with hands-on time in ONE tool this direction already uses. Keep this heading in English. Each bullet starts with a short bolded label:]\n- **[Skill or move]:** [one concrete line]\n- **[Skill or move]:** [one concrete line]\n\n**More details in your dashboard.**\n\n---CAREER_SPLIT---\n\n---\n\n## Path Type Framing\n\nEach direction has a `path_type`: `employee`, `freelance_fractional`, or `founder`. Treat `null` or `\"N/A\"` as `employee`.\n\nIn the compact runner-up format, remember the reader is at or approaching retirement:\n- For `freelance_fractional`: ensure one bullet in \"Reality Check\" addresses the pipeline or nomination reality (advisory work still needs client flow; board seats move in slow, scarce cycles), framed as workload and choice, not income timing\n- For `founder`: ensure one bullet in \"Reality Check\" addresses capital discipline: validate small, protect retirement funds, decide in advance what it may cost (use `path_type_notes` as source)\n- For `employee`: standard framing, but honest that open applications convert poorly at this stage; the network route matters more\n\nThe path_type already shapes the enriched data (typical_tasks, leadership_challenges, career_progression). Let those flow through naturally, no need to over-explain in the compact format.\n\n## Entry & Stage Reality\n\nEvery runner-up must make the way IN visible for someone entering at their seniority. Use ONE of the three \"What works for you\" or \"Reality Check\" bullets to name the realistic entry route: the former colleague or successor to call, the board registry or association channel, the alumni network, the teaching pool, or the certification that genuinely gates the direction, plus a rough time horizon. Where age genuinely works against them in THIS market, say so plainly in one Reality Check bullet and name what offsets it (network entry, reputation, niche depth), never as a capability limit and never invented where age is neutral. Where the direction carries formal board liability, weigh it against their stated appetite for formal responsibility. **Factor in the AI reality:** AI-assisted learning compresses preparation, and some gaps matter less because the work itself is becoming AI-augmented, so judge gaps against this new reality while staying honest that real gaps take real effort. Keep it within the word budget; do not add a fourth bullet. No fabricated statistics.\n\n## Move rating (hidden)\n\nClassify how ready the candidate is to START this direction, as encore-readiness, AI-adjusted (AI compresses preparation; some gaps matter less as the work becomes AI-augmented). Pick ONE:\n- Ready now: they could start this quarter through their own network; their track record already clears the bar.\n- Reframe: the experience is all there; the gap is packaging (profile, CV, story still read as the old full-time role), not new skills.\n- Upskill: a real but bounded gap (governance certification, teaching qualification, tool fluency) closable in months.\n- Retrain: the direction genuinely requires a credential or skill base they do not have; a longer program is the honest path.\nAt the very end of each direction (after \"More details in your dashboard.\", before ---CAREER_SPLIT---), output it on its own line as an HTML comment exactly like <!--move:Upskill--> with the chosen level. Never show the rating any other way.\n\n## Critical Rules:\n\n**LENGTH LIMITS (STRICT):**\n- \"Why this direction fits you\": 60-80 words MAX\n- \"What works for you\": 50-60 words (3 short bullets)\n- \"The Reality Check\": 50-60 words (3 short bullets)\n- \"The practical stuff\": 30-40 words\n- \"How AI will impact this role\": 15-20 words\n- **Total per direction: 200-250 words MAXIMUM**\n\nIf running long, cut adjectives. Be terse.\n\n**MISSING DATA:**\n- If pay missing: provide an estimate with \"(estimated)\", or state plainly that the form is typically unpaid\n- If AI impact missing: assess based on role type\n- Never write \"not specified\" or \"data not available\"\n\n**TONE:**\n- Business casual, direct\n- Cairnly voice: honest, helpful, no fluff, zero condescension\n- Shorter than Top 3 (these are backups)\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n- Never write \"at your age\", \"still sharp\", \"keeping busy\", \"give back\", or \"golden years\"\n- No em-dashes, ever. Use commas, periods, colons, or parentheses instead.\n\n**PERSONAL CONNECTIONS:**\n- Reference their career sentiment log (happiness scores and reasons) if relevant\n- Cite their hours, calendar commitments, income answer, or ranked priorities for this stage\n- Note why not Top 3 specifically\n- Across the runner-up directions, do not lean on the same watch-out or constraint as the lead concern each time. Vary which one each Reality Check draws on.\n\n**FORMAT:**\n- Use exact headers shown above\n- Compatibility score always in XX/100 e.g. 92/100 format!\n- Use ✓ for benefits, ⚠ for concerns, make these bold\n* if using bulletpoints, make the bullet label bold for readability and emphasis\n- **NEVER use survey question labels in your output! eg. '4a', '7b'**\n- Use ---CAREER_SPLIT--- between directions\n- Output plain markdown (not JSON)\n\n---\n\n## Examples:\n\n**Good \"Why this direction fits you\" (70 words):**\n\"This extends your 9/10 advisory years into supervisory work: judgment delivered in board cycles, preparation on your own hours. You said the politics were what wore you down, and a supervisory seat sits above the politics rather than inside them. It didn't make Top 3 because seats are scarce, nominations run in slow cycles, and you want to start within six months.\"\n\n**Good bullet (15-20 words):**\n✓ **Network entry exists.** Two of your former CFO peers sit on nomination committees; that coffee beats any registry.\n\n⚠ **Liability is personal and formal.** You said influence without liability; a supervisory seat is the opposite of that answer.\n\n---\n\n## Inputs:\n\n**Runner-Up Directions (with compatibility_scores and patterns):**\n{{ JSON.stringify($('Encore WF3P Webhook').first().json.body.runner_up_careers) }}\n\n**Enriched Direction Data:**\n{{ JSON.stringify($json.allCareers) }}\n\n**Initial Summary (career sentiment log, priorities for this stage, hours, income need, constraints):**\n{{ $('Encore WF3P Webhook').first().json.body.init_summary_content }}\n\n---\n\nGenerate all runner-up analyses. Use ---CAREER_SPLIT--- between directions (not before first or after last). Output markdown only.\n\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write all PROSE in Dutch: informal je/jij/jouw (never 'u'), no em-dashes, Dutch number/date formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up).\nKeep these EXACTLY as specified (English / structured) so downstream parsing keeps working:\n- the ---CAREER_SPLIT--- delimiter between directions\n- the \"# \" title line, the \"**Alternative titles:** ... | **At:** ...\" line, and \"**Compatibility score: NN/100**\"\n- the hidden <!--move:...--> comment (labels stay exactly Ready now / Reframe / Upskill / Retrain)\nUse Markdown \"## \" for each subheader; the subheader TEXT itself in Dutch. Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical).","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,624],"id":"fd8e03ae-b234-411b-a637-377b6e5b661d","name":"Set Runner Up Prompt"},{"parameters":{"promptType":"define","text":"={{ $json.runner_up_prompt }}","batching":{}},"id":"d92dfe34-c58e-4142-b4d4-c1ccc61dc9f8","name":"Runner Up Analysis","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,624]},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[384,1680],"id":"0f811083-0b01-4779-9de1-331f668fe5b1","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"gGM2sOHB72WgN7UU","name":"OpenRouter account 2"}}},{"parameters":{"jsCode":"// Parse Runner-Up Careers (Markdown format with CAREER_SPLIT delimiter)\nconst input = $input.first().json.text;\n\n// Get report_id from the same node that Split Top3 uses\nconst reportId = $('Encore WF3P Webhook').first().json.body.report_id;\nconst __lr = $('Get Report Language').first().json; const __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\n\n// GUARD (2026-07-05): if no runner-up careers came in from '4-10 only', the\n// upstream pool was empty. Do NOT parse the LLM output (it hallucinates a\n// \"the list is empty\" complaint). Emit one clean, controlled placeholder row.\nconst __ru = ($('4-10 only').first().json.runner_up) || [];\nif (!Array.isArray(__ru) || __ru.length === 0) {\n  const __msg = __lang === 'nl'\n    ? 'Er zijn geen aanvullende runner-up carrières geïdentificeerd die hoog genoeg scoorden. Je sterkste matches staan in je top 3 hierboven.'\n    : 'No additional runner-up careers scored high enough to include. Your strongest matches are captured in your top 3 above.';\n  return [{ json: {\n    title: '',\n    alternate_titles: '',\n    company_size_type: '',\n    content: '<p>' + __msg + '</p>',\n    score: null,\n    report_id: reportId,\n    metadata: { empty: true },\n    section_type: 'runner_ups',\n    order_number: 1,\n    language: __lang\n  } }];\n}\n\n\n// Split by the delimiter\nconst careerBlocks = input.split('---CAREER_SPLIT---').map(block => block.trim()).filter(Boolean);\n\nconst results = careerBlocks.map((block, index) => {\n  // Extract career title (first # heading, not ## subheaders)\n  const titleMatch = block.match(/^# ([^#].+)$/m);\n  const career_title = titleMatch ? titleMatch[1].trim() : `Career ${index + 1}`;\n\n  // Extract alternative titles and company size\n  const altTitlesMatch = block.match(/\\*\\*Alternative titles:\\*\\* (.+?) \\| \\*\\*At:\\*\\* (.+)/);\n  const alternate_titles = altTitlesMatch ? altTitlesMatch[1].trim() : '';\n  const company_size_type = altTitlesMatch ? altTitlesMatch[2].trim() : '';\n\n  // Extract compatibility score\n  const scoreMatch = block.match(/\\*\\*Compatibility score: (\\d+)\\/100\\*\\*/);\n  const score = scoreMatch ? parseInt(scoreMatch[1], 10) : null;\n\n  const moveMatch = block.match(/<!--move:(.*?)-->/i);\n  const move = moveMatch ? moveMatch[1].trim() : null;\n\n  // Build content language-agnostically: from the first \"## \" subheader\n  // onward, drop any trailing \"**More details\" footer, and convert every\n  // \"## X\" header to <h5>X</h5>. Works for English and Dutch headers alike.\n  let __body = block;\n  const __fh = __body.search(/^##\\s+/m);\n  if (__fh >= 0) __body = __body.slice(__fh);\n  __body = __body.split(/\\n\\*\\*More details/)[0];\n  const sections = __body.replace(/^##\\s+(.+?)\\s*$/gm, '<h5>$1</h5>').replace(/<!--move:.*?-->/gi, '').trim();\n\n  // Return one item per career (matches report_sections table structure)\n  return {\n    json: {\n      title: `<h3><strong>${career_title}</strong></h3>`,\n      alternate_titles: alternate_titles ? `<strong>Alternate titles:</strong> ${alternate_titles}` : '',\n      company_size_type: company_size_type ? `<h4><strong>${company_size_type}</strong></h4>` : '',\n      content: sections,\n      score: score,\n      report_id: reportId,\n      metadata: move ? { move } : null,\n      section_type: \"runner_ups\",\n      order_number: index + 1,\n      language: __lang\n    }\n  };\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,624],"id":"6e8e1b2c-b238-4d16-b0e8-f3a3451929a6","name":"Parse runner up"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1696,624],"id":"1f954c89-a292-4c95-b619-07bffec45458","name":"Insert Runner Ups","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Prepare data for Dream Job Feasibility prompt\nconst trigger = $('Encore WF3P Webhook').first().json.body;\nreturn [{\n  json: {\n    'Top 3 careers': trigger.top_3_careers_str,\n    'Runner up careers': trigger.runner_up_careers_str,\n    'Outside box careers': trigger.outside_box_careers_str\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,928],"id":"967c19be-18a5-47c8-9b3f-5e3381045b30","name":"Dream prep"},{"parameters":{"promptType":"define","text":"=# ROLE\nYou are an expert career strategist specializing in \"The Encore Version\": evaluating whether the thing someone always wanted to try deserves a real place in the stage after a 30-45 year career. Your reader is at or approaching retirement. They do not need a job; they need a reason. They have time, a network, and usually money on their side, and energy, scarce seats, and honest market realities to weigh against it.\n\n# TASK\nAnalyze the feasibility of the candidate's Dream Direction(s) as found in Input 1. Look for anything they explicitly name as the thing they always wanted to try but never had time for, plus the strongest recurring interest signals (hobbies they protect, themes they keep returning to, what they secretly loved in their work). Analyze at most the first 3 dream directions; if more are present, focus on the 3 most prominent. You must provide a balanced analysis that respects the dream while being intellectually honest about the reality at this stage: energy budgets, saturated hobby-turned-business markets, credential gates, and where age genuinely matters.\n\n## ANALYSIS DIMENSIONS\n1. **Personality & Energy Suitability:** Does the dream fit how they operate NOW: when their energy is at its best, how social interactions affect them these days, and their structure-versus-freedom preference at this stage?\n2. **The \"Encore Version\" Suggestion:** Instead of analyzing the dream only as a full occupation, suggest the dignified form that fits their hours and seniority (e.g., instead of \"Novelist,\" suggest \"a serious writing practice with one course, one workshop group, and a first manuscript deadline\"; instead of \"Winemaker,\" suggest \"harvest seasons at a local vineyard plus a viticulture course before any land is bought\"). Teaching it, mentoring in it, advising in it, a small paid practice, or a substantive volunteer version all count. The Encore Version must be the real thing at honest scale, never a token version of it.\n3. **Regional & Future Context:** Specifically consider the 2026 economic landscape of Northern and Western Europe (e.g., Netherlands, Germany, Scandinavia) including AI's impact on the field and what the dream realistically pays, if anything. No fabricated statistics: if you do not know a number, do not invent one.\n4. **Path Type Reality:** Identify whether the dream (or its Encore Version) is realistically a part-time employee role, independent practice (freelance/advisory), or a founder-style venture. Each carries different realities at this stage: founder paths mean capital discipline (validate small, protect retirement funds, decide in advance what it may cost); independent practice still needs client flow even with a strong network; employee paths depend on scarce part-time seats where the network route beats open applications. The \"Steps for Pursuing This Role\" section must reflect the real path type, not generic career steps.\n\n**TONE:**\n- Business casual, direct\n- Cairnly voice: honest, helpful, warm, no fluff, zero condescension: they have run things bigger than this report\n- Never write \"at your age\", \"still sharp\", \"keeping busy\", \"give back\", or \"golden years\"\n- Active voice, second person. Use 'you' and occasionally their name to address them!\n\n# CRITICAL FORMATTING REQUIREMENTS\n- If there are multiple dream directions, separate each analysis with: ---DREAM_JOB_SPLIT---\n- At the very end of each dream direction (before ---DREAM_JOB_SPLIT---), output its Move rating (encore-readiness to start pursuing it, AI-adjusted) as a hidden HTML comment exactly like <!--move:Retrain--> with ONE of: Ready now (they could start this quarter through their own network; their track record already clears the bar), Reframe (the experience is there, the gap is packaging not skills), Upskill (a real but bounded learning gap, months not years), Retrain (the field genuinely requires meaningful new certification or a skill base first). Dream directions are often Upskill or Retrain. Never show the rating any other way.\n- Start directly with the first title using the ## header.\n- **Strictly DO NOT use the em dash (—)** in your narrative. Use colons, commas, or parentheses instead.\n- **NEVER use survey question labels in your output! eg. '4a', '7b'**\n- Keep bullets to a maximum of 3 per section for scannability.\n- No intro or outro: start with the first Title immediately.\n\n# OUTPUT FORMAT\n\n## [Dream Direction Title]\n\n**Overview**\n[A conversational 2-sentence intro explaining why this dream resonates with their profile and evidence (what they secretly loved, what they keep returning to), written as if speaking directly to a peer.]\n\n**Feasibility Rating**\n**[Rating]**: [One-sentence \"Bottom Line\" reason for this rating.]\n\nThe rating must be exactly one of these five labels, copied verbatim, with the WHOLE rating in bold (including both words of a hyphenated range): **Low** | **Low - Moderate** | **Moderate** | **Moderate - High** | **High**. Follow it with a colon, a space, and the one-sentence reason.\nCorrect: **Low - Moderate**: Turning a lifelong wine interest into a paying vineyard needs land, licenses, and a decade.\nWrong: \"**Low** - Moderate: ...\" (only half bold), or \"Low - Moderate: ...\" (not bold at all).\n\n**Personality & Energy Fit**\n- [Bullet 1: Alignment with how social interactions affect their energy now and how social they want the work itself to be]\n- [Bullet 2: Alignment with their structure-versus-freedom preference at this stage and when their energy is at its best]\n- [Bullet 3: What this dream would demand of them that their track record and recognized tendencies (overcommitting, needing to be needed) do or do not support]\n\n**The Encore Version**\n- [Bullet 1: The specific dignified form that fits their stated weekly hours and seniority: the serious practice, the teaching or mentoring version, the small paid practice, the advisory angle, or the substantive volunteer version]\n- [Bullet 2: Explain how this version solves the energy, income, or credential risk of chasing the dream at full occupational scale]\n- [Bullet 3: Note if this dream or its Encore Version already appeared in their Top 15 or OTB lists for validation]\n\n**Industry Outlook & Regional Trends**\n- [Bullet 1: What this field realistically pays in Northern/Western Europe at part-time or practice scale, or an honest statement that it pays little or nothing, weighed against where income sits for them]\n- [Bullet 2: AI Impact: Frame AI as leverage for judgment and experience. Describe what AI absorbs in this field, what decades of pattern recognition still decide, and what staying current takes] - see below\n- [Bullet 3: Regional demand or barriers in Europe: certifications, licensing, market saturation in hobby-turned-business niches, and an honest ageism note ONLY where age genuinely works against them in this market, with what offsets it (network, reputation, niche depth). Never invent the barrier where age is neutral.]\n\n**Future-proof skills**\n- [Bullet 1: the human-centric skill or positioning that keeps this dream viable as AI reshapes the field, built on the judgment they already have]\n- [Bullet 2: one concrete, AI-aware capability to build now, achievable from where they are today, tied to how the pace of technology feels from where they sit]\n\n**Steps for Pursuing This Role**\n- [Bullet 1: Immediate low-stakes action this month to \"test\" the dream for real, ideally through their existing network (one conversation, one visit, one trial session)]\n- [Bullet 2: The certification, course, or proof that actually matters in the European market, with a rough honest time horizon judged against when they want this next stage to start]\n- [Bullet 3: A bounded pilot suggestion: the smallest real version to run for one season or one quarter, what it may cost, and the pre-agreed moment to decide whether it earns a bigger place in their week]\n\n*Heads-up: [Only include if this dream pays significantly less than what they said they need, or if its realistic minimum commitment clashes with their stated hours or calendar commitments.]*\n\n---DREAM_JOB_SPLIT---\n\n\n# INPUTS\n1. Where to extract the dream direction(s)\n{{ $('Encore WF3P Webhook').first().json.body.interests_history_text }}\n2. top 3 directions\n{{ $json['Top 3 careers'] }}\n3. runner up directions\n{{ $json['Runner up careers'] }}\n4. Out of box directions\n{{ $json['Outside box careers'] }}\n\n\n\n## AI impact rating scale\n\n[1-2 sentences. Use ai_impact_rating from enriched data where available. Frame AI as leverage for their judgment and experience, honestly: their real fear is irrelevance, not job loss. Be specific about what changes and what stays human. Connect to how the pace of technology feels from where they sit. Keep the Rating Scale label, tweak text for job relevance:\n- **Minimal**: The rare exception. The role leans on physical presence, hands-on skill, or human accountability AI cannot take over. Few office roles qualify. Think: skilled trades, emergency response, hands-on care.\n- **Moderate**: Healthy augmentation. AI absorbs routine research, drafting, and analysis; the human shifts to judgment, editing, and decisions and stays essential. Think: product management, senior consulting, UX strategy, people leadership.\n- **High**: The role reshapes. A large part of the day-to-day moves to AI; the human adapts to directing and quality-checking AI rather than doing the work by hand. Think: mid-level analysis, marketing execution, project coordination.\n- **Severe**: Teams shrink. Most of the role automates and the work concentrates into fewer, AI-leveraged people. Remaining human involvement is supervisory. Think: standard reporting, routine QA, first-line content.\n- **Critical**: Pivot needed. The core deliverables are fully automatable by agentic AI today, at higher speed and lower cost. The role as it exists is endangered. Think: data entry, basic customer support, routine translation.\nCalibration: Minimal is the EXCEPTION, not the default. Almost every office role is at least Moderate; do not rate a knowledge-work role Minimal just because it involves judgment, even senior roles are augmented.\n\n\n\n# OUTPUT LANGUAGE\npreferred_language = {{ $('Get Report Language').first().json.language }}\nIf preferred_language is NOT 'nl', write in English exactly as instructed above.\nIf preferred_language IS 'nl', write in Dutch: informal je-form, no em-dashes, Dutch formatting (€39,00, €1.500, dd-mm-jjjj). Keep brand terms in English (Cairnly, outside-the-box, runner-up). Keep AI-impact rating labels in English (Minimal, Moderate, High, Severe, Critical).\nKeep the ---DREAM_JOB_SPLIT--- delimiter and the hidden <!--move:...--> comment exactly (move labels stay exactly Ready now / Reframe / Upskill / Retrain). Use these EXACT Dutch subheaders instead of the English ones:\n  Overview -> Overzicht\n  Feasibility Rating -> Haalbaarheidsscore\n  Personality & Energy Fit -> Aansluiting op persoonlijkheid en energie\n  The Encore Version -> De encore-versie\n  Industry Outlook & Regional Trends -> Sectorvooruitzichten en regionale trends\n  Steps for Pursuing This Role -> Stappen om deze rol na te streven","batching":{}},"id":"231cb4d5-638c-40a8-acbb-8c54c1cc51cd","name":"Dream Job Feasibility","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1120,928]},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,1680],"id":"3cb7af92-065a-4b07-9360-e82a13b3f169","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"gGM2sOHB72WgN7UU","name":"OpenRouter account 2"}}},{"parameters":{"jsCode":"// Get report_id from upstream node\nconst reportId = $('Encore WF3P Webhook').first().json.body.report_id;\n\n// Get the dream jobs text from the upstream node\nconst fullText = $json.text;\n\n// Subheaders to convert to h5 tags\nconst __lr = $('Get Report Language').first().json;\nconst __lang = ((__lr && __lr.language) === 'nl') ? 'nl' : 'en';\nconst DREAM_JOB_SUBHEADERS_ALL = {\n  en: [\"Overview\",\"Feasibility Rating\",\"Personality & Energy Fit\",\"The Encore Version\",\"Industry Outlook & Regional Trends\",\"Future-proof skills\",\"Steps for Pursuing This Role\"],\n  nl: [\"Overzicht\",\"Haalbaarheidsscore\",\"Aansluiting op persoonlijkheid en energie\",\"De encore-versie\",\"Sectorvooruitzichten en regionale trends\",\"Future-proof skills\",\"Stappen om deze rol na te streven\"]\n};\nconst DREAM_JOB_SUBHEADERS = DREAM_JOB_SUBHEADERS_ALL[__lang];\n\nfunction formatDreamJobContent(content) {\n  let formatted = content;\n  \n  DREAM_JOB_SUBHEADERS.forEach(subheader => {\n    /**\n     * Updated Regex:\n     * 1. Looks for the subheader at the start of the string or after a newline\n     * 2. Allows for optional Markdown stars (**)\n     * 3. Allows for an optional colon (:)\n     * 4. Ensures it matches the whole line to avoid replacing the word mid-sentence\n     */\n    const regex = new RegExp(`(^|\\\\n)\\\\*?\\\\*?${subheader}\\\\*?\\\\*?:?\\\\s*(\\\\n|$)`, 'gi');\n    formatted = formatted.replace(regex, `$1<h5>${subheader}</h5>\\n\\n`);\n  });\n  \n  // Convert markdown bold to <strong> — covers the feasibility rating,\n  // which the prompt now bolds in full.\n  formatted = formatted.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n  \n  return formatted.trim();\n}\n\nfunction parseDreamJob(content) {\n  const lines = content.trim().split('\\n');\n  let title = '';\n  let contentStartIndex = 0;\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    // Match ## Title or just \"Chief Product Officer\" if it's the very first line\n    if (line.match(/^##\\s*.+$/) || (i === 0 && line.length > 0)) {\n      title = line.replace(/^##\\s*/, '').trim();\n      contentStartIndex = i + 1;\n      break;\n    }\n  }\n  \n  while (contentStartIndex < lines.length && lines[contentStartIndex].trim() === '') {\n    contentStartIndex++;\n  }\n  \n  const rawContent = lines.slice(contentStartIndex).join('\\n').trim();\n  const formattedContent = formatDreamJobContent(rawContent);\n  \n  return {\n    title: title || 'Dream Job',\n    content: formattedContent\n  };\n}\n\nconst dreamJobSections = fullText.split('---DREAM_JOB_SPLIT---');\nconst cleanSections = dreamJobSections.filter(section => section.trim().length > 0);\n\nconst records = cleanSections.map((section, index) => {\n  const parsed = parseDreamJob(section);\n  const moveMatch = section.match(/<!--move:(.*?)-->/i);\n  const move = moveMatch ? moveMatch[1].trim() : null;\n  const content = parsed.content.replace(/<!--move:.*?-->/gi, '').trim();\n  \n  return {\n    json: {\n      section_type: \"dream_jobs\",\n      title: `<h3>${parsed.title}</h3>`,\n      content: content,\n      metadata: move ? { move } : null,\n      report_id: reportId,\n      order_number: index + 1,\n      language: __lang\n    }\n  };\n});\n\nreturn records;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,928],"id":"04111827-9e37-4db8-a7cf-8e53003d4d90","name":"Parse Dream"},{"parameters":{"tableId":"report_sections","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1696,928],"id":"66e20bd2-df47-4eb3-865d-1fd266ff0482","name":"Insert dream","credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2272,608],"id":"02dc6615-008d-446b-a999-e1357ac8bc97","name":"Complete merge"},{"parameters":{"method":"POST","url":"https://pcoyafgsirrznhmdaiji.functions.supabase.co/analysis-completed","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"= { \"report_id\": \"{{ $('Encore WF3P Webhook').first().json.body.report_id }}\" }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2496,624],"id":"f2075da1-bebb-4ab5-a08e-9a5d5bf18cfb","name":"HTTP Request","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"aiABzg04zbeDSXRc","name":"Supabase Edge Functions — Shared Secret"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1120,464],"id":"1e239ace-b324-40cd-aecd-ad1ec2ba4a26","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1120,784],"id":"24281098-2118-4664-b89b-7a2ecd5ca9b8","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1120,1072],"id":"4f6a8057-64a9-4218-aed5-507716a6e05e","name":"Anthropic Chat Model2","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"url":"=https://pcoyafgsirrznhmdaiji.supabase.co/rest/v1/report_sections?report_id=eq.{{ $('Encore WF3P Webhook').first().json.body.report_id }}&select=language&limit=1","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,624],"id":"16814ad9-c418-46eb-a48e-f5f93c96eb1b","name":"Get Report Language","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}}],"connections":{"Top 3 only":{"main":[[{"node":"Pull enriched T3","type":"main","index":0}]]},"Pull enriched T3":{"main":[[{"node":"t3 content order","type":"main","index":0}]]},"t3 content order":{"main":[[{"node":"T3 enr. combined","type":"main","index":0}]]},"T3 enr. combined":{"main":[[{"node":"T3 Careers Prompt","type":"main","index":0}]]},"T3 Careers Prompt":{"main":[[{"node":"Top 3 Careers Generator","type":"main","index":0}]]},"Top 3 Careers Generator":{"main":[[{"node":"Split Top3","type":"main","index":0}]]},"Split Top3":{"main":[[{"node":"Insert Top 3","type":"main","index":0}]]},"Insert Top 3":{"main":[[{"node":"Complete merge","type":"main","index":0}]]},"4-10 only":{"main":[[{"node":"Pull Runner up","type":"main","index":0}]]},"Pull Runner up":{"main":[[{"node":"Combine runners","type":"main","index":0}]]},"Combine runners":{"main":[[{"node":"Set Runner Up Prompt","type":"main","index":0}]]},"Set Runner Up Prompt":{"main":[[{"node":"Runner Up Analysis","type":"main","index":0}]]},"Runner Up Analysis":{"main":[[{"node":"Parse runner up","type":"main","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[]]},"Parse runner up":{"main":[[{"node":"Insert Runner Ups","type":"main","index":0}]]},"Insert Runner Ups":{"main":[[{"node":"Complete merge","type":"main","index":1}]]},"Dream prep":{"main":[[{"node":"Dream Job Feasibility","type":"main","index":0}]]},"Dream Job Feasibility":{"main":[[{"node":"Parse Dream","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"Parse Dream":{"main":[[{"node":"Insert dream","type":"main","index":0}]]},"Insert dream":{"main":[[{"node":"Complete merge","type":"main","index":2}]]},"Complete merge":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Top 3 Careers Generator","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Runner Up Analysis","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model2":{"ai_languageModel":[[{"node":"Dream Job Feasibility","type":"ai_languageModel","index":0}]]},"Get Report Language":{"main":[[{"node":"Dream prep","type":"main","index":0},{"node":"4-10 only","type":"main","index":0},{"node":"Top 3 only","type":"main","index":0}]]},"Encore WF3P Webhook":{"main":[[{"node":"Get Report Language","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"FbsruPbuZI2Fgtc8"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"6e4b049f-6eb9-4ab9-a814-d11b1411d988","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-07-06T12:39:39.439Z","createdAt":"2026-07-06T12:39:39.439Z","role":"workflow:owner","workflowId":"ID5CaNR7Ux7TEzS5","projectId":"tU8FiznMfmTnDFNa","project":{"updatedAt":"2025-06-17T10:09:31.275Z","createdAt":"2025-06-17T10:09:28.440Z","id":"tU8FiznMfmTnDFNa","name":"Sjoerd Geurts <sjoerd@falkoratlas.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"}}],"tags":[],"parentFolder":null,"activeVersion":null}