n8n_wfs_cairnly/WF8 - Finding selected roles.json
{"updatedAt":"2026-07-01T07:44:16.953Z","createdAt":"2026-04-02T10:35:12.472Z","id":"Bx0uNW4gnnXIGO8j","name":"WF8 - Finding selected roles","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"job-search","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"webhook-trigger","name":"Job Search Webhook","webhookId":"d94ca5ba-8805-45f0-bbe6-2bc0cdb6bf6e"},{"parameters":{"jsCode":"// Build LinkedIn search URLs in a single Apify-friendly batch.\n// Includes both primary (translated per non-English country) AND alt-title\n// URLs in ONE call so Apify can parallelize them internally — faster than\n// running two sequential Apify calls (which hit the Cloudflare 100s timeout).\nconst items = $input.all();\nconst item = items[0]?.json || {};\n\nconst llmText = item.text || item.output || '';\nlet llmKeywords = [];\ntry {\n  const cleaned = String(llmText).replace(/```(?:json)?/g, '').trim();\n  const m = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    const parsed = JSON.parse(m[0]);\n    llmKeywords = Array.isArray(parsed.keywords)\n      ? parsed.keywords.map(k => String(k).trim()).filter(Boolean)\n      : [];\n  }\n} catch (e) {\n  console.warn('Keyword parse failed:', e.message);\n}\n\nconst prep = $('Prepare Translation Input').first().json;\nconst cleanedTitle = prep.cleaned_career_title || '';\nconst rawTitle = prep.raw_career_title || '';\nconst countryCodes = prep.country_codes || ['us'];\nconst city = prep.location || '';\nconst workArrangement = prep.work_arrangement || 'any';\nconst F_WT_PARAM = { remote_only: '2', remote_friendly: '2,3' };\nconst wtParam = F_WT_PARAM[workArrangement];\nconst jobCommitment = prep.job_commitment || 'any';\nconst F_JT_PARAM = { full_time: 'F', part_time: 'P', contract: 'C' };\nconst jtParam = F_JT_PARAM[jobCommitment];\nconst altTitlesDb = Array.isArray(prep.alternate_titles_db) ? prep.alternate_titles_db : [];\n\nconst ENGLISH_LOCALES = new Set(['us','gb','ca','au','nz','ie']);\nconst COUNTRY_NAMES = {\n  us: 'United States', gb: 'United Kingdom', ca: 'Canada', au: 'Australia',\n  nl: 'Netherlands', de: 'Germany', fr: 'France', be: 'Belgium',\n  ch: 'Switzerland', at: 'Austria', ie: 'Ireland', se: 'Sweden',\n  dk: 'Denmark', no: 'Norway', fi: 'Finland', es: 'Spain', it: 'Italy',\n  pt: 'Portugal', pl: 'Poland', nz: 'New Zealand', sg: 'Singapore', in: 'India'\n};\n\nfunction detectSeniority(title) {\n  if (/\\b(executive\\s+coach|executive\\s+assistant|account\\s+executive)\\b/i.test(title)) return null;\n  if (/\\b(chief|cxo|cpo|cto|cfo|ceo|coo|cmo)\\b/i.test(title)) return '5,6';\n  if (/\\b(director|vp|vice\\s+president|head\\s+of)\\b/i.test(title)) return '5,6';\n  if (/\\b(senior|sr\\.?|lead|principal|staff)\\b/i.test(title)) return '4';\n  if (/\\b(junior|jr\\.?|associate|entry|intern|graduate|trainee)\\b/i.test(title)) return '2,3';\n  return null;\n}\n\nconst seniorityPrimary = detectSeniority(rawTitle);\n\n// PRIMARY URLs: one per country, using translated keyword for non-English locales\nconst urls = [];\nconst searchTermsLog = [];\nfor (const code of countryCodes) {\n  const countryName = COUNTRY_NAMES[code] || 'United States';\n  const location = city ? `${city}, ${countryName}` : countryName;\n  // LLM-generated English keyword (preserves \"AI\"/domain terms, drops fluff).\n  // Falls back to the rule-based cleaned title if the LLM gave nothing usable.\n  const keyword = llmKeywords[0] || cleanedTitle;\n\n  let url = `https://www.linkedin.com/jobs/search/?keywords=${encodeURIComponent(keyword)}&location=${encodeURIComponent(location)}&position=1&pageNum=0`;\n  if (seniorityPrimary) url += `&f_E=${seniorityPrimary}`;\n  if (wtParam) url += '&f_WT=' + encodeURIComponent(wtParam);\n  if (jtParam) url += '&f_JT=' + encodeURIComponent(jtParam);\n  urls.push(url);\n  searchTermsLog.push({ country: code, kind: 'primary', keyword });\n}\n\n// ALT URLs: up to 2 alt titles, English keywords, per country.\n// These broaden coverage for niche careers where the primary keyword doesn't\n// match LinkedIn's typical job-posting language (e.g. 'Executive Coach' →\n// 'Leadership Coach', 'Performance Coach').\nconst selectedAlts = altTitlesDb\n  .map(t => String(t || '').trim())\n  .filter(Boolean)\n  .filter(t => t.toLowerCase() !== cleanedTitle.toLowerCase()) // skip if alt == primary\n  .slice(0, 3); // use up to 3 alt titles so report-suggested variations actually surface\n\nfor (const alt of selectedAlts) {\n  const seniorityAlt = detectSeniority(alt);\n  for (const code of countryCodes) {\n    const countryName = COUNTRY_NAMES[code] || 'United States';\n    const location = city ? `${city}, ${countryName}` : countryName;\n    let url = `https://www.linkedin.com/jobs/search/?keywords=${encodeURIComponent(alt)}&location=${encodeURIComponent(location)}&position=1&pageNum=0`;\n    if (seniorityAlt) url += `&f_E=${seniorityAlt}`;\n    if (wtParam) url += '&f_WT=' + encodeURIComponent(wtParam);\n  if (jtParam) url += '&f_JT=' + encodeURIComponent(jtParam);\n    urls.push(url);\n    searchTermsLog.push({ country: code, kind: 'alt', keyword: alt });\n  }\n}\n\n// Apify count is global to the call, not per URL. Scale roughly to the number\n// of URLs so each URL contributes meaningfully but total stays bounded.\n// 2 URLs → 15, 4 URLs → 20, 6 URLs → 24\nconst count = Math.max(10, Math.min(40, urls.length * 4)); // bumped cap so more alt-title URLs aren't starved\n\nreturn [{\n  json: {\n    raw_career_title: rawTitle,\n    cleaned_career_title: cleanedTitle,\n    seniority_filter: seniorityPrimary,\n    country_codes: countryCodes,\n    work_arrangement: workArrangement,\n    location: city,\n    llm_keywords: llmKeywords,\n    alt_titles_used: selectedAlts,\n    search_terms_per_url: searchTermsLog,\n    apify_input: {\n      urls,\n      count,\n      scrapeCompany: false\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,0],"id":"build-search-url","name":"Build LinkedIn Search URL"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.apify_input) }}","options":{"timeout":180000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,0],"id":"apify-linkedin-scraper","name":"Apify LinkedIn Scraper","credentials":{"httpQueryAuth":{"id":"NX0Qbwd5lWtjDb8T","name":"Apify API Token"}}},{"parameters":{"jsCode":"// Normalize Apify LinkedIn Jobs Scraper response, dedupe by job id\nconst items = $input.all();\nconst seen = new Set();\n\nconst jobs = items.reduce((acc, item, idx) => {\n  const job = item.json;\n\n  // Skip empty placeholder items (from alwaysOutputData when Apify returns 0 results)\n  if (!job || (!job.title && !job.id && !job.refId)) return acc;\n\n  let salaryMin = null;\n  let salaryMax = null;\n\n  if (job.salaryInsights && job.salaryInsights.compensationBreakdown && job.salaryInsights.compensationBreakdown.length > 0) {\n    const comp = job.salaryInsights.compensationBreakdown[0];\n    if (comp.minSalary) salaryMin = parseFloat(String(comp.minSalary).replace(/[^\\d.]/g, ''));\n    if (comp.maxSalary) salaryMax = parseFloat(String(comp.maxSalary).replace(/[^\\d.]/g, ''));\n  }\n\n  if (!salaryMin && Array.isArray(job.salaryInfo) && job.salaryInfo.length > 0) {\n    const salStr = job.salaryInfo.join(' ');\n    const match = salStr.match(/[\\$€£]?([\\d,.]+)([kK])?\\s*[-–]\\s*[\\$€£]?([\\d,.]+)([kK])?/);\n    if (match) {\n      let min = parseFloat(match[1].replace(/,/g, ''));\n      let max = parseFloat(match[3].replace(/,/g, ''));\n      if (match[2]) min *= 1000;\n      if (match[4]) max *= 1000;\n      salaryMin = min;\n      salaryMax = max;\n    }\n  }\n\n  // Prefer descriptionHtml so we control block-boundary handling. LinkedIn's\n  // descriptionText concatenates headings + paragraphs with NO separator\n  // (\"Head of AI ProjectsDe trein rijdt...\"), which is unreadable.\n  let description = '';\n  if (job.descriptionHtml) {\n    description = job.descriptionHtml\n      // Turn block closers + breaks into a sentence boundary so headings,\n      // paragraphs, and list items don't smash into following content.\n      .replace(/<\\/(p|h[1-6]|li|div|tr|section|article)>/gi, '. ')\n      .replace(/<br\\s*\\/?\\s*>/gi, '. ')\n      // Strip remaining tags.\n      .replace(/<[^>]*>/g, ' ')\n      // Decode the entities LinkedIn most commonly emits.\n      .replace(/&nbsp;/g, ' ')\n      .replace(/&amp;/g, '&')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g, \"'\")\n      // Collapse stutters from empty blocks (\"..  .. \") into one \". \".\n      .replace(/(\\s*\\.\\s*){2,}/g, '. ')\n      .replace(/\\s+/g, ' ')\n      .trim();\n  } else if (job.descriptionText) {\n    description = String(job.descriptionText);\n  }\n  description = description.slice(0, 700);\n\n  // Prefer the LinkedIn job page (job.link) over the offsite applyUrl: the\n  // applyUrl often points to the company's generic careers page (e.g.\n  // homerun.co/#vacancies) rather than the specific role, and routing\n  // through LinkedIn keeps the source clearly visible to the user.\n  const applyUrl = job.link || job.applyUrl || '';\n  const id = job.id || job.refId || `linkedin-${idx}`;\n\n  // Dedupe by id AND by title+company (LinkedIn often reposts same role w/ new id)\n  const fuzzyKey = `${(job.title||'').trim().toLowerCase()}|${(job.companyName||'').trim().toLowerCase()}`;\n  if (seen.has(id) || seen.has(fuzzyKey)) return acc;\n  seen.add(id);\n  seen.add(fuzzyKey);\n\n  acc.push({\n    id,\n    title: job.title || '',\n    company: job.companyName || '',\n    location: job.location || '',\n    salary_min: salaryMin,\n    salary_max: salaryMax,\n    description,\n    apply_url: applyUrl,\n    posted_date: job.postedAt || '',\n    source: 'LinkedIn',\n    // Structured workplace + employment data from LinkedIn (for result badges).\n    workplace_type: (Array.isArray(job.workplaceTypes) && job.workplaceTypes.length) ? job.workplaceTypes[0] : null,\n    employment_type: job.employmentType || null\n  });\n\n  return acc;\n}, []);\n\nreturn [{ json: { jobs } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,0],"id":"normalize-results","name":"Normalize Results"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2720,0],"id":"respond-webhook","name":"Respond to Webhook"},{"parameters":{"jsCode":"// Pure data prep for the scoring step. No prompt strings here.\nconst items = $input.all();\nconst jobs = items[0]?.json?.jobs || [];\nconst upstream = $('Prepare Translation Input').first().json;\nconst careerTitle = upstream.raw_career_title || '';\nconst userLanguages = Array.isArray(upstream.user_languages) ? upstream.user_languages : [];\n\n// Build a compact, human-readable summary the LLM can reason over.\n// Example: \"Dutch (native), English (fluent), Spanish (conversational)\"\nconst languages_summary = userLanguages.length\n  ? userLanguages.map(l => `${l.language} (${l.proficiency})`).join(', ')\n  : 'unknown — assume English only';\n\nconst avoidList = Array.isArray(upstream.avoid_preferences) ? upstream.avoid_preferences : [];\nconst avoid_summary = avoidList.length ? avoidList.join('; ') : 'none specified';\n\n// Alt titles the report suggested for this same career (e.g. 'Corporate AI Trainer'\n// for 'Executive Education Lecturer, AI for Business'). The scorer treats matching\n// any alt as equivalent to matching the primary — otherwise good alt-title jobs\n// get unfairly penalized just for using a different real-world label.\nconst altTitles = Array.isArray(upstream.alternate_titles_db) ? upstream.alternate_titles_db : [];\nconst alt_titles_summary = altTitles.length ? altTitles.join('; ') : 'none';\nconst career_overview = typeof upstream.career_overview === 'string' ? upstream.career_overview : '';\n\nif (jobs.length === 0) {\n  return [{ json: { jobs: [], careerTitle, jobList: [], languages_summary, avoid_summary, alt_titles_summary, career_overview, skip_scoring: true } }];\n}\n\nconst jobList = jobs.map((j, i) => ({\n  i,\n  title: j.title || '',\n  company: j.company || '',\n  desc: (j.description || '').slice(0, 600)\n}));\n\nreturn [{\n  json: {\n    jobs,\n    careerTitle,\n    jobList,\n    languages_summary,\n    avoid_summary,\n    alt_titles_summary,\n    career_overview,\n    skip_scoring: false\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1696,0],"id":"6fb7ed1f-841a-48d1-a968-6ada8a13597f","name":"Prepare Scoring Input"},{"parameters":{"promptType":"define","text":"={{ $json.scoring_prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2144,0],"id":"7acccc48-2060-4617-896c-88a74aa6b659","name":"Score Jobs"},{"parameters":{"jsCode":"// Parse Gemini's JSON output, merge scores onto jobs, sort by score desc,\n// then filter out matches below the suitability threshold so the user only\n// sees jobs worth their time.\n// Minimum score to surface at all. 0-2 are dropped entirely; the frontend\n// further partitions 3-5 into a collapsible \"filtered\" panel and 6+ into\n// the main results.\nconst MIN_SUITABLE_SCORE = 3;\n\nconst items = $input.all();\nconst item = items[0] || {};\nconst llmText = item.json?.text || item.json?.output || '';\n\nconst prepItem = $('Prepare Scoring Input').first().json;\nconst jobs = prepItem.jobs || [];\n\nif (prepItem.skip_scoring || jobs.length === 0) {\n  return [{ json: { jobs } }];\n}\n\nlet scores = [];\ntry {\n  const cleaned = String(llmText).replace(/```(?:json)?/g, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    const parsed = JSON.parse(match[0]);\n    scores = Array.isArray(parsed.scores) ? parsed.scores : [];\n  }\n} catch (err) {\n  console.warn('Score parse failed, returning unscored jobs:', err.message);\n  return [{ json: { jobs } }];\n}\n\nconst scoreById = new Map(scores.map(s => [s.i, s]));\nconst scored = jobs.map((j, i) => {\n  const s = scoreById.get(i);\n  return {\n    ...j,\n    match_score: typeof s?.score === 'number' ? Math.max(0, Math.min(10, s.score)) : null,\n    match_reason: typeof s?.reason === 'string' ? s.reason : null,\n  };\n});\n\n// Sort: highest score first; tiebreak by posted_date desc\nscored.sort((a, b) => {\n  const sa = a.match_score ?? -1;\n  const sb = b.match_score ?? -1;\n  if (sa !== sb) return sb - sa;\n  return String(b.posted_date || '').localeCompare(String(a.posted_date || ''));\n});\n\n// Quality gate — only suitable matches (5+ per rubric) reach the user.\n// If scoring failed (match_score == null), keep the job rather than drop it,\n// since the user already had to wait for the search and an unscored job is\n// preferable to silently disappearing it.\nconst filtered = scored.filter(j => {\n  if (j.match_score == null) return true;\n  return j.match_score >= MIN_SUITABLE_SCORE;\n});\n\nreturn [{ json: { jobs: filtered } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2496,0],"id":"6456f109-f8b9-4ade-8c07-aed2866a75a3","name":"Apply Scores"},{"parameters":{"jsCode":"// Pure data prep for the translation step. No prompt strings here —\n// the Set node downstream owns the prompt template.\nconst input = $input.first().json.body || $input.first().json;\nconst ENGLISH_LOCALES = new Set(['us','gb','ca','au','nz','ie']);\nconst COUNTRY_NAMES = {\n  us: 'United States', gb: 'United Kingdom', ca: 'Canada', au: 'Australia',\n  nl: 'Netherlands', de: 'Germany', fr: 'France', be: 'Belgium',\n  ch: 'Switzerland', at: 'Austria', ie: 'Ireland', se: 'Sweden',\n  dk: 'Denmark', no: 'Norway', fi: 'Finland', es: 'Spain', it: 'Italy',\n  pt: 'Portugal', pl: 'Poland', nz: 'New Zealand', sg: 'Singapore', in: 'India'\n};\n\nfunction cleanCareerTitle(raw) {\n  if (!raw) return '';\n  let cleaned = raw;\n  cleaned = cleaned.replace(/\\s*\\([^)]*\\)/g, '');\n  cleaned = cleaned.split(/[—–|,]/)[0];\n  cleaned = cleaned.replace(/\\s+at\\s+(?:a|an|the)\\s+.+$/i, '');\n  cleaned = cleaned.replace(/\\s+to\\s+(?:CEO|CTO|CFO|COO|CMO|the\\s+\\w+).*$/i, '');\n  cleaned = cleaned.replace(/\\s+for\\s+(?:a|an|the)\\s+.+$/i, '');\n  cleaned = cleaned.replace(/\\s+(?:and|&)\\s+.+$/i, '');\n  cleaned = cleaned.replace(/\\//g, ' ');\n  cleaned = cleaned.replace(/\\s+/g, ' ').trim();\n  cleaned = cleaned.replace(/[,.;:]+$/, '').trim();\n  const words = cleaned.split(/\\s+/).filter(Boolean);\n  if (words.length >= 4) cleaned = words.slice(-2).join(' ');\n  return cleaned;\n}\n\nlet countryCodes = Array.isArray(input.country_codes) && input.country_codes.length > 0\n  ? input.country_codes\n  : input.country_code ? [input.country_code] : ['us'];\ncountryCodes = [...new Set(countryCodes.map(c => String(c).toLowerCase().trim()))].slice(0, 2);\n\nconst reportId = input.report_id || null;\nconst altTitlesDb = Array.isArray(input.alternate_titles_db) ? input.alternate_titles_db : [];\nconst rawTitle = input.career_title || '';\nconst cleanedTitle = cleanCareerTitle(rawTitle);\nconst nonEnglish = countryCodes.filter(c => !ENGLISH_LOCALES.has(c));\n\n// Pre-format the country list for the prompt template (so the Set node stays\n// simple: one expression interpolation, no loops).\nconst country_lines_for_prompt = nonEnglish\n  .map(c => `- ${c}: ${COUNTRY_NAMES[c] || c}`)\n  .join('\\n');\n\n// Forward user_languages so downstream scoring can use them\nconst userLanguages = Array.isArray(input.user_languages) ? input.user_languages : [];\n\nreturn [{\n  json: {\n    raw_career_title: rawTitle,\n    report_id: reportId,\n    alternate_titles_db: altTitlesDb,\n    user_languages: userLanguages,\n    cleaned_career_title: cleanedTitle,\n    country_codes: countryCodes,\n    non_english_countries: nonEnglish,\n    country_lines_for_prompt,\n    location: input.location || '',\n    work_arrangement: input.work_arrangement || 'any',\n    job_commitment: input.job_commitment || 'any',\n    avoid_preferences: Array.isArray(input.avoid_preferences) ? input.avoid_preferences : [],\n    alt_titles_summary: altTitlesDb.length ? altTitlesDb.join('; ') : 'none',\n    career_overview: typeof input.career_overview === 'string' ? input.career_overview : '',\n    skip_translation: nonEnglish.length === 0 || !cleanedTitle\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"49c37c45-1222-40e2-b61d-a3c7f4bc0668","name":"Prepare Translation Input"},{"parameters":{"modelName":"models/gemini-flash-latest","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[752,224],"id":"0ca5bfcf-7ab3-4c17-9e47-6d267cc82c47","name":"Gemini Flash (Translation)","credentials":{"googlePalmApi":{"id":"Q653Teuy9nP6VLoE","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"promptType":"define","text":"={{ $json.translation_prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[672,0],"id":"2f6be40f-9127-4586-b75c-1e586d612a0e","name":"Translate Title"},{"parameters":{"assignments":{"assignments":[{"id":"7d20e6cf-4763-46c7-b2ba-39e681a10e6f","name":"translation_prompt","value":"=You are generating LinkedIn job-search keywords from a career title.\n\nCareer title: \"{{ $json.raw_career_title }}\"\nAlternative titles for the same career (the report's other framings, already searched directly): {{ $json.alt_titles_summary }}\nWhat the role actually does (plain-English overview, 25-40 words): {{ $json.career_overview || 'not provided' }}\n\nProduce 1-2 short search phrases a recruiter would actually use as a LinkedIn job title to find this kind of role.\n\nRules:\n- PRESERVE the core specialization, especially domain terms: \"AI\", \"Artificial Intelligence\", \"Machine Learning\", \"ML\", \"Data\", plus the core function (e.g. \"Automation\", \"Transformation\", \"Lecturer\", \"Consultant\").\n- DROP seniority/engagement modifiers: \"Part-Time\", \"Interim\", \"Fractional\", \"Senior\", \"Principal\", \"Junior\", \"independent\", \"Executive\" (unless it is the actual role noun like \"Account Executive\").\n- DROP trailing qualifiers like \"for Business\", \"at a startup\", \"(Non-Equity)\".\n- LEVERAGE the alt titles above as context — they're real-world labels for the same target role. Your output keywords can echo one if it is genuinely the most LinkedIn-natural search term, or propose complementary variations that broaden the net. Aim for the best LinkedIn search coverage.\n- Keep each phrase 2-3 words, natural as a real LinkedIn job title. Phrases must be in English.\n- If the role is genuinely AI-focused, at least one phrase MUST contain \"AI\".\n\nReturn ONLY this JSON, no other text:\n{\"keywords\":[\"...\",\"...\"]}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,0],"id":"2eb2fc5b-6e0c-4d70-809d-f26aadda1108","name":"Build Translation Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"0fbe100b-c012-41e0-ac93-779efe49b3c7","name":"scoring_prompt","value":"=You are scoring LinkedIn job listings for relevance to a user's recommended career path.\n\nUser's recommended career: \"{{ $json.careerTitle }}\"\nAlternative acceptable titles for the same career (treat as equivalent match targets): {{ $json.alt_titles_summary }}\nWhat this role actually does (plain-English, 25-40 words): {{ $json.career_overview || 'not provided' }}\nUser's languages (with proficiency): {{ $json.languages_summary }}\n\nScore each job 0-10 based on how well it matches this career path:\n- 10 = direct match in role, level, and domain\n- 7-9 = strong match (same domain, similar role level)\n- 4-6 = adjacent (related skills or seniority but different focus)\n- 0-3 = unrelated role, wrong domain, or junior/senior mismatch\n\nConsider: role type (e.g. board/coach/leader/individual contributor), seniority level, domain (people/culture, product, engineering, sales, etc.), and whether the job sensibly aligns with the career path described.\n\nALT-TITLES RULE: The recommended career has alternative acceptable titles (listed above) that are different real-world labels for the SAME target role. A job that closely matches ANY one of them (in role function + domain) MUST be scored as if it matched the primary career — do not dock it for using a different label. Primary and alternatives are equally valid match targets. If the alt titles value is \"none\", ignore this rule.\n\nSPECIALIZATION RULE (critical): The career has a core specialization — usually a domain like \"AI / Machine Learning\" plus a function. If a job does NOT clearly involve that core specialization (e.g. a generic \"Software Engineer\" with no AI/ML focus when the career is \"AI Workflow Automation Engineer\", or a generic \"Transformation Lead\" with no AI focus), CAP its score at 3 even if seniority and general field match. We would much rather show the user nothing, or an honestly low-scored match, than a confident-looking result that misses the whole point of their target role. Do not be generous.\n\nAVOID-PREFERENCES RULE: The user explicitly told us to AVOID these industries / role aspects / environments: {{ $json.avoid_summary }}. If a job clearly matches one or more of them, apply a SIGNIFICANT penalty — drop 3-5 points, and cap the score at 2 for a strong match (e.g. a sales or client-facing role when \"Sales\" is on the avoid list). Briefly note the conflict in the reason. If the value is \"none specified\", ignore this rule.\n\nLanguage-fit rule:\n- If a job's title or description implies a language requirement (e.g. 'Native Dutch', 'Fluent German', a job description written in a language the user doesn't speak at conversational+), apply a SIGNIFICANT score penalty (typically drop 3-5 points) because the user couldn't realistically take the role.\n- If the user's languages are 'unknown — assume English only', treat non-English jobs as language-restricted.\n- Briefly note language fit in the reason when it materially affects the score.\n\nROLE-FUNCTION RULE: A consultant/advisor role (external, multi-client) is NOT the same as an in-house architect or platform owner (single-employer, internal). Same distinction applies to IC vs manager, hands-on vs strategy-only. When the role function clearly differs even though the domain overlaps, CAP the score at 5.\n\nSENIORITY RULE: If the career title implies senior level (Principal, Head of, Director, Lead, VP, Chief, Fractional, Interim), and the job description specifies a years-of-experience range below 8 OR describes itself as \"Mid-level\" or \"Associate\", CAP at 4. When the description doesn't explicitly state seniority, treat the title alone as ambiguous and score no higher than 6.\n\nBIAS TO STRICTNESS: When uncertain between two scores, pick the lower one. False high scores (\"confident wrong\") are worse than missing a marginal match.\n\nReturn ONLY valid JSON in this exact shape, no other text or commentary:\n{\"scores\":[{\"i\":0,\"score\":8,\"reason\":\"Director-level people role at scale-up — strong fit\"}]}\n\nReason must be max 14 words, concrete (cite domain/level + language fit if relevant), no fluff.\n\nJobs to score:\n{{ JSON.stringify($json.jobList, null, 2) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,0],"id":"100ba55b-838b-4071-ab0b-ef0227f09af9","name":"Build Scoring Prompt"},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2224,224],"id":"2fab53f6-3c98-4d5f-b42a-4c1948301de9","name":"Claude Sonnet 4.6 (Scoring)","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}}],"connections":{"Job Search Webhook":{"main":[[{"node":"Prepare Translation Input","type":"main","index":0}]]},"Prepare Translation Input":{"main":[[{"node":"Build Translation Prompt","type":"main","index":0}]]},"Build Translation Prompt":{"main":[[{"node":"Translate Title","type":"main","index":0}]]},"Gemini Flash (Translation)":{"ai_languageModel":[[{"node":"Translate Title","type":"ai_languageModel","index":0}]]},"Translate Title":{"main":[[{"node":"Build LinkedIn Search URL","type":"main","index":0}]]},"Build LinkedIn Search URL":{"main":[[{"node":"Apify LinkedIn Scraper","type":"main","index":0}]]},"Apify LinkedIn Scraper":{"main":[[{"node":"Normalize Results","type":"main","index":0}]]},"Normalize Results":{"main":[[{"node":"Prepare Scoring Input","type":"main","index":0}]]},"Prepare Scoring Input":{"main":[[{"node":"Build Scoring Prompt","type":"main","index":0}]]},"Build Scoring Prompt":{"main":[[{"node":"Score Jobs","type":"main","index":0}]]},"Score Jobs":{"main":[[{"node":"Apply Scores","type":"main","index":0}]]},"Apply Scores":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Claude Sonnet 4.6 (Scoring)":{"ai_languageModel":[[{"node":"Score Jobs","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"78a96fbb-48cc-45cc-9d20-79122a8a196e","activeVersionId":"78a96fbb-48cc-45cc-9d20-79122a8a196e","versionCounter":199,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-04-02T10:35:12.478Z","createdAt":"2026-04-02T10:35:12.478Z","role":"workflow:owner","workflowId":"Bx0uNW4gnnXIGO8j","projectId":"IRGhJlz0HuarxdVs","project":{"updatedAt":"2026-05-08T11:19:23.000Z","createdAt":"2025-06-17T10:11:12.163Z","id":"IRGhJlz0HuarxdVs","name":"Cairnly","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"","customTelemetryTags":[],"creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-01T07:44:16.955Z","createdAt":"2026-07-01T07:44:16.955Z","versionId":"78a96fbb-48cc-45cc-9d20-79122a8a196e","workflowId":"Bx0uNW4gnnXIGO8j","nodes":[{"parameters":{"httpMethod":"POST","path":"job-search","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"webhook-trigger","name":"Job Search Webhook","webhookId":"d94ca5ba-8805-45f0-bbe6-2bc0cdb6bf6e"},{"parameters":{"jsCode":"// Build LinkedIn search URLs in a single Apify-friendly batch.\n// Includes both primary (translated per non-English country) AND alt-title\n// URLs in ONE call so Apify can parallelize them internally — faster than\n// running two sequential Apify calls (which hit the Cloudflare 100s timeout).\nconst items = $input.all();\nconst item = items[0]?.json || {};\n\nconst llmText = item.text || item.output || '';\nlet llmKeywords = [];\ntry {\n  const cleaned = String(llmText).replace(/```(?:json)?/g, '').trim();\n  const m = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    const parsed = JSON.parse(m[0]);\n    llmKeywords = Array.isArray(parsed.keywords)\n      ? parsed.keywords.map(k => String(k).trim()).filter(Boolean)\n      : [];\n  }\n} catch (e) {\n  console.warn('Keyword parse failed:', e.message);\n}\n\nconst prep = $('Prepare Translation Input').first().json;\nconst cleanedTitle = prep.cleaned_career_title || '';\nconst rawTitle = prep.raw_career_title || '';\nconst countryCodes = prep.country_codes || ['us'];\nconst city = prep.location || '';\nconst workArrangement = prep.work_arrangement || 'any';\nconst F_WT_PARAM = { remote_only: '2', remote_friendly: '2,3' };\nconst wtParam = F_WT_PARAM[workArrangement];\nconst jobCommitment = prep.job_commitment || 'any';\nconst F_JT_PARAM = { full_time: 'F', part_time: 'P', contract: 'C' };\nconst jtParam = F_JT_PARAM[jobCommitment];\nconst altTitlesDb = Array.isArray(prep.alternate_titles_db) ? prep.alternate_titles_db : [];\n\nconst ENGLISH_LOCALES = new Set(['us','gb','ca','au','nz','ie']);\nconst COUNTRY_NAMES = {\n  us: 'United States', gb: 'United Kingdom', ca: 'Canada', au: 'Australia',\n  nl: 'Netherlands', de: 'Germany', fr: 'France', be: 'Belgium',\n  ch: 'Switzerland', at: 'Austria', ie: 'Ireland', se: 'Sweden',\n  dk: 'Denmark', no: 'Norway', fi: 'Finland', es: 'Spain', it: 'Italy',\n  pt: 'Portugal', pl: 'Poland', nz: 'New Zealand', sg: 'Singapore', in: 'India'\n};\n\nfunction detectSeniority(title) {\n  if (/\\b(executive\\s+coach|executive\\s+assistant|account\\s+executive)\\b/i.test(title)) return null;\n  if (/\\b(chief|cxo|cpo|cto|cfo|ceo|coo|cmo)\\b/i.test(title)) return '5,6';\n  if (/\\b(director|vp|vice\\s+president|head\\s+of)\\b/i.test(title)) return '5,6';\n  if (/\\b(senior|sr\\.?|lead|principal|staff)\\b/i.test(title)) return '4';\n  if (/\\b(junior|jr\\.?|associate|entry|intern|graduate|trainee)\\b/i.test(title)) return '2,3';\n  return null;\n}\n\nconst seniorityPrimary = detectSeniority(rawTitle);\n\n// PRIMARY URLs: one per country, using translated keyword for non-English locales\nconst urls = [];\nconst searchTermsLog = [];\nfor (const code of countryCodes) {\n  const countryName = COUNTRY_NAMES[code] || 'United States';\n  const location = city ? `${city}, ${countryName}` : countryName;\n  // LLM-generated English keyword (preserves \"AI\"/domain terms, drops fluff).\n  // Falls back to the rule-based cleaned title if the LLM gave nothing usable.\n  const keyword = llmKeywords[0] || cleanedTitle;\n\n  let url = `https://www.linkedin.com/jobs/search/?keywords=${encodeURIComponent(keyword)}&location=${encodeURIComponent(location)}&position=1&pageNum=0`;\n  if (seniorityPrimary) url += `&f_E=${seniorityPrimary}`;\n  if (wtParam) url += '&f_WT=' + encodeURIComponent(wtParam);\n  if (jtParam) url += '&f_JT=' + encodeURIComponent(jtParam);\n  urls.push(url);\n  searchTermsLog.push({ country: code, kind: 'primary', keyword });\n}\n\n// ALT URLs: up to 2 alt titles, English keywords, per country.\n// These broaden coverage for niche careers where the primary keyword doesn't\n// match LinkedIn's typical job-posting language (e.g. 'Executive Coach' →\n// 'Leadership Coach', 'Performance Coach').\nconst selectedAlts = altTitlesDb\n  .map(t => String(t || '').trim())\n  .filter(Boolean)\n  .filter(t => t.toLowerCase() !== cleanedTitle.toLowerCase()) // skip if alt == primary\n  .slice(0, 3); // use up to 3 alt titles so report-suggested variations actually surface\n\nfor (const alt of selectedAlts) {\n  const seniorityAlt = detectSeniority(alt);\n  for (const code of countryCodes) {\n    const countryName = COUNTRY_NAMES[code] || 'United States';\n    const location = city ? `${city}, ${countryName}` : countryName;\n    let url = `https://www.linkedin.com/jobs/search/?keywords=${encodeURIComponent(alt)}&location=${encodeURIComponent(location)}&position=1&pageNum=0`;\n    if (seniorityAlt) url += `&f_E=${seniorityAlt}`;\n    if (wtParam) url += '&f_WT=' + encodeURIComponent(wtParam);\n  if (jtParam) url += '&f_JT=' + encodeURIComponent(jtParam);\n    urls.push(url);\n    searchTermsLog.push({ country: code, kind: 'alt', keyword: alt });\n  }\n}\n\n// Apify count is global to the call, not per URL. Scale roughly to the number\n// of URLs so each URL contributes meaningfully but total stays bounded.\n// 2 URLs → 15, 4 URLs → 20, 6 URLs → 24\nconst count = Math.max(10, Math.min(40, urls.length * 4)); // bumped cap so more alt-title URLs aren't starved\n\nreturn [{\n  json: {\n    raw_career_title: rawTitle,\n    cleaned_career_title: cleanedTitle,\n    seniority_filter: seniorityPrimary,\n    country_codes: countryCodes,\n    work_arrangement: workArrangement,\n    location: city,\n    llm_keywords: llmKeywords,\n    alt_titles_used: selectedAlts,\n    search_terms_per_url: searchTermsLog,\n    apify_input: {\n      urls,\n      count,\n      scrapeCompany: false\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,0],"id":"build-search-url","name":"Build LinkedIn Search URL"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.apify_input) }}","options":{"timeout":180000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,0],"id":"apify-linkedin-scraper","name":"Apify LinkedIn Scraper","credentials":{"httpQueryAuth":{"id":"NX0Qbwd5lWtjDb8T","name":"Apify API Token"}}},{"parameters":{"jsCode":"// Normalize Apify LinkedIn Jobs Scraper response, dedupe by job id\nconst items = $input.all();\nconst seen = new Set();\n\nconst jobs = items.reduce((acc, item, idx) => {\n  const job = item.json;\n\n  // Skip empty placeholder items (from alwaysOutputData when Apify returns 0 results)\n  if (!job || (!job.title && !job.id && !job.refId)) return acc;\n\n  let salaryMin = null;\n  let salaryMax = null;\n\n  if (job.salaryInsights && job.salaryInsights.compensationBreakdown && job.salaryInsights.compensationBreakdown.length > 0) {\n    const comp = job.salaryInsights.compensationBreakdown[0];\n    if (comp.minSalary) salaryMin = parseFloat(String(comp.minSalary).replace(/[^\\d.]/g, ''));\n    if (comp.maxSalary) salaryMax = parseFloat(String(comp.maxSalary).replace(/[^\\d.]/g, ''));\n  }\n\n  if (!salaryMin && Array.isArray(job.salaryInfo) && job.salaryInfo.length > 0) {\n    const salStr = job.salaryInfo.join(' ');\n    const match = salStr.match(/[\\$€£]?([\\d,.]+)([kK])?\\s*[-–]\\s*[\\$€£]?([\\d,.]+)([kK])?/);\n    if (match) {\n      let min = parseFloat(match[1].replace(/,/g, ''));\n      let max = parseFloat(match[3].replace(/,/g, ''));\n      if (match[2]) min *= 1000;\n      if (match[4]) max *= 1000;\n      salaryMin = min;\n      salaryMax = max;\n    }\n  }\n\n  // Prefer descriptionHtml so we control block-boundary handling. LinkedIn's\n  // descriptionText concatenates headings + paragraphs with NO separator\n  // (\"Head of AI ProjectsDe trein rijdt...\"), which is unreadable.\n  let description = '';\n  if (job.descriptionHtml) {\n    description = job.descriptionHtml\n      // Turn block closers + breaks into a sentence boundary so headings,\n      // paragraphs, and list items don't smash into following content.\n      .replace(/<\\/(p|h[1-6]|li|div|tr|section|article)>/gi, '. ')\n      .replace(/<br\\s*\\/?\\s*>/gi, '. ')\n      // Strip remaining tags.\n      .replace(/<[^>]*>/g, ' ')\n      // Decode the entities LinkedIn most commonly emits.\n      .replace(/&nbsp;/g, ' ')\n      .replace(/&amp;/g, '&')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g, \"'\")\n      // Collapse stutters from empty blocks (\"..  .. \") into one \". \".\n      .replace(/(\\s*\\.\\s*){2,}/g, '. ')\n      .replace(/\\s+/g, ' ')\n      .trim();\n  } else if (job.descriptionText) {\n    description = String(job.descriptionText);\n  }\n  description = description.slice(0, 700);\n\n  // Prefer the LinkedIn job page (job.link) over the offsite applyUrl: the\n  // applyUrl often points to the company's generic careers page (e.g.\n  // homerun.co/#vacancies) rather than the specific role, and routing\n  // through LinkedIn keeps the source clearly visible to the user.\n  const applyUrl = job.link || job.applyUrl || '';\n  const id = job.id || job.refId || `linkedin-${idx}`;\n\n  // Dedupe by id AND by title+company (LinkedIn often reposts same role w/ new id)\n  const fuzzyKey = `${(job.title||'').trim().toLowerCase()}|${(job.companyName||'').trim().toLowerCase()}`;\n  if (seen.has(id) || seen.has(fuzzyKey)) return acc;\n  seen.add(id);\n  seen.add(fuzzyKey);\n\n  acc.push({\n    id,\n    title: job.title || '',\n    company: job.companyName || '',\n    location: job.location || '',\n    salary_min: salaryMin,\n    salary_max: salaryMax,\n    description,\n    apply_url: applyUrl,\n    posted_date: job.postedAt || '',\n    source: 'LinkedIn',\n    // Structured workplace + employment data from LinkedIn (for result badges).\n    workplace_type: (Array.isArray(job.workplaceTypes) && job.workplaceTypes.length) ? job.workplaceTypes[0] : null,\n    employment_type: job.employmentType || null\n  });\n\n  return acc;\n}, []);\n\nreturn [{ json: { jobs } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,0],"id":"normalize-results","name":"Normalize Results"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2720,0],"id":"respond-webhook","name":"Respond to Webhook"},{"parameters":{"jsCode":"// Pure data prep for the scoring step. No prompt strings here.\nconst items = $input.all();\nconst jobs = items[0]?.json?.jobs || [];\nconst upstream = $('Prepare Translation Input').first().json;\nconst careerTitle = upstream.raw_career_title || '';\nconst userLanguages = Array.isArray(upstream.user_languages) ? upstream.user_languages : [];\n\n// Build a compact, human-readable summary the LLM can reason over.\n// Example: \"Dutch (native), English (fluent), Spanish (conversational)\"\nconst languages_summary = userLanguages.length\n  ? userLanguages.map(l => `${l.language} (${l.proficiency})`).join(', ')\n  : 'unknown — assume English only';\n\nconst avoidList = Array.isArray(upstream.avoid_preferences) ? upstream.avoid_preferences : [];\nconst avoid_summary = avoidList.length ? avoidList.join('; ') : 'none specified';\n\n// Alt titles the report suggested for this same career (e.g. 'Corporate AI Trainer'\n// for 'Executive Education Lecturer, AI for Business'). The scorer treats matching\n// any alt as equivalent to matching the primary — otherwise good alt-title jobs\n// get unfairly penalized just for using a different real-world label.\nconst altTitles = Array.isArray(upstream.alternate_titles_db) ? upstream.alternate_titles_db : [];\nconst alt_titles_summary = altTitles.length ? altTitles.join('; ') : 'none';\nconst career_overview = typeof upstream.career_overview === 'string' ? upstream.career_overview : '';\n\nif (jobs.length === 0) {\n  return [{ json: { jobs: [], careerTitle, jobList: [], languages_summary, avoid_summary, alt_titles_summary, career_overview, skip_scoring: true } }];\n}\n\nconst jobList = jobs.map((j, i) => ({\n  i,\n  title: j.title || '',\n  company: j.company || '',\n  desc: (j.description || '').slice(0, 600)\n}));\n\nreturn [{\n  json: {\n    jobs,\n    careerTitle,\n    jobList,\n    languages_summary,\n    avoid_summary,\n    alt_titles_summary,\n    career_overview,\n    skip_scoring: false\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1696,0],"id":"6fb7ed1f-841a-48d1-a968-6ada8a13597f","name":"Prepare Scoring Input"},{"parameters":{"promptType":"define","text":"={{ $json.scoring_prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2144,0],"id":"7acccc48-2060-4617-896c-88a74aa6b659","name":"Score Jobs"},{"parameters":{"jsCode":"// Parse Gemini's JSON output, merge scores onto jobs, sort by score desc,\n// then filter out matches below the suitability threshold so the user only\n// sees jobs worth their time.\n// Minimum score to surface at all. 0-2 are dropped entirely; the frontend\n// further partitions 3-5 into a collapsible \"filtered\" panel and 6+ into\n// the main results.\nconst MIN_SUITABLE_SCORE = 3;\n\nconst items = $input.all();\nconst item = items[0] || {};\nconst llmText = item.json?.text || item.json?.output || '';\n\nconst prepItem = $('Prepare Scoring Input').first().json;\nconst jobs = prepItem.jobs || [];\n\nif (prepItem.skip_scoring || jobs.length === 0) {\n  return [{ json: { jobs } }];\n}\n\nlet scores = [];\ntry {\n  const cleaned = String(llmText).replace(/```(?:json)?/g, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    const parsed = JSON.parse(match[0]);\n    scores = Array.isArray(parsed.scores) ? parsed.scores : [];\n  }\n} catch (err) {\n  console.warn('Score parse failed, returning unscored jobs:', err.message);\n  return [{ json: { jobs } }];\n}\n\nconst scoreById = new Map(scores.map(s => [s.i, s]));\nconst scored = jobs.map((j, i) => {\n  const s = scoreById.get(i);\n  return {\n    ...j,\n    match_score: typeof s?.score === 'number' ? Math.max(0, Math.min(10, s.score)) : null,\n    match_reason: typeof s?.reason === 'string' ? s.reason : null,\n  };\n});\n\n// Sort: highest score first; tiebreak by posted_date desc\nscored.sort((a, b) => {\n  const sa = a.match_score ?? -1;\n  const sb = b.match_score ?? -1;\n  if (sa !== sb) return sb - sa;\n  return String(b.posted_date || '').localeCompare(String(a.posted_date || ''));\n});\n\n// Quality gate — only suitable matches (5+ per rubric) reach the user.\n// If scoring failed (match_score == null), keep the job rather than drop it,\n// since the user already had to wait for the search and an unscored job is\n// preferable to silently disappearing it.\nconst filtered = scored.filter(j => {\n  if (j.match_score == null) return true;\n  return j.match_score >= MIN_SUITABLE_SCORE;\n});\n\nreturn [{ json: { jobs: filtered } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2496,0],"id":"6456f109-f8b9-4ade-8c07-aed2866a75a3","name":"Apply Scores"},{"parameters":{"jsCode":"// Pure data prep for the translation step. No prompt strings here —\n// the Set node downstream owns the prompt template.\nconst input = $input.first().json.body || $input.first().json;\nconst ENGLISH_LOCALES = new Set(['us','gb','ca','au','nz','ie']);\nconst COUNTRY_NAMES = {\n  us: 'United States', gb: 'United Kingdom', ca: 'Canada', au: 'Australia',\n  nl: 'Netherlands', de: 'Germany', fr: 'France', be: 'Belgium',\n  ch: 'Switzerland', at: 'Austria', ie: 'Ireland', se: 'Sweden',\n  dk: 'Denmark', no: 'Norway', fi: 'Finland', es: 'Spain', it: 'Italy',\n  pt: 'Portugal', pl: 'Poland', nz: 'New Zealand', sg: 'Singapore', in: 'India'\n};\n\nfunction cleanCareerTitle(raw) {\n  if (!raw) return '';\n  let cleaned = raw;\n  cleaned = cleaned.replace(/\\s*\\([^)]*\\)/g, '');\n  cleaned = cleaned.split(/[—–|,]/)[0];\n  cleaned = cleaned.replace(/\\s+at\\s+(?:a|an|the)\\s+.+$/i, '');\n  cleaned = cleaned.replace(/\\s+to\\s+(?:CEO|CTO|CFO|COO|CMO|the\\s+\\w+).*$/i, '');\n  cleaned = cleaned.replace(/\\s+for\\s+(?:a|an|the)\\s+.+$/i, '');\n  cleaned = cleaned.replace(/\\s+(?:and|&)\\s+.+$/i, '');\n  cleaned = cleaned.replace(/\\//g, ' ');\n  cleaned = cleaned.replace(/\\s+/g, ' ').trim();\n  cleaned = cleaned.replace(/[,.;:]+$/, '').trim();\n  const words = cleaned.split(/\\s+/).filter(Boolean);\n  if (words.length >= 4) cleaned = words.slice(-2).join(' ');\n  return cleaned;\n}\n\nlet countryCodes = Array.isArray(input.country_codes) && input.country_codes.length > 0\n  ? input.country_codes\n  : input.country_code ? [input.country_code] : ['us'];\ncountryCodes = [...new Set(countryCodes.map(c => String(c).toLowerCase().trim()))].slice(0, 2);\n\nconst reportId = input.report_id || null;\nconst altTitlesDb = Array.isArray(input.alternate_titles_db) ? input.alternate_titles_db : [];\nconst rawTitle = input.career_title || '';\nconst cleanedTitle = cleanCareerTitle(rawTitle);\nconst nonEnglish = countryCodes.filter(c => !ENGLISH_LOCALES.has(c));\n\n// Pre-format the country list for the prompt template (so the Set node stays\n// simple: one expression interpolation, no loops).\nconst country_lines_for_prompt = nonEnglish\n  .map(c => `- ${c}: ${COUNTRY_NAMES[c] || c}`)\n  .join('\\n');\n\n// Forward user_languages so downstream scoring can use them\nconst userLanguages = Array.isArray(input.user_languages) ? input.user_languages : [];\n\nreturn [{\n  json: {\n    raw_career_title: rawTitle,\n    report_id: reportId,\n    alternate_titles_db: altTitlesDb,\n    user_languages: userLanguages,\n    cleaned_career_title: cleanedTitle,\n    country_codes: countryCodes,\n    non_english_countries: nonEnglish,\n    country_lines_for_prompt,\n    location: input.location || '',\n    work_arrangement: input.work_arrangement || 'any',\n    job_commitment: input.job_commitment || 'any',\n    avoid_preferences: Array.isArray(input.avoid_preferences) ? input.avoid_preferences : [],\n    alt_titles_summary: altTitlesDb.length ? altTitlesDb.join('; ') : 'none',\n    career_overview: typeof input.career_overview === 'string' ? input.career_overview : '',\n    skip_translation: nonEnglish.length === 0 || !cleanedTitle\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"49c37c45-1222-40e2-b61d-a3c7f4bc0668","name":"Prepare Translation Input"},{"parameters":{"modelName":"models/gemini-flash-latest","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[752,224],"id":"0ca5bfcf-7ab3-4c17-9e47-6d267cc82c47","name":"Gemini Flash (Translation)","credentials":{"googlePalmApi":{"id":"Q653Teuy9nP6VLoE","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"promptType":"define","text":"={{ $json.translation_prompt }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[672,0],"id":"2f6be40f-9127-4586-b75c-1e586d612a0e","name":"Translate Title"},{"parameters":{"assignments":{"assignments":[{"id":"7d20e6cf-4763-46c7-b2ba-39e681a10e6f","name":"translation_prompt","value":"=You are generating LinkedIn job-search keywords from a career title.\n\nCareer title: \"{{ $json.raw_career_title }}\"\nAlternative titles for the same career (the report's other framings, already searched directly): {{ $json.alt_titles_summary }}\nWhat the role actually does (plain-English overview, 25-40 words): {{ $json.career_overview || 'not provided' }}\n\nProduce 1-2 short search phrases a recruiter would actually use as a LinkedIn job title to find this kind of role.\n\nRules:\n- PRESERVE the core specialization, especially domain terms: \"AI\", \"Artificial Intelligence\", \"Machine Learning\", \"ML\", \"Data\", plus the core function (e.g. \"Automation\", \"Transformation\", \"Lecturer\", \"Consultant\").\n- DROP seniority/engagement modifiers: \"Part-Time\", \"Interim\", \"Fractional\", \"Senior\", \"Principal\", \"Junior\", \"independent\", \"Executive\" (unless it is the actual role noun like \"Account Executive\").\n- DROP trailing qualifiers like \"for Business\", \"at a startup\", \"(Non-Equity)\".\n- LEVERAGE the alt titles above as context — they're real-world labels for the same target role. Your output keywords can echo one if it is genuinely the most LinkedIn-natural search term, or propose complementary variations that broaden the net. Aim for the best LinkedIn search coverage.\n- Keep each phrase 2-3 words, natural as a real LinkedIn job title. Phrases must be in English.\n- If the role is genuinely AI-focused, at least one phrase MUST contain \"AI\".\n\nReturn ONLY this JSON, no other text:\n{\"keywords\":[\"...\",\"...\"]}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,0],"id":"2eb2fc5b-6e0c-4d70-809d-f26aadda1108","name":"Build Translation Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"0fbe100b-c012-41e0-ac93-779efe49b3c7","name":"scoring_prompt","value":"=You are scoring LinkedIn job listings for relevance to a user's recommended career path.\n\nUser's recommended career: \"{{ $json.careerTitle }}\"\nAlternative acceptable titles for the same career (treat as equivalent match targets): {{ $json.alt_titles_summary }}\nWhat this role actually does (plain-English, 25-40 words): {{ $json.career_overview || 'not provided' }}\nUser's languages (with proficiency): {{ $json.languages_summary }}\n\nScore each job 0-10 based on how well it matches this career path:\n- 10 = direct match in role, level, and domain\n- 7-9 = strong match (same domain, similar role level)\n- 4-6 = adjacent (related skills or seniority but different focus)\n- 0-3 = unrelated role, wrong domain, or junior/senior mismatch\n\nConsider: role type (e.g. board/coach/leader/individual contributor), seniority level, domain (people/culture, product, engineering, sales, etc.), and whether the job sensibly aligns with the career path described.\n\nALT-TITLES RULE: The recommended career has alternative acceptable titles (listed above) that are different real-world labels for the SAME target role. A job that closely matches ANY one of them (in role function + domain) MUST be scored as if it matched the primary career — do not dock it for using a different label. Primary and alternatives are equally valid match targets. If the alt titles value is \"none\", ignore this rule.\n\nSPECIALIZATION RULE (critical): The career has a core specialization — usually a domain like \"AI / Machine Learning\" plus a function. If a job does NOT clearly involve that core specialization (e.g. a generic \"Software Engineer\" with no AI/ML focus when the career is \"AI Workflow Automation Engineer\", or a generic \"Transformation Lead\" with no AI focus), CAP its score at 3 even if seniority and general field match. We would much rather show the user nothing, or an honestly low-scored match, than a confident-looking result that misses the whole point of their target role. Do not be generous.\n\nAVOID-PREFERENCES RULE: The user explicitly told us to AVOID these industries / role aspects / environments: {{ $json.avoid_summary }}. If a job clearly matches one or more of them, apply a SIGNIFICANT penalty — drop 3-5 points, and cap the score at 2 for a strong match (e.g. a sales or client-facing role when \"Sales\" is on the avoid list). Briefly note the conflict in the reason. If the value is \"none specified\", ignore this rule.\n\nLanguage-fit rule:\n- If a job's title or description implies a language requirement (e.g. 'Native Dutch', 'Fluent German', a job description written in a language the user doesn't speak at conversational+), apply a SIGNIFICANT score penalty (typically drop 3-5 points) because the user couldn't realistically take the role.\n- If the user's languages are 'unknown — assume English only', treat non-English jobs as language-restricted.\n- Briefly note language fit in the reason when it materially affects the score.\n\nROLE-FUNCTION RULE: A consultant/advisor role (external, multi-client) is NOT the same as an in-house architect or platform owner (single-employer, internal). Same distinction applies to IC vs manager, hands-on vs strategy-only. When the role function clearly differs even though the domain overlaps, CAP the score at 5.\n\nSENIORITY RULE: If the career title implies senior level (Principal, Head of, Director, Lead, VP, Chief, Fractional, Interim), and the job description specifies a years-of-experience range below 8 OR describes itself as \"Mid-level\" or \"Associate\", CAP at 4. When the description doesn't explicitly state seniority, treat the title alone as ambiguous and score no higher than 6.\n\nBIAS TO STRICTNESS: When uncertain between two scores, pick the lower one. False high scores (\"confident wrong\") are worse than missing a marginal match.\n\nReturn ONLY valid JSON in this exact shape, no other text or commentary:\n{\"scores\":[{\"i\":0,\"score\":8,\"reason\":\"Director-level people role at scale-up — strong fit\"}]}\n\nReason must be max 14 words, concrete (cite domain/level + language fit if relevant), no fluff.\n\nJobs to score:\n{{ JSON.stringify($json.jobList, null, 2) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,0],"id":"100ba55b-838b-4071-ab0b-ef0227f09af9","name":"Build Scoring Prompt"},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-5","mode":"list","cachedResultName":"Claude Sonnet 5"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2224,224],"id":"2fab53f6-3c98-4d5f-b42a-4c1948301de9","name":"Claude Sonnet 4.6 (Scoring)","credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}}],"connections":{"Job Search Webhook":{"main":[[{"node":"Prepare Translation Input","type":"main","index":0}]]},"Prepare Translation Input":{"main":[[{"node":"Build Translation Prompt","type":"main","index":0}]]},"Build Translation Prompt":{"main":[[{"node":"Translate Title","type":"main","index":0}]]},"Gemini Flash (Translation)":{"ai_languageModel":[[{"node":"Translate Title","type":"ai_languageModel","index":0}]]},"Translate Title":{"main":[[{"node":"Build LinkedIn Search URL","type":"main","index":0}]]},"Build LinkedIn Search URL":{"main":[[{"node":"Apify LinkedIn Scraper","type":"main","index":0}]]},"Apify LinkedIn Scraper":{"main":[[{"node":"Normalize Results","type":"main","index":0}]]},"Normalize Results":{"main":[[{"node":"Prepare Scoring Input","type":"main","index":0}]]},"Prepare Scoring Input":{"main":[[{"node":"Build Scoring Prompt","type":"main","index":0}]]},"Build Scoring Prompt":{"main":[[{"node":"Score Jobs","type":"main","index":0}]]},"Score Jobs":{"main":[[{"node":"Apply Scores","type":"main","index":0}]]},"Apply Scores":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Claude Sonnet 4.6 (Scoring)":{"ai_languageModel":[[{"node":"Score Jobs","type":"ai_languageModel","index":0}]]}},"nodeGroups":[],"authors":"Sjoerd Geurts","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-01T07:44:17.188Z","id":1425,"workflowId":"Bx0uNW4gnnXIGO8j","versionId":"78a96fbb-48cc-45cc-9d20-79122a8a196e","event":"activated","userId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"},{"createdAt":"2026-07-01T07:44:17.115Z","id":1424,"workflowId":"Bx0uNW4gnnXIGO8j","versionId":"78a96fbb-48cc-45cc-9d20-79122a8a196e","event":"deactivated","userId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"}]}}