n8n_wfs_cairnly/WF9 - Custom Resume_LIVE_BACKUP_pre_sonnet5_20260701.json
{"updatedAt":"2026-06-08T09:40:24.457Z","createdAt":"2026-05-24T08:02:55.651Z","id":"IFhL4Lno0hyMJ1Jc","name":"WF9 - Custom Resume","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"custom-resume","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,224],"webhookId":"custom-resume-webhook","credentials":{"httpHeaderAuth":{"id":"aiABzg04zbeDSXRc","name":"Supabase Edge Functions — Shared Secret"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ received: true }) }}","options":{}},"id":"respond-immediate","name":"Respond Immediately","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[464,128]},{"parameters":{"url":"={{ $json.body.resume_file_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"download-pdf","name":"Download Résumé PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,320]},{"parameters":{"operation":"pdf","options":{}},"id":"extract-pdf","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[688,320]},{"parameters":{"jsCode":"// Preserve original webhook payload alongside extracted résumé text\nreturn [{\n  json: {\n    ...$('Webhook').first().json.body,\n    resume_text: $input.first().json.text || '',\n  },\n}];"},"id":"preserve-payload","name":"Preserve Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,320]},{"parameters":{"promptType":"define","text":"=You extract a structured résumé from raw text. Output ONLY a JSON object matching this schema exactly:\n\n{\n  \"contact\": { \"name\": \"\", \"title\": \"\", \"email\": \"\", \"phone\": \"\", \"location\": \"\", \"linkedin\": \"\", \"portfolio\": \"\" },\n  \"summary_raw\": \"\",\n  \"experience\": [\n    { \"title\": \"\", \"company\": \"\", \"location\": \"\", \"start\": \"\", \"end\": \"\", \"current\": false, \"bullets\": [\"\"] }\n  ],\n  \"education\": [\n    { \"institution\": \"\", \"degree\": \"\", \"field\": \"\", \"location\": \"\", \"start\": \"\", \"end\": \"\" }\n  ],\n  \"skills\": { \"technical\": [], \"soft\": [], \"tools\": [], \"languages\": [] },\n  \"certifications\": [ { \"name\": \"\", \"issuer\": \"\", \"year\": \"\" } ]\n}\n\nRules:\n- Never invent facts. If a field isn't in the text, return an empty string or empty array.\n- Dates as the candidate wrote them (\"Jan 2022\", \"2020\", etc.). Don't normalise.\n- For each experience row, lift every bullet point as-is into \"bullets\".\n- \"current\": true only if the text clearly says \"Present\", \"Current\", or no end date is given for the latest role.\n- Output ONLY the JSON, no markdown fences, no commentary.\n\nRÉSUMÉ TEXT:\n{{ $json.resume_text }}","batching":{}},"id":"llm-parse","name":"Deep Résumé Parse","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1136,320]},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{"temperature":0.1}},"id":"anthropic-parse","name":"Anthropic Sonnet (Parse)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1216,544],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Parse the LLM JSON output and merge in any user overrides (phone, linkedin, etc.)\nlet raw = $input.first().json.text || '';\nraw = raw.trim();\nif (raw.startsWith('```')) {\n  raw = raw.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('LLM did not return parseable JSON: ' + e.message);\n  parsed = JSON.parse(match[0]);\n}\n\nconst overrides = $('Webhook').first().json.body.user_overrides || {};\nparsed.contact = parsed.contact || {};\nfor (const [k, v] of Object.entries(overrides)) {\n  if (v && typeof v === 'string' && v.trim()) {\n    parsed.contact[k] = v.trim();\n  }\n}\n\nreturn [{ json: { resume_full_data: parsed } }];"},"id":"merge-overrides","name":"Merge User Overrides","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,320]},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').first().json.body.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resume_full_data","fieldValue":"={{ JSON.stringify($json.resume_full_data) }}"},{"fieldId":"resume_full_data_extracted_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"supabase-persist-resume","name":"Persist resume_full_data","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1712,320],"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Fan out: one item per selected career, carrying the full resume + webhook body\nconst resume = $('Merge User Overrides').first().json.resume_full_data;\nconst body = $('Webhook').first().json.body;\nconst careers = body.selected_careers || [];\nreturn careers.map((c) => ({\n  json: {\n    ...body,\n    career: c,\n    resume_full_data: resume,\n  },\n}));"},"id":"fan-out-careers","name":"Fan Out Per Career","type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,320]},{"parameters":{"options":{}},"id":"split-batches","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2160,320]},{"parameters":{"operation":"getAll","tableId":"report_sections","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.career.section_id }}"}]}},"id":"fetch-narrative","name":"Fetch Career Narrative","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,208],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"operation":"getAll","tableId":"enriched_jobs","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Split In Batches').item.json.career.enriched_job_id }}"}]}},"id":"fetch-enriched","name":"Fetch Enriched Jobs","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2608,208],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"operation":"getAll","tableId":"report_sections","returnAll":true,"filters":{"conditions":[{"keyName":"report_id","condition":"eq","keyValue":"={{ $('Split In Batches').item.json.report_id }}"}]}},"id":"fetch-personality","name":"Fetch Personality Sections","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2832,208],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Build the must-include keyword list from enriched_jobs (capped at 25)\nconst enrichedItems = $('Fetch Enriched Jobs').all();\nconst enriched = enrichedItems.length > 0 ? enrichedItems[0].json : {};\nconst keywords = new Set();\n\n(enriched.technical_skills || []).forEach(k => k && keywords.add(k));\n(enriched.soft_skills || []).forEach(k => k && keywords.add(k));\n(enriched.typical_tasks || []).forEach(k => k && keywords.add(k));\n(enriched.certifications_requirements || '').split(/[,;\\n]/).forEach(k => {\n  const t = (k || '').trim();\n  if (t) keywords.add(t);\n});\n\n// Fetch Personality Sections now returns ALL report_sections for the report\n// (the n8n Supabase node doesn't support an \"in\" filter), so narrow to the\n// four personality-relevant types here before stitching the LLM prompt block.\nconst PERSONALITY_TYPES = new Set(['approach', 'strengths', 'values', 'init_summary']);\nconst personality = $('Fetch Personality Sections').all()\n  .filter(i => PERSONALITY_TYPES.has(i.json.section_type))\n  .map(i => (i.json.content || '').trim())\n  .filter(Boolean)\n  .join('\\n\\n---\\n\\n');\n\nconst narrativeItems = $('Fetch Career Narrative').all();\nconst narrative = narrativeItems.length > 0 ? (narrativeItems[0].json.content || '') : '';\n\nconst current = $('Split In Batches').item.json;\n\nreturn [{\n  json: {\n    ...current,\n    keywords: Array.from(keywords).slice(0, 25),\n    personality_voice: personality,\n    career_narrative: narrative,\n  },\n}];"},"id":"build-keywords","name":"Build Keyword List","type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,208]},{"parameters":{"promptType":"define","text":"=You re-frame a candidate's existing résumé toward a specific target career.\n\nNEVER invent facts. NEVER add experience the candidate doesn't have. Your job is to choose which existing bullets to lift, re-order them, and rewrite the summary so the résumé tells the strongest possible story for THIS target.\n\nOutput ONLY a JSON object matching this schema (no markdown, no commentary):\n\n{\n  \"contact\": {},\n  \"summary\": \"\",\n  \"experience\": [\n    { \"title\": \"\", \"company\": \"\", \"location\": \"\", \"start\": \"\", \"end\": \"\", \"current\": false, \"bullets\": [\"\"] }\n  ],\n  \"skills_grouped\": {\n    \"technical\": [], \"tools\": [], \"soft\": [], \"languages\": []\n  },\n  \"education\": [],\n  \"certifications\": [],\n  \"highlights\": [\"\"]\n}\n\nRules:\n- contact: copy from input unchanged.\n- summary: 3-4 sentences, written in the voice cues provided. Lead with the strongest claim to the target role. Avoid clichés (\"results-driven\", \"passionate\").\n- experience: keep every role the candidate held. Within each role, re-order bullets to lead with what matters for the target. You can rewrite phrasing (active voice, quantify if the number is already in the source) but never fabricate metrics.\n- skills_grouped: distribute into technical / tools / soft / languages buckets, prioritising overlap with the keyword list.\n- education: copy unchanged. If the input has no education, omit the education key entirely (do not emit an empty array or stub entries).\n- certifications: copy unchanged. If the candidate has no real certifications in the input résumé and none surfaced from the assessment, OMIT the certifications key entirely. Do NOT invent a stub like {name: \"AI for Business\", issuer: \"\", year: \"\"} — leaving it out is better than rendering an empty section.\n- highlights: 2-3 standout one-liners pulled from experience.\n\nLANGUAGE: Write the entire résumé (all section content and headings) in the user's preferred language.\npreferred_language = {{ $('Webhook').first().json.body.preferred_language }}\nIf preferred_language is 'nl', write in Dutch (informal je-form, Dutch number/date formatting: €1.500, dd-mm-jjjj); for any other value, write in English. Keep proper nouns, company names, and widely-English job titles as-is. No em-dashes; use commas, colons, parentheses, or sentence breaks.\n\nTARGET CAREER: {{ $json.career.career_title }}\n\nWHY-SUITED NARRATIVE (from their assessment, optional):\n{{ $json.career_narrative || 'Not available.' }}\n\nPERSONALITY VOICE CUES:\n{{ $json.personality_voice || '' }}\n\nMUST-INCLUDE KEYWORDS (try to land these):\n{{ JSON.stringify($json.keywords) }}\n\nCANDIDATE'S CURRENT RÉSUMÉ (JSON):\n{{ JSON.stringify($json.resume_full_data) }}","batching":{}},"id":"llm-content","name":"Résumé Content Generation","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[3280,208]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"temperature":0.3}},"id":"anthropic-content","name":"Anthropic Sonnet (Content)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[3360,432],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"=You are an ATS optimization expert with one job: produce the highest-scoring version of a tailored résumé WITHOUT inventing facts.\n\nYou see the candidate's ORIGINAL résumé (the source of truth) AND the version that was just tailored toward a target career. You may rewrite, re-order, or pull additional content from the ORIGINAL to surface must-include keywords — but you must never fabricate.\n\nPROCESS (do all of this internally, output only the final JSON):\n1. Score the tailored résumé using the rubric below.\n2. If score is below 80, look at the missing keywords and check whether the candidate's ORIGINAL résumé contains experience that legitimately touches them. If yes, rewrite the relevant bullet(s) to surface that keyword naturally. If no, leave the keyword in \"missing\" — never fake it.\n3. Re-score the (possibly revised) version. Output that final score and final résumé.\n\nOutput ONLY (no markdown, no commentary):\n\n{\n  \"resume_json\": {},\n  \"ats_score\": 0,\n  \"keyword_coverage\": {\n    \"hit\": [],\n    \"missing\": []\n  }\n}\n\nScoring rubric (out of 100):\n- 40 pts: keyword coverage (rough proportion of must-include keywords actually present in the résumé text)\n- 20 pts: action verbs at start of bullets, active voice\n- 20 pts: quantified impact where the source supports it\n- 10 pts: section headers present and standard\n- 10 pts: contact info complete (email, phone, location at minimum)\n\nHard rules:\n- Improve phrasing freely (strip passive voice, remove fluff) but NEVER introduce new facts or change dates / titles / companies.\n- When surfacing a missing keyword, use ONLY phrasing the candidate's ORIGINAL résumé can back up. If the original mentions \"trained corporate teams on automation\", you can rewrite to surface \"workflow automation\" or \"corporate training\" — but you cannot claim a certification or tool the original doesn't mention.\n- Keep the resume_json structure unchanged (same keys, same shape).\n- Final ats_score must reflect the version you are outputting, not the input.\n\nLANGUAGE: Keep the résumé in the same language it is already written in. Do not translate.\n\nKEYWORDS TO COVER:\n{{ JSON.stringify($('Build Keyword List').item.json.keywords) }}\n\nCANDIDATE'S ORIGINAL RÉSUMÉ (source of truth):\n{{ JSON.stringify($('Build Keyword List').item.json.resume_full_data) }}\n\nTAILORED RÉSUMÉ TO REVIEW AND POSSIBLY IMPROVE:\n{{ $json.text }}","batching":{}},"id":"llm-ats","name":"ATS Optimisation Pass","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[3632,208]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"temperature":0.2}},"id":"anthropic-ats","name":"Anthropic Sonnet (ATS)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[3712,432],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Assemble the final payload for the custom_resumes row update.\n// Resume-only flow: cover letters now live in the dedicated WF_cover_letter\n// workflow, so this no longer reads or generates a cover letter.\n\nfunction safeParseJson(raw) {\n  if (raw == null) return null;\n  if (typeof raw === 'object') return raw;\n  let s = String(raw).trim();\n  if (s.startsWith('```')) {\n    s = s.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n  }\n  try { return JSON.parse(s); }\n  catch (e) {\n    const m = s.match(/\\{[\\s\\S]*\\}/);\n    return m ? JSON.parse(m[0]) : null;\n  }\n}\n\nconst atsRaw = $('ATS Optimisation Pass').item.json.text;\nconst ats = safeParseJson(atsRaw);\nif (!ats) throw new Error('Could not parse ATS pass output');\n\n// LLM sometimes nests resume as a stringified {resume_json: \"...\"}, sometimes as\n// an object. Force it to an object so the frontend can read .contact / .experience.\nconst resumeJsonObj = (ats.resume_json && typeof ats.resume_json === 'object')\n  ? ats.resume_json\n  : safeParseJson(ats.resume_json);\n\n// Legacy prompts wrote the resume at the top level (no nested resume_json).\nconst finalResumeJson = resumeJsonObj || (ats.contact ? ats : null);\nif (!finalResumeJson) throw new Error('ATS pass output had no resume_json');\n\nconst career = $('Build Keyword List').item.json.career;\n\nreturn [{\n  json: {\n    custom_resume_id: career.custom_resume_id,\n    resume_json: finalResumeJson,\n    cover_letter_json: null,\n    ats_score: ats.ats_score,\n    keyword_coverage: ats.keyword_coverage,\n  },\n}];"},"id":"assemble-payload","name":"Assemble Update Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[3984,208]},{"parameters":{"operation":"update","tableId":"custom_resumes","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.custom_resume_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resume_json","fieldValue":"={{ JSON.stringify($json.resume_json) }}"},{"fieldId":"cover_letter_json","fieldValue":"={{ $json.cover_letter_json ? JSON.stringify($json.cover_letter_json) : null }}"},{"fieldId":"ats_score","fieldValue":"={{ $json.ats_score }}"},{"fieldId":"keyword_coverage","fieldValue":"={{ JSON.stringify($json.keyword_coverage) }}"},{"fieldId":"status","fieldValue":"completed"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"update-custom-resume","name":"Update custom_resumes","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4208,320],"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}}],"connections":{"Webhook":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Download Résumé PDF","type":"main","index":0}]]},"Download Résumé PDF":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Preserve Payload","type":"main","index":0}]]},"Preserve Payload":{"main":[[{"node":"Deep Résumé Parse","type":"main","index":0}]]},"Anthropic Sonnet (Parse)":{"ai_languageModel":[[{"node":"Deep Résumé Parse","type":"ai_languageModel","index":0}]]},"Deep Résumé Parse":{"main":[[{"node":"Merge User Overrides","type":"main","index":0}]]},"Merge User Overrides":{"main":[[{"node":"Persist resume_full_data","type":"main","index":0}]]},"Persist resume_full_data":{"main":[[{"node":"Fan Out Per Career","type":"main","index":0}]]},"Fan Out Per Career":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[],[{"node":"Fetch Career Narrative","type":"main","index":0}]]},"Fetch Career Narrative":{"main":[[{"node":"Fetch Enriched Jobs","type":"main","index":0}]]},"Fetch Enriched Jobs":{"main":[[{"node":"Fetch Personality Sections","type":"main","index":0}]]},"Fetch Personality Sections":{"main":[[{"node":"Build Keyword List","type":"main","index":0}]]},"Build Keyword List":{"main":[[{"node":"Résumé Content Generation","type":"main","index":0}]]},"Anthropic Sonnet (Content)":{"ai_languageModel":[[{"node":"Résumé Content Generation","type":"ai_languageModel","index":0}]]},"Résumé Content Generation":{"main":[[{"node":"ATS Optimisation Pass","type":"main","index":0}]]},"Anthropic Sonnet (ATS)":{"ai_languageModel":[[{"node":"ATS Optimisation Pass","type":"ai_languageModel","index":0}]]},"ATS Optimisation Pass":{"main":[[{"node":"Assemble Update Payload","type":"main","index":0}]]},"Assemble Update Payload":{"main":[[{"node":"Update custom_resumes","type":"main","index":0}]]},"Update custom_resumes":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"FbsruPbuZI2Fgtc8","binaryMode":"separate"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"ca2a4117-af84-4e57-84fb-58b9b518d578","activeVersionId":"ca2a4117-af84-4e57-84fb-58b9b518d578","versionCounter":67,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-05-26T07:13:46.168Z","createdAt":"2026-05-26T07:13:46.168Z","role":"workflow:owner","workflowId":"IFhL4Lno0hyMJ1Jc","projectId":"IRGhJlz0HuarxdVs","project":{"updatedAt":"2026-05-08T11:19:23.000Z","createdAt":"2025-06-17T10:11:12.163Z","id":"IRGhJlz0HuarxdVs","name":"Cairnly","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"","customTelemetryTags":[],"creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-08T09:40:35.000Z","createdAt":"2026-06-08T09:40:24.458Z","versionId":"ca2a4117-af84-4e57-84fb-58b9b518d578","workflowId":"IFhL4Lno0hyMJ1Jc","nodes":[{"parameters":{"httpMethod":"POST","path":"custom-resume","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,224],"webhookId":"custom-resume-webhook","credentials":{"httpHeaderAuth":{"id":"aiABzg04zbeDSXRc","name":"Supabase Edge Functions — Shared Secret"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ received: true }) }}","options":{}},"id":"respond-immediate","name":"Respond Immediately","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[464,128]},{"parameters":{"url":"={{ $json.body.resume_file_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"download-pdf","name":"Download Résumé PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,320]},{"parameters":{"operation":"pdf","options":{}},"id":"extract-pdf","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[688,320]},{"parameters":{"jsCode":"// Preserve original webhook payload alongside extracted résumé text\nreturn [{\n  json: {\n    ...$('Webhook').first().json.body,\n    resume_text: $input.first().json.text || '',\n  },\n}];"},"id":"preserve-payload","name":"Preserve Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,320]},{"parameters":{"promptType":"define","text":"=You extract a structured résumé from raw text. Output ONLY a JSON object matching this schema exactly:\n\n{\n  \"contact\": { \"name\": \"\", \"title\": \"\", \"email\": \"\", \"phone\": \"\", \"location\": \"\", \"linkedin\": \"\", \"portfolio\": \"\" },\n  \"summary_raw\": \"\",\n  \"experience\": [\n    { \"title\": \"\", \"company\": \"\", \"location\": \"\", \"start\": \"\", \"end\": \"\", \"current\": false, \"bullets\": [\"\"] }\n  ],\n  \"education\": [\n    { \"institution\": \"\", \"degree\": \"\", \"field\": \"\", \"location\": \"\", \"start\": \"\", \"end\": \"\" }\n  ],\n  \"skills\": { \"technical\": [], \"soft\": [], \"tools\": [], \"languages\": [] },\n  \"certifications\": [ { \"name\": \"\", \"issuer\": \"\", \"year\": \"\" } ]\n}\n\nRules:\n- Never invent facts. If a field isn't in the text, return an empty string or empty array.\n- Dates as the candidate wrote them (\"Jan 2022\", \"2020\", etc.). Don't normalise.\n- For each experience row, lift every bullet point as-is into \"bullets\".\n- \"current\": true only if the text clearly says \"Present\", \"Current\", or no end date is given for the latest role.\n- Output ONLY the JSON, no markdown fences, no commentary.\n\nRÉSUMÉ TEXT:\n{{ $json.resume_text }}","batching":{}},"id":"llm-parse","name":"Deep Résumé Parse","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1136,320]},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{"temperature":0.1}},"id":"anthropic-parse","name":"Anthropic Sonnet (Parse)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1216,544],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Parse the LLM JSON output and merge in any user overrides (phone, linkedin, etc.)\nlet raw = $input.first().json.text || '';\nraw = raw.trim();\nif (raw.startsWith('```')) {\n  raw = raw.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('LLM did not return parseable JSON: ' + e.message);\n  parsed = JSON.parse(match[0]);\n}\n\nconst overrides = $('Webhook').first().json.body.user_overrides || {};\nparsed.contact = parsed.contact || {};\nfor (const [k, v] of Object.entries(overrides)) {\n  if (v && typeof v === 'string' && v.trim()) {\n    parsed.contact[k] = v.trim();\n  }\n}\n\nreturn [{ json: { resume_full_data: parsed } }];"},"id":"merge-overrides","name":"Merge User Overrides","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,320]},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').first().json.body.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resume_full_data","fieldValue":"={{ JSON.stringify($json.resume_full_data) }}"},{"fieldId":"resume_full_data_extracted_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"supabase-persist-resume","name":"Persist resume_full_data","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1712,320],"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Fan out: one item per selected career, carrying the full resume + webhook body\nconst resume = $('Merge User Overrides').first().json.resume_full_data;\nconst body = $('Webhook').first().json.body;\nconst careers = body.selected_careers || [];\nreturn careers.map((c) => ({\n  json: {\n    ...body,\n    career: c,\n    resume_full_data: resume,\n  },\n}));"},"id":"fan-out-careers","name":"Fan Out Per Career","type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,320]},{"parameters":{"options":{}},"id":"split-batches","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2160,320]},{"parameters":{"operation":"getAll","tableId":"report_sections","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.career.section_id }}"}]}},"id":"fetch-narrative","name":"Fetch Career Narrative","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,208],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"operation":"getAll","tableId":"enriched_jobs","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Split In Batches').item.json.career.enriched_job_id }}"}]}},"id":"fetch-enriched","name":"Fetch Enriched Jobs","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2608,208],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"operation":"getAll","tableId":"report_sections","returnAll":true,"filters":{"conditions":[{"keyName":"report_id","condition":"eq","keyValue":"={{ $('Split In Batches').item.json.report_id }}"}]}},"id":"fetch-personality","name":"Fetch Personality Sections","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2832,208],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"jsCode":"// Build the must-include keyword list from enriched_jobs (capped at 25)\nconst enrichedItems = $('Fetch Enriched Jobs').all();\nconst enriched = enrichedItems.length > 0 ? enrichedItems[0].json : {};\nconst keywords = new Set();\n\n(enriched.technical_skills || []).forEach(k => k && keywords.add(k));\n(enriched.soft_skills || []).forEach(k => k && keywords.add(k));\n(enriched.typical_tasks || []).forEach(k => k && keywords.add(k));\n(enriched.certifications_requirements || '').split(/[,;\\n]/).forEach(k => {\n  const t = (k || '').trim();\n  if (t) keywords.add(t);\n});\n\n// Fetch Personality Sections now returns ALL report_sections for the report\n// (the n8n Supabase node doesn't support an \"in\" filter), so narrow to the\n// four personality-relevant types here before stitching the LLM prompt block.\nconst PERSONALITY_TYPES = new Set(['approach', 'strengths', 'values', 'init_summary']);\nconst personality = $('Fetch Personality Sections').all()\n  .filter(i => PERSONALITY_TYPES.has(i.json.section_type))\n  .map(i => (i.json.content || '').trim())\n  .filter(Boolean)\n  .join('\\n\\n---\\n\\n');\n\nconst narrativeItems = $('Fetch Career Narrative').all();\nconst narrative = narrativeItems.length > 0 ? (narrativeItems[0].json.content || '') : '';\n\nconst current = $('Split In Batches').item.json;\n\nreturn [{\n  json: {\n    ...current,\n    keywords: Array.from(keywords).slice(0, 25),\n    personality_voice: personality,\n    career_narrative: narrative,\n  },\n}];"},"id":"build-keywords","name":"Build Keyword List","type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,208]},{"parameters":{"promptType":"define","text":"=You re-frame a candidate's existing résumé toward a specific target career.\n\nNEVER invent facts. NEVER add experience the candidate doesn't have. Your job is to choose which existing bullets to lift, re-order them, and rewrite the summary so the résumé tells the strongest possible story for THIS target.\n\nOutput ONLY a JSON object matching this schema (no markdown, no commentary):\n\n{\n  \"contact\": {},\n  \"summary\": \"\",\n  \"experience\": [\n    { \"title\": \"\", \"company\": \"\", \"location\": \"\", \"start\": \"\", \"end\": \"\", \"current\": false, \"bullets\": [\"\"] }\n  ],\n  \"skills_grouped\": {\n    \"technical\": [], \"tools\": [], \"soft\": [], \"languages\": []\n  },\n  \"education\": [],\n  \"certifications\": [],\n  \"highlights\": [\"\"]\n}\n\nRules:\n- contact: copy from input unchanged.\n- summary: 3-4 sentences, written in the voice cues provided. Lead with the strongest claim to the target role. Avoid clichés (\"results-driven\", \"passionate\").\n- experience: keep every role the candidate held. Within each role, re-order bullets to lead with what matters for the target. You can rewrite phrasing (active voice, quantify if the number is already in the source) but never fabricate metrics.\n- skills_grouped: distribute into technical / tools / soft / languages buckets, prioritising overlap with the keyword list.\n- education: copy unchanged. If the input has no education, omit the education key entirely (do not emit an empty array or stub entries).\n- certifications: copy unchanged. If the candidate has no real certifications in the input résumé and none surfaced from the assessment, OMIT the certifications key entirely. Do NOT invent a stub like {name: \"AI for Business\", issuer: \"\", year: \"\"} — leaving it out is better than rendering an empty section.\n- highlights: 2-3 standout one-liners pulled from experience.\n\nLANGUAGE: Write the entire résumé (all section content and headings) in the user's preferred language.\npreferred_language = {{ $('Webhook').first().json.body.preferred_language }}\nIf preferred_language is 'nl', write in Dutch (informal je-form, Dutch number/date formatting: €1.500, dd-mm-jjjj); for any other value, write in English. Keep proper nouns, company names, and widely-English job titles as-is. No em-dashes; use commas, colons, parentheses, or sentence breaks.\n\nTARGET CAREER: {{ $json.career.career_title }}\n\nWHY-SUITED NARRATIVE (from their assessment, optional):\n{{ $json.career_narrative || 'Not available.' }}\n\nPERSONALITY VOICE CUES:\n{{ $json.personality_voice || '' }}\n\nMUST-INCLUDE KEYWORDS (try to land these):\n{{ JSON.stringify($json.keywords) }}\n\nCANDIDATE'S CURRENT RÉSUMÉ (JSON):\n{{ JSON.stringify($json.resume_full_data) }}","batching":{}},"id":"llm-content","name":"Résumé Content Generation","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[3280,208]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"temperature":0.3}},"id":"anthropic-content","name":"Anthropic Sonnet (Content)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[3360,432],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"=You are an ATS optimization expert with one job: produce the highest-scoring version of a tailored résumé WITHOUT inventing facts.\n\nYou see the candidate's ORIGINAL résumé (the source of truth) AND the version that was just tailored toward a target career. You may rewrite, re-order, or pull additional content from the ORIGINAL to surface must-include keywords — but you must never fabricate.\n\nPROCESS (do all of this internally, output only the final JSON):\n1. Score the tailored résumé using the rubric below.\n2. If score is below 80, look at the missing keywords and check whether the candidate's ORIGINAL résumé contains experience that legitimately touches them. If yes, rewrite the relevant bullet(s) to surface that keyword naturally. If no, leave the keyword in \"missing\" — never fake it.\n3. Re-score the (possibly revised) version. Output that final score and final résumé.\n\nOutput ONLY (no markdown, no commentary):\n\n{\n  \"resume_json\": {},\n  \"ats_score\": 0,\n  \"keyword_coverage\": {\n    \"hit\": [],\n    \"missing\": []\n  }\n}\n\nScoring rubric (out of 100):\n- 40 pts: keyword coverage (rough proportion of must-include keywords actually present in the résumé text)\n- 20 pts: action verbs at start of bullets, active voice\n- 20 pts: quantified impact where the source supports it\n- 10 pts: section headers present and standard\n- 10 pts: contact info complete (email, phone, location at minimum)\n\nHard rules:\n- Improve phrasing freely (strip passive voice, remove fluff) but NEVER introduce new facts or change dates / titles / companies.\n- When surfacing a missing keyword, use ONLY phrasing the candidate's ORIGINAL résumé can back up. If the original mentions \"trained corporate teams on automation\", you can rewrite to surface \"workflow automation\" or \"corporate training\" — but you cannot claim a certification or tool the original doesn't mention.\n- Keep the resume_json structure unchanged (same keys, same shape).\n- Final ats_score must reflect the version you are outputting, not the input.\n\nLANGUAGE: Keep the résumé in the same language it is already written in. Do not translate.\n\nKEYWORDS TO COVER:\n{{ JSON.stringify($('Build Keyword List').item.json.keywords) }}\n\nCANDIDATE'S ORIGINAL RÉSUMÉ (source of truth):\n{{ JSON.stringify($('Build Keyword List').item.json.resume_full_data) }}\n\nTAILORED RÉSUMÉ TO REVIEW AND POSSIBLY IMPROVE:\n{{ $json.text }}","batching":{}},"id":"llm-ats","name":"ATS Optimisation Pass","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[3632,208]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"temperature":0.2}},"id":"anthropic-ats","name":"Anthropic Sonnet (ATS)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[3712,432],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Assemble the final payload for the custom_resumes row update.\n// Resume-only flow: cover letters now live in the dedicated WF_cover_letter\n// workflow, so this no longer reads or generates a cover letter.\n\nfunction safeParseJson(raw) {\n  if (raw == null) return null;\n  if (typeof raw === 'object') return raw;\n  let s = String(raw).trim();\n  if (s.startsWith('```')) {\n    s = s.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n  }\n  try { return JSON.parse(s); }\n  catch (e) {\n    const m = s.match(/\\{[\\s\\S]*\\}/);\n    return m ? JSON.parse(m[0]) : null;\n  }\n}\n\nconst atsRaw = $('ATS Optimisation Pass').item.json.text;\nconst ats = safeParseJson(atsRaw);\nif (!ats) throw new Error('Could not parse ATS pass output');\n\n// LLM sometimes nests resume as a stringified {resume_json: \"...\"}, sometimes as\n// an object. Force it to an object so the frontend can read .contact / .experience.\nconst resumeJsonObj = (ats.resume_json && typeof ats.resume_json === 'object')\n  ? ats.resume_json\n  : safeParseJson(ats.resume_json);\n\n// Legacy prompts wrote the resume at the top level (no nested resume_json).\nconst finalResumeJson = resumeJsonObj || (ats.contact ? ats : null);\nif (!finalResumeJson) throw new Error('ATS pass output had no resume_json');\n\nconst career = $('Build Keyword List').item.json.career;\n\nreturn [{\n  json: {\n    custom_resume_id: career.custom_resume_id,\n    resume_json: finalResumeJson,\n    cover_letter_json: null,\n    ats_score: ats.ats_score,\n    keyword_coverage: ats.keyword_coverage,\n  },\n}];"},"id":"assemble-payload","name":"Assemble Update Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[3984,208]},{"parameters":{"operation":"update","tableId":"custom_resumes","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.custom_resume_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resume_json","fieldValue":"={{ JSON.stringify($json.resume_json) }}"},{"fieldId":"cover_letter_json","fieldValue":"={{ $json.cover_letter_json ? JSON.stringify($json.cover_letter_json) : null }}"},{"fieldId":"ats_score","fieldValue":"={{ $json.ats_score }}"},{"fieldId":"keyword_coverage","fieldValue":"={{ JSON.stringify($json.keyword_coverage) }}"},{"fieldId":"status","fieldValue":"completed"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"update-custom-resume","name":"Update custom_resumes","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4208,320],"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}}],"connections":{"Webhook":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Download Résumé PDF","type":"main","index":0}]]},"Download Résumé PDF":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Preserve Payload","type":"main","index":0}]]},"Preserve Payload":{"main":[[{"node":"Deep Résumé Parse","type":"main","index":0}]]},"Anthropic Sonnet (Parse)":{"ai_languageModel":[[{"node":"Deep Résumé Parse","type":"ai_languageModel","index":0}]]},"Deep Résumé Parse":{"main":[[{"node":"Merge User Overrides","type":"main","index":0}]]},"Merge User Overrides":{"main":[[{"node":"Persist resume_full_data","type":"main","index":0}]]},"Persist resume_full_data":{"main":[[{"node":"Fan Out Per Career","type":"main","index":0}]]},"Fan Out Per Career":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[],[{"node":"Fetch Career Narrative","type":"main","index":0}]]},"Fetch Career Narrative":{"main":[[{"node":"Fetch Enriched Jobs","type":"main","index":0}]]},"Fetch Enriched Jobs":{"main":[[{"node":"Fetch Personality Sections","type":"main","index":0}]]},"Fetch Personality Sections":{"main":[[{"node":"Build Keyword List","type":"main","index":0}]]},"Build Keyword List":{"main":[[{"node":"Résumé Content Generation","type":"main","index":0}]]},"Anthropic Sonnet (Content)":{"ai_languageModel":[[{"node":"Résumé Content Generation","type":"ai_languageModel","index":0}]]},"Résumé Content Generation":{"main":[[{"node":"ATS Optimisation Pass","type":"main","index":0}]]},"Anthropic Sonnet (ATS)":{"ai_languageModel":[[{"node":"ATS Optimisation Pass","type":"ai_languageModel","index":0}]]},"ATS Optimisation Pass":{"main":[[{"node":"Assemble Update Payload","type":"main","index":0}]]},"Assemble Update Payload":{"main":[[{"node":"Update custom_resumes","type":"main","index":0}]]},"Update custom_resumes":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Sjoerd Geurts","name":"Version ca2a4117","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-06-08T09:40:35.768Z","id":1273,"workflowId":"IFhL4Lno0hyMJ1Jc","versionId":"ca2a4117-af84-4e57-84fb-58b9b518d578","event":"activated","userId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"}]}}