n8n_wfs_cairnly/WFX - Cover Letter_LIVE_BACKUP_pre_sonnet5_20260701.json
{"updatedAt":"2026-06-05T18:34:58.760Z","createdAt":"2026-05-26T10:47:09.084Z","id":"M9w7xWeiPNmU7ZFb","name":"WFX - Cover Letter","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"cover-letter","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"webhook-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,368],"webhookId":"cover-letter-webhook","credentials":{"httpHeaderAuth":{"id":"aiABzg04zbeDSXRc","name":"Supabase Edge Functions — Shared Secret"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ received: true }) }}","options":{}},"id":"respond-1","name":"Respond Immediately","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[528,208]},{"parameters":{"promptType":"define","text":"=Write a tailored cover letter for this specific job posting. Return ONLY a JSON object (no markdown, no commentary, no surrounding text):\n\n{\n  \"greeting\": \"Dear Hiring Team,\",\n  \"opening\": \"\",\n  \"body_paragraphs\": [\"\", \"\"],\n  \"closing\": \"\"\n}\n\nRules:\n- 3-4 short paragraphs total. Hiring managers skim, tight beats verbose.\n- LANGUAGE: Detect the language of the JOB DESCRIPTION below and write the entire letter in that same language (greeting, opening, body, closing, sign-off). If the JD is too short or ambiguous to tell with confidence, default to English. Common cases for this app: English, Dutch (Nederlands), German. Match the language exactly, including the greeting phrasing (e.g. \"Geachte heer/mevrouw,\" for Dutch, \"Sehr geehrte Damen und Herren,\" for German).\n- TONE: Business casual. Confident but not stiff. No corporate jargon, no \"synergy\", no \"leveraging\", no \"I am writing to apply for...\". Read like a thoughtful note from a peer who happens to be a strong fit.\n- PUNCTUATION: NEVER use em-dashes (—) or en-dashes (–) anywhere in the letter. This is non-negotiable. Use commas, periods, colons, parentheses, or sentence breaks instead. This applies across all languages.\n- Reference THIS specific posting: mention the company by name and reflect 1-2 things the JD actually asks for.\n- Pull concrete evidence from the candidate's résumé: company names, project names, measurable outcomes. No vague \"passionate about...\" filler.\n- Voice should feel like the same person who wrote the résumé, not generic AI tone.\n- No fake hiring-manager names in the greeting (use the language-appropriate generic, e.g. \"Dear Hiring Team,\" / \"Geachte heer/mevrouw,\").\n- Closing: one sentence + sign-off. Keep it modern (no \"Sincerely,\").\n\nTARGET ROLE: {{ $('Webhook').item.json.body.job.title }}\nORGANIZATION: {{ $('Webhook').item.json.body.job.company }}\nLOCATION: {{ $('Webhook').item.json.body.job.location || 'not specified' }}\n\nJOB DESCRIPTION:\n{{ $('Webhook').item.json.body.job.description || '(no description provided)' }}\n\nCANDIDATE RÉSUMÉ (JSON, use as voice + evidence source):\n{{ JSON.stringify($('Webhook').item.json.body.source_resume.resume_json) }}\n"},"id":"cover-1","name":"Cover Letter","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[464,512]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"temperature":0.4}},"id":"anthropic-1","name":"Anthropic Sonnet (Cover)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[544,736],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Parse the LLM JSON output. Branch into success / failure rows so the\n// caller can do conditional Supabase updates.\n\nconst inputItem = $input.first();\nconst llmText = inputItem.json.text || inputItem.json.output || '';\n\n// Carry through the original webhook payload so we can write back to the right row.\nconst wh = $('Webhook').first().json.body;\n\nfunction tryParse(raw) {\n  if (!raw) return null;\n  // Strip code fences if the model wrapped them despite the prompt.\n  let s = String(raw).trim();\n  if (s.startsWith('```')) {\n    s = s.replace(/^```(?:json)?\\s*/, '').replace(/```\\s*$/, '').trim();\n  }\n  // First and last brace — defensive against any leading/trailing prose.\n  const first = s.indexOf('{');\n  const last = s.lastIndexOf('}');\n  if (first === -1 || last === -1 || last < first) return null;\n  try {\n    return JSON.parse(s.slice(first, last + 1));\n  } catch (e) {\n    return null;\n  }\n}\n\nconst parsed = tryParse(llmText);\n\nfunction isValid(p) {\n  return p\n    && typeof p.greeting === 'string'\n    && typeof p.opening === 'string'\n    && Array.isArray(p.body_paragraphs)\n    && p.body_paragraphs.every((x) => typeof x === 'string')\n    && typeof p.closing === 'string';\n}\n\nif (parsed && isValid(parsed)) {\n  return [{\n    json: {\n      ok: true,\n      cover_letter_id: wh.cover_letter_id,\n      letter_json: parsed,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ok: false,\n    cover_letter_id: wh.cover_letter_id,\n    error_message: 'LLM output was not valid CoverLetterJson. Raw: ' + String(llmText).slice(0, 400),\n  },\n}];\n"},"id":"parse-1","name":"Parse Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[816,512]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ok-check","leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-1","name":"If Parse OK","type":"n8n-nodes-base.if","typeVersion":2,"position":[1040,512]},{"parameters":{"operation":"update","tableId":"cover_letters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.cover_letter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"letter_json","fieldValue":"={{ JSON.stringify($json.letter_json) }}"},{"fieldId":"status","fieldValue":"completed"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"sb-ok","name":"Update cover_letters (success)","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1264,416],"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"operation":"update","tableId":"cover_letters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.cover_letter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"failed"},{"fieldId":"error_message","fieldValue":"={{ $json.error_message }}"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"sb-fail","name":"Update cover_letters (failed)","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1264,608],"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}}],"connections":{"Webhook":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Cover Letter","type":"main","index":0}]]},"Cover Letter":{"main":[[{"node":"Parse Output","type":"main","index":0}]]},"Anthropic Sonnet (Cover)":{"ai_languageModel":[[{"node":"Cover Letter","type":"ai_languageModel","index":0}]]},"Parse Output":{"main":[[{"node":"If Parse OK","type":"main","index":0}]]},"If Parse OK":{"main":[[{"node":"Update cover_letters (success)","type":"main","index":0}],[{"node":"Update cover_letters (failed)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"33a7db3d-7378-454d-ac0b-dd36cf008275","activeVersionId":"33a7db3d-7378-454d-ac0b-dd36cf008275","versionCounter":19,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-05-26T10:54:11.374Z","createdAt":"2026-05-26T10:54:11.374Z","role":"workflow:owner","workflowId":"M9w7xWeiPNmU7ZFb","projectId":"IRGhJlz0HuarxdVs","project":{"updatedAt":"2026-05-08T11:19:23.000Z","createdAt":"2025-06-17T10:11:12.163Z","id":"IRGhJlz0HuarxdVs","name":"Cairnly","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"","customTelemetryTags":[],"creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-05T18:35:00.000Z","createdAt":"2026-06-01T06:49:26.968Z","versionId":"33a7db3d-7378-454d-ac0b-dd36cf008275","workflowId":"M9w7xWeiPNmU7ZFb","nodes":[{"parameters":{"httpMethod":"POST","path":"cover-letter","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"webhook-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,368],"webhookId":"cover-letter-webhook","credentials":{"httpHeaderAuth":{"id":"aiABzg04zbeDSXRc","name":"Supabase Edge Functions — Shared Secret"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ received: true }) }}","options":{}},"id":"respond-1","name":"Respond Immediately","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[528,208]},{"parameters":{"promptType":"define","text":"=Write a tailored cover letter for this specific job posting. Return ONLY a JSON object (no markdown, no commentary, no surrounding text):\n\n{\n  \"greeting\": \"Dear Hiring Team,\",\n  \"opening\": \"\",\n  \"body_paragraphs\": [\"\", \"\"],\n  \"closing\": \"\"\n}\n\nRules:\n- 3-4 short paragraphs total. Hiring managers skim, tight beats verbose.\n- LANGUAGE: Detect the language of the JOB DESCRIPTION below and write the entire letter in that same language (greeting, opening, body, closing, sign-off). If the JD is too short or ambiguous to tell with confidence, default to English. Common cases for this app: English, Dutch (Nederlands), German. Match the language exactly, including the greeting phrasing (e.g. \"Geachte heer/mevrouw,\" for Dutch, \"Sehr geehrte Damen und Herren,\" for German).\n- TONE: Business casual. Confident but not stiff. No corporate jargon, no \"synergy\", no \"leveraging\", no \"I am writing to apply for...\". Read like a thoughtful note from a peer who happens to be a strong fit.\n- PUNCTUATION: NEVER use em-dashes (—) or en-dashes (–) anywhere in the letter. This is non-negotiable. Use commas, periods, colons, parentheses, or sentence breaks instead. This applies across all languages.\n- Reference THIS specific posting: mention the company by name and reflect 1-2 things the JD actually asks for.\n- Pull concrete evidence from the candidate's résumé: company names, project names, measurable outcomes. No vague \"passionate about...\" filler.\n- Voice should feel like the same person who wrote the résumé, not generic AI tone.\n- No fake hiring-manager names in the greeting (use the language-appropriate generic, e.g. \"Dear Hiring Team,\" / \"Geachte heer/mevrouw,\").\n- Closing: one sentence + sign-off. Keep it modern (no \"Sincerely,\").\n\nTARGET ROLE: {{ $('Webhook').item.json.body.job.title }}\nORGANIZATION: {{ $('Webhook').item.json.body.job.company }}\nLOCATION: {{ $('Webhook').item.json.body.job.location || 'not specified' }}\n\nJOB DESCRIPTION:\n{{ $('Webhook').item.json.body.job.description || '(no description provided)' }}\n\nCANDIDATE RÉSUMÉ (JSON, use as voice + evidence source):\n{{ JSON.stringify($('Webhook').item.json.body.source_resume.resume_json) }}\n"},"id":"cover-1","name":"Cover Letter","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[464,512]},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"temperature":0.4}},"id":"anthropic-1","name":"Anthropic Sonnet (Cover)","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[544,736],"credentials":{"anthropicApi":{"id":"RhTKhZPWZ6gcGD13","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Parse the LLM JSON output. Branch into success / failure rows so the\n// caller can do conditional Supabase updates.\n\nconst inputItem = $input.first();\nconst llmText = inputItem.json.text || inputItem.json.output || '';\n\n// Carry through the original webhook payload so we can write back to the right row.\nconst wh = $('Webhook').first().json.body;\n\nfunction tryParse(raw) {\n  if (!raw) return null;\n  // Strip code fences if the model wrapped them despite the prompt.\n  let s = String(raw).trim();\n  if (s.startsWith('```')) {\n    s = s.replace(/^```(?:json)?\\s*/, '').replace(/```\\s*$/, '').trim();\n  }\n  // First and last brace — defensive against any leading/trailing prose.\n  const first = s.indexOf('{');\n  const last = s.lastIndexOf('}');\n  if (first === -1 || last === -1 || last < first) return null;\n  try {\n    return JSON.parse(s.slice(first, last + 1));\n  } catch (e) {\n    return null;\n  }\n}\n\nconst parsed = tryParse(llmText);\n\nfunction isValid(p) {\n  return p\n    && typeof p.greeting === 'string'\n    && typeof p.opening === 'string'\n    && Array.isArray(p.body_paragraphs)\n    && p.body_paragraphs.every((x) => typeof x === 'string')\n    && typeof p.closing === 'string';\n}\n\nif (parsed && isValid(parsed)) {\n  return [{\n    json: {\n      ok: true,\n      cover_letter_id: wh.cover_letter_id,\n      letter_json: parsed,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ok: false,\n    cover_letter_id: wh.cover_letter_id,\n    error_message: 'LLM output was not valid CoverLetterJson. Raw: ' + String(llmText).slice(0, 400),\n  },\n}];\n"},"id":"parse-1","name":"Parse Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[816,512]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ok-check","leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-1","name":"If Parse OK","type":"n8n-nodes-base.if","typeVersion":2,"position":[1040,512]},{"parameters":{"operation":"update","tableId":"cover_letters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.cover_letter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"letter_json","fieldValue":"={{ JSON.stringify($json.letter_json) }}"},{"fieldId":"status","fieldValue":"completed"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"sb-ok","name":"Update cover_letters (success)","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1264,416],"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}},{"parameters":{"operation":"update","tableId":"cover_letters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.cover_letter_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"failed"},{"fieldId":"error_message","fieldValue":"={{ $json.error_message }}"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"sb-fail","name":"Update cover_letters (failed)","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1264,608],"credentials":{"supabaseApi":{"id":"jYr9UcuCbwO8Um80","name":"SB Cairnly (n8n cred)"}}}],"connections":{"Webhook":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Cover Letter","type":"main","index":0}]]},"Cover Letter":{"main":[[{"node":"Parse Output","type":"main","index":0}]]},"Anthropic Sonnet (Cover)":{"ai_languageModel":[[{"node":"Cover Letter","type":"ai_languageModel","index":0}]]},"Parse Output":{"main":[[{"node":"If Parse OK","type":"main","index":0}]]},"If Parse OK":{"main":[[{"node":"Update cover_letters (success)","type":"main","index":0}],[{"node":"Update cover_letters (failed)","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Sjoerd Geurts","name":"Version 33a7db3d","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-06-05T18:35:00.452Z","id":1255,"workflowId":"M9w7xWeiPNmU7ZFb","versionId":"33a7db3d-7378-454d-ac0b-dd36cf008275","event":"activated","userId":"b5ff5e90-67ed-4097-a0e3-9d5c1275ac0b"}]}}